<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>Givex Recipeint Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
      @font-face {
        font-family: 'times_new_roman_cyrregular';
        font-style: normal;
        font-weight: 400;
        src:url('https://bitbucket.org/TSTechsembly/jscss/raw/ac6ce1f3ed7d1c2a474784ede4dcf4ae016bc791/rosewood/fonts/times-new-roman/new/TimesNewRomanPSMT.ttf') format('ttf'), url('https://bitbucket.org/TSTechsembly/jscss/raw/ac6ce1f3ed7d1c2a474784ede4dcf4ae016bc791/rosewood/fonts/times-new-roman/new/TimesNewRomanPSMT.woff') format('woff');
      }
    </style>
    <style media="screen" type="text/css">
      #outlook a {
        padding:0;
      }
      .es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
      }
      a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
      }
      [data-ogsb] .es-button {
        border-width:0!important;
        padding:10px 20px 10px 20px!important;
      }
      body {
        background-color:  #E5E5E5;
        color: #000000;
        font-family: 'times_new_roman_cyrregular';
        /*font-family: 'helvetica', sans-serif;*/
        font-size: 0.875rem;
        line-height: 1rem;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        padding: 0;
        margin: 0;
      }
      img {
        max-width: 100%;
      }

    </style>
  </head>
  <body>
    <table class="main-table" width="800" cellspacing="0" cellpadding="0" align="center" style="background-color: #FFFFFF; margin: 0 auto; max-width: 800px;min-width: 800px;padding: 10px 1.125rem 1.875rem;">
      <thead>
        <tr>
          <th width="576"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="576">
            <table align="center" cellspacing="0" cellpadding="33">
              <tr>
                <td>
                  <a href="{{store_url}}" target="_blank">
                    <img src="https://static.techsembly.com/63enAE8pgwLKAXpXsNLcf2EH" class="email-logo" width="165"/>
                  </a>
                </td>
              </tr>
            </table>
            <table align="center" cellspacing="0" cellpadding="5">
              <tr>
                <td>
                  <img align="center" class="banner-img" alt="gift card" src="https://static.techsembly.com/5Ds291N6J21QM7zhJFLM7M1z" width="580">
                </td>
              </tr>
            </table>
            <table class="msg-wrapper" width="555" align="center" style="margin: 0 auto;" cellpadding="15" cellspacing="0">
              <tr>
                <td align="left">
                  <p style="font-weight: 400;font-size: 16px;line-height: 22px;letter-spacing: 1.28px;color: #03202F;font-family: 'times_new_roman_cyrregular';margin: 0 0 25px;">
                    Dear {{receipient_first_name}} {{receipient_last_name}},
                  </p>

                  <p style="margin: 0 0 25px;font-family: 'times_new_roman_cyrregular';font-style: normal;padding: 0;font-weight: 400;font-size: 16px;
                    line-height: 22px;letter-spacing: 1.28px;color: #03202F;">
                    {{#if sender_name}}
                           {{sender_name}} has sent you a gift from Hôtel de Crillon.
                         {{else}}
                            {{from_name_first_name}} {{from_name_last_name}} has sent you a gift from Hôtel de Crillon.
                         {{/if}}
                  </p>
                  <p style="font-family: 'times_new_roman_cyrregular';font-style: normal;font-weight: 400;font-size: 16px;line-height: 22px;
                    letter-spacing: 1.28px;color: #03202F; margin:0 0 25px;">This gift invites you to take a journey with Rosewood, presenting you an opportunity to discover extraordinary experiences.
                  </p>

                  <p style="font-family: 'times_new_roman_cyrregular';font-style: normal;font-weight: 400;font-size: 16px;line-height: 22px;
                  letter-spacing: 1.28px;color: #03202F;margin: 0 0 25px;">Countless adventures await...
                  </p>

                  <table align="center" cellspacing="0" cellpadding="0" style="padding: 25px 0 0px;font-family: 'times_new_roman_cyrregular';font-style: normal;
                    font-weight: 400;font-size: 16px;line-height: 22px;letter-spacing: 1.28px;color: #3C3C3C;border-top:  0.5px solid #595959;">
                    <tr>
                      <td>
                        <p style="margin: 0;font-family: 'times_new_roman_cyrregular';font-style: normal;margin-bottom:15px;
                          font-weight: 700;font-size: 16px;line-height: 22px;letter-spacing: 1.28px;color: #3C3C3C;">
                          Details:
                        </p>
                        <p style="margin: 0;font-family: 'times_new_roman_cyrregular';font-style: normal;margin-bottom:28px;
                          font-weight: 400;font-size: 16px;line-height: 22px;letter-spacing: 1.28px;color: #3C3C3C;">
                          Your Gift can be redeemed by quoting the unique Gift Card code and PIN number at the time of the booking and presenting this email on arrival.
                        </p>
                        <p style="font-family: 'times_new_roman_cyrregular';font-style: normal;margin-bottom:15px;margin-top: 0; font-weight: 700;
                          font-size: 16px;line-height: 22px;letter-spacing: 1.28px;color: #3C3C3C;">{{ @product_title }}:
                          <span style="font-family: 'times_new_roman_cyrregular';font-style: normal;margin-bottom:30px;font-weight: 400;
                          font-size: 16px;line-height: 22px;letter-spacing: 1.28px;color: #3C3C3C;">EUR€ {{balance}}</span>
                        </p>
                        <p style="margin: 0;font-family: 'times_new_roman_cyrregular';font-style: normal;padding: 0;font-weight: 400;font-size: 16px;
                          line-height: 22px;letter-spacing: 1.28px;color: #3C3C3C;">1) Gift Card code: {{givx_number}}</p>
                        <p style="margin: 0;font-family: 'times_new_roman_cyrregular';font-style: normal;margin-bottom:25px;font-weight: 400;
                          font-size: 16px;line-height: 22px;letter-spacing: 1.28px;color: #3C3C3C;">2) PIN number: {{givex_pin}}</p>
                        <!-- bordered table -->
                        {{#if gift_message}}
                        <p style="margin: 0;font-family: 'times_new_roman_cyrregular';font-style: normal;margin-bottom:15px;font-weight: 700;
                          font-size: 16px;line-height: 22px;letter-spacing: 1.28px;color: #3C3C3C;">Message:</p>
                        <p style="margin: 0;font-family: 'times_new_roman_cyrregular';margin-bottom:5px;font-weight: 400;
                          font-size: 18px;line-height: 28px;letter-spacing: 1.28px;color: #3C3C3C;"><em>{{gift_message}}</em></p>
                        {{/if}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
              <!-- bordered table -->
            <table width="518" align="center" cellpadding="0" style="margin-top: 10px; border-top: 0.5px solid #595959;">
              <tr>
                <td></td>
              </tr>
            </table>

            <!-- help section -->
            <table class="content-bottom" width="510" cellspacing="0" cellpadding="20" align="center" style="margin: 0 auto">
              <tr>
                <td><h1 style="font-weight: 400; font-family: 'times_new_roman_cyrregular'; font-size: 21px; line-height: 24px;
                  text-align: center; letter-spacing: 1.28px; color: #03202F; margin: 0 0 5px;">Need Help?</h1></td>
              </tr>
            </table>
            <table class="content-bottom" width="510" cellspacing="0" cellpadding="0" align="center" style="margin: 0 auto">
              <tr>
                <td>
                  <p class="mt-25 desc" style="font-family: 'times_new_roman_cyrregular'; font-weight: 400; font-size: 14px;
                  line-height: 18px; text-align: center; letter-spacing: 1.15px; max-width: 30rem; margin: 0 auto 0; color: #3C3C3C;">
                    If you have any questions or require any assistance on<br>Rosewood Hotels & Resorts® Gift Cards, please email us
                    <br>at
                    <a href="mailto:rosewood@techsembly.com" style="color: #3C3C3C;text-decoration: underline;"><u>rosewood@techsembly.com</u></a> or call us at
                    <a ses:no-track href="tel:+448000488077" style="text-decoration: none; color: #3C3C3C;">+44 800 048 8077</a>.
                  </p>
                </td>
              </tr>
            </table>

            <!-- booking table -->
            <table width="510" class="mt-25 contact" cellspacing="0" cellpadding="50" align="center" style="margin: 0 auto">
              <tr>
                  <td width="50%" align="center">
                      <a href="https://www.rosewoodhotels.com/" target="_blank" style="font-family: 'Montserrat'; color: #0B182E;
                      font-weight: 700;font-size: 0.875rem;line-height: 0.75rem;text-decoration: none;
                      text-align: center;letter-spacing: 1.28px;">
                        <img alt="book-online" width="40" src="https://static.techsembly.com/FyaC2dJLitxnbQHfx4iaX2x3">
                        <p style="margin-top: 10px; margin-bottom: 0">BOOK ONLINE</p>
                      </a>
                  </td>
                  <td width="50%" align="center">
                      <a ses:no-track href="tel:+442077818888" style="font-family: 'Montserrat'; color: #0B182E;font-weight: 700;font-size: 0.875rem;
                      line-height: 0.75rem;text-align: center;text-decoration: none;
                      letter-spacing: 1.28px;">
                          <img alt="phone" width="40" src="https://static.techsembly.com/iuUYciGZCqfTiPHzWi6X1Ug2">
                          <p style="margin-top: 10px;margin-bottom: 0;">+44 20 7781 8888</p>
                      </a>
                  </td>
              </tr>
            </table>

            <table class="content-bottom" width="530" cellspacing="0" cellpadding="0" align="center" style="margin: 0 auto">
              <tr>
                <td style="font-family: 'times_new_roman_cyrregular'; font-weight: 400; font-size: 0.875rem;
                line-height: 1.125rem; text-align: center; letter-spacing: 1.15px; max-width: 30rem; margin: 0 auto 0; color: #3C3C3C;">
                  <p style="font-family: 'times_new_roman_cyrregular'; font-weight: 400; font-size: 0.875rem;
                  line-height: 1.125rem; text-align: center; letter-spacing: 1.15px; max-width: 30rem; margin: 0 auto 17px; color: #3C3C3C;" class="desc">Book on
                  <a target="_blank" href="https://www.rosewoodhotels.com/" style="color: #3C3C3C;text-decoration: underline;"><u>rosewoodhotels.com</u></a>, contact your travel concierge or call<br>
                    <a ses:no-track href="tel:+448000488077" style="color: #3C3C3C; text-decoration: underline;"><u>toll-free reservations</u></a>
                  </p>
                  <p style="font-family: 'times_new_roman_cyrregular'; font-weight: 400; font-size: 0.875rem;
                  line-height: 1.125rem; text-align: center; letter-spacing: 1.15px; max-width: 500px; margin: 0 auto 24px; color: #3C3C3C;" class="desc">
                    Items in your order may ship separately. You will receive a dispatch confirmation for each shipment once it has been sent.
                  </p>
                </td>
              </tr>
            </table>
              <!-- footer section -->
            <table cellspacing="0" cellpadding="0" align="center" border="0">
              <tr>
                <td style="padding:20px 0 4px;">
                  <table width="120" class="footer" border="0" align="center" cellspacing="0" cellpadding="10"
                    style="background: #fff;">
                    <tbody>
                      <tr>
                        <td align="center" style="padding-right: 0px;">
                          <a style="text-decoration: none;border-bottom: none; display: inline-block; line-height: 0;"
                            href="https://www.facebook.com/hoteldecrillon" target="__blank">
                            <img width="32" alt="facebook" src="https://static.techsembly.com/3o8bkEB3wVbUxkuN6fTi988p">
                          </a>
                        </td>
                        <td align="center" style="padding-left: 0px;">
                          <a style="text-decoration: none;border-bottom: none;display: inline-block; line-height: 0;"
                            href="https://www.instagram.com/rosewoodhoteldecrillon" target="_blank">
                            <img width="32" alt="instagram" src="https://static.techsembly.com/uXM7a3X7oGVsbBxAJozE7FNF">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>

            <table width="700" class="footer-bottom" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr class="footer-bottom">
                <td>
                  <p style="font-family: 'times_new_roman_cyrregular';max-width: 576px;font-size: 12px;font-weight: 400;line-height: 14px;
                  letter-spacing: 0.8px;color: #3c3c3c;margin: 0 auto;padding-bottom: 5px;text-align: center;">This is a system generated message. Please do not reply.</p>
                </td>
              </tr>
            </table>
            <table class="privacy" width="700" border="0" cellspacing="0" cellpadding="16" align="center">
              <tr class="">
                <td align="center" valign="center">
                  <p style="color: #3C3C3C; font-size: 12px;line-height: 18px;color: #3C3C3C;font-family: 'times_new_roman_cyrregular'; text-align: center;margin-top: 0">Powered by
                  <a target="_blank" style="color: 3C3C3C; font-size: 12px;line-height: 18px;color: #3C3C3C;font-family: 'times_new_roman_cyrregular'; text-align: center;
                    text-decoration-line: none;" href="https://www.techsembly.com" target="_blank"> Techsembly</a></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
