@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('ACaslonPro-Semibold.eot');
    src: url('ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('ACaslonPro-Semibold.woff2') format('woff2'),
        url('ACaslonPro-Semibold.woff') format('woff'),
        url('ACaslonPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('ACaslonPro-Regular.eot');
    src: url('ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('ACaslonPro-Regular.woff2') format('woff2'),
        url('ACaslonPro-Regular.woff') format('woff'),
        url('ACaslonPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('ACaslonPro-Bold.eot');
    src: url('ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('ACaslonPro-Bold.woff2') format('woff2'),
        url('ACaslonPro-Bold.woff') format('woff'),
        url('ACaslonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('ACaslonPro-SemiboldItalic.eot');
    src: url('ACaslonPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('ACaslonPro-SemiboldItalic.woff2') format('woff2'),
        url('ACaslonPro-SemiboldItalic.woff') format('woff'),
        url('ACaslonPro-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('ACaslonPro-BoldItalic.eot');
    src: url('ACaslonPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ACaslonPro-BoldItalic.woff2') format('woff2'),
        url('ACaslonPro-BoldItalic.woff') format('woff'),
        url('ACaslonPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('ACaslonPro-Italic.eot');
    src: url('ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('ACaslonPro-Italic.woff2') format('woff2'),
        url('ACaslonPro-Italic.woff') format('woff'),
        url('ACaslonPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

