<div class="col-12 d-flex flex-wrap align-items-center corp-gifts-cont">
  <div class="col-12 col-md-6 px-0 pr-md-4 corp-gifts-left">
    <div class="corp-gifts-inner w-100 pr-md-1 text-center">
      <img src="https://static.techsembly.com/iamBAwT8xiCcDLAjT9tutDhT" alt="Corporate Gifting Rosewood Hotels and Resorts" width="580" class="w-100">
    </div>
  </div>
  <div class="col-12 col-md-6 px-0 px-md-4 pt-4 pt-md-0 corp-gifts-right">
    <div class="corp-gifts-inner w-100 pl-md-1 text-center text-md-left">
      <h2 class="corp-heading text-uppercase mb-3">Corporate Gifts</h2>
      <div class="pt-1 pr-md-2 mr-md-1">
        <p>
          Show appreciation for colleagues and clients in the finest way possible. Contact us at <a href="tel:+18882258452">+1 888 225 8452</a> or email <a href="mailto:rosewood@techsembly.com">rosewood@techsembly.com</a> to learn more about our Corporate Gift Card options.
        </p>
      </div>
    </div>
  </div>
</div>
