<div class="col-12 home-point-cont text-center pt-5 pb-3">
  <div class="col-12 pt-5">
    <h2 class="point-head mt-1 mb-0">THE ULTIMATE GIFT CARD</h2>
  </div>
  <div class="col-12 point-desc-cont pt-4 pb-2">
   <div class="point-desc-cont-inner py-3 my-1">
     <p style="color: #595959;">From unforgettable stays to unique dining and wellbeing journeys <br>– let your loved ones curate their own experience at our collection of luxury hotels worldwide.</p>
   </div>
  </div>
  <div class="col-12 px-0">
    <a href="/gbp/gift-card-030137" class="img-link"><img src="https://static.techsembly.com/CUtfEhEW4tU7C6SUmdTnqhE3" width="865"  class="" alt="img"/></a>
    <div class="col-12 pt-4">
      <a href="/gbp/gift-card-030137" class="btn btn-primary shop-link mt-0">SHOP NOW</a>
    </div>
  </div>
</div>
<!--<div class="col-12 home-top-desc text-center py-4 py-lg-5">
  From unforgettable stays at our collection of luxury hotels around the world to bespoke culinary and wellbeing journeys, let your loved ones curate their own experience with a Rosewood Hotels & Resorts® gift card.
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-wrap">
  <div class="col-12 col-lg-6 text-center home-point-left px-0 px-lg-3">
    <a href="/gbp/gift-card-030137" class="img-link">
      <img src="https://static.techsembly.com/pcr9niprUh289ukTajHh1L29" width="580" class="w-100" alt="img"/>
    </a>
  </div>
  <div class="col-12 col-lg-6 home-point-right px-0 pr-lg-3 pl-lg-4">
   <div class="col-12 ml-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h2 class="point-head">THE ULTIMATE<br>GIFT CARD</h2>
      <p>From unforgettable stays to unique dining and wellbeing journeys – let your loved ones curate their own experiences at our collection of luxury hotels worldwide.</p>
      <a href="/gbp/gift-card-030137" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
</div>-->

<div class="col-12 home-point-cont text-center py-4 py-lg-5 my-1 my-lg-4">
  <h2 class="point-head mb-0">DISCOVER EXPERIENCES</h2>
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-wrap flex-column-reverse flex-lg-row">
  <div class="col-12 col-lg-6 home-point-left px-0 px-lg-4">
   <div class="col-12 mx-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">Rosewood Castiglion del Bosco</h6>
      <h2 class="point-head text-uppercase mb-2">A Spectacular<br>Tuscan Adventure</h2>
      <p style="color: #595959;">Unearth the unique charm of Tuscany with a three-night suite stay for two at Rosewood Castiglion del Bosco. Guests will cultivate their inner epicureans with Brunello di Montalcino wine-tasting and truffle-hunting, as well as a tour exploring the region’s cinematic history.</p>
      <a href="/gbp/a-spectacular-tuscan-adventure-031066" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
  <div class="col-12 col-lg-6 text-center home-point-right px-0 px-lg-3">
    <a href="/gbp/a-spectacular-tuscan-adventure-031066" class="img-link">
      <img src="https://static.techsembly.com/DPbwGB9BQKrcmUfS5yQzmAcC" width="580" class="w-100" alt="Unforgettable Tuscan Adventure - Rosewood Castiglion del Bosco"/>
    </a>
  </div>
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-wrap pt-lg-4 mt-lg-3">
  <div class="col-12 col-lg-6 text-center home-point-left px-0 px-lg-3">
    <a href="/gbp/a-showstopping-broadway-experience-031062" class="img-link">
      <img src="https://static.techsembly.com/DGaBLqymxGmJZEBo3vW1AfhL" width="580" class="w-100" alt="Ultimate Broadway Musical Experience - The Carlyle, A Rosewood Hotel"/>
    </a>
  </div>
  <div class="col-12 col-lg-6 home-point-right px-0 pr-lg-3 pl-lg-4">
   <div class="col-12 ml-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">The Carlyle, A Rosewood Hotel</h6>
      <h2 class="point-head text-uppercase mb-2">A Showstopping<br> Broadway Experience</h2>
      <p style="color: #595959;">See the finer side of New York with this quintessential city break, which features a two-night stay for two in a Central Park Suite at The Carlyle, A Rosewood Hotel, dinner at Dowling’s at The Carlyle, and VIP tickets to a top Broadway musical, including an exclusive backstage tour.</p>
      <a href="/gbp/a-showstopping-broadway-experience-031062" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
</div>


<div class="col-12 home-point-cont d-flex align-items-center flex-column-reverse flex-lg-row flex-wrap pt-lg-4 mt-lg-3">
  <div class="col-12 col-lg-6 home-point-left px-0 px-lg-4">
   <div class="col-12 mx-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">Rosewood Phuket</h6>
      <h2 class="point-head text-uppercase mb-2">An Alluring<br>Island Escape</h2>
      <p style="color: #595959;">Traditional Thai hospitality meets indulgent luxury at Rosewood Phuket in this three-night island stay, with accommodation for up to four guests in a spacious two-bedroom Beach House. Master the basics of Thai cuisine in a cooking class, make special memories at an elephant sanctuary, and much more.</p>
      <a href="/gbp/an-alluring-island-escape-031058" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
  <div class="col-12 col-lg-6 text-center home-point-right px-0 px-lg-3">
    <a href="/gbp/an-alluring-island-escape-031058" class="img-link">
      <img src="https://static.techsembly.com/XkgGAEYjM8yNeZTHRGquLFot" width="580" class="w-100" alt="Island Escape - Rosewood Phuket"/>
    </a>
  </div>
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-wrap pt-lg-4 mt-lg-3">
  <div class="col-12 col-lg-6 text-center home-point-left px-0 px-lg-3">
    <a href="/gbp/an-exquisite-taste-of-edomae-031054" class="img-link">
      <img src="https://static.techsembly.com/8vPbxeGcZYvChZp2j5WQYwfM" width="580" class="w-100" alt="The Omakase Experience - Rosewood Miramar Beach"/>
    </a>
  </div>
  <div class="col-12 col-lg-6 home-point-right px-0 pr-lg-3 pl-lg-4">
   <div class="col-12 ml-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">Rosewood Miramar Beach</h6>
      <h2 class="point-head text-uppercase mb-2">An Exquisite Taste <br>of Edomae</h2>
      <p style="color: #595959;">Sample Japanese Edomae cuisine at its most sublime with an intimate omakase dinner for two at Rosewood Miramar Beach’s AMA Sushi restaurant. Relax on a one-night stay in a spacious beachfront guest room, before waking up to a restorative breakfast at The Revere Room.</p>
      <a href="/gbp/an-exquisite-taste-of-edomae-031054" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-column-reverse flex-lg-row flex-wrap py-lg-4 my-lg-3">
  <div class="col-12 col-lg-6 home-point-left px-0 px-lg-4">
   <div class="col-12 mx-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">Rosewood London</h6>
      <h2 class="point-head text-uppercase mb-2">THE DR. BARBARA <br>STURm EXPERIENCE</h2>
      <p style="color: #595959;">Perfect for kick-starting the new year with a new you, indulge in a private appointment with Dr. Barbara Sturm at her London clinic, followed by a luxurious two-night stay in a Grand Premier Suite with hotel credit to enjoy on dining and spa experiences.</p>
      <a href="/gbp/the-dr-barbara-sturm-experience-031185" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
  <div class="col-12 col-lg-6 text-center home-point-right px-0 px-lg-3">
    <a href="/gbp/the-dr-barbara-sturm-experience-031185" class="img-link">
      <img src="https://static.techsembly.com/cuR2at3GuL5DtuookbAiMhpY" width="580" class="w-100" alt="Island Escape - Rosewood Phuket"/>
    </a>
  </div>
</div>
