<div class="col-12 home-top-desc text-center py-4 py-lg-5">
  From unforgettable stays to one-of-a-kind experiences at our collection of luxury hotels around the world, let your loved ones choose their own adventure this festive season with a Rosewood Hotels & Resorts gift card.
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-wrap">
  <div class="col-12 col-lg-6 text-center home-point-left px-0 px-lg-3">
   <img src="https://static.techsembly.com/8VyywttVmKRJyyZEMZQiC7gD" width="580" class="w-100" alt="img"/>
  </div>
  <div class="col-12 col-lg-6 home-point-right px-0 pr-lg-3 pl-lg-4">
   <div class="col-12 ml-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h2 class="point-head">THE ULTIMATE<br>GIFT CARD</h2>
      <p>From unforgettable stays in some of the most exciting destinations in the world to bespoke culinary and wellbeing journeys, surprise your loved one with a Rosewood Hotels & Resorts gift card this festive season and let them curate their own experience.</p>
      <a href="/gift-card-030113" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
</div>

<div class="col-12 home-point-cont text-center py-4 py-lg-5 my-1 my-lg-4">
  <h2 class="point-head mb-0">DISCOVER EXPERIENCES</h2>
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-wrap flex-column-reverse flex-lg-row">
  <div class="col-12 col-lg-6 home-point-left px-0 px-lg-4">
   <div class="col-12 mx-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">Rosewood Castiglion del Bosco</h6>
      <h2 class="point-head text-uppercase mb-2">Unforgettable<br> Tuscan Adventure</h2>
      <p style="color: #595959;">Discover the magic of Tuscany with a three-night suite stay for two, a Brunello wine tasting, a truffle-hunting expedition, and a tour exploring the region’s cinematic history, alongside an array of wellness and dining experiences of your choosing.</p>
      <a href="/unforgettable-tuscan-adventure-030930" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
  <div class="col-12 col-lg-6 text-center home-point-right px-0 px-lg-3">
   <img src="https://static.techsembly.com/CpVcPcExEtC5jpj3qxXZUHtQ" width="580" class="w-100" alt="Unforgettable Tuscan Adventure - Rosewood Castiglion del Bosco"/>
  </div>
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-wrap pt-lg-4 mt-lg-3">
  <div class="col-12 col-lg-6 text-center home-point-left px-0 px-lg-3">
   <img src="https://static.techsembly.com/hrPTGgf87QUGykg6YWVUQ5n5" width="580" class="w-100" alt="Ultimate Broadway Musical Experience - The Carlyle, A Rosewood Hotel"/>
  </div>
  <div class="col-12 col-lg-6 home-point-right px-0 pr-lg-3 pl-lg-4">
   <div class="col-12 ml-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">Rosewood Castiglion del Bosco</h6>
      <h2 class="point-head text-uppercase mb-2">Ultimate Broadway<br> Musical Experience</h2>
      <p style="color: #595959;">New York is the star of the show in this quintessential city experience, which features a two-night stay for two in a Central Park Suite, dinner at Dowling’s at The Carlyle, and VIP tickets to a top Broadway musical including an exclusive backstage tour.</p>
      <a href="/ultimate-broadway-musical-experience-030931" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
</div>


<div class="col-12 home-point-cont d-flex align-items-center flex-column-reverse flex-lg-row flex-wrap pt-lg-4 mt-lg-3">
  <div class="col-12 col-lg-6 home-point-left px-0 px-lg-4">
   <div class="col-12 mx-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">Rosewood Phuket</h6>
      <h2 class="point-head text-uppercase mb-2">Island Escape</h2>
      <p style="color: #595959;">Traditional Thai hospitality meets indulgent luxury in this incredible three-night experience, with accommodation for up to four guests in an 8,600-square-foot, two-bedroom Beach House, Thai cooking class, Elephant Sanctuary visit, and much more.</p>
      <a href="/island-escape-030932" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
  <div class="col-12 col-lg-6 text-center home-point-right px-0 px-lg-3">
   <img src="https://static.techsembly.com/SgFVM4Yq1THBWxEGZNamNLMx" width="580" class="w-100" alt="Island Escape - Rosewood Phuket"/>
  </div>
</div>

<div class="col-12 home-point-cont d-flex align-items-center flex-wrap py-lg-4 my-lg-3">
  <div class="col-12 col-lg-6 text-center home-point-left px-0 px-lg-3">
   <img src="https://static.techsembly.com/LHwjRQ4nJbd9MgdE13vvb7Hy" width="580" class="w-100" alt="The Omakase Experience - Rosewood Miramar Beach"/>
  </div>
  <div class="col-12 col-lg-6 home-point-right px-0 pr-lg-3 pl-lg-4">
   <div class="col-12 ml-lg-1 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner">
      <h6 class="point-top-head text-uppercase">Rosewood Miramar Beach</h6>
      <h2 class="point-head text-uppercase mb-2">The Omakase<br> Experience</h2>
      <p style="color: #595959;">Experience Edomae cuisine at its most sublime with an intimate omakase dinner for two at our acclaimed AMA Sushi restaurant, plus a one-night stay in a spacious Beach House King room with breakfast at The Revere Room.</p>
      <a href="/the-omakase-experience-030929" class="btn btn-primary shop-link">SHOP NOW</a>
    </div>
   </div>
  </div>
</div>
