:root {
  --primary-font: 'GothamBook';
  --primary-font-light: 'GothamLight';
  --primary-font-medium: 'GothamMedium';
  --primary-font-600: 'GothamBlack';
  --primary-font-bold: 'GothamBold';
  --primary-font-ultra: 'GothamUltra';
  --secondary-font: 'Adobe-Caslon-Pro-regular';
  --secondary-font-semibold: 'Adobe-Caslon-Pro-semibold';
  --secondary-font-bold: 'Adobe-Caslon-Pro-bold';
  --secondary-font-Italic: 'Adobe-Caslon-Pro-Italic';
  --secondary-font-SemiboldItalic: 'Adobe-Caslon-Pro-SemiboldItalic';
  --secondary-font-BoldItalic: 'Adobe-Caslon-Pro-BoldItalic';
  --body-bg: #ffffff;
  --primary-bg-color: #03202F;
  --secondary-bg-color: #F7F2EB;
  --color-light: #808080;
  --text-color-light: #595959;
  --color-dark: #000000;
  --color-white: #FFFFFF;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--body-bg);
  /*color: var(--color-light);*/
  font-family: var(--primary-font);
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
  font-family: var(--secondary-font);
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--primary-bg-color);
}

.gap-12 {
  gap: 12px;
}

::selection {
  color: white;
  background: var(--primary-bg-color);
}
.notificationbar{
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
  padding: 13.5px 0 12.5px 0 !important;
}
.notificationbar,
.notificationbar a{
  font-family: var(--primary-font) !important;
  font-weight: 325;
  font-size: 12px !important;
  line-height: 14px;
  letter-spacing: 0.8px;
  color: #000000 !important;
}
.notificationbar a{
  text-decoration: none;
}
.notificationbar a:hover{
  text-decoration: underline;
}
.notificationbar .cross-cont{
  position: absolute;
  top: 13px;
  right: 29px;
  cursor: pointer;
}
.app-header {
  background-color: var(--primary-bg-color);
}

header.header {
  border-bottom: none;
  margin-bottom: 0;
}

header .row.spacing {
  align-items: flex-start;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

header.header .logo img {
  width: 280px;
  height: auto;
}

header.header .head-links li .cart-qty {
  background-color: transparent;
  top: 2px;
  right: 5.5px;
  font-family: var(--primary-font);
  font-weight: 350;
  line-height: 19px;
  font-size: 8px;
}
header.header .head-links li .add-to-basket .dropdown-menu{
  top: -8px !important;
  right: 21px !important;
}
header.header .head-links li .add-to-basket .dropdown-menu:after {
  right: 12px;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details,
header.header .mob-top-links li .add-to-basket .dropdown-menu .checkout-details {
  margin-top: 20px;
}

header.header .shipping,
header.header .shipping .pref_dropdown a {
  color: var(--color-white);
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.8px;
}

header.header .shipping .pref_dropdown a {
  font-weight: 350;
  line-height: 13px;
  margin-left: 2px;
  font-family: var(--primary-font);
}

header.header .shipping li a.dropdown-toggle,
header .mob-top-links .dropdown-flag a.dropdown-toggle {
  pointer-events: none;
  font-weight: 350;
  font-family: var(--primary-font-medium);
}

header.header .shipping li a.dropdown-toggle:after {
      background-image: url(https://static.techsembly.com/YaiP9HQ4jzqSDNKnMyS2qeHe);
      background-size: 0.5625rem;
      border: none;
      width: 0.5625rem;
      height: 0.3125rem;
}

header.header .shipping li:first-child {
  display: none;
}
header.header .shipping li,
header.header .shipping li a {
  font-family: var(--primary-font-medium);
  font-weight: 350;
}

.head-links .nav-item img[alt="user-profile"] {
  max-width: 1rem;
  height: auto;
}

.head-links .nav-item img[alt="wishlist"] {
  max-width: 1.125rem;
  height: auto;
}

.head-links .nav-item img[alt="cart"] {
  max-width: 1.25rem;
  height: auto;
}

header.header .head-links li .add-to-basket .dropdown-menu {
  padding: 1.384rem 1.408rem 1.636rem 1.636rem;
  width: 16.25rem;
  max-width: 259px;
  border-radius: 2.8455px !important;
}

header.header .head-links li .add-to-basket .dropdown-menu h4,
header .mob-top-links .add-to-basket .dropdown-menu h4 {
  font-family: var(--primary-font-medium);
  font-weight: 350;
  font-size: 0.625rem;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
}

header.header .head-links li a {
  padding: 0 0.5rem;
}

header.header .head-links li:last-child a {
  padding-right: 0;
}

header.header .head-links li .add-to-basket .dropdown-menu h5,
header.header .head-links li .add-to-basket .dropdown-menu .checkout-description .checkout-price,
header.header .head-links li .add-to-basket .dropdown-menu .checkout-description .checkout-price p,
header .mob-top-links .add-to-basket .dropdown-menu h5,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price {
  font-family: var(--primary-font);
  font-weight: 325;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.8px;
  color: #000000;
}

header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
  height: auto;
  min-height: 0;
}


header .mob-top-links .add-to-basket .dropdown-menu .checkout-price p {
  margin-bottom: 0.5rem;
  font-family: var(--primary-font);
  font-size: 11px;
  line-height: 13px;
  color: var(--color-dark);
}

header.header .head-links li .add-to-basket .dropdown-menu .checkout-details .checkout-img {
  margin-right: 13px !important;
  min-width: 84px;
  flex-basis: 84px;
  max-height: 99px;
}

header.header .head-links li .add-to-basket .dropdown-menu .checkout-img img {
  width: 84px;
  max-height: 84px;
  height: 100%;
}

header.header .head-links li .add-to-basket .dropdown-menu .btn.btn-primary,
header.header .mob-top-links li .add-to-basket .dropdown-menu .btn.btn-primary {
  margin-top: 1.625rem;
  padding: 1rem 24px;
  font-family: var(--primary-font-bold);
  font-weight: 700;
  font-size: 11px;
  line-height: 1rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  max-height: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.header .menu-holder li {
  margin: 0 18px !important;
}
header.header .menu-holder li a {
  font-weight: 325;
  font-size: 0.625rem;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--color-white);
  background-color: transparent;
  border-bottom-width: 0;
  padding: 1.1336rem 0;
}

header.header .menu-holder>li {
  margin-right: 4.813rem;
}

header.header .menu-holder>li:hover>a {
  border-bottom-width: 0;
}

.empty {
  display: none !important;
}

header.header .shipping li:nth-child(2) {
  display: none;
}

header.header .search .search-item-form .input-group {
  justify-content: end;
}

header.header .search .search-item-form button {
  padding-top: 0;
}

header.header .search .search-item-form .btn-search img {
  max-width: 17px;
}

header.header .search .search-item-form .nav-search-field {
  font-family: var(--primary-font);
  font-size: 9px;
  letter-spacing: 0.8px;
  font-weight: 325;
  color: var(--color-white);
  background-color: transparent;
  max-width: 8.563rem;
  border-bottom: 0.3px solid #FDFAF6;
  height: 1.5rem;
}

.nav-search-field::placeholder {
  font-size: 0;
}

header.header .menu-holder .nav-column {
  padding-top: 1.875rem;
}

header.header .menu-holder .nav-column:first-child h3 {
  display: none;
}

header.header .menu-holder .nav-column:not(:first-child) ul li a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.8px;
  color: #022741;
}

header.header .menu-holder .nav-column:not(:first-child) {
  padding-left: 1.65rem;
}

header.header .menu-holder .nav-column:first-child {
  padding-left: 1.813rem;
}

header.header .menu-holder .nav-column.nav-image {
  padding-left: 0;
  padding-bottom: 1.875rem;
  padding-right: 1.813rem;
}

header.header .menu-holder .nav-column:first-child ul li a {
  font-family: var(--secondary-font-bold);
  font-weight: 700;
  font-size: 11px;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  color: var(--color-dark);
  text-transform: uppercase;
}

header.header .menu-holder .nav-column h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.8px;
  color: #022741;
  text-transform: none;
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

}

@media (min-width: 768px) {

}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
  header.header .shipping {
    padding-top: 2rem;
  }
  header.header .logo {
    padding-top: 1.375rem;
    padding-bottom: 1.3125rem;
  }
  header.header .head-links {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem !important;
  }
  header.header .search .search-item-form button {
    padding-right: 0;
  }
}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}
