@font-face {
    font-family: 'Bodoni MT Regular';
    src: url('BodoniMT.eot');
    src: url('BodoniMT.eot?#iefix') format('embedded-opentype'),
        url('BodoniMT.woff2') format('woff2'),
        url('BodoniMT.woff') format('woff'),
        url('BodoniMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni MT Bold';
    src: url('BodoniMT-Bold.eot');
    src: url('BodoniMT-Bold.eot?#iefix') format('embedded-opentype'),
        url('BodoniMT-Bold.woff2') format('woff2'),
        url('BodoniMT-Bold.woff') format('woff'),
        url('BodoniMT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni MT BoldItalic';
    src: url('BodoniMT-BoldItalic.eot');
    src: url('BodoniMT-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BodoniMT-BoldItalic.woff2') format('woff2'),
        url('BodoniMT-BoldItalic.woff') format('woff'),
        url('BodoniMT-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bodoni MT Italic';
    src: url('BodoniMT-Italic.eot');
    src: url('BodoniMT-Italic.eot?#iefix') format('embedded-opentype'),
        url('BodoniMT-Italic.woff2') format('woff2'),
        url('BodoniMT-Italic.woff') format('woff'),
        url('BodoniMT-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bodoni MT';
    src: url('BodoniMT_1.eot');
    src: url('BodoniMT_1.eot?#iefix') format('embedded-opentype'),
        url('BodoniMT_1.woff2') format('woff2'),
        url('BodoniMT_1.woff') format('woff'),
        url('BodoniMT_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
