:root{
 --primary-font: 'Montserrat', sans-serif;
 --secondary-font: 'Montserrat', sans-serif;
 --third-font: 'theano_didotregular';
 --forth-font: 'Abel';
 --fog-color: #DBD9D9;
 --graphite: #000000;
}
html {
   overflow-x: hidden;
}
body {
  color: #6D6D6D;
  font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: var(--secondary-font);
}
a,
a:hover,
a:focus  {
  color: #000000;
  font-family: var(--primary-font);
  text-decoration: none;
}
p {
  color: #6D6D6D;
  font-family: var(--primary-font);
}
.modal-popup.alert-popup .btns-cont .btn.btn-primary:hover,
.modal-popup.alert-popup .btns-cont .btn.btn-primary:focus {
  background-color: var(--primary-bg-color);
}
header.header {
  border-bottom: none;
  margin-bottom: 0;
}
header .spacing {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
header.header .shipping li {
  color: #000;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0625rem;
  letter-spacing: 0.01em;
}
header.header .shipping li img {
  margin-top: 0;
}
header.header .shipping li a.dropdown-toggle:after {
  display: none;
}
header.header .shipping li a.dropdown-toggle {
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  letter-spacing: 0.02em;
  pointer-events: none;
}
header.header .logo img {
  height: auto;
  width: 213px;
}
header.header .head-links li a {
  padding-bottom: 0.25rem;
}
header.header .head-links li:last-child a {
  padding-right: 0;
}
header.header .head-links li .cart-qty {
  font-size: 0.625rem;
  padding-top: 0;
  top: 1.375rem;
  width: 1rem;
  height: 1rem;
}
header.header .search .search-item-form .nav-search-field {
    background-color: #757575;
    color: #ddd;
}
.mobile-search-box .nav-search-field::placeholder,
header.header .search .search-item-form .nav-search-field::placeholder {
  font-size: 0;
}
header.header .search .search-item-form {
  max-width: 286px;
}
.top-heading-cont {
  padding: 1rem;
}
.top-heading-cont h2 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
  margin-bottom: 1.625rem;
}
header .main-menu-wrapper {
  background-color: #F5F4F0;
  border-bottom-color: #F5F4F0;
  padding-top: 0.8125rem;
}
header.header .menu-holder {
    display: none;
}
header.header .menu-holder li a.main-category {
  background-color: #F5F4F0;
  border-bottom-color: #F5F4F0;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  letter-spacing: 1px;
  padding-bottom: 0.9375rem;
}
header.header .menu-holder li a.main-category:hover,
header.header .menu-holder li a.main-category:focus {
  border-bottom-color: #000;
}
.home-banner .banner-title {
  display: none;
}
.chapter-cont {
  padding-bottom: 2rem;
}
.home-slider .slider-top-heading,
.chap-top-heading,
.dine-promo-cont .slider-top-heading {
  color: #000;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0625rem;
}
.home-slider.experience-slider,
.home-slider.speciality-slider {
  padding-top: 2.75rem;
}
.home-slider .section-title,
.chapter-cont .section-title,
.dine-promo-cont .section-title {
  font-weight: 200;
  margin-top: 0.6875rem;
  letter-spacing: 0.015em;
}
.home-slider.experience-slider .post-tile .post-link {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 1px;
  margin-top: 0.625rem;
  width: 100%;
}
.chapter-cont .chap-desc-left {
  max-width: 378px;
}
.chapter-cont .chap-link {
  border-bottom: 0.0625rem solid #000;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  padding-bottom: 0.75rem;
}
.dine-promo-top {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.dine-promo-cont .promo-holder {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.promo-holder .promo-box:first-child {
  margin-right: 2.5rem;
}
/* style begin for listing page */
.hero-banner {
    position: relative;
}
.hero-banner .banner-desc-cont {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    position: absolute;
    top: 40%;
    letter-spacing: 3.84px;
    text-transform: uppercase;
    width: 100%;
}
.hero-banner .banner-desc-cont h2 {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.8125rem;
}
.product-select .form-group select {
    background: #F0F0F0;
    background-position-x: 0.125rem !important;
    border: 0.920833px solid #EDEDED !important;
    font-size: 0.75rem;
    height: 1.875rem !important;
    padding-left: 1.5rem;
}
.products-container .products-holder-main {
    padding-top: 0 !important;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
    border-color: #d6d1d1;
}
.sidebar-widget .list-group .list-group-holder a {
    padding: 10px 12px;
    margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder a.list-group-item:after {
    background-image: url('https://bitbucket.org/TSTechsembly/jscss/raw/cd6a1e12c33a950bbe5af1fd006dc9b229d79ff7/belmond/images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position-y: 4px !important;
    background-position-x: 0 !important;
    transform: rotate(0);
    top: 32%;
}
.sidebar-widget .list-group .list-group-holder a.list-group-item.down:after {
    background-position-y: 10px !important;
    top: 46%;
    transform: rotate(92deg);
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li {
    max-height: none;
}
.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder .widget-holder ul li a,
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    margin: 0
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul.product-categories.sub_categories {
    list-style: disc;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li a {
    padding-left: 0;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
    align-items: center;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li .checkbox-holder input {
    margin-top: 0;
}
.sidebar-widget .ng5-slider .ng5-slider-bubble {
    font-size: 0.75rem;
}
.products-container .products-holder-main .products-holder {
    padding-top: 0 !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    margin-bottom: 0;
}
.products-container .product-list .product-title .product-name-url h3 {
    color: var(--graphite);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.products-container .products-holder-main .products-holder .product-column {
    width: 31%;
    margin: 0 10px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    margin-bottom: 4px;
    width: 100%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
    margin-top: -0.625rem;
    max-height: 1.125rem;
    max-width: 1.125rem;
}
.product-select .form-group.sort-cont label {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    max-width: 69px;
    text-align: right;
}
.product-container .product-select {
    padding-top: 0.625rem;
    margin-right: 15px;
}
.product-container .mob-btn-group {
    display: none;
}
.select-form.sort-cont .form-group select.form-control {
    background-color: #F0F0F0;
    border-color: #F0F0F0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link,
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.vendor-link,
.product-detail-container .product-holder .product-detail .product-info .made-by,
.related-products .related-products-holder .product-content .product-title a.vendor-link,
.related-products h3 a.vendor-link,
app-related-products[title='Recently Viewed'] {
    display: none !important;
}
/* style end for listing page */
​
/* product details page style begin */
.default-breadcrumb {
    margin: 12px 0 15px;
}
.default-breadcrumb li a,
.default-breadcrumb li {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    text-transform: capitalize;
}
body[data-pagetype='product'] header .main-menu-wrapper,
body[data-pagetype='category'] header .main-menu-wrapper,
body.search-results-page header .main-menu-wrapper,
header .main-menu-wrapper {
    display: none;
}
.product-holder .product-detail .product-info .product-heading h1 {
    color: #000000;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    width: 100% !important;
}
.product-detail-container .product-holder {
    margin-bottom: 0.625rem !important;
}
.product-detail-container .product-holder .product-order .tab-content,
.product-detail-container .product-holder .product-order .nav-tabs {
    border: none;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    border-bottom: 1px solid #757575;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    border-bottom-color: #000;
    color: #000;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    color: #000;
}
.product-holder .product-detail .product-info .product-heading .product-rating {
    display: none;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
    border: 1px solid #6D6D6D !important;
    border-radius: 0.125rem !important;
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.product-carousel-desktop .owl-nav .owl-prev {
    background-image: url('https://static.techsembly.com/md663vjtng2itBaD7yuMvebc') !important;
}
.product-carousel-desktop .owl-nav .owl-next {
    background-image: url('https://static.techsembly.com/kYJTsy5d2NFZrv17x4AUmi4T') !important;
}
.product-detail-container .preview-thumbnail {
    margin-top: 1rem;
}
.product-detail-container .preview-thumbnail li {
    max-height: 128px;
}
.product-detail-container .product-holder .share-link {
    display: none !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing {
    padding-top: 1.125rem !important;
}
.product-detail-container .product-holder .product-detail .shipping .shipping-clause,
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise {
    padding-top: 2.375rem;
    padding-left: 0;
    padding-right: 0;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-10 {
    flex-basis: 100%;
    max-width: 100%;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-2 {
    display: none;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.wishlist-container .products-container .wishlist-header {
    border-bottom-color: #757575;
    color: #000000;
    font-style: normal;
    padding-bottom: 15px;
}
.product-detail-container .personalise-form .form-group label,
.product-detail-container .personalise-form .form-group .form-control {
    color: #000;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.product-detail-container .personalise-form .form-group .form-control {
    color: var(--graphite);
    border: 1px solid var(--graphite);
    box-shadow: 0px 0px 0px 2px #F5F9FE;
    border-radius: 0.125rem;
}
.product-detail-container .personalise-form .form-group select.form-control {
    background-image: url('https://static.techsembly.com/TeNG8YC8N6huHcmwHsinV593') !important;
    background-position-x: 96%;
    padding-right: 2.5rem;
}
.product-detail-container .personalise-form .form-group input,
.product-detail-container .personalise-form .form-group select {
    height: 3.375rem;
    max-height: none;
}
.related-products {
    border-top: none;
}
.related-products h3 {
    font-size: 26px;
    font-family: var(--third-font);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.96px;
    margin-bottom: 3.375rem;
}
.related-products .related-products-holder .rel-product-col {
    width: 24%;
    margin-right: 1.4375rem;
}
.related-products .related-products-holder .related-products-image {
    margin-bottom: 11px;
}
.related-products .related-products-holder .product-content .product-title {
    width: 100%;
    margin-bottom: 0 !important;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.pro-name,
.related-products .related-products-holder .product-content .product-title a {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.pro-name {
    text-transform: capitalize !important;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-pricing,
.related-products .related-products-holder .product-content .product-pricing p {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    word-spacing: -2px;
}
.related-products .related-products-holder .related-products-image {
    height: auto;
    margin-bottom: 1rem;
}
.product-detail-container .add-to-basket-cont {
    padding-right: 0;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn,
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary,
.product-detail-container .personalise-form .form-group .order-btn {
    color: #000000;
    background: #eee;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn:hover,
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary:hover,
.product-detail-container .personalise-form .form-group .order-btn:hover {
    background: #000000;
    color: #eee;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn {
    max-height: auto;
}
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary:hover,
.product-detail-container .personalise-form .form-group .order-btn:hover {
    background: #000000;
    color: #FFFFFF;
}
.product-detail-container .personalise-form .form-group {
    margin-top: 25px;
    margin-bottom: 6px !important;
}
.product-detail-container .product-holder .product-inner {
    padding-left: 27px;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane,
.product-detail-container .product-holder .product-detail .shipping .order-note {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #6D6D6D;
}
.related-products .related-products-holder .product-content .product-rating {
    display: none;
}
body[data-pagetype='category'] .sign-up-section,
body.search-results-page header .sign-up-section,
body[data-pagetype='product'] .sign-up-section,
body[data-pagetype='category'] .product-text {
    display: none;
}
app-product-detail .BorderBottom {
    border: none;
}
app-product-listing .product-container {
    margin-top: 24px;
}
.product-container .default-breadcrumb {
    margin-bottom: 0.3125rem;
}
.product-container .breadcrumb-heading {
    margin: 0 0 14px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    color: #000000;
}
.product-container .main-sidebar {
    padding-top: 0 !important;
    padding-right: 1.75rem;
}
.sidebar-widget .result-text p {
    margin: 0 0 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #000000;
}
.wrapper .about-section {
    padding: 52px 0;
    margin-bottom: 11px;
}
.wrapper .about-section h2 {
    font-family: var(--third-font);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 22px;
    letter-spacing: 0.96px;
    margin-bottom: 1.75rem;
    color: #000;
}
.wrapper .about-section .about-desc {
    max-width: 822px;
    margin: 0 auto;
    padding: 0 10px;
}
.wrapper .about-section p {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.96px;
    color: #000;
}
/* product details page style ends */
​
​
/* style begin for signup section */
.wrapper .sign-up-section,
.sign-up-section {
    background-color: #FFFFFF;
    padding: 76px 0 84px;
}
.sign-up-section h2 {
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    margin: 0 0 15px;
}
.sign-up-section .sign-up-container .signup-text {
    width: auto;
    padding-top: 0 !important;
}
.sign-up-section {
    display: none;
}
.sign-up-section p {
    color: #4F4F4F;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin: 0 0 15px;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
    font-size: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary:hover {
    background: #000000;
    color: #FFFFFF;
}
.sign-up-section .sign-up-container .sign-up-form {
    margin-bottom: 0;
}
/* Sign-up section style end */
​
.wrapper section.featured-client {
    display: none !important;
}
/* cart style start */
app-cart .custom-container.cart-container {
    background-color: #fff;
    font-family: var(--primary-font);
}
#delivery-options-popup .modal-header {
    padding-top: 0 !important;
}
#delivery-options-popup .modal-title,
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading {
    color: #000;
    font-family: var(--primary-font);
    font-weight: 500;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
#delivery-options-popup .modal-title {
    display: none;
    font-size: 1rem !important;
    line-height: 1.375rem !important;
}
#delivery-options-popup label.radio-container .checkmark::after {
    top: 1.5px;
    left: 1.5px;
}
.radio-container .checkmark {
    border-color: #000 !important;
}
.radio-container input:checked ~ .checkmark,
.radio-container .checkmark::after {
    background-color: #000 !important;
}
.arrow-breadcrumbs {
    margin-top: 0.375rem;
    margin-bottom: 0.625rem !important;
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a,
.arrow-breadcrumbs li.processed a {
    color: #757575;
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
    color: #757575;
    font-weight: 500;
    letter-spacing: 0.96px;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.375rem;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
    padding-top: 0.125rem;
    padding-right: 0.8125rem;
}
.custom-container.cart-container .vendor-items-cont {
    background-color: #fff;
    box-shadow:  0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 0.375rem;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 0 !important;
}
.custom-container.cart-container .vendor-items-cont .card {
    box-shadow: none !important;
    border: none;
    margin-bottom: 0 !important;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
    margin: 0 0 26px;
    border-bottom-color: #757575;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont span {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
    color: #000000;
    padding-left: 7px;
}
.custom-container.cart-container .vendor-heading .delivered-by,
.custom-container.cart-container .vendor-heading .vendor-name {
    color: #000000;
    font-family: var(--forth-font) !important;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.96px;
}
.custom-container.cart-container .vendor-heading span.vendor-name a {
    font-family: var(--forth-font) !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
    font-size: 18px !important;
    line-height: 22px !important;
    pointer-events: none;
}
.custom-container.cart-container .vendor-items-cont .card .card-body {
    padding-top: 0 !important;
    padding-bottom: 0;
}
.cart-item .item-details .pro-badges-cont {
    padding-top: 0.3125rem;
    padding-bottom: 0.625rem;
    display: none !important;
}
.cart-item.new .quest-container {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.cart-item .item-details .item-opts .quest {
    display: none;
}
.custom-container.cart-container .cart-item.new .pro-badges-cont .pro-badge {
    background-color: #F5F4F0;
    color: #000;
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    display: none !important;
}
.cart-item .item-details .unit-attributes-cont {
    font-size: 0.75rem;
    line-height: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.96px;
    margin-bottom: 0.625rem;
    color: #000;
    display: none !important;
}
.custom-container.cart-container .cart-item.new .item-details .item-name {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
    margin-bottom: 0.875rem;
}
.custom-container.cart-container .cart-item.new .col-label {
    color: #000;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
#delivery-options-popup .modal-body .item-desc,
#delivery-options-popup .modal-body .radio-container span,
.custom-container.cart-container .cart-item.new .item-details .unit-price,
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
    color: #000;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
.custom-container.cart-container .cart-item.new .item-details .unit-price {
    padding-top: 0.625rem;
}
.cart-item.new .item-qty-cont {
    margin-bottom: 0.375rem !important;
}
.custom-container.cart-container .vendor-items-cont a.del-item-link {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    text-decoration: none;
}
.custom-container.cart-container .cart-item.new a {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.96px;
}
.custom-container.cart-container .cart-item.new a.collapse-link {
    text-transform: capitalize;
}
.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link,
.cart-item.new a .underline {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
.cart-item.new .quest-container {
    padding: 0.3125rem 0;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec,
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc {
    background-color: #FAF9F7;
    color: #757575;
    height: 41px;
    display: flex;
    align-items: center;
}
.cart-item.new .item-qty-cont span {
    color: #757575;
}
.custom-container.cart-container .cart-item.new .form-control {
    color: #000;
    font-size: 0.75rem;
}
.cart-item.new .quantity-alert,
.cart-item.new .msg-alert {
    border-color: var(--primary-bg-color);
    background-color: var(--primary-bg-color);
}
#delivery-options-popup .modal-footer .btn.btn-cancel,
.custom-container.cart-container .btn.continue-btn-new,
.custom-container.checkout .shipping-form-container .btn.btn-submit,
.custom-container.checkout .payment-form-container .btn.btn-submit {
    background-color: transparent !important;
    border: 1px solid #000 !important;
    border-radius: 0.1875rem;
    color: #000;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    padding-top: 0.875rem !important;
    padding-bottom: 0.875rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    letter-spacing: 0.96px;
    text-transform: none;
}
#delivery-options-popup .modal-footer .btn.btn-cancel:hover,
.custom-container.cart-container .btn.continue-btn-new:hover,
.custom-container.checkout .shipping-form-container .btn.btn-submit:hover,
.custom-container.checkout .payment-form-container .btn.btn-submit:hover {
    background-color: #000 !important;
    color: #EEEEEE;
}
#delivery-options-popup .modal-footer .btn.btn-cancel {
    padding-top: 0.625rem !important;
}
.custom-container.checkout .shipping-form-container .btn.btn-submit,
.custom-container.checkout .payment-form-container .btn.btn-submit {
    padding-top: 0.5rem;
}
.shipping-form .card.order-summary-cont,
.custom-container.cart-container .card.order-summary-cont,
.right-panel .card.order-summary-cont {
    border: none;
}
.card.order-summary-cont {
    background-color: #FAF9F7;
}
.custom-container.cart-container .card.order-summary-cont {
    margin-bottom: 0 !important;
    background-color: #FAF9F7;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
    border-bottom-color: #757575 !important;
    padding-top: 1.25rem !important;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label,
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
    color: #000;
    font-size: 1.125rem !important;
    font-weight: 500;
    line-height: 1.375rem !important;
    letter-spacing: 0.96px;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
    font-family: var(--third-font);
    font-weight: 400;
    letter-spacing: 0.96px
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
    font-size: 1rem !important;
    font-weight: 500;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.custom-container.cart-container .cart-login-cont form.guestCheckout-form label,
.custom-container.cart-container .card.order-summary-cont .card-body-inner {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
    color: var(--graphite);
    padding-bottom: 1.875rem !important;
}
.custom-container.cart-container .cart-login-cont form.guestCheckout-form label {
    padding-bottom: 0 !important;
}
.custom-container.cart-container .cart-login-cont {
    background-color: transparent !important;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control,
.custom-container.cart-container .cart-login-cont form.guestCheckout-form input.form-control {
    background-color: #fff;
    border-color: #DBD9D9;
    color: var(--graphite);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
}
.custom-container.cart-container .cart-login-cont form.cart-login-form .forget-psw-link {
    color: var(--graphite);
    font-size: 0.75rem !important;
    line-height: 1.8125rem !important;
    letter-spacing: 0.96px !important;
    text-decoration: underline !important;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control::placeholder {
    color: #6D6D6D;
}
.custom-container.cart-container .cart-login-cont  form.cart-login-form .forget-psw-link {
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    text-decoration: none;
}
.custom-container.cart-container .cart-login-cont form.cart-login-form .form-submit-cont {
    border-top-color: #757575;
}
#delivery-options-popup .modal-footer .btn.btn-submit,
.custom-container.checkout .btn-primary,
.custom-container.cart-container .cart-login-cont .btn.btn-primary {
    background-color: #EEEEEE !important;
    border: none !important;
    color: #000;
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1rem;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
#delivery-options-popup .modal-footer .btn.btn-submit:hover,
.custom-container.checkout .btn-primary:hover,
.custom-container.cart-container .cart-login-cont .btn.btn-primary:hover {
    background-color: #000 !important;
    color: #EEEEEE;
}
#delivery-options-popup .modal-footer .btn.btn-submit {
    font-size: 0.75rem;
    padding-top: 0.5rem;
}
.user-container .balance-form {
    display: none;
}
.user-wrapper .user-container .add-address-btn,
.user-wrapper .user-container .signout-btn,
.user-wrapper .user-container .user-edit-holder form .update-btn,
form.signup-form .btn.submit,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    font-family: var(--primary-font);
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1rem;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.user-wrapper .user-container .add-address-btn,
.user-wrapper .user-container .signout-btn {
    height: 56px !important;
    font-weight: normal !important;
}
.user-wrapper .user-container .add-address-btn {
    padding-top: 1.156rem !important;
}
.user-wrapper .user-container .add-address-btn:hover,
.user-wrapper .user-container .add-address-btn:focus,
.user-wrapper .user-container .signout-btn:hover,
.user-wrapper .user-container .signout-btn:focus,
.user-wrapper .user-container .user-edit-holder form .update-btn:hover,
.user-wrapper .user-container .user-edit-holder form .update-btn:focus,
form.signup-form .btn.submit:hover,
form.signup-form .btn.submit:focus,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit:hover,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit:focus {
    background-color: var(--primary-bg-color);

}
.user-wrapper .user-container .addresses-holder .address-row a.edit-item,
.user-wrapper .user-container .addresses-holder .address-row a.del-item {
    width: 20px;
    height: 20px;
}
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td:first-child,
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.shipping-form-container .exist-address-wrapper {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.shipping-form-container .exist-address-wrapper .card {
    margin-bottom: 0 !important;
}
.shipping-form-container .exist-address-wrapper .card .customer-name{
    color: #000000;
    font-family: var(--forth-font);
    font-style: normal;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 22px !important;
    letter-spacing: 0.96px;
}
.shipping-form-container .exist-address-wrapper .card .card-body {
    color: #000000;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 12px !important;
    line-height: 29px !important;
    letter-spacing: 0.96px;
}
.shipping-form-container .exist-address-wrapper .card a {
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 300;
    line-height: 29px !important;
    letter-spacing: 0.96px;
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn {
    background: #EEEEEE;
    border-radius: 3px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2.88px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 6px !important;
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn:hover {
    color: #eee;
}
.shipping-form-container .exist-address-wrapper + .form-group .address-heading {
    margin-bottom: 2.125rem;
}
.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
    color: #000;
    font-size: 0.75rem;
    font-weight: 500 !important;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
form.guestCheckout-form .btn.submit img {
    display: none;
}
body[data-pagetype="cart"] app-newsletter {
    display: none;
}
/* end cart style */
/* style begin for checkout */
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
    min-height: auto;
}
.user-wrapper .user-container .user-edit-holder input.form-control,
.custom-container .login-signup-tabs-cont form .form-control,
.shipping-form-container .form-control {
    background-color: #ffffff;
    border: 1px solid #DBD9D9;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
    border-radius: 4px !important;
    border-color: #DBD9D9 !important;
    color: #757575 !important;
    font-style: normal;
    font-weight: 300;
    font-size: 12px !important;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.user-wrapper .user-container .user-edit-holder input.form-control,
.custom-container .login-signup-tabs-cont form .form-control {
    height: 50px !important;
}
.user-wrapper .user-container .user-edit-holder input#update-newsletter-check {
    margin-top: 8px;
}
.shipping-form-container .delivery-dropdowns-cont .mt-60 {
    margin-top: 60px;
}
.shipping-form-container .get-updates-note {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
.shipping-form-container .btn {
    height: 3.5rem !important;
}
.shipping-form-container .btn.btn-submit {
    /*background: #E4E4E4;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    padding: 20px 24px !important;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;*/
}
.add-to-basket .checkout-description .checkout-price,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price {
    color: #000000;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 0.75rem !important;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img {
    height: 100px;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img img {
    height: 100%;
}
.add-to-basket .checkout-description .checkout-price p,
header.header .head-links li .add-to-basket .dropdown-menu h5,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .item-name {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty {
    text-transform: uppercase;
}
.order-totals-container {
    background-color: #FAF9F7 !important;
    border-radius: 0 0 8px 8px;
    padding-top: 48px !important;
}
.order-totals-container .sub-total-holder {
    border-bottom: 1px solid #757575 !important;
}
.order-totals-container .sub-price,
.order-totals-container .sub-total-desc {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.order-totals-container .sub-price {
    font-weight: 500;
}
.order-totals-container .total-holder .order-total-item .total-price,
.order-totals-container .total-holder .order-total-item .total-desc {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.96px;
}
.order-totals-container .total-holder .order-total-item .total-desc {
    font-family: var(--third-font);
    font-size: 1.125rem !important;
    font-weight: normal;
    line-height: 1.375rem !important;
    letter-spacing: 0.96px;
}
.order-totals-container .total-holder .order-total-item .total-price {
    font-size: 1rem !important;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.custom-container.checkout-footer img[alt="securepaymentbadge"] {
    display: none;
}
/* style end for checkout */

/* style begin for cart-detail */
.delivery-methods-cont .card.contact-card {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
}
.user-container h2.user-heading,
.user-wrapper .user-container .user-edit-holder .user-edit-header,
.wishlist-container .products-container .wishlist-header,
.custom-container .login-signup-tabs-cont .panel-heading,
.shipping-form-container .breadcrumb-heading,
.shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading,
.payment-form-container .breadcrumb-heading,
.payment-form-container .order-sum-heading,
.payment-form-container .address-heading {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.user-wrapper .user-container .user-edit-holder label,
.user-container .password-form .form-heading,
.user-container .password-form .form-email-holder label,
.user-container .password-form .form-email-holder .form-control,
.custom-container .login-signup-tabs-cont form label,
.delivery-methods-cont .card.contact-card div {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.96px;
}
.user-container .password-form .form-heading {
    padding-bottom: 0 !important;
}
.user-container .password-form .form-email-holder .form-control {
    height: 50px !important;
}
.delivery-methods-cont .card .card-body .card-row {
    border-bottom: none !important;
}
.delivery-methods-cont .card .card-body .row-head {
    color: #000000;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 0.75rem;
    line-height: 1.8125rem;
    letter-spacing: 0.69px;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty,
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .item-name {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.01em;
}
.delivery-methods-cont .vendor-cards-holder .card .mat-form-field-wrapper .mat-form-field-flex {
    background-color: #F5F5F5 !important;
}
.shipping-form-container .card-header {
    /* display: none; */
}
.delivery-methods-cont .vendor-cards-holder .card.vendor-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
    border: none;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
    background-color: #FAF9F7 !important;
    border-radius: 0px 0px 8px 8px;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after,
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark {
    background-color: #000 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
    border: 1px solid #000 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-top: 0 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
    border-bottom: none !important;
    margin-bottom: 10px;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont.BorderBottom {
    border-bottom: 0.0625rem solid #757575 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont .option-price {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}
.user-wrapper .user-container .addresses-holder .address-row,
.user-wrapper .user-container .orders-table-holder .orders-table thead th,
.user-container .user-details-holder .detail-desc .edit-link,
.user-container .user-details-holder .detail-desc .detail-text,
.user-container .user-details-holder .detail-head,
.shipping-form-container .form-group label.info-text,
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption,
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
    color: #000;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 29px !important;
}
.shipping-form-container .form-group label.info-text {
    flex-basis: auto;
    padding-left: 1rem;
    padding-right: 1.6875rem;
    width: auto;
}
.user-wrapper .user-container .addresses-holder .address-row,
.user-container .user-details-holder .detail-desc .edit-link,
.user-container .user-details-holder .detail-desc .detail-text,
.order-totals-container .sub-total-desc,
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption {
    font-weight: 300 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row.shipping-givex_digital {
    display: none !important;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(3rem + 2px);
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 6px 0 0 16px !important;
}
.mat-form-field-appearance-fill .mat-form-field-label {
    color: #757575;
}
.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
    padding-bottom: 0 !important;
    margin-left: -15px;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty {
    text-transform: uppercase;
}
.shipping-form-container .form-group {
    margin-bottom: 22px !important;
    padding-bottom: 0 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont select {
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
    border-radius: 4px !important;
}
.delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
    border-bottom: 1px solid #757575 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
    color: #374151;
    font-style: normal;
    font-family: var(--third-font);
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 22px !important;
    letter-spacing: 0.96px;
    text-transform: capitalize;
}
.shipping-form-container .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
    background-color: #DBD9D9;
    color: #757575;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 2.4;
    letter-spacing: 0.96px;
}
.delivery-methods-cont .vendor-cards-holder .card.digital-pros-card .shipping-totals-cont .total-row:last-child .total-caption {
    font-weight: 500 !important;;
}
/* payment page style begin here */
.shipping-form-container .checkbox-cont .checkmark {
    position: relative;
}
.shipping-form-container .checkbox-cont .checkmark::after {
    top: 1px !important;
    left: 1px !important;
}
.payment-form-container h2.section-heading:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    height: 1px;
    width: 100%;
    background: #757575;
}
.payment-form-container .card .card-body .card-row:not(:last-child) {
    border-bottom-color: #DBD9D9 !important;
}
.payment-form-container .section-heading {
    color: #000000;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: 3.84px;
    text-transform: uppercase !important;
    margin-bottom: 35px;
}
.custom-container.checkout .payment-form-container .card.blue-light-bg {
    background-color: #FAF9F7;
    border: none !important;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 6px;
}
.payment-form-container .card .card-body .user-address,
.payment-form-container .card .card-body .row-head,
.custom-container.checkout .payment-form-container .checkbox-cont .checkbox-note {
    color: #000;
    margin-top: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
}
.payment-form-container .card {
    border: none;
}
.payment-form .payment-form-container .card {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 4px;
}
.payment-form .payment-form-container .card.address-card {
    border: none;
}
.payment-form-container .radio-container input:checked ~ .checkmark {
    background-color: #000000 !important;
    border-color: #000000 !important;
}
.checkout-container.complete .card-header.blue-light-bg {
    display: none;
}
.checkout-container.complete .card-footer.blue-light-bg {
    background-color: transparent !important;
}
.checkout-container.complete .breadcrumb-heading {
    font-family: var(--third-font);
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.96px;
    color: #000000;
    margin: 0 0 12px;
}
.checkout-container.complete .section-cont {
    border-bottom: 0.0625rem solid #757575 !important;
    font-style: normal;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
    color: #000000;
}
.checkout-container.complete .order-data .order-column .col-heading {
    font-family: var(--primary-font);
    font-weight: 300 !important;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
    color: #757575;
}
.checkout-container.complete .order-data .order-column .col-desc {
    font-family: var(--primary-font);
    font-weight: 500 !important;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
    color: #757575;
}
.checkout-container.complete .total-cont .total-price,
.checkout-container.complete .shipping-data .text-right,
.checkout-container.complete .cart-data .order-item .item-price,
.checkout-container.complete .cart-data .order-item .item-desc .item-name {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #000000;
    line-height: 29px !important;
    letter-spacing: 0.96px;
}
.checkout-container.complete .total-cont .total-price {
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.custom-container.checkout .row h1.page-heading {
    display: none;
}
.checkout-container.complete .d-flex.py-4 {
    padding-top: 0 !important;
}
.checkout-container.complete .blue-light-bg .card-footer-right,
.checkout-container.complete .blue-light-bg .card-footer-left a,
.checkout-container.complete .blue-light-bg .card-footer-left span,
.checkout-container.complete .msg-cont .msg-inner,
.checkout-container.complete .shipping-data,
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty,
.checkout-container.complete .cart-data .order-item .item-desc .item-brand {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
    line-height: 29px;
    letter-spacing: 0.96px;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
    font-weight: 300 !important;
}
.checkout-container.complete .shipping-data {
    font-weight: 300 !important;
}
.checkout-container.complete .blue-light-bg .card-footer-left a {
    text-decoration: underline;
    text-transform: capitalize;
}
.payment-form-container .radio-container .checkmark {
    position: relative;
}
.payment-form-container .radio-container .checkmark::after {
    top: 1px !important;
    left: 1px !important;
    background: #000000 !important;
}
.payment-form-container .card .card-body .row-head {
    font-weight: 500 !important;
}
.payment-form-container .card .card-body .user-address {
    font-weight: normal !important;
}
.payment-form-container .checkbox-cont input + .checkmark {
    min-width: 1.25rem;
}
.shipping-form-container .checkbox-cont input:checked ~ .checkmark,
.payment-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: #000000 !important;
    border-color: #000000 !important;
}
.payment-form-container .section-cont {
    border-bottom: none !important;
    margin-bottom: 10px;
}
.custom-container.checkout .payment-form-container .card.blue-light-bg::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    top: -32px;
    background: #757575;
}
.custom-container.checkout .payment-form-container .password-note {
    color: var(--graphite);
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
}
.custom-container.checkout form.payment-form label {
    color: #000000;
    font-size: 12px !important;
    font-weight: 300;
    line-height: 29px !important;
    letter-spacing: 0.96px;
}
.custom-container.checkout form.payment-form .form-control {
    background-color: #FFFFFF;
    border-color: #DBD9D9;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    color: #757575;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
}
.custom-container.checkout form.payment-form .order-totals-container .promo-cont a {
    color: var(--graphite);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.payment-form-container .complete-note {
    //text-decoration: underline;
}
.payment-form-container .complete-note p {
    color: #000;
    font-size: 0.75rem;
}
.payment-form-container .complete-note a {
    font-size: 0.75rem;
    text-decoration: underline;
}
.payment-form-container .complete-note ul {
    list-style: none;
}
.ts-copyright,
.tc-rights-reserved {
    color: #000000;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;


}
/* footer */
.footer {
    margin-top: 0;
    padding-bottom: 0.75rem;
    border-top: none;
    padding-top: 0;
}
.footer .custom-container app-new-footer > div,
.footer .custom-container .footer-inner-cont {
    padding-top: 2.1875rem !important;
    border-top: 0.0625rem solid #DBD9D9;
}
.footer .footer-widget .widget-title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
    color: #000;
    text-transform: uppercase;
}
.footer .footer-widget .widget-content .social-links {
    visibility: hidden;
    opacity: 0;
}
.footer .footer-widget .widget-title.text {
    display: none;
}
.footer .modified-widget ul.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: 10px;
}
.footer .modified-widget ul.social-links li {
    width: 21px;
    margin: 0 8px;
}
.footer .pay-methods-avail.modified-widget div:first-child {
    display: none;
}
.footer .pay-methods-avail.modified-widget .social-widget {
    display: flex;
    align-items: center;
}
.footer .footer-widget .widget-content .social-links li {
    width: 21px;
    margin: 0 25px 0 0;
}
.footer .footer-widget .widget-content .social-links li.twitter-link-cont:nth-child(2){
    display: none;
}
.footer .footer-widget .widget-content ul li {
    padding-bottom: 6px;
}
.footer .footer-widget .widget-content .social-links li:last-child {
    margin-right: 0;
}
.footer .footer-widget .widget-content ul li a {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
}
.footer .footer-widget .widget-content {
    padding-top: 14px;
}
.footer .powered-link-cont {
    text-transform: uppercase;
}
.footer .pay-methods-avail.modified-widget h5,
.footer .footer-widget .widget-content ul li strong {
    color: #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.footer .pay-methods-avail.modified-widget h5 {
    line-height: 29px;
    text-transform: uppercase;
}
.footer .powered-link-cont span a,
.footer .powered-link-cont span {
    color: #757575;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.96px;
    text-align: center;
}
.footer .powered-by div:first-child {
    display: none;
}
.footer .copyright-cont {
    margin-top: 12px !important;
}
.footer .copyright-cont div:first-child,
.footer .copyright-cont .pay-methods-avail {
    padding-left: 0;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
    max-width: 48px;
    margin-right: 8px;
    display: none;
}
.footer .powered-by .powered-link-cont {
    display: none;
}
.footer .copyright-text-cont {
    padding-top: 25px;
}
.checkout-copyright-cont {
    padding: 0.875rem 1.875rem;
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    header.header .logo {
        height: auto;
    }
    .mob-top-links .dropdown-flag {
        display: none;
    }
    header .main-menu-wrapper {
        display: none;
    }
    .mobile-search-box .nav-search-field {
        color: #757575;
    }
    .hero-banner .banner-desc-cont {
        font-size: 0.75rem;
    }
    .product-detail-container .add-to-basket-cont {
        width: 100%;
    }
    .related-products {
        margin-top: 4rem;
    }
    .custom-container.cart-container .btn.continue-btn-new {
        margin-top: 10px;
        width: 100%;
    }
    .footer .mobile-footer .list-group .list-group-holder>a {
        font-size: 12px;
    }
    .footer .mobile-footer .footer-widget ul li,
    .footer .mobile-footer .footer-widget ul li a {
        font-size: 12px;
    }
    .payment-icons-right {
        justify-content: center !important;
    }
    .footer .footer-widget .widget-content .social-links {
       opacity: 1;
       visibility: visible;
    }
}

@media (max-width: 767.98px) {
    header .spacing {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
    header.header .logo img {
        margin-top: 0.3125rem;
        margin-left: 1.25rem;
        width: auto;
    }
    header .mob-top-links .cart-qty {
        padding-top: 0.125rem;
    }
    .hero-banner .banner-desc-cont {
        top: 20%;
    }
    .hero-banner .banner-desc-cont h2 {
        margin-bottom: 0.3125rem;
    }
    .products-container .products-holder-main .products-holder .product-column {
        width: 45%;
        margin: 0 5px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: auto;
        min-height: 149px;
        max-height: 149px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 149px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
        margin-top: 1px;
    }
    .custom-container.cart-container .cart-login-cont form.cart-login-form .form-submit-cont {
        padding-bottom: 0.625rem !important;
    }
    .shipping-form-container .delivery-dropdowns-cont .mt-60::last-child {
        margin-top: 0;
    }
    .payment-form-container .radio-container .checkmark::after {
        //top: 0.8125rem !important;
    }
    .checkout-container.complete .shipping-data .shipping-row .col-12 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .checkout-container.complete .shipping-data .shipping-row .col-md-3 {
        padding-right: 0.5rem !important;
    }
    .checkout-container.complete .shipping-data .shipping-row .col-md-9 {
        padding-left: 0.5rem !important;
    }
    .login-signup-tabs-cont .new-cust-note {
        font-size: 0.75rem;
    }
    .checkout-copyright-cont {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (max-width: 575.98px) {
    .arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
        padding-left: 0 !important;
    }
    .arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
        padding-right: 0.325rem !important;
        padding-left: 0.325rem !important;
    }
    .shipping-form-container .checkbox-cont .checkmark::after {
        top: 2px !important;
    }
    .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
        background-position-x: 36%;
    }
    form.signup-form .btn.submit {
        background-position-x: 15%;
    }
    #delivery-options-popup label.radio-container .checkmark::after {
        left: 1.45px;
    }
}
@media (min-width: 576px) {
    .custom-container.cart-container .vendor-heading .delivered-by {
        margin-right: 0.0625rem !important;
    }
}
@media (min-width: 768px) {
    .home-slider.speciality-slider .carousel-container {
        padding-bottom: 0;
    }
    .product-detail-container .tab-content.preview-pic {
        height: auto;
    }
    .product-detail-container .product-holder .product-detail {
        margin-bottom: 0 !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
    header.header ul.shipping {
        align-items: center;
    }
    header.header ul.shipping li:first-child {
        margin-right: 0.875rem;
    }
    header.header .logo {
        padding-top: 2.3125rem;
        padding-bottom: 2.5rem;
    }
    header.header .search .search-item-form button {
        padding-left: 0.53125rem;
        padding-right: 0.53125rem;
    }
    .top-heading-cont {
        padding-top: 1.5rem;
        padding-bottom: 0;
    }
    .chapter-cont {
        padding-top: 2.625rem;
        padding-bottom: 6rem;
    }
    .home-slider .section-title,
    .chapter-cont .section-title,
    .dine-promo-cont .section-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .home-slider.experience-slider .carousel-container {
        padding-top: 3.25rem;
    }
    .home-slider.experience-slider .post-tile .post-link {
        text-align: left !important;
    }
    .home-slider.speciality-slider {
        padding-top: 4.75rem;
    }
    .home-slider.speciality-slider .section-title {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-banner .banner-desc-cont h2 {
        font-size: 1.75rem;
        line-height: 1.375rem;
    }
    .products-container .products-holder-main .products-holder {
        padding-bottom: 2.5rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list {
        margin-bottom: 5rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: auto;
    }
    body[data-pagetype='product'] .product-detail-container {
        padding-top: 2rem;
    }
    .product-detail-container .product-holder {
        padding-top: 1.875rem !important;
    }
    .product-detail-container .product-carousel-cont {
        flex-basis: 53.25%;
        max-width: 53.25%;
    }
    .product-detail-container .product-holder .product-inner {
        flex-basis: 46.75%;
        max-width: 46.75%;
    }
    .related-products {
        padding-bottom: 70px;
    }
    .custom-container.cart-container {
        padding-top: 2.875rem !important;
    }
    .custom-container.cart-container .cart-left-cont {
        padding-right: 58px;
    }
    app-cart .custom-container.cart-container .breadcrumb-heading,
    app-cart .custom-container.cart-container .order-sum-heading {
        font-size: 1rem;
        line-height: 1.375rem;
    }
    .cart-item.new .item-image-cont {
        min-width: 21.65%;
        max-width: 21.65%;
    }
    .cart-item.new .item-details-cont {
        max-width: 79.35%;
        min-width: 79.35%;
    }
    .custom-container.cart-container .cart-item.new .col-label {
        margin-bottom: 0.5625rem !important;
    }
    .custom-container.cart-container .gift-msg-area {
        padding-top: 0 !important;
    }
    .container.custom-container.checkout {
        padding-bottom: 0;
    }
    .nav-ship-details .shipping-form-container .shipping-form .right-panel {
        padding-left: 22px;
    }
    .nav-ship-details .shipping-form-container .shipping-form .left-panel {
        padding-right: 7.5rem !important;
    }
    .shipping-form-container .left-panel {
        padding-right: 3.65rem !important;
    }
    .footer .copyright-cont.d-lg-flex {
        display: block !important;
    }
}
@media (min-width: 1200px){
    header.header .head-links li .add-to-basket .dropdown-menu:after {
        right: 0.625rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 354px;
        max-height: 354px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 354px;
    }
    .related-products .related-products-holder .related-products-image {
        min-height: 287px;
        max-height: 287px;
    }
    .related-products .related-products-holder .related-products-image img {
        max-height: 287px;
    }
}
@media (min-width: 1280px){
    body[data-pagetype='product'] .product-detail-container,
    .related-products .custom-container .container {
       max-width: 1220px;
       padding-left: 0;
       padding-right: 0;
    }
}
@media (min-width: 1400px){
  .chapter-cont {
       padding-left: 3.125rem;
       padding-right: 3.125rem;
   }
   .dine-promo-cont .promo-holder {
       padding-left: 2.1875rem;
       padding-right: 2.1875rem;
   }
}

.hero-banner:nth-child(1) {display:none}
