:root{
 --primary-font: 'Montserrat', sans-serif;
 --secondary-font: 'Montserrat', sans-serif;
 --third-font: 'theano_didotregular';
 --fog-color: #DBD9D9;
 --graphite: #757575;
}
body {
  color: #6D6D6D;
  font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: var(--secondary-font);
}
a,
a:hover,
a:focus  {
  color: #000000;
  font-family: var(--primary-font);
  text-decoration: none;
}
p {
  color: #6D6D6D;
  font-family: var(--primary-font);
}
header.header {
  border-bottom: none;
  margin-bottom: 0;
}
header .spacing {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
header.header .shipping li {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.9375rem;
  letter-spacing: 0.01em;
}
header.header .shipping li img {
  margin-top: 0;
}
header.header .shipping li a.dropdown-toggle:after {
  display: none;
}
header.header .shipping li a.dropdown-toggle {
  color: #6D6D6D;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0.02em;
  pointer-events: none;
}
header.header .logo img {
  height: auto;
  width: 213px;
}
header.header .head-links li a {
  padding-bottom: 0.25rem;
}
header.header .head-links li:last-child a {
  padding-right: 0;
}
header.header .head-links li .cart-qty {
  font-size: 0.625rem;
  padding-top: 0;
  top: 1.375rem;
  width: 1rem;
  height: 1rem;
}
header.header .search .search-item-form .nav-search-field {
    background-color: var(--fog-color);
}
header.header .search .search-item-form .nav-search-field::placeholder {
  font-size: 0;
}
header.header .search .search-item-form {
  max-width: 286px;
}
.top-heading-cont {
  padding: 1rem;
}
.top-heading-cont h2 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
  margin-bottom: 0.625rem;
}
header .main-menu-wrapper {
  background-color: #F5F4F0;
  border-bottom-color: #F5F4F0;
  padding-top: 0.8125rem;
}
header.header .menu-holder li a.main-category {
  background-color: #F5F4F0;
  border-bottom-color: #F5F4F0;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  letter-spacing: 1px;
  padding-bottom: 0.9375rem;
}
header.header .menu-holder li a.main-category:hover,
header.header .menu-holder li a.main-category:focus {
  border-bottom-color: #000;
}
.home-banner .banner-title {
  display: none;
}
.chapter-cont {
  padding-bottom: 2rem;
}
.home-slider .slider-top-heading,
.chap-top-heading,
.dine-promo-cont .slider-top-heading {
  color: #000;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0625rem;
}
.home-slider.experience-slider,
.home-slider.speciality-slider {
  padding-top: 2.75rem;
}
.home-slider .section-title,
.chapter-cont .section-title,
.dine-promo-cont .section-title {
  font-weight: 200;
  margin-top: 0.6875rem;
  letter-spacing: 0.015em;
}
.home-slider.experience-slider .post-tile .post-link {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 1px;
  margin-top: 0.625rem;
  width: 100%;
}
.chapter-cont .chap-desc-left {
  max-width: 378px;
}
.chapter-cont .chap-link {
  border-bottom: 0.0625rem solid #000;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  padding-bottom: 0.75rem;
}
.dine-promo-top {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.dine-promo-cont .promo-holder {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.promo-holder .promo-box:first-child {
  margin-right: 2.5rem;
}
/* style begin for listing page */
.hero-banner {
    position: relative;
}
.hero-banner .banner-desc-cont {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    position: absolute;
    top: 40%;
    letter-spacing: 3.84px;
    width: 100%;
}
.hero-banner .banner-desc-cont h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.8125rem;
}
.product-select .form-group select {
    background: #F0F0F0;
    border: 0.920833px solid #EDEDED !important;
    font-size: 0.75rem;
}
.products-container .products-holder-main {
    padding-top: 0.25rem !important;
}
.sidebar-widget .list-group .list-group-holder a {
    padding: 14px 12px;
    margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder a.list-group-item:after {
    background-image: url('https://bitbucket.org/TSTechsembly/jscss/raw/cd6a1e12c33a950bbe5af1fd006dc9b229d79ff7/belmond/images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position-y: 4px !important;
    background-position-x: 0 !important;
    transform: rotate(0);
}
.sidebar-widget .list-group .list-group-holder a.list-group-item.down:after {
    background-position-y: 10px !important;
    top: 40%;
    transform: rotate(92deg);
}
.sidebar-widget .list-group .list-group-holder a h4 {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin: 0
}
.products-container .products-holder-main .products-holder {
    padding-top: 0 !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    margin-bottom: 10px;
}
.products-container .product-list .product-title .product-name-url h3 {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}
.products-container .products-holder-main .products-holder .product-column {
    width: 31%;
    margin: 0 10px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    margin-bottom: 4px;
    width: 100%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
}
.products-container .products-holder-main .products-holder .product-column .product-list {
    margin-bottom: 52px;
}
.product-select .form-group.sort-cont label {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    max-width: 69px;
    text-align: right;
}
.product-container .product-select {
    margin-right: 15px;
}
.select-form.sort-cont .form-group select.form-control {
    background-color: #F0F0F0;
    border-color: #F0F0F0;
}
/* style end for listing page */
​
/* product details page style begin */
.default-breadcrumb {
    margin: 12px 0 15px;
}
.default-breadcrumb li a,
.default-breadcrumb li {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
body[data-pagetype='product'] header .main-menu-wrapper,
body[data-pagetype='category'] header .main-menu-wrapper,
body.search-results-page header .main-menu-wrapper {
    display: none;
}
.product-holder .product-detail .product-info .product-heading h1 {
    color: #000000;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    width: 100% !important;
}
.product-detail-container .product-holder {
    margin-bottom: 0.625rem !important;
}
.product-detail-container .product-holder .product-order .tab-content,
.product-detail-container .product-holder .product-order .nav-tabs {
    border: none;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    border-bottom: 1px solid #D6D1D1;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    border-bottom-color: var(--graphite);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    color: rgba(109, 109, 109, 0.7);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    color: #000000;
}
.product-holder .product-detail .product-info .product-heading .product-rating {
    display: none;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
    border: 1px solid #6D6D6D !important;
    border-radius: 0.125rem !important;
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.product-carousel-desktop .owl-nav button.owl-prev {
    background-image: url('https://staging-assets.techsembly.com/wL4pePffwkLMDoADdxbuNEjZ');
}
.product-carousel-desktop .owl-nav button.owl-next {
    background-image: url('https://staging-assets.techsembly.com/fvG9TDweNxTJUkvSWwVqC5Qx');
}
.product-detail-container .preview-thumbnail li {
    max-height: 128px;
}
.product-detail-container .product-holder .share-link {
    display: none !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing {
    padding-top: 1.3125rem !important;
}
.product-detail-container .product-holder .product-detail .shipping .shipping-clause,
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    color: var(--graphite);
}
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise {
    padding-top: 2.375rem;
    padding-left: 0;
    padding-right: 0;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.product-detail-container .personalise-form .form-group label,
.product-detail-container .personalise-form .form-group .form-control {
    color: #000;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.product-detail-container .personalise-form .form-group .form-control {
    color: var(--graphite);
    border: 1px solid var(--graphite);
    box-shadow: 0px 0px 0px 2px #F5F9FE;
    border-radius: 0.125rem;
}
.product-detail-container .personalise-form .form-group input,
.product-detail-container .personalise-form .form-group select {
    height: 3.375rem;
    max-height: none;
}
.related-products {
    border-top: none;
}
.related-products h3 {
    font-size: 26px;
    font-family: var(--third-font);
    line-height: 22px;
    letter-spacing: 0.96px;
    margin-bottom: 3.375rem;
}
.related-products .related-products-holder .rel-product-col {
    width: 24%;
    margin-right: 1.4375rem;
}
.related-products .related-products-holder .related-products-image {
    margin-bottom: 11px;
}
.related-products .related-products-holder .product-content .product-title {
    margin-bottom: 0;
    width: 100%;
}
.related-products .related-products-holder .product-content .product-title a {
    color: var(--graphite);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}
.related-products .related-products-holder .product-content .product-pricing p {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.related-products .related-products-holder .related-products-image {
    height: auto;
    margin-bottom: 1rem;
}
.product-detail-container .add-to-basket-cont {
    padding-right: 0;
}
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary,
.product-detail-container .personalise-form .form-group .order-btn {
    color: #000000;
    background: #eee;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary:hover,
.product-detail-container .personalise-form .form-group .order-btn:hover {
    background: #000000;
    color: #FFFFFF;
}
.product-detail-container .product-holder .product-inner {
    padding-left: 27px;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane,
.product-detail-container .product-holder .product-detail .shipping .order-note {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #6D6D6D;
}
.related-products .related-products-holder .product-content .product-rating {
    display: none;
}
body[data-pagetype='category'] .sign-up-section,
body.search-results-page header .sign-up-section,
body[data-pagetype='product'] .sign-up-section,
body[data-pagetype='category'] .product-text {
    display: none;
}
app-product-detail .BorderBottom {
    border: none;
}
.product-container .breadcrumb-heading {
    margin: 0 0 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
}
.sidebar-widget .result-text p {
    margin: 0 0 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #000000;
}
.wrapper .about-section {
    padding: 52px 0;
    margin-bottom: 17px;
}
.wrapper .about-section h2 {
    font-family: var(--third-font);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 22px;
    letter-spacing: 0.96px;
    margin-bottom: 1.75rem;
    color: #000;
}
.wrapper .about-section .about-desc {
    max-width: 822px;
    margin: 0 auto;
    padding: 0 10px;
}
.wrapper .about-section p {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.96px;
    color: #000;
}
/* product details page style ends */
​
​
/* style begin for signup section */
.wrapper .sign-up-section,
.sign-up-section {
    background-color: #FFFFFF;
    padding: 76px 0 84px;
}
.sign-up-section h2 {
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    margin: 0 0 15px;
}
.sign-up-section .sign-up-container .signup-text {
    width: auto;
    padding-top: 0 !important;
}
.sign-up-section p {
    color: #4F4F4F;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin: 0 0 15px;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
    font-size: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary:hover {
    background: #000000;
    color: #FFFFFF;
}
.sign-up-section .sign-up-container .sign-up-form {
    margin-bottom: 0;
}
/* Sign-up section style end */
​
.wrapper section.featured-client {
    display: none !important;
}
/* cart style start */
app-cart .custom-container.cart-container {
    background-color: #fcfcfc;
    font-family: var(--primary-font);
}
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading {
    color: #000;
    font-family: var(--primary-font);
    font-weight: 200;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.arrow-breadcrumbs {
    margin-top: 0.375rem;
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
    color: #6D6D6D;
    font-family: var(--primary-font);
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
}
.arrow-breadcrumbs li.active a {
    color: #6D6D6D;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.01em;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.375rem;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
    padding-top: 0.125rem;
    padding-right: 0.8125rem;
}
.custom-container.cart-container .vendor-items-cont {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 0.375rem;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
}
.custom-container.cart-container .vendor-items-cont .card {
    box-shadow: none !important;
    border: none;
    margin-bottom: 0 !important;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
    display: none !important;
}
.custom-container.cart-container .vendor-items-cont .card .card-body {
    padding-top: 0 !important;
    padding-bottom: 0;
}
.cart-item .item-details .pro-badges-cont {
    padding-top: 0.3125rem;
}
.custom-container.cart-container .cart-item.new .pro-badges-cont .pro-badge {
    background-color: #F5F4F0;
    color: #000;
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
}
.cart-item .item-details .unit-attributes-cont {
    font-size: 0.8125rem;
    line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.0625rem;
    color: #000;
}
.custom-container.cart-container .cart-item.new .item-details .item-name {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.0625rem;
}
.custom-container.cart-container .cart-item.new .col-label {
    color: #000;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
}
.custom-container.cart-container .cart-item.new .item-details .unit-price,
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
    color: #000;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.01em;
}
.custom-container.cart-container .cart-item.new .item-details .unit-price {
    padding-top: 0.125rem;
}
.cart-item.new .item-qty-cont {
    margin-bottom: 0.375rem !important;
}
.custom-container.cart-container .vendor-items-cont a.del-item-link {
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    text-decoration: none;
}
.custom-container.cart-container .cart-item.new a {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.0625rem;
}
.custom-container.cart-container .cart-item.new a.collapse-link {
    text-transform: capitalize;
}
.cart-item.new a .underline {
    text-decoration: none;
}
.cart-item.new .quest-container {
    padding: 0.3125rem 0;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec,
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc {
    background-color: #F5F4F0;
}
.custom-container.cart-container .cart-item.new .form-control {
    color: #000;
    font-size: 0.75rem;
}
.custom-container.cart-container .btn.continue-btn-new {
    border-color: #000;
    border-radius: 0.1875rem;
    color: #000;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: none;
    padding-top: 1.125rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
}
.custom-container.cart-container .card.order-summary-cont {
    border: none;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
    border-bottom-color: #D6D1D1 !important;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label,
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
    color: #000;
    font-size: 1.125rem !important;
    font-weight: 500;
    line-height: 1.875rem !important;
    letter-spacing: 0.04em;
}
.custom-container.cart-container .card.order-summary-cont .card-body-inner {
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    color: #6D6D6D;
    padding-bottom: 1.875rem !important;
}
.custom-container.cart-container .cart-login-cont {
    background-color:#F5F4F0 !important;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.0625rem;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control {
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control::placeholder {
    color: #6D6D6D;
}
.custom-container.cart-container .cart-login-cont  form.cart-login-form .forget-psw-link {
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    text-decoration: none;
}
.custom-container.cart-container .cart-login-cont form.cart-login-form .form-submit-cont {
    border-top-color: #D6D1D1;
}
.custom-container.cart-container .cart-login-cont .btn.btn-primary {
    background-color: #e4e4e4 !important;
    border-color: #e4e4e4 !important;
    color: #000;
    font-size: 0.8125rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
    color: #000;
    font-size: 0.8125rem;
    font-weight: 300 !important;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
}
body[data-pagetype="cart"] app-newsletter {
    display: none;
}
/* end cart style */
/* style begin for checkout */
.shipping-form-container .form-control {
    color: #6D6D6D;
    font-style: normal;
    font-weight: 300;
    font-size: 13px !important;
    line-height: 24px;
    letter-spacing: 1px;
}
.shipping-form-container .get-updates-note {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
}
.shipping-form-container .btn.btn-submit {
    background: #E4E4E4;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    padding: 20px 24px !important;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
}
.shipping-form-container .order-summary-cont .order-sum-heading {
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .item-name {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}
.order-totals-container {
    background-color: #F5F4F0 !important;
}
.order-totals-container .sub-total-holder {
    border-bottom: 1px solid #D6D1D1 !important;
}
.order-totals-container .sub-price,
.order-totals-container .sub-total-desc {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
.order-totals-container .total-holder .order-total-item .total-price,
.order-totals-container .total-holder .order-total-item .total-desc {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 30px !important;
    letter-spacing: 0.04em;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.processed a {
    color: #6D6D6D;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
}
.custom-container.checkout-footer {
    display: none;
}
/* style end for checkout */

/* style begin for cart-detail */
.delivery-methods-cont .card.contact-card {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
}
.shipping-form-container .breadcrumb-heading,
.shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading {
    color: #000000;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.delivery-methods-cont .card.contact-card div {
    color: #000;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
}
.delivery-methods-cont .card .card-body .row-head {
    color: #000000;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty,
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .item-name {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
}
.shipping-form-container .card-header {
    display: none;
}
.delivery-methods-cont .vendor-cards-holder .card.vendor-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
    border: none;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
    background-color: #F5F4F0 !important;
    border-radius: 0px 0px 8px 8px;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark {
    background-color: #6D6D6D;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
    background: #6D6D6D;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
    border: 1px solid #6D6D6D !important;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-top: 0 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
    border-bottom: 0.0625rem solid #D6D1D1 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont .option-price {
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

/* footer */
.footer {
    margin-top: 0;
    padding-bottom: 3.125rem;
    border-top: none;
    padding-top: 0;
}
.footer .custom-container app-new-footer > div,
.footer .custom-container .footer-inner-cont {
    padding-top: 2.1875rem !important;
    border-top: 0.0625rem solid #ededed;
}
.footer .footer-widget .widget-title {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
}
.footer .footer-widget .widget-content .social-links li {
    width: 21px;
    margin: 0 25px 0 0;
}
.footer .footer-widget .widget-content .social-links li.twitter-link-cont:nth-child(2){
    display: none;
}
.footer .footer-widget .widget-content ul li {
    padding-bottom: 12px;
}
.footer .footer-widget .widget-content .social-links li:last-child {
    margin-right: 0;
}
.footer .footer-widget .widget-content ul li a {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #414141;
}
.footer .footer-widget .widget-content {
    padding-top: 14px;
}
.footer .powered-link-cont {
    text-transform: uppercase;
}
.footer .powered-link-cont span a,
.footer .powered-link-cont span {
    color: #4D4D4D;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
}
.footer .powered-by div:first-child {
    display: none;
}
.footer .copyright-cont div:first-child,
.footer .copyright-cont .pay-methods-avail {
    padding-left: 0;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
    max-width: 48px;
    margin-right: 8px;
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    header .main-menu-wrapper {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .custom-container.cart-container .cart-login-cont form.cart-login-form .form-submit-cont {
        padding-bottom: 0.625rem !important;
    }
}

@media (max-width: 575.98px) {

}

@media (min-width: 768px) {
    .home-slider.speciality-slider .carousel-container {
        padding-bottom: 0;
    }
    .product-detail-container .tab-content.preview-pic {
        height: auto;
    }
    .product-detail-container .product-holder .product-detail {
        margin-bottom: 0 !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
    header.header ul.shipping {
        align-items: center;
    }
    header.header ul.shipping li:first-child {
        margin-right: 1.25rem;
    }
    header.header .logo {
        padding-top: 2.3125rem;
        padding-bottom: 2.5rem;
    }
    header.header .search .search-item-form button {
        padding-left: 0.53125rem;
        padding-right: 0.53125rem;
    }
    .top-heading-cont {
        padding-top: 1.5rem;
        padding-bottom: 0.9375rem;
    }
    .chapter-cont {
        padding-top: 2.625rem;
        padding-bottom: 6rem;
    }
    .home-slider .section-title,
    .chapter-cont .section-title,
    .dine-promo-cont .section-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .home-slider.experience-slider .carousel-container {
        padding-top: 3.25rem;
    }
    .home-slider.experience-slider .post-tile .post-link {
        text-align: left !important;
    }
    .home-slider.speciality-slider {
        padding-top: 4.75rem;
    }
    .home-slider.speciality-slider .section-title {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-banner .banner-desc-cont h2 {
        font-size: 1.75rem;
        line-height: 1.375rem;
    }
    .product-detail-container .product-holder {
        padding-top: 1.875rem !important;
    }
    .product-detail-container .product-carousel-cont {
        flex-basis: 53.25%;
        max-width: 53.25%;
    }
    .product-detail-container .product-holder .product-inner {
        flex-basis: 46.75%;
        max-width: 46.75%;
    }
    .related-products {
        padding-bottom: 70px;
    }
    .custom-container.cart-container {
        padding-top: 2.875rem !important;
    }
    .custom-container.cart-container .cart-left-cont {
        padding-right: 59px;
    }
    app-cart .custom-container.cart-container .breadcrumb-heading,
    app-cart .custom-container.cart-container .order-sum-heading {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
    .cart-item.new .item-image-cont {
        min-width: 21.65%;
        max-width: 21.65%;
    }
    .cart-item.new .item-details-cont {
        max-width: 79.35%;
        min-width: 79.35%;
    }
    .custom-container.cart-container .cart-item.new .col-label {
        margin-bottom: 0.5625rem !important;
    }
    .custom-container.cart-container .gift-msg-area {
        padding-top: 0 !important;
    }
}
@media (min-width: 1200px){

}
@media (min-width: 1280px){
    body[data-pagetype='product'] .product-detail-container,
    .related-products .custom-container .container {
       max-width: 1220px;
       padding-left: 0;
       padding-right: 0;
    }
}
@media (min-width: 1400px){
  .chapter-cont {
       padding-left: 3.125rem;
       padding-right: 3.125rem;
   }
   .dine-promo-cont .promo-holder {
       padding-left: 2.1875rem;
       padding-right: 2.1875rem;
   }
   .full-desktop-img {
       /* width: 100%; */
   }
}
