<div class="container custom-container d-flex flex-wrap justify-content-between chapter-cont">
  <div class="col-12 col-md-6 px-0 pr-md-3 pt-md-4 pb-4 pb-md-0">
    <div class="w-100 d-flex align-items-center justify-content-between chap-desc-cont pt-md-3">
      <div class="chap-desc-left">
        <div class="chap-top-heading">
          CHAPTER TWO:
        </div>
        <h2 class="section-title mb-2">
          A WORLD OUTSIDE YOUR WINDOW
        </h2>
        <a class="chap-link" href="#">DISCOVER MORE &nbsp;</a>
      </div>
      <div class="chap-desc-right">
        <img src="https://bitbucket.org/TSTechsembly/jscss/raw/6e8282c5906e41f821cb4481da5ce7e5d0f05f56/belmond/images/ch-2-1.jpg" width="216" alt="chap-img"/>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 px-0 pl-md-3">
    <img src="https://bitbucket.org/TSTechsembly/jscss/raw/6e8282c5906e41f821cb4481da5ce7e5d0f05f56/belmond/images/ch2-2.png" width="595" alt="chap-img full-desktop-img"/>
  </div>
</div>
