:root {
  --primary-font: 'Crimson Text';
  --secondary-font: 'Crimson Text';
  --third-font: 'Playfair Display';
}
body {
  color: #4f4f4f;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
}
p {
  font-family: var(--primary-font);
}
.btn.btn-primary {
  color: #4f4f4f;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: var(--primary-bg-color);
}
.top-header {
  background-color: #CCE1D7;
  font-family: var(--third-font);
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 0.09em;
}
header.header {
  border-bottom: none;
  margin-bottom: 0.8125rem;
}
header.header .shipping li,
header.header .shipping li a {
  color: #4f4f4f;
  font-family: var(--primary-font);
  font-weight: 400;
}
header.header .menu-holder li a {
  color: #333;
  font-family: var(--primary-font);
  font-size: 0.9375rem;
  font-weight: 400;
}
header.header .mobile-menu svg {
  fill: #CCE1D7;
  width: 1.125rem;
}
.home-banner .banner-heading {
  font-family: var(--secondary-font);
  left: 0;
  right: 0;
  letter-spacing: 0.08em;
  text-align: left;
}
.home-banner .banner-heading .banner-title,
.home-banner .banner-heading .sub-head {
  font-family: var(--primary-font);
}
.home-banner .banner-heading .sub-head {
  letter-spacing: 0.04em;
}
.home-slider .section-title,
.promo-section .section-title {
   color: #4f4f4f;
   font-weight: 400;
   letter-spacing: 0.08em;
   text-transform: uppercase;
}
.home-slider .section-title {
   margin-top: 2.375rem;
}
.home-slider .carousel-container {
   padding-top: 0.75rem;
}
.home-slider .post-tile .post-link {
   color: #333;
   font-family: var(--primary-font);
   font-weight: 500;
   letter-spacing: 0.07em;
   text-transform: uppercase;
}
.gift-section img {
   height: auto;
   margin-bottom: 0.875rem;
}
.gift-section .gifts-content {
   margin-left: 1.5rem;
}
.gift-section .gifts-heading {
   font-family: var(--secondary-font);
}
.gift-section .gifts-content .gifts-desc {
   font-weight: 400;
   padding-top: 0;
}
.promo-holder .promo-box img {
   height: auto;
}
app-home-carousel.mb-lg-2 .carousel-container {
   padding-bottom: 2.5rem;
}
.promo-holder .promo-box:first-child {
   margin-right: 1.5rem;
}
.promo-holder .promo-box .promo-content .promo-desc {
   font-weight: 400;
}
.home-intro {
  padding-top: 2.1875rem;
}
.home-intro h2 {
  margin-bottom: 0.375rem;
}
section.featured-client {
  display: none;
}
.sign-up-section {
  background-color: #ededed;
  padding-top: 1.875rem;
  padding-bottom: 1.625rem;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  color: #4f4f4f;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase
}
.footer {
  border-top: none;
}
.footer .footer-widget .widget-title,
.footer .mobile-footer .list-group .list-group-holder>a {
  color: #333;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.footer .mobile-footer .list-group .list-group-holder > a {
  color: #4f4f4f;
}
.footer .mobile-footer .list-group .list-group-holder > a::after {
  top: 35%;
}
.footer .footer-widget .widget-content {
  padding-top: 1.25rem;
}
.footer .footer-widget.social-widget .widget-content {
  padding-top: 1rem;
}
.footer .footer-widget .widget-content ul li a h6,
.footer .footer-widget form label,
.footer .mobile-footer .footer-widget ul li a {
  color: #333;
  font-family: var(--primary-font);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
}
footer .footer-widget form label {
  color: #4f4f4f;
}
.footer .footer-widget:not(.social-widget) .widget-content ul li {
  margin-bottom: 1rem;
}
.footer .select-form .btn.btn-primary {
  font-weight: 500;
  margin-top: 0.625rem;
}
.footer .copyright-cont {
  margin-top: 1.25rem;
  padding-bottom: 1.75rem;
}
.footer .copyright-cont .pay-methods-avail .meth-link img {
  max-width: 3.4375rem;
}
.footer .copyright-cont .powered-by {
  font-size: 0.9375rem;
}
.powered-link-cont a {
  display: none;
}
.footer-cp-link {
  color: #021e4a;
  /*font-size: 1.25rem;*/
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
  header.header .container-fluid:not(.top-header) .row.spacing {
    padding-top: 0.375rem;
  }
  header.header .logo {
    height: auto;
  }
  header .mob-top-links .dropdown-flag .dropdown-toggle img {
    display: none;
  }
  header .mob-top-links li a img {
    max-width: 1.5625rem;
  }
  header .mob-top-links li a.mob-search-link img {
    //max-width: 1.4375rem;
  }
  .spacing {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
  }
  .home-banner .banner-heading {
    top: 20%;
    width: 90%;
  }
  .home-banner .banner-heading .banner-title,
  .home-banner .banner-heading .sub-head {
    font-size: 0.75rem;
  }
  .home-slider .section-title {
    margin-top: 2.125rem;
    margin-bottom: 1rem;
  }
  .home-slider .carousel-container {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    padding-bottom: 2.625rem;
  }
  app-home-carousel.mb-lg-2 .carousel-container {
    padding-bottom: 3rem;
  }
  .home-slider .carousel-container .owl-stage-outer {
    /*padding-left: 1.5rem;
    padding-right: 1.5rem;*/
  }
  .gift-section img {
    margin-bottom: 0.625rem;
  }
  .promo-holder {
    margin-bottom: 0;
  }
  .promo-holder .promo-box {
    height: auto;
  }
  .promo-holder .promo-box:first-child {
    margin-bottom: 1.5rem;
  }
  .sign-up-section {
    padding-top: 1.375rem;
    padding-bottom: 1.25rem;
  }
  .sign-up-section h2 {
    margin-bottom: 0 !important;
  }
  .footer {
    padding-top: 0.875rem;
  }
  .footer .footer-widget.social-widget .widget-content {
    padding-top: 0.625rem;
  }
  .footer .copyright-cont {
    padding-bottom: 1.5rem;
  }
  .footer .copyright-cont .pay-methods-avail {
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 767.98px) {
   header.header {
    margin-top: 0;
   }
   header.header .container-fluid.top-header .row.spacing {
    padding-top: 0.125rem;
    padding-bottom:  0.125rem;
   }
   header.header .container-fluid:not(.top-header) .row.spacing {
     padding-top: 1.5rem;
     padding-left: 0.9375rem;
     padding-right: 0.9375rem;
     padding-bottom: 0.625rem;
   }
   header.header .mobile-menu {
     padding-left: 0;
   }
   header.header .logo img {
     height: 59px;
     width: 123px;
   }
   body.top-head-exist .mob-overlay {
     top: 165px;
   }
   body.top-head-exist nav#sidebar {
     top: 163px;
   }
   .home-banner .banner-heading {
     font-size: 1rem;
     line-height: 1rem;
   }
   .home-banner .banner-heading .banner-title,
   .home-banner .banner-heading .sub-head {
     font-size: 0.5rem;
   }
   .home-slider .carousel-container {
     padding-bottom: 1rem;
   }
   .home-slider .post-tile {
     max-width: 8.125rem;
   }
   .home-slider .post-tile .post-link {
     font-size: 1rem;
     line-height: 1.375rem;
   }
   .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
     margin-top: auto;
   }
   .sign-up-section .sign-up-container .sign-up-form {
     width: auto;
     max-width: 24rem;
   }
   .footer .copyright-cont {
     margin-top: 0.875rem;
   }
   .custom-container {
     padding-left: 0.9375rem;
     padding-right: 0.9375rem;
   }
}

@media (max-width: 575.98px) {
  .sign-up-section .sign-up-container .sign-up-form {
     padding-left: 0.9375rem;
     padding-right: 0.9375rem;
  }
}

@media (min-width: 768px) {
   header.header .logo img {
    height: 119px;
    width: 248px;
   }
   body.top-head-exist .mob-overlay,
   body.top-head-exist nav#sidebar {
      top: 200px;
   }
   .home-banner .banner-heading {
      margin-left: 3.75rem;
   }
   .home-slider .section-title,
    .promo-section .section-title,
    .home-intro h2,
    .sign-up-section h2,
    .featured-client h2 {
      font-size: 1.5rem;
      line-height: 2.0625rem;
    }
   .home-slider .post-tile .post-link {
      font-size: 1.125rem;
      line-height: 1.5625rem;
   }
   .gift-section .gifts-heading {
      font-size: 3.25rem;
   }
   .gift-section .gifts-content .gifts-desc {
      font-size: 1.625rem;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
   header .toggle-menu-cont {
     max-width: 3%;
   }
   .footer .footer-widget .widget-content .social-links {
     justify-content: space-between;
   }
}
@media (min-width: 992px) {
   header.header .logo {
    padding-top: 1.625rem;
    padding-bottom: 1.1875rem;
   }
   .home-banner .banner-heading {
      font-size: 3.25rem;
   }
   .home-banner .banner-heading .banner-title,
   .home-banner .banner-heading .sub-head {
      font-size: 1.625rem;
      line-height: 2.25rem;
   }
   .footer {
      padding-top: 2.5rem;
   }
   .footer .copyright-cont div:first-child,
   .footer .copyright-cont .pay-methods-avail {
      padding-left: 0;
   }
   .footer .copyright-cont .pay-methods-avail {
      align-items: flex-start !important;
   }
}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}
