:root{
--primary-font: 'Source Serif Pro';
--secondary-font: "helvetica neue";
}
.body {
  font-family: var(--primary-font);
  font-size: 0.9375rem;
}
p {
  font-family: var(--primary-font);
  font-size: 0.9375rem;
}
a,
a:hover,
a:focus {
  font-family: var(--primary-font);
}
.top-header {
    background-color: #2A4657;
    color: #FFA349;
    height: 50px;
    font-family: var(--primary-font);
    font-size: 0.875rem;
}
.top-header a {
    color: #FFA349;
}
.top-header .top-header-left,
.top-header .top-header-left a span {
    font-size: 0.6875rem;
}
.top-header .top-header-right,
.top-header .top-header-right a {
    font-size: 0.75rem;
}
header.header {
    border-bottom: none;
    margin-bottom: 1.75rem;
}
header.header .shipping li,
header.header .shipping li a {
    color: #4a4a4a;
    font-family: var(--primary-font);
    font-weight: 600;
}
header.header .shipping li a.dropdown-toggle {
    font-weight: 900;
}
header.header .menu-holder li a {
    color: #000;
    font-weight: 400;
}
.home-banner .banner-heading {
    font-family: var(--primary-font);
    left: 0;
    right: 0;
    letter-spacing: 0.08em;
}
.home-banner .banner-heading span {
    font-family: var(--primary-font);
    font-weight: 300;
    letter-spacing: 0.04em;
}
.home-slider .section-title,
.promo-section .section-title {
   color: #4f4f4f;
   font-weight: 700;
   letter-spacing: 0.08em;
   text-transform: uppercase;
}
.home-slider .post-tile .post-link {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  width: 100%;
}
.promo-content .promo-title {
  display: none;
}
.promo-holder .promo-box .promo-content {
  left: 0;
  width: 100%;
}
.promo-holder .promo-box .promo-content a {
  color: #fff;
  font-family: var(--primary-font);
  font-weight: 900;
}
.promo-holder .promo-box .promo-content .promo-desc {
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
}
.promo-holder .promo-box img {
  height: auto;
}
.home-intro h2,
.sign-up-section h2,
.featured-client h2 {
  color: #4a4a4a;
  font-weight: 900;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.sign-up-section {
  background-color: #f4f4f4;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  background-color: #F3901D;
  color: #333;
  font-size: 0.9375rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase
}
.sign-up-section .sign-up-container .sign-up-form {
  padding-top: 0.375rem;
}
section.featured-client {
  display: none;
}
.footer {
  background-color: #264555;
  margin-top: 0;
}
.footer .custom-container .footer-widget .select-form {
  display: none;
}
.footer .footer-widget .widget-title {
  color: #F3901D;
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.footer .custom-container .footer-widget:not(:last-child) .widget-title {
  display: none;
}
.footer .footer-widget:not(.social-widget) .widget-content {
  padding-top: 0.25rem;
}
.footer .footer-widget .widget-content ul li,
.footer .footer-widget .widget-content ul li a h6 {
  color: #fff;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.footer .footer-widget .widget-content ul li a:hover {
  text-decoration: none;
}
.footer .footer-widget .widget-content ul li a h6 {
  cursor: default;
}
.footer-widget .footer-pay-note p {
  color: #fff;
  font-family: var(--primary-font);
  font-weight: 300;
  line-height: 1.3125rem;
}
.footer .select-form .form-group label {
  color: #fff;
}
.footer .social-widget .btn-contact {
  background-color: #F3901D;
  color: #264555;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: auto;
  max-width: 144px;
}
.footer .copyright-cont {
  color: #fff;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
  display: none;
}
.powered-link-cont a {
  display: none;
}
.footer-cp-link,
.footer-cp-link:hover,
.footer-cp-link:focus {
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
  .footer .social-widget .btn-contact {
    margin: auto;
  }
}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

}

@media (min-width: 768px) {

}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
  header.header .container-fluid:not(.top-header) .row.align-items {
    align-items: flex-start;
    padding-top: 1rem;
  }
  header.header .container-fluid:not(.top-header) .toggle-menu-cont {
    margin-top: 2.125rem;
  }
  header.header .logo {
    padding-top: 2.125rem;
    padding-bottom: 2.5rem;
  }
  header.header .logo img {
    height: 200px;
    width: 332px;
  }
  .home-banner .banner-heading {
    font-size: 3.625rem;
    line-height: 3rem;
  }
  .home-banner .banner-heading span {
    font-size: 2rem;
  }
  .home-slider .section-title,
  .promo-section .section-title,
  .home-intro h2,
  .sign-up-section h2,
  .featured-client h2 {
    font-size: 1.437rem;
    line-height: 3rem;
  }
  .promo-section .section-title {
    margin-bottom: 2rem;
  }
  .promo-holder .promo-box .promo-content .promo-desc {
    font-size: 3.25rem;
    line-height: 3.625rem;
  }
  .promo-holder .promo-box .promo-content a {
    font-size: 1.3125rem;
    line-height: 1.5rem;
  }
  .sign-up-section {
    padding-top: 1.875rem;
    padding-bottom: 2.125rem;
  }
  .sign-up-section .sign-up-container .signup-text {
    width: 100%;
  }
  .footer .footer-widget {
    max-width: 25%;
  }
  .footer .footer-widget .widget-content ul li {
    margin-bottom: 2.75rem;
  }
  .footer .footer-widget .widget-content ul li a h6 {
    //line-height: 3.75rem;
  }
  .footer .copyright-cont {
    margin-top: 6.875rem;
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}
