:root {
   --primary-font: 'Nunito Sans';
   --secondary-font: 'Work Sans';
   --third-font: 'Playfair Display';
}
html {
    overflow-x: hidden;
}
body {
    color: #171c3d;
    overflow-x: hidden;
}
body[data-pagetype='home'] header.header {
    margin-bottom: 0.9375rem;
}
header.header {
    border-bottom: none;
    margin-bottom: 0;
}
header.header .shipping li a {
    color: #171c3d;
    font-family: var(--primary-font);
}
header.header .shipping li .dropdown .dropdown-menu {
    width: 240px;
}
header.header .shipping li .dropdown .dropdown-menu .btn {
    font-size: 0.875rem;
}
.select-form .form-group label {
    color: #171c3d;
}
.btn.btn-primary {
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: transparent;
    border: 0.0625rem solid #171c3d;
    color: #171c3d;
}
header .select-form .btn.btn-primary {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 0.5rem;
}
header.header .logo img {
    height: 162px;
    width: 120px;
}
header .menu-links-cont .mob-search-link {
    margin-right: 0.5rem;
}
header.header .search .search-item-form {
    width: 17.9375rem;
}
header.header .search .search-item-form .nav-search-field,
.mobile-search-box .nav-search-field {
    background-color: transparent;
    border: 1px solid #b2b2b2;
    border-radius: 50px;
    font-family: var(--primary-font);
    font-size: 0.875rem;
}
header.header .search .search-item-form .nav-search-field::placeholder,
.mobile-search-box .nav-search-field::placeholder {
    color: #b2b2b2;
    font-style: normal;
}
.mobile-search-box .nav-search-field {
    font-size: 0.75rem;
    height: 2.5625rem;
}
header.header .search .search-item-form button,
.mobile-search-box .btn {
    background-color: transparent;
    position: absolute;
    right: 0;
}
.mobile-search-box .btn {
    margin-top: 0.25rem;
}
header.header .search .search-item-form button {
    top: 0.1875rem;
}
header.header .search .search-item-form button img,
.mobile-search-box .btn img {
   max-width: 1.4375rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn {
   font-size: 0.875rem;
   font-weight: 600;
   text-transform: uppercase;
}
header.header .head-links li .add-to-basket .dropdown-menu h4,
header.header .head-links li .add-to-basket .dropdown-menu h5,
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price {
    color: #171c3d;
}
header .mob-top-links li a.mob-search-link,
header .mob-top-links  li a#profile-icon,
header .mob-top-links  li a#wishlist-heart,
/*header .mob-top-links .dropdown-flag .dropdown-toggle::after,*/
.home-banner .banner-heading {
    display: none !important;
}
.characs-cont img[alt='flag'] {
    display: inherit;
}
header .mob-top-links .dropdown-flag .dropdown-toggle img:not(.flag) {
    display: none;
}
header .mob-top-links .add-to-basket .btn.btn-primary {
    line-height: 2rem;
    font-size: 0.875rem;
}
header .mob-top-links .dropdown-flag {
    margin-right: 0.875rem;
}
header.header .menu-holder li a {
    color: #171c3d;
    font-size: 0.75rem;
    font-weight: 600;
}
header.header .menu-holder>li:hover>a,
header.header .menu-holder li a:hover {
    border-bottom-color: #df91bc;
    border-bottom-width: 0.3125rem;
}
header.header .menu-holder li a.main-category {
    letter-spacing: 2.1px;
}
body:not([data-pagetype='home']) header.header .menu-holder li a.main-category {
    padding-bottom: 0.125rem;
}
header.header .menu-holder>li>div {
    border-color: #ededed;
}
header.header .menu-holder .nav-column h3 {
    border-bottom: none;
    color: #df91bc;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 2.1px;
}
header.header .menu-holder .nav-column ul li {
    padding: 0.5625rem 0;
}
header.header .menu-holder .nav-column ul li a {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 400;
}
header.header .menu-holder .nav-column:first-child:after {
    display: none;
}
header.header .menu-holder .nav-column.nav-image {
    min-width: 304px;
    width: 33%;
}
header.header .menu-holder .nav-column.nav-image .menu-image .image-text a {
    font-size: 0.875rem;
    font-weight: 400;
}
.default-breadcrumb li,
.default-breadcrumb li a,
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
    color: #171c3d;
    font-family: var(--primary-font);
    font-size: 0.875rem;
}
.breadcrumb-heading {
    color: #171c3d;
    font-size: 1.375rem;
    font-weight: 600;
}
nav#sidebar ul li a {
    color: #171c3d;
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2.1px;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}
.home-characs {
    border-bottom: 0.0625rem solid #ededed;
    color: #b2b2b2;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 2.1px;
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
}
body:not([data-pagetype='vendor-page']) .home-characs.inner {
    margin-bottom: 1.875rem;
}
.home-characs.border-top {
    border-top: 0.0625rem solid #ededed;
}
.home-characs .single-charac {
    min-height: 2.6875rem;
}
.home-characs .single-charac:not(:last-child) {
    border-right: 0.0625rem solid #ededed;
}
.home-characs img {
    width: auto;
    height: auto;
}
.promo-holder .promo-box .promo-content {
    display: none;
}
.sign-up-section {
    background-image: url('https://media.graphcms.com/RH3JRT2hQCa5oE0neq2j');
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-up-section h2 {
    color: #171c3d;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    margin-bottom: 0.625rem !important;
}
.sign-up-section .sign-up-container .signup-text,
.sign-up-section .sign-up-container .signup-text p {
    font-family: var(--primary-font);
    color: #171c3d;
}
.sign-up-section .sign-up-container .sign-up-form {
    margin-bottom: 1.625rem;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    background-color: #ededed;
    border: 0.0625rem solid #000;
    color: #000;
    font-size: 0.875rem;
    max-width: 270px;
    margin-right: 1.5rem;
    height: 3rem;
}
.sign-up-section .sign-up-container .sign-up-form input[type="email"]::placeholder,
.sign-up-section .sign-up-container .sign-up-form input[type="email"]::-webkit-input-placeholder {
    color: #000;
}
.sign-up-section .sign-up-container .sign-up-form .btn.submit {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    width: 7.3125rem;
    height: 3rem;
}
.section-title,
.home-intro h2,
.featured-client h2 {
    color: #171c3d;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
}
.product-container .product-select {
    margin-right: 0;
}
.product-select .form-group.sort-cont label {
    color: #000;
}
.product-select.select-form .form-group select.form-control {
    border-color: #ededed;
    color: #171c3d;
}
.sidebar-widget .result-text {
    margin-bottom: 0;
    padding-top: 0.625rem;
}
.sidebar-widget .list-group .list-group-holder:not(:last-child)>a.filter-toggler {
    padding-bottom: 0.125rem;
}
.sidebar-widget .list-group .list-group-holder>a.filter-toggler h4 {
    color: #171c3d;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li {
    max-height: none;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li a {
    color: #171c3d;
    font-family: var(--primary-font);
    font-weight: 400;
}
.sidebar-widget .list-group .list-group-holder:not(:last-child)>a.list-group-item.down:after {
    /*background-position-y: -0.25rem;*/
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li .checkbox-holder label {
    align-items: baseline;
    font-weight: 400;
}
.ng5-slider .ng5-slider-span {
    color: #171c3d !important;
}
.products-container .products-holder-main .products-holder {
    padding-top: 0 !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list {
    margin-bottom: 0.8125rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content {
    padding-top: 0.375rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3 {
    color: #171c3d;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
    font-family: var(--primary-font);
    font-size: 0.875rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3 {
    font-size: 1rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a:not(.vendor-link) {
    text-transform: capitalize;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link {
    margin-top: -0.25rem;
}
.products-container .products-holder-main .load-more-btn {
    font-size: 0.875rem;
    min-width: 10rem;
    width: auto;
    margin-top: 1.25rem;
    margin-bottom: 0.875rem;
    text-transform: uppercase;
}
.product-carousel-desktop.owl-theme .owl-nav [class*='owl-'] {
    border-color: #b2b2b2 !important;
    font-size: 0;
}
.product-carousel-desktop .owl-nav .owl-prev::before {
    vertical-align: middle;
    margin-top: 0;
    display: inline-block;
    border-color: #171c3d;
    position: relative;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    height: 7px;
    width: 7px;
    margin-left: 4px;
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.product-carousel-desktop .owl-nav .owl-next::before {
    vertical-align: middle;
    margin-top: 0;
    display: inline-block;
    border-color: #171c3d;
    position: relative;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    height: 7px;
    width: 7px;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -4px;
}
.product-carousel-desktop .owl-nav [class*='owl-']:hover::before {
    border-color: #fff;
}
.product-detail-container .preview-thumbnail .owl-nav.disabled {
    display: none !important;
}
.product-carousel-mob.tab .owl-dots .owl-dot.active span,
.product-carousel-mob.tab .owl-dots .owl-dot:hover span {
    background-color: #636363;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    color: #171c3d;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.375rem;
    width: 90%;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
    width: 10%;
}
.product-detail-container .product-holder .product-detail .product-info .made-by,
.product-detail-container .product-holder .product-detail .product-info .made-by a {
    color: #171c3d;
    font-weight: 600;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews,
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    font-size: 1.25rem;
    font-weight: 800;
}
/*.product-detail-container .product-holder .share-link,*/
.product-detail-container .product-holder .product-detail .shipping {
    display: none !important;
}
.product-detail-container .product-order .share-link {
    margin-top: 7.625rem;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
}
.product-detail-container .product-holder .product-detail .properties-cont {
    flex-wrap: wrap;
    /*flex-flow: row-reverse;*/
    padding-top: 0.625rem;
}
.product-detail-container .product-holder .product-detail .property-cont {
    padding-right: 0.625rem;
    padding-bottom: 0.9375rem;
}
.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
    border-color: #b2b2b2;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    background-color: #fff;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    border-bottom: 0.25rem solid #fff;
    color: #171c3d;
    width: max-content;
    float: none;
    margin: auto;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    border-bottom: 0.25rem solid #df91bc;
}
.product-detail-container .personalise-form .variant-container .option-label {
    color: #171c3d;
}
.product-detail-container .personalise-form .variant-container .variant .option-container .customcheck .checkmark {
    border-color: #171c3d;
    color: #171c3d;
    padding: 0 0.25rem;
}
.product-detail-container .personalise-form .variant-container .variant .option-container .customcheck input[type="radio"]:checked+.checkmark {
    background-color: #171c3d;
    border-color: #171c3d;
    color: #fff;
}
.product-detail-container .personalise-form .form-group.add-basket {
    margin-top: 1.25rem;
}
.product-detail-container .add-to-basket-cont {
    position: relative;
    left: 0;
    padding-right: 0;
}
.product-detail-container .product-holder .product-order .tab-content .personalise-form {
    //display: none;
}
.product-detail-container .personalise-form .form-group .order-input {
    border-color: #b2b2b2;
    margin-right: 1.875rem;
}
.product-detail-container .personalise-form .form-group .order-btn {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#details {
    height: auto;
    padding-bottom: 1.5rem;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#details .show-more-cont {
    display: none !important;
}
.product-detail-container .product-holder .product-order .tab-content .detail-text .detail-holder .fadeout {
    display: none;
}
.related-products h3 {
    margin-top: 0.0625rem;
    margin-bottom: 1.75rem;
}
.related-products h3,
.related-products h3 a {
    color: #171c3d;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 800;
    text-transform: uppercase;
}
.related-products .related-products-holder .product-content .product-title a {
    color: #171c3d;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}
.related-products .related-products-holder .product-content .product-title a.vendor-link {
    font-size: 0.75rem;
}
.related-products .related-products-holder .product-content .product-pricing p {
    font-size: 0.875rem;
}
.custom-container.cart-container .continue-btn,
app-cart .custom-container.cart-container .continue-btn-new {
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 600;
    border: 1px solid #171c3d;
    color: #171c3d;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}
.custom-container.cart-container .continue-btn:hover,
.custom-container.cart-container .continue-btn:focus,
app-cart .custom-container.cart-container .continue-btn-new:hover,
app-cart .custom-container.cart-container .continue-btn-new:focus {
    background-color: #171c3d;
    color: #fff;
}
.custom-container.cart-container .checkout-btn {
    background-image: url(https://media.graphcms.com/V57AtXIKTw6MW1vNJVCZ);
    background-size: 17px;
    background-position: 20%;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}
.custom-container.cart-container .checkout-btn:hover,
.custom-container.cart-container .checkout-btn:focus {
    background-color: transparent;
    background-image: url(https://media.graphcms.com/wZgGVjfvTcOV2npu5zUN);
    border: 0.0625rem solid #171c3d;
    color: #171c3d;
}
.custom-container.cart-container .vendor-heading {
    color: #171c3d;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1.125rem;
    letter-spacing: 2.1px;
}
.custom-container.cart-container .vendor-heading .vendor-name {
    color: #df91bc;
}
.custom-container.cart-container .vendor-items-holder .vendor-heading-holder,
.custom-container.cart-container .vendor-items-holder .vendor-items {
    padding-left: 0;
    padding-right: 0;
}
.custom-container.cart-container .vendor-items-holder .flag-cont span {
    display: none;
}
.cart-item {
    padding-bottom: 1.5rem;
}
.cart-item .item-details .details-header {
    color:#df91bc;
    font-size: 0.875rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}
.cart-item .item-details .item-name {
    color: #171c3d;
    font-size: 1rem;
    font-weight: 400;
}
.cart-item .item-details a.edit-item {
    background-image: url('https://media.graphcms.com/Y4YQYDoRy2zJZUt2Fu6A');
}
.cart-item .item-details a.del-item {
    background-image: url('https://media.graphcms.com/ebF9YqJCQc6vgGUIar81');
}
.cart-item .item-details a.edit-item,
.cart-item .item-details a.del-item {
    height: 1.25rem;
    width: 1.25rem;
}
.cart-item .item-details .details-desc div[class^="col-"] div.unit-total-price {
    font-weight: 700;
}
.cart-item .item-details .form-control {
    border-color: #b2b2b2;
    color: #171c3d;
}
.cart-item .item-details .details-desc .item-desc .collapse-link,
.cart-item .item-details .details-desc .item-desc .collapse-link div {
    color: #df91bc;
    font-family: var(--primary-font);
    text-transform: capitalize;
}
.cart-item .item-details .gift-msg-cont .form-control {
    border-color: #b2b2b2;
}
.cart-item .item-details .gift-msg-cont .form-control::placeholder,
.cart-item .item-det-cont .gift-msg-cont .form-control::placeholder {
    font-style: normal;
}
.custom-container.cart-container .cart-item .item-details .details-header div:first-child,
.custom-container.cart-container .cart-item .item-details .details-desc .main-charac-row div.item-desc {
    padding-left: 0;
}
.cart-item .item-details .details-desc .item-desc {
    padding-left: 0.5rem;
}
.custom-container.cart-container .total-cart-wrapper {
    font-size: 0.875rem;
    font-weight: 800;
    min-width: 18.125rem;
    width: auto;
}
.custom-container.cart-container .total-cart-wrapper label {
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.mob-total-cont .mob-cart-sep {
    margin-top: 0.1875rem !important;
    padding-bottom: 0.5rem !important;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading a,
.custom-container.cart-container .vendor-items-cont .col-label,
.custom-container.cart-container .vendor-items-cont a.collapse-link {
    color: #df91bc;
}
.custom-container.cart-container .card.order-summary-cont,
.custom-container.cart-container .breadcrumb-heading,
.custom-container.cart-container .order-sum-heading,
.shipping-form-container .breadcrumb-heading, .shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading {
    font-family: var(--primary-font) !important;;
}
.shipping-form-container .order-sum-heading {
    color: #171c3d;
}
.custom-container.cart-container .vendor-items-cont,
.cart-item.new,
.cart-item.new .col-label,
form.cart-login-form a {
    font-family: var(--primary-font);
}
.custom-container.checkout .page-heading {
    display: none;
}
.custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link {
    color: #171c3d;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 800;
    text-transform: uppercase;
}
.custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link .step {
    background-color: transparent;
    border: 0.0625rem solid #b2b2b2;
    color: #b2b2b2;
    padding-top: 0.25rem;
}
.custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link .step.active {
    background-color: #df91bc;
    border-color: #df91bc;
    color: #fff;
}
.custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link span:not(.step) {
    letter-spacing: 2.1px;
    margin-top: 0.125rem;
}
.custom-container.checkout .checkout-tabs-cont .tab-content {
    padding-top: 2.8125rem;
}
.custom-container .login-signup-tabs-cont .left-panel,
.custom-container.checkout .checkout-tabs-cont .left-panel {
    border-right: none;
}
.custom-container.checkout .checkout-tabs-cont .panel-heading,
.custom-container.checkout .checkout-tabs-cont .grey-bg .panel-heading,
.custom-container .login-signup-tabs-cont .panel-heading {
    color: #171c3d;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.custom-container.checkout .checkout-tabs-cont form label,
 .custom-container .login-signup-tabs-cont form label {
    font-size: 0.875rem;
}
.custom-container.checkout .checkout-tabs-cont form .form-control,
.custom-container .login-signup-tabs-cont form .form-control {
    border-color: #b2b2b2;
    color: #171c3d;
    font-size: 0.875rem;
 }
.custom-container.checkout .checkout-tabs-cont form .form-control::placeholder,
.custom-container .login-signup-tabs-cont form .form-control::placeholder {
    color: #b2b2b2;
    font-style: normal;
 }
.custom-container.checkout .checkout-tabs-cont form input[type='text'],
.custom-container.checkout .checkout-tabs-cont form input[type='email'],
.custom-container.checkout .checkout-tabs-cont form input[type='password'],
.custom-container .login-signup-tabs-cont form input[type='text'],
.custom-container .login-signup-tabs-cont form input[type='email'],
.custom-container .login-signup-tabs-cont form input[type='password'] {
    height: 2.5rem;
}
form.login-form label.remember span {
    margin-top: -0.0625rem;
}
form.login-form .forget-psw-link {
    color: #171c3d;
    font-family: var(--primary-font);
    font-size: 0.875rem;
}
 form.login-form .btn.submit,
 form.signup-form .btn.submit,
 .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    background-image: url(https://media.graphcms.com/V57AtXIKTw6MW1vNJVCZ);
    background-size: 17px;
    background-position: 32%;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
 }
 form.signup-form .btn.submit {
    background-position: 28.5%;
 }
 form.login-form .btn.submit,
 .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
     background-position: 41%;
 }
 .tab-panel-cont.checkout-tab-panel-cont .guest-form-cont .or-cont {
     display: none;
 }
 .tab-panel-cont.checkout-tab-panel-cont .guest-form-cont .btn {
     font-size: 0.875rem;
     font-weight: 600;
     letter-spacing: 0.125rem;
     text-transform: uppercase;
 }
 .tab-panel-cont.checkout-tab-panel-cont .guest-form-cont .btn#checkout-as-guest {
     background-color: transparent;
     border: 0.0625rem solid #171c3d;
     color: #171c3d;
 }
 .tab-panel-cont.checkout-tab-panel-cont .guest-form-cont .btn#checkout-as-guest:hover,
 .tab-panel-cont.checkout-tab-panel-cont .guest-form-cont .btn#checkout-as-guest:focus {
     background-color: #171c3d;
     color: #fff;
 }
 form.guestCheckout-form .btn.submit img {
     margin-top: -0.1875rem;
 }
 .custom-container.checkout .checkout-tabs-cont form.shipping-form .form-group {
     margin-bottom: 0.8125rem;
 }
 .shipping-form-container form select,
 .payment-form-container form select {
     height: 2.5rem !important;
 }
 .custom-container.checkout .checkout-tabs-cont form.shipping-form .btn.submit {
     font-size: 0.875rem;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 0.125rem;
 }
 .shipping-form-container form.shipping-form .btn.submit img {
    height: auto;
    margin-left: 0;
    margin-top: -0.1875rem;
    width: 1.25rem;
}
 .order-summary-container .grey-bg {
     background-color: #e8e8e8;
     padding-bottom: 1.5rem;
 }
 .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-title {
    color: #df91bc;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
    margin-bottom: 0;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-title span.delivered-by {
    color: #171c3d;
    font-weight: 400;
}
.custom-container.checkout .checkout-tabs-cont .grey-bg .title-sep {
    border-color: #b2b2b2 !important;
    margin-left: 0;
    width: 100%;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 0.3125rem;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
    font-family: var(--secondary-font);
    font-weight: 600;
}
.custom-container.checkout .checkout-tabs-cont .sub-total-holder .sub-total-item,
.custom-container.checkout .checkout-tabs-cont .total-holder .order-total-item {
    font-size: 0.875rem;
}
.custom-container.checkout .checkout-tabs-cont .total-holder {
    padding-top: 0.3125rem;
}
.custom-container.checkout .checkout-tabs-cont .total-holder .order-total-item {
    padding-top: 1rem;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder {
    padding-bottom: 1.5rem;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .del-option .opt-choice-label {
     color: #df91bc;
     font-weight: 700;
 }
 .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .del-option select {
     border-color: #b2b2b2;
     font-size: 0.875rem;
     height: 2.25rem !important;
 }
 .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .del-option .option-price {
     font-size: 0.875rem;
 }
 .custom-container.checkout .checkout-tabs-cont form.payment-form .btn.submit {
     background-image: url(https://media.graphcms.com/V57AtXIKTw6MW1vNJVCZ);
     background-size: 17px;
     background-position: 38%;
     font-size: 0.875rem;
     font-weight: 600;
     letter-spacing: 0.125rem;
     text-transform: uppercase;
 }
 .custom-container.checkout .checkout-tabs-cont form.payment-form .btn.submit:hover,
 .custom-container.checkout .checkout-tabs-cont form.payment-form .btn.submit:focus {
     background-image: url(https://media.graphcms.com/V57AtXIKTw6MW1vNJVCZ);
 }
 .payment-form-container form.payment-form .card-images-holder {
    background-color: transparent !important;
    padding-left: 28px !important;
}
.custom-container.checkout .checkout-tabs-cont form.payment-form .card-images-holder {
    height: auto;
    padding-bottom: 2rem;
}
.payment-form-container form.payment-form .card-images-holder img:not(:last-child) {
    margin-right: 0.75rem;
}
.custom-container.checkout .checkout-tabs-cont form.payment-form .card-images-holder span.cards-desc {
    display: none;
}
.payment-form-container form .radio-container .pay-method-name {
    margin-top: 0;
    font-weight: normal;
}
.custom-container.checkout .checkout-tabs-cont form .radio-container .checkmark {
    border-color: #171c3d;
}
.custom-container.checkout .checkout-tabs-cont form .radio-container input:checked ~ .checkmark,
.custom-container.checkout .checkout-tabs-cont form .radio-container .checkmark::after {
    background-color: #171c3d;
}
.address-form .form-group,
.custom-container.checkout .checkout-tabs-cont form.payment-form .form-control {
    max-width: 100%;
}
 .custom-container.checkout .checkout-tabs-cont form.payment-form .btn.apply-btn {
     font-size: 0.875rem;
     font-weight: 600;
     letter-spacing: 0.125rem;
     height: 2.5rem;
     text-transform: uppercase;
 }
 .custom-container.checkout .checkout-tabs-cont form.payment-form .promo-note,
 .custom-container.checkout .checkout-tabs-cont form.payment-form .promo-note a,
 .custom-container.checkout .checkout-tabs-cont .user-add-wrap {
     font-family: var(--primary-font);
     font-size: 0.875rem;
 }
 .custom-container.checkout-footer img[alt="securepaymentbadge"] {
    display: none;
 }
 .custom-container.checkout .btn-primary {
    border-width: 0.0625rem;
    border-style: solid;
 }
 .payment-form-container .payment-form .radio-container .checkmark::after {
    top: 0.375rem;
 }
 .delivery-methods-cont .vendor-cards-holder .card.vendor-card .card-header .vendor-title a {
    color: #df91bc;
 }
 /*vendor-microsite*/
 .vendor-micro-cont .vendor-intro h2.vendor-name {
    display: none;
}
.vendor-micro-cont .vendor-intro .vendor-logo-cont {
    margin-top: 0.625rem;
}
.vendor-micro-cont .vendor-menu-cont {
    display: none !important;
}
.vendor-micro-cont .vendor-banner {
    /*max-width: 1140px;
    margin: auto;*/
}
.vendor-micro-cont.dt-view .vendor-logo {
    max-width: 105px;
}
.vendor-micro-cont.dt-view .container#about {
    padding-left: 0;
    padding-right: 0;
}
.vendor-micro-cont.dt-view .container#about .vendor-heading {
    display: none;
}
/*Vendor microsite short description by user*/
.vendor-micro-cont.dt-view .container#about div,
.vendor-intro-mob .vendor-text div {
    border: none !important;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0rem !important;
    padding-top: 0.35rem !important;
}
.vendor-intro-mob .vendor-text div {
    font-size: 0.75rem;
}
.vendor-micro-cont.dt-view .container#about div:not(:last-child),
.vendor-intro-mob .vendor-text div:not(:last-child) {
    border-bottom: 1px solid #b2b2b2 !important;
    padding-bottom: 2.5rem !important;
}
.vendor-intro-mob .vendor-intro,
.vendor-intro-mob .vendor-rating {
    display: none;
}
.vendor-micro-cont.dt-view .container#about .intro,
.vendor-intro-mob .vendor-text .intro {
    font-family: var(--primary-font);
    font-size: 1rem;
    text-align: center;
    line-height: normal;
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.vendor-micro-cont.dt-view .container#about h6,
.vendor-intro-mob .vendor-text h6 {
    color: #df91bc;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 2.8px;
}
.vendor-micro-cont.dt-view .container#about div.name,
.vendor-intro-mob .vendor-text div.name {
    border-bottom: none !important;
    color: #171c3d;
    font-family: var(--primary-font);
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 2.1px;
}
.vendor-micro-cont.dt-view .container#about .btn.chat-btn,
.vendor-intro-mob .vendor-text .btn.chat-btn {
    color: #fff;
    display: flex;
    margin: 2.125rem auto auto;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 165px;
    height: 50px;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
}
.vendor-micro-cont.dt-view .container#about .btn.chat-btn:hover,
.vendor-intro-mob .vendor-text .btn.chat-btn:hover {
    background-color: transparent !important;
    border: 0.0625rem solid #171c3d !important;
    color: #171c3d;
}
.vendor-micro-cont.dt-view .container#about div.profile-image,
.vendor-intro-mob .vendor-text div.profile-image {
    border-bottom: none !important;
}
.vendor-micro-cont.dt-view .container#about .profile-image img,
.vendor-intro-mob .vendor-text .profile-image img {
    border-radius: 50%;
    max-width: 315px;
    max-height: 315px;
}
.vendor-intro-mob .vendor-link {
    display: none;
}
/*End vendor microsite short description by user*/
.vendor-micro-cont .container {
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 1.625rem;
    text-align: center;
}
.vendor-micro-cont .container.vendor-contact-form-cont {
    padding-top: 1.8rem !important;
}
.vendor-micro-cont .container.vendor-contact-form-cont .vendor-form-inner {
    background-color: #dadada;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: left;
    padding: 24px 28px 20px;
    margin-top: 2rem;
    margin-bottom: 2.7rem;
}
.vendor-micro-cont .container.vendor-contact-form-cont form .form-control {
    border-color: #b2b2b2;
    color: #171c3d;
    font-size: 0.875rem;
}
.vendor-micro-cont .container.vendor-contact-form-cont form button[type="submit"] {
    height: 49px;
    width: 251px;
}
.vendor-micro-cont .container.vendor-contact-form-cont .vendor-form-inner .partners-note {
    padding-top: 1.25rem;
}
.vendor-micro-cont .container.vendor-intro-holder {
    border-bottom: none;
    padding-bottom: 0;
}
.vendor-micro-cont .container.vendor-intro-holder .vendor-logo {
    border: none;
}
.vendor-micro-cont .container#best-seller-cont .vendor-products {
    align-items: flex-start !important;
    padding-top: 1.625rem !important;
}
.vendor-micro-cont .vendor-point-cont .vendor-point-desc {
    font-weight: 400;
    font-size: 0.875rem;
}
.vendor-micro-cont .vendor-point-cont .vendor-point-desc a {
    color: #171c3d;
    font-size: 0.875rem;
}
.vendor-micro-cont .container#delivery {
    padding-top: 1.8rem !important;
}
.vendor-micro-cont .container.returns-cont {
    padding-top: 0.125rem !important;
}
.vendor-micro-cont .container.tnc-cont {
    margin-bottom: 1.75rem;
}
.vendor-micro-cont .container .vendor-heading b,
.vendor-micro-cont .container .vendor-heading b a {
    color: #df91bc;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}
.vendor-micro-cont .container#about .vendor-heading i,
.vendor-micro-cont .container#best-seller-cont .vendor-heading i {
    display: none;
}
.vendor-micro-cont .container .vendor-heading b a.collapse-link {
    margin-right: 1.25rem;
    font-weight: 600;
}
.vendor-micro-cont .container#best-seller-cont .vendor-heading b a.collapse-link {
    margin-right: 0;
}
.vendor-micro-cont .container .vendor-heading b a {
    font-weight: 300;
}
 /*end vendor microsite*/
 .success-container .success-msg-cont .success-title,
 .success-container .success-msg-cont .order-no {
    font-weight: 800;
 }
 .success-container .success-msg-cont .keep-shop .btn {
    border: 0.0625rem solid #171c3d;
    font-size: 0.875rem;
    font-weight: 600;
 }
.footer .footer-widget .widget-title,
.footer .mobile-footer .list-group .list-group-holder > a {
    color: #df91bc;
    font-size: 0.875rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2.1px;
}
.footer .mobile-footer .list-group .list-group-holder > a,
.footer .mobile-footer .footer-widget ul li a {
    font-family: var(--primary-font);
}
.footer .footer-widget .widget-content ul li {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}
.footer .footer-widget .widget-content ul li a,
.footer .footer-widget .widget-content ul li a h6,
.footer .mobile-footer .footer-widget ul li a {
    color: #171c3d;
    font-family: var(--primary-font);
    font-size: 0.625rem;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.footer .footer-widget .select-form .form-group label {
    font-size: 0.625rem;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.footer .footer-widget .select-form .form-group select.form-control {
    border-color: #b2b2b2;
    font-size: 0.875rem;
}
.footer .footer-widget .select-form .btn {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    margin-top: 0.9375rem;
    text-transform: uppercase;
    height: 2.375rem;
    width: 7.3125rem;
}
.footer .footer-widget .widget-content .social-links li {
    width: 42%;
}
.footer .copyright-cont .powered-by,
.footer .copyright-cont .powered-by a {
    color: #000;
    font-size: 0.625rem;
    text-transform: uppercase;
    line-height: 1rem;
}
.footer .copyright-cont .powered-link-cont {
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    header.header .logo img {
        max-width: 120px;
    }
    header .mob-top-links .dropdown-flag .dropdown-toggle img {
        display: inline-block;
        max-width: 2.0625rem;
    }
    header .mob-top-links .dropdown-flag .dropdown-toggle::after {
        vertical-align: 0;
    }
    .custom-container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .promo-holder .promo-box:first-child {
        margin-bottom: 1.125rem;
    }
    .promo-holder .promo-box {
        height: auto;
    }
    .home-characs {
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
    }
    .home-characs .custom-container {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    .home-characs .single-charac {
        font-size: 7px;
        line-height: 0.625rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        min-height: auto;
        text-align: center;
    }
    .home-characs img {
        max-width: 0.875rem;
    }
    body:not([data-pagetype="vendor-page"]) .home-characs.inner {
        margin-top: 1.875rem;
        margin-bottom: 1.375rem;
    }
    .product-container .mob-btn-group {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0.375rem;
    }
    .product-container .mobile-nav .btn-transparent {
        border-color: #171c3d;
        font-size: 0.875rem;
        max-width: 9.375rem;
    }
    .product-container .product-text {
        padding-bottom: 1.25rem;
    }
    .product-container h2.category-heading {
        color: #171c3d;
        font-size: 1.25rem;
        font-weight: 600;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
        margin-bottom: 0.0625rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3 {
        font-size: 0.875rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a:not(.vendor-link) {
        margin-bottom: 0.75rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
        font-size: 0.75rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
        font-size: 0.875rem;
        line-height: 1rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        margin-bottom: 0.1875rem !important;
    }
    .products-container .products-holder-main .load-more-btn {
        margin-bottom: 4rem;
    }
    .product-detail-container .product-holder .product-order {
        border-top: none;
    }
    .product-detail-container .product-holder .product-order .tab-content .tab-pane#details {
        height: auto !important;
    }
    .related-products .related-products-holder .product-content .product-title {
        margin-bottom: 0.375rem;
    }
    .custom-container.cart-container .checkout-btn {
        background-position: 12%;
    }
    .custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link {
        flex-flow: column;
    }
    .vendor-micro-cont .container,
    .vendor-micro-cont .container#delivery,
    .vendor-micro-cont .container.returns-cont {
        padding-top: 1.25rem !important;
    }
    .vendor-intro-mob .vendor-text .intro {
        font-size: 1rem;
    }
    .vendor-micro-cont.dt-view .container#about div.name,
    .vendor-intro-mob .vendor-text div.name {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.07px;
    }
    .success-container .success-msg-cont {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .footer .footer-widget .widget-content .social-links {
        justify-content: center;
    }
    .footer .mobile-footer .list-group .list-group-holder > a {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
    .footer .footer-widget .widget-content .social-links li:not(:last-child) {
        margin-right: 1.625rem;
    }
    .footer .footer-widget .widget-content .social-links li {
        margin-bottom: 0.625rem;
        width: auto;
    }
    .footer .copyright-cont {
        padding-bottom: 1.25rem;
    }
    .footer .pay-methods-avail {
        padding-bottom: 1.375rem;
    }
    .footer .copyright-cont .powered-by {
        padding-bottom: 1.25rem;
    }
    .footer .copy-right-img-top {
        max-width: 44px;
    }
}

@media (max-width: 767.98px) {
    header.header .btn.mobile-menu {
        padding-left: 0.1875rem;
    }
    header.header .btn.mobile-menu svg {
        max-width: 1.125rem;
    }
    header.header .logo img {
        /*max-height: 92px;
        max-width: 68px;*/
        max-width:60px;
        max-height:81px;
    }
    header .mob-top-links li a img,
    header .mob-top-links .dropdown-flag .dropdown-toggle img {
        max-width: 1.125rem;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu {
       transform: translateX(-70%) !important;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu:after {
        left: auto;
        right: 16%;
    }
    header .mob-top-links .add-to-basket .btn.btn-primary,
    header .mob-top-links .dropdown-flag .dropdown-menu .select-form .btn.btn-primary,
    header .mob-top-links .dropdown-flag .dropdown-menu #update-preferences {
        font-size: 0.75rem;
    }
    .section-title,
    .home-intro h2,
    .featured-client h2 {
        font-size: 1rem;
    }
    .sign-up-section h2 {
        font-size: 1rem;
        margin-bottom: 0.9375rem !important;
    }
    .sign-up-section .sign-up-container .signup-text {
        width: 100%;
    }
    .sign-up-section .sign-up-container .signup-text,
    .sign-up-section .sign-up-container .signup-text p {
        font-size: 0.875rem;
    }
    .sign-up-section .sign-up-container .sign-up-form {
        margin-bottom: 0;
    }
    .sign-up-section .sign-up-container .sign-up-form input[type="email"],
    .sign-up-section .sign-up-container .sign-up-form .btn.submit {
        font-size: 0.75rem;
    }
    .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
        margin-bottom: 1.5rem;
    }
    .mobile-nav .btn-transparent:first-child {
        margin-right: 2.8125rem;
    }
    .mobile-nav .btn-transparent {
        min-width: 9.375rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image,
    .related-products .related-products-holder .related-products-image {
        height: auto;
        min-height: 9.375rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img,
    .related-products .related-products-holder .related-products-image img {
        max-height: 9.375rem;
    }
    .related-products .related-products-holder .related-products-image {
        margin-bottom: 0.625rem;
    }
    .related-products .related-products-holder .product-content .product-rating a.wishlistImage img {
        max-width: 0.9375rem;
        max-height: 0.9375rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content {
        padding-bottom: 1rem;
    }
    .product-detail-container .product-holder {
        margin-bottom: 0 !important;
        padding-bottom: 1.75rem !important;
    }
    .product-detail-container .product-holder .product-detail {
        margin-top: 0.1875rem !important;
    }
    .product-detail-container .product-holder .product-detail .product-info .info-holder {
        margin-top: 0;
        margin-bottom: 0.375rem;
    }
    .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
        font-size: 1.125rem;
    }
    .product-detail-container .product-holder .product-detail .product-info .made-by,
    .product-detail-container .product-holder .product-detail .product-info .made-by a {
        font-size: 0.875rem;
    }
    .product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews,
    .product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
        font-size: 1.125rem;
    }
    .product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4,
    .product-detail-container .product-holder .product-order .tab-content .tab-pane,
    .product-detail-container .personalise-form .form-group label,
    .product-detail-container .personalise-form .form-group .form-control,
    .product-detail-container .personalise-form .variant-container .option-label,
    .product-detail-container .personalise-form .variant-container .variant .option-container .customcheck .checkmark {
        font-size: 0.875rem;
    }
    .product-detail-container .personalise-form .form-group .order-btn {
        font-size: 0.75rem;
    }
    .product-detail-container .product-holder .share-link li span {
        font-size: 0.875rem;
    }
    .related-products h3,
    .related-products h3 a {
        font-size: 0.75rem;
    }
    .custom-container.cart-container .continue-btn,
    .custom-container.cart-container .checkout-btn,
    .custom-container.cart-container .vendor-heading {
        font-size: 0.75rem;
    }
    .custom-container.cart-container .checkout-btn {
        background-position: 18%;
    }
    .custom-container.cart-container .vendor-items-holder {
        padding-bottom: 0;
    }
    .vendor-items-holder app-item:not(:last-child) .cart-item {
        border-bottom: 0.0625rem solid #ededed !important;
        padding-bottom: 0.875rem;
    }
    .vendor-items-holder app-item:last-child .cart-item {
        padding-bottom: 0.875rem;
    }
    .vendor-products .product-col {
        min-width: 44%;
    }
    .cart-item .item-details .item-name,
    .cart-item .item-details .details-desc .item-desc .collapse-link,
    .cart-item .item-details .details-desc .item-desc .collapse-link div,
    .cart-item .item-details .item-opts,
    .cart-item .item-details .item-opts .collapse-link,
    .cart-item .item-details .shipping-opts,
    .cart-item .add-gift-msg a {
        font-size: 0.875rem;
    }
    .cart-item .item-details .item-opts .collapse-link ,
    .cart-item .add-gift-msg a {
        color: #df91bc;
        font-family: var(--primary-font);
        text-transform: capitalize;
    }
    .cart-item .item-details a.edit-item,
    .cart-item .item-details a.del-item {
        height: 0.9375rem;
        width: 0.9375rem;
    }
    .cart-item .mob-sub-total-cont {
        padding-top: 0.3125rem;
        font-size: 0.875rem;
    }
    .cart-item .mob-sub-total-cont label {
        margin-bottom: 0.375rem;
    }
    .cart-item .mob-sub-total-cont .mob-sub-total {
        font-weight: 700;
    }
    .cart-item .img-caption span.item-count {
        font-size: 0.875rem;
    }
    .cart-item .item-det-cont .gift-msg-cont .form-control {
        border-color: #b2b2b2;
        font-size: 0.875rem;
    }
    .custom-container.cart-container.mob-total-cont {
        margin-bottom: 1.6875rem;
    }
    .custom-container.cart-container .mob-cart-sep {
        margin-top: 0 !important;
        padding-top: 0.3125rem !important;
        padding-bottom: 0.3125rem !important;
    }
    .custom-container.cart-container .shopping-btns-last {
        padding-bottom: 1.5rem;
    }
    .custom-container.checkout {
        padding-left: 0.875rem;
        padding-right: 0.875rem;
    }
    .custom-container.checkout .checkout-tabs-cont .nav-tabs {
        align-items: flex-start;
    }
    .custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link {
        font-size: 0.75rem;
    }
    .custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link span:not(.step) {
        line-height: 1.125rem;
        margin-top: 0.5rem;
    }
    .custom-container.checkout .checkout-tabs-cont .tab-content {
        padding-top: 1.625rem;
    }
    .custom-container .login-signup-tabs-cont .left-panel,
    .custom-container.checkout .checkout-tabs-cont .left-panel {
        padding-bottom: 0.375rem;
    }
    .custom-container.checkout .checkout-tabs-cont .left-panel.shipping-left {
        padding-top: 0.3125rem;
    }
    .custom-container.checkout .checkout-tabs-cont .panel-heading,
    .custom-container.checkout .checkout-tabs-cont .grey-bg .panel-heading,
    .custom-container .login-signup-tabs-cont .panel-heading,
    .custom-container.checkout .checkout-tabs-cont form.shipping-form .panel-heading {
        font-size: 1.25rem;
        margin-bottom: 0.875rem;
    }
    .custom-container.checkout .checkout-tabs-cont .left-panel.shipping-left .panel-heading {
        margin-bottom: 1.375rem;
    }
    .custom-container.checkout .checkout-tabs-cont .shipping-form .form-control {
        height: 2.5rem;
    }
    .new-cust-note {
        display: none !important;
    }
    .custom-container.checkout .checkout-tabs-cont form label,
    .custom-container .login-signup-tabs-cont form label {
        font-size: 0.75rem;
        margin-bottom: 0.625rem;
    }
    .custom-container.checkout .checkout-tabs-cont form input[type="text"],
    .custom-container.checkout .checkout-tabs-cont form input[type="email"],
    .custom-container.checkout .checkout-tabs-cont form input[type="password"],
    .custom-container .login-signup-tabs-cont form input[type="text"],
    .custom-container .login-signup-tabs-cont form input[type="email"],
    .custom-container .login-signup-tabs-cont form input[type="password"] {
        height: 2.8125rem;
    }
    form.login-form input[type="email"] {
        margin-bottom: 0.3125rem;
    }
    form.login-form input[type="password"] {
        margin-bottom: 0.875rem;
    }
    .custom-container.checkout .checkout-tabs-cont form .form-control,
    .custom-container .login-signup-tabs-cont form .form-control {
        font-size: 0.75rem;
    }
    form.login-form label.remember {
        margin-bottom: 1rem;
    }
    form.login-form .forget-psw-link {
        font-size: 0.75rem;
    }
    form.login-form .btn.submit,
    .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
        background-position: 37%;
        height: 3.5rem;
        font-size: 0.75rem;
    }
    form.signup-form label.newsletter-check {
        margin-top: 0.75rem;
        margin-bottom: 1.25rem !important;
    }
    form.signup-form .btn.submit {
        background-position: 20%;
        height: 3.5rem;
        font-size: 0.75rem;
    }
    .tab-panel-cont.checkout-tab-panel-cont .guest-form-cont .btn {
        height: 3.5rem;
        font-size: 0.75rem;
    }
    .order-summary-container .grey-bg {
        padding-top: 0.5rem;
    }
    .custom-container.checkout .checkout-tabs-cont .grey-bg .panel-heading {
        margin-bottom: 2.125rem;
    }
    .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-title,
    .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item,
    .custom-container.checkout .checkout-tabs-cont .sub-total-holder .sub-total-item,
    .custom-container.checkout .checkout-tabs-cont .total-holder .order-total-item {
        font-size: 0.75rem;
    }
    .custom-container.checkout .checkout-tabs-cont form.shipping-form .btn.submit {
        font-size: 0.75rem;
        height: 3.5rem;
    }
    .shipping-form-container form.shipping-form .btn.submit img {
        margin-top: -0.0625rem;
    }
    .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .del-option .opt-choice-label,
    .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .del-option select,
    .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .del-option .option-price {
        font-size: 0.75rem;
    }
    .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .del-option .option-price {
        align-items: flex-end !important;
        padding-bottom: 0.25rem;
    }
    .custom-container.checkout .checkout-tabs-cont form.payment-form ngx-stripe-card{
        max-height: 2.5rem;
    }
    .custom-container.checkout .checkout-tabs-cont form.payment-form ngx-stripe-card .field.StripeElement {
        margin-top: -7px !important;
    }
    .custom-container.checkout .checkout-tabs-cont form.payment-form .card-images-holder {
        float: left;
        padding-left: 1.375rem !important;
        margin-left: 0;
    }
    .custom-container.checkout .checkout-tabs-cont form .radio-container .checkmark {
        width: 1.5rem;
        height: 1.5rem;
    }
    .custom-container.checkout .checkout-tabs-cont form .radio-container .checkmark::after {
        border-width: 0.25rem;
        width: 1.25rem;
        height: 1.25rem;
    }
    .custom-container.checkout .checkout-tabs-cont form.payment-form .btn.apply-btn {
        font-size: 0.75rem;
        height: 2.8125rem;
    }
    .custom-container.checkout .checkout-tabs-cont form.payment-form .promo-note,
    .custom-container.checkout .checkout-tabs-cont form.payment-form .promo-note a,
    .custom-container.checkout .checkout-tabs-cont .user-add-wrap {
        font-size: 0.75rem;
    }
    .custom-container.checkout .checkout-tabs-cont form.payment-form .payment-btn-cont {
        padding-top: 1rem !important;
    }
    .custom-container.checkout .checkout-tabs-cont form.payment-form .btn.submit {
        background-position: 34% !important;
    }
    .success-container .success-msg-cont .keep-shop .btn {
        font-size: 0.75rem;
    }
    .vendor-micro-cont.mob-view .mob-btn-group {
        padding-bottom: 1rem;
    }
}

@media (max-width: 575.98px) {
    header .mob-top-links .dropdown-flag .dropdown-menu {
        transform: translateX(-75%) !important;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu:after {
        left: auto;
        right: 10%;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu .select-form .btn.btn-primary {
        font-size: 0.75rem;
    }
    .products-container .products-holder-main .products-holder .product-column,
    .related-products .related-products-holder .rel-product-col {
        max-width: 9.375rem;
    }
    .custom-container.cart-container .total-cart-wrapper {
        min-width: 100%;
    }
    .custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link {
        padding-top: 0.125rem;
        padding-right: 0;
        padding-left: 0;
    }
    .vendor-micro-cont .vendor-banner {
        background-position: center;
        background-size: cover;
        height: 85px;
    }
    .vendor-micro-cont .container.vendor-intro-holder {
        padding-top: 0 !important;
    }
    .vendor-micro-cont.dt-view .container#about .intro,
    .vendor-intro-mob .vendor-text .intro {
        font-size: 1rem;
    }
    .vendor-micro-cont .container.vendor-intro-holder .vendor-logo {
        margin-bottom: 0 !important;
    }
    .vendor-micro-cont .container#best-seller-cont {
        padding-bottom: 0.625rem;
    }
    .vendor-micro-cont .container#best-seller-cont .vendor-products {
        justify-content: space-between !important;
        padding-left: 0.875rem !important;
        padding-right: 0.875rem !important;
    }
    .vendor-micro-cont .container#best-seller-cont .vendor-products .product-image {
        margin-right: 0;
        margin-bottom: 1.5rem !important;
        flex-basis: 40%;
        max-width: 144px;
    }
}

@media (min-width: 768px) {
    .payment-form-container form .pay-methods-cont {
        margin-bottom: 0 !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    header .toggle-menu-cont {
        max-width: none;
    }
    header.header .logo {
        padding-left: 2.5rem;
        height: auto;
    }
    header.header .menu-links-cont {
        flex-basis: 33%;
        max-width: 33%;
    }
}
@media (min-width: 992px) {
    header.header .logo {
        padding: 1.125rem 0 0;
    }
    header.header .head-links {
        margin-bottom: 0.25rem;
    }
    header.header .menu-holder>li>div:not(.nav-column) {
        margin-top: -0.0625rem;
        padding: 0.625rem 0.3125rem 0 1rem;
    }
    app-product-listing .sidebar-widget {
        margin-right: 0;
        padding-right: 1.25rem;
    }
    .products-container .products-holder-main .products-holder {
        justify-content: space-between;
    }
    .products-container .products-holder-main .products-holder .product-column,
    .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
        margin: 0;
        width: 30.15%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image,
    .related-products .related-products-holder .related-products-image {
        height: auto;
        min-height: 211px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img,
    .related-products .related-products-holder .related-products-image img {
        max-height: 211px;
    }
    .product-detail-container .product-holder {
        margin-top: 1.5rem;
    }
    .product-detail-container .product-holder .product-detail .product-info .product-pricing {
        padding-top: 0.375rem;
    }
    .product-detail-container .preview-thumbnail .owl-item {
        margin-right: 0 !important;
    }
    .product-detail-container .preview-thumbnail .owl-item img {
        max-width: 128px;
    }
    .product-detail-container .product-holder .product-order .tab-content .detail-text .detail-holder {
        max-height: none;
    }
    .cart-container .shopping-btns-top {
        padding-top: 1.375rem !important;
        padding-bottom: 1.25rem !important;
    }
    .custom-container.cart-container .continue-btn,
    .custom-container.cart-container .checkout-btn {
        max-width: 405px;
    }
    .custom-container.cart-container .vendor-items-holder .vendor-heading-holder {
        padding-bottom: 0.1875rem;
    }
    .custom-container.cart-container .vendor-heading {
        margin-bottom: 0 !important;
    }
    .cart-item .item-img-cont {
       flex-basis: 12.5%;
       max-width: 12.5%;
       padding-right: 2rem;
    }
    .cart-item .item-img img {
        margin-top: 0.125rem;
    }
    .cart-item .item-details .details-desc {
        padding-top: 0.25rem;
    }
    .cart-item .item-details .item-name {
        margin-bottom: 0;
    }
    .custom-container.cart-container .shopping-btns-last {
        padding-top: 0 !important;
        margin-top: 0 !important;
        padding-bottom: 1rem;
    }
    .custom-container.checkout .checkout-tabs-cont {
        padding-top: 1rem;
    }
    .custom-container .login-signup-tabs-cont .sign-up-form-cont,
    .custom-container.checkout .checkout-tabs-cont .sign-up-form-cont {
        border-left: 0.0625rem solid #171c3d;
    }
    .custom-container.checkout .checkout-tabs-cont .shipping-form-container .tab-panel-cont {
        padding-top: 0.625rem !important;
    }
    .custom-container.checkout .checkout-tabs-cont .left-panel.wb.shipping-left {
        padding-top: 0;
        padding-right: 1.625rem;
    }
    .custom-container.checkout .checkout-tabs-cont form.shipping-form .form-sub-cont {
        padding-top: 0;
    }
    .custom-container.checkout .checkout-tabs-cont .right-panel,
    .tab-panel-cont.checkout-tab-panel-cont .guest-form-cont {
        padding-left: 3.375rem;
    }
    .vendor-micro-cont .container.vendor-contact-form-cont {
        padding-left: 0;
        padding-right: 0;
    }
    .vendor-micro-cont .container.tnc-cont .vendor-heading {
        margin-top: 0.45rem !important;
        margin-bottom: 0.5rem !important;
    }
    .footer .custom-container {
        max-width: 1140px;
    }
    .footer .copyright-cont {
       margin-top: 5rem;
       padding-bottom: 1rem;
   }
   .footer .copyright-cont .col-12:first-child {
       padding-left: 0;
   }
   .footer .copyright-cont .pay-methods-avail {
       padding-bottom: 0 !important;
   }
}
@media (min-width: 1200px){
   .product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
       padding-top: 1rem;
       padding-bottom: 1rem;
   }
}
@media (min-width: 1400px){

}
.promo-section {
    padding-bottom:40px
}

.featured-client {
    display:none;
}

.menu-holder {
    width:120%;
    left:-10%;
}

.menu-image {
 max-width: 313px;
}

.custom-container.checkout .page-heading, .custom-container.checkout .d-lg-none {display:block !important}
