/*.featured-client, .product-detail .shipping {display:none !important;}*/
.featured-client {display:none !important;}
/*.powered-by div{display:none !important;} */
/* .powered-by .powered-link-cont{display:block !important;} */
/*.toggle-menu-cont .logo {height:115px !important;}*/
.btn.btn-primary:hover, btn.btn-primary:active {background-color: #8f8f8f !important; opacity: .8}
/*.btn.btn-primary {color: #FFF}*/
:root {
    --primary-font: futura-pt,sans-serif;
    --secondary-font: minion-pro,sans-serif;
}
.nav-link {text-transform:uppercase !important;}

.promo-title, .promo-description {
    font-weight: 900 !important;
    text-shadow: 1px 2px black !important;
}

.home-banner .banner-heading {
    top:85% !important;
}

/*.app-header, .header { background-color: #00182E }*/

.notificationbar {font-family: minion-pro,sans-serif !important; font-size:14px !important;border-bottom: 1px solid #d6d4d4; color: #FFF; border-bottom:none!important}

header.header {border-bottom:none !important}

.nav-link {font-weight:900 !important; letter-spacing:0.3em}

header.header .logo {margin-bottom:30px}

/*.section-title {
    text-transform: uppercase !important;
    line-height: normal !important;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 24px;
    color: #031F2E;
    margin: 50px 0 20px 0;
}*/

 .footer {background-color: #000; margin-top:0px !important; color: #FFF}

 .footer a {font-family:futura-pt,sans-serif !important; font-size: 1rem!important; color: #ae9364!important;}

 .footer .footer-widget .widget-title { color: #fff; font-family:futura-pt,sans-serif !important; text-transform:uppercase !important; line-height:normal !important}

.footer-widget h3, .social-links {display:none !important;}

/*.post-link {width: 85%; font-size:15px; color: #031F2E; font-family: 'Crimson Pro', serif !important; text-transform:uppercase !important; line-height:normal !important}*/
.post-link {font-size:16px; font-family:'Nunito Sans', sans-serif !important;}


.product-heading h1 { font-family: minion-pro,sans-serif !important; line-height:normal !important}

header.header .menu-holder li a {
    background-color: #fff;
    background-size: cover;
    color: #636363;
    font-family: minion-pro,sans-serif;
    font-size: 17px;
    text-transform: capitalize;
    cursor: pointer;
    padding: .375rem .625rem .438rem;
    line-height: 1.125rem;
    text-align: center;
    font-weight:200 !important;
}
/*background-color:#00182e; color: #FFF; border-bottom: none !important;}(/

.shipping {color:#FFF !important}

/*.search-item-form {border:1px solid #FFF !important}*/

/*#dropdownMenuButton {color: #FFF !important}*/

/*header.header .head-links li a {filter: brightness(100);}*/

.menu-holder {padding:10px 0 10px 0 !important}

.home-banner {margin-top: -20px}

.sign-up-container h2, .section-title {  font-family: minion-pro,sans-serif !important;  line-height:normal !important}

.sign-up-container {padding: 50px 0 50px 0}

#mailchip-submit-btn {background-color: black !important; color:white !important}

.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    margin-right: 0px !important;
}

.powered-link-cont p, .powered-link-cont h3 {display:none;}

header.header .logo img {width:180px; height: 36px}

header.header .logo {
    padding: 40px 0 10px;
}

.powered-by div:nth-child(1) {display: none;}

.btn.btn-primary {color: #FFF !important}

.powered-link-cont{font-size: .875rem;color: #828387;}

.shipping li:nth-child(1), header.header .shipping li a.dropdown-toggle:after, .dropdown-menu {display:none !important};

.gifts-content {top: 40% !important; left: 10% !important;}

.gifts-desc {padding-top:0px !important; font-size:12px}
.promo-desc {padding-top:0px !important; font-size:12px}

.gifts-heading {text-shadow: 1px 2px black !important;}

.home-intro-container h2 {text-align: center; padding:30px}

.meth-link {display:inline; padding:5px}

.rightcol {max-width: 250px;}
.rightcol p {color: #ae9364; padding:5px}
.pay-methods-avail img {display: none !important}

.product-detail .shipping {display: none}
