:root{
  --primary-font: 'GothamBook';
  --primary-font-light: 'GothamLight';
  --primary-font-med: 'GothamMedium';
  --primary-font-bold: 'GothamBold';
  --secondary-font: 'Adobe-Caslon-Pro-regular';
  --secondary-font-bold: 'Adobe-Caslon-Pro-bold';
  --third-font: 'Montserrat', sans-serif;
  --forth-font: 'brandon_grotesqueregular';
  --text-color: #00172F;
  --color-white: #fff;
  --accent: #FDFAF6;
  --stroke: #fcfcfc;
  --color-light: #595959;
  --grey: #ededed;
  --color-black: #000;
}
html {
  overflow-x: hidden;
}
body {
  background-color: var(--color-white);
  color: var(--text-color);
  font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: var(--secondary-font);
}
a,
a:hover,
a:focus  {
  color: var(--text-color);
  font-family: var(--primary-font);
  text-decoration: none;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #fff;
  letter-spacing: 0.8px;
  height: auto;
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active {
  background-color: var(--primary-bg-color);
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.default-breadcrumb {
  display: none;
}
.default-breadcrumb,
.arrow-breadcrumbs {
  /*align-items: center;*/
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
  color: #595959;
  font-family: var(--primary-font-med);
  font-size: 0.6875rem;
  font-weight: 350;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
  color: var(--color-black);
  font-family: var(--primary-font-bold);
  font-weight: 700;
}
.arrow-breadcrumbs li.processed a {
  color: var(--color-light);
}
.arrow-breadcrumbs li.breadcrumb-item + .breadcrumb-item {
  padding-left: 1rem;
}
.arrow-breadcrumbs li.breadcrumb-item + .breadcrumb-item::before {
  padding-top: 0.125rem;
}
.form-control {
  color: var(--text-color);
}
.form-control::placeholder {
  color: var(--color-light);
}
.form-control:focus {
  box-shadow: none;
}
.cdk-overlay-backdrop.cdk-overlay-dark-backdrop {
  background-color: var(--color-black);
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.30;
}
header.header {
  background-color: var(--primary-bg-color);
  border-bottom: none;
  margin-bottom: 0;
}
body[data-pagetype="home"] header.header {
  margin-bottom: 0;
}
body[data-pagetype=""] header.header,
body[data-pagetype="wishlist"] header.header {
  margin-bottom: 1.75rem;
}
header .spacing {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
header .row.spacing {
  align-items: flex-start;
}
header.header .mobile-menu {
  background-color: transparent;
  display: flex;
  align-items: flex-start;
}
header.header .mobile-menu svg rect {
  fill: var(--color-white);
}
header.header .mobile-menu .mob-menu-label {
  font-family: var(--primary-font-light);
  font-size: 0.625rem;
  font-weight: 325;
  line-height: 0.75rem;
  letter-spacing: 0.25em;
  padding-top: 0.1875rem;
  margin-left: 0.625rem;
}
header.header .shipping li,
header.header .shipping li a {
  color: var(--color-white);
  font-size: 0.6875rem;
  font-weight: 325;
  letter-spacing: 0.8px;
  line-height: 1rem;
}
header.header .shipping li img[alt="store flag"],
header.header .shipping li a.dropdown-toggle:after,
header .mob-top-links .dropdown-flag a.dropdown-toggle:after {
  display: none;
}
header .mob-top-links li a.mob-search-link {
  display: none !important;
}
header.header .shipping li a.dropdown-toggle,
header .mob-top-links .dropdown-flag a.dropdown-toggle {
  font-family: 'GothamMedium';
  font-weight: 350;
  line-height: 1;
  pointer-events: none;
}
header.header .logo img {
  height: auto;
  width: 280px;
}
header.header .head-links {
  margin-top: 0.0625rem;
  padding-top: 1rem;
  padding-bottom: 0.3125rem !important;
}
header.header .head-links li a img {
  height: auto;
}
header.header .head-links li a img[alt="user-profile"] {
  max-width: 17.5px;
}
header.header .head-links li a img[alt="wishlist"],
header.header .head-links li a img[alt="cart"] {
  max-width: 21px;
}
header.header .head-links li.wishlist-cont,
nav#sidebar ul li.wishlist-cont {
  display: none !important;
}
header.header .head-links li .cart-qty,
header .mob-top-links .cart-qty {
  background-color: transparent;
  font-size: 0.5625rem;
  font-weight: 350;
  line-height: 1.3125rem;
  top: 0.875rem;
}
header.header .head-links li .cart-qty {
  left: 0.6875rem;
}
header .mob-top-links .cart-qty {
  top: 0.6875rem;
  left: 0.5rem;
  font-size: 0.625rem;
  line-height: 1;
}
header.header .head-links li .add-to-basket .dropdown-menu,
header .mob-top-links .add-to-basket .dropdown-menu,
header.header .head-links li .add-to-basket .dropdown-menu p,
header .mob-top-links .add-to-basket .dropdown-menu p {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-size: 0.6875rem;
  font-weight: 325;
  line-height: 0.8125rem;
}
header.header .head-links li .add-to-basket .dropdown-menu,
header .mob-top-links .add-to-basket .dropdown-menu {
  border: none;
  border-radius: 0.1875rem;
  padding: 1.375rem 1.375rem 1.9375rem 1.375rem;
}

header.header .head-links li .add-to-basket .dropdown-menu p,
header .mob-top-links .add-to-basket .dropdown-menu p {
  margin-bottom: 0.5rem;
}
header.header .head-links li .add-to-basket .dropdown-menu h4,
header .mob-top-links .add-to-basket .dropdown-menu h4 {
  color: var(--primary-bg-color);
  font-family: var(--primary-font-med);
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 0.75rem;
  letter-spacing: 0.125rem;
}
header.header .head-links li .add-to-basket .dropdown-menu h5,
header .mob-top-links .add-to-basket .dropdown-menu h5 {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-size: 0.6875rem;
  font-weight: 325;
  line-height: 0.8125rem;
  letter-spacing: 0.0625rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont,
header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont {
  min-height: auto;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price {
  margin-bottom: auto;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-details {
  align-items: center;
  padding-bottom: 1.5rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn,
header .mob-top-links .add-to-basket .dropdown-menu .btn {
  border-radius: 0.25rem;
  padding-top: 1.0625rem;
  font-family: var(--primary-font-bold);
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.8px;
  height: 3.125rem;
  text-transform: uppercase;
  max-height: none;
}
header.header .search .search-item-form .nav-search-field,
.search .nav-search-field {
  background-color: transparent !important;
  font-size: 0.5rem;
  border-bottom: 0.3px solid var(--accent);
  color: var(--color-white);
}
header.header .search .search-item-form .nav-search-field {
  margin-right: 0.625rem;
}
header.header .search .search-item-form .nav-search-field::placeholder,
.search .nav-search-field::placeholder {
  font-size: 0;
}
header.header .search .search-item-form button {
  height: 1rem;
  padding: 0;
  width: 1rem;
}
header.header .search .search-item-form button img {
  height: auto;
  width: 0.875rem;
  margin-top: -1rem;
}
.wrapper .featured-client {
  display: none;
}
/*product detail start*/
.product-detail-container .product-holder {
  padding-top: 1.25rem !important;
  padding-bottom: 2.25rem !important;
  margin-bottom: 0 !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating,
.product-detail-container .product-holder .product-detail .shipping,
.product-detail-container .product-holder .product-detail .product-info .product-pricing {
  display: none;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  color: var(--primary-bg-color);
  font-weight: 400;
  letter-spacing: 0.8px;
  width: 100%;
}
.product-detail-container .product-holder .product-detail {
  height: auto;
}
.product-detail-container .product-holder .product-order .nav-tabs {
  display: none;
}
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding: 0;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child,
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child + br {
  display: none;
}
.product-detail-container .personalise-form {
  padding-top: 0.5rem;
}
.product-detail-container .personalise-form .form-group label,
.product-detail-container .personalise-form .delivery-form .title {
  color: var(--text-color);
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.product-detail-container .personalise-form .delivery-form .title {
  margin-bottom: 1.0625rem;
}
.product-detail-container .personalise-form .delivery-form .recipient-info-top label {
  font-weight: 500;
}
.product-detail-container .personalise-form .delivery-form .recipient-info-top {
  color: #757575;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}
.product-detail-container .personalise-form .delivery-form .title + p {
  display: none;
}
.product-detail-container .personalise-form .form-group .form-control,
.product-detail-container .personalise-form .delivery-form .delivery-fields {
  border-color: var(--text-color);
  border-radius: 0.125rem;
  box-shadow: 0px 0px 0px 2px #F5F9FE;
  color: var(--text-color);
  font-family: var(--primary-font-light);
  font-size: 0.75rem;
  font-weight: 325;
  line-height: 2;
  letter-spacing: 0.8px;
  padding: 0.875rem 1rem 1rem;
  height: auto;
}
.product-detail-container .personalise-form .form-group .form-control::placeholder,
.product-detail-container .personalise-form .delivery-form .delivery-fields::placeholder {
  color: #595959;
  font-style: normal;
}
.product-detail-container .personalise-form .delivery-form .delivery-fields {
  border-color: #757575;
  border-radius: 0.125rem;
  font-family: var(--primary-font);
  font-weight: 400;
  margin-bottom: 1.0625rem;
  padding-right: 1rem !important;
}
.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'],
.product-detail-container .personalise-form .form-group select {
  max-height: 3.25rem;
}
.product-detail-container .personalise-form .form-group select.form-control {
  background-image: url('https://static.techsembly.com/CK3MjHCGDBsosQbrb3LAdU94');
  background-position-x: 96%;
  background-size: 0.75rem;
  padding: 0.875rem 3.25rem 1rem 1rem;
}
.product-detail-container .personalise-form .alert-secondary,
.product-detail-container .personalise-form .alert-danger {
  background-color: var(--stroke);
  color: var(--text-color);
  font-family: var(--primary-font-med);
  font-size: 0.6875rem;
  font-weight: 350;
  line-height: 1rem;
  letter-spacing: 0.8px;
  padding: 0.625rem;
}
.product-detail-container .personalise-form .alert-danger {
  background-color: #F0D4DC;
  color: #e30;
}
.product-detail-container .personalise-form .select-form.form-group {
  color: var(--text-color);
  font-family: var(--primary-font-med);
  font-size: 0.6875rem;
  font-weight: 350;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.product-detail-container .personalise-form .delivery-form {
  padding-top: 0.4375rem;
}
.product-detail-container .personalise-form .delivery-form p {
  margin-bottom: 0.5625rem;
}
.product-detail-container .personalise-form .delivery-form .flex-g4 {
  flex-grow: unset;
  flex-basis: 50%;
}
.product-detail-container .personalise-form .delivery-form .radio-container {
  color: var(--text-color);
  margin-bottom: 2.0625rem;
}
.product-detail-container .personalise-form .delivery-form .radio-container .checkmark {
  position: relative;
}
.product-detail-container .personalise-form .delivery-form .radio-container .checkmark::after {
  top: 0;
  left: 0;
}
.product-detail-container .personalise-form .delivery-form .radio-container:not(:first-child) .checkmark::after {
  left: 0.5px;
}
.product-detail-container .personalise-form .delivery-form span {
  color: var(--text-color);
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.product-detail-container .personalise-form .delivery-form .radio-container .checkmark {
  margin-right: 1.125rem;
}
.product-detail-container .personalise-form .delivery-form span:not(.checkmark) {
  margin-top: 2px;
}
.product-detail-container .personalise-form .delivery-form .notify {
  color: #595959;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.8px;
  margin-top: 1.0625rem;
  margin-bottom: 2rem;
}
.product-detail-container .personalise-form .delivery-form .info-text {
  color: var(--text-color);
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
  padding-top: 0.9375rem;
}
.product-detail-container .personalise-form .delivery-form .info-text b {
  font-family: var(--primary-font-bold);
}
.product-detail-container .personalise-form .form-group.add-basket {
  margin-top: 1.0625rem;
}
.product-detail-container .personalise-form .form-group.add-basket .d-flex {
  justify-content: space-between;
}
.product-detail-container .personalise-form .form-group .btn {
  font-family: var(--primary-font-bold);
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  letter-spacing: 0.8px;
}
.product-detail-container .personalise-form .form-group .buy-btn,
.product-detail-container .personalise-form .form-group .buy-btn:active {
  background-color: #EDECEA;
  color: var(--primary-bg-color);
}
.product-detail-container .personalise-form .form-group .order-input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.product-detail-container .tab-content.preview-pic {
  max-height: 739px;
}
.product-detail-container .preview-thumbnail {
  margin-top: 0.9375rem;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
  border: 1px solid #6d6d6d !important;
  border-radius: 0.125rem !important;
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-']:hover {
  opacity: 0.75;
}
.product-carousel-desktop .owl-nav button.owl-prev {
  background-image: url('https://static.techsembly.com/LofdY8LV56ZaCgDoACRUpez6');
}
.product-carousel-desktop .owl-nav button.owl-next {
  background-image: url('https://static.techsembly.com/UkDmxiGxM8wBoqEfez46dhWY');
}
.product-detail-container .product-holder .share-link {
  align-items: center;
}
.product-detail-container .product-holder .share-link li {
  margin-right: 1.3125rem;
}
.product-detail-container .product-holder .share-link li span {
  color: #595959;
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  margin-top: 0;
}
.related-products {
  display: none !important;
}
.login-modal .modal-header {
  padding-bottom: 1rem !important;
}
.login-modal .modal-body {
  padding-top: 0;
}
#cart-notification .modal-container.login-modal {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  max-width: 555px;
  width: auto;
}
#cart-notification .modal-container.login-modal .modal-header .panel-heading {
  font-family: var(--primary-font-bold);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 0.75rem !important;
  text-transform: uppercase;
}
#cart-notification .modal-container.login-modal .modal-body p.info-text {
  color: var(--color-light);
  font-family: var(--primary-font);
  font-weight: 325;
  line-height: 1.5;
}
#cart-notification .modal-container.login-modal .modal-body .footer-btns .btn {
  height: 3.125rem;
}
#cart-notification .modal-container.login-modal .modal-body .footer-btns .btn-guest {
  color: var(--color-white);
  font-family: var(--primary-font-bold);
  font-weight: 700;
  margin-bottom: 0 !important;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
#cart-notification .modal-container.login-modal .modal-body .footer-btns .btn-guest.btn-secondary {
  background-color: #edecea;
  color: var(--primary-bg-color);
}
#cart-notification .modal-container.login-modal .modal-body .footer-btns .view-cart {
  color: var(--color-black);
  font-family: var(--primary-font-med);
  font-weight: 350;
  line-height: 1rem;
  letter-spacing: 0.8px;
  margin-bottom: 0 !important;
}
.login-modal .modal-body .container .store-logo {
  height: auto;
  margin-top: 0.625rem;
  width: 224px;
}
.login-modal .modal-close {
  top: 1.375rem;
  right: 1.375rem;
}
.login-modal .modal-close img {
  width: 0.75rem;
  height: 0.75rem;
}
.login-modal .panel-heading {
  font-family: var(--secondary-font-bold);
  margin-top: 1.5rem;
  margin-bottom: 0.375rem !important;
}
.login-modal .info-text {
  color: #666;
  font-family: var(--third-font);
  font-size: 0.875rem;
  line-height: 1.8125rem;
  margin-bottom: 1.75rem;
}
.cart-login-form-modal input,
.cart-login-form-modal .forget-pass-cont a.forget-psw-link {
  font-family: var(--third-font);
}
.cart-login-form-modal input::placeholder {
  color: #757575;
}
.cart-login-form-modal .forget-pass-cont {
  margin-bottom: 0.25rem;
}
.cart-login-form-modal .form-group {
  max-width: 328px;
  margin-left: auto;
  margin-right: auto;
}
.login-modal .guest-form-cont {
  text-align: center;
}
.login-modal .guest-form-cont input,
.login-modal .guest-form-cont .btn,
.login-modal .guest-form-cont .description,
.login-modal .guestCheckout-form .form-submit-cont {
  max-width: 328px;
  margin-left: auto;
  margin-right: auto;
}
.login-modal .form-control:focus {
  border-color: #dbd9d9;
  box-shadow: none;
}
.cart-login-form-modal .btn.submit,
.cart-login-form-modal .btn.submit:hover,
.cart-login-form-modal .btn.submit:focus {
  height: 2.5rem;
  letter-spacing: 1px;
}
.modal-popup .cart-login-form-modal .btn,
.modal-popup .login-modal .btn,
.modal-popup .login-modal .btn-secondary {
  font-family: var(--primary-font-med);
  font-weight: 350;
}
.login-modal .modal-body .container span.description {
  font-family: var(--third-font);
}
.login-modal .modal-body .btn-guest {
  margin-bottom: 1.375rem !important;
}
.login-modal .checkout-desc-cont {
  color: #000;
  font-family: var(--third-font);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
  margin-top: 2.125rem !important;
  margin-bottom: 0.875rem;
}
#modal-buynow .login-modal .checkout-desc-cont {
  color: #757575;
}
.login-modal .guest-form-cont div.pt-4:first-child {
  padding-top: 0 !important;
}
#cart-notification .modal-container.login-modal .modal-body .footer-btns .btn-guest {
  padding-top: 0.4375rem;
  text-transform: uppercase;
}
.cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-body .container {
  max-width: none;
}
.modal-popup#max-transaction-popup .modal-container {
  border-radius: 0.25rem;
  max-width: 477px;
}
.modal-popup#max-transaction-popup .modal-title {
  font-family: var(--secondary-font-bold);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.75rem;
}
.modal-popup#max-transaction-popup .modal-body {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 325;
  line-height: 1.5;
  padding-bottom: 1.3125rem !important;
}
.modal-popup#max-transaction-popup .transaction-note {
  padding-bottom: 1.875rem !important;
}
.modal-popup#max-transaction-popup .modal-content-outer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.modal-popup#max-transaction-popup .btns-cont {
  padding-bottom: 0 !important;
}
.modal-popup#max-transaction-popup .btns-cont .btn {
  font-family: var(--primary-font-bold);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.8px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 46px;
  width: auto;
}
.modal-popup#max-transaction-popup .btns-cont .return-btn {
  float: right;
}
.product-detail-container .product-carousel-mob.tab .owl-nav button {
  font-size: 0;
}
/*end product-detail*/
/*cart*/
app-cart,
app-checkout {
  background-color: var(--stroke);
  display: block;
}
app-cart .arrow-breadcrumbs {
  margin-bottom: 0.25rem;
}
app-cart .custom-container.cart-container {
  font-family: var(--primary-font);
}
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .address-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading,
.custom-container.checkout .left-panel .shipping-form-cont-inner .billing-heading,
.custom-container.checkout .delivery-methods-cont .billing-heading {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0625rem;
}
app-cart .custom-container.cart-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .left-panel .shipping-form-cont-inner .billing-heading,
.custom-container.checkout .shipping-form-container .address-heading,
.custom-container.checkout .delivery-methods-cont .billing-heading {
  font-size: 1.3125rem;
}
.custom-container.checkout .delivery-methods-cont .billing-heading {
  color: var(--color-black);
  margin-top: 0.375rem;
}
.custom-container.checkout .left-panel .shipping-form-cont-inner .billing-heading {
  margin-top: 0.375rem;
}
app-cart .custom-container.cart-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .order-sum-heading {
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.custom-container.cart-container .vendor-items-cont .card,
.custom-container.cart-container .card.order-summary-cont,
.custom-container.checkout .card.order-summary-cont {
  border: none;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
  border-color: #d1d1d0;
  padding-top: 1.5rem !important;
}
.custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .vendor-heading {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0.8px;
}
.custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .vendor-name {
  text-transform: capitalize;
}
.custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .flag-cont {
  display: none !important;
}
.custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-body {
  padding-top: 1.625rem !important;
}
app-cart .cart-item.new,
app-cart .cart-item.new a {
  color: var(--text-color);
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.cart-item.new .item-image-cont .item-img {
  border-radius: 0.1875rem;
  overflow: hidden;
}
.cart-item.new .item-details-cont .item-details .item-name {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.4375rem;
}
.cart-item.new .item-details-cont .item-details .unit-total-price {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.cart-item.new .item-details .unit-price {
  color: var(--color-light);
  font-size: 0.875rem;
  font-weight: 325;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}
.custom-container.cart-container .vendor-items-cont a.del-item-link {
  color: var(--color-light);
  letter-spacing: 0.125rem;
}
.cart-item.new .item-details .qty-col {
  padding-left: 0;
}
.cart-item.new .item-details .item-qty-cont {
  border-color: #ededed;
}
.cart-item.new .item-details .item-qty-cont .item-dec,
.cart-item.new .item-details .item-qty-cont .item-inc {
  background-color: #ededed;
}
.cart-item.new .item-details .pro-badges-cont .pro-badge {
  background-color: #ededed;
  color: var(--color-light);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.cart-item.new .form-control {
  color: #000;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header {
  color: var(--text-color);
  font-family: var(--primary-font-bold);
  font-weight: 700;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  border-bottom-color: #d9d9d9;
  font-weight: 700;
  padding-bottom: 0.5rem !important;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label,
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}
.container.custom-container.cart-container .card.order-summary-cont .card-body {
  color: var(--color-light);
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.custom-container.cart-container .card .cart-login-cont {
  background-color: var(--stroke);
}
.custom-container.cart-container .card .cart-login-cont .login-note {
  padding-bottom: 2.5rem;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
  color: var(--color-light);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0.8px;
  margin-bottom: 1.125rem !important;
  text-align: left;
  text-transform: capitalize;
}
.container.custom-container.cart-container .cart-login-cont form input.form-control {
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: 0.8px;
}
.cart-login-cont form.cart-login-form .forget-psw-link {
  color: var(--color-light);
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
  text-decoration: none;
}
.cart-login-cont form.cart-login-form .form-submit-cont {
  border-top-color: #d9d9d9;
  border-bottom: none;
}
.container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: #03202F;
  border-color: #03202F;
  border-radius: 0.1875rem;
  box-shadow: none;
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: 0.05em;
}
.custom-container.cart-container .card .cart-login-cont .checkout-note {
  padding-top: 1.5rem;
}
form.guestCheckout-form .btn.submit img {
  margin-top: -0.25rem;
}
.custom-container.cart-container .btn.continue-btn-new {
  border-color: var(--primary-bg-color);
  border-radius: 0;
  color: var(--primary-bg-color);
  font-family: var(--primary-font-bold);
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  letter-spacing: 0.8px;
  padding-top: 0.6875rem;
  padding-bottom: 0.5625rem;
  height: 2.5rem;
}
.container.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
  font-weight: 400;
}
.cart-item .personalize-row,
.cart-item .item-details .unit-price,
.cart-item .gift-msg-area {
  display: none !important;
}
/*end cart*/
/*checkout*/
app-checkout .arrow-breadcrumbs {
  margin-bottom: 2rem;
}
.shipping-form-container .left-panel .shipping-form-cont-inner {
  background-color: var(--color-white);
  padding-top: 1.3125rem !important;
  margin-bottom: 2rem !important;
}
.custom-container.checkout .shipping-form-container .left-panel .shipping-form-cont-inner .counter,
.custom-container.checkout .delivery-methods-cont .counter {
  background-color: var(--primary-bg-color);
  font-family: var(--secondary-font-bold);
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
}
.shipping-form-container .left-panel .shipping-form-cont-inner .address-form.new {
  padding-top: 0.25rem;
  padding-bottom: 0.375rem;
}
.custom-container.checkout .address-form.new .form-group {
  margin-bottom: 0.8125rem;
}
.custom-container.checkout .address-form.new .form-control {
  color: var(--color-light);
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .address-form.new .form-control::placeholder {
  color: var(--color-light);
}
.container.custom-container.checkout .btn-primary {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
.container.custom-container.checkout .btn {
  font-family: var(--primary-font-bold);
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  letter-spacing: 0.8px;
}
.container.custom-container.checkout .btn#continue-to-delivery-and-billing {
  //margin-top: 0.375rem;
}
.shipping-form-container .left-panel .shipping-form-cont-inner .form-group.submit-btn-cont {
  margin-bottom: 0.5rem;
  padding-top: 0.25rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper {
  border-bottom: none;
  padding-bottom: 1.125rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card {
  border: none;
  margin-bottom: 0.8125rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .customer-name {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body {
  color: var(--color-light);
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card a {
  color: #333;
  font-family: var(--forth-font);
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 1px;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body div:not(:empty):not(:last-child) {
  padding-bottom: 0.5rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .btn {
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .order-summary-container {
  padding-bottom: 1.5rem;
}
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details {
  color: var(--color-black);
  font-size: 0.6875rem;
  font-weight: 325;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price,
.order-summary-cont .order-totals-container {
  font-size: 0.875rem;
  font-weight: 325;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}
.order-summary-cont .order-totals-container {
  background-color: var(--stroke);
}
.order-summary-cont .order-totals-container .sub-total-holder {
  border-color: #d9d9d9;
  color: var(--color-black);
}
.order-totals-container .sub-total-holder .sub-total-item .sub-total-desc::after {
  content: ":";
}
.order-summary-cont .order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 1.8125rem;
}
.order-summary-cont .order-totals-container .sub-total-holder .sub-price {
  font-family: var(--primary-font-med);
  font-weight: 350;
}
.order-summary-cont .order-totals-container .total-holder {
  padding-top: 0.5625rem;
}
.custom-container.checkout .order-totals-container .total-holder .order-total-item .total-desc,
.custom-container.checkout .order-totals-container .total-holder .total-price {
  color: var(--color-black);
  font-family: var(--primary-font-bold);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}
.custom-container.checkout .delivery-methods-cont {
  margin-top: 0.5rem !important;
}
.delivery-methods-cont .card.contact-card {
  display: inline-block;
  margin-top: 0.6875rem;
  margin-bottom: 2rem !important;
  width: 100%;
}
.delivery-methods-cont .vendor-cards-holder .vendor-card {
  margin-bottom: 2rem !important;
}
.custom-container.checkout .delivery-methods-cont .card.contact-card .card-body {
  color: var(--color-black);
}
.delivery-methods-cont .card.contact-card .card-row {
  align-items: center;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}
.custom-container.checkout .delivery-methods-cont .card .card-body {
  color: var(--color-black);
  font-size: 0.6875rem;
  font-weight: 325;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder {
  padding-top: 0 !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
  color: var(--color-black);
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.8px;
  margin-top: 0.125rem;
  margin-bottom: 0.3125rem !important;
  text-transform: capitalize;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title span:first-child {
  margin-right: 0 !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item {
  font-size: 0.6875rem;
  font-weight: 325;
  line-height: 1rem;
  padding-bottom: 0;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item:not(:first-child) {
  padding-top: 2rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-img {
  margin-right: 1.25rem !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc {
  padding-left: 0;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-name {
  font-family: var(--primary-font-bold);
  font-size: 0.75rem;
  font-weight: 700;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .qty {
  display: none;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
  border-color: #d3d3d3;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc div:not(.badge-stroke) {
  padding-bottom: 0.5rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .badge-stroke {
  color: #6d6d6d;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-qty-cont {
  border-color: #ededed;
  box-shadow: none;
  color: #757575;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9375rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-dec,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-inc {
  background-color: #ededed;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item a {
  color: #6d6d6d;
  font-size: 1rem;
  line-height: 0.9375rem;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item a.edit-item-new {
  color: #000;
  font-family: var(--third-font);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0.125rem;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item a.del-item-link {
  font-weight: 400;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont .label-email .recipent-info-edit {
  align-items: center;
  border-color: #000;
  color: #000;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2;
  padding: 0.3125rem 0.875rem 0.3125rem 0.9375rem;
  text-transform: capitalize;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
  color: var(--text-color);
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}
.custom-container.checkout .order-item .qty {
  text-transform: uppercase;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont h3 {
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 350;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
  color: #757575;
  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .form-group {
  color: #424242;
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 1.125rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont .btn-update {
  font-family: var(--primary-font-med);
  font-size: 0.75rem;
  line-height: 0.6875rem;
  padding: 13.5px 20.5px 11.5px;
  width: 123px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
  background-color: var(--grey);
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
  border-color: #d9d9d9;
  background-color: var(--grey);
  padding-top: 1.25rem;
  padding-bottom: 0 !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont:empty {
  padding: 0;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:not(:last-child) {
  padding-bottom: 0.75rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
  padding-bottom: 0;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container input.form-input {
  color: #424242;
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .form-control {
  color: #424242;
  font-family: var(--primary-font-med);
  font-weight: 350;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container span.limit {
  color: var(--color-light);
  font-family: var(--primary-font);
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  font-size: 0.75rem;
  line-height: 1.5rem;
  padding-top: 0.625rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .label-email {
  margin-bottom: 2.125rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .radio-container,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .option-price,
.custom-container.checkout .payment-form-container .radio-container {
  color: #000;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .radio-container .d-flex {
  align-items: center;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .quantity-mobile {
  margin-left: 104px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark,
.checkout .payment-form-container .radio-container .checkmark {
  border-color: #03202F;
  position: relative;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after,
.checkout .payment-form-container .radio-container input:checked ~ .checkmark,
.checkout .payment-form-container .radio-container .checkmark::after {
  background-color: #03202F;
}
.checkout .payment-form-container .radio-container input:checked ~ .checkmark {
  border-color: #03202F;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after,
.checkout .payment-form-container .radio-container .checkmark::after {
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont .del-option:last-child {
  border-bottom: 0.0625rem solid #d9d9d9;
}
.custom-container.checkout .payment-form-container {
  color: #000;
  font-size: 0.6875rem;
  font-weight: 325;
  line-height: 1rem;
  letter-spacing: 0.8px;
  padding-top: 0 !important;
  padding-bottom: 0.5rem;
}
.custom-container.checkout .payment-form-container .radio-container .pay-method-name {
  margin-top: 0.1875rem;
}
.custom-container.checkout .payment-form-container .payments-methods-cont,
.custom-container.checkout .payment-form-container .section-cont {
  border-color: #d9d9d9;
}
.custom-container.checkout .payment-form-container .cc-details-cont {
  padding-top: 0 !important;
}
.custom-container.checkout .payment-form-container .payments-methods-cont {
  display: none;
}
.custom-container.checkout .payment-form-container .section-heading {
  color: #000;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0625rem;
}
.checkout .payment-form-container .card-details-cont .show-pay-details .form-group,
.checkout .payment-form-container .card-details-cont .hide-pay-details .form-group {
  border: 0.125rem solid #000;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 2px rgba(59, 89, 128, 0.2);
}
.checkout .payment-form-container .card {
  border: none;
}
.checkout .payment-form-container .checkbox-cont input:checked ~ .checkmark {
  border-color: #000;
  background-color: #000;
}
.checkout .payment-form-container .form-group label,
.payment-form-container .card .card-body .card-row {
  color: #000;
  font-size: 0.6875rem;
  font-weight: 325;
  line-height: 1rem;
  letter-spacing: 0.0625rem;
}
.checkout .payment-form-container .checkbox-cont .checkmark {
  min-width: 1.3125rem;
}
.checkout .payment-form-container .checkbox-cont .checkbox-note {
  margin-top: 0;
  letter-spacing: 0.8px;
}
.checkout .payment-form-container .card.blue-light-bg,
.checkout .payment-form-container .card.address-card {
  background-color: var(--stroke);
  border-color: var(--stroke);
}
.checkout .payment-form-container .form-control {
  border-color: #d9d9d9;
  color: var(--color-light);
}
.checkout .payment-form-container input[type='text'],
.checkout .payment-form-container input[type='email'],
.checkout .payment-form-container input[type='password'] {
  color: var(--color-light);
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.checkout .payment-form-container .form-control::placeholder {
  font-size: 0.875rem;
}
.checkout .password-note {
  color: var(--color-light);
  font-weight: 400;
}
.custom-container.checkout .payment-form-container .exlc-offer {
  display: none;
  margin-top: 2rem !important;
  padding-top: 0.5625rem !important;
  padding-bottom: 0.5625rem !important;
  width: 100%;
}
.custom-container.checkout .payment-form-container .card-note {
  padding-bottom: 2rem;
}
.custom-container.checkout.digital .payment-form-container .billing-detail-cont:not(.cc-details-cont),
.custom-container.checkout.digital .shipping-total-cont {
  display: none !important;
}
.custom-container.checkout .promo-note-warpper {
  margin-bottom: 0.625rem;
}
.custom-container.checkout .order-totals-container .promo-cont {
  padding-bottom: 0.3125rem;
}
.custom-container.checkout .order-totals-container .promo-cont a {
  color: var(--text-color);
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .mat-form-field-flex {
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow:  0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  height: 50px;
  padding-top: 0.3125rem;
}
.custom-container.checkout .mat-form-field-label {
  color: #000;
  font-family: var(--primary-font);
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-top: 0.1875rem;
}
.custom-container.checkout .mat-form-field-label-wrapper {
  top: -1rem;
}
.custom-container.checkout .mat-form-field-underline {
  display: none;
}
.custom-container.checkout .btn.apply-btn {
  padding-top: 0.5625rem;
  text-transform: uppercase;
}
.custom-container.checkout .btn.apply-btn,
.custom-container.checkout .btn.apply-btn:hover,
.custom-container.checkout .btn.apply-btn:focus {
  height: 3.125rem;
}
.custom-container.checkout .payment-notes-cont {
  background-color: #f8f8f8;
}
.custom-container.checkout .payment-notes-cont .notes-heading {
  color: #000;
  font-family: var(--primary-font-bold);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.05em;
  margin-bottom: 0.625rem;
}
.custom-container.checkout .payment-notes-cont p,
.custom-container.checkout .payment-notes-cont a {
  color: #000;
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 325;
  line-height: 1.3125rem;
}
.custom-container.checkout .payment-notes-cont p {
  margin-bottom: 0;
}
.custom-container.checkout .payment-notes-cont a {
  text-decoration: underline;
}
.custom-container.checkout-footer,
.custom-container.checkout-footer img[alt="securepaymentbadge"] {
  display: none;
}
.checkout-copyright-cont {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
}
.checkout-copyright-cont,
.checkout-copyright-cont a {
  color: #000;
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.checkout .checkout-container.complete {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 325;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}
.checkout .checkout-container.complete .order-confirm-outer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.checkout .checkout-container.complete .card.order-confirm-wrapper {
  border-color: #d9d9d9;
  border-radius: 0;
}
.checkout .checkout-container.complete .blue-light-bg {
  background-color: #fcfcfc;
}
.checkout-container.complete .card-header {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.checkout-container.complete .card-header img[alt="logo"],
.checkout-container.complete .card-header img[alt="Rosewood Hotels logo"] {
  width: auto;
  max-width: 120px;
}
.checkout-container.complete .card.order-confirm-wrapper .breadcrumb-heading {
  color: var(--text-color);
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1;
}
.checkout .checkout-container.complete .section-cont.customer-note {
  font-weight: 325;
  padding-bottom: 1.75rem !important;
}
.checkout .checkout-container.complete .section-cont.customer-note .del-content {
  padding-top: 1.375rem;
}
.checkout .checkout-container.complete .section-cont {
  border-color: #d9d9d9;
}
.checkout .checkout-container.complete .order-data {
  padding-bottom: 1.25rem !important;
}
.checkout .checkout-container.complete .order-data .order-column .col-heading {
  color: var(--color-light);
  font-weight: 325;
}
.checkout .checkout-container.complete .order-data .order-column .col-desc {
  color: #000;
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details {
  padding-top: 0;
}
.custom-container.checkout .checkout-container.complete .cart-data .vendor-items-holder:last-child {
  padding-bottom: 0;
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item {
  font-weight: 325;
  padding-bottom: 0;
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item .receipient-details {
  color: var(--color-black);
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.custom-container.checkout .checkout-container.complete.physical .vendor-items-holder .vendor-order-details .order-item .receipient-details {
  font-size: 1rem;
  line-height: 1.1875rem;
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item .receipient-email {
  color: var(--color-light);
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item-inner-bottom {
  color: var(--color-black);
  letter-spacing: 0.8px;
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item-inner-bottom .message-label {
  color: var(--color-light)
}
.checkout .checkout-container.complete .cart-data .order-item .item-desc .item-name,
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
  color: #000;
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.checkout .checkout-container.complete .cart-data .order-item .item-desc .item-brand,
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .attributes {
  color: #000;
  font-size: 1rem;
  font-weight: 325;
  line-height: 1.1875rem;
}
.checkout .checkout-container.complete .cart-data .order-item .item-desc .item-brand {
  display: none;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .attributes {
  padding-top: 0.125rem;
}
.checkout .checkout-container.complete .cart-data .order-item .item-price {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}
.checkout .checkout-container.complete.physical .cart-data .order-item .item-price {
  font-weight: 325;
}
.checkout .checkout-container.complete .shipping-data,
.checkout .checkout-container.complete .msg-cont {
  color: #000;
}
.checkout .checkout-container.complete .shipping-data {
  font-weight: 325;
}
.checkout-container.complete .shipping-data .shipping-row.digital-product-address {
  display: none !important;
}
.checkout-container.complete .shipping-data .shipping-row:not(:first-child) {
  padding-top: 1.125rem !important;
}
.checkout .checkout-container.complete .total-cont,
.checkout .checkout-container.complete .total-cont .total-price {
  color: #000;
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.checkout .checkout-container.complete .card-footer {
  padding-left: 1.8125rem !important;
  padding-right: 1.8125rem !important;
}
.checkout .checkout-container.complete .card-footer,
.checkout .checkout-container.complete .card-footer a {
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.checkout .checkout-container.complete .card-footer .card-footer-left {
  color: var(--color-black);
}
.checkout .checkout-container.complete .card-footer .card-footer-left a {
  text-decoration: underline;
}
.checkout .checkout-container.complete .card-footer .home-btn-cont {
  padding-top: 1.75rem;
}
.checkout .checkout-container.complete .card-footer .home-btn {
  border-radius: 0.1875rem;
  color: #fff;
  display: inline-flex;
  font-family: var(--primary-font-bold);
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  min-width: 148px;
  letter-spacing: 0.8px;
}
.checkout .checkout-container.complete a,
.checkout .checkout-container.complete .card-footer-right {
  color: var(--color-light);
}
/*end checkout*/
/*user and internal pages*/
.user-wrapper {
  padding-top: 0.75rem;
}
.user-wrapper nav[aria-label="breadcrumb"] .user-heading,
.custom-container.login-signup nav[aria-label="breadcrumb"] .breadcrumb-heading {
  color: var(--primary-bg-color);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.125rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.user-container .form-group label,
.custom-container.login-signup .form-group label {
  color: #000;
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 350;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}
.user-container form .form-control,
.custom-container.login-signup form .form-control {
  border-color: #313131;
  border-radius: 0;
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.8px;
  padding: 0.75rem 1rem;
}
.custom-container.login-signup form .form-control::placeholder {
  font-style: normal;
}
.user-wrapper .user-container form .btn.submit,
.container.custom-container .login-signup-tabs-cont form .btn.submit,
.user-wrapper .user-container .btn.add-address-btn,
.user-wrapper .user-container .btn.signout-btn {
  font-family: var(--primary-font-bold);
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  height: 3.125rem;
}
app-ts-gift-card-balance .user-wrapper {
  padding-bottom: 1.5rem !important;
}
.custom-container.login-signup {
  padding-top: 2.5rem;
}
.custom-container .login-signup-tabs-cont form .form-group:first-child {
  padding-bottom: 0.5rem;
}
.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link {
  font-size: 0.6875rem;
  line-height: 1rem;
}
.custom-container .login-signup-tabs-cont form label.remember {
  align-items: center;
}
.custom-container .login-signup-tabs-cont form label input[type="checkbox"] {
  margin-top: 0;
}
.custom-container .login-signup-tabs-cont form label input[type="checkbox"] + span {
  font-family: var(--primary-font);
  font-weight: 325;
  margin-top: 0;
}
.user-container .user-heading .wishlist-link {
  display: none;
}
/*end user and internal pages*/
/*static pages*/
.custom-container.footer-page-container .breadcrumb-heading,
.custom-container.footer-page-container .quest-heading {
  font-family: var(--primary-font-bold);
}
/*end static pages*/
.sign-up-section {
  background-color: var(--primary-bg-color);
  padding-bottom: 1.875rem;
}
.sign-up-section h2 {
  color: var(--color-white);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.25em;
  margin-top: 3.125rem;
  margin-bottom: 0.1875rem !important;
  text-align: center;
}
.sign-up-section .sign-up-container .sign-up-form {
  margin-bottom: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin-right: 0;
  padding: 0.875rem 1.094rem 0.6875rem;
  height: 2.625rem;
  text-align: left;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
  color: #757575;
  font-style: normal;
  text-align: left;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  background-color: var(--color-white);
  margin-bottom: 0;
  padding: 0 0.5rem;
  width: 1.8125rem;
}
.sign-up-section .sign-up-container .sign-up-form .btn img {
  margin-top: -0.1875rem;
  width: 0.75rem;
}
footer.footer {
  margin-top: 0;
  padding: 1.875rem 1.75rem;
  border-top: none;
  background-color: var(--primary-bg-color);
  color: var(--color-white);
}
.footer .footer-widget:last-child .widget-title{
  color: var(--color-white);
}
.footer .footer-widget .widget-content ul li a {
  color: var(--color-white);
  font-family: var(--primary-font-light);
  font-size: 0.6875rem;
  font-weight: 325;
  letter-spacing: 0.8px;
}
footer.footer .container{
  padding: 0 !important;
}
.footer .footer-widget .widget-title{
  line-height: 1.1875rem;
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.8px;
}
.footer .footer-widget .widget-content{
  padding-top: 0.75rem;
}
.footer .footer-widget .widget-content ul:not(:first-child){
  padding-top: 0;
}
.footer .pay-methods-avail {
  display: none !important;
}
.footer .powered-by,
.footer .powered-by a {
  color: var(--color-white);
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
}
.footer .footer-widget .widget-content .social-links {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-widget .widget-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .footer-widget .widget-content .social-links li:not(:last-child){
  margin-right: 1.3rem;

}
.footer .footer-widget .widget-content .social-links li {
  width: auto;
  margin-bottom: 0;
}
.footer .footer-widget .widget-content .social-links li img {
  max-width: 2rem;
}
.footer .mobile-footer .list-group .list-group-item-action,
.footer .mobile-footer .list-group .list-group-holder>a:focus,
.footer .mobile-footer .list-group .list-group-holder>a:hover {
  background-color: transparent;
  color: var(--color-white);
}
.footer .mobile-footer .list-group .list-group-holder:last-child {
  display: none;
}
.footer .mobile-footer .list-group .list-group-holder .collapsing {
  transition: none;
}
.footer .mobile-footer .list-group .list-group-holder:first-child,
.footer .mobile-footer .list-group .list-group-holder .BorderBottom {
  border-color: #757575;
}
.footer .mobile-footer .list-group .list-group-holder,
.footer .mobile-footer .list-group .list-group-holder a {
  color: var(--color-white);
  letter-spacing: 0.8px;
}
.footer .mobile-footer .list-group .list-group-item-action {
  font-family: var(--secondary-font);
}
.footer .mobile-footer .list-group .list-group-holder>a {
  padding-top: 1rem;
  padding-bottom: 0.875rem;
}
.footer .mobile-footer .list-group .list-group-holder>a:after {
  background-image: url('https://static.techsembly.com/CHSUEKavkkxiNrxAz2cmD3TC');
  background-size: 0.8125rem;
  background-position: center;
  background-repeat: no-repeat;
}
.footer .powered-by .updated-string:first-child {
  margin-right: -0.125rem;
}
@media (max-width: 1199.98px) {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 991.98px) {
  .arrow-breadcrumbs {
    /*align-items: center;*/
  }
  .arrow-breadcrumbs li,
  .arrow-breadcrumbs li a {
    line-height: 0.8125rem;
  }
  .arrow-breadcrumbs li.active a,
  .arrow-breadcrumbs li.in-progress a {
    line-height: 0.75rem;
  }
  header .spacing {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  header.header .mobile-menu {
    padding: 0;
    margin-top: 2rem;
  }
  .app-header .header .row.spacing .col-6.pl-2 {
    padding-left: 0 !important;
  }
  header.header .menu-links-cont img[alt='wishlist'],
  header.header .menu-links-cont img[alt='user-profile'] {
    display: none !important;
  }
  header .mob-top-links {
    padding-top: 1.75rem;
  }
  .product-detail-container {
    padding-top: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .product-detail-container .product-holder .product-order {
    border-top: none;
    padding-top: 0;
  }
  .product-detail-container .product-holder .product-detail {
    margin-bottom: 0.5rem;
  }
  .product-detail-container .product-holder .product-detail .product-info .info-holder {
    margin-bottom: 0;
  }
  .product-detail-container .personalise-form .delivery-form .radio-container {
    margin-bottom: 3.0625rem;
  }
  .product-carousel-cont {
    /*display: block !important;*/
  }
  .product-detail-container .preview-thumbnail .owl-stage {
    display: flex;
  }
  .product-detail-container .preview-thumbnail .owl-item:not(:last-child) {
    margin-right: 1.5rem;
  }
  .product-detail-container .preview-thumbnail li {
    min-width: 73px;
    max-width: 73px;
    max-height: 77px;
  }
  /*cart*/
  app-cart .arrow-breadcrumbs {
    margin-top: 0.5625rem;
    margin-left: 0.625rem;
  }
  app-checkout .arrow-breadcrumbs {
    margin-top: 0.5625rem;
  }
  app-cart .custom-container.cart-container {
    padding-top: 1.5625rem !important;
  }
  .cart-item.new .item-details-cont .item-details .sub-total-col {
    min-width: 83px;
  }
  .cart-item.new .item-details-cont .item-details .col-label.d-none {
    display: block !important;
  }
  .container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    height: 3rem;
  }
  /*end cart*/
  .footer .footer-widget .widget-content .social-links {
    justify-content: center;
  }
  .footer .powered-by,
  .footer .powered-by a {
    font-size: 0.75rem;
  }
  .footer .powered-link-cont {
    padding-top: 0.625rem;
  }
}

@media (max-width: 767.98px) {
  .arrow-breadcrumbs li.breadcrumb-item + .breadcrumb-item::before {
    padding-top: 0;
  }
  header.header {
    margin: 0;
  }
  header.header .logo {
    height: 5rem;
    padding-top: 1rem;
  }
  header.header .logo img {
    width: 160px;
  }
  header .mob-top-links li a img[alt="search image"]{
    max-width: 0.9375rem;
  }
  header .mob-top-links li a img[alt="cart"]{
    max-width: 1.5rem;
  }
  /*product-detail-start*/
  .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    line-height: 1.1875rem;
  }
  .product-detail-container .personalise-form .form-group label {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.5px;
  }
  .product-detail-container .personalise-form .form-group label {
    margin-bottom: 0.375rem;
  }
  .product-detail-container .personalise-form .delivery-form .title {
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
  }
  .product-detail-container .personalise-form .form-group .form-control,
  .product-detail-container .personalise-form .delivery-form .delivery-fields {
    line-height: 1rem;
    letter-spacing: 0.5px;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    min-height: 2.75rem;
  }
  .product-detail-container .personalise-form .alert-secondary {
    font-size: 0.625rem;
    /*font-weight: 500;*/
  }
  .product-detail-container .personalise-form .delivery-form span {
    font-size: 0.75rem;
    letter-spacing: 0.96px;
  }
  .product-detail-container .personalise-form .form-group select.form-control {
    background-size: 0.625rem;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
  }
  .product-detail-container .personalise-form .form-group input[type='text'],
  .product-detail-container .personalise-form .form-group input[type='email'],
  .product-detail-container .personalise-form .form-group input[type='date'],
  .product-detail-container .personalise-form .form-group select {
    height: 2.75rem;
  }
  .product-detail-container .personalise-form .delivery-form .delivery-fields {
    margin-bottom: 1.25rem;
  }
  .product-detail-container .personalise-form .delivery-form .notify {
    font-size: 0.625rem;
    font-weight: 300;
    line-height: 0.875rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
  }
  .product-detail-container .personalise-form .delivery-form .info-text {
    padding-top: 0;
    line-height: 1.25rem;
  }
  .product-detail-container .personalise-form .form-group.add-basket {
    margin-top: 3.125rem;
  }
  .product-detail-container .personalise-form .form-group.add-basket div.pb-4 {
    padding-bottom: 1.125rem !important;
  }
  .product-detail-container .personalise-form .form-group .btn {
    font-size: 0.75rem;
    letter-spacing: 2px;
    height: 3rem;
  }
  .product-detail-container .product-holder {
    padding-bottom: 4rem !important;
  }
  .product-detail-container .personalise-form .form-group .order-input {
    margin-right: 0.75rem;
  }
  .cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-body .container .store-logo {
    max-width: 185px;
  }
  .cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-close {
    top: 1.125rem;
    right: 1.125rem;
  }
  .login-modal .modal-close img {
    height: 0.875rem;
    width: 0.875rem;
  }
  .login-modal .cart-login-cont {
    padding-bottom: 0.875rem !important;
  }
  .login-modal .login-cart-panel,
  .login-modal .guest-form-cont {
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
  }
  .cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-header {
    padding-top: 1.375rem;
  }
  .cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .panel-heading {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.125rem !important;
  }
  .login-modal .info-text {
    font-size: 0.75rem;
    margin-bottom: 2.125rem;
  }
  .cart-login-form-modal input {
    font-weight: 400;
  }
  .cart-login-form-modal input[type="email"] {
    margin-bottom: 0.875rem;
  }
  .cart-login-form-modal .forget-pass-cont a.forget-psw-link {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
  }
  .cart-login-form-modal .form-submit-cont,
  form.guestCheckout-form .form-submit-cont {
    padding-bottom: 1.125rem;
    margin-bottom: 1.125rem;
  }
  .cart-login-form-modal .btn.submit,
  .cart-login-form-modal .btn.submit:hover,
  .cart-login-form-modal .btn.submit:focus {
    height: 3rem;
    font-size: 0.75rem;
  }
  .cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-body .container .btn-guest,
  form.guestCheckout-form .btn.submit {
    height: 3rem;
  }
  .login-modal .checkout-desc-cont {
    margin-bottom: 0;
  }
  form.guestCheckout-form p.info-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: 0.375rem;
    margin-bottom: 2.25rem;
  }
  .modal-popup .login-modal .guest-form-cont input {
    margin-bottom: 1rem;
  }
  .login-modal .modal-body .btn-guest {
    margin-bottom: 0.75rem !important;
  }
  .modal-popup#max-transaction-popup .modal-title {
    letter-spacing: 0.03em;
  }
  #cart-notification .modal-container.login-modal .modal-body .footer-btns .btn-guest.btn-secondary {
    /*display: block !important;
    margin-right: 0.5rem;*/
  }
  /*product detail end*/
  /*cart*/
  app-cart .custom-container.cart-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  app-cart .custom-container.cart-container .breadcrumb-heading {
    margin-left: 0;
  }
  app-cart .arrow-breadcrumbs {
    margin-bottom: 0;
  }
  .custom-container.cart-container .vendor-items-cont .card .card-header {
    padding-top: 0.75rem !important;
  }
  .cart-item.new .item-details .pro-badges-cont .pro-badge {
    font-size: 0.75rem;
    line-height: 2;
    margin-top: 0.3125rem;
  }
  .cart-item.new .item-details .unit-price {
    font-size: 0.75rem;
    line-height: 2;
  }
  .cart-item.new .item-details-cont .item-details .unit-total-price {
    line-height: 1.0625rem;
  }
  .container.custom-container.cart-container .vendor-items-cont .card {
    padding-left: 0.9375rem !important;
    padding-right: 1.0625rem !important;
    margin-bottom: 1.25rem;
  }
  .cart-item.new .item-image-cont {
    min-width: 27.5%;
    max-width: 27.5%;
  }
  .cart-item.new .item-details-cont {
    max-width: 72.5%;
    min-width: 72.5%;
    padding-left: 0.125rem !important;
  }
  .cart-item.new .item-details-cont .item-details .item-name {
    color: var(--color-black);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .custom-container.cart-container .order-sum-heading,
  .custom-container.checkout .shipping-form-container .order-sum-heading,
  .custom-container.checkout .payment-form-container .order-sum-heading {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
  .container.custom-container.cart-container .card.order-summary-cont .card-header,
  .container.custom-container.cart-container .card.order-summary-cont .card-body-inner,
  .container.custom-container.cart-container .card.order-summary-cont .card-body .login-cart-panel,
  .container.custom-container.cart-container .card.order-summary-cont .card-body .guest-form-cont {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .custom-container.cart-container .card .cart-login-cont {
    background-color: #edecea;
  }
  .cart-login-cont form.cart-login-form .form-submit-cont {
    padding-bottom: 0.25rem !important;
  }
  .custom-container.cart-container .cart-login-cont .checkout-desc-cont {
    font-weight: 325;
    justify-content: center !important;
  }
  /*end cart*/
  /*checkout*/
  .container.custom-container.checkout {
    padding-top: 1.25rem !important;
  }
  .custom-container.checkout .shipping-form-container .breadcrumb-heading,
  .custom-container.checkout .payment-form-container .breadcrumb-heading {
    margin-bottom: 1.5625rem !important;
  }
  .shipping-form-container .left-panel .shipping-form-cont-inner {
    padding-top: 1.5rem !important;
    padding-left: 0.9375rem !important;
    padding-right: 1.0625rem !important;
    margin-bottom: 1.25rem !important;
  }
  .shipping-form-container .left-panel .shipping-form-cont-inner:last-child {
    padding-top: 1.375rem !important;
    padding-bottom: 1.375rem !important;
  }
  .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img,
  .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-img {
    margin-right: 0.9375rem !important;
  }
  .container.custom-container.checkout .shipping-form-cont-inner .billing-heading,
  .container.custom-container.checkout .delivery-methods-cont .billing-heading {
    font-size: 1rem;
    line-height: 1.1875rem;
  }
  .container.custom-container.checkout .shipping-form-container .address-heading,
  .container.custom-container.checkout .payment-form-container .address-heading {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .custom-container.checkout .shipping-form-container .exist-address-wrapper .card .btn {
    height: 2.75rem;
  }
  .shipping-form-container .left-panel .shipping-form-cont-inner .address-form.new {
    padding-top: 1rem;
  }
  .custom-container.checkout .address-form.new .form-control {
    font-size: 0.75rem;
  }
  .custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
  .custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price {
    font-size: 0.75rem;
  }
  .custom-container.checkout .delivery-methods-cont {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .delivery-methods-cont .card.contact-card {
    margin-top: 0;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .delivery-methods-cont .vendor-cards-holder .vendor-card {
    margin-bottom: 1.25rem !important;
  }
  .delivery-methods-cont .vendor-cards-holder .card .card-header,
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item,
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .nav-checkout-delivery .shipping-form-container .left-panel {
    padding-bottom: 31px;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .badge-stroke {
    font-size: 0.6875rem;
    padding-left: 0.375rem;
  }
  .delivery-methods-cont .vendor-cards-holder .card .order-item a.edit-item-new {
    line-height: 1.125rem;
  }
  .delivery-methods-cont .vendor-cards-holder .card .order-item a.del-item-link {
    font-size: 0.875rem;
    line-height: 0.8125rem;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
    padding-top: 0.5rem;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont h3 {
    font-size: 0.875rem;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .label-email {
    margin-bottom: 1.875rem;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .form-group,
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
    font-size: 0.75rem;
  }
  .nav-checkout-delivery .shipping-form-container .btn.btn-submit {
    height: 3rem;
  }
  .custom-container.checkout .payment-form-container .section-heading {
    font-size: 1rem;
    line-height: 1.1875rem;
  }
  .custom-container.checkout .payment-form-container .card-note {
    padding-bottom: 0.75rem;
  }
  .custom-container.checkout .payment-form-container .cc-details-cont .section-heading {
    margin-bottom: 1.25rem;
  }
  .custom-container.checkout .payment-form-container .billing-detail-cont:not(.cc-details-cont) {
    border-bottom: none;
    padding-bottom: 0 !important;
  }
  .custom-container.checkout .payment-form-container .billing-detail-cont:not(.cc-details-cont) .section-heading {
    margin-bottom: 1.25rem;
  }
  .custom-container.checkout .payment-form-container .billing-detail-cont:not(.cc-details-cont) .address-card {
    background-color: #fff;
    padding-top: 1.5rem !important;
    margin-bottom: 0 !important;
  }
  .checkout .payment-form-container .card.address-card {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .checkout .payment-form-container .checkbox-cont .checkmark {
    width: 1.3125rem;
    height: 1.3125rem;
  }
  .checkout .payment-form-container .checkbox-cont .checkmark::after {
    background-size: 0.6875rem;
    width: 1.0625rem;
    height: 1.0625rem;
  }
  .payment-form-container .card .card-body .card-row:first-child {
    padding-top: 0 !important;
  }
  .checkout .payment-form-container .card.address-card .card-body .card-row:not(:first-child) {
    align-items: center;
  }
  .checkout .payment-form-container .card.address-card .card-body .card-row:not(:last-child) {
    padding-bottom: 0.75rem;
  }
  .checkout .payment-form-container .card .card-body .row-head {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .checkout .payment-form-container .card.blue-light-bg {
    background-color: #ededed;
  }
  .checkout .payment-form-container .card.blue-light-bg.address-card .card-row .form-group {
    padding-top: 0.25rem !important;
  }
  .checkout .payment-form-container input[type='text'],
  .checkout .payment-form-container input[type='email'],
  .checkout .payment-form-container input[type='password'] {
    height: 2.75rem;
  }
  .custom-container.checkout .btn.apply-btn,
  .custom-container.checkout .btn.apply-btn:hover,
  .custom-container.checkout .btn.apply-btn:focus {
    height: 2.75rem;
  }
  .custom-container.checkout .payment-notes-cont {
    padding: 1rem !important;
  }
  .custom-container.checkout .payment-notes-cont .notes-heading {
    font-size: 0.875rem;
  }
  /*end checkout*/
  /*success*/
  .checkout .checkout-container.complete {
    font-size: 0.75rem;
    line-height: 1.3125rem;
  }
  .checkout .checkout-container.complete .card.order-confirm-wrapper {
    border: none;
    border-radius: 0.5rem;
  }
  .checkout-container.complete .card-header {
    padding-top: 1.625rem !important;
    padding-bottom: 1.625rem !important;
  }
  .checkout-container.complete .card.order-confirm-wrapper .breadcrumb-heading {
    font-size: 1rem;
    line-height: 1.3125rem;
    margin-top: 0.3125rem;
  }
  .checkout .checkout-container.complete .card.order-confirm-wrapper .card-header,
  .checkout .checkout-container.complete .card.order-confirm-wrapper .card-body,
  .checkout .checkout-container.complete .card-footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .checkout .checkout-container.complete .order-data .order-column:not(:last-child) {
    flex-basis: 50%;
    max-width: 50%;
  }
  .checkout .checkout-container.complete .order-data .order-column:nth-child(1) {
    padding-left: 0;
  }
  .checkout .checkout-container.complete .order-data .order-column:nth-child(2) {
    padding-right: 0;
  }
  .checkout .checkout-container.complete .order-data .order-column:last-child {
    padding-left: 0;
    padding-right: 0;
  }
  .checkout .checkout-container.complete .cart-data .order-item .item-desc .item-name {
    padding-bottom: 0.75rem !important;
  }
  .custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item .receipient-name {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item .receipient-email {
    font-size: 0.625rem;
  }
  .checkout-container.complete .shipping-data .shipping-row:not(:first-child) {
    padding-top: 1rem !important;
  }
  .checkout .checkout-container.complete .shipping-data {
    line-height: 1.5rem;
  }
  .checkout .checkout-container.complete .msg-cont {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .checkout-copyright-cont {
    padding-left: 0;
    padding-right: 0;
  }
  /*end success screen*/
  .container.custom-container .login-signup-tabs-cont form .btn.submit {
    background-position-y: center;
  }
  .sign-up-section h2 {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
    margin-top: 2.5rem;
  }
  .sign-up-section .sign-up-container .sign-up-form {
    width: 300px;
  }
  .sign-up-section .sign-up-container .sign-up-form .flex-column {
    flex-flow: row !important;
  }
  .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    margin-top: 0;
    width: 1.5625rem;
  }
  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    max-width: 275px;
  }
  footer.footer {
    padding-top: 0;
    margin-top: -1px;
  }
  .footer .section-cont.mobile-footer {
    padding-top: 0.625rem;
  }
  .footer .mobile-footer .list-group .list-group-holder a  {
    font-size: 0.6875rem;
  }
  .footer .mobile-footer .list-group .list-group-holder>a {
    padding-top: 0.875rem;
    padding-bottom: 0.75rem;
  }
  .footer .mobile-footer .list-group .list-group-holder a.list-group-item-action {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .footer .footer-widget .widget-content {
    padding-top: 0.875rem;
    padding-bottom: 0.625rem;
  }
  .footer .footer-widget .widget-content .social-links li:not(:last-child) {
    margin-right: 1.3125rem;
  }
  .footer .copyright-cont {
    margin-top: 1.75rem;
  }
  .footer .powered-by {
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 575.98px) {
  .arrow-breadcrumbs li.breadcrumb-item + .breadcrumb-item::before {
    padding-left: 0.25rem;
    padding-right: 1.25rem;
  }
  .product-detail-container .personalise-form .form-group .order-input {
    width: 30%;
  }
  .product-detail-container .personalise-form .form-group .order-btn {
    width: 70%;
  }
  .modal-popup#max-transaction-popup .modal-container {
    width: 88%;
  }
  .cart-login-form-modal .form-group,
  .login-modal .guest-form-cont input,
  .login-modal .guest-form-cont .btn,
  .login-modal .guest-form-cont .description,
  .login-modal .guestCheckout-form .form-submit-cont {
    max-width: 100%;
  }
  #cart-notification .modal-container.login-modal {
    padding-bottom: 0 !important;
  }
  #cart-notification .modal-container.login-modal .modal-header .panel-heading {
    margin-right: 1rem;
  }
  #cart-notification .modal-container.login-modal .modal-body .footer-btns {
    //justify-content: flex-start !important;
    flex-wrap: wrap;
  }
  #cart-notification .modal-container.login-modal .modal-body .footer-btns .view-cart {
    /*margin-right: 0;
    margin-bottom: 1.25rem !important; */
  }
  #cart-notification .modal-container.login-modal .modal-body .footer-btns .btn-guest {
    margin-bottom: 1.25rem !important;
  }
  /*cart*/
  app-cart .custom-container.cart-container .breadcrumb-heading,
  .custom-container.checkout .shipping-form-container .breadcrumb-heading,
  .custom-container.checkout .payment-form-container .breadcrumb-heading {
    margin-left: 1rem;
  }
  /*end cart*/
  /*checkout*/
  app-checkout .arrow-breadcrumbs {
    margin-left: 1rem;
  }
  .custom-container.checkout .delivery-methods-cont .counter {
    margin-left: 1rem;
  }
  .custom-container.checkout .payment-form-container .cc-details-cont {
    margin-top: -0.625rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 91%;
  }
  .custom-container.checkout .payment-form-container .billing-detail-cont:not(.cc-details-cont) .section-heading {
    margin-left: 1rem;
  }
  /*end checkout*/
  /*success*/
  .checkout .checkout-container.complete .card-footer .d-flex:first-child {
    flex-wrap: wrap;
  }
  .checkout .checkout-container.complete .card-footer .card-footer-left,
  .checkout .checkout-container.complete .card-footer .card-footer-right {
    flex-basis: 100%;
  }
  .checkout .checkout-container.complete .card-footer .card-footer-right {
    padding-top: 1.25rem;
    text-align: left !important;
  }
  .checkout .checkout-container.complete .card-footer .home-btn-cont {
    padding-top: 2.625rem;
    padding-left: 0;
    padding-right: 0;
  }
  .checkout .checkout-container.complete .card-footer .home-btn {
    width: 100%;
  }
  /*end success screen*/
}
@media (max-width: 375px) {
  #cart-notification .modal-container.login-modal {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .cart-item.new .item-details-cont .item-details .sub-total-col {
    padding-left: 0;
  }
  .cart-item.new .item-details .item-qty-cont {
    max-width: 88%;
  }
  .footer .footer-widget .widget-content .social-links li:not(:last-child) {
    margin-right: 1.1875rem;
  }
}

@media (min-width: 768px) {
  header .mob-top-links .cart-qty {
    top: 0.6875rem;
    left: 0.625rem;
  }
  .product-detail-container .tab-content.preview-pic {
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  header .toggle-menu-cont {
    flex-basis: 33.3%;
    max-width: 33.3%;
  }
  header.header .logo-cont {
    text-align: center;
  }
  header.header .menu-links-cont {
    flex-basis: 33.3%;
    max-width: 33.3%;
  }
  .custom-container.cart-container .cart-left-cont {
    flex-basis: 60%;
    max-width: 60%;
  }
  .custom-container.cart-container .cart-right-cont {
    flex-basis: 40%;
    max-width: 40%;
  }
}
@media (min-width: 992px) {
  header.header .shipping {
    padding-top: 2rem;
  }
  header.header .logo {
    padding-top: 1.375rem;
    padding-bottom: 1.3125rem;
  }
  header.header .head-links li a#cart-bag {
    padding-right: 0;
  }
  header.header .search .search-item-form {
    display: none;
    width: 161px;
  }
  header.header .search .search-item-form .nav-search-field {
    height: 14px;
    max-width: 137px;
  }
  header.header .menu-holder>li:hover>div.empty {
    display: none;
  }
  .product-detail-container .product-holder {
    padding-top: 2.5rem !important;
  }
  .product-detail-container .product-carousel-cont {
    flex-basis: 53%;
    max-width: 53%;
  }
  .product-detail-container .product-holder .product-inner {
    flex-basis: 47%;
    max-width: 47%;
    padding-left: 2.0625rem;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
  .product-detail-container .personalise-form .form-group .order-input {
    max-width: 85px;
  }
  .product-detail-container .personalise-form .form-group .order-btn {
    width: 81.25%;
  }
  .product-detail-container .product-holder .share-link {
    margin-top: 7.75rem;
  }
  /*cart*/
  .custom-container.cart-container {
    padding-top: 1.75rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  app-cart .custom-container.cart-container .breadcrumb-heading {
    font-size: 1.3125rem;
    margin-bottom: 1.25rem !important;
  }
  app-cart .custom-container.cart-container .order-sum-heading,
  .custom-container.checkout .shipping-form-container .order-sum-heading,
  .custom-container.checkout .payment-form-container .order-sum-heading {
    font-size: 0.875rem;
  }
  .custom-container.cart-container .cart-left-cont {
    padding-right: 7.5rem;
  }
  .cart-item.new .item-image-cont {
    min-width: 27.125%;
    max-width: 27.125%;
  }
  .cart-item.new .item-details-cont {
    max-width: 72.875%;
    min-width: 72.875%;
  }
  /*end cart*/
  /*checkout*/
  app-checkout .shipping-form-container .arrow-breadcrumbs {
    margin-bottom: 2.9375rem;
  }
  .container.custom-container.checkout {
    padding-top: 1.75rem !important;
    padding-bottom: 1.75rem;
    padding-left: 3.9375rem;
    padding-right: 3.9375rem;
  }
  .custom-container.checkout .shipping-form-container .left-panel {
    //padding-right: 3.6875rem;
    padding-right: 7.5rem;
  }
  .custom-container.checkout .payment-form-container .section-heading {
    margin-bottom: 2rem;
  }
  .custom-container.checkout .payment-notes-outer {
    padding-right: 8.25rem !important;
  }
  .checkout-container.complete .card.order-confirm-wrapper {
    min-width: 798px;
  }
  /*end checkout*/
  /*user pages*/
  .balance-form,
  .ts-balance-form {
    padding-right: 0.625rem;
  }
  .balance-form .btn.submit,
  .ts-balance-form .btn.submit {
    min-width: 390px;
  }
  .container.custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    margin-top: 4.5rem;
  }
  .container.custom-container.login-signup {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  /*end user pages*/
  .sign-up-section h2 {
    margin-left: 0.5rem;
  }
  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    width: 20.0625rem;
  }
  .footer .custom-container .footer-widget:nth-child(1) {
    margin-right: 7.125rem;
  }
  .footer .custom-container .footer-widget:nth-child(3) {
    flex-basis: 36.32%;
  }
  .footer .powered-by {
    justify-content: space-between;
    flex-direction: row !important;
    max-width: 100%;
    flex-basis: 100%;
  }
  .footer .copyright-cont {
    margin-top: 3rem;
  }
  .footer .copyright-cont .col-12 {
    padding: 0;
  }
  .footer .footer-widget:last-child .widget-title{
    text-align: end;
  }
}
@media (min-width: 1200px){
  header.header .head-links li .add-to-basket .dropdown-menu {
    top: 0 !important;
    right: 2rem !important;
  }
  header.header .head-links li .add-to-basket .dropdown-menu:after {
    background-size: 1.875rem;
    right: -1rem;
    top: -0.6875rem;
  }
  .container.custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    margin-top: 3.125rem;
  }
  app-checkout {
    min-height: calc(100vh - 124px);
  }
}
@media (min-width: 1280px) {
  body[data-pagetype='product'] .product-detail-container,
  .related-products .custom-container .container {
    max-width: 1280px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
@media (min-width: 1400px){
  .cart-item.new .item-image-cont {
    min-width: 23%;
    max-width: 23%;
  }
  .cart-item.new .item-details-cont {
    max-width: 77%;
    min-width: 77%;
  }
}
