<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
      /*fonts*/
      @font-face {
        font-family: 'Calibre-Regular';
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/20858334f659d0c98de31abb3f25341768531aeb/capella/fonts/calibre/Calibre-Regular.ttf');
      }
      @font-face {
        font-family: 'Calibre-Medium';
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/fcf974593b5d851af458246669f619a93fbd8056/capella/fonts/calibre/Calibre-Medium.ttf');
      }
      /*end fonts*/
    </style>
  </head>
  <body>
    <div class="wrapper" style="background-color: #FFFFFF; max-width: 640px; margin: 0 auto;">
      <table class="main-table bg-light-grey" width="640" cellspacing="0" cellpadding="0" align="center" style="background-color: #fcfcfc; max-width: 640px; padding: 32px; margin: auto;">
        <thead>
          <tr>
            <th width="576"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="email-header" style="padding: 1.5rem 1.5rem 3rem">
                <div class="pt-4" style="padding-top: 1.5rem;">
                  <img src="https://static.techsembly.com/JZx9x6PF9Gy3BouyygEYAj17" class="email-logo" alt="logo" width="175"/>
                </div>
              </div>
              <div class="msg-wrapper pl-32" style="background-color: #fff; padding:1.5rem 1.5rem 1.5rem 2rem">
                <div class="msg-top" style="color: #000">
                  <div class="pb-4" style="padding-bottom: 1.5rem">Hi {{user_email}},</div>
                  <div class="pb-4" style="padding-bottom: 1.5rem">We received a request to reset your password.</div>
                  <div>If you did not make this request, please ignore this email. Otherwise, simply click the button below to reset your password.</div>
                  <div class="btns-wrapper pt-3 pb-2" style="display: flex; align-items: flex-start; padding-top: 1rem; padding-bottom: 0.5rem;">
                    <a class="btn btn-primary btn-reset-psw font-calibre-medium" href="{{password_reset_url}}" style="background-color: #212322; color: #fff; padding: 17px 20px 13px; height: auto;font-size: 0.875rem; line-height: 1rem; letter-spacing: 1.25px; text-decoration: none; text-transform: uppercase;">RESET PASSWORD</a>
                  </div>
                </div>
              </div>
              <div class="email-footer" style="background-color: #EDEDED; padding: 2rem">
                <div class="pb-4 mb-1 email-footer-copyright" style="color: #6d6d6d; font-size: 0.75rem; line-height: 1.125rem; padding-bottom: 1.5rem; margin-bottom: 0.25rem;">
                  <p style="margin-top: 0;">Brgy. Yapak, Boracay 5608 Philippines</p>
                  <br>
                </div>
                <div class="table-footer-cont" style="padding-bottom: 1rem;">
                  <table width="100%" cellspacing="0" cellpadding="0">
                    <thead>
                      <tr>
                        <th width=""></th>
                        <th width=""></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a href="#"><img src="https://static.techsembly.com/JZx9x6PF9Gy3BouyygEYAj17" width="116" alt="email=footer-logo"></a>
                        </td>
                        <td>
                          <div style="float: right;">
                            <a style="margin-left: 25px;" href="https://www.facebook.com/crimsonhotelsandresorts/" target="_blank"><img src="https://static.techsembly.com/jdJ1oUnDruu8kh4ndk2oHbLd" width="21" alt="fb"/></a>
                            <a style="margin-left: 25px;" href="https://twitter.com/CrimsonBrands?lang=en" target="_blank"><img src="https://static.techsembly.com/LCh4MEi4kUZaydk2NiNZLVGB" width="21" alt="twitter"/></a>
                            <a style="margin-left: 25px;" href="https://www.instagram.com/crimsonhotelsandresorts/" target="_blank"><img src="https://static.techsembly.com/fNzY3DU1WdGcaAYagGmkaWQZ" width="19" alt="insta"/></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
