<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
​    <style>
      /*fonts*/
      @font-face {
        font-family: 'Calibre-Regular';
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/20858334f659d0c98de31abb3f25341768531aeb/capella/fonts/calibre/Calibre-Regular.ttf');
      }
      @font-face {
        font-family: 'Calibre-Medium';
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/fcf974593b5d851af458246669f619a93fbd8056/capella/fonts/calibre/Calibre-Medium.ttf');
      }
      /*end fonts*/
    </style>
    <style  type="text/css">
      #outlook a {
        padding:0;
      }
      .es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
      }
      a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
      }
      [data-ogsb] .es-button {
        border-width:0!important;
        padding:10px 20px 10px 20px!important;
      }
      body {
        color: #000000;
        font-family: 'Helvetica';
        font-size: 0.875rem;
        line-height: 1rem;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        padding: 0;
        margin: 0;
      }

    </style>
  </head>
  <body style="color: #000000; padding: 20px 0">
    <div class="wrapper" style="background-color: #FFFFFF; max-width: 640px; margin: 0 auto;">
      <table class="main-table bg-light-grey" width="640" cellspacing="0" cellpadding="0" align="center" style="background-color: #fcfcfc; max-width: 640px; padding: 32px; margin: auto;">
        <thead>
          <tr>
            <th width="576"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="email-header text-left pt-4 pl-4 pb-5" style="padding-top: 1.5rem; padding-bottom: 3rem; padding-left: 1.5rem">
                <div class="pt-4" style="margin-left: 46px;">
                  <img src="https://static.techsembly.com/1pdHe2LcCr7tkJB65vqES9r8" class="email-logo" width="116"/>
                </div>
              </div>
              <div class="msg-wrapper bg-white pl-32" style="padding: 0.5rem 1.5rem 1.5rem 2rem; background-color: #fff;">
                <div class="msg-top" style="color: #000; font-family: 'Helvetica'; font-size: 0.875rem; line-height: 1rem;">
                  <div class="pb-4" style="padding-bottom: 1.5rem;">Hi {{user_email}},</div>
                  <div class="pb-4" style="padding-bottom: 1.5rem;">We received a request to reset your password.</div>
                  <div>If you did not make this request, please ignore this email. Otherwise, simply click the button below to reset your password.</div>
                  <div class="btns-wrapper" style="padding-bottom: .5rem; padding-top: 1rem; display: flex; align-items: flex-start;">
                    <a style="padding: 17px 20px 13px; background-color: #212322; font-family: 'Calibre-Medium'; color: #fff; height:auto; font-size: 0.875rem; line-height: 1rem; letter-spacing: 1.25px; text-decoration: none; text-transform: uppercase;" href="{{password_reset_url}}">RESET PASSWORD</a>
                  </div>
                </div>
              </div>
              <div class="email-footer" style="background-color: #EDEDED; padding: 2rem;">
                <div class="pb-4 mb-1" style="margin-bottom: .25rem; padding-bottom: 1.25rem; color: #6d6d6d; font-size: 0.75rem; line-height: 1.125rem;">
                  <p style="font-family: 'Helvetica';color: #6d6d6d; font-size: 0.75rem; line-height: 1.125rem; margin-top: 0;">3/2 Thanon Khao, Vachirapayabal, Dusit, Bangkok 10300, Thailand</p>
                  <br>
                </div>
                <div class="table-footer-cont">
                  <table width="100%" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <thead>
                      <tr>
                        <th width="40%"></th>
                        <th width="60%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a style="margin-left: 30px" href="#"><img src="https://static.techsembly.com/vCnUePvCUdeHCD6xRSNt6aNJ" width="100"></a>
                        </td>
                        <td>
                          <div style="text-align: right;">
                            <a style="margin: 0 12px" href="https://www.facebook.com/TheSiam" target="_blank"><img src="https://static.techsembly.com/TBi5EzQbrg2WfTjMf6qciS3q" width="20" alt="fb"/></a>
                            <a style="margin: 0 12px" href="https://www.instagram.com/thesiamhotel/" target="_blank"><img src="https://static.techsembly.com/zEVRJDdf17Nc58ZK5hvceSTn" width="20" alt="instagram"/></a>
                            <a style="margin-left: 12px" href="https://www.youtube.com/channel/UCBBT1M5snzIVFUf56e-XZvg" target="_blank"><img src="https://static.techsembly.com/9aQ6UzbnwyhQ9MH8yaAeFcAa" width="28" alt="youtube"/></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
