:root {

    --white-color: #ffffff;
    --black-color: #000000;
    --light-text-color: #666666;
    --border-color: #BCBCBC;
    --light-border-color: #D9D9D9;
    --body-bg: #FCFCFC;
    --light-bg: #F8F8F8;
}

body {
    color: var(--black-color);
    background-color: var(--body-bg);
}

html,
body {
    max-width: 100%;
}

/* header css strat  */

header.header .menu-holder {
    margin-top: 0;
    display: none;
}

.app-header .row.align-items.spacing {
    padding-inline: 48px;
    margin: 0;
}

header.header {
    border: 0;
    margin-bottom: 0;
    background-color: var(--white-color);
    padding-block: 35px;
}

header.header .shipping li:first-child,
header.header .shipping li a.dropdown-toggle:after {
    display: none;
}

header.header .shipping li {
    margin-right: 10px;
}

.shipping li:nth-child(2) {
    height: fit-content;
    display: flex;
}

a#cart-bag-partial {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
}
header.header .head-links li .add-to-basket .dropdown-menu h4::first-letter {
    text-transform: capitalize;
}
header.header .head-links li .add-to-basket .dropdown-menu h4 {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: lowercase;
}

header.header .head-links li .add-to-basket .dropdown-menu h5,
header .mob-top-links .add-to-basket .dropdown-menu h5 {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}
header.header .head-links li .cart-qty{
    background-color: transparent;
    color: var(--black-color);
    top: 1.5px;
    left: 1px;
    height: 18px;
}


header.header .head-links li .add-to-basket .dropdown-menu .checkout-price span,
header.header .dropdown-menu.dropdown-menu-right.mob-cart-dropdown .checkout-price span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--black-color);
}

header.header .head-links li .add-to-basket .dropdown-menu .checkout-price {
    margin: 0 0 0;
}

header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont,
header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont {
    min-height: auto;
}

header.header .head-links li .add-to-basket .dropdown-menu .checkout-details {
    margin-bottom: 1.5rem;
}

header.header .head-links li .add-to-basket .dropdown-menu .btn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.header .head-links li .add-to-basket .dropdown-menu .btn:hover {
    color: var(--white-color) !important;
}

.dropdown-menu .checkout-price p {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

header.header .shipping li img {
    width: 20px;
    margin-top: 0;
}

header.header .logo img {
    height: auto;
    width: auto;
}

header.header .logo {
    padding: 0;
    max-width: 180px;
    margin: 0 auto;
    width: 100%;
}

header.header .logo a {
    display: inline-block !important;
}

ul.nav.head-links {
    gap: 20px;
    padding-bottom: 10px !important;
}

.shipping {
    display: none;
    align-items: center;
}

header.header .head-links li a {
    padding: 0;
}

header.header .menu-holder>li:hover>div {
    border: 0;
}

header.header .shipping .dropdown a#dropdownMenuButton {
    text-decoration: none;
    pointer-events: none;
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* end header css   */

/* footer css  start */
footer.footer {
    border: 0;
    margin: 0;
    padding: 30px 33px;
    background: var(--primary-bg-color);
}

footer .col-lg-12.p-0.d-none.d-lg-flex.d-xl-flex.justify-content-between {
    margin-bottom: 85px;
}

footer.footer .container>div:first-child {
    gap: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
}



.footer-widget .widget-title {
    color: var(--white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer .footer-widget .widget-content {
    padding-top: 20px;
}

.footer .footer-widget .widget-content ul li a {
    color: var(--white-color);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.048px;
}

.widget-content ul:not(:last-child) {
    margin-bottom: 6px !important;
}


.pay-methods-avail {
    display: none !important;
}



.col-12.col-lg-6.powered-by {
    flex: auto;
    max-width: 100%;
    height: auto;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 0 !important;
}
.col-12.d-flex.flex-column.flex-lg-row {
    padding: 0;
}

.powered-by~.col-12.col-lg-3 {
    display: none;
}

 .powered-link-cont :is(span, a),.powered-by div:first-child{
    color: var(--white-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.048px;
}


.ts-copyright :is(span, a) {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.col-12.d-flex.checkout-copyright-cont {
    background-color: var(--white-color);
    padding: 12.5px 17px;
}

/* footer css end*/

/* product detail page css start */

app-product-detail .product-holder .row {
    display: flex;
    justify-content: space-between;
}

app-product-detail {
    padding-top: 40px;
    display: block;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--border-color);

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
}

.product-detail-container .product-holder .product-detail .product-info h1.product-name {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 20px !important;
    width: 100%;
    padding-right: 0;
    text-transform: initial;
}

app-product-detail .product-detail .wishlistImage img {
    display: none;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
    display: none;
}

.product-detail-container .product-holder .product-order .nav-tabs {
    display: none;
}

.product-detail-container .product-holder .product-order .tab-content {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.vendor-link,
.variants-cont {
    display: none !important;
}

.product-detail-container .product-holder .product-detail .product-info .product-pricing {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 0;
}

app-product-detail .product-pricing p {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.shipping {
    display: none;
    align-items: center;
}

.product-detail-container .product-holder .product-detail {
    height: auto;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise br {
    display: none;
}

.product-order .tab-pane :is(div, span, p, a) {
    color: var(--black-color);
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

p.after-form {
    margin: 0;
    font-style: italic;
    font-weight: 300 !important;
}

.product-detail-container .col-lg-10 {
    margin-bottom: 10px;
}

.product-order .col-lg-10 {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise {
    padding: 0;
}

.personalise .delivery-form textarea.form-control.delivery-fields,
.gift-msg-cont textarea,
textarea.form-control {
    min-height: 100px !important;
    overflow: auto;
    max-height: 150px;
}

fieldset ng-multiselect-dropdown .dropdown-btn span {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

ul.nav.search {
    display: none !important;
}

fieldset .multiselect-item-checkbox[_ngcontent-serverApp-c11] input[type=checkbox][_ngcontent-serverApp-c11]:checked+div[_ngcontent-serverApp-c11]:before {
    background-color:var(--border-color);
    background: var(--border-color);
    border-color: var(--border-color);
}

fieldset .multiselect-item-checkbox[_ngcontent-serverApp-c11] input[type=checkbox][_ngcontent-serverApp-c11]+div[_ngcontent-serverApp-c11]:before {
    border-color: var(--border-color);
    color: var(--white-color);
}

input[type="radio"] {
    accent-color: var(--light-text-color);
}

fieldset .multiselect-dropdown[_ngcontent-serverApp-c11] .dropdown-btn[_ngcontent-serverApp-c11] .selected-item[_ngcontent-serverApp-c11] {
    color: var(--white-color);
    background-color: var(--border-color);
    border-color: var(--border-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    align-items: center;
    gap: 5px;
}
.product-detail-container .personalise-form .delivery-form .radio-container {
    display: none;
}

fieldset .filter-textbox input[aria-label="multiselect-search"] {
    padding: 7px !important;
    min-height: 40px !important;
    height: 40px !important;
}

.product-detail-container .personalise-form :is(.form-group label, .variant-container .option-label),
.askseller-form label,
.form-group .form-check-label .customization-label {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

label.form-check-label fieldset,
label.radio-container fieldset {
    max-width: 50%;
    display: inline-block;
    width: 100%;
}
app-address~.form-group {
    margin-bottom: 8px !important;
}
textarea,
.delivery-methods-cont .vendor-cards-holder .card .order-item .order-shipping-container .col-12.px-0 {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont .btn-update {
    border-radius: 3px !important;
    border: 1px solid var(--light-border-color);
    background-color: var(--white-color) !important;
    color: var(--black-color) !important;

    font-size: 15px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.5px !important;
    height: auto !important;
    padding: 10px 8.34px 6px !important;
    text-transform: capitalize;
}

.payment-form-container .card .card-body .card-row:not(:last-child) {
    border-color: var(--light-border-color);
    padding-bottom: 13px !important;
}

.payment-form-container .card-details-cont~.col-12.px-0.pt-4.card-details-cont.section-cont.pb-2 {
    border-bottom: 1px solid var(--light-border-color) !important;
}

.payment-form-container .card.address-card.px-3.py-2.mt-2.mb-2 {
    margin-bottom: 25px !important;
    display: none;
}

.card.address-card.exlc-offer.px-3.py-2.mt-5.mb-2 {
    width: 100%;
    background-color: var(--secondary-bg-color);
    margin-top: 8px !important;
    padding: 14px 23px !important;

}

.payment-form-container .form-group.pt-2.mt-4 {
    padding-top: 0 !important;
}

.left-panel .payment-form-container .checkbox-cont input:checked~.checkmark,
.payment-form-container .checkbox-cont .checkmark {
    width: 24px !important;
    height: 24px !important;
}

.payment-form-container .checkbox-cont input:checked~.checkmark::after {
    width: 24px;
    height: 24px;
    left: -1px;
    top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payments-methods-cont fieldset {
    display: flex;
    gap: 16px;
}

.payments-methods-cont fieldset .card {
    max-width: 50%;
    display: inline-block;
    width: 100%;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
    color: var(--light-text-color) !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 26px !important;
    letter-spacing: 1px;

}

.radio-holder.d-inline-flex.pr-1 {
    width: 100%;
    align-items: center;
}

label.radio-container fieldset [id="email-Radio-button"] {
    width: 15px;
    accent-color: var(--light-text-color);
    margin-top: 1px;
}

.product-detail-container .personalise-form .delivery-form .radio-container input:checked~.checkmark::after {
    background-color: var(--primary-bg-color);
    top: 4px;
    left: 3px;
    outline: 1px solid var(--primary-bg-color);
    outline-offset: 2px;
}
.product-detail-container .personalise-form .delivery-form .radio-container input:checked ~ .checkmark {
    border-color: transparent !important;
}
.product-detail-container .personalise-form .delivery-form .radio-container .checkmark,
#delivery-options-popup .radio-container .checkmark {
    border-color: var(--primary-bg-color) !important;
    width: 1.5rem;
    height: 1.5rem;
}

#delivery-options-popup .radio-container input:checked~.checkmark {
    background-color: var(--primary-bg-color) !important;
    width: 24px;
    height: 24px;

}

#delivery-options-popup .radio-container .checkmark {
    width: 24px !important;
    height: 24px !important;
}

#delivery-options-popup .radio-container input:checked~.checkmark::after {
    background: var(--primary-bg-color) !important;
    top: 2px;
    left: 2px;
    background-color: var(--primary-bg-color) !important;
    width: 20px;
    height: 20px;
}

.product-detail-container .personalise-form .delivery-form .radio-container input {
    width: 24px !important;
    height: 24px !important;
}

.checkbox-holder input {
    width: 15px !important;
    accent-color: var(--light-text-color);
    border-radius: 4px !important;
}

.product-detail-container form.submitted.personalise-form .delivery-form input.form-control.ng-untouched.ng-invalid{
    border-color: #ad0015 !important;
}
.personalise .delivery-form .form-control.delivery-fields{
    border-radius: 4px !important;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    box-shadow: none;
    min-height: auto;
    height: auto;
    padding: 14px 14px;
    min-height: 56px;
}

.product-detail-container .personalise-form .form-group select.form-control,
fieldset label+input.form-control,
.askseller-form input {
    border-radius: 4px !important;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    box-shadow: none;
    min-height: auto;
    height: auto;
    padding: 14px 14px;
    min-height: 56px;
}


.product-detail-container .personalise-form .delivery-form .notify {
    color: var(--light-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.048px;
    margin-top: 6px
}

.product-detail-container .personalise-form .delivery-form :is(p, span, .info-text) {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.product-detail-container .personalise-form .delivery-form p {
    margin-bottom: 32px !important;
}

.product-order .tab-pane h1.title+p {
    color: var(--light-text-color) !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 1px !important;
}

.product-detail-container .personalise-form .delivery-form span {
    color: var(--black-color) !important;
    font-size: 14px !important;
    line-height: 20px;
}

.product-detail-container .personalise-form .form-group .order-input {
    border: 1px solid var(--border-color) !important;
    background: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
    color: var(--black-color);
    text-align: left;
    padding-left: 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 54px !important;
    width: 100px;
    margin-right: 18px;
}
label.radio-container br {
    display: block !important;
}
.product-detail-container .personalise-form .form-group .buy-btn {
    background-color: #EEEEEE !important;
    color: var(--black-color);
    padding: 14px;
    text-transform: uppercase;
}

.product-detail-container .personalise-form .delivery-form .title {
    color: var(--black-color);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

app-related-products[spanclass="recently-viewed-prroducts"],
.related-products {
    display: none;
}
.dropdown-list[_ngcontent-serverApp-c11] .filter-textbox[_ngcontent-serverApp-c11] {
    border-bottom: 1px solid var(--border-color) !important;
    padding: 0px !important;
}
app-product-detail .product-holder {
    margin-bottom: 0 !important;
    padding-bottom: 80px !important;
}

.product-detail-container .product-holder .share-link {
    display: none !important;
}


.product-detail-container .personalise-form .form-group.add-basket:last-child div {
    padding-bottom: 0 !important;
}

.text-releate {
    color: var(--black-color);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 60px !important;
    display: block;
}

p.more-items-product-prices {
    color: var(--black-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
}


[data-pagetype="product"] app-newsletter {
    display: none;
}

select {
    background-image: url('https://static.techsembly.com/is5Jbb6Fp3KoTpbr4KkDKc2r') !important;
    background-size: 12px !important;
    background-position-x: calc(100% - 20px) !important;
}

.product-detail-container .personalise-form .form-group .form-control {
    margin-top: 0 !important;
}

.product-detail-container .personalise-form :is(.form-group label, .variant-container .option-label),
.askseller-form label {
    align-items: center;
}

.related-products h3 {
    display: none;
}

.modal-popup :is(input, input.form-control) {
    height: 56px !important;
}

.modal-title {
    color: var(--black-color);
    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-bottom: 6px !important;
}

.modal-body .cart-login-cont.py-4 {
    padding-bottom: 0 !important;
    padding-top: 20px !important;
}

.cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow-v3 {
    width: 622px;
    max-width: 100%;
}

.modal-body .guestCheckout-form input#guest-email {
    max-width: 330px;
    width: 100%;
    margin: auto;
}

.checkout-desc-cont span {
    color: var(--light-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
}

.form-group.form-submit-cont {
    border-bottom: 1px solid var(--light-border-color);
    margin-bottom: 16px;
    padding-bottom: 16px;

}

.col-12.mt-4.checkout-desc-cont span {
    color: var(--black-color);
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

.cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-body .container .store-logo {
    width: 223px;
    height: auto;
    margin-bottom: 4px;
}

.cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-close {
    top: 15px;
    right: 1.5rem;
    width: 12px;
}

form.cart-login-form-modal {
    margin: auto;
}

.modal-body .guest-form-cont :is(.form-controlbutton){
    max-width: 330px;
    margin: auto;
}

app-confirm-buy-now-with-cart #cart-notification.modal-popup .footer-btns :is(.btn-guest.btn-primary, a.btn.btn-secondary.view-cart.mb-md-2),
.modal-popup#max-transaction-popup .btns-cont .btn {
    background: var(--primary-bg-color);
    color: var(--white-color) !important;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 130px;
    padding: 11px;
    height: auto !important;
    width: fit-content !important;
}
#cart-notification .modal-container.login-modal .modal-body .footer-btns .btn-guest {
    border-radius: 4px;
    background: #EEE;
    color: var(--black-color);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: auto;
    padding: 11px;
    width: 132px !important;
}
app-confirm-buy-now-with-cart #cart-notification .modal-container.login-modal .modal-body p.info-text {
    color: var(--light-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 34px;
}

.modal-popup#max-transaction-popup .modal-container {
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.cart-login-form-modal .form-group:first-child {
    margin-bottom: 14px !important;
}

.modal-popup.alert-popup .modal-container {
    background-color: var(--white-color);
    border: 0 !important;
    border-radius: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
}

.modal-body .guestCheckout-form input#guest-email {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background: var(--white-color);
}

form.guestCheckout-form .form-submit-cont {
    text-align: center;
    max-width: 330px;
    margin: 0 auto 1rem;
}

.modal-body img.store-logo {
    max-width: 223px !important;
    width: 100%;
    height: auto;
}

form.guestCheckout-form.v3 .info-text p {
    color: var(--black-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.cdk-global-overlay-wrapper .mat-dialog-container {
    border-radius: 16px;
}

app-confirm-buy-now-with-cart .modal-container.login-modal {
    max-width: 580px !important;
    width: 100%;
}

app-confirm-buy-now-with-cart h2.panel-heading.p-0 {
    font-size: 20px !important;
    margin-bottom: 16px !important;
    text-transform: capitalize;

}

#cart-notification .modal-container.login-modal .modal-body p.info-text,
.transaction-note {
    color: var(--black-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
}

app-buy-now-login .modal-body {
    padding-block: 0 !important;
}

.related-products .related-products-holder {
    flex-wrap: wrap;
}

.related-products .related-products-holder .rel-product-col {
    width: calc(25% - 18px);
    margin: 0 24px 26px 0;
}

.related-products .related-products-holder .rel-product-col:nth-child(4n) {
    margin-right: 0;
}

.product-detail-container .preview-thumbnail {
    margin-top: 24px;
    display: none;
}

.product-detail-container .personalise-form .form-group .order-btn {
    height: 54px;
}

.modal-popup input {
    height: auto;
    padding: 11px;
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}


.modal-body .guestCheckout-form input#guest-email {
    height: auto;
    padding: 11px;
    line-height: 20px;
}

.modal-body form.guestCheckout-form {
    padding-top: 0 !important;
}

.modal-body app-buy-now-guest-checkout .col-12.px-0.pt-4 {
    padding-top: 0 !important;
}

.cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-body .container .btn-guest {
    margin-bottom: 3px !important;
}

.cdk-global-overlay-wrapper .cdk-overlay-pane form.guestCheckout-form p.info-text {
    color: var(--black-color);
    line-height: 20px;
    letter-spacing: 1px;
}

:is(app-product-detail, app-product-listing) :is(li.breadcrumb-item a, li.breadcrumb-item.last) {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

app-product-detail app-breadcrumbs ol.breadcrumb.default-breadcrumb {
    display: none;
}
app-shipping-details-v3 form.shipping-form ul.breadcrumb.arrow-breadcrumbs {
    margin-bottom: 32px;
}

.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
    margin-bottom: 10px;
}

.properties-cont+div {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1px;
}

.variant.Select.gift.card.design {
    border: 0;
    background-color: inherit;
}
.product-detail-container .personalise-form .variant-container .variant .option-container .customcheck input[type="radio"]:checked+.checkmark{
    border-color: var(--primary-bg-color);
}
.product-detail-container .personalise-form .variant-container .variant .option-container .customcheck .checkmark {
    border-color: var(--light-border-color);
    color: var(--black-color);

    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    border-radius: 4px;
}

fieldset .multiselect-dropdown[_ngcontent-serverApp-c11] .dropdown-btn[_ngcontent-serverApp-c11] {
    padding: 14px 14px 14px !important;
    border-radius: 4px !important;
    border: 1px solid var(--border-color);
    background: var(--white-color);
}

.multiselect-dropdown .dropdown-btn span:last-child {
    margin-top: 4.5px;
}

fieldset .dropdown-list[_ngcontent-serverApp-c11] .filter-textbox[_ngcontent-serverApp-c11] input[_ngcontent-serverApp-c11] {
    padding: 10px 10px 12px !important;
}
fieldset .alert-danger {
    margin-top: 5px;
}
app-buy-now-login-v3 .modal-popup .form-group.form-submit-cont {
    padding-bottom: 0 !important;
}
input.form-control[formcontrolname="sender_name"] {
    margin-bottom: 32px !important;
}
.product-detail-container .personalise-form .form-group.add-basket .d-flex.pb-4 {
    padding-bottom: 32px !important;
}
/* product detail page css end  */


/* checkout flow  */

.custom-container.cart-container .vendor-items-cont .card {
    padding: 24px !important;
    border: 0;
    border-radius: 8px !important;
    background: var(--white-color) !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10) !important;
}

.custom-container.cart-container .vendor-items-cont .card:last-child {
    margin-bottom: 0;
}

.custom-container.cart-container .vendor-items-cont .card .card-header :is(span, a) {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    margin-right: 0 !important;
    text-transform: capitalize;
}

.custom-container.cart-container .vendor-items-cont .card .card-header {
    border-bottom: 1px solid var(--border-color);
    padding: 0 0 14px !important;
}

app-cart .flag-cont {
    display: none !important;
}

app-item .cart-item.new .item-details :is(.item-name, .unit-total-price) {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}

.cart-item .unit-price {
    color: var(--light-text-color);
    font-size: 12px;
    font-weight: 500;
    font-family: var(--primary-font);
    line-height: 22px;
    letter-spacing:1px;
    margin-top: 2px;
}

.col-label {
    color: var(--light-text-color);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 29px !important;
    font-family: var(--primary-font);
}

.cart-item .item-details-cont .col-lg-3 .col-label {
    text-align: left;
}
.unit-attributes-cont div {
    color: var(--light-text-color);
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
}
a.del-item-link.underline {
    color: var(--light-text-color);
    text-align: center;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 24px !important;
    letter-spacing: 1px;
    top: 5px;
}

app-item .cart-item {
    margin-bottom: 42px;
    padding-bottom: 0 !important;
}

app-item:last-child .cart-item {
    margin-bottom: 0;
}

.cart-item.new .item-details .item-qty-cont {
    margin-top: 20px;
    margin-bottom: 4px !important;
}

.vendor-items-holder .card-body {
    padding: 36px 0 0 !important;
}

.cart-container .cart-right-cont .card.order-summary-cont {
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10) !important;
}

.collapse-link {
    color: var(--light-text-color);
    font-size: 12px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 22px !important;
    letter-spacing: 1px;
}

.custom-container.cart-container .cart-login-cont {
    background-color: var(--secondary-bg-color) !important;
    padding: 24px 0 24px !important;
    margin-bottom: 0;
}

.shipping-form-container .left-panel .shipping-form-cont-inner .counter,
.shipping-form-cont-inner:last-child,
span.counter,
.container.custom-container.checkout-footer.text-center {
    display: none !important;
}

.order-summary-cont .order-totals-container {
    border-radius: 0px 0px 8px 8px;
    background-color: var(--secondary-bg-color);
    padding-top: 21.5px !important;
}

.custom-container.cart-container .cart-left-cont .breadcrumb-heading {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: var(--primary-font);
    margin-bottom: 20px !important;
}

.custom-container .order-sum-heading,
h2.address-heading {
    color: var(--black-color) !important;
    font-family: var(--primary-font) !important;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 30px !important;
    letter-spacing: 1px;
}

app-cart .custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner :is(.cart-total, .total-label) {
    font-family: var(--primary-font);
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1px;
}
app-cart .custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
    font-weight: 700;
}

.order-summary-cont .card-body-inner {
    color: var(--light-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 12px !important;
    padding-top: 2px;
    font-family: var(--primary-font);
}

.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
    border-color: #BCBCBC !important;
    padding-bottom: 10px !important;
}

.form-group.forget-pass-cont {
    margin-bottom: 12px;
}


/* .custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: inherit;
    margin-bottom: 18px !important;
    text-transform: lowercase;
    position: relative;
}

.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading:first-letter {
    text-transform: uppercase;
} */

app-cart .cart-left-cont .vendor-items-cont {
    padding-top: 18px !important;
}
.cart-login-cont app-guest-checkout .col-12.px-0.pt-4 {
    padding-top: 0 !important;
}

.cart-right-cont .cart-login-cont .guest-form-cont button#checkout-as-guest {
    margin-top: 17px;
}

.cart-login-cont.py-4 {
    margin-bottom: 1.5rem;
}

.quantity-alert,
.msg-alert {
    border-radius: 4px !important;
    background-color: var(--primary-bg-color) !important;
    border: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

form.guestCheckout-form .btn.submit img {
    display: none;
}
.custom-container.cart-container .cart-login-cont form input.form-control {
    border-radius: 4px;
    background: var(--white-color);
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    padding: 14px;
}
.cart-right-cont input#guest-email {
    border: 0;
    box-shadow: none !important;
}
form.guestCheckout-form .btn.submit {
    margin-bottom: 0 !important;
}
 .item-qty-cont :is(.item-inc,.item-dec) {
    background-position: center;
    height: 36px;
    width: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color) !important;
    border-radius: 0;

}

.shipping-form-container .delivery-methods-cont .vendor-cards-holder .card .order-item .item-qty-cont,
.cart-item.new .item-details .item-qty-cont {
    margin-top: 20px;
    margin-bottom: 4px !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    border: 1px solid var(--secondary-bg-color);
    background-color: var(--border-color);
    height: 36px;
    margin-bottom: 8px !important;
    max-width: 80px;
    width: 100%;
    margin: auto;
    background-color: transparent;
}

.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
    border-bottom: 1px solid #BCBCBC;

}

app-item .cart-item.new .pro-badges-cont .pro-badge,
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .badge-stroke
 {
    border-radius: 0px 24px 24px 0px !important;
    background-color: var(--secondary-bg-color) !important;
    color: var(--light-text-color) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: 1px;
    padding: 6px 10px !important;
    font-family: var(--primary-font);
}


.cart-item.new .item-qty-cont span {
    color: var(--black-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    font-family: var(--primary-font);
}
.quest-container {
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
}
.custom-container.cart-container .cart-login-cont .checkout-desc-cont span {
    color: #757575;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: -2px;
}



.guestCheckout-form label {
    color: var(--black-color);
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.modal-popup h2.panel-heading,
.modal-popup#max-transaction-popup .modal-title,
.modal-popup.alert-popup .modal-title {
    color: var(--black-color);
    font-size: 20px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 30px;
    letter-spacing: 1px;
}

.modal-body-inner {
    color: var(--light-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
}

.modal-footer button.btn-secondary.action-btn {
    background: var(--light-border-color);
    color: var(--black-color) !important;
    text-align: center;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase !important;
    height: 48px !important;
}

.modal-popup.alert-popup button.action-btn {
    height: 48px !important;
}

#delivery-options-popup .modal-title {
    font-weight: 400 !important;
    line-height: 30px !important;
    letter-spacing: 1px;

}
#delivery-options-popup .modal-title::first-letter {
    text-transform: uppercase;
}
#delivery-options-popup .pref-method-note {
    color: var(--black-color);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

#delivery-options-popup .item-name {
    color: var(--black-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

#delivery-options-popup .item-attributes {
    color: var(--black-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
}

#delivery-options-popup .item-qty {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

#delivery-options-popup span.del-method-name {
    color: var(--black-color);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 4px;
}

#delivery-options-popup .modal-footer {
    border-color: var(--light-border-color);
    ;
}

#delivery-options-popup .modal-footer .btn.btn-cancel {
    border: 0 !important;
    background-color: var(--light-border-color) !important;
    color: var(--black-color) !important;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    height: 54px;
    min-width: 100px !important;
}
a.edit-item-new img {
    position: relative;
    top: -1px;
}
h1.breadcrumb-heading {
    font-size: 20px !important;
    font-weight: 400;
    line-height: 30px !important;
    letter-spacing: 1px;
    margin-bottom: 22px !important;
}
/* checkout flow  end*/


.default-breadcrumb,
.arrow-breadcrumbs {
    margin-bottom: 26px;
}

.arrow-breadcrumbs li.processed a {
    color: var(--black-color);
}

.payment-form-container .left-panel .breadcrumb-heading,
.shipping-form-container .shipping-form .breadcrumb-heading {
    color: var(--black-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}

.payment-form-container .radio-container .checkmark {
    width: 24px !important;
    height: 24px !important;
    border: 1px solid #EEE !important;
}

.payment-form-container .radio-container input:checked~.checkmark::after {
    display: block;
    width: 22px;
    height: 22px;
    left: 1px;
    top: 6.5px;

}

.payment-form-container .radio-container .checkmark::after {
    top: 7px;
    left: 1.5px;
}

.show-pay-details ngx-stripe-card.form-control {
    height: 50px;
    color: var(--black-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.promo-cont .col-4.pr-0 {
    padding-left: 0;
}

.promo-cont input#promo-code {
    height: 50px !important;
    border-radius:4px 0 0 4px !important;
}

#content .checkout,
.container.custom-container.checkout-container.complete {
    background-color: var(--body-bg);
}

/* div#order-adj:after {
    opacity: 0;
} */
app-buy-now-login-v3 .login-modal .alert.alert-dark {
    margin-top: 24px;
}
.shipping-form-container .left-panel .shipping-form-cont-inner {
    background-color: var(--white-color);
}

.shipping-form-container .left-panel .shipping-form-cont-inner div.d-flex.align-items-center.mb-4 {
    display: none !important;
}

.shipping-form-container .left-panel .shipping-form-cont-inner:last-child {
    display: none !important;
}

.address-form.new :is(input[type='text'], input[type='email'], input[type='password'], select) {
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;

}

.address-form.new input::placeholder,
.shipping-form-container select option:disabled {
    color: var(--border-color);
}

.shipping-form-container .shipping-form .btn.btn-submit {
    background-color: var(--primary-bg-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 36px;
}

/* checkout right container */
.shipping-form-container .order-sum-heading {
    
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
}

.card.order-summary-cont {
    border: none;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .item-name {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
    padding-bottom: 14px;
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty {
    color: var(--light-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.order-summary-container .vendor-items-holder .vendor-order-details :is(.order-item .item-price, .tax-row-item .item-price) {
    color: var(--black-color);
    font-size: 16px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 28px;
    letter-spacing: 1px;
}
.order-totals-container .sub-total-holder .sub-total-desc,
.order-totals-container .total-holder .order-total-item .total-desc,
.exc-taxes .tax-desc {
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 28px !important;
    letter-spacing: 1px;

}

.order-totals-container .sub-total-holder .sub-total-desc::after {
    content: ':';
}

.order-totals-container .sub-total-holder {
    border-bottom-color: var(--light-border-color) !important;
}

.order-totals-container .sub-total-holder .sub-price,
.order-totals-container .total-holder .total-price {
    font-size: 16px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 28px !important;
    letter-spacing: 1px;
}

.shipping-form-container .delivery-methods-cont .billing-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    padding-top: 6px;
}
order-totals-container .sub-total-holder .sub-total-item {
    padding-bottom: 29px;
}
.order-totals-container .total-holder .order-total-item {
    padding-top: 19px !important;
}

.shipping-form-container .delivery-methods-cont .d-flex.mb-4 {
    margin-bottom: -1px !important;
    padding-bottom: 24px !important;
}

.shipping-form-container .delivery-methods-cont .vendor-cards-holder {
    padding-top: 0 !important;
}

.delivery-methods-cont .card .card-body .card-row span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
}

.delivery-methods-cont>div:first-child {
    background: var(--white-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 0 !important;
    border-radius: 8px 8px 0px 0px;
    padding: 24px 24px 24px !important;
}

.card.contact-card.p-4.mb-4 {
    background: var(--white-color);
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 35px !important;
}

.delivery-methods-cont .card {
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
    border-bottom-color: var(--light-border-color) !important;
}

.delivery-methods-cont .vendor-cards-holder .card .card-header :is(.vendor-title span,.vendor-title)
  {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title span.mr-1 {
    margin-right: 0 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .item-name {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
    padding-bottom: 14px;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty {
    display: none !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .edit-product-items .edit-item-new {
    color: var(--black-color);
    font-size: 0;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

app-checkout-delivery-v3 .card.vendor-card a.edit-item-new:before {
    content: "Edit Gift Card";
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 500;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .item-img {
    margin-right: 9px !important;
}

.shipping-form-container .delivery-methods-cont .vendor-cards-holder .card .order-item .item-qty-cont .item-count {
    color: var(--black-color);
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .text-underline {
    color: var(--light-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-decoration-line: underline;
}


.shipping-form-container .delivery-methods-cont .vendor-card .card-header {
    margin-bottom: 10px;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 26px;
    letter-spacing: 1px;

    color: var(--black-color);
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
    padding-top: 24px;
    background-color: var(--light-bg) !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .order-shipping-container {
    background-color: var(--white-color) !important;
}

.delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
    background-color: var(--light-bg) !important;
    border-top: 1px solid var(--light-border-color);
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 24px;
    margin-right: 24px;
}

.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont .label-email .recipent-info-edit {
    border-color: var(--light-border-color) !important;
    color: var(--black-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 7px 12px 7px !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont h3 {
    font-size: 16px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 26px !important;
    letter-spacing: 1px;

}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont .form-group,
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont .form-group label {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont .form-group {
    color: var(--black-color);
    margin-bottom: 30px;
}

.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont .radio-container .del-method-name {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 1px;
}

.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont .radio-container {
    margin-bottom: 2px;
}

.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont .option-price {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1px;
}

.payment-form-container .radio-container input:checked~.checkmark,
.left-panel .delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked~.checkmark {
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
}

.payment-form-container .radio-container .checkmark::after,
.left-panel .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
    background: var(--primary-bg-color) !important;
    width: 22px;
    height: 22px;
    top: 1px;
    left: 1px;

}

.left-panel .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
    border-color: var(--primary-bg-color);
    width: 24px !important;
    height: 24px !important;
}

.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
    padding-bottom: 0 !important;
}

.left-panel .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont .total-row .total-row-val,
.left-panel .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont .total-row .total-caption {
    color: var(--black-color);
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 26px !important;
    letter-spacing: 1px;
}

.payment-form-container .radio-container .pay-method-name {
    color: var(--black-color);
    margin-top: 0 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}
.payment-form-container .left-panel .payments-methods-cont .card {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background: var(--white-color);
    padding-block: 10px !important;
}

.payment-form-container .left-panel .card {
    border-radius: 4px;
    background: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(141, 140, 138, 0.08);
    border: none;
}
.card.address-card.px-2.px-md-4.pt-3.pb-4.mb-4 {
    padding: 24px !important;
}
.payment-form-container .left-panel .payments-methods-cont {
    border-bottom: none;
}

.payment-form-container .left-panel .card-details-cont.section-cont,
.payment-form-container .left-panel .payment-form-container {
    padding-top: 0 !important;
    border-top: none;
}
.payment-form-container h2.order-sum-heading {
    margin-bottom: 12px;
}
.left-panel .payment-form-container .section-heading {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 24px;
    border-top:1px solid var(--border-color);
    padding-top: 24px;
}

.payment-form-container .card .card-body .row-head {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 26px;
    letter-spacing: 1px;
    max-width: 94px;
}

.payment-form-container .card .card-body .card-row .user-add-wrap {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}

.left-panel .payment-form-container .section-cont {
    border-bottom: none !important;
}

.payment-form-container .checkbox-cont .checkbox-note {
    color: var(--black-color);
    margin-top: 0 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.left-panel .payment-form-container .checkbox-cont input:checked~.checkmark {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
}

.left-panel .payment-form-container .card.blue-light-bg {
    background-color: var(--secondary-bg-color) !important;
    border-color: var(--secondary-bg-color) !important;
    margin-bottom: 24px !important;
}

.left-panel .payment-form-container .input-cont input {
    border-radius: 4px;
    background: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(141, 140, 138, 0.08);
    border: none;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.right-panel .order-totals-container .promo-cont a {
    color: var(--black-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.right-panel .btn-primary.apply-btn {
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0!important;
}

.scheduled-dtime {
    background: var(--light-bg);
    margin: 0 -24px -28px;
    padding: 24px 24px 0;
}

.mo-sechdule-heading {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}

.delivery-methods-cont .vendor-cards-holder .card .mat-form-field-wrapper .mat-form-field-flex {
    background-color: var(--light-bg) !important;
    color: var(--black-color);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
}

.complete .shipping-form-container h1.breadcrumb-heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
}

.vendor-cards-holder .card.vendor-card:not(:last-child) {
    margin-bottom: 24px !important;
}

.vendor-cards-holder .vendor-card .card-header .card-header-inner .badge-stroke {
    border-radius: 0px 15px 15px 0px !important;
    background-color: var(--light-bg) !important;
    color: var(--light-text-color) !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 26px !important;
    letter-spacing: 1px;
    padding: 6px 7px !important;
}



.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container span.limit {
    color: var(--black-color) !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 0.5px !important;
}

mat-form-field.mat-form-field.mat-primary {
    max-width: 250px;
    width: 100%;
}

.mat-form-field-infix input:is(:focus, :hover) {
    border: 0 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .scheduled-dtime .mat-form-field-label span {
    font-family: var(--primary-font);
    color: var(--light-text-color);
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.mat-calendar-body-selected {
    background-color: var(--light-text-color) !important;
}

.mat-datepicker-content .actions .mat-button .mat-icon {
    display: flex;
    height: 40px;
    width: 70px;
}

.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.mat-focus-indicator.mat-icon-button.mat-button-base:is(:focus, :hover) {
    background-color: var(--light-text-color);
}

.address-sub-fields-countainer.d-flex.px-0 {
    gap: 12px;
}

.address-sub-fields-countainer.d-flex.px-0 .w-100.pl-0.region-cont.address-sub-field {
    max-width: 62%;
    width: 100%;
}

.address-form .form-group .address-sub-fields-countainer .address-sub-field:not(:first-child) {
    max-width: 38%;
}

.auth-user .shipping-form-cont-inner.pt-4.px-4.pb-3.mb-3 {
    margin-bottom: 0 !important;
}

.delivery-methods-cont {
    padding-top: 0 !important;
    margin-top: 32px !important;
    padding-bottom: 8px !important;
}

.shipping-form-container .card.contact-card.p-4.mb-4 {
    margin-bottom: 24px !important;
}

.card.contact-card.p-4.mb-4~.d-flex.align-items-center.mb-4.pb-2 {
    margin-bottom: 20px !important;
    padding-bottom: 0 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .form-group.label-email {
    margin-bottom: 42px;
}

.delivery-methods-cont~.form-group {
    margin-bottom: 0 !important;
}

/* ismail changes ends here */

/* success pages start */
.checkout-container.complete .card.order-confirm-wrapper {
    background-color: var(--white-color);
    border: 0;
    max-width: 830px !important;
    width: 100%;
    flex-basis: auto;
    border-radius: 8px !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    padding: 36px 24px 32px !important;
    border: 0 !important;
}

.checkout-container.complete .card-body.p-4 {
    padding: 0 !important;
}

.complete .order-confirm-wrapper .card-body h1.breadcrumb-heading {
    color: var(--black-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 30px !important;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
}

.checkout-container.complete .blue-light-bg {
    background-color: transparent !important;
    padding: 0 !important;
}

.order-confirm-wrapper .card-header.order-confirm-top {
    padding-top: 0 !important;
    margin: 0 0 44px;
    display: none;
    }
    .order-confirm-wrapper .card-header.order-confirm-top img {
        max-width: 252px;
        width: 100%;
    }

.complete .col-12.d-flex.justify-content-center.px-0.px-md-3.py-4 {
    padding-top: 0 !important;
}

.checkout-container.complete .section-cont {
    border-bottom: 0.5px solid var(--light-border-color) !important;
    padding: 32px 0 !important;
}

.complete .customer-note.section-cont br {
    content: " ";
    height: 30px !important;
    display: block;
}

.complete .customer-note.section-cont {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.complete .product-label.pro-badges-cont {
    display: none !important;
}

.total-cont.section-cont .col-12.px-0.d-flex {
    padding: 0 !important;
    margin: 0 !important;
}

.col-12.order-data.section-cont {
    gap: 60px;
    display: flex;
}

.order-data.section-cont .col-12.col-md-4 {
    width: auto !important;
    max-width: initial !important;
    flex-basis: auto;
    align-items: flex-start !important;
    padding: 0 !important;
}

.checkout-container.complete .order-data .order-column .col-heading {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 26px;
    letter-spacing: 1px;
    padding-bottom: 6px !important;
}

.checkout-container.complete .order-data .order-column .col-desc {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}

.checkout-container.complete .vendor-items-holder .vendor-order-details .order-item,
.checkout-container.complete .vendor-items-holder {
    padding: 0 !important;
    margin: 0 !important;
}

.checkout-container.complete .vendor-order-details {
    padding: 0 !important;
}

.checkout-container.complete .cart-data .order-item .item-desc .item-name {
    color: var(--black-color);
    font-size: 16px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 26px !important;
    letter-spacing: 1px;
    margin: 0 0 6px !important;
    padding: 0 !important;
}

.complete .message-label {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.message-content {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}

.complete .item-brand {
    color: var(--light-text-color) !important;
    margin-bottom: 6px;
}

.complete :is(.item-brand, .qty, .receipient-name) {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}
.complete .receipient-name{
    color: var(--black-color);
}

.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
    margin-bottom: 48px !important;
}

.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item:last-child {
    margin-bottom: 0 !important;
}

.complete .receipient-email {
    color: var(--black-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.checkout-container.complete .cart-data .order-item .item-price {
    color: var(--black-color);
    font-size: 18px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 28px !important;
    letter-spacing: 1px;
}

.total-cont.section-cont .col-3.px-0.pr-3:after {
    content: ":";
    position: relative;
    left: -10px;
    color: var(--white-color);
    display: inline;
    background-color: var(--white-color);
}

.card-footer-right.text-right {
    display: none;
}

.complete.digital .shipping-data .col-12.px-0.shipping-row.d-flex.flex-wrap.justify-content-between.pt-4.mt-1:first-child {
    margin-top: 0 !important;
    padding: 0 0 24px 0 !important;
    display: none !important;
}
.col-12.px-0.shipping-row.d-flex.flex-wrap.justify-content-between.pt-4.mt-1.ng-star-inserted {
    margin-top: 0 !important;
}
.checkout-container.complete .shipping-data .shipping-row:last-child{
    margin-top: 0 !important;
    padding-bottom: 0;
}
.digital .col-12.px-0.shipping-row.d-flex.flex-wrap.justify-content-between.pt-4.mt-1:is(:nth-child(2), :first-child),
.col-12.px-0.shipping-row.d-flex.flex-wrap.justify-content-between.pt-4.mt-1:first-child {
    margin: 0 !important;
    padding: 0 !important;
}


.card-footer.blue-light-bg .col-12.px-0.d-flex.justify-content-between.py-2 {
    padding-top: 0 !important;
}

.total-cont.section-cont .text-right.total-price {
    color: var(--black-color);
    font-size: 18px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 28px !important;
    letter-spacing: 1px;
}

.col-6.col-md-9.text-right {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}

.checkout-container.complete .card-footer-left span {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1px;
}

.shipping-row .col-6.col-md-3.px-0.pr-md-3 {
    color: var(--black-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}


.checkout-container.complete .card-footer-left a {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.complete .card-footer-right {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.checkout-container.complete .card-footer .back-btn {
    border-radius: 4px !important;
    background: var(--primary-bg-color);
    color: var(--white-color) !important;
    text-align: center;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 26px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase;
    text-decoration: none;
    padding: 22px 20px 19px;
    min-width: 156px;
    margin: 8px 0 0;
}

.complete .attributes {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}
.complete :is(.msg-cont,.card-footer-left,.card-footer-right)  {
    display: none;
}

.col-12.px-0.pt-1.msg-inner {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    margin-top: 4px;
}

.total-cont.section-cont .col-3.px-0.pr-3 {
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}

.checkout-container.complete .cart-data .order-item .item-img {
    max-width: 90px;
    min-width: 90px;
    height: auto !important;
    width: 100%;
    margin-right: 15px !important;
}

.custom-container.checkout .checkout-tabs-cont .vendor-items-holder {
    padding-bottom: 1.6rem;
}

.custom-container.checkout .checkout-tabs-cont .vendor-items-holder:not(:last-child) {
    margin-bottom: 48px !important;
}
.complete .order-item .order-item-inner-bottom {
    margin-top: 9px;
}
.complete .col-12.d-flex.justify-content-center.px-0.px-md-3.py-4 {
    padding-bottom: 0 !important;
}
/* success pages end */

/* internal pages start */


input[type="checkbox"] {
    accent-color: var(--light-text-color);
    padding: 0 !important;
}


input::placeholder {
    font-style: normal !important;
}

.invalid-feedback div {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #dc3545 !important;
}

/* internal pages end */



/* ======================================= images replace css  =================================*/
:is(.add-to-basket a#cart-bag-partial, .mob-top-links a.mob-cart-btn) img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(239deg) brightness(98%) contrast(100%);
    width: 20px;
    height: auto;
}

a.recipent-info-edit img.mr-2 {
    margin-top: 3px;
}
:is(.edit-address, a.edit-item-new, .order-shipping-container .delivery-dropdowns-cont a.recipent-info-edit,
    .edit-contact, .edit-contact) img {
    content: url('https://static.techsembly.com/v2aYvBqYVVaNBVozKaxMnmqt');
}



/* a tag animation  */
a {
    position: relative;
}

.footer .footer-widget .widget-content ul li a {
    text-decoration: none;
}

.footer .footer-widget .widget-content ul li a:hover {
    text-decoration: none;
}

:is(ul.nav.menu-holder .nav-item, .widget-content) a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    background-color: var(--primary-bg-color);
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

ul.nav.menu-holder .nav-item a::after,
.nav-item a:hover {
    color: var(--primary-color) !important;
}

:is(ul.nav.menu-holder .nav-item, .widget-content) a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.social-links a:after {
    display: none;
}

/* end a tag animation  */

/* global css input btn etc */

app-cart {
    background-color: var(--body-bg);
    display: block;
}

:is(input, input.form-control, textarea, select):is(:active, :focus, :hover) {
    box-shadow: none;
    border: 1px solid var(--black-color) !important;
}

.btn-primary:is(:active, :focus, :hover) {
    box-shadow: none !important;
}

:is(input, input.form-control, textarea)::placeholder {
    color: var(--border-color) !important;
    font-size: inherit;
    font-style: inherit;
    text-align: inherit;
    line-height: inherit;
}

input,
input.form-control {
    border: 1px solid var(--border-color);
    border-color: var(--border-color) !important;
    border-radius: 4px !important;
    background-color: var(--white-color);
    font-size: 0.875rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: 26px !important;
    height: auto !important;
    padding: 14px 14px;
    max-height: none !important;
    letter-spacing: 1px;
    color: var(--black-color);
}

.btn.btn-primary {
    background-color: var(--primary-bg-color) !important;
    color: var(--white-color);
    text-align: center;

    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 26px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase;
    height: 54px !important;
    border-radius: 4px !important;
}

.btn.btn-primary:is(:focus, :hover, :active) {
    background-color: var(--primary-bg-color);
    transition: 0.5s ease-out;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    padding: 0;
    display: flex;
    align-items: center;
    padding-right: 19px !important;
}

li.breadcrumb-item a,
li.breadcrumb-item.last {
    color: var(--border-color) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}

app-cart :is(li.breadcrumb-item a, li.breadcrumb-item.last) {
    color: var(--border-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}

.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
    color: var(--black-color) !important;
    font-weight: 600 !important;

}



/*..==================================Media Quries====================================================*/
@media (max-width: 1199.98px) {
    .dropdown.dropdown-flag.px-1 {
        display: none;
    }

    header.header .mobile-menu {
        background-color: transparent;
        color: var(--color-white);
    }
}


@media (max-width: 991.98px) {
    .footer .footer-widget .widget-content .social-links {
        justify-content: center;
    }

    .footer .mobile-footer .list-group .list-group-holder>a:hover {
        background-color: transparent;
    }

    .footer .mobile-footer .list-group .list-group-holder:first-child {
        border-top: 0.5px solid var(--color-white);
    }

    .footer-widget:last-child {
        flex: 1;
        text-align: inherit;
    }

    .footer .mobile-footer .list-group .list-group-holder>a {
        padding: 14px 0 13px;
        background-color: transparent;
        color: var(--white-color);      
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;

    }

    .footer .mobile-footer .footer-widget ul li a {
        color: var(--white-color);

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1px;
    }

    .footer .mobile-footer .BorderBottom {
        border-color: var(--white-color);
    }

    .footer .mobile-footer .list-group .list-group-holder>a:after {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(328deg) brightness(102%) contrast(100%);
        top: calc(50% - 9px);
    }

    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
        width: 20%;
    }

    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
        width: 80%;
    }

    .products-container .products-holder-main .products-holder :is(.product-column, i[aria-hidden="true"]) {
        width: calc(50% - 12px);
        margin: 0 0 25px 0;
    }

    .shipping-options-cont .label-email {
        flex-wrap: wrap;
    }


    :is(nav#sidebar, .mob-overlay).active {

        top: inherit;
    }

    .sub-total-desc {
        max-width: 50%;
        flex: auto;
    }

    .sub-price {
        max-width: 50%;
        flex: auto;
    }



    header.header .mobile-menu {
        padding: 0;
        display: flex;
    }

    .header .align-items .col-lg-4.col-md-4.col-sm-5.col-4.p-0.pl-2 {
        max-width: 60%;
        width: 100%;
        flex-basis: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-left: 0 !important;
    }

    .mob-top-links li:not(:first-child):not(:last-child) {
        display: none;
    }

    .mob-top-links li:not(:first-child) a {
        padding: 0 !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .mob-top-links {
        gap: 10px;
    }

    .header .align-items :is(.menu-links-cont, div.col-1.col-sm-2) {
        max-width: 40%;
        flex-basis: auto;
        width: 100%;
    }

    header.header .logo {
        text-align: center;
        height: auto;
    }

    .mob-search-link img {
        width: 18px;
    }

    .explore-text {
        max-width: 100%;
        padding: 50px 1rem;
    }

    .explore-img {
        max-width: 100%;
    }

    .home-intro-container.snk-spa {
        padding: 0 !important;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }

    .explore-oter {
        flex-wrap: wrap;
    }

    .resort-text {
        margin-bottom: 50px;
    }

    .mob-top-links img {
        width: 20px;
    }

    footer.footer {
        padding: 20px 0px 30px;
        color: var(--color-white);
    }

    .footer .mobile-footer .list-group .list-group-holder:first-child {
        border-top: 0.5px solid var(--white-color);
    }

    .mob-btn-group a {
        border-radius: 4px;
        background: var(--primary-color);
        color: var(--color-white) !important;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        text-transform: capitalize;
    }

    app-product-listing .product-container {
        padding: 5px 1rem;
        display: block;
    }

    .mobile-nav .mob-btn-group {
        margin: 15px 0 20px;
    }

    .user-links a {
        display: flex;
        align-items: center;
    }

    .new-cust-note {
        color: var(--black-color);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1px;
        margin-top: 16px;
    }

    form.login-form .form-group {
        margin-bottom: 16px !important;
    }

    .container.custom-container.login-signup {
        padding: 24px 16px;
    }

    .sign-up-section .sign-up-container .sign-up-form {

        width: 100%;
    }

    .home-slider .container.custom-container {
        padding-inline: 16px !important;
    }

    .home-slider .post-tile {
        max-width: 100% !important;
        margin-bottom: 2.375rem;
    }

    .home-slider h2.post-link.text-center,
    .home-slider p {

        margin: 20px 0 0 !important;
    }

    .home-slider button.owl-prev {
        left: -15px !important;
    }

    .home-slider button.owl-next {
        right: -15px !important;
    }

    .home-slider .carousel-container {
        padding: 25px 0px;
    }

    .product-carousel-mob.tab .owl-nav {
        display: none;
    }

    .owl-theme .owl-dots .owl-dot span {
        background: var(--border-color);
    }

    .product-detail-container .product-holder .product-detail .product-info .info-holder {
        margin: 43px 0 14px;
    }

    .product-detail-container .product-holder .product-order {
        border: 0;
        padding-top: 0;
    }

 
    .mobile-menu svg {
        fill: var(--primary-color);
        width: 22.5px;
    }

    app-breadcrumbs .row.d-none.d-lg-flex {
        display: block !important;
    }

    app-product-detail {
        padding-top: 9px;
    }

    .breadcrumb {
        margin-bottom: 24px;
    }

    input.form-control.delivery-fields {
        margin-bottom: 20px !important;
    }


    button#continue-to-delivery-and-billing {
        margin-top: 24px;
    }

    .modal-popup.alert-popup .btns-cont .btn {
        min-width: 100px;
    }

    .payment-form .address-card .col-10.pr-0.pl-0 {
        max-width: 75%;
    }

    .mob-nav a.nav-link {
        padding: 0 !important;
    }

    .mob-nav li.nav-item {
        padding: 0.625rem 1.25rem;
    }

    .col-12.col-lg-6.text-center.d-flex.flex-column.align-items-center.powered-by {
        margin-top: 30px;
    }

    .refine-content-holder h3 {
        color: var(--black-color);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1px;
    }


    .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
        width: 100%;
    }

    .footer .footer-widget .widget-content .social-links {
        gap: 20px;
        margin-bottom: 0;
    }


    header.header .logo {
        margin: 0;
    }

    .user-links img {
        margin-top: -7px;
    }


    .custom-container {
        padding-left: 16px;
        padding-right: 16px;
    }

   
    .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
        margin-bottom: 0;
    }

    .slide-content h2.slide-title {
        padding: 0 16px;
    }

    header.header {
        padding: 0;
        margin-bottom: 18px;
    }


    .mobile-search-box :is(.nav-search-field,button.btn.btn-search) {
        display: none;
    }

    #sidebar .user-links img {
        width: 18px;
        height: 18px;
    }

    #cart-notification .modal-container.login-modal {
        width: 100%;
    }

    .card.address-card.px-3.py-2.mt-2.mb-2,
    .card.address-card.exlc-offer.px-3.py-2.mt-5.mb-2 {
        padding: 16px !important;
    }

    .product-detail-container .product-holder .product-detail .product-info h1.product-name {

        padding-right: 0px;
    }

    nav#sidebar ul.accordian li.nav-item a[data-toggle="collapse"]::after {

        top: -12px !important;
    }

    nav#sidebar ul.accordian li.nav-item .sub-menu-cont {
        padding-inline: 12px;
    }
    header.header .head-links li .cart-qty, header .mob-top-links .cart-qty {
        background-color: transparent;
        color: var(--black-color);
        top: 4px;
        left: 2px;
        height: 15px;
    }
    .mob-search-link,.toggle-menu-cont {
        display: none !important;
    }
    .mob-search-link {
        display: none !important;
    }
    .app-header .row.align-items.spacing {
        padding-inline: 0;
        margin: 0;
    }
}


/* end max 992  */

@media (max-width: 767.98px) {


    .col-6.px-0.pr-md-3.order-item-left.d-flex.align-items-center {
        max-width: 60%;
        flex-basis: auto;
    }

    .col-6.pr-0.pl-md-3.order-item-right {
        max-width: 40%;
        flex-basis: auto;
        padding-left: 5px;
    }

    .complete .card-body.p-4 {
        padding: 16px !important;
    }

    .checkout-container.complete .cart-data .order-item .item-img {
        margin-right: 10px !important;
        max-width: 40%;
    }

    .complete .col-12.col-md-8.px-0.pr-md-3.order-item-left.d-flex.align-items-center.pb-4.pb-md-0 {
        max-width: 60%;
        flex-basis: auto;
    }

    .order-item-right .col-6.pl-0.pr-2.items-atts-cont.text-center {
        max-width: 100%;
    }

    .complete .col-12.col-md-4.px-0.pl-md-3.order-item-right.d-flex.align-items-center.justify-content-between {
        max-width: 40%;
        flex-basis: auto;
        justify-content: center !important;
        flex-wrap: wrap;
    }

    .complete .col-12.col-md-9.px-0.pl-md-3.text-right {
        text-align: left !important;
    }

    .card-footer .col-12.px-0.d-flex.justify-content-between.py-2 {
        display: flex;
        flex-wrap: wrap;
    }

    .product-detail-container .product-holder .product-order .nav-tabs {
        gap: 20px;
    }

    .related-products .related-products-holder .rel-product-col:nth-child(2n) {
        margin-right: 0 !important;
    }

    .related-products .related-products-holder .rel-product-col {
        width: calc(50% - 10px);
        margin: 0 10px 26px 0;
    }

    .related-products .related-products-holder .product-content .product-title {
        width: 90%;
        padding-right: 10px;
    }

    .scheduled-dtime {
        margin: 0 -16px -28px;
        padding: 24px 16px 0;
    }

    .delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {

        padding: 24px 16px 18px !important;
    }

    .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
        padding-inline: 16px !important;
    }

    .custom-container.cart-container .vendor-items-cont .card .card-header {
        display: flex;
        flex-wrap: wrap;
    }

    .custom-container.cart-container .vendor-items-cont .card {
        padding: 24px 16px !important;
    }

    .cart-right-cont {
        margin-top: 1.5rem;
    }

    app-cart .cart-right-cont form.cart-login-form .form-submit-cont {
        padding-bottom: 0 !important;
    }

    .address-form .col-6 {
        max-width: 100%;
        flex: auto;
        padding: 0 !important;
    }

    .address-form .col-6 .form-group {
        padding: 0 !important;
    }

    .modal-popup .modal-container {
        width: 90%;
    }

    .custom-container.cart-container .card.order-summary-cont .card-header,
    .order-summary-cont .card-body-inner,
    .col-12.px-4.login-cart-panel,
    .col-12.px-4.guest-form-cont,
    .custom-container.cart-container .cart-login-cont .checkout-desc-cont,
    footer .container.custom-container,
    .custom-container.checkout,
    .shipping-form-container .left-panel .shipping-form-cont-inner,
    .col-12.px-4.order-summary-container,
    .order-summary-cont .order-totals-container,
    .delivery-methods-cont .vendor-cards-holder .card .order-item,
    .checkout-container.complete .blue-light-bg {
        padding-inline: 16px !important;
    }

    .home-slider .d-none.d-md-block.d-lg-block.d-xl-block {
        display: block !important;
    }

    .home-slider .d-block.d-sm-block.d-md-none {
        display: none !important;
    }

    .modal-body .guestCheckout-form input#guest-email,
    .modal-body .guest-form-cont .form-control,
    .modal-body .guest-form-cont button,
    form.guestCheckout-form .form-submit-cont {
        max-width: 100%;
        width: 100%;
    }

    app-buy-now-login .modal-body {
        padding-inline: 24px;
    }

    .cdk-global-overlay-wrapper .mat-dialog-container #modal-buynow .login-modal .modal-body .container {
        max-width: 100% !important;
        padding: 0;
    }

    .modal-body .cart-login-cont.py-4 {
        padding-top: 0 !important;
    }

    .payment-form-container .card.blue-light-bg {
        margin-bottom: 24px !important;
        padding: 8.5px 11px !important;
    }

    .payment-form-container .checkbox-cont .checkmark,
    .payment-form-container .checkbox-cont .checkmark {
        height: 24px !important;
        min-width: 24px !important;

    }

    .payment-form-container .form-group .checkbox-cont .checkmark::after {
        background-size: 12px;
        width: 24px;
        height: 24px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        top: -1px;
        left: -1px;
    }

    .payment-form-container .card.blue-light-bg.exlc-offer {
        padding: 14.5px 11px !important;
        margin-top: 28px !important;
    }

    .payment-form-container .checkbox-cont input:checked~.checkmark,
    .payment-form-container .checkbox-cont .checkmark {
        position: relative;
        top: -14px;
    }

    .product-detail-container .personalise-form .delivery-form .info-text {
        margin-top: 12px;
        display: inline-block;
    }

    .product-detail-container .product-holder .product-order .nav-tabs .nav-item {
        max-width: 90px;
    }

    .product-detail-container .product-holder .product-detail .product-info h1.product-name {
        width: 100%;.banner-carousel-section.desktop-banner {
            display: none;
        }
    
        
    }

    .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage {
        margin-top: 9px;
    }

    .checkout-container.complete .card.order-confirm-wrapper {
        padding: 24px 16px 24px !important;
    }

    .checkout-container.complete .blue-light-bg {
        background-color: transparent !important;
        padding: 0 !important;
    }

    .card-footer.blue-light-bg .col-12.px-0.d-flex.justify-content-between.py-2 {
        gap: 10px;
    }

    .col-12.order-data.section-cont {
        gap: 16px;
    }

    app-product-detail :is(li.breadcrumb-item a, li.breadcrumb-item.last) {
        font-size: 14px;
    }

    #delivery-options-popup .radio-container input:checked~.checkmark::after {
        top: 1.5px;
        left: 1.5px;
    }

    .payments-methods-cont fieldset .card {
        max-width: 100%;
        display: inline-block;
        width: 100%;
    }

    .payments-methods-cont fieldset {
        display: flex;
        gap: 0px;
        flex-wrap: wrap;
    }

    form.signup-form .btn.submit {
        background-position: 23% calc(50% - 2px);
    }

    label.checkbox-cont input#same-billing-address~span.checkmark {
        top: -5px;
    }

    
}

/* end max width 767  */

@media (max-width: 575.98px) {
    @supports (-webkit-appearance:none) {
        .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
            margin-top: -2px;
            vertical-align: top;
        }

        .related-products .related-products-holder .product-content .product-rating a.wishlistImage img {
            margin-top: 0px;
        }
    }

    .cart-item .col-2.pl-0.pr-2.item-image-cont {
        flex: 0 0 24.666667%;
        max-width: 24.666667%;
    }

    .cart-item .col-10.px-0.item-details-cont {
        flex: 0 0 75.3333333333%;
        max-width: 75.333333%;
    }

    app-item .item-details .col-4.col-lg-3.pr-0 {
        padding-left: 0;
    }

    .sign-up-form button.submit {
        margin-top: 20px !important;
        max-width: 100%;
        width: 100% !important;
    }

    .ultimate-img {
        margin-top: 30px;
    }

    .home-slider .owl-carousel.owl-drag .owl-item {
        margin: 0 8px 0 0 !important;
        width: 50% !important;
        min-width: 24.1%;
    }

    .gift-section .gifts-content .gifts-heading {
        padding-inline: 16px;
    }
    .unit-attributes-cont a.edit-item-new {
        width: 17px;
    }
}

/* end max width 575  */

@media (max-width: 416px) {}

@media (max-width: 387px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    header .container-fluid {
        padding: 0;
    }

    .home-slider .container.custom-container {
        max-width: 100%;
    }

    .container.home-intro-container {
        max-width: 100%;
        padding-inline: 48px;
    }

    app-page-sidebar.main-sidebar {
        max-width: 23.48%;
        width: 100%;
    }

    .products-container .products-holder-main {
        max-width: 76.52%;
        width: 100%;
        margin-left: 25px;
        margin-top: 4px;
        padding-top: 0 !important;
    }

    .products-container .products-holder-main .products-holder .product-column:nth-child(3n) {
        margin-right: 0;
    }

    .item-details-cont .item-details .col-lg-2 {
        flex: auto;
        max-width: 80px;
        padding: 0;
    }

    .cart-item .item-details-cont .col-lg-3 {
        margin-left: 32px;
        max-width: 124px;
        width: 100%;
        padding: 0;
    }

    .item-details-cont .item-details .col-lg-7 {
        flex: auto;
        max-width: 53%;
    }

    .cart-item .item-image-cont {
        padding: 0 !important;
        max-width: 21.276%;
        width: 100%;
        flex: auto;
        margin-right: 20px;
    }

    .item-img.mr-1 {
        margin: 0 !important;
    }

    .col-10.px-0.item-details-cont {
        flex: auto;
    }

    .container.custom-container.checkout,
    app-login-signup,
    app-user-account {
        padding: 48px 48px 48px !important;
        display: block;
    }

    app-product-listing {
        padding-bottom: 45px;
        display: block;
    }

    .complete .order-item .col-md-7 {
        flex: auto;
        max-width: 58.333333%;
    }

 
    .order-item-right .col-lg-5 {
        flex: auto;
        max-width: 44%;
        padding-left: 0;
    }

    .complete .order-item .col-md-5 {
        flex: auto;
        max-width: 48.666667%;
    }

    .item-img.mr-1 img {
        width: 100%;
    }

    app-related-products .container.custom-container .container {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    header.header .head-links li .add-to-basket .dropdown-menu:after {
        right: 6px;
    }

    .fair-ultimate .col-md-7.col-12 {
        padding-left: 8.16px;
    }

    .fair-ultimate .col-md-5.col-12 {
        max-width: 440px;
        margin: auto;
        padding: 0;
    }

    header.header .head-links li .add-to-basket .dropdown-menu {
        border-radius: 8px;
        background: var(--white-color);
        box-shadow: none;
        border-radius: 4px;
        border: 1px solid var(--light-border-color);
        background: var(--white-color);
        right: 21px !important;
    top: -6px !important;

        
    }

    app-confirm-buy-now-with-cart .modal-container.login-modal.p-4 {
        width: 582px !important;
    }


   
}

/* end 992 min  */

@media (min-width: 1200px) {
    .home-banner .banner-heading {
        max-width: 66%;
        top: 53%;
    }

    app-product-detail .product-detail-container .col-lg-7 {
        flex: inherit;
        max-width: 52.096%;
    }

    app-product-detail .product-detail-container .col-lg-5 {
        flex: auto;
        max-width: 43.797%;
    }

    app-related-products .container.custom-container.modified .container {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    .payment-form-container .col-12.col-lg-4.right-panel {
        flex: 0 0 43.905%;
        max-width: 43.905%;
    }

    .payment-form-container .left-panel {
        flex: 0 0 51.895%;
        max-width: 51.895%;
    }

    app-cart .cart-container .col-md-8 {
        max-width: 60.527%;
        flex: auto;
    }

    app-cart .cart-container .col-md-4 {
        flex: auto;
        max-width: 35.75%;
    }

    app-cart .custom-container.cart-container {
        padding: 48px 48px !important;
    }

    .payment-form-container .left-panel {
        padding-right: 11px !important;
    }

    .cart-container .row {
        justify-content: space-between;
    }

    .shipping-form .left-panel.col-lg-8,
    .shipping-form-container .left-panel.col-lg-8 {
        flex: auto;
        max-width: 50.9888%;
        padding-right: 0;
    }

    .shipping-form .right-panel.col-lg-4,
    .shipping-form-container .right-panel.col-lg-4 {
        flex: auto;
        max-width: 43.905%;
    }

    .shipping-form .row,
    .shipping-form-container .row {
        justify-content: space-between;
    }

    .payment-form .row {
        justify-content: space-between;
    }

    .complete .col-12.col-md-8.order-item-left {
        max-width: 48%;
        flex: auto;
    }

    .complete .col-12.col-md-4.order-item-right {
        max-width: 52% !important;
        flex: auto;
    }


    
}

@media (min-width: 1279.99px) {

    .container.product-detail-container,
    app-related-products .related-products>.container {
        max-width: 1280px;
        width: 100%;
        padding: 0 48px;
    }

    .container.product-detail-container {
        padding: 0 46.5px;
    }
}

@media (max-width: 370px) and (min-width: 315px) {}