@font-face {
    font-family: 'Calibre-Black';
    src: url('Calibre-Black.woff2') format('woff2'),
        url('Calibre-Black.woff') format('woff'),
        url('Calibre-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre-Bold';
    src: url('Calibre-Bold.woff2') format('woff2'),
        url('Calibre-Bold.woff') format('woff'),
        url('Calibre-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre-BoldItalic';
    src: url('Calibre-BoldItalic.woff2') format('woff2'),
        url('Calibre-BoldItalic.woff') format('woff'),
        url('Calibre-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre-BlackItalic';
    src: url('Calibre-BlackItalic.woff2') format('woff2'),
        url('Calibre-BlackItalic.woff') format('woff'),
        url('Calibre-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre-Light';
    src: url('Calibre-Light.woff2') format('woff2'),
        url('Calibre-Light.woff') format('woff'),
        url('Calibre-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre-Semibold';
    src: url('Calibre-Semibold.woff2') format('woff2'),
        url('Calibre-Semibold.woff') format('woff'),
        url('Calibre-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre-Regular';
    src: url('Calibre-Regular.woff2') format('woff2'),
        url('Calibre-Regular.woff') format('woff'),
        url('Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre-MediumItalic';
    src: url('Calibre-MediumItalic.woff2') format('woff2'),
        url('Calibre-MediumItalic.woff') format('woff'),
        url('Calibre-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre-LightItalic';
    src: url('Calibre-LightItalic.woff2') format('woff2'),
        url('Calibre-LightItalic.woff') format('woff'),
        url('Calibre-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre-Medium';
    src: url('Calibre-Medium.woff2') format('woff2'),
        url('Calibre-Medium.woff') format('woff'),
        url('Calibre-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre-RegularItalic';
    src: url('Calibre-RegularItalic.woff2') format('woff2'),
        url('Calibre-RegularItalic.woff') format('woff'),
        url('Calibre-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre-SemiboldItalic';
    src: url('Calibre-SemiboldItalic.woff2') format('woff2'),
        url('Calibre-SemiboldItalic.woff') format('woff'),
        url('Calibre-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre-ThinItalic';
    src: url('Calibre-ThinItalic.woff2') format('woff2'),
        url('Calibre-ThinItalic.woff') format('woff'),
        url('Calibre-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre-Thin';
    src: url('Calibre-Thin.woff2') format('woff2'),
        url('Calibre-Thin.woff') format('woff'),
        url('Calibre-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
