<div class="col-12 home-point-cont d-flex align-items-center flex-wrap">
  <div class="col-12 col-lg-6 text-center home-point-left px-0">
    <a href="#" class="img-link">
      <img src="https://static.techsembly.com/xRJv8Gof2Vb7BifPWcHcBsxZ" width="595" class="w-100" alt="img"/>
    </a>
  </div>
  <div class="col-12 col-lg-6 home-point-right px-0 pr-lg-3 pl-lg-4 pb-4 pb-lg-0">
   <div class="col-12 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner text-center text-lg-left">
      <h2 class="point-head">THE GIFT OF EXPERIENCES</h2>
      <p>Treat someone you care about to an inspirational Airelles experience. With our Airelles E-Gift Voucher, the recipient can enjoy wellness treatments, dining, or a stay at one of our hotels and resorts worldwide.</p>
      <br>
      <a href="#" class="btn btn-primary shop-link">CREATE ONE NOW</a>
    </div>
   </div>
  </div>
</div>
