@font-face {
    font-family: 'Nimbus-San-light';
    src: url('NimbusSan-Lig.eot');
    src: url('NimbusSan-Lig.eot?#iefix') format('embedded-opentype'),
        url('NimbusSan-Lig.woff2') format('woff2'),
        url('NimbusSan-Lig.woff') format('woff'),
        url('NimbusSan-Lig.ttf') format('truetype'),
        url('NimbusSan-Lig.svg#NimbusSan-Lig') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus-San-regular';
    src: url('NimbusSan-Reg.eot');
    src: url('NimbusSan-Reg.eot?#iefix') format('embedded-opentype'),
        url('NimbusSan-Reg.woff2') format('woff2'),
        url('NimbusSan-Reg.woff') format('woff'),
        url('NimbusSan-Reg.ttf') format('truetype'),
        url('NimbusSan-Reg.svg#NimbusSan-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

