<!-- Your Order {{order.number}} Has Been Sent -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>Shipped</title>
    <!-- style css -->
    <style media="screen" type="text/css">
      #outlook a {
        padding:0;
      }
      .es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
      }
      a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
      }
      [data-ogsb] .es-button {
        border-width:0!important;
        padding:10px 20px 10px 20px!important;
      }
      body {
        background-color: #EDEDED;
        color: #000000;
        font-family: 'helvetica', sans-serif;
        font-size: 0.875rem;
        line-height: 1rem;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        padding: 0;
        margin: 0;
      }
      .wrapper {
        background-color: #FFFFFF;
        max-width: 640px;
        margin: 0 auto;
      }
      .main-table {
        background-color: #fff;
        max-width: 640px;
        padding: 32px;
        margin: auto;
      }
      img {
        max-width: 100%;
      }
      .heading-text-main {
        color: #000000;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
      }
      .heading-text {
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
      }
      .sub-text {
        font-weight: normal;
        font-size: 10px;
        line-height: 11px;
        color: #000000;
      }
      .count-border {
        border: 1px solid #D9D9D9;
        padding: 6px 8px;
      }
      .small-text {
        font-weight: normal;
        font-size: 8px;
        line-height: 9px;
      }
      .lebel-text {
        font-weight: normal;
        font-size: 10px;
        line-height: 11px;
      }
      /* css start for multi vendors*/
      .email-header {
        padding-top: 45px;
        text-align: center;
        width: 100%;
      }
      .email-header .email-logo {
        /*width: 210px;
        height: 50px;*/
      }
      .email-header .email-heading {
        color: #000;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.01em;
        margin-top: 43px;
        margin-bottom: 20px;
      }
      .msg-wrapper {
        padding: 1.5rem;
      }
      p {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      .btns-wrapper {
        display: flex;
        align-items: flex-start;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;
      }
      .btns-wrapper .btn {
        padding: 17px 20px 13px;
        height: auto;
        font-size: 0.75rem;
        line-height: 0.875rem;
        letter-spacing: 1.25px;
        text-decoration: none;
        text-transform: uppercase;
      }
      .btns-wrapper .btn:hover,
      .btns-wrapper .btn:focus {
        text-decoration: underline;
      }
      .btns-wrapper .btn.btn-view-order {
        margin-right: 1rem;
      }
      .btns-wrapper .btn.btn-primary {
        background-color: #212322;
        color: #fff;
      }
      .btns-wrapper .btn.btn-transparent {
        background-color: transparent;
        color: #212322;
      }
      .border-bottom-grey {
        border-bottom: 0.5px solid #D9D9D9;
      }
      .table-container {
        padding-top: 1.5rem;
        overflow-x: auto;
      }
      .section-heading {
        color: #212322;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.125rem;
        margin: auto;
      }
      .table-container table td {
        border-bottom: 0.5px solid #e0e0e0;
        color: #374151;
        padding-top: 1rem;
        padding-bottom: 0.75rem;
        vertical-align: middle;
      }
      .table-container .pro-name-cont {
        padding-left: 29px;
      }
      .table-container tbody .sub-desc {
        color: #6B7280;
        font-size: 0.75rem;
        line-height: 0.875rem;
        padding-top: 0.375rem;
      }
      .totals-wrapper {
        display: flex;
        justify-content: flex-end;
        padding-top: 1rem;
      }
      .totals-wrapper .totals-inner-cont {
        color: #455263;
        width: 70%;
        max-width: 305px;
      }
      .totals-wrapper .totals-inner-cont td {
        padding-bottom: 0.8125rem;
      }
      .totals-wrapper .totals-inner-cont .bordered-col {
        border-bottom: 1px solid #e9e7e7;
      }
      .totals-wrapper .totals-inner-cont .grand-total {
        font-size: 1.5rem;
        word-wrap: anywhere;
      }
      .address-wrapper {
        background: #FCFCFC;
        border: 0.5px solid #D9D9D9;
        border-radius: 4px;
        color: #6d6d6d;
        padding: 1rem;
        margin-top: 0.75rem;
      }
      .address-wrapper-faq {
        padding-right: 44px;
      }
      .address-wrapper-faq .address-title {
        color: #212322;
        font-size: 12px;
      }
      .address-wrapper-faq .address-desc {
        color: #757575;
        font-size: 12px;
      }
      .address-title {
        color: #000;
      }
      .notes {
        color: #999;
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
      .sys-gen-note {
        border-bottom: 0.5px solid #e0e0e0;
        color: #757575;
      }
      .social-links-cont {
        padding-top: 27px;
        padding-bottom: 25px;
      }
      .social-links-cont a:not(:last-child) {
        margin-right: 25px;
      }
      .email-footer-copyright {
        color: #6d6d6d;
        font-size: 0.75rem;
        line-height: 1.125rem;
      }
      .color-black {
        color: #000 !important;
      }
      .pt-2 {
        padding-top: 0.5rem !important;
      }
      .pt-3 {
        padding-top: 1rem !important;
      }
      .pt-4 {
        padding-top: 1.5rem !important;
      }
      .py-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
      }
      .pr-3 {
        padding-right: 1rem !important;
      }
      .pt-13 {
        padding-top: 0.8125rem !important;
      }
      .pb-0 {
        padding-bottom: 0 !important;
      }
      .pb-3 {
        padding-bottom: 1rem !important;
      }
      .pb-4 {
        padding-bottom: 1.5rem !important;
      }
      .text-center {
        text-align: center !important;
      }
      .text-right {
        text-align: right !important;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <table class="main-table" width="640" cellspacing="0" cellpadding="0" align="center">
        <thead>
          <tr>
            <th width="576"></th>
          </tr>
        </thead>
        <tr>
          <td>
            <div class="email-header">
              <img src="https://static.techsembly.com/9nB4nUpUCmWFSRa1ffTgAKTh" class="email-logo" alt="logo" width="146"/>
              <h2 class="email-heading">下記の注文商品</br>{{order.number}}は発送されました。</h2>
            </div>
            <div class="msg-wrapper">
              <div class="msg-top border-bottom-grey">
                <p>{{ship_address.lastname}} {{ship_address.firstname}}様,</p>
                <p>このたびはお買い上げいただきありがとうございました。お客様のご注文は発送済です。</p>
              </div>
              <!--div class="delivery-section pt-4">
                <h4 class="section-heading color-black">Delivery Address</h4>
                <div class="address-wrapper">
                  <div class="address-title">{{ship_address.lastname}} {{ship_address.firstname}}</div>
                  <div class="address-desc">
                    {{ ship_address.address1 }},
                      {{#if ship_address.address2}}
                      {{ ship_address.address2 }},
                      {{/if}}
                      {{#if ship_address.apartment_no}}
                      {{ ship_address.apartment_no }},
                      {{/if}}
                      {{#if ship_address.city}}
                      {{ ship_address.city }},
                      {{/if}}
                      {{#if ship_address.state_name}}
                      {{ ship_address.state_name }},
                      {{/if}}
                      {{#if ship_address_country}}
                      {{ ship_address_country }},
                      {{/if}}
                      {{#if ship_address.region}}
                      {{ ship_address.region }},
                      {{/if}}
                      {{#if ship_address.zipcode}}
                      {{ ship_address.zipcode }},
                      {{/if}}
                      {{#if ship_address.phone}}
                      {{ ship_address.phone }}
                      {{/if}}
                  </div>
                </div>
              </div-->
              <div class="table-container">
                <h4 class="section-heading">ご注文内容</h4>
                <table width="100%" cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th id="pro-img" width="83"></th>
                      <th id="pro-name" width="187"></th>
                      <th id="qty-ship" width="100"></th>
                      <th id="price" width="182"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each line_items}}
                    <tr>
                      <td class="pro-img-cont">
                        <img src="{{image_url}}" alt="pro-img" width="83"/>
                      </td>
                      <td colspan="2" class="pro-name-cont">
                        <div class="col-head">{{product_name}}</div>
                        <div class="sub-desc">販売元 {{vendor_name}}</div>
                      </td>
                      <td align="center" colspan="2" class="pro-qty-cont text-center">
                        <div class="col-head">数量:{{quantity}}</div>
                        {{#each option_values}}
                        <div class="sub-desc pt-2">{{value}}</div>
                        {{/each}}
                        <div class="sub-desc ship-desc pt-2">
                          {{#if shipment_name}}
                          {{ shipment_name }}
                          {{/if}}
                        </div>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
              <div class="py-4">
              </div>
              <div class="sys-gen-note pb-4">
                このメッセージは自動送信されています。このメッセージに返信しないでください。
              </div>
            </div>
            <div class="email-footer">
              <div class="social-links-cont text-center pt-2 pb-4">

              </div>
              <div class="footer-logo-cont text-center pt-1">
                <a href="{{store_url}}"><img src="https://static.techsembly.com/9nB4nUpUCmWFSRa1ffTgAKTh" width="146" alt="logo"></a>
              </div>
              <div class="email-footer-copyright text-center pt-4 pb-4">

                ザ・ペニンシュラ東京<br>
                〒100-0006 東京都千代田区有楽町1-8-1<br>
                <a href="tel:+81 3 6270 2888" style="color: #6F6666;">+81 3 6270 2888</a><br>
                Copyright © 2023<br>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
