<h1 class="text-center">COLLECTION AND DELIVERY</h1>
<h3>Your Options</h3>
<p>Our collection and delivery options may vary. View what's currently available at checkout.</p>
<h3>Collection</h3>
<p>Please present order confirmation during selected period to collect purchased item(s) at The Carlyle, A Rosewood Hotel. The Carlyle, A Rosewood Hotel reserves the right to collect the person's information for security reason.</p>
<h3>Local Delivery</h3>
<ul>
  <li>Order by 5.30pm to receive your purchase next business day</li>
  <li>Delivery between 9am-5pm, Monday to Friday</li>
</ul>
<h3>International Delivery</h3>
<ul>
  <li>Arrives in 2-5 business days</li>
  <li>Delivery between 9am-5pm, Monday to Friday</li>
</ul>
<h3>Our Delivery partners</h3>
<p>Depending on your location, the courier service may differ</p>
<h3>DHL</h3>
<p>Our shipping partner, DHL, offers you the flexibility to make changes to your delivery while it's on its way to you using DHL On Demand Delivery (ODD). Whether you need to schedule a delivery for another day or remove the signature requirement, ODD makes it easy for you.</p>
<p>Once your order has left us and is with DHL, they will contact you via SMS and/or email to let you know when to expect the delivery.</p>
<h3>Taxes and Duties</h3>
<p>Taxes and duties are calculated according to your shipping destination and itemized on the Order Summary page. Make sure you select your location to view the correct local market pricing, delivery times and shipping costs.</p>
<p>If you are shipping within the USA, local sales tax will be charged on all orders where applicable.</p>
<h3>PO Boxes</h3>
<p>We are unable to deliver to PO boxes.</p>
<h3>Shipping Restrictions</h3>
<p>Due to transport restrictions, we are unable to ship pressurized or flammable items by air. As a result, orders containing fragrance, nail and aerosol products must be delivered via our Standard shipping option.</p>
<p>As we're unable to deliver to certain areas, we suggest that you select a different shipping destination or contact our Customer Service team to help you find an alternative purchase.</p>
<h3>How To Track Your Order</h3>
<p>Our delivery time starts from the moment an order is accepted and includes a 24-hour period where your items will be processed and dispatched.</p>
<p>Once your order has left us, you'll receive an email with your tracking information so you can follow its progress.</p>
