<section class="home-top-cont text-center pt-4 pt-lg-5 pb-4 pb-lg-5">
 <h2 class="section-heading mt-2">いつまでも心に残る贈り物</h2>
 <div class="desc pt-3 w-100">
   <p>大切な人に、アマンでの特別なひとときを贈りましょう。窓の外に広がるパノラマビューを眺めながら、アマン東京で極上の鮨を堪能したり、タイのアマンプリでリフレッシュのひとときを過ごすなど、アマンのギフトカードはとっておきの体験にご利用いただけます。</p>
 </div>
 <div class="w-100  pt-1 pb-4 py-lg-1 mb-lg-4">
   <a href="https://gifts.aman.com/aman-gift-card-029502" class="section-link"><u>eギフトカードを購入</u></a>
 </div>
</section>

<section class="hero-banner-cont text-center">
  <img class="d-none d-lg-block w-100 mb-1" src="https://static.techsembly.com/4X82jdWUgogazggkU6f8QrxE" alt="banner"/>
  <img class="d-lg-none w-100" src="https://static.techsembly.com/md5A6iVQLiv9WFxHZxGQ3vF3" alt="banner"/>
</section>
<section class="home-top-cont text-center pt-4 pt-lg-5 pb-4 pb-lg-0">
</section>
<section class="home-gifts-sect pt-4 pt-lg-5 mt-3 mt-lg-0">
  <div class="col-12 px-0 d-flex flex-wrap align-items-center pt-lg-4">
    <div class="col-12 col-lg-6 px-0 pr-lg-3">
      <div class="gifts-inner-cont text-center w-100">
        <img class="gift-img" src="https://static.techsembly.com/eCww6ZA5VypVoaV7fCYtnoQi" width="370" alt="img"/>
        <div class="gifts-desc pt-2 mt-1 mt-lg-2 px-lg-5 mx-lg-2 mx-xl-5 pb-4 pb-lg-0 mb-1 mb-lg-0">
          <p>オンライン限定で、ギフトカードをご購入いただけるようになりました。ギフトカードは、アマンの特定のホテルおよびリゾート（詳細は利用規約をご覧ください）で、宿泊、食事、スパトリートメント、商品の購入および、さまざまなツアーとアクティビティにご利用いただけます。</p>
          <div class="pt-lg-1">
            <a href="https://gifts.aman.com/aman-gift-card-029502" class="btn btn-transparent px-3 mt-1 mt-lg-2 d-none d-lg-inline-block sect-btn"><span class="px-1">eギフトカードを購入</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 px-0 pl-lg-3">
      <div class="gifts-inner-cont text-center w-100">
        <img class="gift-img" src="https://static.techsembly.com/9xNF4BN1aCQc45SfufKRWub6" width="583" alt="img"/>
      </div>
    </div>
  </div>
</section>

<section class="home-top-cont text-center pt-4 pt-lg-5 mt-lg-4">
 <div class="pt-lg-1">
   <h2 class="section-heading mt-2">少し思い切って…</h2>
 </div>
 <div class="desc pt-3 pb-lg-1 w-100">
   <p>アマンの世界観を存分に味わってもらえるギフトを贈りたい。
そのような方のために、ギフトとしてご購入いただける宿泊パッケージをいくつかご用意しています。
パッケージにはご宿泊と一緒に、お食事や館内でのサービス、アクティビティが含まれているため、受け取った方はお支払いを気にすることなく、ゆったりとアマンでのご滞在をお楽しみいただけます。</p>
 </div>
</section>

<section class="home-gifts-sect pt-4 pt-lg-5 mt-3 mt-lg-4">
  <div class="col-12 px-0 d-flex flex-wrap align-items-center">
    <div class="col-12 col-lg-6 px-0 pr-lg-3">
      <div class="gifts-inner-cont text-center w-100 pr-lg-2">
        <div class="pr-lg-1">
          <img class="gift-img" src="https://static.techsembly.com/cLKQiZyNH46hm6QZTKFEhBY8" width="583" alt="img"/>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 px-0 pl-lg-3">
      <div class="gifts-inner-cont redeem-box text-center w-100 pt-5 pt-lg-0 pl-lg-2">
        <div class="pl-lg-1">
          <div class="pb-lg-1">
            <h3 class="gifts-heading mt-1 mt-lg-0">容易にお使いいただけるギフトカード </h3>
          </div>
          <div class="gifts-desc pt-3 mt-1 pb-lg-1 px-lg-5 mx-lg-5">
            <p>ギフトカードは、オンラインでのご購入後すぐに、メールでお届けいたします。受け取った方は、確認メールをアマンのホテルまたはリゾートで提示することでご利用いただけます。残高の確認も、ホテルまたはリゾートでおこなうことができます。ギフトカードを使用したい用途をお伝えいただくだけで、チェックアウト時に請求書からその金額が差し引かれます。 </p>

          </div>
          <div class="pb-lg-1">
            <h3 class="gifts-heading mt-4 pt-2">コーポレートギフトにもおすすめ </h3>
          </div>
          <div class="gifts-desc pt-3 mt-1 mt-lg-0 px-lg-5 mx-lg-5">
            <p>アマンのギフトカードは、コーポレート向けのギフトやインセンティブとしてもご利用いただけます。詳しくは、お電話 +1 754 216 7830 またはメール <a href="mailto: giftcards@aman.com" class="email-link">giftcards@aman.com</a> でお問い合わせください </p>
          </div>
          <div class="w-100 pt-4">
            <a href="https://gifts.aman.com/aman-gift-card-029502" class="btn btn-transparent d-none d-lg-inline-block mt-2 sect-btn">eギフトカードを購入</a>
            <a href="https://gifts.aman.com/aman-gift-card-029502" class="section-link d-lg-none"><u>eギフトカードを購入</u></a>
          </div>
          <div class="w-100 pt-2 pb-5 pt-lg-5 mt-lg-1 pb-lg-0">
            <a href="https://gifts.aman.com/pages/giftcard-terms-conditions" class="section-link"><u>利用規約</u></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-gifts-sect py-4 py-lg-5 my-lg-4">
  <div class="col-12 text-center pt-lg-2 pb-lg-5">
    <h2 class="section-heading mt-lg-1 mb-lg-4">すばらしいエクスペリエンスをお届けします</h2>
  </div>
  <div class="col-12 px-0 d-flex flex-wrap align-items-center pt-lg-2">
    <div class="col-12 col-lg-6 px-0 pr-lg-3">
      <div class="gifts-inner-cont text-lg-center w-100 pr-lg-2">
        <div class="pr-lg-1">
            <a href="https://aman-japan.techsembly.com/029737"><img class="gift-img" src="https://static.techsembly.com/MaywaevsVJfZZQQbEFhWpHuc" width="583" alt="img"/>
            <div class="gifts-desc pt-3 pb-2 px-lg-5 bg-white bg-below-transparent">
            <h6 class="gift-loc mt-2">タイ、アマンプリ</h6>
            <a href="https://aman-japan.techsembly.com/029737"><h3 class="gifts-heading mb-3">ロマンチックな脱出</h3>
            <p>パビリオンに3泊するお食事付きの宿泊プラン。タイ料理をはじめ、さまざまな国の料理をご堪能ください。</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 px-0 pl-lg-3">
      <div class="gifts-inner-cont text-lg-center w-100 pl-lg-2 pt-4 mt-3 mt-lg-0 pt-lg-0 pb-3 pb-lg-0">
        <div class="pl-lg-1">
          <a href="/restore-and-rebalance-029492"><img class="gift-img" src="https://static.techsembly.com/QhDnNruHnqm6yTQfXBNCs2dL" width="583" alt="img"/>
          <div class="gifts-desc pt-3 pb-2 px-lg-5 bg-white bg-below-transparent">
            <h6 class="gift-loc mt-2">米国、アマンギリ</h6>
            <a href="https://gifts.aman.com/restore-and-rebalance-029492"><h3 class="gifts-heading mb-3"> リストア＆リバランス</h3>
            <p>雄大なアマンギリのデザート ビュー スイートでの2泊のご滞在中に、お一人さまあたり60分のマッサージをご堪能いただけます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
