:root{
    --primary-font: 'Lato';
    --secondary-font: 'cormorantregular';
    --heading-color: #D3AE94;
    --link-heading-color: #F3A485;
    --text-color: #303435;
    --link-btn-color: #F3A485;
    --btn-bg-color: #212322;
}
html {
   overflow-x: hidden;
}
body {
    background-color: #F4F4F4;
    color: var(--text-color);
    font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--secondary-font);
}
a,
a:hover,
a:focus  {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
    text-decoration: none;
}
p {
    color: #6D6D6D;
    font-family: var(--primary-font);
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active {
    background-color: var(--primary-bg-color);
}
/* header section style begin here */
header.header {
    background-color: #F4F4F4;
    border-bottom: none;
    margin-bottom: 25px;
}
header.header .logo img {
    width: 218px;
    height: auto;
}
header.header .menu-holder>li {
  margin-right: 28px;
  margin-left: 28px;
}
header.header .menu-holder {
  padding: 16px 0;
}
header.header .menu-holder li a {
  background-color: transparent;
  border-bottom: none;
  color: var(--text-color);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--primary-font);
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
.empty {
  display: none !important;
}
header.header .search .search-item-form .nav-search-field {
  background-color: #fff;
}
header.header .search .search-item-form .nav-search-field::placeholder {
  font-size: 0;
}
.head-links .nav-item img[alt="cart"],
.head-links .nav-item img[alt="user-profile"] {
  max-width: 15px;
  height: auto;
}
.head-links .nav-item img[alt="wishlist"] {
  max-width: 20px;
  height: auto;
}
header.header .head-links li:first-child {
  order: 2;
}
header.header .head-links li:nth-child(2) {
  order: 1;
}
header.header .head-links li:last-child {
  order: 3;
}
header.header .head-links li a {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
header.header .head-links li:last-child a {
  padding-right: 0;
}
header.header .shipping li:first-child {
  display: none;
}
header.header .shipping li img {
  width: 24px;
}
header.header .shipping li a.dropdown-toggle:after {
  display: none;
}
header.header .shipping li a.dropdown-toggle {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  pointer-events: none;
}
header.header .head-links li .cart-qty {
  width: 16px !important;
  height: 16px !important;
  padding-top: 0 !important;
  top: 22px;
  right: -6px;
}
header .mob-top-links .cart-qty {
  display: flex;
  justify-content: center;
  align-items: center;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
  min-height: auto !important;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details {
  margin-bottom: 10px;
}
header.header .head-links li .add-to-basket .dropdown-menu h4,
header.header .head-links li .add-to-basket .dropdown-menu h5 {
  color: var(--text-color);
  font-family: var(--primary-font);
  text-transform: capitalize;
}
header.header .head-links li .add-to-basket .dropdown-menu h4 {
  color: var(--header-color);
}
/* header section ends here */

/* home page begins */
.container.home-intro-container {
  max-width: 100%;
}
.home-intro-container .banner-inner {
  padding-left: 45px;
}
.container.home-intro-container .redeem-section .redeem-img {
  /* max-height: 750px; */
}
.home-intro-container .banner-inner .inner-heading {
  font-size: 2.125rem;
  line-height: 2.125rem;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 220px;
  margin-bottom: 1rem;
}
.home-intro-container .banner-inner p {
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: var(--primary-font);
  margin-bottom: 1rem;
}
.home-intro-container .banner-inner a.inner-btn {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  font-family: var(--primary-font);
  text-decoration: underline;
}
.home-intro-container .banner-inner a.inner-btn:hover {
  color: var(--heading-color);
}
.home-slider.bestsellers-slider .carousel-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 42px;
}
.container.home-intro-container .featured-exp,
.home-slider.bestsellers-slider .section-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.125rem;
  margin-bottom: 40px;
  margin-top: 50px;
  text-transform: uppercase;
}
.home-slider.bestsellers-slider .post-tile .post-link {
  color: var(--link-btn-color);
  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  text-transform: uppercase;
  margin-top: 22px;
  width: 100%
}
.home-slider .post-tile .post-tile-link:hover .post-link {
  color: var(--heading-color);
}
.redeem-section .redeem-inner h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.redeem-section .redeem-inner .info-last {
  margin-bottom: 36px !important;
}
.redeem-section .redeem-inner p a,
.redeem-section .redeem-inner p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto 36px !important;
  max-width: 448px;
  text-decoration: none;
}
.redeem-section .redeem-inner a.purchase-btn {
  border: 1px solid #F3A485;
  background: #F4F4F4;
  color: var(--link-btn-color);
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.8px;
  padding: 8px 10px;
}
.redeem-section .redeem-inner a.purchase-btn:hover {
  background: var(--heading-color);
  color: #fff;
}
.redeem-section .redeem-inner .inner-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.8px;
  text-decoration: underline;
}
.redeem-section .redeem-inner .inner-btn:hover {
  color: var(--heading-color);
}

.promo-section.featured-vendors-area {
  padding-bottom: 50px;
}

.featured-client,
.promo-section.featured-vendors-area .promo-box .banner-title {
  display: none;
}

.promo-holder .promo-box:first-child {
  margin-right: 30px !important;
}
.promo-holder .promo-box .promo-content {
  left: 40px !important;
  bottom: 40px;
  top: inherit !important;
  max-width: 150px;
}
.promo-holder .promo-box .promo-content .promo-title {
  font-weight: 400;
  font-size: 22px;
  font-family: var(--secondary-font);
  line-height: 30px;
  text-transform: uppercase;
}
.promo-holder .promo-box .promo-content .promo-desc {
  border: 1px solid #FFFFFF;
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 16px;
  padding: 8px 25px !important;
  margin-top: 1rem;
}
.promo-holder .promo-box .promo-content .promo-desc:hover {
  background-color: var(--heading-color);
  border-color: var(--heading-color);
}

.sign-up-section {
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 66px 24px 46px;
  overflow: hidden;
}
.sign-up-section h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 16px !important;
  text-transform: uppercase;
  color: var(--heading-color);
}
.sign-up-section .sign-up-container .signup-text {
  width: 100%;
}
.sign-up-section .signup-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 36px;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  background-color: #F4F4F4;
  width: 380px;
  margin-right: 0;
  height: 42px;
  max-width: 100%;
}
.sign-up-section .sign-up-container .sign-up-form input::placeholder {
  /* font-size: 0; */
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  padding: 10px 41.5px;
  margin-bottom: 0;
  width: auto;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary:hover {
  background-color: var(--heading-color);
}

/* ============ wishlist ============ */

.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-rating .wishlistImage img {
  height:auto;
}


/* ============================== breadcrumb and product listing ============================= */
.default-breadcrumb,
.arrow-breadcrumbs {
  margin-bottom: 5px !important;
}
.default-breadcrumb li a,
.arrow-breadcrumbs li a,
.default-breadcrumb li,
.arrow-breadcrumbs li {
  color: rgba(48, 52, 53, 0.6) !important;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--primary-font);
  line-height: 16px;
  padding-left: 0 !important;
}
.default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 5px;
  padding-right: 5px;
}
.breadcrumb-heading {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.product-container .product-select {
  margin-right: 0;
  padding-top: 0.5625rem;
}
.product-select .form-group.sort-cont {
  width: 43.25%;
}
.product-select .form-group.sort-cont label {
  color: var(--text-color);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}
.product-select .form-group select.form-control {
  background-color: #ffffff;
  border-color: #ededed;
  height: 1.875rem;
}
.products-container .products-holder-main {
  padding-top: 0.25rem;
}
.products-container #sidebar {
  padding-top: 0.125rem;
}
.sidebar-widget .result-text {
  margin-bottom: 0.5625rem;
}
.sidebar-widget .result-text p {
  color: var(--text-color);
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  font-family: var(--primary-font);
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
  border-bottom-color: var(--text-color);
}
.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder a {
  background-color:transparent;
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0;
}
.custom-container nav[aria-label="breadcrumb"] {
  margin-bottom: 0;
}
.container.custom-container.product-container {
  margin-bottom: 1rem;
}
.products-container .products-holder-main .products-holder {
  justify-content: space-between;
}
.container.custom-container.product-container .product-text {
  display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-tags {
  display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list {
  margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
  height: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content {
  padding-top: 3px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
  width: 13%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
  display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
  width: 87%;
  margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
  width: 100%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
  margin-bottom: 0;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3 {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-transform: uppercase;
  margin-bottom: 10px !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
  height: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
  color: rgba(48, 52, 53, 0.6);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 32px;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
  top: 25%;
}

/*============================ Product detail =============================*/
.product-detail-container .preview-thumbnail {
  margin-top: 1rem;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
  border: 1px solid #d9d9d9 !important;
  border-radius: 0.125rem !important;
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-']:hover {
  font-size: 16px !important;
}
.product-carousel-desktop .owl-nav button.owl-prev {
  background-image: url('https://static.techsembly.com/SN5Zf8WA1434T2SPpDMipreH');
}
.product-carousel-desktop .owl-nav button.owl-next {
  background-image: url('https://static.techsembly.com/jT4NqnUse5Hzz8waUSGewkrb');
}
.product-detail-container .product-holder .share-link {
  display: none !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--secondary-font);
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
}
.product-detail-container .product-holder .product-detail {
  height: auto;
  margin-bottom: 0;
}
.product-detail-container .product-holder .product-detail .shipping {
  display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs {
  border: none;
  background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item:nth-child(2) {
  display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  border-bottom: 0.0625rem solid var(--text-color);
  background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  border-bottom-color: var(--primary-bg-color);
  background-color:transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1rem;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
  color: var(--text-color);
}
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
  background-color: transparent;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding-top: 2rem;
}
.product-detail-container .personalise-form .form-group label,
.product-detail-container .tab-content form .form-group label {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

/* radio buttons */
.product-detail-container .personalise-form .form-group .form-check-label fieldset,
.product-detail-container .personalise-form .form-group .radio-container fieldset {
  width: 48%;
  margin-top: 12px;
  display: inline-block;
}
.product-detail-container .personalise-form .form-group .form-check-label .checkbox-holder span,
.product-detail-container .personalise-form .form-group .radio-container .radio-holder span {
  font-weight: 400;
  text-transform: capitalize;
  line-height: 14px;
}
.product-detail-container .personalise-form .form-group .form-check-label .checkbox-holder input[type="checkbox"] {
  margin-top: 0;
}
.product-detail-container .personalise-form .form-group .multiselect-dropdown .dropdown-btn {
  height: 54px;
  padding-top: 14px !important;
}
.product-detail-container .personalise-form .form-group .multiselect-dropdown .dropdown-btn span:last-child {
  margin-top: 5px;
}
.product-detail-container .personalise-form .form-group fieldset input[type="date"] {
  max-height: 54px;
  height: 54px;
  display: flex;
  align-items: center;
}

/* product slider thumbnail */
.product-detail-container .preview-thumbnail .owl-stage .owl-item img {
  object-fit: cover;
  object-position: center center;
  max-height: 122px;
  max-width: 125px;
  margin-right: 26px !important;
}
.product-detail-container .personalise-form .form-group .form-control {
  box-shadow: 0px 0px 0px 2px #F5F9FE;
  border-radius: 0.125rem;
  border-color: #6D6D6D;
  color: var(--text-color);
  line-height: 1.1875rem;
  padding-left: 1rem;
}
.product-detail-container .personalise-form .form-group select.form-control {
  height:54px !important;
}
.product-detail-container .personalise-form .multiselect-dropdown .dropdown-btn .selected-item {
  padding-top: 0.3125rem !important;
}
.product-detail-container .personalise-form .form-group select,
.product-detail-container .personalise-form .form-group input[type="text"] {
  height: 54px;
  max-height: none;
}
.product-detail-container .personalise-form .form-group .filter-textbox input[type="text"] {
  height: auto !important;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#askseller .partners-note {
  display: none;
}
.select-form.form-group select.form-control {
  background-image: url('https://static.techsembly.com/hEZuBpEg4VsA4cvdb2DHcUa1');
  background-repeat: no-repeat;
}
.product-detail-container .add-to-basket-cont {
  padding-right: 0;
}
.product-detail-container .personalise-form .form-group.add-basket {
  margin-top: 1rem;
}
.product-detail-container .personalise-form .form-group .order-btn {
  border-radius: 5px;
  font-size: 0.875rem;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 18px;
  padding-top: 0.3125rem;
  height: 52px;
  text-transform: uppercase;
  width: 85%;
}
.product-detail-container .personalise-form .form-group .order-btn:hover {
  background-color: var(--heading-color);
}
.product-detail-container .personalise-form .form-group .order-input {
  border-radius: 3px;
  background-color: transparent;
  color: rgba(48, 52, 53, 0.6);
  font-weight: 400;
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 18px;
  text-align: left;
  height: 52px;
  width: 15%;
}
.product-detail-container .tenx-pro .personalise-form .form-group .order-input {
  pointer-events: none;
}
.related-products {
  border-top: none;
  padding-bottom: 3rem;
}
.related-products h1.productHeading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25rem;
  text-align: center;
  color: var(--heading-color);
  margin: 0 0 25px;
}
.related-products .related-products-holder .rel-product-col {
  width: 25%;
  margin-right: 1.3125rem;
}
.related-products .related-products-holder .related-products-image {
  height: auto;
  margin-bottom: 0.125rem;
}
.related-products .related-products-holder .product-content .product-title a {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.related-products .related-products-holder .product-content .product-title {
  margin-bottom: 0;
  padding-top: 10px;
  width: 100%;
}
.related-products .related-products-holder .product-content .product-rating {
  display: none;
}
.related-products .related-products-holder .product-content .product-pricing p {
  color: rgba(48, 52, 53, 0.6);
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
.product-detail-container .radio-holder input[type="radio"] {
  margin-top: 0;
}


/*======================== end product detail ==========================*/

/* ================================== cart page =============================== */
.custom-container.cart-container h1.breadcrumb-heading,
.custom-container.cart-container h2.order-sum-heading {
  color: var(--heading-color) !important;
  font-size: 1.25rem !important;
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1.5rem !important;
  text-transform: uppercase;
  margin-bottom: 22px !important;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 3px;
}
.arrow-breadcrumbs li.in-progress a,
.arrow-breadcrumbs li.active a {
  color: var(--text-color) !important;
}
.custom-container.cart-container .vendor-items-cont .card {
  border: none;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 6px;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
  border-bottom: 1px solid #212322;
  padding-top: 24px !important;
}
.custom-container.cart-container .vendor-items-cont .card .card-header h2.vendor-heading {
  color: var(--text-color) !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.custom-container.cart-container .vendor-items-cont .card .card-header h2.vendor-heading .delivered-by {
  margin-right: 0 !important;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont span {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1rem;
  font-family: var(--primary-font);
}
.cart-item.new .item-details h2.item-name {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.cart-item.new .item-details .unit-total-price {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  text-transform: uppercase;
}
.custom-container.cart-container .vendor-items-cont a.del-item-link {
  color: rgba(48, 52, 53, 0.6);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.custom-container.cart-container .vendor-items-cont .collapse-link .angle,
.custom-container.cart-container .vendor-items-cont .collapse-link span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: rgba(48, 52, 53, 0.6);
}
.vendor-items-holder .cart-item.new .gift-msg-cont textarea {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(48, 52, 53, 0.6);
  max-height: 120px;
}
.vendor-items-holder .vendor-items .cart-item.new {
  padding-bottom: 4px !important;
}
.cart-item.new .item-details .col-label {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 20px;
}
.cart-item.new .pro-badges-cont .pro-badge,
.cart-item.new .item-qty-cont .item-dec,
.cart-item.new .item-qty-cont .item-inc {
  background-color: #EDEDED !important;
}
.cart-item.new .item-qty-cont .item-dec,
.cart-item.new .item-qty-cont .item-inc,
.cart-item.new .pro-badges-cont .pro-badge span,
.cart-item.new .item-qty-cont .item-count {
  color:rgba(48, 52, 53, 0.6);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
}
.cart-item.new .item-details .unit-price {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 20px;
  color: rgba(48, 52, 53, 0.6);
}
.custom-container.cart-container .cart-login-cont {
  background-color: #fff !important;
}
.custom-container.cart-container .card.order-summary-cont {
  border: none;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  border-bottom: 1px solid #D9D9D9;
  padding-top: 10px !important;
}
.custom-container.cart-container .card.order-summary-cont .card-body .guestCheckout-form label,
.custom-container.cart-container .cart-login-cont .login-note,
.custom-container.cart-container .card.order-summary-cont .card-body .card-body-inner {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(48, 52, 53, 0.6);
  font-family: var(--primary-font);
}
.custom-container.cart-container .cart-login-cont .login-note {
  margin-bottom: 40px;
}
.custom-container.cart-container .cart-login-cont .panel-heading {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 20px !important;
  text-transform: uppercase;
  margin-bottom: 18px !important;
  text-align: left;
  letter-spacing: 0;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total,
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  text-transform: uppercase;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn.btn-primary,
.custom-container.checkout .promo-cont .btn-primary,
.payment-form-container .btn.btn-submit,
.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: var(--primary-bg-color) !important;
  border-color: var(--primary-bg-color) !important;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn.btn-primary:hover,
.custom-container.checkout .promo-cont .btn-primary:hover,
.payment-form-container .btn.btn-submit:hover,
.custom-container.cart-container .cart-login-cont .btn.btn-primary:hover {
  background-color: var(--heading-color) !important;
}
.payment-form-container .btn.btn-submit {
  padding-top: 0 !important;
  padding-bottom: 0;
}
form.guestCheckout-form .btn.submit img {
  margin-top: 0 !important;
}
form.cart-login-form .forget-psw-link {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none !important;
}
.custom-container.cart-container .cart-login-cont form input.form-control {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  color: rgba(48, 52, 53, 0.6);
  font-weight: 400;
  font-size: 1rem !important;
  font-family: var(--primary-font);
  line-height: 18px !important;
}
.custom-container.cart-container .cart-login-cont .checkout-note {
  color: rgba(48, 52, 53, 0.6);
  font-weight: 400;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 18px;
  text-align: center;
  margin-top: 22px;
}
.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
  color: var(--text-color);
  font-weight: 400 !important;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 18px;
}
.shipping-form-container .form-group .btn.btn-submit,
.custom-container.cart-container a.btn.continue-btn-new {
  color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px 25px;
}
.shipping-form-container .form-group .btn.btn-submit {
  background-color: var(--primary-bg-color);
  color: #fff;
}
.shipping-form-container .form-group .btn.btn-submit:hover,
.custom-container.cart-container a.btn.continue-btn-new:hover {
  background-color: var(--heading-color);
  border-color: var(--heading-color);
  color: #fff;
}
.quantity-alert,
.msg-alert {
  background-color: var(--primary-bg-color) !important;
  border-color: var(--primary-bg-color) !important;
}

/* cart custom options */
.cart-item .item-details .item-opts .quest,
.cart-item .item-details .item-opts .quest-ans,
.cart-item .item-details .shipping-opts .quest,
.cart-item .item-details .shipping-opts .quest-ans {
  font-size: 12px;
  font-weight: 400 !important;
  line-height: 14px;
}

/* ====================== billing details ======================== */
.shipping-form-container .breadcrumb-heading,
.shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading,
.shipping-form-container .shipping-form h1.breadcrumb-heading,
.shipping-form-container .shipping-form .order-sum-heading,
.shipping-form-container .shipping-form .address-heading {
  color: var(--heading-color);
  font-family: var(--secondary-font);
  font-size: 1.25rem !important;
  font-weight: 400;
  line-height: 1.5rem !important;
  text-transform: uppercase;
  margin-bottom: 22px !important;
}
.shipping-form-container .form-group label .get-updates-note {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.shipping-form-container .checkbox-cont input:checked ~ .checkmark {
  background-color: var(--primary-bg-color) !important;
  border-color: var(--primary-bg-color) !important;
}
.address-form.new .form-control,
.shipping-form-container .checkbox-cont input,
.shipping-form-container .form-control {
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9 !important;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  color: rgba(48, 52, 53, 0.6) !important;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 20px !important;
  height: 50px !important;
}
.address-form .form-group .address-sub-fields-countainer .address-sub-field:not(:first-child) {
  padding-left: 24px !important;
}

/* right panel */
.right-panel .card.order-summary-cont {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 8px;
  border: none;
}
.card.order-summary-cont .card-header {
  padding-bottom: 6px !important;
}
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .tax-desc,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-desc {
  color: rgba(48, 52, 53, 0.6);
  font-weight: 400;
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 20px;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price {
  color: rgba(48, 52, 53, 0.6);
  font-family: var(--primary-font);
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px;
}
.order-totals-container {
  background-color: rgba(83, 100, 91, 0.3) !important;
  border-radius: 0px 0px 8px 8px;
  margin-top: 24px;
}
.order-totals-container .total-holder .total-price,
.order-totals-container .total-holder .order-total-item .total-desc,
.order-totals-container .sub-total-holder .sub-total-item .sub-price,
.order-totals-container .sub-total-holder .sub-total-item .sub-total-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px !important;
  line-height: 24px !important;
  color: rgba(48, 52, 53, 0.6);
  max-width: 50% !important;
  flex-basis: 50% !important;
}
.order-totals-container .total-holder .total-price,
.order-totals-container .total-holder .order-total-item .total-desc {
  color: var(--text-color);
}
.order-totals-container .sub-total-holder .sub-total-item #order-subtotal:after {
  position: absolute;
  content: ':';

}
.order-totals-container .total-holder .total-price {
  text-align: right;
}
.order-totals-container .sub-total-holder {
  border-bottom-color: rgba(48, 52, 53, 0.6);
}
.order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 28px !important;
}
.order-totals-container .total-holder .order-total-item {
  padding-top: 18px !important;
}
app-footer-checkout .custom-container.checkout-footer {
  display: none;
}
.checkout-copyright-cont {
  padding-top: 14px;
  padding-bottom: 14px;
}
.checkout-copyright-cont .ts-copyright span,
.checkout-copyright-cont .ts-copyright a {
  color: var(--text-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* ======================= billing details end ====================== */

/*======================== delivery methods page begin ================*/
.delivery-methods-cont .card.contact-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 8px;
  border: none;
  margin-bottom: 1.5rem !important;
}
.delivery-methods-cont .card.vendor-card .card-body {
  padding-top: 1.875rem;
}
.custom-container.checkout .delivery-methods-cont .card .card-body div,
.custom-container.checkout .delivery-methods-cont .card .card-body .row-head {
  color: rgba(48, 52, 53, 0.6);
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--primary-font);
  line-height: 20px;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .row-head {
  color: var(--text-color);
}
.custom-container.checkout .delivery-methods-cont .card .card-body .qty,
.custom-container.checkout .delivery-methods-cont .card .card-body .item-name {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .qty {
  text-transform: capitalize;
  color: rgba(48, 52, 53, 0.6);
}
.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
  padding-bottom: 4px !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:not(:last-child) {
  padding-bottom: 2rem !important;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item:last-child {
  padding-bottom: 1.5rem !important;
}
.delivery-methods-cont .vendor-cards-holder .card .del-option:not(:last-child) {
  padding-bottom: 0.375rem !important;
}
.delivery-methods-cont .shipping-totals-cont {
  margin-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
  color: var(--text-color) !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
  color: #374151;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.125rem;
  margin-top: 0;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  background-color: #CBD1CE !important;
  border-radius: 0px 0px 8px 8px;
}
.delivery-methods-cont .card .card-body .card-row:not(:last-child) {
  border-bottom: 0.5px solid #D9D9D9 !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
  border-color: #212322;
  padding-top: .5rem !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
  color: var(--text-color);
  font-size: 1.125rem;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 20px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
  text-transform: uppercase;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
  pointer-events: none;
}
.delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  background: #EDEDED !important;
}
.delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke span {
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 20px;
  color: rgba(48, 52, 53, 0.6)
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
  border-bottom: 1px solid #D9D9D9 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont {
  background-color: #CBD1CE;
  color: rgba(48, 52, 53, 0.6);
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}
.shipping-form-container .exist-address-wrapper .card a {
  color: var(--text-color) !important;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px !important;
}
.shipping-form-container .exist-address-wrapper .card .card-header h3.customer-name {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.shipping-form-container .exist-address-wrapper .card .card-body {
  font-family: var(--primary-font);
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: rgba(48, 52, 53, 0.6);
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn {
  background-color: var(--primary-bg-color);
  border-radius: 5px;
  font-size: 0.875rem;
  font-family: var(--primary-font);
  font-weight: 400 !important;
  line-height: 18px;
  padding-top: 0.3125rem !important;
  height: 52px !important;
  text-transform: uppercase;
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn:hover {
  background-color: var(--heading-color);
}
.custom-container.checkout .mat-form-field-flex {
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow:  0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  height: 50px;
  padding-top: 0.3125rem;
}
.custom-container.checkout .mat-form-field-label {
  color: var(--text-color-light);
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.1875rem;
  padding-top: 0.1875rem;
}
.custom-container.checkout .mat-form-field-underline {
  display: none;
}
.custom-container.checkout .form-control::placeholder {
  color: var(--text-color-light);
}
.custom-container.checkout .delivery-methods-cont .form-group.label-email {
  margin-bottom: 0.75rem;
}
.custom-container.checkout .delivery-methods-cont .form-group.label-email label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(48, 52, 53, 0.6);
  padding-left: 0;
  max-width: 24.5%;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  color: rgba(48, 52, 53, 0.6);
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 20px !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
  border-color: #d9d9d9;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark::after {
  background: var(--primary-bg-color) !important;
}
.delivery-methods-cont .vendor-cards-holder .card {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 8px;
  border: none;
}
.custom-container.checkout .shipping-form-container .form-group label {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.1875rem;
}
#delivery-options-popup .modal-container .radio-container input:checked~.checkmark {
  background-color: var(--primary-bg-color);
}

#delivery-options-popup .modal-container .radio-container .checkmark {
  border: 1px solid var(--primary-bg-color);
}

#delivery-options-popup .modal-container .radio-container .checkmark::after {
  background: var(--primary-bg-color);
}
#delivery-options-popup .radio-container .checkmark {
  position: relative;
}

.modal-popup#delivery-options-popup .radio-container .checkmark::after {
  left: 0.35px;
  top: 0.5px;
  width: 17px;
  height: 16.7px;
}
.modal-popup#delivery-options-popup .item-row .radio-container:not(:first-child) .checkmark::after {
  left: 0.25px;
}


/*======================== delivery methods page end ================*/

/* ======================= payment screen start =================*/
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading {
    color: var(--heading-color);
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}
.payment-form-container .radio-container .pay-method-name {
    color: rgba(48, 52, 53, 0.6);
    font-size: 1rem;
    line-height: 20px;
    margin-top: 0 !important;
}
.custom-container.checkout .payment-form-container .radio-container {
    color: var(--text-color-light);
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.checkout .payment-form-container .section-heading {
  color: var(--heading-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 32px;
  padding-top: 8px;
  text-transform: uppercase;
  padding-left: 72px;
}
.custom-container.checkout .payment-form-container .section-heading::after {
  position: absolute;
  content: 'billing';
  left: 0;
}
.custom-container.checkout .payment-form .payment-form-container {
    padding-top: 34px !important;
}
.payment-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
}
.payment-form-container .form-group .password .form-control,
.payment-form-container .form-group .password .form-control::placeholder,
.payment-form-container .form-group .password-note,
.custom-container.checkout .payment-form-container .checkbox-cont .checkbox-note {
    color: var(--text-color);
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    margin-top: 0 !important;
}

.custom-container.checkout .payment-form-container .card .card-body .row-head {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    padding-right: 0;
    max-width: 40%;
}
.custom-container.checkout .payment-form-container .form-group .card-images-holder .cards-desc,
.custom-container.checkout .payment-form-container .card .card-body .user-add-wrap .user-address {
    color: rgba(48, 52, 53, 0.6);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    text-transform: capitalize;
}
.custom-container.checkout .payment-form-container .card .card-body .user-add-wrap .user-address {
  padding-left: 0 !important;
}
.payment-form-container .radio-container input:checked ~ .checkmark {
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
}
.payment-form-container .radio-container .checkmark::after {
  background: var(--primary-bg-color) !important;
  top: 6px !important;
}
.custom-container.checkout .payment-form-container .card {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
  border-radius: 8px;
  border: none;
}
.payment-form-container .card.address-card {
  border: none;
  height: auto;
}
.payment-form-container .card .card-body .card-row:not(:last-child) {
  border-bottom: 0.5px solid #D9D9D9;
}
.payment-form-container .payments-methods-cont,
.payment-form-container .section-cont {
  border-bottom: 1px solid #D9D9D9 !important;
  padding-bottom: 0 !important;
}
.payment-form-container .section-cont {
  margin-bottom: 24px;
}
.custom-container.checkout .payment-form-container .payments-methods-cont .card {
  border: 0.125rem solid #212322;
}
.payment-form-container .card.blue-light-bg {
  background-color: #EDEDED !important;
  border-color: #EDEDED !important;
}
.payment-form-container .show-pay-details .form-group .form-control {
  background: #FFFFFF;
  border: 2px solid #212322;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(59, 89, 128, 0.2);
  border-radius: 4px;
  color: rgba(48, 52, 53, 0.6);
  font-size: var(--primary-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}
.payment-form-container .promo-cont .form-group .form-control,
.payment-form-container .form-group .password .form-control {
  padding-top: 12px;
}
.payment-form-container .promo-cont .form-group input[type="text"].form-control {
  padding-top: 6px;
}
.custom-container.checkout .btn-primary.apply-btn {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
.payment-form-container .form-group .password-note {
  color: #6D6D6D;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.order-totals-container .promo-cont .promo-note a {
  color: rgba(48, 52, 53, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

/*=================== success screen begin =================*/
.checkout-container.complete > div.col-12.px-0.py-4 {
  padding-top: 4px !important;
}
.checkout-container.complete .card-header.blue-light-bg {
  background-color: #FCFCFC;
  border-radius: 8px 8px 0px 0px;
}
.checkout-container.complete .card-header.blue-light-bg img {
  width: 125px;
}
.custom-container.checkout .order-confirm-wrapper .breadcrumb-heading {
  color: #D3AE94;
  font-weight: normal;
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 0.25rem !important;
}
.checkout-container.complete .section-cont {
  border-bottom: 1px solid #D9D9D9 !important;
  color: #000000;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
}
.checkout-container.complete .customer-note.section-cont > br {
  line-height: 26px;
  display: block;
  margin: 20px 0;
  content: "";
}
.checkout-container.complete .order-data .order-column.contact {
  max-width: 21%;
  flex-basis: 21%;
  text-align: left;
  align-items: start !important;
}
.checkout-container.complete .order-data .order-column.pay-mode {
  max-width: 28%;
  flex-basis: 28%;
  align-items: start !important;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .attributes,
.checkout-container.complete .order-data .order-column .col-desc,
.checkout-container.complete .order-data .order-column .col-heading {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400 !important;
  font-size: 1rem;
  line-height: 20px;
}

.checkout-container.complete .order-data .order-column .col-desc {
  color: rgba(48, 52, 53, 0.6);
}
.checkout-container.complete .cart-data {
  padding-top: 1.75rem;
}
.checkout-container.complete .cart-data .order-item .item-desc .item-brand,
.checkout-container.complete .cart-data .order-item .item-desc .item-name {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px !important;
  text-transform: uppercase;
}
.checkout-container.complete .cart-data .order-item .item-desc .item-brand {
  color: rgba(48, 52, 53, 0.6);
  text-transform: capitalize;
}
.checkout-container.complete .shipping-data {
  padding-bottom: 1.375rem !important;
}
.checkout-container.complete .shipping-data .shipping-row:not(:first-child) {
  margin-top: 0 !important;
}
.checkout-container.complete .shipping-data .shipping-row {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(48, 52, 53, 0.6)
}
.checkout-container.complete .section-cont.total-cont .col-12 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
  color: var(--text-color);
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  text-align: left;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .order-item-left {
  flex-basis: 60%;
  max-width: 60%;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .order-item-right {
  flex-basis: 40%;
  max-width: 40%;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details {
  padding-top: 0 !important;
}
.checkout-container.complete .cart-data .order-item .item-price {
  color: var(--text-color);
  font-size: 1rem !important;
  font-weight: normal !important;
  line-height: 20px !important;
}
.checkout-container.complete .total-cont,
.checkout-container.complete .total-cont .text-right.total-price {
  color: var(--text-color);
  font-style: normal;
  font-family:  var(--primary-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}
.order-confirm-wrapper .msg-cont .msg-inner {
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 20px;
}
.order-confirm-wrapper .msg-cont .msg-inner::after {
  position: absolute;
  content: ', Fari Islands';
  bottom: 0;
}
.checkout-container.complete .card-footer.blue-light-bg {
  background-color: #FCFCFC !important;
  border-radius: 0px 0px 6px 6px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.checkout-container.complete .card-footer .card-footer-right span,
.checkout-container.complete .card-footer .card-footer-left a,
.checkout-container.complete .card-footer .card-footer-left span {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.order-confirm-wrapper .card-footer .backToHomeBtn a {
  color: #fff;
  background: var(--primary-bg-color);
  font-family: var(--primary-font) !important;
  border-radius: 5px;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}
.order-confirm-wrapper .card-footer .card-footer-right a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
  pointer-events: none;
}


/* signin and signup page */
.user-wrapper .user-edit-desc label input[type="checkbox"],
.custom-container .login-signup-tabs-cont form label.remember span,
form.signup-form label.newsletter-check span,
.custom-container.login-signup .tab-pane input[type="checkbox"] {
  margin-top: 0;
}
form.signup-form label.newsletter-check span,
.custom-container .login-signup-tabs-cont form label.remember span {
  line-height: 16px;
}
.custom-container.login-signup .tab-pane input::placeholder {
  font-style: normal !important;
}
.user-wrapper .user-container .btn.add-address-btn,
.user-wrapper .user-container .btn.signout-btn,
.user-wrapper .user-container .btn.submit,
.user-wrapper .user-container form .btn.submit,
.custom-container .login-signup-tabs-cont form.signup-form .btn.submit,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit {
  border-radius: 5px;
  font-size: 0.875rem;
  font-family: var(--primary-font);
  font-weight: 400 !important;
  line-height: 18px;
  padding-top: 0.3125rem !important;
  height: 52px;
  text-transform: uppercase;
}
.user-wrapper .user-container .btn.add-address-btn:hover,
.user-wrapper .user-container .btn.signout-btn:hover,
.user-wrapper .user-container .btn.submit:hover,
.user-wrapper .user-container form .btn.submit:hover,
.custom-container .login-signup-tabs-cont form.signup-form .btn.submit:hover,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit:hover {
  background-color: var(--heading-color);
}
.user-wrapper .user-container .user-heading {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}
.user-wrapper .user-container .user-details-holder .detail-desc a {
  color: var(--text-color);
}
.user-wrapper .user-container .user-edit-holder .user-edit-header {
  color: var(--heading-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  font-family: var(--secondary-font);
}
.user-wrapper .user-container .user-edit-holder .form-email-holder input[type='email']::placeholder {
  font-style: normal;
}
.user-wrapper .user-container .user-heading a.wishlist-link {
  color: var(--heading-color);
}
.user-wrapper .user-container .orders-table-holder .orders-table thead th {
  color: var(--text-color);
}
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td a,
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td {
  color: var(--text-color);
  font-weight: 400;
}


/*==================== footer =====================*/
footer.footer {
  border-top: 0;
  margin-top: 0;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #fff;
}
.footer .footer-widget .widget-title {
  font-family: var(--secondary-font);
  color: var(--heading-color);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.footer .footer-widget .widget-content {
  padding-top: 1rem;
}
.footer .footer-widget .widget-content ul li {
  margin-bottom: 12px;
  line-height: normal;
}
.footer .footer-widget .widget-content ul li a {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.footer .footer-widget .widget-content .social-links li {
  width: auto;
  margin-left: 20px;
}
.footer .footer-widget .widget-content .social-links li:first-child {
  order: 2;
}
.footer .footer-widget .widget-content .social-links li:nth-child(2) {
  order: 1;
  margin-left: 0;
}
.footer .footer-widget .widget-content .social-links li:nth-child(3) {
  order: 4;
}
.footer .footer-widget .widget-content .social-links li:last-child {
  order: 3;
}
.footer .footer-widget .widget-content .social-links li img {
  width: 20px;
}
.footer .footer-widget .widget-content .social-links li.fb-link-cont img {
  width: 10px;
}
.footer .copyright-cont {
  margin-top: 64px;
}
.footer .copyright-cont .flex-lg-row,
.footer .copyright-cont .flex-lg-row .pay-methods-avail {
  padding-left: 0 !important;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
  margin-right: 0.4375rem;
}
.footer .copyright-cont .pay-methods-avail .meth-link img {
  width: 48px;
}
.footer .copyright-cont .powered-by div:first-child {
  display: none;
}
.footer .copyright-cont .powered-by .powered-link-cont a,
.footer .copyright-cont .powered-by .powered-link-cont {
  color: var(--text-color);
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}
.footer .copyright-cont .powered-by .powered-link-cont {
  margin-top: 7px;
}



@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
  header.header .mobile-menu {
    background-color: transparent;
  }
  header.header .logo img {
      width: 115px;
  }
  header.header .logo {
      text-align: center;
  }
  .mob-top-links .mob-search-link {
    margin-right: 16px;
    padding: 0 !important;
  }
  .mob-overlay,
  nav#sidebar {
    top: 86px !important;
  }
  nav#sidebar {
    height: calc(100% - 86px);
  }
  nav#sidebar ul.user-links li a span,
  nav#sidebar ul.accordian li.nav-item a.nav-link {
    color: var(--text-color);
    text-transform: capitalize;
  }
  .mob-top-links li a img {
    width: 18px;
  }
  .app-header .header .row.spacing .col-7.menu-links-cont,
  .app-header .header .row.spacing .col-4.col-sm-5.col-4.p-0,
  .app-header .header .row.spacing .col-1.toggle-menu-cont {
      max-width: 33.33%;
      flex: 33.33%;
  }
  .app-header .header .row.spacing .col-4.col-sm-5.col-4.p-0.pl-2 {
      padding-left: 0 !important;
  }
  header.header .menu-links-cont .dropdown-flag,
  header.header .menu-links-cont .wishlist-heart,
  header.header .menu-links-cont .profile-icon {
      display: none !important;
  }
  .home-intro-container .left-banner {
    order: 2;
  }
  .home-intro-container .left-banner .banner-inner {
    padding-left: 10px;
    text-align: center;
  }
  .home-intro-container .right-banner {
    order: 1;
    padding-left: 24px;
    margin-bottom: 60px;
  }
  .container.home-intro-container {
    overflow: hidden;
  }
  .container.home-intro-container .redeem-section .redeem-img {
    width: 100%;
    max-height: none;
    margin-bottom: 60px;
  }
  .container.home-intro-container .redeem-section {
    padding-left: 10px;
    padding-right: 10px;
  }
  .redeem-section .redeem-inner h1,
  .redeem-section .redeem-inner {
    text-align: left !important;
  }
  .redeem-section .redeem-inner p {
    max-width: none;
    text-align: left !important;
  }
  .redeem-section .redeem-inner .info-last {
    margin-bottom: 46px !important;
  }
  .redeem-section .redeem-inner a.purchase-btn {
    padding: 14px;
  }
  .container.home-intro-container .featured-exp {
    margin-top: 0;
    display: none;
  }
  .promo-holder .promo-box .promo-content .promo-desc {
    padding: 10px 10px !important;
    margin-top: 8px;
    letter-spacing: 0.8px;
    text-align: center;
  }
  .promo-holder .promo-box .promo-content .promo-title {
    font-size: 16px;
    line-height:20px;
  }
  .promo-holder .promo-box .promo-content {
    left: 16px !important;
    bottom: 16px;
    max-width: 124px;
  }
  .sign-up-section .sign-up-container .signup-text {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    max-width: 100%;
  }
  .footer .section-cont.mobile-footer {
    padding-top: 0;
  }
  footer.footer {
    padding-top: 14px;
  }
  .footer .mobile-footer .list-group .list-group-holder:first-child {
    border-top: 0.826087px solid #53645B;
  }
  .footer .mobile-footer .list-group .list-group-holder .BorderBottom {
    border-bottom-color: #53645B;
  }
  .footer .mobile-footer .list-group .list-group-holder>a {
    color: var(--heading-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
  .footer .mobile-footer .footer-widget ul li a {
    color: var(--text-color);
  }
  .footer .footer-widget .widget-content .social-links {
    justify-content: center;
  }
  .footer .copyright-cont .flex-lg-row,
  .footer .copyright-cont .flex-lg-row .pay-methods-avail {
    padding-right: 0 !important;
  }

}

@media (max-width: 767.98px) {
  header.header {
    margin-bottom: 0;
  }
  .sign-up-section .sign-up-container .sign-up-form,
  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    width: 100%;
  }
  .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    width: 100%;
    margin-top: 10px;
  }
  .footer .copyright-cont {
    margin-top: 10px;
  }
  .footer .copyright-cont .flex-lg-row .pay-methods-avail {
    margin-bottom: 17px;
  }
  .home-intro-container .left-banner .banner-inner {
    margin-bottom: 60px;
  }
  .home-intro-container .banner-inner .inner-heading {
    text-align: left;
  }
  .shipping-form-container .shipping-form-cont .checkbox-cont .checkmark::after {
    background-size: 10px;
    width: 15px;
    height: 14px;
    left: 0;
  }
  .product-detail-container .personalise-form .form-group .order-input {
    padding-left: 8px;
  }
  .custom-container.checkout .delivery-methods-cont .card .card-body .delivery-dropdowns-cont .label-email {
    flex-direction: column;
    margin-bottom: 24px;
  }
  .custom-container.checkout .delivery-methods-cont .form-group.label-email label {
    max-width: 100%;
  }
  .custom-container .login-signup-tabs-cont form.signup-form .btn.submit {
    background-position: 24% 15px;
  }
  .custom-container .login-signup-tabs-cont form label.newsletter-check,
  .custom-container .login-signup-tabs-cont form label.remember {
    align-items: flex-start;
  }

}

@media (max-width: 575.98px) {

}

@media (min-width: 768px) {
   /*product-detail*/
  .product-detail-container .tab-content.preview-pic {
    height: auto;
  }
  .product-detail-container .product-holder .product-detail {
    margin-bottom: 0 !important;
  }
  .product-detail-container .personalise-form .form-group label {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  .product-detail-container .personalise-form .form-group select {
    background-position-x: 96%;
    padding-right: 2.5rem;
  }
  /*end product detail*/
  form.cart-login-form .form-submit-cont {
    border-top-color: #D9D9D9;
    border-bottom: none;
  }
  .custom-container.checkout {
    padding-top: 0 !important;
  }
  .delivery-dropdowns-cont .col-12 .col-12.flex-wrap div:nth-child(2) {
    padding-left: 0 !important;
    padding-right: 48px !important;
  }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
  .footer .custom-container .footer-widget:nth-child(2) {
    flex-basis: 58%;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    margin: 0;
    width: 33.33%;
    padding: 12px;
    margin: 0 0 38px;
  }
  .products-container .products-holder-main .products-holder .product-column {
    background-color: #ffffff;
  }
  .products-container .main-sidebar {
    padding-right: 2.125rem;
  }
  app-product-listing .product-container .product-select select.relevance {
    background-position-x: 6px;
    background-position-y: 4px;
    background-size: 20px 20px;
    padding-left: 1.7rem;
  }
  /* ============================== product details page =================================== */
  .product-detail-container .product-holder {
    padding-top: 1.75rem !important;
    margin-bottom: 0 !important;
    padding-bottom: 2.25rem !important;
  }
  .product-detail-container .product-carousel-cont {
    flex-basis: 50%;
    max-width: 50%;
  }
  .product-detail-container .product-holder .product-inner {
    flex-basis: 50%;
    max-width: 50%;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
    height: auto;
    width: 27px;
  }
  .product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise {
    padding-left: 0;
    padding-right: 0;
  }
  .product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-10 {
    flex-basis: 100%;
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    opacity: 0.6;
  }
  .product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-2 {
    display: none;
  }
  .related-products h3 {
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }
  /*================= end product detail =================*/
  /*================= cart styles =================*/
  .custom-container.cart-container {
    padding-top: 0 !important;
  }
  .custom-container.cart-container .row.flex-wrap:nth-child(1) {
      justify-content: space-between;
  }
  .custom-container.cart-container .cart-left-cont {
      padding-right: 44px;
  }
  .custom-container.cart-container .cart-right-cont {
      padding-left: 60px;
  }
  app-cart .custom-container.cart-container .breadcrumb-heading {
      margin-top: 0.125rem;
      margin-bottom: 1.3125rem !important;
  }
  app-cart .custom-container.cart-container .breadcrumb-heading,
  app-cart .custom-container.cart-container .order-sum-heading {
      font-size: 1.5rem;
      line-height: 1.8125rem;
  }
  .custom-container.cart-container .vendor-heading .delivered-by,
  .custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading a {
      /* font-size: 1.125rem !important;
      line-height: 1.375rem !important; */
  }
  .cart-item.new .item-image-cont {
      min-width: 21.25%;
      max-width: 21.25%;
  }
  .cart-item.new .item-details-cont {
      max-width: 78.75%;
      min-width: 78.75%;
  }
  header.header .head-links li .add-to-basket .dropdown-menu:after {
    right: 4px !important;
  }
  /*=================== end cart =================*/
  /*=================== cart details ================*/
  .custom-container.checkout .right-panel {
    padding-left: 0;
  }
  .custom-container.checkout {
    padding: 0 2rem !important;
  }

  .wishlist-container .products-container .products-holder .product-column .product-list .product-image {
    height: auto !important;
  }

}
@media (min-width: 1280px){
  .home-slider .owl-item:not(:last-child) {
      margin-right: 20px !important;
  }
  .home-slider .owl-item:last-child {
      margin-right: 0 !important;
  }
  body[data-pagetype='product'] .product-detail-container {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .related-products .custom-container .container {
    max-width: 1280px;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-7 {
    flex-basis: 50.5%;
    max-width: 50.5%;
    padding: 0;
    margin-right: 38px;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-3 {
      flex-basis: 25%;
      max-width: 25%;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-2 {
      padding: 0;
      flex-basis: 14.82%;
      max-width: 14.82%;
      margin-right: 20px;
  }

}
@media (min-width: 1400px){

}
