@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.eot');
    src: url('Baskerville.eot?#iefix') format('embedded-opentype'),
        url('Baskerville.woff2') format('woff2'),
        url('Baskerville.woff') format('woff'),
        url('Baskerville.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

