@font-face {
    font-family: 'Louize-Display-italic';
    src: url('LouizeDisplay-Italic.eot');
    src: url('LouizeDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('LouizeDisplay-Italic.woff2') format('woff2'),
        url('LouizeDisplay-Italic.woff') format('woff'),
        url('LouizeDisplay-Italic.ttf') format('truetype'),
        url('LouizeDisplay-Italic.svg#LouizeDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Louize-Display';
    src: url('LouizeDisplay.eot');
    src: url('LouizeDisplay.eot?#iefix') format('embedded-opentype'),
        url('LouizeDisplay.woff2') format('woff2'),
        url('LouizeDisplay.woff') format('woff'),
        url('LouizeDisplay.ttf') format('truetype'),
        url('LouizeDisplay.svg#LouizeDisplay') format('svg');
    font-weight: normal;
    font-style: normal;
}


