:root{
 --primary-font: 'Lyon-Regular';
 --secondary-font: 'Lyon-Regular';
 --third-font: 'Whitney Book';
 --third-font-bold: 'Whitney-Bold';
 --third-font-med: 'Whitney-Medium';
 --forth-font: 'Whitney-Light';
 --fifth-font: 'Montserrat', sans-serif;
 --body-bg: #F3EEE7;
 --accent: #FDFAF6;
 --color-light: #585858;
}
html {
   overflow-x: hidden;
}
body {
  background-color: var(--body-bg);
  color: var(--primary-bg-color);
  font-family: var(--primary-font);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-bg-color);
  font-family: var(--primary-font);
}
a,
a:hover,
a:focus  {
  color: var(--primary-bg-color);
  font-family: var(--primary-font);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
}
p {
  line-height: 1.25rem;
}
.default-breadcrumb,
.arrow-breadcrumbs {
  align-items: center;
}
.breadcrumb li,
.breadcrumb li a {
  font-family: var(--third-font);
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.8px;
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
  letter-spacing: 0.5px;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
  color: var(--primary-bg-color);
  font-weight: 700;
}
.arrow-breadcrumbs li.processed a {
  color: var(--primary-bg-color);
}
.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0.25rem;
}
.breadcrumb.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
  padding-left: 0.9375rem;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0;
  padding-right: 0.9375rem;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #fff;
  font-family: var(--third-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.8px;
  height: auto;
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active {
  background-color: #585858;
}
.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:not(:disabled):not(:disabled):active {
  background: #F3EEE7;
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
  font-family: var(--third-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.mobile-nav .btn-transparent {
  border-color: var(--primary-bg-color);
}
header.header {
  border-bottom: none;
  margin-bottom: 0;
}
.dropdown-menu {
  color: var(--primary-bg-color);
}
header .spacing {
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
}
header .row.spacing {
  align-items: flex-start;
}
header.header .shipping li .dropdown.open .dropdown-menu {
  //display: none;
}
header.header .shipping li .dropdown .dropdown-menu .select-form,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences-header {
  display: none;
}
header.header .shipping li .dropdown .dropdown-menu {
  left: 73% !important;
  box-shadow: none;
  filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.15));
  padding-top: 0.875rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.75rem;
  min-width: auto;
  text-align: center;
  width: 5rem;
}
header.header .shipping li .dropdown .dropdown-menu .dropdown-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
header.header .shipping li .dropdown .dropdown-menu:after {
    left: 35%;
    background-size: 24px;
    top: -9px;
}
header.header .shipping li a.dropdown-toggle:after {
  //display: none;
}
header.header .shipping li:first-child {
  display: none;
}
header.header .shipping li img[alt="store flag"] {
  max-width: 24px;
}
.dropdown-item {
    color: var(--primary-bg-color);
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #fcfcfc;
    color: var(--primary-bg-color);
}
nav#sidebar,
.mob-overlay {
    top: 0;
}
nav#sidebar {
    left: -110%;
    height: 100vh;
    width: 100%;
}
nav#sidebar #accordionMenu {
    padding-top: 34px;
    padding-bottom: 8px;
}
nav#sidebar ul.accordian li.nav-item .sub-menu-cont {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav#sidebar ul.accordian li.nav-item .sub-menu-cont .nav-column ul li:not(:last-child) {
    padding-bottom: 25px;
}
nav#sidebar ul.accordian li.nav-item .sub-menu-cont .nav-column ul li:last-child {
    padding-bottom: 4px;
}
nav#sidebar ul li a,
nav#sidebar ul.accordian li.nav-item .sub-menu-cont .nav-column ul li a {
    color: var(--color-light);
    font-family: var(--third-font);
    font-weight: 400;
    font-size: 19px;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding-left: 0.9375rem;
}
nav#sidebar ul.accordian li.nav-item a[data-toggle="collapse"]::after {
    top: -0.1875rem;
}
nav#sidebar .list-unstyled {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
nav#sidebar .BorderBottom-grey {
    margin-left: 1.875rem !important;
    margin-right: 1.875rem !important;
    border-bottom-color: #DAD9D7;
}
nav#sidebar ul.user-links {
    padding-top: 0.5rem;
}
nav#sidebar ul.user-links li a span {
    margin-left: 0;
}
nav#sidebar ul li a img[alt="wishlist"],
nav#sidebar ul li a img[alt="user-profile"]{
    display: none;
}
nav#sidebar ul.user-links li a {
  position: relative;
}
nav#sidebar ul.user-links li .dropdown a[data-toggle="dropdown"]::after {
  content: '';
  top: 44%;
}
.mob-menu-top {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.mob-men-top-inner {
    border-bottom: 1px solid #DAD9D7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mob-menu-top img[alt="logo"]{
    margin-left: -0.625rem;
}
header.header .logo img {
  height: auto;
  width: 181px;
}
header.header .head-links {
  margin-bottom: 0.1875rem;
}
header.header .head-links li.res-link-cont {
  margin-right: 53px;
}
header.header .head-links li a.btn-reserve {
  background: #F3EEE7;
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
  font-family: var(--third-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  padding-top: 0.5rem;
  height: 35px;
  width: auto;
  min-width: 120px;
}
header.header .head-links li a.btn-reserve:hover,
header.header .head-links li a.btn-reserve:focus,
header.header .head-links li a.btn-reserve:not(:disabled):not(:disabled):active {
  background: #fff;
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
}
header.header .head-links li a.btn-reserve:not(:disabled):not(:disabled):active:focus {
  box-shadow: none;
}
header.header .head-links li a img {
  height: auto;
}
header.header .head-links li a img[alt="user-profile"] {
  max-width: 15px;
}
header.header .head-links li a img[alt="wishlist"] {
  max-width: 17px;
}
header.header .head-links li a img[alt="cart"] {
  max-width: 14px;
}
header.header .head-links li a {
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
}
header.header .head-links li a.cart-bag {
  padding-right: 0.75rem;
}
header.header .head-links li:nth-child(2) a {
  padding-left: 0.625rem;
}
header.header .head-links li.cart-qty-nav {
  color: var(--primary-bg-color);
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.088px;
  padding-top: 0.25rem;
}
header.header .head-links li.cart-qty-nav .cart-qty {
  background-color: transparent;
  color: var(--primary-bg-color);
  position: relative;
  top: auto;
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.088px;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-img,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-img {
  margin-right: 0.9375rem !important;
}
header.header .head-links li .add-to-basket .dropdown-menu h4,
header.header .head-links li .add-to-basket .dropdown-menu h5,
header .mob-top-links .add-to-basket .dropdown-menu h4,
header .mob-top-links .add-to-basket .dropdown-menu h5 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.8px;
  margin-bottom: 0.3125rem;
}
header.header .head-links li .add-to-basket .dropdown-menu h4,
header .mob-top-links .add-to-basket .dropdown-menu h4 {
  margin-bottom: 0.625rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price {
  font-family: var(--third-font);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: 0.5px;
  margin-bottom: auto;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price p,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price p {
  margin-bottom: 0.3125rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price span,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price span {
  font-family: 'Whitney-Bold';
  font-size: 0.625rem;
  line-height: 1.5;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont,
header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont {
  min-height: auto;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-details {
  padding-bottom: 1.5rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn,
header .mob-top-links .add-to-basket .dropdown-menu .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: none;
  height: 54px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.8px;
  margin-top: 0.375rem;
}
header.header .search .search-item-form .nav-search-field,
.search .nav-search-field {
  background-color: var(--accent);
}
header.header .search .search-item-form button {
  height: 37px;
  padding-top: 0;
  width: 45px;
}
header.header .search .search-item-form button,
.mobile-search-box .btn {
  background-color: #000;
}
.mobile-search-box .btn img {
  margin-top: -0.1875rem;
}
header.header .search .search-item-form button img {
  height: auto;
  width: 22px;
}
header.header .menu-links-cont .search .search-item-form button img {
  margin-top: -0.3125rem;
}
header.header .menu-holder {
  margin-bottom: 1.25rem;
}
header.header .menu-holder li a {
  background-color: var(--body-bg);
  border-bottom-color: var(--body-bg);
}
header.header .menu-holder li a.main-category {
  border-bottom-width: 0.0625rem;
  line-height: 1.25rem;
  letter-spacing: 0.8px;
}
header .mob-top-links li .dropdown-flag,
header .mob-top-links li a.profile-icon,
header .mob-top-links li a.wishlist-heart {
  display: none !important;
}
header .mob-top-links .cart-qty {
  padding-top: 0.125rem;
}
.home-top-cont .section-heading,
.home-gifts-sect .section-heading {
    font-size: 31px;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.home-top-cont .desc,
.home-top-cont a {
  letter-spacing: 0.8px;
}
.gift-section img {
  height: auto;
}
.home-gifts-sect .gifts-desc {
  letter-spacing: 0.8px;
}
.home-gifts-sect .sect-btn {
  height: 35px;
  min-width: 172px;
}
.home-gifts-sect .gifts-heading {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.8px;
}
.home-gifts-sect .gift-loc {
  font-family: var(--third-font);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 1.25rem;
}
app-product-listing,
app-product-detail {
    display: block;
}
.custom-container.product-container {
    margin-bottom: 0;
    padding-top: 1.5rem;
}
.custom-container.product-container .breadcrumb li,
.custom-container.product-container .breadcrumb li a {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.custom-container.product-container .breadcrumb-heading {
    color: var(--color-light);
    font-family: var(--third-font);
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.select-form .form-group label {
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.select-form .form-group select.form-control {
    background-color: #fff;
    background-image: url('https://static.techsembly.com/A3Bbiz2kV746gGaKPMmAjhYe');
    background-position: 4% center;
    padding-left: 1rem;
}
.custom-container.product-container .product-select {
    padding-top: 0.625rem;
    margin-right: 0;
}
.product-select .form-group>select.form-control {
    border-color: #DAD9D7;
    height: 30px;
    font-size: 0.875rem;
}
.product-select .form-group>select.form-control.relevance {
    width: 183px;
}
.products-container .products-holder-main .products-holder {
    padding-top: 0.625rem !important;
}
.sidebar-widget .result-text p {
    letter-spacing: 0.8px;
}
.sidebar-widget .list-group {
    padding-top: 0.375rem;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item {
    background-color: transparent;
    padding-left: 1.25rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}
.sidebar-widget .list-group .list-group-holder>a h4 {
    font-family: var(--third-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
    background-position: center;
    top: 31.5%;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
    border-color: #DAD9D7;
}
.products-container .products-holder-main .products-holder {
    justify-content: space-between;
}
.products-container .products-holder-main .products-holder .product-column,
.products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    margin: 0;
    //width: 29.425%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content {
    padding-top: 0.1875rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
    display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    margin-bottom: 0.4375rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3,
.related-products .related-products-holder .product-content .product-title a,
.related-products .related-products-holder .product-content .product-title a span {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
    max-width: 1.125rem;
    height: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p,
.related-products .related-products-holder .product-content .product-pricing p {
    font-family: var(--third-font);
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.sidebar-widget .ng5-slider .ng5-slider-bubble {
    font-size: 0.75rem;
}
.products-container .products-holder-main .load-more-btn {
    background: var(--primary-bg-color);
    color: #fff;
    font-family: var(--third-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.8px;
    height: 37px;
    width: 172px;
}
.custom-container.product-container .product-text {
    display: none;
}
.product-detail-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*="owl-"] {
    /*font-size: 0;*/
    padding-top: 0.375rem;
}
.product-detail-container .product-carousel-desktop .owl-nav .owl-prev {
    /*background-image: url('https://static.techsembly.com/T84R3yJDvhMdZWh334emPybq');
    background-position: center;
    background-size: 0.5rem;
    background-repeat: no-repeat;*/
}
.product-detail-container .product-holder .share-link,
.product-detail-container .product-holder .product-detail .product-info .made-by {
    display: none !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 11px;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage {
    line-height: 2rem;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    font-weight: 400;
    letter-spacing: 0.8px;
}
app-product-detail .container-fluid.BorderBottom,
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
}
.product-detail-container .product-holder .product-order .nav-tabs {
    border: none;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    border-bottom: 1px solid #DAD9D7;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    font-family: var(--third-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    border-bottom-color: var(--primary-bg-color);
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    font-weight: 700;
}
.product-detail-container .product-holder .product-order .tab-content {
    border: none;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
    padding-left: 0;
    padding-right: 0;
}
.product-detail-container .product-holder .product-order .tab-content .detail-text .detail-holder .fadeout {
    display: none;
}
.product-detail-container .personalise-form .form-group,
.product-detail-container .personalise-form .form-group label {
    font-family: var(--third-font);
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.product-detail-container .personalise-form .form-group .form-control,
.product-detail-container .multiselect-dropdown .dropdown-btn {
    border-color: var(--primary-bg-color);
    box-shadow: 0px 0px 0px 2px #F5F9FE;
    color: var(--primary-bg-color);
    font-family: var(--third-font);
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
    height: auto;
    min-height: 54px;
    padding-left: 1rem;
}
.product-detail-container .multiselect-dropdown .dropdown-btn {
    border: 0.0625rem solid var(--primary-bg-color);
    padding-top: 0.9375rem !important;
}
.multiselect-dropdown .dropdown-btn .selected-item {
    align-items: center;
}
.product-detail-container .personalise-form .form-group input[type="checkbox"] {
    min-height: auto;
}
.product-detail-container .personalise-form .form-group select.form-control {
    background-image: url('https://static.techsembly.com/oVnFRQir1GcZPH6uaWNeebzz');
    background-size: 0.625rem;
    background-position-x: 96.5%;
    padding-right: 2rem;
}
.product-detail-container .personalise-form .variant-container .option-label,
.product-detail-container .personalise-form .variant-container .variant .option-container .customcheck .checkmark {
    color: var(--primary-bg-color);
    font-family: var(--third-font);
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.product-detail-container .checkbox-holder label {
    align-items: center;
}
.product-detail-container .checkbox-holder span {
    text-transform: capitalize;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child .col-lg-10 {
    max-width: 100%;
    flex-basis: 100%;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child .col-lg-2 {
    display: none;
}
.product-detail-container .personalise-form .form-group.add-basket {
    margin-top: 0.875rem;
}
.product-detail-container .add-to-basket-cont {
    padding-right: 0;
}
.product-detail-container .personalise-form .form-group .order-btn {
    line-height: 1.25rem;
    text-transform: uppercase;
}
.product-detail-container .preview-thumbnail {
    margin-top: 1.125rem;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#details {
    height: auto;
}
.product-detail-container .product-holder .product-order .tab-content .detail-text .detail-holder {
    max-height: none;
}
.product-detail-container .product-holder .product-order .tab-content .btn.show-more {
    display: none;
}
.related-products {
    border-top: none;
}
.related-products h3 {
    color: #000;
    font-family: 'theano_didotregular';
    font-weight: 400;
    font-size: 26px;
    line-height: 22px;
    letter-spacing: 0.96px;
}
.related-products .related-products-holder {
    padding-top: 1.1875rem;
}
app-product-detail app-related-products[title='Recently Viewed'] {
    display: none;
}
app-product-detail app-related-products[title='Recently Viewed'] .custom-container .container,
app-product-detail app-related-products[title="More items from"] .custom-container .container {
    max-width: 100%;
}
.related-products .related-products-holder {
    /*justify-content: space-between;*/
}
.related-products .related-products-holder .rel-product-col {
    margin: 0;
}
.related-products a.wishlistImage {
    display: none;
}
app-cart,
app-checkout {
    //display: block;
}
app-cart .custom-container.cart-container {
    font-family: var(--forth-font);
}
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading {
    color: var(--primary-bg-color);
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.8px;
}
app-cart .custom-container.cart-container .breadcrumb-heading {
    margin-bottom: 1.25rem !important;
}
app-cart .custom-container.cart-container .vendor-items-cont .card,
app-cart .custom-container.cart-container .card.order-summary-cont {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 0.375rem;
}
.custom-container.cart-container .cart-item.new {
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
    display: none !important;
}
.custom-container.cart-container .cart-item.new .item-details .item-name,
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.custom-container.cart-container .cart-item.new .item-details .item-name {
    margin-bottom: 0.5rem;
}
.custom-container.cart-container .cart-item.new .item-details .unit-attributes-cont {
    align-items: center;
}
.custom-container.cart-container .cart-item.new .pro-badges-cont {
    padding-top: 0.1875rem;
}
.cart-item .item-details .item-opts .collapse-link {
    margin-bottom: 0.1875rem;
    align-items: center;
    text-transform: capitalize;
}
.cart-item .item-details .item-opts .quest-container {
    padding-bottom: 0.5rem;
}
.cart-item .item-details .unit-price,
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    padding-top: 0.25rem;
}
.custom-container.cart-container .vendor-items-cont .add-gift-msg a {
    color: var(--color-light);
    font-family: var(--forth-font);
    font-size: 0.75rem;
    line-height: 0.875rem;
}
.custom-container.cart-container .vendor-items-cont .add-gift-msg a .underline {
    text-decoration: none;
}
.cart-item.new .form-control {
    color: var(--primary-bg-color);
    font-size: 0.75rem;
    /*line-height: 0.875rem;*/
}
.custom-container.cart-container .cart-item.new a.del-item-link {
    font-family: var(--forth-font);
    font-size: 0.625rem;
    line-height: 0.9375rem;
    text-decoration: none;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec,
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc {
    background-color: #f5f5f5;
}
.custom-container.cart-container .cart-item.new .item-qty-cont {
    border-color: #DBD9D9;
}
.custom-container.cart-container .cart-right-cont .card.order-summary-cont .card-header .card-head-inner {
    border-color: #d6d1d1;
}
.custom-container.cart-container .cart-right-cont .card.order-summary-cont .card-header .card-head-inner .total-label,
.custom-container.cart-container .cart-right-cont .card.order-summary-cont .card-header .card-head-inner .cart-total,
.order-summary-cont .order-totals-container .total-holder .order-total-item .total-desc,
.order-summary-cont .order-totals-container .total-holder .total-price {
    color: var(--primary-bg-color);
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 0.25rem;
    letter-spacing: 0.8px;
}
.custom-container.cart-container .card.order-summary-cont .card-body-inner {
    color: var(--primary-bg-color);
    font-size: 0.625rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
app-cart .custom-container.cart-container .card.order-summary-cont {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.custom-container.cart-container .order-summary-cont .cart-login-cont {
    background-color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
}
.custom-container.cart-container .order-summary-cont .cart-login-cont .panel-heading {
    font-family: var(--forth-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
    margin-bottom: 1.125rem !important;
}
.custom-container.checkout .shipping-form-container .shipping-form-cont,
.custom-container.checkout .shipping-form-container .delivery-methods-cont {
    padding-top: 1.25rem !important;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control,
.custom-container.cart-container .cart-login-cont .guest-form-cont form input.form-control,
.custom-container.checkout .shipping-form-container .form-control {
    background: #FFF;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 0.25rem;
    border-color: transparent;
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
    height: 60px;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control::placeholder,
.custom-container.checkout .shipping-form-container .form-control::placeholder {
    font-size: 0.75rem;
    color: var(--primary-bg-color);
}
.cart-login-cont form.cart-login-form .forget-psw-link {
    font-family: var(--forth-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.cart-login-cont form.cart-login-form .form-submit-cont {
    border-top-color: #DAD9D7;
}
.custom-container.cart-container .order-summary-cont .cart-login-cont .btn.btn-primary {
    border-color: var(--primary-bg-color);
    background-color: var(--primary-bg-color);
    font-family: var(--third-font-med);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    height: 54px;
}
.custom-container.cart-container .order-summary-cont .cart-login-cont .btn.btn-primary:hover,
.custom-container.cart-container .order-summary-cont .cart-login-cont .btn.btn-primary:focus {
    background-color: var(--color-light);
}
.custom-container.cart-container .order-summary-cont .cart-login-cont .checkout-desc-cont {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.order-summary-cont form.guestCheckout-form .btn.submit {
    padding-top: 0.75rem;
}
.order-summary-cont form.guestCheckout-form .btn.submit img {
    margin-top: -0.25rem;
}
app-cart .custom-container.cart-container .continue-btn-new {
    background-color: #fff;
    border-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
    font-family: var(--third-font);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    padding-top: 1.0625rem;
    min-width: 172px;
}
app-cart .custom-container.cart-container .continue-btn-new:hover,
app-cart .custom-container.cart-container .continue-btn-new:focus {
    background-color: var(--primary-bg-color);
    color: #fff;
}
.modal-popup#delivery-options-popup .modal-container,
.modal-popup#delivery-options-popup .modal-title,
.modal-popup#delivery-options-popup .pref-method-note,
.modal-popup#delivery-options-popup .radio-container {
    color: var(--primary-bg-color);
}
.modal-popup#delivery-options-popup .radio-container .checkmark {
    border-color: var(--primary-bg-color);
}
.modal-popup#delivery-options-popup .radio-container .checkmark::after {
    background-color: var(--primary-bg-color);
    top: 1.5px;
    left: 1.5px;
}
body[data-pagetype='cart'] #delivery-options-popup .item-row .radio-container:not(:first-child) .checkmark::after {
    left: 1.125px;
}
.modal-popup#delivery-options-popup .modal-footer {
    border-top-color: #DAD9D7;
}
.modal-popup#delivery-options-popup .modal-footer .btn {
    font-family: var(--third-font);
    font-weight: 400;
}
.modal-popup#delivery-options-popup .modal-footer .btn.btn-cancel {
    color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
}
.modal-popup#delivery-options-popup .modal-footer .btn.btn-cancel:hover,
.modal-popup#delivery-options-popup .modal-footer .btn.btn-cancel:focus {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
}
.modal-popup#delivery-options-popup .modal-footer .btn.btn-submit {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
}
.modal-popup#delivery-options-popup .modal-footer .btn.btn-submit:hover,
.modal-popup#delivery-options-popup .modal-footer .btn.btn-submit:focus {
    background-color: var(--color-light);
}
.shipping-form-container .breadcrumb-heading {
    margin-bottom: 1.25rem !important;
}
.shipping-form-container .breadcrumb-heading,
.shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading,
.payment-form-container .order-sum-heading,
.payment-form-container .address-heading {
    font-family: var(--primary-font);
    font-size: 1.25rem !important;
    font-weight: 400;
    line-height: 1.4 !important;
    letter-spacing: 0.8px;
}
.custom-container.checkout .shipping-form-container .form-control {
    height: 52px;
}
.custom-container.checkout .tab-pane form select.form-control {
    background-image: url('https://static.techsembly.com/oVnFRQir1GcZPH6uaWNeebzz');
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 0.625rem;
}
.custom-container.checkout .shipping-form-container .form-group label {
    font-family: var(--third-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.custom-container.checkout .shipping-form-container .checkbox-cont .checkmark {
    border-color: var(--primary-bg-color);
}
.checkout .shipping-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: transparent;
    border-color: var(--primary-bg-color);
}
.checkout .shipping-form-container .checkbox-cont .checkmark::after {
    background-image: url('https://static.techsembly.com/GXDdozgWL16oQouqPxcZmgXS');
}
.shipping-form-container .order-summary-cont {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 0.5rem;
}
.custom-container.checkout .shipping-form-container .btn.btn-submit,
.custom-container.checkout .payment-form-container .btn.btn-submit {
    border: 0.0625rem solid var(--primary-bg-color);
    background-color: #fff;
    color: var(--primary-bg-color);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    min-width: 203px;
}
.custom-container.checkout .shipping-form-container .btn.btn-submit:hover,
.custom-container.checkout .shipping-form-container .btn.btn-submit:focus,
.custom-container.checkout .payment-form-container .btn.btn-submit:hover,
.custom-container.checkout .payment-form-container .btn.btn-submit:focus {
    background-color: var(--primary-bg-color);
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.order-summary-cont .order-totals-container {
    background-color: transparent;
    font-family: var(--forth-font);
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.5px;

}
.order-summary-cont .order-summary-container .vendor-items-holder .vendor-order-details {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.order-summary-cont .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
.order-summary-cont .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price,
.order-totals-container .sub-total-holder .sub-total-item .sub-price {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.order-summary-cont .order-totals-container .sub-total-holder {
    border-bottom-color: #DAD9D7;
}
.order-summary-cont .order-totals-container .total-holder {
    padding-top: 9px;
}
.checkout .shipping-form-container .exist-address-wrapper .card .customer-name,
.checkout .shipping-form-container .exist-address-wrapper .card .card-body,
.checkout .shipping-form-container .exist-address-wrapper .card a {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.checkout .shipping-form-container .exist-address-wrapper .card .customer-name {
    margin-bottom: 0 !important;
}
.checkout .shipping-form-container .exist-address-wrapper .card .card-body div:not(:last-child) {
    padding-bottom: 0.75rem;
}
.checkout .shipping-form-container .exist-address-wrapper .card .card-body div:empty {
    display: none;
}
.shipping-form-container .exist-address-wrapper .card .card-footer {
    margin-top: 0.25rem;
}
.checkout .shipping-form-container .exist-address-wrapper .card a {
    color: var(--color-light);
}
.checkout .shipping-form-container .exist-address-wrapper .card .btn.address-btn {
    border-color: #eee;
    background-color: #eee;
    color: var(--primary-bg-color);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.checkout .shipping-form-container .exist-address-wrapper .card,
.checkout .shipping-form-container .exist-address-wrapper {
    border: none;
}
.checkout .shipping-form-container .exist-address-wrapper .card:last-child {
    margin-bottom: 0 !important;
}
.custom-container.cart-container .cart-item.new .pro-badges-cont {
    display: none !important;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
    background-color: transparent;
    color: #000;
    font-family: var(--fifth-font);
    font-size: 0.75rem;
    line-height: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.96px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke img {
    display: none;
}
.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty,
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc {
    text-transform: uppercase;
}
.checkout .tab-pane .card {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 0.5rem;
}
.delivery-methods-cont .card.contact-card .card-body {
    font-family: var(--third-font-bold);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.delivery-methods-cont .card .card-body .row-head {
    font-family: var(--forth-font);
    font-weight: 400;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .card-body {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 1.875rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item,
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
    background-color: transparent;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title,
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption {
    color: #000;
    font-family: var(--fifth-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
    display: none;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
    color: #000;
    font-family: var(--fifth-font);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:last-child .total-row-val {
    font-weight: 700;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner,
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
    border-color: #DBD9D9;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
    border-color: var(--primary-bg-color);
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
    background-color: var(--primary-bg-color);
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.checkout .payment-form-container .breadcrumb-heading,
.checkout .payment-form-container .section-heading {
    color: #000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem !important;
    line-height: 1.375rem !important;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.payment-form-container .breadcrumb {
    padding-top: 0.75rem;
}
.payments-methods-cont .card {
    background: #F5F5F5;
    box-shadow: 0px 1px 2px rgba(59, 89, 128, 0.2);
    border-radius: 0.25rem;
}
.checkout .payment-form-container .radio-container {
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;
    font-family: var(--fifth-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    color: #757575;
}
.checkout .payment-form-container .radio-container .radio-cont-inner {
    padding-top: 0;
    padding-bottom: 0;
}
.checkout .payment-form-container .radio-container .pay-method-name {
    margin-top: 0.1875rem;
}
.checkout .payment-form-container .radio-container .checkmark::after {
    background-color: #000;
    top: 7.5px;
    left: 1.5px;
    width: 17.5px;
    height: 17.5px;
}
.checkout .payment-form-container .radio-container input:checked ~ .checkmark {
    border-color: #000;
    background-color: #000;
}
.checkout .payment-form-container .payments-methods-cont,
.checkout .payment-form-container .section-cont {
    border-bottom-color: #DBD9D9;
}
.checkout .payment-form-container .section-cont {
    padding-top: 26px !important;
}
.payment-form-container .card.address-card .card-body {
    color: #000;
    font-family: var(--fifth-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    padding-top: 0.1875rem !important;
}
.checkout .payment-form-container .card .card-body .row-head {
    font-weight: 300;
}
.checkout .payment-form-container .checkbox-cont .checkmark {
    border-color: #757575;
    box-shadow: 0px 1px 2px rgba(59, 89, 128, 0.2);
}
.checkout .payment-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: transparent;
    border-color: #757575;
}
.checkout .payment-form-container .checkbox-cont .checkmark::after {
    background-image: url('https://static.techsembly.com/GXDdozgWL16oQouqPxcZmgXS');
}
.checkout .payment-form-container .form-group label,
.checkout .password-note {
    color: #000;
    font-family: var(--fifth-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.checkout .password-note {
    color: #757575;
}
.payment-form-container .form-group label[for="saveInfo"] {
    padding-top: 4px;
    padding-bottom: 9px;
}
.checkout .payment-form-container .card.blue-light-bg {
    background-color: #fff;
    border: none;
}
.checkout .payment-form-container .form-control {
    background-color: #fff;
    color: #757575;
    font-family: var(--fifth-font);
    font-weight: 300;
    font-size: 0.8125rem !important;
    line-height: 1.5rem;
}
.checkout .payment-form-container .form-control::placeholder {
    color: #757575;
}
.custom-container.checkout .payment-form-container .btn.btn-submit {
    font-family: var(--fifth-font);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    padding-top: 0.5rem;
    min-width: 154px;
}
.custom-container.checkout .payment-form-container .btn.btn-submit:hover,
.custom-container.checkout .payment-form-container .btn.btn-submit:focus {
    font-family: var(--fifth-font);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
}
.order-summary-cont .order-totals-container .promo-cont a {
    color: var(--primary-bg-color);
    font-family: var(--third-font);
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.custom-container.checkout .btn.btn-primary {
    border-color: var(--primary-bg-color);
    background-color: var(--primary-bg-color);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
    height: 3.125rem;
}
.checkout .card-images-holder .cards-desc {
    display: none;
}
.custom-container.checkout-container.complete .card.order-confirm-wrapper {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
}
.checkout-container.complete .order-confirm-top {
    display: none;
}
.checkout-container.complete .breadcrumb-heading {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.8px;
    margin-bottom: 0.25rem;
}
.checkout .payment-form-container .col-12:last-child .card.address-card {
    padding-top: 0.125rem !important;
    padding-bottom: 0.25rem !important;
}
.custom-container.checkout-container.complete {
    color: var(--primary-bg-color);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.custom-container.checkout-container.complete .section-cont {
    border-color: #DAD9D7;
}
.custom-container.checkout-container.complete .section-cont.shipping-data {
    padding-top: 0.125rem;
}
.custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row:not(:first-child) {
    margin-top: 0.125rem !important;
}
.custom-container.checkout-container.complete .customer-note {
    padding-bottom: 1.75rem !important;
}
.custom-container.checkout-container.complete .customer-note .updated-del-string {
    padding-top: 1.25rem;
}
.custom-container.checkout-container.complete .order-data .order-column .col-heading {
    font-family: var(--third-font);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.5px;
}
.custom-container.checkout-container.complete .order-data .order-column.contact {
    text-align: right;
}
.custom-container.checkout-container.complete .order-data .order-column .col-desc {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.custom-container.checkout .checkout-tabs-cont .page-heading {
    color: var(--primary-bg-color);
}
.custom-container.checkout .complete .checkout-tabs-cont .vendor-items-holder .vendor-order-details {
    padding-top: 0;
}
.custom-container.checkout-container.complete .cart-data .order-item .item-desc .item-name,
.custom-container.checkout .complete .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item,
.custom-container.checkout-container.complete .cart-data .order-item .item-price,
.custom-container.checkout-container.complete a {
    color: var(--primary-bg-color);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.8px;
}
.custom-container.checkout .checkout-tabs-cont .complete .vendor-items-holder .vendor-order-details .order-item {
    font-weight: 400;
}
.custom-container.checkout .checkout-tabs-cont .complete .vendor-items-holder .vendor-order-details .order-item {
    padding-top: 1rem !important;
}
.checkout-container.complete .total-cont,
.custom-container.checkout-container.complete .total-cont .total-price {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.8px;
}
.custom-container.checkout .complete .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
    font-weight: 400;
}
.custom-container.checkout-container.complete .card.order-confirm-wrapper .card-footer {
    background-color: transparent;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-rating .wishlistImage img {
    height: auto;
}
app-login-signup,
app-guest-wishlist,
app-wishlist {
    display: block;
}
.custom-container.login-signup,
.custom-container.wishlist-container {
    padding-top: 1.5rem;
    margin-bottom: 0;
}
app-login-signup .BorderBottom {
    border-bottom: none;
}
.custom-container .login-signup-tabs-cont label input[type="checkbox"] {
    margin-top: 0.0625rem;
}
.user-wrapper {
    padding-top: 1.5rem;
}
.user-wrapper .user-heading a {
    font-size: 1.375rem;
    line-height: 1.5rem;
}
.user-wrapper .user-container table {
    color: var(--primary-bg-color);
}
.wrapper .featured-client {
   display: none;
}
.inspired-section {
   letter-spacing: 0.8px;
   padding-top: 0.4375rem;
   padding-bottom: 0.375rem;
}
.inspired-section p {
   margin-bottom: 0;
}
.inspired-section .inspired-heading {
   font-weight: 400;
   font-size: 31px;
   line-height: 36px;
   letter-spacing: 0.5px;
}
.inspired-section .btn-sign-up {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   width: 311px;
}
.border-stroke {
   border-color: #DAD9D7;
}
.margin-auto {
   margin: auto !important;
}
.footer {
   border-top: none;
   background-color: #fff;
   margin-top: 0;
   padding-top: 1.75rem;
}
.footer .footer-widget .widget-title {
   font-size: 24px;
   line-height: 35px;
   letter-spacing: 0.5px;
   text-transform: capitalize;
}
.footer .footer-widget .widget-content {
   padding-top: 0.625rem;
}
.footer .footer-widget .widget-content ul li {
   padding-bottom: 0.625rem;
}
.footer .footer-widget .widget-content ul li a {
   color: var(--color-light);
   font-family: var(--third-font);
   font-size: 0.75rem;
   line-height: 0.875rem;
   letter-spacing: 0.5px;
}
.footer .footer-widget .widget-content .social-links li {
   width: auto;
}
.footer .footer-widget .widget-content .social-links li:not(:last-child) {
   margin-right: 1.25rem;
}
.social-links img[alt="fb"] {
    max-width: 11px;
}
.social-links img[alt="instagram"],
.social-links img[alt="pinterest"] {
    max-width: 1.25rem;
}
.social-links img[alt="line"] {
    max-width: 1.1875rem;
}
.social-links img[alt="twitter"] {
    max-width: 23px;
}
.footer .mobile-footer .list-group .list-group-holder>a {
    color: var(--primary-bg-color);
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.5px;
}
.footer .mobile-footer .list-group .list-group-holder>a:after {
    top: 35%;
}
.footer .mobile-footer .list-group .list-group-holder .collapsing {
    transition: none;
}
.footer .copyright-cont {
    margin-top: 1rem;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
    margin-right: 0.5rem;
}
.footer .copyright-cont .powered-by,
.footer .copyright-cont .powered-by a {
    color: var(--color-light);
    font-family: var(--third-font);
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.footer .copyright-cont .powered-by a:hover,
.footer .copyright-cont .powered-by a:focus {
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1.5;
}
.footer .copyright-cont .powered-by div:not(.powered-link-cont),
.custom-container.checkout-footer {
    display: none;
}

/* ====== apple pay button css ================ */
.payments-methods-cont .card {
    max-width: calc(50% - 10px);
    display: inline-block;
    width: 100%;
}
.payments-methods-cont .card:first-child {
    margin-right: 10px !important;
}
.payments-methods-cont .card:nth-child(2) {
    margin-left: 10px !important;
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    header .spacing {
      padding-top: 3rem;
      padding-left: 1.5625rem;
      padding-right: 1.5625rem;
    }
    header.header .mobile-menu {
      background-color: transparent;
      padding: 0;
    }
    header.header .mobile-menu svg {
      width: 1.75rem;
    }
    header.header .logo {
      height: auto;
      padding-top: 0;
      padding-bottom: 2.5rem;
      text-align: center;
    }
    header .mob-top-links li a img {
      max-width: 23px;
    }
    header .mob-top-links .cart-qty {
      top: 18px;
    }
    .home-intro-container {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .home-gifts-sect .gift-loc {
      font-weight: 700;
    }
    .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
       width: 46.25%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
      margin-bottom: 1rem;
    }
    .product-detail-container .product-holder .product-order .tab-content .tab-pane#details {
      height: auto !important;
    }
   .inspired-section .inspired-heading {
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 0.45px;
    }
    .inspired-section .btn-sign-up {
      width: 316px;
    }
    .footer .social-widget .widget-content {
      padding-top: 0;
   }
   .footer .footer-widget .widget-content .social-links li {
       margin-bottom: 0;
   }
   .footer .copyright-cont .pay-methods-avail .meth-link img {
       max-width: 52px;
   }
   .footer .copyright-cont .powered-by {
       padding-top: 1rem;
       padding-bottom: 3rem;
   }
    .bg-below-transparent {
      background-color: transparent !important;
    }
    .border-below-transparent {
      border-color: transparent !important;
    }

    /* apple pay button */
    .payments-methods-cont .card {
        max-width: 100%;
    }
    .payments-methods-cont .card:nth-child(2) {
        margin-left: 0 !important;
    }
}

@media (max-width: 767.98px) {
   nav#sidebar {
       //top: 115px;
   }
   .mob-overlay {
       //top: 116px;
   }
   header.header .logo img {
      width: 121px;
   }
   header.header .menu-links-cont {
      max-width: 25%;
   }
   header .mob-top-links .cart-qty {
      top: 14px;
   }
   header .mob-top-links li a img[alt="cart"] {
      max-height: 23px;
   }
   header .mob-search-cont,
   .product-container .mob-btn-group {
      padding-bottom: 0.5rem;
   }
   .home-gifts-sect .gift-loc {
      margin-bottom: 1.25rem;
   }
   .home-gifts-sect .gifts-desc p {
      font-size: 0.75rem;
      line-height: 1.0625rem;
      letter-spacing: 0.687671px;
   }
   .mobile-nav .btn-transparent:first-child {
      margin-right: 1.5rem;
   }
   .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
       width: 45%;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
       width: 87%;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
       width: 13%;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
       margin-top: 1px;
       max-width: 100%;
   }
   .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
       height: auto;
   }
   .product-detail-container .product-holder .product-detail {
       margin-bottom: 0 !important;
   }
   .product-detail-container .add-to-basket-cont {
       width: 100%;
   }
   .delivery-methods-cont .vendor-cards-holder .card .order-item .item-img {
       margin-right: 0.5rem !important;
   }
   .checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .order-item-right {
       max-width: 40%;
       text-align: right;
   }
   .checkout .shipping-form-container .form-group.label-email {
       flex-wrap: wrap;
   }
   .checkout .shipping-form-container .form-group.label-email .info-text {
       padding-left: 0;
       padding-bottom: 0.5rem;
   }
   .custom-container.checkout-container.complete .order-data .order-column.contact {
       text-align: left;
   }
   .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-3 {
       flex-basis: 30%;
       max-width: 30%;
       padding-right: 1rem !important;
   }
   .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-9 {
       flex-basis: 70%;
       max-width: 70%;
   }
   .custom-container .login-signup-tabs-cont form.login-form {
       padding-top: 1rem;
   }
   .custom-container .login-signup-tabs-cont .form-group {
       padding-bottom: 1rem;
   }
   .custom-container .login-signup-tabs-cont form.login-form .forget-psw-link {
       margin-bottom: 1rem;
   }
   .inspired-section {
       font-size: 0.8125rem;
       line-height: 1.125rem;
       letter-spacing: 0.728205px;
   }
}

@media (max-width: 575.98px) {
   header.header .menu-links-cont {
      max-width: 33.3%;
   }
   .checkout .payment-form-container .radio-container .checkmark::after {
      left: 1.25px;
   }
   .inspired-section .btn-signup-cont {
       padding-left: 2rem !important;
       padding-right: 2rem !important;
   }
   .inspired-section .btn-sign-up {
       width: 100%;
   }
}

@media (min-width: 768px) {
   .products-container .main-sidebar {
       padding-top: 1.5rem !important;
       padding-right: 1.5625rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: auto;
    }
   .related-products .related-products-holder .related-products-image {
        height: auto;
    }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image img,
   .related-products .related-products-holder .related-products-image img {
        max-height: 222x;
    }
   .product-detail-container .tab-content.preview-pic {
       height: auto;
       max-height: 635px;
       overflow: hidden;
    }
    .custom-container.checkout .shipping-form-container .label-email label.info-text {
        max-width: 15%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
   header .toggle-menu-cont,
   header.header .menu-links-cont {
       flex-basis: 33%;
       max-width: 33%;
   }
   header .mob-top-links {
       align-items: center;
   }
   .cart-container ul.arrow-breadcrumbs {
       padding-left: 0.75rem;
   }
   .custom-container.cart-container .order-summary-cont .cart-login-cont .btn.btn-primary {
       font-size: 0.75rem;
   }
}
@media (min-width: 992px) {
   header.header .shipping {
       padding-top: 94px;
   }
   header.header .logo {
       padding-top: 85px;
       padding-bottom: 66px;
   }
   header.header .menu-links-cont {
       padding-top: 55px !important;
   }
   header.header .search .search-item-form {
       width: 311px;
   }
   header.header .search .search-item-form .nav-search-field {
       height: 37px;
       width: 265px;
   }
   header.header .menu-holder>li {
       margin-right: 77px;
   }
   header.header .menu-holder li a.main-category {
       padding-left: 0;
       padding-right: 0;
   }
   header.header .menu-holder>li:hover>div.empty {
       display: none;
   }
   .home-top-cont .desc {
       max-width: 798px;
       margin: auto;
   }
   .products-container .products-holder-main .products-holder {
       padding-left: 0.625rem;
       padding-right: 0.625rem;
   }
   .products-container .products-holder-main .products-holder .product-column,
   .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
       width: 31.75%;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image,
   .related-products .related-products-holder .related-products-image {
        min-height: 249px;
        max-height: 249px;
    }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image img,
   .related-products .related-products-holder .related-products-image img {
        max-height: 249px;
    }
   .product-detail-container {
       padding-bottom: 7rem;
   }
   .product-detail-container .product-holder {
        padding-top: 1.75rem !important;
        margin-bottom: 0 !important;
    }
    .product-detail-container .product-holder .product-detail {
        padding-top: 0.375rem;
        margin-bottom: 0 !important;
    }
    .product-detail-container .product-holder .product-detail,
    .product-detail-container .product-holder .product-order {
        padding-left: 0.875rem;
    }
    .related-products .related-products-holder .rel-product-col {
        width: 23.625%;
        margin-right: 1.5rem;
    }
   .custom-container.cart-container {
       padding-top: 1.75rem !important;
   }
   .custom-container.cart-container .cart-left-cont {
       padding-right: 59px;
   }
   app-cart .custom-container.cart-container .breadcrumb-heading,
   app-cart .custom-container.cart-container .order-sum-heading {
       font-size: 1.25rem;
   }
   .cart-item.new .item-image-cont {
        min-width: 21.65%;
        max-width: 21.65%;
    }
    .cart-item.new .item-details-cont {
        max-width: 78.35%;
        min-width: 78.35%;
    }
    .checkout .shipping-form-container .left-panel,
    .checkout .payment-form-container .left-panel {
        padding-right: 59px;
    }
   .container.custom-container.checkout {
       padding-top: 1.75rem !important;
       padding-bottom: 5rem;
   }
   .custom-container.checkout-container.complete {
        padding-top: 55px;
   }
   .custom-container.checkout-container.complete .card.order-confirm-wrapper {
       flex-basis: 67.35%;
       max-width: 802px;
   }
   .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
       margin-top: 45px;
   }
   footer.footer {
        padding-bottom: 1rem;
    }
   footer .custom-container {
      padding-left: 2rem;
      padding-right: 2rem;
   }
   .footer .custom-container .footer-widget:nth-child(3) {
        flex-basis: 35%;
    }
    .footer .copyright-cont div:first-child,
    .footer .copyright-cont .pay-methods-avail {
        padding-left: 0;
    }
    .footer .copyright-cont div:first-child {
        padding-right: 0;
    }
    .footer .copyright-cont .pay-methods-avail {
        min-width: 50%;
        flex-basis: 50%;
    }
    .footer .copyright-cont .powered-by {
        align-items: flex-end !important;
        padding-right: 0;
        justify-content: center;
    }
    .footer .copyright-cont .powered-by + div.col-lg-3 {
        display: none;
    }
}
@media (min-width: 1200px){
   header.header .head-links li .add-to-basket .dropdown-menu {
       right: 0.875rem !important;
   }
   .home-intro-container {
       max-width: 1280px;
       padding-left: 1.75rem;
       padding-right: 1.75rem;
   }
   .products-container .products-holder-main .products-holder .product-column,
   .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
       width: 32.125%;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 360px;
        max-height: 360px;
    }
    .related-products .related-products-holder .related-products-image {
        min-height: 288px;
        max-height: 288px;
    }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image img {
        max-height: 360px;
    }
    .related-products .related-products-holder .related-products-image img {
        max-height: 288px;
    }
    .footer .custom-container .footer-widget:nth-child(1),
    .footer .custom-container .footer-widget:nth-child(2) {
        /* max-width: 270px; */
        padding-right: 70px;
    }
    .footer .custom-container .footer-widget:nth-child(3) {
       flex-basis: 54%;
    }
}
@media (min-width: 1400px){
    .product-detail-container,
    app-product-detail app-related-products[title='Recently Viewed'] .custom-container .container,
    app-product-detail app-related-products[title="More items from"] .custom-container .container {
        max-width: 1280px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .product-holder .product-carousel-cont {
        max-width: 53.25%;
    }
    .product-holder .product-inner {
        max-width: 46%;
        flex-basis: 46%;
        padding-right: 5px;
    }
}
/* Ross Start */
.shipping-form-container .delivery-methods-cont .contact-card, .payment-form-container .payment-form-container .card-details-cont:nth-child(3) {display:none;}
header.header .menu-holder .nav-column ul {
    list-style: none;
    margin: 0;
    padding: 0 0 1.4375rem;
}

header.header .menu-holder>li>div {
    width: 25%;
    left: auto;
}

header.header .menu-holder>li>div{
    background-color: var(--body-bg);
}

/* Ross End */
/* TC START */
.post-tile{
background: white;

}

.banner-item-desc p{
    padding: 15px 10% 0px 10%;
    text-align: center;
}

.h-100 {
    height: 100% !important;
}

.mt-3, .my-3 {
    margin-top: 2rem !important;
}

@media screen and (max-width: 767px) {
  .col-12.text-center {
    padding-top: 10px;
    padding-bottom: 10px;
  }

.banner-carousel.mob .slide-tile .slide-content {
    background: white;
    padding: 10px;
    opacity: 80%;
}
.banner-carousel .slide-tile .slide-btn, .banner-carousel .slide-tile .slide-btn:active{
  font-size: 1.25rem;
    background: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    white-space: normal;
    text-transform: initial;
}

.banner-carousel .slide-tile .slide-title {
    font-size: 0.8rem;
    margin-bottom: 0px;
}
.slide-content .btn-transparent {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.slide-content .btn-transparent::after {
   content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent black;
}

}
/* TC END */
