@font-face {
    font-family: 'Lyon-Regular';
    src: url('LyonText-Aman-Regular.eot');
    src: url('LyonText-Aman-Regular.eot?#iefix') format('embedded-opentype'),
        url('LyonText-Aman-Regular.woff2') format('woff2'),
        url('LyonText-Aman-Regular.woff') format('woff'),
        url('LyonText-Aman-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
