<div class="container custom-container d-flex flex-wrap justify-content-between chapter-cont">
  <div class="col-12 col-md-6 px-0 pr-md-3 pt-md-4 pb-4 pb-md-0">
    <div class="w-100 d-flex align-items-center justify-content-between chap-desc-cont pt-md-3">
      <div class="chap-desc-left">
        <div class="chap-top-heading">
          CAPITULO DOIS:
        </div>
        <h2 class="section-title mb-2">
          Um Mundo Fora <br>Da Sua Janela
        </h2>
        <a class="chap-link" href="https://copacabana-palace.techsembly.com/cpcp">DESCUBRA NOSSAS EXPERIÊNCIAS</a>
      </div>
      <div class="chap-desc-right">
        <img src="https://static.techsembly.com/eCQvzUXghsTu9P2C5p3e7jQK" width="216" alt="chap-img"/>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 px-0 pl-md-3">
    <img src="https://static.techsembly.com/et4WcYTCbpdRNfehVB8a6BSE" width="595" alt="chap-img full-desktop-img"/>
  </div>
</div>
