@font-face {
    font-family: 'OPTIwtcGoudy-Bold';
    src: url('OPTIwtcGoudy-Bold.woff2') format('woff2'),
        url('OPTIwtcGoudy-Bold.woff') format('woff'),
        url('OPTIwtcGoudy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OPTIwtcGoudy-BoldItalic';
    src: url('OPTIwtcGoudy-BoldItalic.woff2') format('woff2'),
        url('OPTIwtcGoudy-BoldItalic.woff') format('woff'),
        url('OPTIwtcGoudy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OPTIwtcGoudy-Light';
    src: url('OPTIwtcGoudy-Light.woff2') format('woff2'),
        url('OPTIwtcGoudy-Light.woff') format('woff'),
        url('OPTIwtcGoudy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OPTIwtcGoudy-LightItalic';
    src: url('OPTIwtcGoudy-LightItalic.woff2') format('woff2'),
        url('OPTIwtcGoudy-LightItalic.woff') format('woff'),
        url('OPTIwtcGoudy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OPTIwtcGoudy-Medium';
    src: url('OPTIwtcGoudy-Medium.woff2') format('woff2'),
        url('OPTIwtcGoudy-Medium.woff') format('woff'),
        url('OPTIwtcGoudy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OPTIwtcGoudy-MediumItalic';
    src: url('OPTIwtcGoudy-MediumItalic.woff2') format('woff2'),
        url('OPTIwtcGoudy-MediumItalic.woff') format('woff'),
        url('OPTIwtcGoudy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'OPTIwtcGoudy-Regular';
    src: url('OPTIwtcGoudy-Regular.woff2') format('woff2'),
        url('OPTIwtcGoudy-Regular.woff') format('woff'),
        url('OPTIwtcGoudy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OPTIwtcGoudy-RegularItalic';
    src: url('OPTIwtcGoudy-RegularItalic.woff2') format('woff2'),
        url('OPTIwtcGoudy-RegularItalic.woff') format('woff'),
        url('OPTIwtcGoudy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
