:root {
    --primary-font: 'futura-pt', sans-serif;
    --secondary-font: 'minion-pro', sans-serif;
}
a {
    font-family: var(--primary-font);
}
a:hover {
    color: #ae9364;
    font-family: var(---primary-font);
    text-decoration: none;
}
header .mob-top-links .dropdown-flag,
header .mob-top-links .profile-icon,
#header .container-fluid #mobile-nav-sub,
.featured-client {
    display:none !important;
}
.related-products h3 {
    font-family: var(--secondary-font);
}
.user-wrapper .user-container .user-edit-holder form .btn.update-btn:hover,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:active {
    background-color: #fff !important;
    border: 1px solid #a39364;
    color: #ae9364 !important;
}
#content .top-header {
    background: #000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 15px;
}
#content .top-header .row {
    align-items: center;
}
.top-header .store-name {
    border-right: 1px solid #aaa;
}
nav#sidebar #mobile-nav-sub {
    display: none;
}
nav#sidebar ul.side-topbar {
    margin: 0;
    padding: 0 1rem;
    list-style: none;
    background-color: #000;
}
nav#sidebar ul.side-topbar li a,
.top-header .store-branch a,
.top-header .store-name a {
    color: #ae9364;
    font-size: 14px;
    font-family: var(--secondary-font);
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1rem;
}
nav#sidebar ul.side-topbar li a {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    margin-right: 0;
    text-transform: capitalize;
}
nav#sidebar ul.side-topbar li:first-child a{
    color: #ae9364 !important;
    text-transform: uppercase;
}
nav#sidebar ul.side-topbar li .trans-wrap {
    padding: 0.425rem 0.5rem;
}
nav#sidebar .pref_dropdown .dropdown-menu {
    will-change: transform;
    left: 8%;
}
.top-header .store-branch a {
    color: #fff;
    margin-left: 1rem;
}
.top-header .trans-wrap {
    text-align: right;
}
.top-header .trans-wrap img {
    margin-right: 8px;
}
nav#sidebar ul.side-topbar li .trans-wrap select,
.top-header .trans-wrap select {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: none;
    border: none;
    font-family: var(--secondary-font);
    padding: 0 2.25rem 0 0.25rem;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: .875rem;
    text-transform: uppercase;
    max-width: 178px;
    cursor: pointer;
}
/*.btn.btn-primary {color: #FFF}*/
.nav-link {
    text-transform:uppercase !important;
}
nav#sidebar ul {
    margin-top: 1.5rem;
}
nav#sidebar ul li a {
    font-weight: 400 !important;
    font-size: .875rem;
    color: #4a4a4a !important;
    font-family: var(--secondary-font);
}
header .row.spacing .shipping li .dropdown .dropdown-menu.cities-dd {
    left: 0!important;
    -webkit-transform: translateX(43%)!important;
    transform: translateX(43%)!important;
    padding: 0.5rem 0;
    right: -6px;
    width: auto;
}
header.header .shipping li .dropdown .dropdown-menu .select-form,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences-header {
    display: none;
}
header .row.spacing .shipping li .dropdown a.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: #4a4a4a;
}
header .row.spacing .shipping li .dropdown a.dropdown-item:active {
    background-color: #f8f9fa;
}
header.header .menu-holder .nav-column.nav-image .menu-image .image-text {
    border: 1px solid #867050;
    padding: 1rem 0;
}
header.header .menu-holder .nav-column.nav-image .menu-image .image-text a {
    background-color: #fff;
    background-size: cover;
    color: #636363;
    font-family: var(--secondary-font);
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    line-height: 1.125rem;
    text-align: center;
}
.promo-title, .promo-description {
    font-weight: 900 !important;
    text-shadow: 1px 2px black !important;
}
.home-banner .banner-heading {
    top:85% !important;
}
.breadcrumb-heading {
    color: rgb(74, 74, 74);
    font-size: 1.25rem;
    font-family: var(--secondary-font);
    line-height: 1.5rem;
    margin: 0;
}
.sidebar-widget .result-text {
    font-size: .9375rem;
    margin: 0 0 -3px;
    font-family: var(--secondary-font);
}
.sidebar-widget .list-group-holder .filter-content .widget-holder span,
.sidebar-widget .list-group-holder .list-group-item-action h4 {
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
}
.sidebar-widget .list-group-holder .filter-content .widget-holder span {
    font-weight: 300;
    line-height: 23px;
}
.ng5-slider .ng5-slider-span {
    font-family: var(--secondary-font);
}
.product-container .products-container .products-holder-main {
    padding-top: 0 !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
    font-family: var(--primary-font);
    display: inline-block;
    vertical-align: top;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    margin-bottom: 7px;
}
.btn.load-more-btn {
    color: #4a4a4a;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a:hover h3 {
    color: #ae9364;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 18px;
}
.product-select .form-group>select.form-control.relevance,
.product-select .form-group.sort-cont label {
    color: #636363;
    font-family: var(--secondary-font);
    font-size: 1rem;
    line-height: 1.25rem;
}
.product-select .form-group>select.form-control.relevance {
    height: 1.89rem;
}
.sidebar-widget .result-text p {
    font-size: 15px;
}

/*.app-header, .header { background-color: #00182E }*/

.notificationbar {
    font-family: 'Crimson Pro', serif !important;
    font-size:14px !important;
    border-bottom: 1px solid #d6d4d4;
    color: #FFF;
}
.nav-link {
    font-weight:900 !important;
    letter-spacing:0.3em;
}
header.header .logo {
    margin-bottom:30px;
}
.container.product-detail-container {
    padding-top: 30px;
}
.container.product-detail-container .product-holder {
    padding-top: 1.35rem !important;
    padding-bottom: 1rem !important;
}
.custom-container .login-signup-tabs-cont form.login-form .btn.submit,
form.signup-form .btn.submit {
    background-image: url(https://cdn-saas.techsembly.com/packs/./storefront/fonts/lock-white.svg);
    font-family: var(--primary-font);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}
form.signup-form .btn.submit:hover,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit:hover {
    background-image: url(https://gifts.peninsula.com/lock-teak.cff0847b5552bec9767a.svg);
}
/*.section-title {
    text-transform: uppercase !important;
    line-height: normal !important;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 24px;
    color: #031F2E;
    margin: 50px 0 20px 0;
}*/

.footer {
    background-color: #000;
    margin-top:0px !important;
    color: #FFF;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
    display: none;
}
.footer a {
    font-size: 1rem!important;
    color: #ae9364!important;
    font-family: var(--primary-font);
    text-decoration: underline;
}
.footer a:hover {
    color: #fff !important;
}
.footer span {
    font-size: 1rem;
    font-family: var(--primary-font);
    color: #ae9364;
}
.footer .footer-widget .widget-content ul li {
    padding-bottom: 0.5rem;
}
.footer .footer-widget .intouch-note span,
.footer .footer-widget .widget-content ul li a {
    font-size: 1rem;
    line-height: 1rem;
    font-family: var(--primary-font);
    text-decoration: none;
}
.footer .footer-widget .intouch-note span {
    color: #ae9364;
}
.footer .footer-widget .widget-content ul li a:hover {
    color: #fff !important;
    text-decoration: none;
}
.footer .footer-widget .widget-title {
    color: #fff;
    font-family: var(--primary-font);
    text-transform: uppercase !important;
    line-height: 1.1875rem;
}
.footer .custom-container .add-widget > div {
    flex: 1 0 20%;
}
.footer .custom-container .add-widget .footer-widget:nth-child(4) {
    display: none;
}
.footer-widget h3,
.social-links {
   display:none !important;
}
.footer .mobile-footer .list-group .list-group-holder:last-child {
    display: none;
}
.footer .mobile-footer .list-group .list-group-holder a.list-group-item-action {
    background-color: #000;
    color: #fff !important;
    text-decoration: none;
}
.footer .mobile-footer .list-group .list-group-holder a {
    text-decoration: none;
}
/*.post-link {width: 85%; font-size:15px; color: #031F2E; font-family: 'Crimson Pro', serif !important; text-transform:uppercase !important; line-height:normal !important}*/
.post-link {
    font-size:16px;
}

.default-breadcrumb li,
.arrow-breadcrumbs li,
.default-breadcrumb li a,
.arrow-breadcrumbs li a {
    font-family: var(--primary-font);
    font-size: .875rem;
    line-height: .875rem;
    color: #4a4a4a;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-left: 0 !important;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
    margin-bottom: 0 !important;
}
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
    padding: 1rem 0 0 !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: #4a4a4a !important;
    width: 90% !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
    width: 10%;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
    margin-bottom: 0;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.product-detail-container .personalise-form .form-group .order-btn {
    font-size: .875rem;
    line-height: 1rem !important;
    text-transform: uppercase;
}
.product-detail-container .add-to-basket-cont {
    padding-right: 0 !important;
}
.product-detail-container .personalise-form .form-group .order-input {
    border-radius: 0;
    border-color: #d6d4d4;
    height: 56px;
    width: 20%;
    margin-right: 1.688rem;
    text-align: center;
    max-height: none!important;
    font-size: .875rem;
    font-family: var(--primary-font);
    line-height: 1.5;
}
.product-detail-container .personalise-form .form-group .form-control {
    font-size: 14px;
    line-height: 20px;
}
.related-products .related-products-holder .related-products-image {
    height: auto;
}
.product-detail-container .personalise-form .form-group label {
    font-size: 14px;
}
.product-detail-container .product-holder .product-order .nav-tabs {
    display: none;
}
.product-detail-container .product-holder .product-order .tab-content {
    border: none !important;
}
header .mob-top-links .cart-qty {
    line-height: 17px !important;
}
header.header .menu-holder li a {
    background-color: #fff;
    background-size: cover;
    color: #4a4a4a;
    font-family: var(--secondary-font);
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    padding: .375rem .625rem .438rem;
    line-height: 1.125rem;
    text-align: center;
    font-weight: 400 !important;
    letter-spacing: 0;
}
.product-detail-container .product-holder .share-link li span {
    font-size: 0.875rem;
}
.related-products .related-products-holder .product-content .product-title a {
    color: #4a4a4a;
    vertical-align: top;
    font-size: .875rem;
    font-family: var(--primary-font);
    line-height: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.related-products .related-products-holder .product-content .product-title a:hover {
    color: #ae9364 !important;
    text-decoration: none;
}
.related-products .related-products-holder .product-content .product-pricing p,
.related-products .related-products-holder .product-content .product-pricing {
    color: #4a4a4a;
    font-size: .875rem;
    font-family: var(--primary-font);
    line-height: 1.125rem;
}
.custom-container .login-signup-tabs-cont .panel-heading {
    font-size: 1.25rem;
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 1.5rem;
}
.login-signup-tabs-cont .tab-pane .login-form label {
    font-family: var(--secondary-font);
    color: #4a4a4a;
    font-size: 14px;
    line-height: 24px;
}
.login-signup .login-signup-tabs-cont .tab-pane .login-form label {
    font-size: 1rem;
}
.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link {
    font-size: 14px;
}
.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link:hover {
    color: #ae9364;
}
.user-wrapper .user-container .user-edit-holder form.password-form .form-control {
    font-size: 14px;
}
.user-container .password-form .form-group label,
.user-container .password-form .form-heading {
    font-size: 1rem;
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 24px;
}
.user-container .user-edit-desc .form-heading {
    font-family: var(--secondary-font);
}
.user-wrapper .user-container .addresses-holder .address-row a.edit-item {
    background-image: url(	https://gifts.peninsula.com/edit.a36cd349f7ff3c3ed75e.svg) !important;
}
.user-wrapper .user-container .addresses-holder .address-row a.del-item {
    background-image: url(	https://gifts.peninsula.com/del.b81ac5325a74f9d3c3a3.svg) !important;
}
.custom-container .login-signup-tabs-cont form .form-control {
    height: 50px !important;
    font-size: .875rem;
    line-height: 1.5rem;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.pro-name {
    font-family: var(--primary-font);
    display: inline-block;
    vertical-align: top;
    font-size: .875rem;
    line-height: 1.125rem;
    margin-bottom: 7px;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a:hover {
    color: #ae9364;
    text-decoration: none;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-pricing p {
    font-family: var(--primary-font);
    font-size: .875rem;
    color: #4a4a4a;
    line-height: 1.125rem;
}
.wishlist-container .products-container .wishlist-header {
    font-family: var(--secondary-font);
    font-size: 1rem;
    line-height: 1.5rem;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-rating {
    margin-left: 5px;
}
form.signup-form label.newsletter-check span {
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 24px;
}
.user-wrapper .user-container form.balance-form .btn.submit,
.user-wrapper .user-container .user-edit-holder form .btn.update-btn,
.user-wrapper .user-container .add-address-btn,
.user-wrapper .user-container .signout-btn {
    font-weight: 400 !important;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-wrapper .user-container .btn.signout-btn {
    color: #ae9364 !important;
    border: 0.0625rem solid #867050;
    background-color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
.user-wrapper .user-container .btn.signout-btn:hover {
    background-color: #ae9364 !important;
    color: #fff !important;
}
.user-wrapper .user-edit-form label,
.user-wrapper .user-container .user-edit-holder .user-edit-header {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    font-family: var(--secondary-font);
}
.user-wrapper .user-edit-form input {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
header.header .head-links li .add-to-basket .dropdown-menu h5 {
    font-size: .875rem;
    line-height: 1rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price p,
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price {
    font-size: 14px;
    line-height: 18px;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn {
    text-transform: uppercase;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn:hover {
    border-color: #ae9364;
    background-color: #fff;
    color: #ae9364;
}
header.header .search .search-item-form .nav-search-field {
    font-size: 0.875rem;
    color: #636363;
    font-family: var(--primary-font);
}

/*background-color:#00182e; color: #FFF; border-bottom: none !important;}(/

.shipping {color:#FFF !important}

/*.search-item-form {border:1px solid #FFF !important}*/

/*#dropdownMenuButton {color: #FFF !important}*/

/*header.header .head-links li a {filter: brightness(100);}*/
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.processed a {
    color: #4a4a4a;
}
.custom-container.cart-container {
    font-family: var(--primary-font) !important;
}
.order-totals-container .total-holder .total-price,
.order-totals-container .total-holder .order-total-item .total-desc,
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label,
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
    font-size: 22px !important;
    font-family: var(--secondary-font);
    color: #4a4a4a;
    line-height: 28px !important;
    font-weight: 700 !important;
}
.custom-container.cart-container .card.order-summary-cont {
    box-shadow: none !important;
    border: none;
}
.order-totals-container .promo-cont .promo-note a,
.order-totals-container .sub-total-holder .sub-total-item .sub-total-desc,
.order-totals-container .sub-total-holder .sub-total-item .sub-price {
    font-size: 22px;
    font-family: var(--secondary-font);
    color: #4a4a4a;
    line-height: 28px;
    font-weight: 500;
}
.cart-item.new .item-details h2.item-name,
.cart-item.new .item-details div.unit-total-price {
    color: #4a4a4a;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: var(--primary-font);
    line-height: 24px;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container,
.order-totals-container,
.custom-container.cart-container .card.order-summary-cont .card-body,
.custom-container.cart-container .card.order-summary-cont .card-header,
.cart-item.new .item-qty-cont .item-dec,
.cart-item.new .item-qty-cont .item-inc,
.custom-container.cart-container .cart-login-cont {
    background-color: #EDEDED !important;
}
.custom-container.cart-container .card.order-summary-cont .card-body .card-body-inner {
    color: #4a4a4a;
}
.shipping-form-container .exist-address-wrapper .card a.edit-address {
    color: #4a4a4a;
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn,
.products-container .products-holder-main .load-more-btn,
.custom-container.checkout .btn-primary.btn-submit,
.custom-container.checkout .btn-primary.apply-btn,
.shipping-form-container .form-group .btn.btn-submit,
.custom-container.cart-container .cart-login-cont .proceed-checkout-cont .btn.btn-primary,
.custom-container.cart-container .cart-login-cont .guest-form-cont .btn.btn-primary,
.custom-container.cart-container .cart-login-cont .btn.btn-primary.submit {
    background-color: #ae9364;
    color: #fff;
    border: 1px solid #867050;
    font-size: .875rem;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 1.25rem;
}
.products-container .products-holder-main .load-more-btn:hover {
    background-color: #fff;
    color: #ae9364;
}
.custom-container.cart-container .btn.continue-btn-new {
    color: #4a4a4a;
    background-color: #f2f2f3;
    padding: 1rem 1.125rem 1rem;
    font-size: .875rem;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 1.25rem;
    border: none;
}
.payment-form-container .checkbox-cont input:checked ~ .checkmark,
.payment-form-container .radio-container input:checked ~ .checkmark,
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.shipping-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: #AE9364 !important;
    border-color: #AE9364 !important;
}
.container.custom-container.product-container {
    padding-top: 1.5rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    padding-bottom: 18px !important;
}
.payment-form-container .radio-container .checkmark::after,
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
    background: #ae9364 !important;
}
.payment-form-container .radio-container .checkmark,
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
    border-color: #000 !important;
}
.custom-container.cart-container .btn.continue-btn-new:hover {
    background-color: #d9d9d9;
}
.footer .mobile-footer .list-group .list-group-holder>a:after {
    background-image: url(https://gifts.peninsula.com/dropdown-white.f5a3652da35a62a1aba4.svg) !important;
}
.footer .mobile-footer .list-group .list-group-holder>a:hover {
    background-color: #000 !important;
}
.payment-form-container .breadcrumb-heading,
.payment-form-container .order-sum-heading,
.payment-form-container .address-heading,
.shipping-form-container h1.breadcrumb-heading,
.shipping-form-container h2.order-sum-heading,
.shipping-form-container .address-heading,
.custom-container.cart-container h1.breadcrumb-heading,
.custom-container.cart-container h2.order-sum-heading {
    color: #4a4a4a;
    font-size: 1.25rem !important;
    font-family: var(--secondary-font);
    line-height: 1.5rem !important;
    margin: 0;
}
.page-heading {
    font-family: var(--secondary-font);
}
.checkout-container.complete .blue-light-bg {
    background-color: #EDEDED !important;
}
.checkout-container.complete .blue-light-bg img {
    width: 130px;
}
.checkout-container.complete a {
    color: #ae9364 !important;
}
.checkout-container.complete a:hover {
    color: #4a4a4a;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
    margin-top: 0 !important;
}
.custom-container.cart-container .cart-login-cont .checkout-desc-cont span,
.custom-container.cart-container .cart-login-cont form.guestCheckout-form label {
    color: #4a4a4a;
}
.payment-form-container .card.address-card.blue-light-bg {
    border-color: #ededed;
    background-color: #ededed;
}
.menu-holder {
    padding:10px 0 0 !important;
}
header.header .shipping li,
header.header .shipping li a,
header.header .shipping li a:hover,
header.header .shipping li a:focus {
    font-family: var(--secondary-font);
}
.sign-up-container h2,
.section-title {
    font-family: var(--secondary-font);
    color: #636363;
    font-size: 1.375rem;
    line-height:1.75rem !important;
}
.section-title {
    margin: 2.6875rem 0 0 !important;
}
.home-slider .carousel-container {
    padding-bottom: 4.25rem !important;
}
.home-slider.bestsellers-slider.mb-lg-2 {
    margin-bottom: 0 !important;
}
.home-slider .post-tile .post-link {
    color: #636363;
    font-size: 1.15rem !important;
    font-weight: 300;
    line-height: 1.5rem;
}
.promo-section .promo-holder .promo-box .promo-content {
    left: 0;
    right: 0;
}
.home-intro h2 {
    font-size: 1.25rem;
    font-family: var(--secondary-font);
}
.home-intro p {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}
.promo-section .promo-holder .promo-box .promo-content .promo-desc {
    font-family: var(--secondary-font);
    font-weight: 400 !important;
    font-style: italic;
    font-size: 2rem;
    color: #fff;
    line-height: 2.375rem;
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 20%);
    text-align: center;
}
.promo-section .promo-holder .promo-box .promo-content .more-link {
    font-size: .875rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: #fff;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}
.promo-section .promo-holder .promo-box .promo-content .more-link:hover {
    text-decoration: none;
}
.promo-section .promo-holder .promo-box h2 {
    display: none;
}
.promo-section .promo-holder .promo-box .promo-content .more-link img {
    width: 26px;
    height: 26px;
    margin-left: 0.5rem;
}
.sign-up-container {
    padding: 50px 0 50px 0;
}
#mailchip-submit-btn {
    background-color: black !important;
    color:white !important;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    margin-right: 0px !important;
}
.user-heading .wishlist-link,
.user-heading {
    font-family: var(--secondary-font);
    color: #4a4a4a;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.user-container .table td,
.user-container .table th {
    color: #4a4a4a;
}
.user-container .balance-form label,
.user-wrapper .user-container .user-details-holder .detail-head {
    font-family: var(--secondary-font);
}
.powered-link-cont p,
.powered-link-cont h3 {
    display:none;
}
header.header .logo img {
    width:180px;
    height: 36px;
}
header.header .logo {
    padding: 40px 0 10px;
}

.powered-by div:nth-child(1) {
    display: none;
}

.btn.btn-primary {
    color: #FFF !important;
}
.powered-link-cont span {
    font-size: .875rem;
    color: #828387;
}
.footer .copyright-cont {
    padding-top: 4.75rem !important;
}
.footer .copyright-cont .powered-by {
    color: #828387;
    padding-bottom: 3.19rem;
    font-size: 0.875rem;
}
.footer .mobile-footer .list-group .list-group-holder:first-child {
    border-top: none;
}
footer .footer-bottom-container {
    margin-top: 3rem;
}
footer .footer-bottom-container p,
footer .footer-bottom-container a {
    color: #828387;
    font-size: 0.75rem;
    text-decoration: none;
}
footer .footer-bottom-container .footer-cookie-links-container li {
    list-style: none;
    margin-bottom: 12px;
    color: #828387 !important; /*tc added 22 Sept 2023 */
}
@media (max-width: 1199.98px) {
    #content .top-header {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .product-container .mob-btn-group {
        display: none;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu {
        transform: translateX(-52%) !important;
        width: auto;
    }
    header.header .logo {
        padding: 30px 0 0;
        margin-bottom: 8px;
        height: auto;
        text-align: center;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: 322px;
    }
    .menu-links-cont .navbar-nav a.profile-icon,
    .menu-links-cont .navbar-nav a.wishlist-heart {
        display: none !important;
    }
    .container.product-detail-container .product-holder {
        padding-bottom: 3rem !important;
        padding-top: 0 !important;
    }
    .product-detail-container .product-holder .product-order {
        border-top: none;
        padding-top: 0;
    }
    .container.product-detail-container {
        padding-top: 0;
    }
    .product-detail-container .add-to-basket-cont {
        width: 100%;
    }
    .footer span br {
        display: none;
    }
}

@media (max-width: 767.98px) {
    header.header {
      margin: 0.5rem 0;
    }
    header.header .row.spacing {
        padding-top: 1.635rem;
        padding-bottom: 1.635rem;
    }
    header.header .logo {
        padding: 0;
        margin: 0;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu {
       transform: translateX(-63%) !important;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu:after {
        left: auto;
        right: 16%;
    }
    .home-slider .carousel-container {
        padding-bottom: 0.625rem !important;
    }
    .header .menu-links-cont .navbar-nav .dropdown-flag {
        margin-right: 8px;
    }
    .footer .section-cont.mobile-footer {
        padding-top: 27px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: 145px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
    }
    .products-container .products-holder-main .load-more-btn {
        margin: 7px 0 15px;
    }
    .footer span br {
        display: none;
    }
}

@media (max-width: 575.98px) {
    header .logo img {
        height: 23px!important;
        width: 115px!important;
    }
    header .mob-top-links li a img {
        max-width: 20px;
    }
    header .mob-top-links li a.mob-search-link {
        padding-left: 0 !important;
        padding-right: 2px !important;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu {
        transform: translateX(-68%) !important;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu:after {
        left: auto;
        right: 10%;
    }

}

@media (min-width: 768px) {
    footer .footer-bottom-container .footer-cookie-links-container li {
        margin-right: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    header .toggle-menu-cont{
        max-width: inherit;
    }
    header.header .menu-links-cont {
        flex-basis: inherit;
        max-width: 33.33333%;
    }
}
@media (min-width: 992px) {
    .custom-container.cart-container h1.breadcrumb-heading,
    .custom-container.cart-container h2.order-sum-heading {
        font-size: 1.25rem;
        font-family: var(--secondary-font);
        line-height: 1.5rem;
        margin: 0;
    }
    footer .footer-bottom-container {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
    }
}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}

/* Ross Start*/

header.header .menu-holder>li>div {width:75%; left:25%}
.breadcrumb-item:nth-child(2) {display:none}


.vendor-items-holder .vendor-heading-holder {display:none}
.delivery-methods-cont .vendor-card .vendor-title {display:none}
.vendor-items-holder .card-header, .cart-left-cont .breadcrumb, .shipping-form-container .breadcrumb, .payment-form-container .breadcrumb, .nav-checkout-delivery .breadcrumb-heading {display:none !important}
.delivery-methods-cont .contact-card {display:none;}
/* Ross End */
/*TC start*/

#ot-sdk-btn.ot-sdk-show-settings, #ot-sdk-btn.optanon-show-settings {
    color: #828387 !important;
    border: initial !important;
    height: initial !important;
    white-space: initial !important;
    word-wrap: initial !important;
    padding: initial !important;
    font-size: initial !important;
    line-height: initial !important;
    cursor: initial !important;
    -moz-transition: initial !important;
    -o-transition: initial !important;
    -webkit-transition: initial !important;
    transition: initial !important;
}

#ot-sdk-btn.ot-sdk-show-settings {
    color: #ae9364 !important; /* Set font color */
    background-color: transparent !important; /* Make background transparent */
    cursor: pointer !important; /* Change cursor to pointer on hover */
    transition: color 0.3s ease, background-color 0.3s ease; /* Add smooth transitions */
}

#ot-sdk-btn.ot-sdk-show-settings:hover {
    color: white !important; /* Change font color to white on hover */
    background-color: transparent !important; /* Keep background transparent on hover */
}

footer .footer-bottom-container p, footer .footer-bottom-container a{
    color: #828387 !important;
}

#ot-sdk-btn.ot-sdk-show-settings, #ot-sdk-btn.optanon-show-settings{
    color: #828387 !important;
}
/* TC END */
