:root {
    --primary-font: SohoGothicPro-Regular;
    --secondary-font: SohoGothicPro-Regular;
    --third-font: SohoGothicPro-Bold;
}
.featured-client {display:none;}
.shipping li:first-child {display:none;}
.home-slider .post-tile .post-link{

    font-style: italic;
    font-weight: bold;
    font-size: 15px;

}
.default-breadcrumb {
    align-items: baseline;
}
.default-breadcrumb li,
.default-breadcrumb li a,
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
    color: #4C4E56;
    font-family: SohoGothicPro-Medium;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header.header .shipping{
    display: none !important;
}
.home-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 55vh;
}

.home_header{
    position: absolute;
    z-index: 99;
    width: 100%;
}
header.header .menu-holder {
    margin-left: 0;
}
header.header .menu-holder li a{
    background-color: transparent !important;
    border-bottom-color: transparent !important;
    color: white ;
    font-size: 17px;
    font-family: var(--primary-font);
    font-style: italic;
}
header.header .menu-holder li a.main-category {
    font-family: var(--third-font);
    font-weight: 700;
    line-height: 1.1875rem;
}
header.header .menu-holder>li {
    margin-right: 0.55rem;

}
.custom-container{

    padding-right: 0px !important;
}
h2 {
    color: #232323;

    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 35.5px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.footer .footer-widget .widget-title {
    line-height: 35.5px;
    color: #DA1A32;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    width: 14rem !important;
}
.wrapper .notificationbar{
    font-family: var(--primary-font);
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    padding-top: 3px;
    padding-bottom: 12px;
}
.notificationbar a {
    color: #fff;
    font-size: 13px;
}
.container-fluid{
    margin-top: -0.75%;
}
.p {
    position: static;
width: 1035px;
height: 48px;
left: 202.5px;
top: 125px;

/* Body */


font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* or 160% */

text-align: center;
letter-spacing: 0.01em;

/* dark */

color: #232323;
}

.footer .footer-widget .widget-content ul li a {

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #4C4E56;
    position: static;
    height: 24px;
    left: 0%;
    right: 44.31%;
    top: 99px;
}
.promo-holder .promo-box .promo-content {
    font-family: var(--primary-font);
    left: 0;
    width: 100%;
}
.promo-holder {
    //margin-top: 0.3cm;
}
.promo-title{
    position: static;
    width: 332px;
    left: calc(50% - 247px/2);
    top: 35.29%;
    bottom: 43.79%;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline;
}
.promo-holder .promo-box img {
    height: auto;
}
.promo-holder .promo-box:first-child {
    margin-right: 23px;
}
.home-slider .post-tile {
    max-width: 295px;
}
.footer{
    margin-top: 0px !important;
    margin-bottom: 2%;
}
.promo-holder{
    margin-top: 0;
}
.promo-holder .banner-title {
    display: none;
}
header.header .menu-holder .nav-column ul li a {
    color: black !important;
}
.products-container .products-holder-main {
    width: 100% !important;
    overflow-x: hidden;
}
.products-container .products-holder-main .products-holder .product-column {
    width: 25% !important;
}
.w-100 {
    width: 100%!important;
}
.product-select .form-group label,
.product-select .form-group>select.form-control {
    color: #000;
    font-family: var(--primary-font);
    font-size: 0.9375rem;
}
.product-select .form-group:first-child {
    margin-right: 2.125rem;
}
.product-select .form-group>select.form-control {
    margin-left: 0.3125rem;
    height: 2.125rem;
}
.product-select .form-group:last-child .form-group>select.form-control {
    //width: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    //height: 100% !important;
    overflow: hidden;
}

.products-container .products-holder-main .products-holder .product-title .product_description p {
    margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    margin-top: 10px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3 {
    color: #232323;
    font-weight: 700;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-title p {
    color: #181818;
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    line-height: 1.5rem;
}

.products-container .products-holder-main .products-holder .product-column .product-pricing p {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #DA1A32
}
app-product-listing .product-text {
    display: none;
}
body[data-pagetype="category"] .home-intro {
    padding-top: 3px;
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
    //display: none;
}
.nav {
    flex-wrap: nowrap;
}
.pay-methods-avail {
    padding-left: 0px !important;
}

.widthSetter {
    max-width: 100%;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title  {
    width: 100% !important;
    text-align: center;
}

.product-pricing {
    text-align: center;
}

.products-container .products-holder-main .products-holder .product-column {
    width: 21% !important;
}
.user-container .user-heading {
    text-align: left;
}
.user-heading .wishlist-link {
    display: none;
    font-size: 24px;
}
app-login-signup .container-fluid.BorderBottom {
    margin-top: 0;
}
@media (max-width: 1140px) {
    margin-left: 2%;
    max-width: 1140px !important;
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}




.product-nav li a {
    color: #232323 !important;
}



.main-category {
    color: black;
}
.btn.btn-primary {
   background-color:  #DA1A32 !important;
   color: white;
   letter-spacing: 0.1em;
}

.product-select .form-group.sort-cont label {
    max-width: 122px;
}
.product-container {

    padding-top: 10% !important;
}


app-product-listing .product-container {
    padding-top: 0 !important;

}
app-product-listing .product-container .product-select {
    padding-top: 37px;
}
.breadcrumb-heading {
   line-height: 35px !important;
    margin: 0;
    margin-left: 0 !important;
    font-style: italic !important;
    font-weight: bold !important;
    font-family: 'SohoGothicPro-Medium';
    text-transform: uppercase;
    font-size: 24px;
    color: #4C4E56;
    margin-top: 16px !important;
}
.default-breadcrumb li {
    //line-height: 0.875rem;
    margin-left: 43%;
    width: 0%;
}

.product-detail-container .product-holder .product-detail {
    height: auto;
    margin-top: 0;
}
.related-products .related-products-holder .product-content .product-title {
    width: 100%;
    margin-bottom: 6px;
    text-align: center;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .row .col-lg-2 {
    display: none;
}

.product-detail-container .product-holder .product-order {
    margin-top: 0;
    padding-top: 12px;
}
.product-detail-container .personalise-form .form-group .order-btn {
    font-size: 1.25rem;
    text-transform: capitalize;
}
.share-link{
    display: none !important;
}
.related-products-image {
    margin-bottom: 0.55rem;
    height: 250px !important;
}
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    display: none;
}
.product_right_box_img{
    padding-left: 88%;
    margin-top: -63px;
}
.product_right_box_para{
    margin-top: -20px;
}
.product-holder{
        //margin-bottom: -7% !important;
}
.nav-tabs {
        border: none !important;
        background-color: white;
}
.tab-content {
    border: none !important;
}

.product-pricing p{
        color: #DA1A32;
    }
.nav-link.active{
    font-weight: bold !important;
    background-color: #ededed;
}


.SearchBox-Black{
    background-color: black;
}
.SearchBox-Black input{
    width: 100%;
    justify-content: center;
}
.product_right_box_head3{
    font-family: SohoGothicPro-thin;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.08em;
        padding-left: 7px !important;
}
.product_right_box_para{
    font-size: 17px;
    line-height: 19px;
        padding-left: 13px;
}
#myTab{
    background-color: white;
}
#details-tab{
    background-color: white;
}
#delivery-tab{
    background-color: white;
}
#personalize-tab{
        padding-left: 0px !important;
        background-color: white;
        padding-right: 0;
        text-align: left;
}
#askseller-tab{
    background-color: white;
}
#personalise{
    padding-top: 22px;

}
.product-breadcrum{
        margin-left: -37%;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: relative;
    margin-bottom: -98px;
    z-index: 1;
        margin-top: 64px;
}
.breadcrumb-heading {
    line-height: 1.5rem;
    margin: 0;
    margin-left: 43%;
     font-style: italic;
    font-weight: normal;
    font-family: SohoGothicPro-medium;
    text-transform: uppercase;
}
.product-name-url{
    font-family: SohoGothicPro-medium;

}
.product-title{
    line-height: 35px;
}
app-product-listing .product-pricing{
        //line-height: 0.125rem !important;
        margin-top: 0px;
}

#product_wrapper {
        width: 100%;
        max-width: 964px;
        position: relative;
      }

      #product_carousel {
        overflow: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
      }

      #product_carousel::-webkit-scrollbar {
        height: 0;
      }

      #product_prev,
      #product_next {
        display: flex;
        justify-content: center;
        align-content: center;
        background: white;
        border: none;
        padding: 8px;
        border-radius: 50%;
        outline: 0;
        cursor: pointer;
        position: absolute;
      }

      #product_prev {
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
      }

      #product_next {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }

      #product_content {
        display: grid;
        grid-gap: 5px;
        grid-auto-flow: column;
        margin: auto;
        box-sizing: border-box;
      }

      .product_item {
        width: 180px;
        height: 180px;
        background: green;
      }
    h3{
        font-family: SohoGothicPro-Medium;

    }

    .product-title a{
    font-family: SohoGothicPro-Medium;
}
.product-title span{
    display: none !important;
}
#product_content {
        height: 220px !important;
}
.preview-thumbnail {
    margin-top: -75px !important;
}
.product_description{
    font-family: SohoGothicPro-Medium;
    margin-top: 3px;
}
.product-detail-container .product-holder .product-detail .product-info .info-holder .made-by {
    text-transform: capitalize;
}
.product-detail-container .product-holder .product-detail .product-info .info-holder .vendor-link {
    display: none;
    color: #000;
    font-family: var(--primary-font);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
.product-detail-container .product-holder .product-order .nav-tabs {
    justify-content: flex-start;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item {
    flex-grow: unset;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item:not(:last-child) {
    margin-right: 1rem;
}
.product-detail-container:not(.variable-product) .nav-item #delivery-tab {
    display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    color: #2D442E;
    font-weight: 400;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    color: #000;
    font-weight: 700;
}
.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'],
.product-detail-container .personalise-form .form-group select {
    max-height: none;
}
.related-products h3 {
    font-size: 1.25rem;
    line-height: 4.5rem;
    margin: 0 0 24px;
}
.related-products h3 a.vendor-link {
    display: none;
}
.more-items-from-vendor{
    font-style: normal !important;
}
.products-container .products-holder-main .products-holder {
    padding-top: 0.5rem !important;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title {
    width: 100%;
    margin-bottom: 7px;
    text-align: center;
}
.dropdown-toggle {
    white-space: nowrap;
    display: none;
}

.product_right_box_img
{
        padding-left: 88%;
    margin-top: -95px;
    width: 94%;
}

.product_right_box_head3 {
    font-family: SohoGothicPro-thin;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.08em;
    padding-left: 7px !important;
}
body.member-popup-opened .modal-container {
    border-radius: 0.375rem;
}
.modal-popup#member-popup .modal-title {
    font-style: normal;
    text-transform: none;
    letter-spacing: 0.04em;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
@media (max-width: 991.98px){
    header.header .logo {
        padding-top: 0.75rem;
    }
    header.header .logo img {
        height: auto;
        width: 96px;
    }
    .mobile-search-mini-form  {
        padding-bottom: 0.625rem;
    }
    .products-container .products-holder-main .products-holder>div {
        width: 100%;
        justify-content: center;
        padding-top: 1.2em;
        flex: 35%;
        margin-bottom: 10px;
    }
    .product-detail-container .add-to-basket-cont {
        width: auto;
        padding-right: 0;
        margin-top: -17px;
    }
    #personalize-tab {
        padding-left: 0px !important;
        margin-right: 0px !important;
    }
    .cart-bag {
        display: block;
    }

    a.cart-bag {
        padding-top: 0px !important;
    }
    .product-detail-container .box_product_grid_container {
        flex-wrap: wrap-reverse !important;
        margin-top: auto;
    }
    .product-detail-container .box_product_left {
        width: 100%;
    }
    .product-detail-container .box_product_right img {
        height: auto !important;
        margin-left: auto !important;
        margin-bottom: 2rem;
    }
    .related-products .custom-container {
        padding-right: 0 !important;
    }
    .custom-container.cart-container .vendor-items-holder:last-child {
        border-bottom: none;
        margin-right: 0;
    }
    .custom-container.login-signup {
        padding-bottom: 1.65rem;
        margin-top: 31%;
        padding-left: 17px !important;
        padding-right: 17px !important;
    }
    .custom-container .login-signup-tabs-cont .panel-heading {
        margin-bottom: 33px;
        text-align: left !important;
    }
    .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
        background-position: 35.5% !important;
    }
    form.signup-form #signup-btn {
        background-position-x: 24% !important;
    }
    .wishlist-container .products-container {
        width: 100%;
        margin-top: 24%;
    }
    .promo-holder .promo-box:first-child {
        margin-top: -5px;
        margin-bottom: 5px;
    }

    .footer .footer-widget .widget-content .social-links {
        justify-content: space-between;
    }
    .home-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //min-height: 33vh;
        min-height: auto;
    }
    .container-fluid{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #link-0{
        display: none;
    }
    .row{
        margin: 0 !important;
    }
    .promo-holder{
        margin-right: 0px;
    }
    .custom-container{
        overflow: hidden;
    }
    .promo-section .col-lg-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .promo-holder .promo-box .promo-content {
        top: 21%;
    }
    .featured-vendors-area{
        margin: 0;
        padding: 0;

    }
    .owl-stage{
        /*width: 150px !important;
        display: grid !important;
        grid-template-columns: auto auto;
        transform: none !important;
        transition: none !important;*/
    }
    .gift-section {

        margin-right: 0px;
    }
    .owl-item{
        width: 50%;
    }
    .gift-section img{
        width: 100%;
        margin-right: 0px;
            height: 21.1875rem;
    }
    .owl-nav{
        display: none;
    }
    .shopping-btns-top {
      padding-top: 1rem;
    }
    .custom-container.checkout .checkout-tabs-cont .nav-tabs {
        flex-wrap: wrap;
    }
    .custom-container .row div {
        /*padding-left: 0px !important;
        padding-right: 3px !important;
        width: auto;*/
    }
    .products-holder-main {
        margin-top: 10%;
            padding-right: 21px;
        padding-left: 21px;
    }
    .footer .section-cont.mobile-footer{
        padding-top: 27px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*header.header .logo img {
        height: 75px !important;
        width: 96px !important;
        margin-top: 4px;
    }*/

    header.header{
        margin: 0;
        background-color: #DA1A32;
    }

    header.header .mobile-menu{
        margin: 0;
        background-color: #DA1A32;
    }

    .tablet-title {
        display: none;
    }

    .product-text {
        display: none !important;
    }

    .product-order{
        margin-top: 0px;
    }

    .related-products
    {
    padding-left: 22px;
        padding-right: 22px;
        margin-top: 10%;
    }



    .related-products-image {
        margin-bottom: 0.55rem;
        height: 150px !important;
    }
    .product_right_box_head3 {
        font-family: 'SohoGothicPro-Medium';
        font-style: italic;
        font-size: 29px;
        font-weight: 300;
        letter-spacing: 0.08em;
        padding-left: 0px !important;

    }

    .product_right_box_para
    {
        padding-left: 2px !important;

    }


    .product_right_box_img
    {
        padding-left: 91%;
        margin-top: -88px;
        width: 99%;

    }

    #personalise
    {
        padding:3% 1%;
    }
    #mailchip-email{
        margin-right: 0px;
    }
    .custom-container {
        padding-right: 22px !important;
    }
    .custom-container.checkout {
      margin-top: 12% !important;
    }
    .footer .custom-container {
        padding-left: 0.875rem;
        padding-right: 0.875rem !important;
    }
}
.text-center{
    font-family: SohoGothicPro-Medium;
}
.post-link{
        font-weight: 500 !important;
    font-size: 15px;
    color: #4C4E56;
    font-style: normal !important;
    line-height: 22.43px !important;

}
.home-intro {
    padding-top: 2rem;
}
.intro-content p {
    color: #232323 !important;
    font-size: 0.9375rem;
}
.sign-up-section {
    background-color: #F0F0F0;
}
.sign-up-section h2 {
    font-weight: 400;
    margin: 1.25rem 0 0;
    letter-spacing: 0.08em;
}
.sign-up-section .sign-up-container .signup-text {
    padding-bottom: 1rem;
    width: 100%;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
    font-size: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.submit {
    font-size: 0.9375rem;
    text-transform: uppercase;
    width: 129px;
}
.footer .footer-widget .widget-content {
    padding-top: 0.9375rem;
    line-height: 24px;
}
.footer .footer-widget .widget-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 24px;
}
.footer .footer-widget .widget-title {
    line-height: 35.5px;
    color: #DA1A32;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    width: 14rem !important;
    font-family: SohoGothicPro-Medium;
}
.pay-methods-avail{
    height: 48px;
}
.promo-desc{
    font-family: var(--primary-font);
    font-size: 26px;
    line-height: 39px;
}
.footer .footer-widget .widget-content ul li {
    margin-right: 1.5625rem;
    margin-bottom: 9px;
}
.section-title {
    line-height: 35px;
    margin-top: 34px;
    margin-bottom: 2px;
}
.gift-section img {
    height: auto;
}
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}
 .product-select .form-group.sort-cont label {
    /*max-width: 106px;
    font-weight: bolder;
    font-size: 14px;*/
    line-height: 24px;
}
.breadcrumb-item a{
    color: #4C4E56;
    font-weight: 500;
}
.signup-text p {
    color: #232323;
    font-size: 0.9375rem;
}
.related-products .custom-container {
    padding: 0;
    padding-bottom: 30px;
}
.owl-item a{
    display: block;
}
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-dot{
    display: block;
}
.owl-carousel .owl-stage {
    margin-left: 18px;
}
.product-detail-container {
    margin-bottom: 6%;
}

.product-breadcrum h2{
    font-size: 15px;
    margin-left: -178px;
    line-height: 22px;
    font-weight: 500;
}
.home_header{
    border-bottom: none !important;
}
.footer .copyright-cont {
    margin-top: 1.75rem !important;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
    max-width: 52px;
}
.footer .footer-widget .widget-content select {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    max-width: 10.625rem;
}
.footer-widget .btn {
    width: 137px;
}
.powered-by {
    color: #4f4f4f;
    font-family: var(--primary-font);
    font-size: 0.9375rem;
}
.powered-by img {
    margin-top: 0.3125rem;
    max-width: 161px;
}
.mobile-menu svg {
    fill: #fff;
}
@media (min-width: 768px) {
    .mob-overlay {
        top: 145px;
    }
    nav#sidebar {
        top: 144px;
    }
}
@media  (min-width: 992px){
   header.header .logo img {
      height: auto;
      width: 98px;
      max-height: 100px;
   }
   .promo-section {
       padding-left: 1.875rem;
       padding-right: 2.8125rem;
   }
   .home-intro h2 {
       line-height: 35px;
   }
   .sign-up-section {
       padding-top: 2.9375rem;
       padding-bottom: 2.5625rem;
   }
   .sign-up-section h2 {
       font-size: 2rem;
       line-height: 3rem;
   }
   .products-container .products-holder-main .products-holder .product-column {
        width: 21% !important;
    }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image,
   .related-products .related-products-holder .related-products-image {
        height: auto;
        min-height: 304px;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img,
   .related-products .related-products-holder .related-products-image img {
        max-height: 304px;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title .product_description {
       margin-top: -13px;
   }
   .products-container .products-holder-main .products-holder .product-column .product-pricing {
       margin-top: -5px;
   }
   .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
       font-size: 2rem;
       line-height: 3rem;
   }
   .product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .row .col-lg-10 {
       flex-basis: 100%;
       max-width: 100%;
    }
   .box_product_left,
   .box_product_right {
       flex-basis: 50%;
       width: 50%;
   }
   .modal-popup#member-popup .btns-cont .col-6:first-child {
        padding-right: 28px;
    }
    .modal-popup#member-popup .btns-cont .col-6:last-child {
        padding-left: 28px;
    }
  .footer {
    padding-top: 1.75rem;
    padding-left: 1.875rem;
    padding-right: 2.8125rem;
  }
  .footer .footer-widget .widget-content .social-links {
      padding-right: 4.0625rem;
  }
}



.box_product_left{
    //margin-left: 47px;
}
.box_product_left h3{
        text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
    color: #525252;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 18px;
}
.product_logo {
    width: 100% !important;
    height: 37.65px;
}
.box_product_right img{
    height: 535px;
    margin-left: 100px;
}
.left_box_logo_grid_container p{
text-align: center;
    margin-top: 19px;
    color: #525253;
}
#accordion {
    margin-top: 62px !important;
}

#accordion div {
    margin-left: 30px;
}
#accordion ul div {
    background-color: white !important;
    display: block;
}
#accordion li {
    position: relative;
    font-weight: 400;
}
#accordion i {
    font-weight: 400;
    font-size: large;
    border: 0.5px solid black;
    border-radius: 50%;
    color: #000;
    width: 2.125rem;
    margin-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 2px;
    text-align: center;
}
.accordion_single_title{
        color: #525252;
    font-weight: 400px !important;
    letter-spacing: 0.1px;
    font-size: 15px;
    line-height: 21px;
    border-top: 0.5px solid #525252;
    border-bottom: 0.2px solid #525252;
}

.accordion_single_text{
        font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #525252;
}
.accordion_single div p{
     font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #525252;
}






.box_product_grid_container {
  display: flex;
  flex-wrap: wrap;
  //grid-template-columns: 50% 50%;
  margin-top: 8%;
}

.left_box_logo_grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.product_logo {
  width: 150px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

a {
  text-decoration: none;
}

i {
  padding: 1em 1.5em;
  /*background-color:#fff;*/
  cursor: pointer;
  float: right;
  font-style: normal;
  position: absolute;
  display: inline-block;
  right: 0;
  color: #aaa;
  /*margin: .5em  .5em 0 0;*/
  /*border-radius:50%:*/
  /*  width:3em;*/
}

i:hover {
  /*background-color:#f7f7f7;*/
  color: #333;
}

#accordion {
  background: #fff;
  width: 100%;
  margin: 100px auto 0 auto;
  font-size: 15px;
}

#accordion ul {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}

#accordion ul a {
  padding: 1em 2em;
  display: inline-block;
  width: 100%;
}

#accordion ul a:hover {
  color: #999;
  font-size: 15px;
}

/*list items*/
#accordion li {
  position: relative;
}

#accordion ul div {
  padding: 0.75em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #f8f8f8;
}

/*Lets hide the non active LIs by default*/
#accordion ul div {
  display: none;
}
#signup-btn {
        background-position: 30.5%;
}
.custom-container .login-signup-tabs-cont form.login-form .btn.submit {

    background-position: 42.5%;
}

.continue-btn{
        background-color: #DA1A32 !important;
    color: white !important;

    letter-spacing: 0.1em;
    font-family: var(--primary-font);
    font-weight: 200 !important;
        font-size: 1.000rem;
}
.hidden{
    display: none;
}

#login-btn{
        margin-top: 48px;
}
.main-sidebar{
    display: none;
}
#search-bar-button{
    background-color: #DA1A32;
}
.shipping{
    display: none;
}

#wished-item{
    display: block !important;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
    padding: 0;
    position: relative;
    overflow: hidden;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-family: var(--primary-font);
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
}
.product-detail-container .product-holder .personalise a {
    color: #0000ff;
}
.custom-container.cart-container .breadcrumb-heading,
.custom-container.cart-container .order-sum-heading,
.shipping-form-container .breadcrumb-heading,
.shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading,
.payment-form-container .breadcrumb-heading,
.payment-form-container .order-sum-heading,
.payment-form-container .address-heading {
    color: #000 !important;
    font-family: var(--primary-font) !important;
    font-weight: 400 !important;
}
.custom-container.cart-container .card.order-summary-cont {
    font-family: var(--primary-font) !important;
}
app-cart .custom-container.cart-container .continue-btn-new {
    border-color: #232323;
    color: #232323;
}
.product-content .product-rating{
    display: none;
}
.product-heading .product-rating{
    display: block;
}

.default-breadcrumb li {
    margin-left: unset;
    width: unset;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading {
    padding-bottom: 4px;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    background-color: transparent !important;
}
.payment-form-container .section-heading {
    text-align: left;
}
.acc_active{
    display: none;
}
.search-item-form{
    display: none;
}





.edit-item {
    display: block !important;
}

.del-item {
    display: block !important;
}

.checkout {
    margin-top: 10%;
}
.page-heading{
   font-size: 26px !important;
   color: #000;
   font-weight: bolder;
   line-height: 1.5rem;
   font-family:'Josefin Sans Light';

}
@media (min-width: 1000px){
    .custom-container{
        overflow: hidden;
        margin-top: 20px !important;
    }
    .menu-holder{
            margin-left: 24%;
    }

    .custom-container.checkout{
        padding: 0px 1% !important;
    }

    .custom-container.login-signup{
        padding: 0px 1% !important;
    }
    #signup-btn {
    background-position: 17.5% !important;
}
    .footer{
       // padding-right: 2%;
    }
    .custom-container.cart-container {
    padding: 0 3.25%;
    padding-right: 3.2% !important;
}
    .product-holder{
        width: 100%;
        height: 100%;
    }
    .widthSetter div div{
        padding: 0px;

    }
.home-slider .custom-container {
    padding-left: 0px !important;
}
.promo-section{
    //padding-right: 15px;
}
    .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
        width: 100% !important;
    }
    .product-detail-container .breadcrumb-item{
        margin-top: 5% !important;
    }
}


@media (max-width: 767.98px) {
    header.header .logo {
        padding-top: 0;
    }
    header.header .logo img {
        height: auto;
        width: 74px;
    }
    section.home-banner {
        margin-top: -8px;
    }
    .home-slider .mob-custom-carosel {
        display: block !important;
    }
    .home-slider .post-tile {
        max-width: 165px;
    }
    .home-intro-container {
        padding-left: 0;
        padding-right: 0;
    }
    .home-intro-container .widthSetter {
        padding-left: 0;
        padding-right: 0 !important;
        padding-bottom: 24px;
    }
    .home-intro .home-intro-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sign-up-section .sign-up-container .sign-up-form .d-flex {
        flex-direction: row !important;
        padding-bottom: 45px;
    }
    .sign-up-section .sign-up-container .sign-up-form input#mailchip-email {
        flex: 1;
    }
    .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
        margin: 0;
    }
    .sign-up-section .sign-up-container .sign-up-form {
        width: auto;
        margin: 0 22px;
    }
    .products-container .products-holder-main .products-holder .product-column {
        width: 45% !important;
        max-width: 45%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
        margin-top: -0.5rem;
    }
    .app-header .mob-overlay {
        top: 128px;
    }
    .app-header nav#sidebar {
       top: 126px
   }
   app-header nav#sidebar {
        top: 75px;
    }
    app-header .mob-overlay {
        top: 76px;
    }
    app-product-listing .products-container .products-holder-main {
        margin-top: 12px;
    }
    app-product-listing .products-container .products-holder-main .products-holder {
        padding-top: 0 !important;
    }

    app-login-signup .custom-container.login-signup{
        margin-top: 25px;
    }
    .custom-container.cart-container {
        padding-left: 0.625rem;
        padding-right: 0.625rem !important;
    }
    .custom-container.checkout {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .custom-container.checkout .checkout-tabs-cont .grey-bg .panel-heading {
        line-height: 1.5;
    }
    .arrow-breadcrumbs li,
    .arrow-breadcrumbs li a {
        font-size: 0.75rem;
    }
}
@media (max-width: 575.98px) {
    .home-slider .carousel-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        justify-content: space-between;
    }
    .home-intro .intro-content {
        margin-top: 18px;
    }
    .promo-holder .promo-box:first-child {
        margin-bottom: 12px;
    }
    .promo-holder .promo-box .promo-content {
        padding: 0 10px;
    }
    .custom-container.cart-container .checkout-btn {
        background-position-x: 18%;
    }
}

#signup-btn {
    background-position: 28.5% !important;
}

.owl-carousel .owl-stage-outer {
    margin-top: 23px;
}
.panel-heading {
    text-align: left !important;
}
.cart-item.new,
.cart-item.new .col-label {
    font-family: var(--primary-font);
}
app-cart .vendor-items-holder h2.vendor-heading,
.cart-item.new .item-details .item-name {
    text-align: left;
}
.custom-container.cart-container .vendor-items-cont a:not([href]) {
    display: block;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont span {
  display: none;
}
.cart-item#line-item-26056 .item-details .item-actions a,
.cart-item#line-item-26056 + .cart-item.mob .item-details .item-actions a,
.cart-item#line-item-26056 a.del-item-link,
.cart-item#line-item-26056 .item-qty-cont {
    display: none !important;
}
.cart-item#line-item-26056 .item-details input,
.cart-item#line-item-26056 + .cart-item .item-img-cont .item-qty-mob .fa-caret-up,
.cart-item#line-item-26056 + .cart-item .item-img-cont .item-qty-mob .fa-caret-down {
    pointer-events: none;
}
