:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --third-font: 'theano_didotregular';
  --forth-font: 'Abel';
  --fifth-font: 'Roboto', sans-serif;
  --sixth-font: 'Inter', sans-serif;
  --fog-color: #DBD9D9;
  --color-black: #000000;
  --color-light: #757575;
  --light-grey-1: #f5f5f5;
  --dark: #374151;
}

html {
  overflow-x: hidden;
}

body {
  color: var(--color-black);
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-family: var(--secondary-font);
  font-weight: 400;
}

a,
a:hover,
a:focus {
  color: var(--color-black);
  font-family: var(--primary-font);
  text-decoration: none;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:not(:disabled):not(:disabled):active {
  color: var(--color-black);
  background-color: #eee;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

p {
  color: var(--color-black);
  font-family: var(--primary-font);
}

.default-breadcrumb {
  margin-bottom: 0.75rem;
}

.default-breadcrumb li,
.default-breadcrumb li a {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
}

.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
  color: var(--color-light);
  font-weight: 500;
}

.arrow-breadcrumbs li.processed a {
  color: var(--color-light);
}

.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
  padding-left: 1rem;
}

.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
  padding-top: 0.125rem;
}

.default-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0;
}

.form-control {
  color: var(--color-black);
  font-size: 0.75rem;
}
.form-control::placeholder {
  color: var(--color-light);
}
.form-control:focus {
  box-shadow: none;
}

.modal-popup.alert-popup .btns-cont .btn,
.modal-popup.alert-popup .btns-cont .btn:hover,
.modal-popup.alert-popup .btns-cont .btn:focus {
  font-size: 0.6875rem;
}

.modal-popup.alert-popup .btns-cont .btn-primary {
  color: var(--color-black) !important;
}

header.header {
  border-bottom: none;
  margin-bottom: 1.875rem;
}

body[data-pagetype="home"] header.header {
  margin-bottom: 0;
}

body[data-pagetype="category"] header.header {
  margin-bottom: 1.625rem;
}

header .spacing {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

header .row.spacing {
  align-items: flex-start;
}

header.header .shipping li,
header.header .shipping li a {
  color: var(--color-black);
  font-size: 0.75rem;
  letter-spacing: 0.006em;
  line-height: 0.8125rem;
  text-transform: uppercase;
}
header.header .shipping li a {
  letter-spacing: 0.07em;
}
header.header .shipping li img {
  max-width: 1.5rem;
  max-height: 1.125rem;
}

header.header .shipping li:first-child {
  display: none;
  margin-right: 1.5rem;
}

header.header .shipping li a.dropdown-toggle,
header .mob-top-links .dropdown-flag a.dropdown-toggle {
  //pointer-events: none;
}

header.header .shipping li .dropdown .dropdown-menu:after {
  background-image: url('https://static.techsembly.com/gXue5ruMVcc6w6ZCKhUWjbzW');
}

header .row.spacing .shipping li .dropdown .dropdown-menu.countries-dd {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
  border: none;
  left: 0 !important;
  margin-top: 60px;
  -webkit-transform: translateX(-42%) !important;
  transform: translateX(-28%) !important;
  padding: 0;
  right: 0;
  width: 220px;
}

header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont {
  background-color: var(--light-grey-1);
  border-radius: 0.125rem;
  padding-top: 1.6875rem;
  padding-bottom: 1.6875rem;
}

header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont div:not(:last-child) {
  margin-bottom: 0.875rem;
}

header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.16em;
  padding: 0.5625rem 1.6875rem;
}

header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a:hover,
header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a:focus {
  background-color: #fff;
}

header.header .shipping li .dropdown .dropdown-menu .select-form,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences-header {
  display: none;
}

header.header .shipping li a.dropdown-toggle:after,
header .mob-top-links .dropdown-flag a.dropdown-toggle:after {
  //display: none;
}

header.header .logo img {
  height: auto;
  width: 134px;
}

header.header .head-links li:last-child a {
  padding-right: 0;
}

header.header .head-links li a img {
  height: auto;
  max-width: 1.125rem;
}

header.header .head-links li.wishlist-cont,
header .mob-top-links li.wishlist-cont,
nav#sidebar ul li.wishlist-cont {
  display: none !important;
}
nav#sidebar ul li a {
  position: relative;
}
nav#sidebar ul li .dropdown a[data-toggle="dropdown"]::after {
  content: '';
  top: 44%;
}

header.header .head-links li .cart-qty,
header .mob-top-links .cart-qty {
  height: 1rem;
  width: 1rem;
  font-size: 0.5rem;
  padding-top: 0;
}

header .mob-top-links .cart-qty {
  padding-top: 0.125rem;
}

header.header .head-links li .cart-qty {
  top: 1.5rem;
  right: -0.25rem;
}
header.header .head-links li .add-to-basket .dropdown-menu,
header .mob-top-links .add-to-basket .dropdown-menu {
  padding-bottom: 1.0625rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont,
header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont {
  min-height: auto;
}

header.header .head-links li .add-to-basket .dropdown-menu h4,
header .mob-top-links .add-to-basket .dropdown-menu h4 {
  font-size: 0.75rem;
  line-height: 1.0625rem;
  letter-spacing: 0.96px;
}

header.header .head-links li .add-to-basket .dropdown-menu h5,
header .mob-top-links .add-to-basket .dropdown-menu h5 {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.96px;
}

header.header .head-links li .add-to-basket .dropdown-menu .checkout-price,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.96px;
  margin-bottom: auto;
}

header.header .head-links li .add-to-basket .dropdown-menu .checkout-price p,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price p {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.96px;
}

header.header .head-links li .add-to-basket .dropdown-menu .checkout-details,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-details {
  padding-bottom: 2.125rem;
}

header.header .head-links li .add-to-basket .dropdown-menu .btn,
header .mob-top-links .add-to-basket .dropdown-menu .btn {
  padding: 0.625rem;
  max-height: 3.125rem;
  height: 3.125rem;
  padding-top: 1rem;
}

header .mob-top-links .add-to-basket .btn.btn-primary {
  line-height: 1rem;
}

header.header .search .search-item-form .nav-search-field,
.search .nav-search-field,
.mobile-search-box .nav-search-field {
  background-color: var(--fog-color);
  font-size: 0.75rem;
}

header.header .search .search-item-form .nav-search-field::placeholder,
.search .nav-search-field::placeholder,
.mobile-search-box .nav-search-field::placeholder {
  font-size: 0;
}

header.header .search .search-item-form button {
  background-color: var(--color-light);
  height: 2.0625rem;
  padding: 0;
  width: 2.0625rem;
}

header.header .search .search-item-form button img {
  height: auto;
  width: 1.25rem;
  margin-top: -0.1875px;
}

.mobile-search-box .btn {
  background-color: var(--color-light);
}

header .mob-search-cont {
  padding-bottom: 0.5rem;
}

header.header .menu-holder {
  //display: none;
}

body[data-pagetype="home"] header.header .menu-holder {
  display: flex;
}

header.header .menu-holder>li {
  margin-right: 2.25rem;
}

header.header .menu-holder li a {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

header.header .menu-holder li a.main-category {
  padding-top: 0.875rem;
}

.home-banner .banner-title {
  display: none;
}

.home-banner .banner-heading {
  font-family: var(--primary-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.home-banner .banner-heading .sub-head {
  font-size: 1rem !important;
  line-height: 1.375rem;
}

.home-intro-container {
  max-width: 100%;
}

.home-opts-area .opts-images .opt-bottom-img {
  /*transform: translateY(-59%);*/
  margin-top: -52%;
}

.home-opts-area .opts-text-cont .opts-title {
  font-family: var(--third-font);
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.home-opts-area .opts-text-cont p {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  letter-spacing: 0.006em;
  margin-bottom: 0.9375rem;
}

.articles-list-cont .articles-list-wrapper {
  background-color: #EFE3E0;
  padding: 2.8125rem;
}

.articles-list-cont .articles-heading {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
}

.articles-list-cont .article-block {
  border-bottom: 0.0625rem solid #cbc1bf;
  padding-top: 1.5625rem;
  padding-bottom: 1.1875rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.articles-list-cont .art-blk-top-right {
  padding-left: 0.875rem;
}

.articles-list-cont .article-block .article-block-top {
  padding-bottom: 0.1875rem;
}

.articles-list-cont .article-block .img-cont {
  flex-basis: 81px;
  min-width: 81px;
}

.articles-list-cont .top-mini-heading {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.articles-list-cont .art-heading {
  font-family: var(--third-font);
  font-size: 1.5rem;
  line-height: 1.625rem;
  letter-spacing: -0.03em;
}

.promo-section .section-title {
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin-bottom: 1.5rem;
}

.promo-section .banner-title {
  display: none;
}

.promo-holder .promo-box .promo-content {
  display: none;
}

.promo-holder .promo-box:first-child {
  margin-right: 1.875rem;
}

.promo-holder .promo-box:first-child a {
  //pointer-events: none;
}

.promo-holder .promo-box:first-child a.promo-link {
  //display: none;
}

.promo-desc-cont .promo-title-new {
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin-top: 0.125rem;
  margin-bottom: 0.625rem;
}

.promo-desc-cont .promo-sub {
  font-family: var(--third-font);
  letter-spacing: -0.03em;
  line-height: 1.08;
}

.promo-desc-cont .promo-link {
  border-bottom: 0.0625rem solid var(--color-black);
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.07em;
  padding-bottom: 0.1875rem;
}

.sign-up-section {
  background-color: transparent;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.sign-up-section .sign-up-inner-cont {
  border: 1px solid rgba(142, 142, 142, 0.2);
  box-shadow: 0px 5px 8px 2px #8e8e8e;
  padding: 1.875rem;
  width: 100%;
}

.sign-up-section .sign-up-inner {
  border: 0.0625rem solid var(--color-black);
  background-image: url('https://static.techsembly.com/efbNSouEegQSpfamQozE7V6c');
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  display: flex;
  justify-content: center;
}

.sign-up-section h2 {
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-top: 1.375rem;
  margin-bottom: 0.625rem !important;
}

.sign-up-section .sign-up-container .signup-text {
  padding-top: 0 !important;
  width: 100%;
}

.sign-up-section .sign-up-container .signup-text p {
  color: var(--color-black) !important;
  font-size: 0.8125rem;
  font-weight: 300;
  letter-spacing: 0.006em;
}

.sign-up-section .sign-up-container .sign-up-form {
  margin-bottom: 0.625rem;
}

.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  border: 0.0625rem solid var(--color-black);
  color: var(--color-black);
  font-size: 0.8125rem;
  line-height: 1.5rem;
  height: 2.0625rem;
  letter-spacing: 0.006em;
  width: 18.25rem;
  margin-right: 0;
  text-align: left;
}

.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
  color: var(--color-light);
  font-style: normal;
  text-align: left;
}

.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  background-color: transparent;
  border: 0.0625rem solid var(--color-black);
  color: var(--color-black);
  font-size: 0.8125rem;
  height: 2.0625rem;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.sign-up-section .sign-up-container .privacy-note-cont,
.sign-up-section .sign-up-container .privacy-note-cont a {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.25rem;
  letter-spacing: 0.006em;
}

.sign-up-section .sign-up-container .privacy-note-cont b {
  font-weight: 700;
}

.sign-up-section .sign-up-container .privacy-note-cont {
  margin-bottom: 1.375rem;
}

/*product detail*/
.product-detail-container .product-holder .product-detail {
  height: auto;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  width: 100%;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
  display: none;
}

.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews,
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}

.product-detail-container .product-holder .product-detail .shipping {
  display: none;
}

.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
}

.product-detail-container .product-holder .product-order .nav-tabs {
  background-color: transparent;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item a h4 {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border-bottom: 1px solid var(--color-light);
  padding: 0.5rem 0;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  border-bottom: 1px solid var(--color-black);
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;
}

.product-detail-container form .form-group label,
.product-detail-container .personalise-form .form-group label {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}

.product-detail-container form .form-group label .radio-holder {
  align-items: center;
}

.product-detail-container .product-holder form .form-group .form-control,
.product-detail-container .personalise-form .delivery-form .delivery-fields {
  border-color: var(--color-black);
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}

.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'],
.product-detail-container .personalise-form .form-group select {
  max-height: 3.375rem;
}

.product-detail-container form .form-group select.form-control {
  background-image: url('https://static.techsembly.com/hxU6xNQo12G8SSsVPPXPk6bS');
  height: 3.375rem;
}

.product-detail-container .personalise-form .delivery-form .info-text {
  font-size: 0.75rem;
  margin-bottom: 1.125rem;
}
.product-detail-container .personalise-form .form-group.add-basket {
  margin-top: 1.375rem;
}
.product-detail-container .personalise-form .form-group .order-btn {
  height: 3.125rem;
  line-height: 1rem;
}

.product-detail-container .personalise-form .form-group .order-input {
  border-radius: 0.1875rem;
  height: 53px;
  text-align: left;
}

.product-detail-container .product-carousel-desktop .owl-nav button,
.product-detail-container .product-carousel-desktop .owl-nav button:hover {
  border: 1px solid #6d6d6d !important;
  border-radius: 0.125rem !important;
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.product-carousel-desktop .owl-nav button.owl-prev,
.product-carousel-desktop .owl-nav button.owl-prev:hover {
  background-image: url('https://static.techsembly.com/bbVcDQwSbCJLyE9qdzwF82tP');
}

.product-carousel-desktop .owl-nav button.owl-next,
.product-carousel-desktop .owl-nav button.owl-next:hover {
  background-image: url('https://static.techsembly.com/GSsxPnTnm4i64a9tNoeo3ngs');
}

.product-detail-container .product-holder .share-link {
  display: none !important;
}

.product-carousel-desktop .owl-nav [class*='owl-']:hover {
  background-color: transparent !important;
  cursor: pointer;
}

app-product-detail .container-fluid.BorderBottom {
  border: none;
}

app-product-detail app-related-products[title='Recently Viewed'] {
  display: none;
}

.product-detail-container .personalise-form .form-group,
.product-detail-container .personalise-form .variant-container .option-label,
.product-detail-container .multiselect-dropdown .dropdown-btn,
.product-detail-container .personalise-form .variant-container .variant .option-container .customcheck .checkmark {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}
.product-detail-container .multiselect-dropdown .dropdown-btn {
  padding-top: 0.3125rem !important;
}
.product-detail-container .personalise-form .variant-container .variant.Color .option-container .customcheck .color-name {
  padding-top: 0 !important;
}

.product-detail-container form .checkbox-holder label.d-flex {
  align-items: center;
}

.product-detail-container form .checkbox-holder label input {
  margin-top: 0;
}

.product-detail-container .product-holder .product-order .tab-content .btn.show-more {
  background-color: #eee;
}


/* product listing page */
.product-container .default-breadcrumb {
  margin-bottom: 0.4375rem;
}
.products-container .main-sidebar {
  margin-top: 5px;
  width: 24%;
  padding-right: 50px;
}
.sidebar-widget .result-text p {
  font-weight: 600;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 17px;
  letter-spacing: 0.01em;
  margin-bottom: 0.5rem;
}
.sidebar-widget .list-group-item {
  padding-top: 0.625rem;
  padding-bottom: 0.5rem;
}
.sidebar-widget .list-group .list-group-holder>a h4,
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
  font-weight: 300;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.96px;
  color: var(--color-black);
}
.sidebar-widget .list-group .list-group-holder>a h4 {
  margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
  top: 32%;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
  align-items: center;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
  border-color: #D6D6D6 !important;
}
.sidebar-widget .ng5-slider span {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
}
.product-select .form-group>select.form-control.relevance {
  background: #F0F0F0;
  border: 0.920833px solid #EDEDED;
  border-radius: 0px;
  height: 30px;
}
.product-container .select-form.product-select .form-group select {
  background-image: url('https://static.techsembly.com/ptwtKZWKrGcqVkxSqvC91JBw') !important;
  background-repeat: no-repeat !important;
  background-position-x: 0.5rem !important;
  background-position-y: center;
  color: #495057;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  padding-top: 0.3125rem;
  padding-left: 1.5rem;
}
.select-form .form-group label {
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.96px;
  color: var(--color-black);
}
.products-container .products-holder-main {
  width: 76%;
}

.products-container .products-holder-main .products-holder {
  justify-content: space-between;
}

.products-container .products-holder-main .products-holder .product-column,
.products-container .products-holder-main .products-holder i[aria-hidden="true"] {
  margin: 0;
  width: 32%;
}

.products-container .products-holder-main .products-holder .product-column .product-list {
  margin-bottom: 1.875rem;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
  max-height: 100%;
  width: 100%;
}

.products-container .products-holder-main .products-holder .product-column .product-tags {
  display: none;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
  display: none;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
  width: 90%;
  margin-top: 3px;
  margin-bottom: 0;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
  width: 10%;
  display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
	width: 18px;
	height: auto;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title h3,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
  font-weight: 300;
  font-size: 12px;
  font-family: var(--primary-font);
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 0;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
  color: var(--color-black);
  font-weight: 300;
  font-size: 12px;
  font-family: var(--primary-font);
  line-height: 29px;
  letter-spacing: 0.96px;
}
.container.product-container .product-text {
  display: none;
}

/* product listing end */

/*end product detail*/
/*cart*/
.container.custom-container.cart-container {
  font-family: var(--primary-font);
  padding-top: 0.875rem !important;
}

app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .address-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading,
.custom-container.checkout .left-panel .shipping-form-cont-inner .billing-heading,
.custom-container.checkout .delivery-methods-cont .billing-heading {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

app-cart .custom-container.cart-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading {
  margin-bottom: 1.1875rem !important;
}

.custom-container.cart-container .card.order-summary-cont,
.custom-container.checkout .card.order-summary-cont {
  background-color: #faf9f7;
  border: none;
  box-shadow: none;
}

.container.custom-container.cart-container .cart-login-cont {
  background-color: #faf9f7;
}

.custom-container.cart-container .vendor-items-cont {
  padding-top: 1.125rem !important;
}

.custom-container.cart-container .vendor-items-cont .card,
.custom-container.checkout .card.order-summary-cont {
  border: none;
}

.custom-container.cart-container .vendor-items-cont .card .card-header {
  border-bottom-color: #d3e6fe;
  padding-top: 1.5rem !important;
  padding-bottom: 0.6875rem;
}

.container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading {
  font-family: var(--third-font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
}

.container.custom-container.cart-container .vendor-heading .vendor-name {
  text-transform: capitalize;
}

.container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading .delivered-by {
  margin-right: 0 !important;
}

.container.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.custom-container.cart-container .cart-item.new .item-details .item-name,
.cart-item.new .item-opts,
.cart-item.new .item-opts a,
.cart-item.new .unit-price,
.cart-container .cart-item.new .item-details .unit-total-price,
.custom-container.cart-container .cart-item.new a,
.cart-item.new .col-label {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.cart-item.new .item-opts {
  margin-bottom: 0.5rem;
}

.cart-item.new .item-opts a {
  text-transform: capitalize;
}

.cart-item.new .unit-price,
.cart-container .cart-item.new .item-details .unit-total-price {
  font-weight: 500;
}

.cart-item.new .pro-badges-cont,
.cart-item.new .unit-attributes-cont {
  display: none !important;
}

.custom-container.cart-container .vendor-items-cont a.edit-item-new {
  display: none;
}

.cart-item.new .item-details .qty-col {
  padding-left: 0;
  padding-right: 0.5rem;
}

.cart-item.new .item-details .item-qty-cont {
  border-color: #dbd9d9;
  min-width: 66px;
}

.cart-container .cart-item.new .item-qty-cont .item-dec,
.cart-container .cart-item.new .item-qty-cont .item-inc {
  background-color: #faf9f7;
}

.cart-item.new .item-details .item-qty-cont .item-dec {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.cart-item.new .item-details .item-qty-cont .item-count {
  color: var(--color-light);
}

.cart-item.new .item-details .item-qty-cont .item-inc {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.cart-item.new .form-control {
  font-size: 0.75rem;
}

.cart-item.new textarea.form-control {
  max-height: 100px;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header {
  color: var(--color-black);
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  font-family: var(--third-font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  border-bottom-color: #d3e6fe;
  padding-bottom: 0.5rem !important;
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.container.custom-container.cart-container .card.order-summary-cont .card-body {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.container.custom-container.cart-container .card.order-summary-cont .checkout-note {
  line-height: 1.5;
  padding-top: 1rem;
  letter-spacing: 0.6px;
}

.container.custom-container.cart-container .cart-login-cont .panel-heading {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
  text-align: left;
  text-transform: capitalize;
}

.container.custom-container.cart-container .cart-login-cont form input.form-control {
  border-color: #dbd9d9;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.container.custom-container.cart-container .cart-login-cont form input.form-control::placeholder {
  color: var(--color-light);
}

.cart-login-cont form.cart-login-form .forget-psw-link {
  color: var(--color-light);
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.cart-login-cont form.cart-login-form .form-submit-cont {
  border-top-color: #e3e3e3;
  border-bottom: none;
}

.container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: #eee;
  border-color: #eee;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

.container.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
  color: var(--color-black);
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.cart-container .quantity-alert,
.cart-container .msg-alert {
  background-color: #eee;
  border-color: #eee;
  color: var(--color-black);
}

.container.custom-container.cart-container .continue-btn-new {
  border-color: var(--color-black);
  border-radius: 0;
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
  padding: 0.875rem 1.5rem;
  text-transform: none;
}

form.guestCheckout-form .btn.submit img {
  margin-top: -0.1875rem;
}

/*end cart*/
/*checkout*/
.container.custom-container.checkout .tab-content {
  padding-bottom: 0.9375rem;
}
.checkout .shipping-form-container .exist-address-wrapper .card {
  border: none;
  border-radius: 0;
  font-family: var(--sixth-font);
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card:not(:last-child) {
  margin-bottom: 2rem !important;
}
.checkout .shipping-form-container .exist-address-wrapper .card .customer-name {
  color: #374151;
  font-family: var(--sixth-font);
  text-transform: capitalize;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body div:not(:empty):not(:last-child) {
  padding-bottom: 0.5rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-footer {
  padding-top: 0.5rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .btn {
  background-color: #2480F9;
  border-color: #2480F9;
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 600;
  height: 3.5rem;
  letter-spacing: 0.04em;
  padding-top: 0.375rem;
}
.custom-container.checkout-footer {
  display: none;
}

.order-summary-cont .order-totals-container {
  background-color: #faf9f7;
}

.custom-container.checkout .address-form.new .form-control,
.custom-container.checkout .shipping-form-container input[type='text'],
.custom-container.checkout .shipping-form-container input[type='email'],
.custom-container.checkout .shipping-form-container input[type='password'] {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.custom-container.checkout .address-form.new .form-control::placeholder,
.custom-container.checkout .shipping-form-container .form-control::placeholder {
  color: var(--color-light);
  font-size: 0.75rem;
}

.custom-container.checkout .shipping-form-container .form-group label {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.shipping-form-container .form-group.get-updates-cont {
  margin-bottom: 1.25rem !important;
}

.custom-container.checkout .shipping-form-container .checkbox-cont .checkmark {
  position: relative;
}
.custom-container.checkout .shipping-form-container .checkbox-cont input:checked~.checkmark {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.custom-container.checkout .shipping-form-container .checkbox-cont input:checked~.checkmark::after {
  top: 0.0625rem;
  left: 0.0625rem;
}

.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item {
  color: var(--dark);
  font-family: var(--sixth-font);
}

.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item-left {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-size: 0.75rem;
  line-height: 1.8125rem;
}

.order-summary-cont .order-totals-container .sub-total-holder {
  border-bottom-color: #d3e6fe;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
  padding-bottom: 0.625rem;
}

.order-summary-cont .order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 1rem;
}

.order-totals-container .sub-total-holder .sub-total-item .sub-total-desc::after {
  content: ":";
}

.order-totals-container .sub-total-holder .sub-price {
  font-weight: 600;
}

.order-summary-cont .order-totals-container .total-holder {
  padding-top: 0.5625rem;
}

.order-summary-cont .order-totals-container .total-holder .order-total-item .total-desc {
  font-family: var(--third-font);
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
}

.order-summary-cont .order-totals-container .total-holder .total-price {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.checkout .shipping-form-container .btn.btn-submit,
.checkout .shipping-form-container .btn.btn-submit:hover,
.checkout .shipping-form-container .btn.btn-submit:focus {
  background-color: #fff;
  border: 0.0625rem solid var(--color-black);
  border-radius: 0;
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
  padding: 0.875rem 1.5rem;
  text-transform: none;
}

.checkout .delivery-methods-cont .card .card-body,
.checkout .delivery-methods-cont .card .card-body .row-head {
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.checkout .delivery-methods-cont .card .card-body {
  font-weight: 300;
}

.checkout .delivery-methods-cont .card .card-body .card-row:not(:last-child) {
  border-bottom-color: #dbd9d9;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
  color: var(--dark);
  font-family: var(--third-font);
  letter-spacing: 0.96px;
  text-transform: capitalize;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title span.mr-1 {
  margin-right: 0 !important;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  background-color: #dbd9d9;
  color: var(--color-light);
  font-size: 0.75rem;
  line-height: 1.8125rem;
  padding: 0.375rem 0.5rem 0.375rem 0.375rem;
}

.checkout .delivery-methods-cont .vendor-cards-holder .vendor-card .card-header-inner {
  align-items: center;
  border-bottom-color: #d3e6fe !important;
}

.checkout .delivery-methods-cont .vendor-card .card-body {
  padding-top: 1.8125rem;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container,
.checkout .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
  background-color: #faf9f7;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.8125rem;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label.radio-container {
  margin-bottom: 0;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
  margin-top: 0;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
  border-color: var(--color-black);
  position: relative;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
  background: var(--color-black);
  top: 1px;
  left: 1px;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark {
  background-color: var(--color-black);
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .label-email .info-text {
  max-width: 30%;
  padding-left: 0;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont .col-md-6.px-md-3 {
  padding-left: 0 !important;
}

.checkout .shipping-form-container .form-control {
  border-color: #dbd9d9;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  font-size: 0.75rem;
  line-height: 1.8125rem;
}

.checkout .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
  padding: 0 !important;
  margin-top: 0 !important;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont .form-group {
  margin-bottom: 0.75rem;
}

.delivery-methods-cont .vendor-cards-holder .card .radio-container div.d-flex {
  align-items: center;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
  padding-bottom: 0;
}

.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
  padding-bottom: 0 !important;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:first-child {
  padding-top: 0;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption,
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.8125rem;
}

.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-weight: 600;
}

.checkout .payment-form-container {
  font-size: 0.75rem;
  line-height: 1.8125rem;
}

.checkout .payment-form-container .payments-methods-cont .card {
  border: 0.125rem solid var(--color-black);
}

.checkout .payment-form-container .radio-container input:checked~.checkmark {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.checkout .payment-form-container .radio-container .checkmark {
  position: relative;
}

.checkout .payment-form-container .radio-container .checkmark::after {
  background: var(--color-black);
  top: 0.25px;
  left: 0.5px;
  width: 17.5px;
  height: 17.5px;
}

.checkout .payment-form-container .radio-container .pay-method-name {
  color: var(--color-light);
  font-weight: 300;
  margin-top: 0;
  letter-spacing: 0.96px;
}

.checkout .payment-form-container .payments-methods-cont,
.checkout .payment-form-container .section-cont {
  border-bottom-color: #d3e6fe;
}

.checkout .payment-form-container .section-heading {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.checkout .payment-form-container .card .card-body {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.checkout .payment-form-container .section-cont .card {
  border: none;
}

.checkout .payment-form-container .address-card .card-body .row-head {
  padding-right: 0;
  flex-basis: 10%;
  max-width: 10%;
}

.checkout .payment-form-container .card.blue-light-bg {
  background-color: #faf9f7;
  border-color: #faf9f7;
}

.checkout .payment-form-container .form-group label {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.checkout .payment-form-container .checkbox-cont input:checked~.checkmark {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.checkout .payment-form-container .checkbox-cont .checkbox-note {
  margin-top: 0;
}

.checkout .payment-form-container input[type='text'],
.checkout .payment-form-container input[type='email'],
.checkout .payment-form-container input[type='password'] {
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.checkout .payment-form-container .form-control::placeholder {
  color: var(--color-light);
  font-size: 0.75rem;
}

.checkout .order-totals-container .promo-cont a {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.checkout .payment-form-container .btn.btn-submit,
.checkout .payment-form-container .btn.btn-submit:hover,
.checkout .payment-form-container .btn.btn-submit:focus {
  background-color: #fff;
  border: 0.0625rem solid var(--color-black);
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
  padding: 0.875rem 1.5rem;
  text-transform: none;
}

.custom-container.checkout .btn-primary {
  background-color: #eee;
  border-color: #eee;
}

.custom-container.checkout .payment-form-container .password-note {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.checkout .payment-form-container .btn {
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 2.88px;
}

.checkout-copyright-cont {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  padding: 0.875rem 1.0625rem;
}

.checkout-copyright-cont a {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
}

.checkout-copyright-cont .ts-copyright {
  color: var(--color-black);
  letter-spacing: 0.96px;
}

/*end checkout*/
/*user and other pages*/
.breadcrumb-heading {
  color: var(--color-black);
  font-weight: 300;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.96px;
  text-transform: capitalize;
}
.custom-container.login-signup .breadcrumb-heading {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  margin-bottom: 0.1875rem;
  text-transform: uppercase;
}
.custom-container .login-signup-tabs-cont .panel-heading {
  font-family: var(--third-font);
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
  margin-bottom: 1.1875rem;
  text-align: left;
  text-transform: capitalize;
}

.custom-container .login-signup-tabs-cont .tab-panel-cont {
  padding-top: 0 !important;
}

.custom-container .login-signup-tabs-cont form .form-group:not(:last-child) {
  margin-bottom: 1rem !important;
  padding-top: 0 !important;
}

.custom-container .login-signup-tabs-cont label,
.user-wrapper .user-container form label {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}

.custom-container .login-signup-tabs-cont label.d-flex {
  align-items: center;
  color: var(--color-light);
  line-height: 1.8125rem;
  margin-bottom: 0;
}

.custom-container .login-signup-tabs-cont label input[type="checkbox"] {
  margin-top: 0;
}

.container.custom-container .login-signup-tabs-cont form label input[type="checkbox"]+span {
  margin-top: 0;
}

.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}

.custom-container .login-signup-tabs-cont form .form-control,
.user-wrapper .user-container form .form-control {
  border-color: var(--color-black);
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}

.custom-container .login-signup-tabs-cont form .form-control::placeholder,
.user-wrapper .user-container form .form-control::placeholder,
.user-wrapper .user-container .user-edit-holder form input.form-control::placeholder {
  color: var(--color-black);
  font-style: normal;
}

.custom-container .login-signup-tabs-cont form input[type='text'],
.custom-container .login-signup-tabs-cont form input[type='email'],
.custom-container .login-signup-tabs-cont form input[type='password'],
.user-wrapper .user-container form .form-control {
  border-radius: 0;
  height: 3.375rem;
}

.container.custom-container .login-signup-tabs-cont form .btn.submit,
.container.custom-container .login-signup-tabs-cont form .btn.submit:hover,
.container.custom-container .login-signup-tabs-cont form .btn.submit:focus {
  background-image: none;
  background-color: var(--color-black);
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 2.88px;
}
.user-wrapper .user-container form .btn.submit,
.user-wrapper .user-container form .btn.submit:hover,
.user-wrapper .user-container form .btn.submit:focus {
  background-color: var(--color-black);
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 1;
}
.user-wrapper .user-container .user-edit-holder form .btn.update-btn {
  font-weight: 400;
}
.ts-balance-form .btn.submit {
  margin-top: 2rem;
  margin-bottom: 0.625rem;
}
.custom-container .login-signup-tabs-cont form .form-group:nth-last-child(2) {
  margin-bottom: 0 !important;
  padding-bottom: 1rem;
}

/*end user and other pages*/

/* success screen styles */

/*checkout complete page*/
.checkout-container.complete .col-12.px-md-3.py-4 {
  padding-top: 0 !important;
}

.checkout .checkout-container.complete .order-confirm-top {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background: #FCFCFC;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.checkout .checkout-container.complete .card-footer {
  border-radius: 0 0 8px 8px;
  letter-spacing: 0.96px;
}

.custom-container .checkout-container.complete .breadcrumb-heading {
  color: var(--color-black);
  font-family: var(--third-font);
  font-size: 18px !important;
  font-weight: 400;
  line-height: 22px !important;
  margin-bottom: 4px !important;
  text-transform: capitalize;
  letter-spacing: 0.96px;
}

.checkout-container.complete .customer-note .del-content {
  margin-top: 1.5rem;
}

.checkout-container.complete .customer-note {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 29px;
  letter-spacing: 0.96px;
  color: var(--color-black);
}

.custom-container .checkout-container.complete .section-cont {
  border-bottom: 1px solid #e3e3e3;
}
.custom-container .checkout-container.complete .section-cont.total-delivery {
  padding-top: 1.25rem !important;
  padding-bottom: 1.625rem !important;
}
.custom-container .checkout-container.complete .section-cont .updated-del-string {
  padding-top: 1.75rem;
}

.custom-container .checkout-container.complete .card-body .order-data.section-cont {
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}
.custom-container.checkout.complete .checkout-tabs-cont .vendor-items-holder .vendor-order-details {
  padding-top: 0;
}
.custom-container.checkout .complete .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
  margin-top: 0.125rem !important;
  padding-bottom: 0;
}
.custom-container.checkout-container.complete .cart-data .vendor-items-holder:last-child {
  padding-bottom: 0;
}
.checkout-container.complete .cart-data .order-item .item-img {
  display: flex;
  align-items: center;
  max-height: 100px;
}

.checkout-container.complete .card-body .order-data .order-column {
  align-items: start !important;
}
.checkout-container.complete .card-body .order-data .order-column.contact {
  max-width: 25% !important;
  flex-basis: 25% !important;
}

.checkout-container.complete .card-body .order-data .order-column .col-heading {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 18px;
  color: #6B7280;
  font-family: var(--sixth-font);
}

.checkout-container.complete .card-body .order-data .order-column .col-desc {
  color: #374151;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-family: var(--sixth-font);
}

.checkout-container.complete .card-body .cart-data {
  padding-bottom: 28px;
}

.checkout-container.complete .card-body .cart-data .order-item .item-desc .attributes {
    color: #383838;
    opacity: 0.6
}

.checkout-container.complete .cart-data .order-item .item-desc .item-name {
  color: #374151;
  font-family: var(--sixth-font);
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: 500 !important;
}

.checkout-container.complete .card-body .cart-data .order-item .item-desc .item-brand {
  font-family: var(--sixth-font);
  color: #6B7280;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
  color: #374151;
  font-family: var(--sixth-font);
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.checkout-container.complete .card-body .cart-data .order-item .items-atts-cont {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #383838;
}
.checkout-container.complete .card-body .cart-data .order-item .items-atts-cont .receipient-email {
    color: #6D6D6D;
}

.checkout-container.complete .card-body .cart-data .order-item .item-price {
  color: #374151;
  font-family: var(--sixth-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.checkout-container.complete .card-body .total-cont,
.checkout-container.complete .card-body .msg-cont .msg-inner {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 12px !important;
  line-height: 29px !important;
  letter-spacing: 0.96px;
}

.checkout-container.complete .card-body .total-cont .text-right.total-price {
  color: var(--color-black);
  font-size: 16px !important;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 3.84px;
  text-transform: uppercase;

}

.order-confirm-wrapper .card-footer .card-footer-left {
  color: var(--color-black);
  font-size: 12px;
  font-weight: 300;
  line-height:29px;
  font-family: var(--primary-font);
}

.checkout-container.complete .card-body .shipping-data,
.order-confirm-wrapper .card-footer .card-footer-left a,
.order-confirm-wrapper .card-footer .card-footer-right a,
.order-confirm-wrapper .card-footer .card-footer-right {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 12px !important;
  line-height: 29px !important;
  letter-spacing: 0.96px;
}
.order-confirm-wrapper .card-footer .card-footer-right.text-right {
  //display: none;
}
.order-confirm-wrapper .card-footer .card-footer-left a {
  text-decoration: underline;
  text-transform: capitalize;
}
.order-confirm-wrapper .card-footer .card-footer-right a {
	pointer-events: none;
  font-weight: 400;
}
.order-confirm-wrapper .card-footer a {
  color: #666666;
}

.checkout-container.complete .card.order-confirm-wrapper {
  background: #FFFFFF;
  border-radius: 8px;
  width: 798px !important;
  max-width: 798px !important;
}
.checkout .checkout-container.complete .card-header.blue-light-bg {
  display: none !important;
}
.checkout .checkout-container.complete .blue-light-bg {
  background-color: #FFFFFF;
}
.custom-container.checkout {
    padding-bottom: 4px !important;
}
.checkout-container.complete .order-item-inner-bottom .message-content,
.checkout-container.complete .order-item-inner-bottom .message-label {
    color: #666666;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
    text-transform: capitalize;
}
/* success screen styles end */

/* ====================== my account ==================== */
.container.user-container .default-breadcrumb {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 12px !important;
}

.auth-user .user-wrapper .user-heading {
  font-family: var(--third-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 22px;
  letter-spacing: 0.96px;
  color: var(--color-black);
}

.auth-user .user-wrapper .user-heading.gift-card-heading {
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

app-ts-gift-card-balance .default-breadcrumb {
  display: none;
}

app-ts-gift-card-balance .user-container.d-none {
  display: block !important;
}

/* .auth-user .user-wrapper:nth-child(6) {
  display: none;
} */

.user-wrapper .user-container .user-details-holder {
  border: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.user-wrapper .user-container .user-details-holder .detail-row .detail-head {
  color: var(--color-black);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.96px;
}

.user-wrapper .user-container .my-gifts-head {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.16px;
  color: var(--color-black);
}

.user-wrapper .user-container .user-details-holder .detail-row {
  padding-bottom: 10px !important;
}

.user-wrapper .user-container .user-details-holder .detail-row .detail-desc,
.user-wrapper .user-container .user-details-holder .detail-row .detail-desc a {
  color: var(--color-black);
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.96px;
}

.my-gifts-cont {
  padding-top: 5px !important;
}

.user-container .table thead th {
  border-bottom: 1px solid #DBD9D9;
  padding-bottom: 0;
  font-weight: 600 !important;
  font-family: var(--secondary-font);
  font-size: 12px;
  line-height: 28px !important;
  text-transform: capitalize;
  color: var(--color-black);
  text-align: center;
  padding-left: 0 !important;
  letter-spacing: 0.96px;
}

.user-container .orders-table-holder {
  padding-top: 8px !important;
}

.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td,
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td a {
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 29px;
  letter-spacing: 0.96px;
  color: var(--color-black);
  padding-left: 0 !important;
  border-top: none;
  border-bottom: 1px solid #DBD9D9;
}

.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td a {
  border-bottom: none;
}

.signout-cont {
  padding-top: 0 !important;
  margin-top: -5px;
}

.user-wrapper {
  padding-bottom: 33px !important;
}

.user-wrapper form label input[type="checkbox"] {
  margin-top: 0;
}

.user-wrapper .user-container .btn.signout-btn {
  background: var(--color-black);
  font-family: var(--primary-font);
  font-weight: 400 !important;
  font-size: 13px;
  line-height: 16px;
  padding: 17px 64px !important;
  text-align: center;
  letter-spacing: 2.88px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 50px !important;
  margin-top: 0 !important;
}

/*footer*/
footer.footer {
  border-top: none;
  margin-top: 0;
  padding-top: 3.625rem;
}

footer .container.custom-container {
  max-width: 100%;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.footer .footer-widget .widget-title {
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.footer .footer-widget .widget-content {
  padding-top: 1.1875rem;
}

.footer .footer-widget.social-widget .widget-content {
  padding-top: 0.75rem;
}

.footer .footer-widget .widget-content ul:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer .footer-widget .widget-content ul li a {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.006em;
}

.footer .footer-widget .widget-content ul li a img {
  max-width: 1.125rem;
  max-height: 1.125rem;
}

.footer .footer-widget .widget-content ul li a img[alt="fb"] {
  max-width: 0.625rem;
}

.footer .footer-widget .widget-content .social-links {
  padding-top: 0 !important;
}

.footer .footer-widget .widget-content .social-links li {
  width: auto;
}

.footer .footer-widget .widget-content .social-links li:not(:last-child) {
  margin-right: 1.125rem;
  margin-bottom: 0.5rem;
}

.footer .footer-widget .widget-content .social-links li:first-child {
  margin-right: 1.375rem;
}

.footer .mobile-footer .list-group .list-group-holder:last-child {
  display: none;
}

.footer .mobile-footer .list-group .list-group-holder .collapsing {
  transition: none;
}

.footer .copyright-cont {
  border-top: 0.0625rem solid var(--color-black);
  padding-top: 2rem !important;
  padding-bottom: 2.625rem !important;
}

.footer .copyright-cont .pay-methods-avail .meth-link {
  margin-right: 0.4375rem;
}

.footer .copyright-cont .pay-methods-avail .meth-link img {
  max-width: 3rem;
}

.footer .copyright-cont .powered-by div:not(.powered-link-cont),
.footer .copyright-cont .powered-by+.col-lg-3 {
  display: none;
}

.footer .copyright-cont .powered-by,
.footer .copyright-cont .powered-by a {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.006em;
}
/*inspired section*/
.inspired-section-cont{
  padding-bottom: 0 !important
}
.inspired-section-cont-inner {
  border-top: 0.0625rem solid #dad9d7;
}
.inspired-section .inspired-heading{
  font-family: var(--third-font);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.08;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  margin-bottom: 0;
}
.inspired-section p{
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 0;
}
.inspired-section .btn-sign-up{
  height: 3.125rem;
  line-height: 1rem;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  align-items: center;
}


/*end footer*/
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  header .row.spacing {
    align-items: center;
  }

  .promo-holder .promo-box {
    height: auto;
  }
  .products-container .products-holder-main {
    width: 100%;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 46.25%;
    margin: 0;
  }
  .checkout .payment-form-container .radio-container .checkmark::after {
    top: 0.5px;
    left: 0.25px;
  }
  .user-container .table thead th {
    vertical-align: top;
  }
  .inspired-section .inspired-heading{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }
  .inspired-section .btn-sign-up{
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  header .mob-top-links li a {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
  nav#sidebar {
    top: 86px;
    height: calc(100% - 86px);
  }

  .mob-overlay {
    top: 88px;
  }

  header .row.spacing {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .mobile-search-mini-form {
    padding-left: 0.625rem !important;
    padding-right: 0.625rem !important;
  }

  .sign-up-section .sign-up-container {
    padding-top: 5rem;
  }

  .sign-up-section .sign-up-container .sign-up-form,
  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    width: 100%;
  }

  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 45%;
    margin: 0 5px;
  }

  .shipping-form-container .vendor-card .card-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .checkout .payment-form-container .card.address-card .card-body .row-head {
    flex-basis: 20%;
    max-width: 20%;
  }

  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-3 {
    flex-basis: 30%;
    max-width: 30%;
    padding-right: 1rem !important;
  }
  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-9 {
    flex-basis: 70%;
    max-width: 70%;
  }
}

@media (max-width: 575.98px) {
  .home-banner .banner-heading {
    top: 19%;
    text-align: center !important;
    left: 0 !important;
  }
  .home-banner .banner-heading .sub-head {
    line-height: 1.375rem !important;
  }
  .sign-up-section .sign-up-container {
    padding-top: 8rem;
  }
  .arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.125rem;
  }
}

@media (max-width: 375px) {
  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-3 {
    padding-right:0.5rem !important;
  }
  .checkout .payment-form-container .card.address-card .card-body .row-head {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .product-detail-container .product-holder .product-detail {
    margin-bottom: 0 !important;
  }

  .product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
    margin-bottom: 0.75rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .sign-up-section .sign-up-inner {
    background-size: 100px;
  }
}

@media (min-width: 992px) {
  header.header .shipping {
    padding-top: 3.75rem;
  }

  header.header .logo {
    padding-top: 2.3125rem;
    padding-bottom: 2.3125rem;
  }

  header.header .head-links {
    padding-top: 1.5rem;
  }

  header.header .search .search-item-form {
    width: 13.3125rem;
  }

  header.header .search .search-item-form .nav-search-field {
    height: 2.0625rem;
    max-width: 11.25rem;
  }

  header.header .menu-holder>li:hover>div.empty {
    display: none;
  }

  .home-banner .banner-heading {
    font-size: 2.8125rem;
    top: 40.5%;
    left: 7.625% !important;
    line-height: 3.625rem;
  }

  .home-opts-area {
    align-items: flex-start;
    justify-content: space-between;
  }

  .home-opts-area .opts-images .opt-top-img {
    margin-top: -2.5rem;
  }

  .home-opts-area .opts-images .opt-bottom-img {
    margin-left: 30px;
  }

  .articles-list-cont {
    margin-top: -34%;
    max-width: 30%;
  }

  .promo-section {
    padding-top: 1.5rem;
    padding-bottom: 1.875rem;
  }

  .promo-section .custom-container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .promo-section .section-title {
    font-size: 2.1875rem;
    margin-bottom: 3.5rem;
  }

  .promo-desc-cont .promo-title-new {
    font-size: 2.1875rem;
  }

  .promo-desc-cont .promo-sub {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .container.product-container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .product-select {
    margin-right: 0 !important;
  }
  .products-container .products-holder-main .products-holder {
    padding-top: 0 !important;
  }
  .products-container .products-holder-main {
    padding-top: 0 !important;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: auto;
    min-height: 288px;
    max-height: 288px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 288px;
  }
  /*product detail*/
  .product-detail-container .product-holder {
    padding-top: 1.625rem !important;
    padding-bottom: 5.25rem !important;
  }

  .product-detail-container .product-carousel-cont {
    flex-basis: 53.75%;
    max-width: 53.75%;
  }

  .product-detail-container .product-inner {
    flex-basis: 46.25%;
    max-width: 46.25%;
    padding-left: 1.625rem;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-pricing {
    padding-top: 0.875rem;
  }

  /*end product detail*/
  /*cart*/
  .custom-container.cart-container .cart-left-cont {
    padding-right: 109px;
  }

  .cart-item.new .item-image-cont {
    flex-basis: 28.5%;
    max-width: 28.5%;
  }

  .cart-item.new .item-details-cont {
    flex-basis: 71.5%;
    max-width: 71.5%;
  }

  /*end cart*/
  /*checkout*/
  .custom-container.checkout {
    padding-top: 0.9375rem !important;
  }

  .container.custom-container.checkout {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .address-form .form-group .address-sub-fields-countainer .address-sub-field:not(:first-child) {
    margin-left: 1.375rem;
  }

  .checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item-left {
    flex-basis: 60%;
    max-width: 60%;
  }

  .checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item-right {
    flex-basis: 40%;
    max-width: 40%;
  }

  .checkout .shipping-form-container .left-panel,
  .checkout .payment-form-container .left-panel {
    padding-right: 109px;
  }

  .checkout .delivery-methods-cont,
  .checkout .payment-form .payment-form-container {
    padding-top: 1.25rem !important;
  }

  .delivery-methods-cont .vendor-cards-holder .vendor-card .card-header-inner {
    padding-top: 0.4375rem !important;
    padding-bottom: 0.75rem !important;
  }

  .delivery-methods-cont .card .card-body .row-head {
    flex-basis: 12%;
    max-width: 12%;
  }

  .delivery-methods-cont .card .card-body .row-head + .col-md-10 {
    flex-basis: 88%;
    max-width: 88%;
  }

  .checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .label-email .info-text {
    max-width: 20%;
  }

  .order-confirm-wrapper .card-footer .card-footer-left {
    padding-left: 0.5rem;
  }

  .order-confirm-wrapper .card-footer .card-footer-right {
    padding-right: 0.5rem;
  }

  /*end checkout */
  .custom-container.login-signup {
    padding-bottom: 0.75rem;
  }
  .custom-container .login-signup-tabs-cont .left-panel {
    padding-bottom: 0;
  }

  .auth-user .user-wrapper .user-heading.gift-card-heading {
    font-size: 2.1875rem;
    line-height: 2.5rem;
  }

  .footer .custom-container .footer-widget:nth-child(3) {
    flex-basis: 49%;
  }

  .footer .copyright-cont {
    margin-top: 5rem;
  }

  .footer .copyright-cont div:first-child {
    padding-left: 0;
    padding-right: 0;
  }

  .footer .copyright-cont .pay-methods-avail {
    flex-basis: 50%;
    max-width: 50%;
  }

  .footer .copyright-cont .powered-by {
    align-items: flex-end !important;
    text-align: right !important;
    padding-right: 0;
  }
  .inspired-section .btn-signup-cont{
    display: flex;
    justify-content: end;
  }

}

@media (min-width: 1200px) {
  header.header .head-links li .add-to-basket .dropdown-menu:after {
    right: 0.3125rem;
  }

  .home-banner .banner-heading {
    font-size: 3.5rem;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 297px;
    max-height: 297px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 297px;
  }
}

@media (min-width: 1280px) {

  body[data-pagetype='product'] .product-detail-container,
  .related-products .custom-container .container {
    max-width: 1280px;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

@media (min-width: 1400px) {
  .home-opts-area .opts-images .opt-bottom-img {
    margin-top: -38%;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 336px;
    max-height: 336px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 336px;
  }

  .cart-item.new .item-image-cont {
    flex-basis: 20.5%;
    max-width: 20.5%;
  }

  .cart-item.new .item-details-cont {
    flex-basis: 79.5%;
    max-width: 79.5%;
  }

  .checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .label-email .info-text {
    max-width: 18%;
  }

  .footer .custom-container .footer-widget:nth-child(3) {
    flex-basis: 65%;
  }
}
@media not all and (min-resolution:.001dpcm){
  @supports (-webkit-appearance:none) {
    .product-detail-container .personalise-form .form-group input[type='date'] {
      height: 2.75rem;
    }
  }
}
