:root{
 --primary-font: 'Montserrat', sans-serif;
 --secondary-font: 'Montserrat', sans-serif;
 --third-font: 'theano_didotregular';
 --forth-font: 'Abel';
 --fifth-font: 'Roboto', sans-serif;
 --sixth-font: 'Inter', sans-serif;
 --fog-color: #DBD9D9;
 --graphite: #000000;
 --color-light: #757575;
 --light-grey-1: #f5f5f5;
 --dark: #374151;
}
html {
   overflow-x: hidden;
}
body {
  color: #000;
  font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: var(--secondary-font);
  font-weight: 400;
}
a,
a:hover,
a:focus  {
  color: #000000;
  font-family: var(--primary-font);
  text-decoration: none;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:not(:disabled):not(:disabled):active {
  color: #000;
  background-color: #eee;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
p {
  color: #000;
  font-family: var(--primary-font);
}
.default-breadcrumb {
  margin-bottom: 0.75rem;
}
.default-breadcrumb li,
.default-breadcrumb li a {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
  color: var(--color-light);
  font-weight: 500;
}
.arrow-breadcrumbs li.processed a {
  color: var(--color-light);
}
.arrow-breadcrumbs li.breadcrumb-item + .breadcrumb-item {
  padding-left: 1rem;
}
.arrow-breadcrumbs li.breadcrumb-item + .breadcrumb-item::before {
  padding-top: 0.125rem;
}
.default-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0;
}
.modal-popup.alert-popup .btns-cont .btn,
.modal-popup.alert-popup .btns-cont .btn:hover,
.modal-popup.alert-popup .btns-cont .btn:focus {
  font-size: 0.6875rem;
}
.modal-popup.alert-popup .btns-cont .btn-primary {
  color: #000 !important;
}
header.header {
  border-bottom: none;
  margin-bottom: 1.875rem;
}
body[data-pagetype="home"] header.header {
  margin-bottom: 0;
}
header .spacing {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
header .row.spacing {
  align-items: flex-start;
}
header.header .shipping li,
header.header .shipping li a {
  color: var(--primary-bg-color);
  font-size: 0.75rem;
  letter-spacing: 0.006em;
  line-height: 1.5rem;
  text-transform: uppercase;
}
header.header .shipping li img {
  max-width: 1.5rem;
}
header.header .shipping li:first-child {
  margin-right: 1.5rem;
}
header.header .shipping li .dropdown .dropdown-menu:after {
  background-image: url('https://static.techsembly.com/gXue5ruMVcc6w6ZCKhUWjbzW');
}
header .row.spacing .shipping li .dropdown .dropdown-menu.countries-dd {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
  border: none;
  left: 0!important;
  -webkit-transform: translateX(-42%)!important;
  transform: translateX(-42%)!important;
  padding: 0;
  right: 0;
  width: 220px;
}
header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont {
  background-color: var(--light-grey-1);
  border-radius: 0.125rem;
  padding-top: 1.6875rem;
  padding-bottom: 1.6875rem;
}
header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont div:not(:last-child) {
  margin-bottom: 0.5625rem;
}
header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.16em;
  padding: 0.5625rem 1.6875rem;
}
header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a:hover,
header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a:focus {
  background-color: #fff;
}
header.header .shipping li .dropdown .dropdown-menu .select-form,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences {
  display: none;
}
header.header .shipping li a.dropdown-toggle:after,
header .mob-top-links .dropdown-flag a.dropdown-toggle:after {
  display: none;
}
header.header .logo img {
  height: auto;
  width: 134px;
}
header.header .head-links li:last-child a {
  padding-right: 0;
}
header.header .head-links li a img {
  height: auto;
  max-width: 1.125rem;
}
header.header .head-links li.wishlist-cont,
header .mob-top-links li.wishlist-cont,
nav#sidebar ul li.wishlist-cont {
  display: none !important;
}
header.header .head-links li .cart-qty,
header .mob-top-links .cart-qty {
  height: 1rem;
  width: 1rem;
  font-size: 0.5rem;
  padding-top: 0;
}
header .mob-top-links .cart-qty {
  padding-top: 0.125rem;
}
header.header .head-links li .cart-qty {
  top: 1.5rem;
  right: -0.25rem;
}
header.header .search .search-item-form .nav-search-field,
.search .nav-search-field,
.mobile-search-box .nav-search-field {
  background-color: var(--fog-color);
  font-size: 0.75rem;
}
header.header .search .search-item-form .nav-search-field::placeholder,
.search .nav-search-field::placeholder,
.mobile-search-box .nav-search-field::placeholder {
  font-size: 0;
}
header.header .search .search-item-form button {
  background-color: var(--color-light);
  height: 2.0625rem;
  padding: 0;
  width: 2.0625rem;
}
header.header .search .search-item-form button img {
  height: auto;
  width: 1.25rem;
  margin-top: -0.1875px;
}
.mobile-search-box .btn {
  background-color: var(--color-light);
}
header .mob-search-cont {
  padding-bottom: 0.5rem;
}
header.header .menu-holder {
  display: none;
}
body[data-pagetype="home"] header.header .menu-holder {
  display: flex;
}
header.header .menu-holder>li {
  margin-right: 2.25rem;
}
header.header .menu-holder li a {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
header.header .menu-holder li a.main-category {
  padding-top: 0.875rem;
}
.home-banner .banner-title {
  display: none;
}
.home-banner .banner-heading {
  font-family: var(--primary-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.home-banner .banner-heading .sub-head {
  font-size: 1rem !important;
  line-height: 1.375rem;
}
.home-intro-container {
  max-width: 100%;
}
.home-opts-area .opts-images .opt-bottom-img {
  /*transform: translateY(-59%);*/
  margin-top: -52%;
}
.home-opts-area .opts-text-cont .opts-title {
  font-family: var(--third-font);
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.home-opts-area .opts-text-cont p {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  letter-spacing: 0.006em;
  margin-bottom: 0.9375rem;
}
.articles-list-cont .articles-list-wrapper {
  background-color: #EFE3E0;
  padding: 2.8125rem;
}
.articles-list-cont .articles-heading {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
}
.articles-list-cont .article-block {
  border-bottom: 0.0625rem solid #cbc1bf;
  padding-top: 1.5625rem;
  padding-bottom: 1.1875rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.articles-list-cont .art-blk-top-right {
  padding-left: 0.875rem;
}
.articles-list-cont .article-block .article-block-top {
  padding-bottom: 0.1875rem;
}
.articles-list-cont .top-mini-heading {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.articles-list-cont .art-heading {
  font-family: var(--third-font);
  font-size: 1.5rem;
  line-height: 1.625rem;
  letter-spacing: -0.03em;
}
.promo-section .section-title {
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin-bottom: 1.5rem;
}
.promo-section .banner-title {
  display: none;
}
.promo-holder .promo-box .promo-content {
  display: none;
}
.promo-holder .promo-box:first-child {
  margin-right: 1.875rem;
}
.promo-desc-cont .promo-title-new {
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin-top: 0.125rem;
  margin-bottom: 0.625rem;
}
.promo-desc-cont .promo-sub {
  font-family: var(--third-font);
  letter-spacing: -0.03em;
  line-height: 1.08;
}
.promo-desc-cont .promo-link {
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.07em;
  text-decoration: underline;
}
.sign-up-section {
  background-color: transparent;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.sign-up-section .sign-up-inner-cont {
  border: 1px solid rgba(142, 142, 142, 0.2);
  box-shadow: 0px 5px 8px 2px #8e8e8e;
  padding: 1.875rem;
  width: 100%;
}
.sign-up-section .sign-up-inner {
  border: 0.0625rem solid #000;
  background-image: url('https://static.techsembly.com/efbNSouEegQSpfamQozE7V6c');
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  display: flex;
  justify-content: center;
}
.sign-up-section h2 {
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-top: 1.375rem;
  margin-bottom: 0.625rem !important;
}
.sign-up-section .sign-up-container .signup-text {
  padding-top: 0 !important;
  width: 100%;
}
.sign-up-section .sign-up-container .signup-text p {
  color: #000 !important;
  font-size: 0.8125rem;
  font-weight: 300;
  letter-spacing: 0.006em;
}
.sign-up-section .sign-up-container .sign-up-form {
  margin-bottom: 0.625rem;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  border: 0.0625rem solid #000;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  height: 2.0625rem;
  letter-spacing: 0.006em;
  width: 18.25rem;
  margin-right: 0;
  text-align: left;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
  color: var(--color-light);
  font-style: normal;
  text-align: left;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  background-color: transparent;
  border: 0.0625rem solid #000;
  color: #000;
  font-size: 0.8125rem;
  height: 2.0625rem;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.sign-up-section .sign-up-container .privacy-note-cont,
.sign-up-section .sign-up-container .privacy-note-cont a {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 1.25rem;
  letter-spacing: 0.006em;
}
.sign-up-section .sign-up-container .privacy-note-cont b {
  font-weight: 700;
}
.sign-up-section .sign-up-container .privacy-note-cont {
  margin-bottom: 1.375rem;
}
/*product detail*/
.product-detail-container .product-holder .product-detail {
  height: auto;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  width: 100%;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
  display: none;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews,
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}
.product-detail-container .product-holder .product-detail .shipping {
  display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
}
.product-detail-container .product-holder .product-order .nav-tabs {
  background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item a h4 {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border-bottom: 1px solid var(--color-light);
  padding: 0.5rem 0;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  border-bottom: 1px solid #000000;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;
}
.product-detail-container form .form-group label,
.product-detail-container .personalise-form .form-group label {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}
.product-detail-container .product-holder form .form-group .form-control,
.product-detail-container .personalise-form .delivery-form .delivery-fields {
  border-color: #000;
  color: #000;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}
.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'],
.product-detail-container .personalise-form .form-group select {
  max-height: 3.375rem;
}
.product-detail-container form .form-group select.form-control {
  background-image: url('https://static.techsembly.com/hxU6xNQo12G8SSsVPPXPk6bS');
  height: 3.375rem;
}
.product-detail-container .personalise-form .delivery-form .info-text {
  font-size: 0.75rem;
}
.product-detail-container .personalise-form .form-group .order-btn {
  height: 3.125rem;
  line-height: 1rem;
}
.product-detail-container .personalise-form .form-group .order-input {
  border-radius: 0.1875rem;
  height: 53px;
}
.product-detail-container .product-carousel-desktop .owl-nav button,
.product-detail-container .product-carousel-desktop .owl-nav button:hover {
  border: 1px solid #6d6d6d !important;
  border-radius: 0.125rem !important;
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
.product-carousel-desktop .owl-nav button.owl-prev,
.product-carousel-desktop .owl-nav button.owl-prev:hover {
  background-image: url('https://static.techsembly.com/bbVcDQwSbCJLyE9qdzwF82tP');
}
.product-carousel-desktop .owl-nav button.owl-next,
.product-carousel-desktop .owl-nav button.owl-next:hover {
  background-image: url('https://static.techsembly.com/GSsxPnTnm4i64a9tNoeo3ngs');
}
.product-detail-container .product-holder .share-link {
  display: none !important;
}
.product-carousel-desktop .owl-nav [class*='owl-']:hover {
  background-color: transparent !important;
  cursor: pointer;
}
app-product-detail .container-fluid.BorderBottom {
  border: none;
}
app-product-detail app-related-products[title='Recently Viewed'] {
  display: none;
}
/*end product detail*/
/*cart*/
.container.custom-container.cart-container {
  font-family: var(--primary-font);
  padding-top: 0.875rem !important;
}
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .address-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading,
.custom-container.checkout .left-panel .shipping-form-cont-inner .billing-heading,
.custom-container.checkout .delivery-methods-cont .billing-heading {
  color: #000;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}
app-cart .custom-container.cart-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading {
  margin-bottom: 1.1875rem !important;
}
.custom-container.cart-container .card.order-summary-cont,
.custom-container.checkout .card.order-summary-cont {
  background-color: #faf9f7;
  border: none;
  box-shadow: none;
}
.container.custom-container.cart-container .cart-login-cont {
  background-color: #faf9f7;
}
.custom-container.cart-container .vendor-items-cont {
  padding-top: 1.125rem !important;
}
.custom-container.cart-container .vendor-items-cont .card,
.custom-container.checkout .card.order-summary-cont {
  border: none;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
  border-bottom-color: #d3e6fe;
  padding-top: 1.5rem !important;
  padding-bottom: 0.6875rem;
}
.container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading {
  font-family: var(--third-font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
}
.container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading .delivered-by {
  margin-right: 0 !important;
}
.container.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.custom-container.cart-container .cart-item.new .item-details .item-name,
.cart-item.new .item-opts,
.cart-item.new .item-opts a,
.cart-item.new .unit-price,
.cart-container .cart-item.new .item-details .unit-total-price,
.custom-container.cart-container .cart-item.new a,
.cart-item.new .col-label {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.cart-item.new .item-opts {
  margin-bottom: 0.5rem;
}
.cart-item.new .item-opts a {
  text-transform: capitalize;
}
.cart-item.new .unit-price,
.cart-container .cart-item.new .item-details .unit-total-price {
  font-weight: 500;
}
.cart-item.new .pro-badges-cont,
.cart-item.new .unit-attributes-cont {
  display: none !important;
}
.custom-container.cart-container .vendor-items-cont a.edit-item-new {
  display: none;
}
.cart-item.new .item-details .item-qty-cont {
  border-color: #dbd9d9;
}
.cart-container .cart-item.new .item-qty-cont .item-dec,
.cart-container .cart-item.new .item-qty-cont .item-inc {
  background-color: #faf9f7;
}
.cart-item.new .item-details .item-qty-cont .item-dec {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.cart-item.new .item-details .item-qty-cont .item-dec {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.cart-item.new .form-control {
  font-size: 0.75rem;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  font-family: var(--third-font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  border-bottom-color: #d3e6fe;
  padding-bottom: 0.5rem !important;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}
.container.custom-container.cart-container .card.order-summary-cont .card-body {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.container.custom-container.cart-container .cart-login-cont .panel-heading {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
  text-align: left;
  text-transform: capitalize;
}
.container.custom-container.cart-container .cart-login-cont form input.form-control {
  border-color: #dbd9d9;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.container.custom-container.cart-container .cart-login-cont form input.form-control::placeholder {
  color: var(--color-light);
}
.cart-login-cont form.cart-login-form .forget-psw-link {
  color: var(--color-light);
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.cart-login-cont form.cart-login-form .form-submit-cont {
  border-top-color: #d3e6fe;
  border-bottom: none;
}
.container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: #eee;
  border-color: #eee;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}
.container.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
  color: #000;
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.container.custom-container.cart-container .continue-btn-new {
  border-color: #000;
  border-radius: 0;
  color: #000;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
  padding: 0.875rem 1.5rem;
  text-transform: capitalize;
}
form.guestCheckout-form .btn.submit img {
  margin-top: -0.1875rem;
}
/*end cart*/
/*checkout*/
.custom-container.checkout-footer {
  display: none;
}
.order-summary-cont .order-totals-container {
  background-color: #faf9f7;
}
.custom-container.checkout .address-form.new .form-control,
.custom-container.checkout .shipping-form-container input[type='text'],
.custom-container.checkout .shipping-form-container input[type='email'],
.custom-container.checkout .shipping-form-container input[type='password'] {
  color: #000;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.custom-container.checkout .address-form.new .form-control::placeholder,
.custom-container.checkout .shipping-form-container .form-control::placeholder {
  color: var(--color-light);
  font-size: 0.75rem;
}
.custom-container.checkout .shipping-form-container .form-group label {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.custom-container.checkout .shipping-form-container .checkbox-cont input:checked ~ .checkmark {
  background-color: #000;
  border-color: #000;
}
.custom-container.checkout .shipping-form-container .checkbox-cont input:checked ~ .checkmark::after {
  top: 0.375rem;
}
.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item {
  color: var(--dark);
  font-family: var(--sixth-font);
}
.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item-left {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.order-summary-cont .order-totals-container .sub-total-holder {
  border-bottom-color: #d3e6fe;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.order-summary-cont .order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 1.625rem;
}
.order-totals-container .sub-total-holder .sub-price {
  font-weight: 500;
}
.order-summary-cont .order-totals-container .total-holder {
  padding-top: 0.5625rem;
}
.order-summary-cont .order-totals-container .total-holder .order-total-item .total-desc {
  font-family: var(--third-font);
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
}
.order-summary-cont .order-totals-container .total-holder .total-price {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}
.checkout .shipping-form-container .btn.btn-submit,
.checkout .shipping-form-container .btn.btn-submit:hover,
.checkout .shipping-form-container .btn.btn-submit:focus {
  background-color: #fff;
  border: 0.0625rem solid #000;
  border-radius: 0;
  color: #000;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
  padding: 0.875rem 1.5rem;
  text-transform: capitalize;
}
.checkout .delivery-methods-cont .card .card-body,
.checkout .delivery-methods-cont .card .card-body .row-head {
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.checkout .delivery-methods-cont .card .card-body .card-row:not(:last-child) {
  border-bottom-color: #dbd9d9;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
  color: var(--dark);
  font-family: var(--third-font);
  letter-spacing: 0.96px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  background-color: #dbd9d9;
  color: var(--color-light);
  font-size: 0.75rem;
  line-height: 1.8125rem;
  padding: 0.375rem 0.5rem 0.375rem 0.375rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .vendor-card .card-header-inner {
  align-items: center;
  border-bottom-color: #d3e6fe !important;
}
.checkout .delivery-methods-cont .vendor-card .card-body {
  padding-top: 1.8125rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item {
  color: var(--dark);
  font-family: var(--sixth-font);
  letter-spacing: 0;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container,
.checkout .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
  background-color: #faf9f7;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
  color: #000;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.8125rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .label-email .info-text {
  max-width: 30%;
  padding-left: 0;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont .col-md-6.px-md-3 {
  padding-left: 0 !important;
}
.checkout .shipping-form-container .form-control {
  border-color: #dbd9d9;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  font-size: 0.75rem;
  line-height: 1.8125rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
  padding: 0 !important;
  margin-top: 0 !important;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont .form-group {
  margin-bottom: 0.75rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
  padding-bottom: 0;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
  padding-bottom: 0 !important;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:first-child {
  padding-top: 0;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption,
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.8125rem;
}
.checkout .payment-form-container {
  font-size: 0.75rem;
  line-height: 1.8125rem;
}
.checkout .payment-form-container .payments-methods-cont .card {
  border: 0.125rem solid #000;
}
.checkout .payment-form-container .radio-container input:checked ~ .checkmark {
  background-color: #000;
  border-color: #000;
}
.checkout .payment-form-container .radio-container .checkmark::after {
  background: #000;
  top: 9.5px;
  left: 1.25px;
  width: 17.5px;
  height: 17.5px;
}
.checkout .payment-form-container .radio-container .pay-method-name {
  color: var(--color-light);
  font-weight: 300;
  margin-top: 0;
  letter-spacing: 0.96px;
}
.checkout .payment-form-container .payments-methods-cont,
.checkout .payment-form-container .section-cont {
  border-bottom-color: #d3e6fe;
}
.checkout .payment-form-container .section-heading {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.checkout .payment-form-container .card .card-body {
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.checkout .payment-form-container .section-cont .card {
  border: none;
}
.checkout .payment-form-container .address-card .card-body .row-head {
  padding-right: 0;
  flex-basis: 10%;
  max-width: 10%;
}
.checkout .payment-form-container .card.blue-light-bg {
  background-color: #faf9f7;
  border-color: #faf9f7;
}
.checkout .payment-form-container .form-group label {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.checkout .payment-form-container .checkbox-cont input:checked ~ .checkmark {
  background-color: #000;
  border-color: #000;
}
.checkout .payment-form-container .checkbox-cont .checkbox-note {
  margin-top: 0;
}
.checkout .payment-form-container input[type='text'],
.checkout .payment-form-container input[type='email'],
.checkout .payment-form-container input[type='password'] {
  font-size: 0.75rem;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.checkout .payment-form-container .form-control::placeholder {
  color: var(--color-light);
  font-size: 0.75rem;
}
.checkout .order-totals-container .promo-cont a {
  color: #000;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.checkout .payment-form-container .btn.btn-submit,
.checkout .payment-form-container .btn.btn-submit:hover,
.checkout .payment-form-container .btn.btn-submit:focus {
  background-color: #fff;
  border: 0.0625rem solid #000;
  color: #000;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
  padding: 0.875rem 1.5rem;
  text-transform: capitalize;
}
.custom-container.checkout .payment-form-container .password-note {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.checkout-copyright-cont {
  font-family: var(--sixth-font);
  font-size: 0.9375rem;
  line-height: 1.125rem;
  padding: 0.875rem 1.0625rem;
}
.checkout-copyright-cont a {
  color: #2480f9;
  font-family: var(--sixth-font);
  font-size: 0.9375rem;
  line-height: 1.125rem;
}
.checkout-copyright-cont .ts-copyright {
  color: #6b7280;
}
/*end checkout*/
/*user and other pages*/
.breadcrumb-heading {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}
.custom-container .login-signup-tabs-cont .panel-heading {
  font-family: var(--third-font);
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin-bottom: 1.1875rem;
  text-align: left;
  text-transform: capitalize;
}
.custom-container .login-signup-tabs-cont .tab-panel-cont {
  padding-top: 0 !important;
}
.custom-container .login-signup-tabs-cont form .form-group:not(:last-child) {
  margin-bottom: 1rem !important;
  padding-top: 0 !important;
}
.custom-container .login-signup-tabs-cont label {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}
.custom-container .login-signup-tabs-cont label.d-flex {
  align-items: center;
  color: var(--color-light);
  line-height: 1.8125rem;
  margin-bottom: 0;
}
.custom-container .login-signup-tabs-cont label input[type="checkbox"] {
  margin-top: 0;
}
.container.custom-container .login-signup-tabs-cont form label input[type="checkbox"] + span {
  margin-top: 0;
}
.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.8125rem;
  letter-spacing: 0.96px;
}
.custom-container .login-signup-tabs-cont form .form-control {
  border-color: #000;
  color: #000;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}
.custom-container .login-signup-tabs-cont form .form-control::placeholder {
  color: #000;
  font-style: normal;
}
.custom-container .login-signup-tabs-cont form input[type='text'],
.custom-container .login-signup-tabs-cont form input[type='email'],
.custom-container .login-signup-tabs-cont form input[type='password'] {
  height: 3.375rem;
}
.container.custom-container .login-signup-tabs-cont form .btn.submit,
.container.custom-container .login-signup-tabs-cont form .btn.submit:hover,
.container.custom-container .login-signup-tabs-cont form .btn.submit:focus {
  background-image: none;
  background-color: #000;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 2.88px;
}
.custom-container .login-signup-tabs-cont form .form-group:nth-last-child(2) {
  margin-bottom: 0 !important;
  padding-bottom: 1rem;
}
/*end user and other pages*/
/*footer*/
footer.footer {
  border-top: none;
  margin-top: 0;
  padding-top: 3.625rem;
}
footer .container.custom-container {
  max-width: 100%;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.footer .footer-widget .widget-title {
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.footer .footer-widget .widget-content {
  padding-top: 1.1875rem;
}
.footer .footer-widget .widget-content ul:not(:last-child) {
  margin-bottom: 0.625rem;
}
.footer .footer-widget .widget-content ul li a {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.006em;
}
.footer .footer-widget .widget-content ul li a img {
  max-width: 1.5rem;
}
.footer .footer-widget .widget-content .social-links li {
  width: auto;
}
.footer .footer-widget .widget-content .social-links li:not(:last-child) {
  margin-right: 0.625rem;
  margin-bottom: 0.5rem;
}
.footer .mobile-footer .list-group .list-group-holder:last-child {
  display: none;
}
.footer .mobile-footer .list-group .list-group-holder .collapsing {
  transition: none;
}
.footer .copyright-cont {
  border-top: 0.0625rem solid #000;
  padding-top: 2rem !important;
  padding-bottom: 2.625rem !important;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
  margin-right: 0.4375rem;
}
.footer .copyright-cont .pay-methods-avail .meth-link img {
  max-width: 3rem;
}
.footer .copyright-cont .powered-by div:not(.powered-link-cont),
.footer .copyright-cont .powered-by + .col-lg-3 {
  display: none;
}
.footer .copyright-cont .powered-by,
.footer .copyright-cont .powered-by a {
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.006em;
}
/*end footer*/
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
  header .row.spacing {
    align-items: center;
  }
  .promo-holder .promo-box {
    height: auto;
  }
}

@media (max-width: 767.98px) {
  nav#sidebar {
    top: 86px;
    height: calc(100% - 86px);
  }
  .mob-overlay {
    top: 88px;
  }
  header .row.spacing {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .mobile-search-mini-form {
    padding-left: 0.625rem !important;
    padding-right: 0.625rem !important;
  }
  .sign-up-section .sign-up-container {
    padding-top: 5rem;
  }
  .sign-up-section .sign-up-container .sign-up-form,
  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .sign-up-section .sign-up-container {
    padding-top: 8rem;
  }
}

@media (min-width: 768px) {
  .product-detail-container .product-holder .product-detail {
    margin-bottom: 0 !important;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
    margin-bottom: 0.75rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .sign-up-section .sign-up-inner {
    background-size: 100px;
  }
}
@media (min-width: 992px) {
  header.header .shipping {
    padding-top: 3.75rem;
  }
  header.header .logo {
    padding-top: 2.3125rem;
    padding-bottom: 2.3125rem;
  }
  header.header .head-links {
    padding-top: 1.5rem;
  }
  header.header .search .search-item-form {
    width: 13.3125rem;
  }
  header.header .search .search-item-form .nav-search-field {
    height: 2.0625rem;
    max-width: 11.25rem;
  }
  header.header .menu-holder>li:hover>div.empty {
    display: none;
  }
  .home-banner .banner-heading {
    font-size: 2.8125rem;
    top: 40.5%;
    left: 7.625% !important;
    line-height: 3.625rem;
  }
  .home-opts-area {
    align-items: flex-start;
    justify-content: space-between;
  }
  .home-opts-area .opts-images .opt-top-img {
    margin-top: -2.5rem;
  }
  .home-opts-area .opts-images .opt-bottom-img {
    margin-left: 30px;
  }
  .articles-list-cont {
    margin-top: -34%;
    max-width: 30%;
  }
  .promo-section {
    padding-top: 1.5rem;
    padding-bottom: 1.875rem;
  }
  .promo-section .custom-container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .promo-section .section-title {
    font-size: 2.1875rem;
    margin-bottom: 3.125rem;
  }
  .promo-desc-cont .promo-title-new {
    font-size: 2.1875rem;
  }
  .promo-desc-cont .promo-sub {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  /*product detail*/
  .product-detail-container .product-holder {
    padding-top: 1.625rem !important;
  }
  .product-detail-container .product-carousel-cont {
    flex-basis: 53.75%;
    max-width: 53.75%;
  }
  .product-detail-container .product-inner {
    flex-basis: 46.25%;
    max-width: 46.25%;
    padding-left: 1.625rem;
  }
  /*end product detail*/
  /*cart*/
  .custom-container.cart-container .cart-left-cont {
    padding-right: 109px;
  }
  .cart-item.new .item-image-cont {
    flex-basis: 28.5%;
    max-width: 28.5%;
  }
  .cart-item.new .item-details-cont {
    flex-basis: 71.5%;
    max-width: 71.5%;
  }
  /*end cart*/
  /*checkout*/
  .custom-container.checkout {
    padding-top: 0.9375rem !important;
  }
  .container.custom-container.checkout {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .checkout .shipping-form-container .left-panel,
  .checkout .payment-form-container .left-panel {
    padding-right: 109px;
  }
  .checkout .delivery-methods-cont,
  .checkout .payment-form .payment-form-container {
    padding-top: 2rem !important;
  }
  .delivery-methods-cont .vendor-cards-holder .vendor-card .card-header-inner {
    padding-top: 0.4375rem !important;
    padding-bottom: 0.75rem !important;
  }
  /*end checkout */
  .custom-container .login-signup-tabs-cont .left-panel {
    padding-bottom: 0;
  }
  .footer .custom-container .footer-widget:nth-child(3) {
    flex-basis: 49%;
  }
  .footer .copyright-cont {
    margin-top: 5rem;
  }
  .footer .copyright-cont div:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .copyright-cont .pay-methods-avail {
    flex-basis: 50%;
    max-width: 50%;
  }
  .footer .copyright-cont .powered-by {
    align-items: flex-end !important;
    text-align: right !important;
    padding-right: 0;
  }
}
@media (min-width: 1200px){
  header.header .head-links li .add-to-basket .dropdown-menu:after {
    right: 0.3125rem;
  }
  .home-banner .banner-heading {
    font-size: 3.5rem;
  }
}
@media (min-width: 1280px){
  body[data-pagetype='product'] .product-detail-container, .related-products .custom-container .container {
    max-width: 1280px;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
@media (min-width: 1400px){
  .home-opts-area .opts-images .opt-bottom-img {
    margin-top: -38%;
  }
  .cart-item.new .item-image-cont {
    flex-basis: 20.5%;
    max-width: 20.5%;
  }
  .cart-item.new .item-details-cont {
    flex-basis: 79.5%;
    max-width: 79.5%;
  }
  .checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .label-email .info-text {
    max-width: 22%;
  }
  .footer .custom-container .footer-widget:nth-child(3) {
    flex-basis: 65%;
  }
}
