<div class="row flex-wrap home-opts-area">
  <div class="col-12 col-lg-4 opts-images px-0 d-none d-lg-block">
    <img class="opt-top-img" src="https://static.techsembly.com/oz82YReLZxsZgy5zM3BQZAVg" width="435" alt="opt-top-img"/>
    <img class="opt-bottom-img" src="https://static.techsembly.com/wczsbVdW5Qr1Cfj2cS4Y5uNq" width="476" alt="opt-bottom-img" />
  </div>
  <div class="col-12 col-lg-4 opts-text-cont pt-lg-5 mt-lg-5 px-lg-5">
    <div class="col-12 opt-text-inner pt-5 pr-lg-4">
      <h2 class="opts-title my-lg-3">Unlock a World of Opportunities</h2>
      <p>Give the gift of an unforgettable tomorrow.</p>
      <p>Belmond Gift Cards can be redeemed for a delightful afternoon tea or a relaxing massage, an expert-led masterclass or used towards the trip of a lifetime. Whatever your recipient chooses, Belmond ensures an incredible experience at any of our hotels, restaurants, trains, boats or safaris.</p>
      <p>Gift Cards can be purchased as physical gifts, stylishly packed and delivered. eGift cards can be sent digitally, immediately.</p>
    </div>
    <div class="col-12 opt-text-img-cont pt-5 mt-lg-5 pb-4 pb-lg-0">
      <div class="pt-3">
        <img class="mt-lg-4" src="https://static.techsembly.com/UQV9vohoJ9HsUDGaV7UgbyMi" width="282" alt="image"/>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 px-0 articles-list-cont">
    <div class="col-12 articles-list-wrapper">
      <h2 class="articles-heading mb-0 text-uppercase">where can you use your belmond gift cards?</h2>
      <div class="articles-list">
        <div class="article-block" id="article-1">
          <div class="article-block-top d-flex w-100">
            <div class="img-cont">
              <img src="https://static.techsembly.com/vsU9FMgEAqjafhC5QSE5RYZr" width="81" alt="article-img"/>
            </div>
            <div class="art-blk-top-right">
              <a class="top-min-heading-link" href="#"><h6 class="top-mini-heading">HOTELS</h6></a>
              <a class="art-heading-link" href="#"><h2 class=art-heading>Iconic Hotel Stays</h2></a>
            </div>
          </div>
          <div class="article-block-bottom pt-3 w-100">
            Sink into a personal  and storied sanctuary, heartbeats away from natural wonders, platinum sands or thriving city centres.
          </div>
        </div>
        <div class="article-block" id="article-2">
          <div class="article-block-top d-flex w-100">
            <div class="img-cont">
              <img src="https://static.techsembly.com/858DX3DQ6wubkmVCJaqAFQza" width="81" alt="article-img"/>
            </div>
            <div class="art-blk-top-right">
              <a class="top-min-heading-link" href="#"><h6 class="top-mini-heading">Trains</h6></a>
              <a class="art-heading-link" href="#"><h2 class=art-heading>Legendary Train Trips</h2></a>
            </div>
          </div>
          <div class="article-block-bottom pt-3 w-100">
            Journey into the unforgettable, whether crossing Europe on the Venice Simplon-Orient-Express or soaring through the Andes.
          </div>
        </div>
        <div class="article-block" id="article-3">
          <div class="article-block-top d-flex w-100">
            <div class="img-cont">
              <img src="https://static.techsembly.com/eWP28e7yiJ3RMYQgEBcTUvYC" width="81" alt="article-img"/>
            </div>
            <div class="art-blk-top-right">
              <a class="top-min-heading-link" href="#"><h6 class="top-mini-heading">Boats</h6></a>
              <a class="art-heading-link" href="#"><h2 class=art-heading>Exceptional Boat Journeys </h2></a>
            </div>
          </div>
          <div class="article-block-bottom pt-3 w-100">
            Wind past picture-perfect French villages, ancient chateaux and watercolour scenes in style–life is always richer on the water.
          </div>
        </div>
        <div class="article-block" id="article-4">
          <div class="article-block-top d-flex w-100">
            <div class="img-cont">
              <img src="https://static.techsembly.com/k9KovFN8DhCg9cNhWDzZqDUW" width="81" alt="article-img"/>
            </div>
            <div class="art-blk-top-right">
              <a class="top-min-heading-link" href="#"><h6 class="top-mini-heading">Safaris</h6></a>
              <a class="art-heading-link" href="#"><h2 class=art-heading>Pulse-racing Safaris</h2></a>
            </div>
          </div>
          <div class="article-block-bottom pt-3 w-100">
            Be swept up in the magical drama of Botswana, having breakfast with elephants and exploring the delta on horseback.
          </div>
        </div>
        <div class="article-block" id="article-5">
          <div class="article-block-top d-flex w-100">
            <div class="img-cont">
              <img src="https://static.techsembly.com/6mBepaQATQBgd1dN6HFJjtJx" width="81" alt="article-img"/>
            </div>
            <div class="art-blk-top-right">
              <a class="top-min-heading-link" href="#"><h6 class="top-mini-heading">RESTAURANTS</h6></a>
              <a class="art-heading-link" href="#"><h2 class=art-heading>Incomparable Dining Experiences</h2></a>
            </div>
          </div>
          <div class="article-block-bottom pt-3 w-100">
            From Michelin-starred dining spots to chic afternoon teas, take a seat and find cuisine that’s truly out of this world.
          </div>
        </div>
        <div class="article-block" id="article-6">
          <div class="article-block-top d-flex w-100">
            <div class="img-cont">
              <img src="https://static.techsembly.com/h68Jju8awvz1h6zS3V9ZKU26" width="81" alt="article-img"/>
            </div>
            <div class="art-blk-top-right">
              <a class="top-min-heading-link" href="#"><h6 class="top-mini-heading">ADVENTURES & TOURS</h6></a>
              <a class="art-heading-link" href="#"><h2 class=art-heading>Journeys of a Lifetime</h2></a>
            </div>
          </div>
          <div class="article-block-bottom pt-3 w-100">
            Whether exploring the wonders of Peru or touring through Italy, our travel experiences can create a dream itinerary.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
