:root {
  --primary-font: 'Optima';
  --primary-font-italic: 'Optima Italic';
  --primary-font-med: 'Optima Medium';
  --primary-font-bold: 'Optima Bold';
  --secondary-font: 'Optima';
  --color-white: #fff;
  --greish-white: #F0EFED;
  --space: #fafafa;
  --accent: #212325;
  --color-black: #000000;
}

@font-face {
  font-family: 'GothamBook';
  src: url('https://bitbucket.org/TSTechsembly/jscss/raw/e7071cf8b67e11a1a06d6ff3c08895779634f093/rosewood/fonts/gotham/Gotham-Book.eot');
  src: url('https://bitbucket.org/TSTechsembly/jscss/raw/e7071cf8b67e11a1a06d6ff3c08895779634f093/rosewood/fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('https://bitbucket.org/TSTechsembly/jscss/raw/e7071cf8b67e11a1a06d6ff3c08895779634f093/rosewood/fonts/gotham/Gotham-Book.ttf') format('truetype'),
    url('https://bitbucket.org/TSTechsembly/jscss/raw/e7071cf8b67e11a1a06d6ff3c08895779634f093/rosewood/fonts/gotham/Gotham-Book.woff') format('woff'),
    url('https://bitbucket.org/TSTechsembly/jscss/raw/e7071cf8b67e11a1a06d6ff3c08895779634f093/rosewood/fonts/gotham/Gotham-Book.woff2') format('woff2');
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-family: var(--secondary-font);
}

a,
a:hover,
a:focus {
  color: var(--color-black);
  font-family: var(--primary-font);
  text-decoration: none;
}

.btn.btn-primary {
  width: auto;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #fff;
  letter-spacing: 1.4px;
  height: auto;
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active {
  background-color: var(--primary-bg-color);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

header.header {
  border-bottom: none;
  margin-bottom: 0;
  background-color: #ffffff;
}

header .row.spacing {
  align-items: flex-start;
}

header.header .shipping {
  padding-top: 1.875rem;
}

header.header .shipping li {
  margin-right: 0.5rem;
}

header.header .shipping li img {
  max-width: 25px;
}

header.header .shipping li,
header.header .shipping li a {
  color: var(--accent);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 2;
}

header .mob-top-links li:nth-child(3),
header .mob-top-links li:nth-child(4) {
  display: none;
}

header.header .shipping li:first-child,
header.header .shipping li a.dropdown-toggle:after,
header .mob-top-links .dropdown-flag a.dropdown-toggle:after {
  display: none;
}

header .mob-top-links .cart-qty {
  line-height: 17px;
  padding-right: 0;
}

header.header .shipping li a.dropdown-toggle,
header .mob-top-links .dropdown-flag a.dropdown-toggle {
  pointer-events: none;
}

header.header .logo img {
  height: auto;
  width: 225px;
}

header.header .head-links {
  padding-top: 2px;
  padding-bottom: 0 !important;
}

header.header .head-links li a {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0.3125rem;
}

header.header .head-links li:last-child a {
  padding-right: 0;
}

header.header .head-links li a img {
  height: auto;
  max-width: 16.5px;
}

header.header .head-links li .add-to-basket .dropdown-menu h4,
header .mob-top-links .add-to-basket .dropdown-menu h4 {
  text-transform: capitalize;
}

header.header .head-links li .add-to-basket .dropdown-menu:after {
  right: 5px !important;
}

header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
  min-height: auto;
}

header.header .head-links li .add-to-basket .dropdown-menu .btn {
  font-weight: 700;
  font-size: 13px;
  height: 43px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

header.header .search .search-item-form {
  width: 12.5rem;
}

header.header .search .search-item-form .nav-search-field,
.search .nav-search-field {
  background-color: var(--greish-white);
}

header.header .search .search-item-form .nav-search-field {
  font-size: 0.75rem;
  max-height: 1.5625rem;
  height: auto;
}

header.header .search .search-item-form button {
  padding: 0 0.3125rem;
  max-height: 1.5625rem;
}

header.header .search .search-item-form button img {
  height: auto;
  width: 1.25rem;
  margin-top: -1px;
}

header.header .search .search-item-form .nav-search-field::placeholder,
.search .nav-search-field::placeholder {
  font-size: 0;
}

header.header .menu-holder>li:hover>div.empty {
  display: none;
}

header.header .menu-holder li a {
  color: var(--accent);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 1.17px;
  padding-bottom: 9px;
}

.home-banner .banner-title {
  display: none;
}

.home-banner .banner-heading {
  font-family: var(--primary-font);
  font-weight: 400;
}

.home-banner .banner-heading .sub-head {
  font-size: 0.875rem !important;
  line-height: 1.0625rem !important;
  padding-top: 20px;
  text-transform: capitalize;
}

.home-banner .banner-heading .discover-btn-cont {
  padding-top: 40px;
  padding-bottom: 0 !important;
}

.container.home-intro-container.custom-form-container {
  background-color: var(--greish-white);
  display: none;
  max-width: 100%;
}

.filters-form-cont,
.filters-form-cont .fields-wrapper {
  margin: auto;
}

.filters-form-cont form .form-group {
  background-color: var(--color-white);
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}

.filters-form-cont form .form-group.type-cont {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.filters-form-cont form select.form-control {
  background-image: url('https://static.techsembly.com/nBBbQqXtcnvnvcHeUT2o6PZD');
  background-position-x: 90%;
  background-position-y: center;
  background-size: 0.875rem;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 400;
  max-height: 1.8125rem;
  line-height: 1.3125rem;
  letter-spacing: 1.17px;
  -webkit-appearance: none;
}

.filters-form-cont form select.form-control#type {
  border-right: 0.0625rem solid rgba(33, 35, 37, 0.13);
}

.filters-form-cont .btn {
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 1.4px;
  padding: 0.8125rem;
}

.home-slider .section-title {
  margin-top: 2.5rem;
  line-height: 25px !important;
}

.home-slider .post-tile .post-link {
  font-weight: 400;
  margin-top: 1rem;
  width: 100%;
}

.travel-section .left-panel {
  background-color: var(--accent);
  color: var(--color-white);
  z-index: 998;
}

.travel-section .left-panel .left-panel-inner {
  padding: 0.125rem;
}

.travel-section .travel-heading {
  font-weight: 400;
}

.travel-section .travel-heading-small {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.0625rem;
}

.travel-section .btn,
.home-banner .banner-heading .discover-btn,
.featured-vendors-area .promo-holder .promo-box .promo-content .discover-btn {
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 0.8125rem 2.1875rem;
  width: auto;
  margin: 0 !important;
}

.promo-holder .promo-box .promo-content {
  left: 32px !important;
  top: 69%;
  font-family: var(--primary-font);
  font-weight: 400;
}

.promo-holder .promo-box .promo-title {
  font-size: 1.75rem;
  line-height: 2.75rem;
}


.promo-section .section-title {
  margin-top: 44px;
  margin-bottom: 0.9375rem;
  text-transform: capitalize !important;
}

.section-title {
  font-weight: 400;
  font-size: 21px;
}

.promo-holder .promo-box .promo-content .promo-desc {
  padding-top: 15px;
}

.wrapper .featured-client {
  display: none;
}

.sign-up-section {
  background-color: #ffffff;
  margin: 22px auto 36px;
  margin-bottom: 40px;

}

.sign-up-inner-section {
  background-image: url(https://static.techsembly.com/58YmWd7iKgPfRMXb78a4jXYv);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 352px;
  width: 100%;
}

.sign-up-section h2 {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.sign-up-section .sign-up-form .email-error>div {
  color: white;
}

.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  margin-right: 0;
  width: 380px;
  height: 50px;
}

input[type='password'] {
  font-family: 'Roboto', sans-serif !important;
}

.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
  font-size: 0;
}

.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  font-family: 'Optima';
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  width: 183px;
  height: 50px;
  background: #434551;
}

.footer {
  background-color: var(--accent);
  padding: 13px 15px 48px 15px;
  margin: 0;
}

.footer .footer-widget .widget-title {
  color: var(--color-white);
  font-size: 0.6875rem;
  line-height: 1rem;
  text-transform: uppercase;
}

.footer .footer-widget:not(:last-child) .widget-title {
  display: none;
}

.footer .footer-widget:last-child .widget-title {
  padding-top: 1.313rem;
  font-weight: 400;
}

.footer .footer-widget .widget-content ul li {
  margin-bottom: 3px;
}

.footer .footer-widget .widget-content ul li a,
footer.footer a {
  color: var(--color-white);
  font-size: 0.6875rem;
  line-height: 1.3125rem;
  letter-spacing: 1.17px;
}

.footer .footer-widget .widget-content .social-links li {
  width: auto !important;
  margin-left: 25px;
}

.footer .footer-widget .widget-content .social-links li img {
  width: 20px;
}

.footer .footer-widget.widget-col-1 {
  flex-grow: 2;
}

.footer .footer-widget.widget-col-2 {
  flex-grow: 14;
}

.footer .copyright-cont {
  margin-top: 84px;
}

.footer .copyright-cont .powered-by div:first-child {
  display: none;
}

.footer .copyright-cont .pay-methods-avail .meth-link:not(:last-child) {
  margin-right: 6.92px;
}


.footer .copyright-cont .pay-methods-avail .meth-link img {
  max-width: 48px;
}

.footer .copyright-cont .powered-by .powered-link-cont a,
.footer .copyright-cont .powered-by .powered-link-cont span {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/****************************Product Listing Page css***************************/

.container .breadcrumb,
.container .breadcrumb li a {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  text-transform: capitalize;
  color: #595959;
}

body[data-pagetype="category"] .container .breadcrumb,
body[data-pagetype="search_results"] .container .breadcrumb,
body[data-pagetype="vendor-results"] .container .breadcrumb {
  margin-bottom: 12px !important;
}

app-product-listing .custom-container.product-container>div.row {
  margin-bottom: 14px !important;
}

body[data-pagetype="category"] .container .breadcrumb,
body[data-pagetype="category"] .container .breadcrumb li,
body[data-pagetype="category"] .container .breadcrumb li a,
body[data-pagetype="search_results"] .container .breadcrumb,
body[data-pagetype="search_results"] .container .breadcrumb li,
body[data-pagetype="search_results"] .container .breadcrumb li a,
body[data-pagetype="vendor-results"] .container .breadcrumb,
body[data-pagetype="vendor-results"] .container .breadcrumb li,
body[data-pagetype="vendor-results"] .container .breadcrumb li a,
body[data-pagetype="product"] .container .breadcrumb li a,
body[data-pagetype="product"] .container .breadcrumb li {
  font-size: 14px;
  line-height: 17px;
  color: var(--accent);
  align-items: center;
}

.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
  color: var(--accent);
  font-weight: 700;
}

.arrow-breadcrumbs li.in-progress a {
  font-weight: 700;
}

.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
  padding-top: 4px;
}

.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
  padding-left: 15px;
}

body[data-pagetype="category"] .custom-container h1.breadcrumb-heading,
body[data-pagetype="search_results"] .custom-container h1.breadcrumb-heading,
body[data-pagetype="vendor-results"] .custom-container h1.breadcrumb-heading {
  font-size: 12px !important;
  line-height: 21px !important;
  letter-spacing: 1.17px;
  color: var(--accent);
  margin-bottom: 0 !important;
}

app-product-detail app-related-products[title='Recently Viewed'] {
  display: none;
}

.sidebar-widget .result-text p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.17px;
  color: var(--accent);
  margin-bottom: 17px;
}

.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder a {
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: var(--accent);
  font-weight: 400;
}

.sign-up-section:not(body[data-pagetype="home"] .sign-up-section) {
  display: none;
}

.products-container .main-sidebar {
  margin-top: 0;
  width: 24.48%;
  padding-right: 37.84px;
}

.products-container .products-holder-main {
  width: 76.88%;
  padding-top: 7px !important;
}

.products-container .products-holder-main .products-holder .product-column,
.products-container .products-holder-main .products-holder i[aria-hidden="true"] {
  margin: 0;
}

.products-container .products-holder-main .products-holder {
  justify-content: space-between;
  padding-top: 0 !important;
}

.product-select .form-group.sort-cont label {
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: var(--accent);
}

.custom-container.product-container .product-select {
  margin-right: 0;
  margin-top: 12px;
}

.container.custom-container .form-control {
  font-family: var(--primary-font);
  letter-spacing: 1.17px;
  color: #595959 !important;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  font-size: 12px !important;
  line-height: 21px !important;
  border: 1px solid #D9D9D9 !important;
  border-radius: 4px !important;
}

.product-select .form-group>select.form-control.relevance {
  background-color: #F0EFED;
  border: none !important;
  border-radius: 0 !important;
  width: 100%;
  height: 30px;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title h3,
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.pro-name {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 1.17px;
  color: var(--accent);
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p,
.wishlist-container .products-holder .product-column .product-list .product-content .product-pricing p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.17px;
  color: var(--accent);
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link,
.related-products .related-products-holder .product-content .product-title a.vendor-link,
.wishlist-container .product-content .product-title a.vendor-link {
  //display: none !important;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
  height: auto;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
  display: none;
}

.products-container .products-holder-main .products-holder .product-column .product-tags {
  display: none;
}

body[data-pagetype="category"] .custom-container.product-container .product-text {
  display: none;
}


/****************************Product details page css***************************/

.container.custom-container .default-breadcrumb:not(body[data-pagetype="category"] .default-breadcrumb) {
  margin-bottom: 1.5rem;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
  display: none !important;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: var(--accent);
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 13px;
}

.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
  margin-bottom: 11px;
}

.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: var(--accent);
}

.product-detail-container .product-holder .checkbox-holder {
  margin-top: 0.5rem;
}

.product-detail-container .product-holder .checkbox-holder label input[type="checkbox"] {
  margin-bottom: 0px;
  margin-right: 5px;
}

.product-detail-container .product-holder .checkbox-holder label {
  align-items: center;
  max-height: 1.5rem;
}

.product-detail-container .product-holder .personalise-form .radio-container .radio-holder {
  align-items: center;
}

.product-detail-container .product-holder .select-form .radio-container .radio-holder .checkmark,
.product-detail-container .product-holder .select-form .checkbox-holder span {
  font-weight: 400;
}

.product-detail-container .product-holder .product-detail .shipping {
  display: none;
}

.product-detail-container .product-holder .product-detail {
  height: auto;
}

.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'],
.product-detail-container .personalise-form .form-group select {
  max-height: inherit;
}

.multiselect-dropdown[_ngcontent-serverApp-c10] .dropdown-btn[_ngcontent-serverApp-c10] {
  background-image: url(https://static.techsembly.com/AHtqEbKSzzDTHrpBuspjScYP) !important;

  border-color: #666666;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 1.0625rem;
  padding-top: 15px !important;
  color: #666666;
  height: 54px;
  background-position-x: 96%;
  background-position-y: 22px;
  background-repeat: no-repeat;
  height: 54px;
}

.multiselect-dropdown[_ngcontent-serverApp-c10] .dropdown-btn[_ngcontent-serverApp-c10] .dropdown-down[_ngcontent-serverApp-c10] {
  display: none !important;
}

.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
  background-color: transparent;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item a h4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  text-align: center;
  color: var(--accent);
  width: 100px;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
  color: var(--accent);
  font-weight: 700;

  text-align: center;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  line-height: 15px;
  border-bottom: 1px solid #DBD9D9;
  padding: 0.5rem 0;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  color: var(--accent);
  border-bottom: 1px solid #757575;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane .productDesc,
.product-detail-container .product-holder .product-inner .tab-content #details .detail-holder,
.product-detail-container .product-holder .product-inner .tab-content #delivery div{
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: #757575;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding: 0;
  margin-top: 2rem;
}

.product-detail-container .personalise-form .form-group label,
.product-detail-container .personalise-form .delivery-form .title {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--accent);
}

.product-detail-container .personalise-form .delivery-form .title {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  color: var(--accent);
}

.product-detail-container .personalise-form .form-group select.form-control {
  background-image: url('https://static.techsembly.com/AHtqEbKSzzDTHrpBuspjScYP');
  background-position-x: 96%;
  max-height: 43px;
}

.product-detail-container .personalise-form .form-group {
  margin-bottom: 3px;
}

.product-detail-container .personalise-form .form-group.add-basket {
  margin: 0;
}

.product-detail-container .personalise-form .form-group .order-input {
  height: 43px;
  width: 17.11%;
  margin-right: 1rem;
  text-align: left;
}

.product-detail-container .personalise-form .form-group .form-control,
.product-detail-container .personalise-form .delivery-form .delivery-fields {
  border-color: #757575;
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 1.875rem;
  padding-right: 1rem !important;
  color: var(--accent);
  height: 43px;
}

.product-detail-container .personalise-form .form-group .form-control {
  font-size: 15px;
  line-height: 18px;
}

.product-detail-container .radio-holder input {
  margin-top: -2px;
}

.product-detail-container .personalise-form .form-group .order-btn {
  font-weight: 700;
  font-size: 13px;
  height: 43px;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.product-detail-container .preview-thumbnail {
  margin-top: 1rem;
}

/*arrows*/
.product-detail-container .product-carousel-desktop .owl-nav button {
  border: 1px solid #666666 !important;
  border-radius: 0.125rem !important;
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.product-detail-container .product-carousel-desktop .owl-nav button:hover {
  background-color: white !important;
  opacity: 1;
  cursor: pointer;
}

.product-carousel-desktop .owl-nav button.owl-prev {
  background-image: url(https://static.techsembly.com/r7rgPBbBDEeP75yDTe2sAYxp);
}

.product-carousel-desktop .owl-nav button.owl-next {
  background-image: url(https://static.techsembly.com/YbwSG1Br3Aj11T8NAXriWEau);
}

.product-carousel-desktop .owl-nav button.owl-prev:hover {
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  background-image: url(https://static.techsembly.com/r7rgPBbBDEeP75yDTe2sAYxp);
}

.product-carousel-desktop .owl-nav button.owl-next:hover {
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  background-image: url(https://static.techsembly.com/YbwSG1Br3Aj11T8NAXriWEau);
}

/*arrows end*/
.product-detail-container .product-holder .share-link {
  display: none !important;
}

body[data-pagetype='product'] .related-products {
  border-top: none;
  padding: 0;
  margin-bottom: 26px;
}

.related-products .related-products-holder {
  flex-wrap: wrap;
}

.related-products .related-products-holder .related-products-image {
  margin-bottom: 11px;
  height: auto;
}

.related-products h3 {
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #212325;
  margin-bottom: 1.5rem;
}

.product-detail-container .product-holder {
  padding-bottom: 0 !important;
  margin-bottom: 2.5rem !important;
}

.related-products .related-products-holder .product-content .product-title a {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--accent);
  text-transform: uppercase;
  margin-bottom: 4px;
}

.related-products .related-products-holder .product-content .more-items-product-prices {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.17px;
  text-transform: uppercase;
  color: var(--accent);
}

header.header .head-links li .cart-qty {
  height: 13px;
  width: 13px;
  font-size: 8px;
  top: 22px;
  right: -4px;
  line-height: 14.3px;
  padding-right: 0px;
  padding-top: 0px;
}
/* new add css by usman */
.product-detail-container .product-holder .product-order .tab-content .detail-text{
  word-break: break-word;
    text-align: left
}
.detail-text p {
  color: inherit !important;
  font-size: inherit !important;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont {

  display: none !important;
}

.product-detail-container .product-inner .product-order :is(span,p,li,div){
  font-size: 12px !important;
  color: #757575 !important;
}
.product-detail-container .product-holder .product-order .tab-content .btn.show-more{
  color: #fff !important;
}
/****************************Cart page css***************************/

.custom-container .breadcrumb-heading,
.custom-container .order-sum-heading {
  font-family: var(--primary-font) !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 25px !important;
  margin-bottom: 1.375rem !important;
  color: var(--accent) !important;
}

.custom-container .order-sum-heading {
  color: var(--color-black) !important;
  margin-bottom: 12px !important;
}

.quantity-alert,
.msg-alert {
  background-color: var(--primary-bg-color) !important;
  border-color: var(--primary-bg-color) !important;
  font-family: var(--primary-font);
}

body[data-pagetype="cart"] .custom-container .order-sum-heading {
  margin-bottom: 25px !important;
}

body[data-pagetype="cart"],
body[data-pagetype="checkout"] {
  background: #FCFCFC;
}

.custom-container.cart-container .vendor-items-cont,
.custom-container.checkout .shipping-form-cont,
.custom-container.checkout .delivery-methods-cont {
  padding-top: 20px !important;
}

.custom-container.cart-container .vendor-items-cont .card {
  border: none;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.default-breadcrumb li,
.default-breadcrumb li a {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

.default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0;
}

.custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .vendor-heading span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212325;
  margin-right: 2px !important;
}

.custom-container.cart-container .vendor-items-cont .card .card-header {
  padding-top: 23px !important;
}

.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading a {
  font-size: 0.875rem !important;
  line-height: 1.0625rem !important;
  font-weight: 400 !important;
  color: #212325;
  margin-left: -3px;
  text-transform: capitalize;
}

.custom-container.cart-container .vendor-items-cont .card .card-header {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #212325;
}

.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont {
  text-align: right;
}

.cart-item.new .item-details-cont .item-details .item-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--accent);
  margin-bottom: 4px;
}

.custom-container.cart-container .card .card-body .item-details-cont .pro-badges-cont .pro-badge {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.17px;
  color: #B2B2B2;
  background: #F0EFED;
}

.custom-container.cart-container .card .card-body .personalize-row .item-desc {
  display: none !important;
}

.cart-item.new .item-details-cont .item-details .unit-price {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--accent);
}

.cart-item.new .item-details-cont .gift-msg-area {
  padding-top: 1rem !important;
}

.cart-item.new .item-details-cont .gift-msg-area .add-gift-msg a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--accent);
}

.cart-item.new .item-details-cont .gift-msg-area .add-gift-msg a span.underline {
  text-decoration: none;
}

.cart-item.new .item-details-cont .gift-msg-area .form-control {
  padding: 10px 13px;
  width: 234px;
  height: 77px;
  max-height: 200px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #595959;
  border-radius: 0px;
  border: 1px solid rgba(33, 35, 37, 0.13);
}

.cart-item.new .item-details-cont .gift-msg-area .gift-msg-cont {
  padding-top: 49px !important;
  padding-left: 0;
}

.cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-label {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--color-black);
}

.cart-item.new .item-details .item-qty-cont .item-dec,
.cart-item.new .item-details .item-qty-cont .item-inc {
  background-color: #EDEDED;
}

.custom-container.cart-container .vendor-items-cont a.del-item-link {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #595959;
  text-decoration: none;
}

.cart-item.new .item-details-cont .item-details .unit-total-price {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /*max-width: 67px;*/
  color: var(--color-black);
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  padding-top: 4px !important;
  border-bottom: 1px solid #B2B2B2;
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.16px;
  color: var(--color-black);
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-black);
}

.container.custom-container.cart-container .card.order-summary-cont .card-body-inner {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--color-black);
  padding-bottom: 28px !important;
}

.custom-container.cart-container .cart-login-cont {
  background-color: rgba(33, 35, 37, 0.13) !important;
  border-radius: 0px 0px 8px 8px;
}

.container.custom-container .card.order-summary-cont {
  border: none;
}

.custom-container.cart-container .cart-login-cont .login-note {
  font-family: 'Optima';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--color-black);
}

.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
  padding-top: 2.5rem;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  letter-spacing: 1.17px;
  text-align: left;
  color: var(--color-black);
}

.custom-container.cart-container .cart-login-cont form input.form-control {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px !important;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: #595959;
}

.cart-login-cont form.cart-login-form .forget-psw-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.17px;
  color: var(--color-black);
  text-decoration: none;
}

form.cart-login-form .form-submit-cont {
  border-top: 1px solid #D9D9D9;
  border-bottom: none;
  margin-bottom: 1rem;
}

.container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: #A18441;
  border-color: #A18441;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 1;
  border-radius: 3px;
}

.container.custom-container.cart-container .cart-login-cont .login-cart-panel .btn.btn-primary {
  background-color: #A18441;
  border-color: #A18441;
}

.container.custom-container.cart-container .cart-login-cont .guest-form-cont .btn.btn-primary {
  background-color: var(--accent);
  border-color: var(--accent);
}

.custom-container.cart-container .cart-login-cont .checkout-note,
.custom-container.cart-container .cart-login-cont .guestCheckout-form {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--color-black);
}

.container.custom-container.cart-container .cart-login-cont .guestCheckout-form #guest-btn img {
  display: none;
}

.custom-container.cart-container .card .cart-login-cont .checkout-desc-cont {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.17px;
  color: var(--color-black);
}

.custom-container.cart-container .card .cart-login-cont .checkout-desc-cont img[alt="lock"] {
  color: var(--color-black);
}

.custom-container.cart-container .btn.continue-btn-new,
.payment-form-container .btn.btn-submit {
  font-family: var(--primary-font) !important;
  border: 1px solid #000000 !important;
  background-color: transparent !important;
  color: #000000 !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  height: 2.5rem !important;
  letter-spacing: 1px !important;
  display: flex;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  margin-bottom: 28px
}

.custom-container.cart-container .btn.continue-btn-new {
  width: 209px;
  padding-top: 15px;
}

.payment-form-container .btn.btn-submit {
  width: 179px;
  padding-top: 7px !important;
}

.modal-popup .modal-container .del-options-form,
.modal-popup .modal-footer {
  font-family: var(--primary-font) !important;
}

.modal-popup .modal-container .del-options-form .modal-title {
  font-family: var(--primary-font) !important;
  font-size: 1.313rem !important;
  color: var(--accent) !important;
}

.modal-popup .modal-container .del-options-form .pref-method-note {
  color: var(--accent);
}

.modal-popup .modal-container .del-options-form .radio-container input:checked~.checkmark {
  background-color: var(--color-black) !important;
}

.modal-popup .modal-container .del-options-form .radio-container .checkmark {
  border: 1px solid var(--color-black) !important;
}

.modal-popup .modal-container .del-options-form .radio-container .checkmark::after {
  background: var(--color-black) !important;
}

.modal-popup .modal-container .del-options-form .modal-footer .footer-btns-cont .btn {
  font-family: var(--color-black) !important;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.8px;
}

.modal-popup .modal-container .del-options-form .modal-footer .footer-btns-cont .btn.btn-submit {
  border-color: var(--color-black) !important;
  background-color: var(--color-black) !important;
}

.custom-container.checkout-footer {
  display: none;
}

.my-checkout-footer {
  background-color: #ffffff;
}

.checkout-copyright-cont {
  padding: 14px 17px 14px 17px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1.4px;
  color: #00172F;
  margin-top: 4px;
}

.custom-container.checkout .shipping-form-cont .exist-address-wrapper .card-header a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.custom-container.checkout .vendor-cards-holder .card .card-header {
  padding-top: 20px !important;
}

.custom-container.checkout .shipping-form-container .address-heading {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #212325;
}

.shipping-form-container .exist-address-wrapper {
  border-bottom: 1px solid #D9D9D9 !important;
}

.shipping-form-cont .btn-submit,
.custom-container.checkout .shipping-form-container .btn.btn-submit {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 13px;
  line-height: 1rem;
  letter-spacing: 1.4px;
  color: var(--color-black);
  padding: 1rem 1.5rem;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 0;
  width: 209px;
  height: 2.5rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}

.shipping-form-container .checkbox-cont input:checked~.checkmark {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.shipping-form-container .form-group label {
  font-family: 'GothamBook';
  font-weight: 400;
  font-size: 11px !important;
  line-height: 16px !important;
  letter-spacing: 1.17px;
  color: #595959;
}

.shipping-form-container .order-shipping-container .delivery-dropdowns-cont .form-group {
  margin-bottom: 12px;
}

.address-form.new select {
  font-size: 12px !important;
}

.order-summary-cont .order-totals-container {
  background: rgba(33, 35, 37, 0.13);
  border-radius: 0px 0px 8px 8px;
  margin-top: 1.5rem;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.order-summary-cont .order-totals-container .total-holder {
  border-top: 1px solid #D9D9D9;
  padding-top: 10px;
}

.order-summary-cont .order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 27px;
}

.order-totals-container .sub-total-holder {
  border-bottom: none !important;
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img {
  border-radius: 0 !important;
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc,
.order-summary-cont .order-summary-inner .vendor-items-holder .vendor-order-details .order-item .item-price,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price {
  font-size: 15px !important;
  font-weight: 400 !important;
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty {
  text-transform: uppercase;
  margin-top: 4px;
}

.vendor-items-holder app-item:last-child .cart-item {
  padding-bottom: 0;
}

.vendor-items-holder .card-body {
  padding-bottom: 24px !important;
}

.order-summary-cont .order-summary-inner .vendor-items-holder .vendor-order-details .order-item .item-price {
  line-height: 21px;
  letter-spacing: 1.17px;
}

.order-totals-container .total-holder .order-total-item .total-desc,
.order-totals-container .sub-total-holder .sub-total-item .sub-total-desc {
  color: #000000;
  font-size: 18px !important;
  line-height: 22px;
  font-weight: 400;
}

.order-summary-cont .order-totals-container .total-holder .total-price,
.order-totals-container .sub-total-holder .sub-total-item .sub-price {
  color: #000000;
  font-size: 15px !important;
  line-height: 18px;
  font-weight: 700;
  text-transform: capitalize;
}
.delivery-methods-cont .contact-card{
  display: none !important;
}
.delivery-methods-cont .contact-card .card-body .card-row {
  font-family: "GothamBook";
  font-weight: 400 !important;
  font-size: 11px !important;
  line-height: 16px !important;
  display: flex;
  align-items: center;
  letter-spacing: 1.17px;
  color: #00172F !important;
}

.delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  font-family: var(--primary-font);
  font-size: 12px !important;
  line-height: 21px !important;
  letter-spacing: 1.17px;
  color: #000000 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .card-body {
  padding-top: 28px !important;
}

.delivery-methods-cont .card .card-body .row-head {
  font-weight: 400 !important;
  padding-right: 0 !important;
}

.delivery-methods-cont .card .card-body .card-row:not(:last-child) {
  border-bottom: 0.0625rem solid #D9D9D9 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
  align-items: center;
  border-bottom: 1px solid #d9d9d9 !important;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .card-header .vendor-title,
.delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px !important;
  line-height: 17px !important;
  text-transform: capitalize;
  color: #000000 !important;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #212325;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item .qty {
  text-transform: uppercase;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item .order-item-right .item-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #000000;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  background: rgba(33, 35, 37, 0.13);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
  font-family: var(--primary-font);
  font-weight: 400 !important;
  padding-left: 0;
  font-size: 15px !important;
  line-height: 18px !important;
  text-transform: capitalize;
  color: #000000 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked~.checkmark {
  border-color: #00172F;
  background-color: #00172F !important;
}

.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
  width: 20px !important;
  height: 20px !important;
  border: 1px solid #00172F !important;
}

.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
  background: #00172F !important;
  width: 16px !important;
  height: 16px !important;
  top: 1.5px !important;
  left: 2px !important;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .del-method-name,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .option-price {
  margin-top: 0 !important;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12PX;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: #000000;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .del-option:nth-child(1) {
  padding-bottom: 7px !important;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .shipping-totals-cont {
  padding: 0 !important;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
  background-color: transparent;
}

.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont select,
.delivery-methods-cont .vendor-cards-holder .card .mat-form-field-wrapper .mat-form-field-flex {
  height: 50px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1.17px;
  color: #595959;
  border-radius: 4px;
}

.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
  padding-bottom: 0;
  border-bottom: 1px solid #D9D9D9;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-caption,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:first-child {
  padding-top: 1.3rem !important;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-weight: 700;
}

.checkout .order-totals-container .promo-cont a {
  color: var(--color-black);
  text-decoration-line: underline;
  color: #000000;
  font-weight: 400;
}

.custom-container.checkout .btn-primary,
.apply-btn {
  border-color: var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  ;
  font-family: var(--primary-font);
  font-weight: 400;
  height: 50px;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.custom-container.checkout .btn-primary,
.apply-btn:hover,
.custom-container.checkout .btn-primary,
.apply-btn:active,
.custom-container.checkout .btn-primary,
.apply-btn:focus {
  height: 50px;
  cursor: pointer;
}

.checkout .payment-form-container .payments-methods-cont .card {
  border: 2px solid var(--accent);
}

.checkout .checkout-container.complete .blue-light-bg {
  background-color: rgba(33, 35, 37, 0.13);
}

.checkout .payment-form-container .payments-methods-cont,
.checkout .payment-form-container .section-cont {
  border-bottom-color: rgba(33, 35, 37, 0.13);
}

.payment-form-container .section-cont.no-border {
  padding-top: 2rem !important;
}

.checkout .payment-form-container .section-heading {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-transform: capitalize;
  color: var(--accent);
  padding-bottom: 1.5rem;
}

.payment-form-container .radio-container {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: #595959;
}

.checkout .payment-form-container .card {
  border-color: transparent;
}

.payment-form-container .card .card-body .row-head {
  font-weight: 400 !important;
}

.checkout .payment-form-container .checkbox-cont input:checked~.checkmark {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.checkout .payment-form-container .card-details-cont .address-card {
  padding-top: 1.5rem !important;
}

.checkout .payment-form-container .radio-container input:checked~.checkmark {
  border-color: var(--color-black);
  background-color: var(--color-black);

}

.checkout .payment-form-container .radio-container .radio-cont-inner {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.checkout .payment-form-container .radio-container .checkmark::after {
  background-color: var(--color-black);
  top: 9.8px;
  left: 2px;
  width: 16px;
  height: 16px;
}

.payment-form-container .checkbox-cont .checkmark::after {
  left: 0px;
}

.checkout .payment-form-container .card-details-cont .address-card,
.checkout .payment-form-container .card-details-cont .address-card .user-address {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 15px !important;
  line-height: 18px !important;
  color: #000000;
  padding-left: 0;
}

.checkout .payment-form-container .card.blue-light-bg {
  background-color: rgba(33, 35, 37, 0.13);
  border-color: rgba(33, 35, 37, 0.13);
  border-radius: 6px;
}

.payment-form-container .checkbox-cont {
  padding-bottom: 7px;
}

.payment-form-container .checkbox-cont .checkbox-note {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  margin-top: 0 !important;
}

.payment-form-container .password-note {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
}

/****************************checkout complete page***************************/

.checkout-container.complete .col-12.px-md-3.py-4 {
  padding-top: 0 !important;
}

.checkout .checkout-container.complete .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
  padding-top: 17px !important;
}

.checkout .checkout-container.complete .order-confirm-top {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  background: #FCFCFC;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.checkout .checkout-container.complete .card-footer {
  border-radius: 0 0 8px 8px;
}

.custom-container .checkout-container.complete .breadcrumb-heading {
  font-size: 21px !important;
  line-height: 25px !important;
  margin-bottom: 4px !important;
  color: var(--color-black) !important;
}

.checkout-container.complete .customer-note .updated-del-string {
  margin-top: 20px;
}

.checkout-container.complete .customer-note {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
  padding-bottom: 28px !important;
}

.custom-container .checkout-container.complete .section-cont {
  border-bottom: 1px solid rgba(33, 35, 37, 0.13);
}

.custom-container .checkout-container.complete .card-body .order-data.section-cont {
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}

.checkout-container.complete .cart-data .order-item .item-img {
  display: flex;
  align-items: center;
  max-height: 100px;
}

.checkout-container.complete .card-body .order-data .order-column {
  align-items: start !important;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--color-black);
}

.checkout-container.complete .card-body .order-data .order-column .col-heading {
  font-size: 12px;
  font-weight: 400 !important;
  letter-spacing: 1.17px;
}

.checkout-container.complete .card-body .order-data .order-column .col-desc {
  font-size: 14px;
}

.checkout-container.complete .card-body .cart-data {
  /*padding-bottom: 28px;*/
}

.checkout-container.complete .card-body .cart-data .order-item .item-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1px;
}

.checkout-container.complete .cart-data .order-item .item-desc .item-name {
  font-size: 14px !important;
  line-height: 21px !important;
  color: var(--color-black);
}

.checkout-container.complete .card-body .cart-data .order-item .item-desc .item-brand {
  padding-top: 4px;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: var(--color-black);
}

.checkout-container.complete .card-body .cart-data .order-item .items-atts-cont {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--color-black);
}

.checkout-container.complete .card-body .cart-data .order-item .item-price {
  font-size: 15px !important;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  color: var(--color-black);
}

.checkout-container.complete .card-body .msg-cont .msg-inner {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: #000000;
}

.checkout-container.complete .card-body .total-cont,
.checkout-container.complete .card-body .shipping-data,
.checkout-container.complete .card-body .total-cont .text-right.total-price {
  font-family: 'GothamBook';
  font-weight: 400;
  font-size: 14px !important;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #00172F;
}

.order-confirm-wrapper .card-footer .card-footer-left {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
}

.order-confirm-wrapper .card-footer .card-footer-left a,
.order-confirm-wrapper .card-footer .card-footer-right a {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #595959;
}

.order-confirm-wrapper .card-footer .card-footer-left a {
  text-decoration: underline;
}

.order-confirm-wrapper .card-footer a,
.order-confirm-wrapper .card-footer .card-footer-left a,
.order-confirm-wrapper .card-footer .card-footer-right {
  color: #595959;
}

.checkout .checkout-container.complete .blue-light-bg {
  background-color: #FCFCFC;
}

.order-confirm-wrapper .card-footer .backToHomeBtn a {
  background: transparent;
  font-family: var(--primary-font) !important;
  border-radius: 0;
  padding: 12px 22px;
  font-weight: 700;
  font-size: 13px;
  border: 1px solid #000000;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-top: 28px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

/****************************account/login page css***************************/
.container.login-signup .breadcrumb,
.container.login-signup .breadcrumb li a {
  color: var(--color-black);
}

.custom-container.login-signup .default-breadcrumb {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0 !important;
}

.custom-container.login-signup h1.breadcrumb-heading {
  font-weight: 700 !important;
  letter-spacing: -0.16px !important;
  text-transform: uppercase !important;
  color: #000000 !important;
  margin-bottom: 0 !important;
}

.custom-container.login-signup .tab-panel-cont {
  padding-top: 5px !important;
}

.custom-container.login-signup .panel-heading {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.16px;
  text-align: left;
  text-transform: capitalize;
}

.custom-container.login-signup .tab-panel-cont label[for="email"],
.custom-container.login-signup .tab-panel-cont label[for="password"] {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.17px;
}

.custom-container.login-signup .form-control {
  height: 54px !important;
  border: 1px solid #757575 !important;
  box-shadow: 0px 0px 0px 2px #f5f9fe;
  border-radius: 2px !important;
}

.custom-container.login-signup input.form-control,
.custom-container.login-signup input.form-control::placeholder {
  font-weight: 400;
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 12px !important;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: #595959 !important;
}

.custom-container.login-signup .login-form .remember {
  align-items: center;
}

.custom-container.login-signup .login-form div:first-child,
.custom-container.login-signup .signup-form div:first-child {
  margin-bottom: 10px !important;
}

.custom-container.login-signup .remember span,
.custom-container.login-signup .newsletter-check span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
  color: #000000;
}

.custom-container.login-signup .newsletter-check {
  align-items: center;
}

.custom-container.login-signup .remember input[type="checkbox"],
.custom-container.login-signup .newsletter-check {
  padding-top: 0;
  margin-top: 0;
}

.custom-container.login-signup .newsletter-check input[type="checkbox"] {
  margin-top: 0;
}

.custom-container .login-signup-tabs-cont form label.remember span {
  margin-top: 0;
}

.custom-container.login-signup .signup-form .form-group:nth-child(3) {
  display: none;
}

.custom-container.login-signup .login-form .form-group:nth-child(3),
.custom-container.login-signup .signup-form .form-group:nth-child(4) {
  margin-bottom: 0 !important;
  padding-bottom: 9px !important;
}

.custom-container.login-signup .signup-form .form-group:nth-child(4) {
  padding-bottom: 14px !important;
}

.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.17px;
}

.custom-container .login-signup-tabs-cont form.login-form .btn.submit,
form.signup-form .btn.submit {
  height: 50px;
  background: #A18441;
  font-family: 'Optima';
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

form.signup-form .btn.submit {
  background: var(--accent);
}

/************************user page css*****************************/
.container.user-container .default-breadcrumb {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 13px !important;
}

.container.user-container h1.user-heading {
  font-family: 'Optima';
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.16px;
  text-transform: capitalize;
  color: #000000;
}

.user-wrapper .user-container .user-details-holder {
  border: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.user-wrapper .user-container .user-details-holder .detail-row .detail-head {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
}

.user-wrapper .user-container .my-gifts-head {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.16px;
  color: #000000;
}

.user-wrapper .user-container .user-details-holder .detail-row {
  padding-bottom: 10px !important;
}

.user-wrapper .user-container .user-details-holder .detail-row .detail-desc,
.user-wrapper .user-container .user-details-holder .detail-row .detail-desc a {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.17px;
}

.my-gifts-cont {
  padding-top: 5px !important;
}

.user-container .table thead th {
  border-bottom: 1px solid rgba(33, 35, 37, 0.13);
  padding-bottom: 12px;
  font-weight: 700 !important;
  font-size: 15px;
  line-height: 18px !important;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  padding-left: 0 !important;
}

.user-container .orders-table-holder {
  padding-top: 8px !important;
}

.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td,
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td a {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 1.17px;
  color: #000000;
  padding-left: 0 !important;
  border-top: none;
  border-bottom: 1px solid rgba(33, 35, 37, 0.13);
}

.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td a {
  border-bottom: none;
}

.signout-cont {
  padding-top: 0 !important;
  margin-top: -5px;
}

.user-wrapper {
  padding-bottom: 33px !important;
}

.user-wrapper .user-container .btn.signout-btn {
  font-family: var(--primary-font);
  font-weight: 700 !important;
  font-size: 13px;
  line-height: 16px;
  padding: 17px 64px !important;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 50px !important;
  background: #A18441;
}

/************************user order detail page css*****************************/
.user-container .order-items-holder .order-item-bottom {
  display: none !important;
}

/************************vendor microsite page css*****************************/
.vendor-micro-cont.dt-view {
  display: flex;
  flex-direction: column;
}

.vendor-micro-cont.dt-view .vendor-logo {
  max-width: 225px;
  border: none;
  margin-bottom: 40px !important;
}

.vendor-micro-cont .vendor-intro h2.vendor-name {
  display: none;
}

.vendor-micro-cont .vendor-menu-cont,
.vendor-menu-container {
  display: none !important;
}

.vendor-micro-cont.dt-view .container#about .vendor-heading {
  display: none;
}

.vendor-micro-cont.dt-view .vendor-content .about-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid #B2B2B2;
  padding-bottom: 12px;
  margin-bottom: 38px;
}

.vendor-micro-cont.dt-view .vendor-content h3 {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}

.vendor-micro-cont.dt-view .vendor-content p {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-black);
  line-height: 21px;
  text-align: justify;
  letter-spacing: 1.17px;
}

.vendor-micro-cont.dt-view .vendor-content .address-line {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #000000;
}

.vendor-micro-cont.dt-view .container.products-cont {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vendor-micro-cont.dt-view .products-cont .vendor-heading b {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 3px;
}

.vendor-micro-cont.dt-view .container.vendor-contact-form-cont {
  display: none;
}

.vendor-micro-cont .container#best-seller-cont a.viewMoreLink {
  font-weight: 700;
  background: #A18441;
  color: #ffffff;
  padding: 17px 54px;
  font-size: 13px;
  height: 43px;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 1.4px;
  margin-top: 11px;
  display: flex;
  align-items: center;
}

.vendor-micro-cont .vendor-banner .vendor-banner-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 384px;
}

.vendor-micro-cont .vendor-banner .vendor-banner-content h1,
.vendor-micro-cont .vendor-banner .vendor-banner-content p,
.vendor-micro-cont .vendor-banner .vendor-banner-content a {
  color: white;
}

.vendor-micro-cont .vendor-banner .vendor-banner-content h1 {
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
}

.vendor-micro-cont .vendor-banner .vendor-banner-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
  margin-top: 12px;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
}
.vendor-micro-cont .vendor-banner .vendor-banner-content p span{
  padding-top: 4px;
}
.vendor-micro-cont .vendor-banner .vendor-banner-content p img {
  max-width: 15px;
  margin-right: 16px;
}

.vendor-micro-cont .vendor-banner .vendor-banner-content a.dics-more {
  background: #A18441;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.4px;
  padding: 13px 35px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.vendor-micro-cont .product-col .product-vendor {
  display: none;
}

.vendor-micro-cont.dt-view .products-cont .vendor-products {
  align-items: flex-start !important;
}

.vendor-micro-cont .product-col .product-particulars {
  padding-top: 1rem !important;
}

.vendor-micro-cont .product-col .product-name-cont .product-name a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.vendor-micro-cont .product-col .product-price .product-pricing p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1.17px;
  color: #B2B2B2;
}

.vendor-micro-cont .product-col .product-name-cont,
.vendor-micro-cont .product-col .product-price {
  text-align: left;
}

.vendor-micro-cont .container .vendor-heading b {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
}

.vendor-micro-cont .vendor-point-cont,
.container-fluid.BorderBottom {
  padding-left: 30px;
  padding-right: 30px;
}

.vendor-micro-cont .container#delivery {
  padding-bottom: 0;
  margin-top: 2rem;
}

.vendor-micro-cont .container#delivery h2 {
  padding-top: 60px !important;
  border-top: 1px solid #B2B2B2;
}

.vendor-micro-cont .container.returns-cont {
  padding-bottom: 40px;
  padding-top: 0 !important;
  order: 9;
  display: none;
}

.vendor-micro-cont .container.returns-cont h2 {
  border-top: 1px solid #B2B2B2;
  padding-top: 60px !important;
  margin-top: 0 !important;
}

.vendor-micro-cont .container.tnc-cont {
  padding-top: 4px !important;
  margin-bottom: 0;
  padding-bottom: 42px;
  order: 8;
}

.vendor-micro-cont .container.tnc-cont h2 {
  border-top: 1px solid #B2B2B2;
  padding-top: 60px;
}

.vendor-micro-cont .container.tnc-cont .vendor-point-desc {
  padding-bottom: 0;
}

.vendor-micro-cont .container-fluid.BorderBottom {
  margin-bottom: 42px;
  border-bottom: none;
  order: 10;
}

.vendor-micro-cont .container-fluid.BorderBottom div {
  border-top: 1px solid #B2B2B2;
  margin-left: 0;
  margin-right: 0;
}
.products-container .products-holder-main .vendor-details{
  display: none !important;
}
.products-container .products-holder-main .vendor-details {
  align-items: center;
  border-bottom: none;
}

.products-container .products-holder-main .vendor-details .col-md-2 {
  flex-basis: 30%;
  max-width: 30%;
}

.products-container .products-holder-main .vendor-details .col-md-2 img {
  height: auto;
}

.products-container .products-holder-main .vendor-details .col-md-10 {
  flex-basis: 70%;
  max-width: 70%;
}

.vendor-micro-cont .container#about .vendor-heading i,
.vendor-micro-cont .container#best-seller-cont .vendor-heading i {
  display: none;
}

.vendor-micro-cont .container .vendor-heading b a.collapse-link {
  margin-right: 1rem;
}

.vendor-micro-cont .container#best-seller-cont .vendor-heading b a.collapse-link {
  margin-right: 0;
}

.vendor-micro-cont .container .vendor-heading b a {
  font-weight: 300;
}

.vendor-micro-cont .vendor-about-section .right-panel .map-cont {
    max-width: 518px;
    width: 100%;
    height: 397px;
}

.vendor-micro-cont .vendor-about-section .right-panel .map-cont iframe {
  border: none;
}

.user-wrapper .user-container .user-edit-holder form .update-btn {
  background-color: #A18441;
}

.user-container .newsletter-check {
  align-items: center;
}

.user-container .newsletter-check input[type="checkbox"] {
  margin-top: 0;
}

.custom-container.login-signup .right-panel .newsletter-check span {
  height: 19px;
}

.custom-container.login-signup .left-panel .remember span {
  height: 20px;
}

body[data-pagetype="user"] .user-wrapper {
  padding-bottom: 30px !important;
}

.vendor-micro-cont.dt-view .vendor-products .product-col:nth-child(n+5) {
  display: none;
}

/* vendor mirco site css add by usman  */
.vendor-logo-cont {
    margin-top: 15px;
}
.vendor-products .product-col h4.product-name {
    margin-bottom: 4px;
}

.map-cont iframe {
    border-radius: 8px;
}
/* TC added 14 oct */
.col-lg-12 h2 {
   display:none;
}
/****************Media Quries**********************************************************************8************************/
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  header.header .logo {
    height: auto;
  }

  header .row.spacing {
    align-items: center;
    justify-content: space-between;
  }

  header .mobile-menu {
    padding-top: 12px;
  }

  header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont {
    min-width: auto;
  }

  /*header .mob-top-links{
    margin-top: 18px;
  }*/
  nav#sidebar {
    top: 65px;
    height: 100%;
    box-shadow: none;
    padding-top: 30px;
  }

  .home-banner .banner-heading {
    top: 12%;
  }

  .promo-holder .promo-box .promo-content {
    top: 25%;
  }

  .home-slider .post-tile .post-tile-link {
    justify-content: flex-start;
  }

  .sign-up-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sign-up-section .sign-up-form>div {
    flex-direction: row !important;
  }

  .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    margin: 0;
    margin-left: -1px;
  }

  .footer .list-group-holder .list-group-item {
    background-color: transparent;
  }

  .footer .mobile-footer .list-group .list-group-holder:nth-child(3) {
    display: none;
  }

  .footer .mobile-footer .list-group .list-group-holder>a:hover {
    background-color: transparent;
    color: var(--color-white);
  }

  .footer .copyright-cont {
    margin-top: 0;
  }

  .products-container .products-holder-main {
    width: 100%;
  }

  .wishlistImage img[alt="add-to-wishlist"],
  .wishlistImage img[alt="added-to-wishlist"] {
    height: auto;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
    padding-top: 5px;
  }

  .products-container .products-holder-main .products-holder {
    margin-top: 2rem;
  }

  .custom-container.cart-container .btn.continue-btn-new,
  .shipping-form-cont .btn-submit,
  .custom-container.checkout .shipping-form-container .btn.btn-submit {
    width: 100%;
  }

  .product-detail-container .product-holder {
    padding-bottom: 0 !important;
    margin-bottom: 1rem !important;
  }

  /*complete screen for max-width 991*/
  .checkout-container.complete .card-body .shipping-data .shipping-row div {
    max-width: 50%;
    flex-basis: 50%;
  }

  .checkout .checkout-container.complete .order-confirm-top {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .checkout-container.complete .card-body .order-data .order-column {
    padding-left: 0;
    padding-right: 0;
  }

  .tc-rights-reserved {
    text-align: center;
  }

  .custom-container .checkout-container.complete .breadcrumb-heading {
    font-size: 20px !important;
  }

  .completeLogo {
    max-width: 160px;
  }

  /*vendor microsite*/
  .vendor-micro-cont .vendor-banner .vendor-banner-content h1 {
    font-size: 30px;
    line-height: 21px;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content p img {
    max-width: 10px;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content a.dics-more {
    font-size: 10px;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content a.dics-more {
    padding: 10px 20px;
  }

  .vendor-micro-cont.dt-view .vendor-logo {
    margin-bottom: 20px !important;
  }

  .vendor-micro-cont .product-col .product-name-cont .product-name a {
    font-size: 14px;
    line-height: 16px;
  }

  .vendor-micro-cont.dt-view .container.products-cont {
    flex-wrap: wrap;
  }

  .vendor-micro-cont.dt-view .vendor-products .product-col {
    margin-right: 2rem;
  }

  .vendor-micro-cont .container#delivery h2,
  .vendor-micro-cont .container.returns-cont h2,
  .vendor-micro-cont .container.tnc-cont h2 {
    padding-top: 25px !important;
  }

  .vendor-micro-cont .container.tnc-cont {
    padding-bottom: 15px;
  }

  .vendor-micro-cont .container.returns-cont {
    padding-bottom: 4px;
  }

  .vendor-micro-cont .container.tnc-cont {
    padding-top: 8px !important;
  }

  header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont {
    min-height: auto;
  }

  form.cart-login-form .form-submit-cont {
    margin-bottom: 0;
  }

  .footer .footer-widget .widget-content .social-links {
    width: 45%;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {

  /*homepage css*/
  header.header {
    margin: 1rem 0;
  }

  .home-slider .mob-custom-carosel {
    display: block !important;
  }

  .home-banner .banner-heading {
    font-size: 20px;
  }

  .home-banner .banner-heading .sub-head {
    font-size: 14px !important;
    padding-top: 0.5rem;
  }

  .home-banner .banner-heading .discover-btn-cont {
    padding-top: 20px;
    padding-bottom: 0 !important;
  }

  .home-banner .banner-heading .discover-btn {
    padding: 10px;
  }

  .sign-up-section h2 {
    font-size: 1rem;
  }

  .shipping-form-container .checkbox-cont .checkmark::after {
    top: 2px !important;
    left: 2.5px !important;
  }

  .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img,
  .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-img,
  .delivery-methods-cont .vendor-cards-holder .card .order-item .item-img {
    margin-right: 8px !important;
  }

  .payment-form-container .card.address-card .card-body .row-head {
    max-width: 50%;
  }

  .delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item .order-item-left {
    max-width: 75%;
    flex-basis: 75%;
  }

  .delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item .order-item-right {
    max-width: 25%;
    flex-basis: 25%;
  }

  .vendor-micro-cont.dt-view .vendor-products .product-col {
    flex-basis: auto;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content h1 {
    font-size: 20px;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content p {
    font-size: 12px;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content a.dics-more {
    padding: 8px 15px;
    font-size: 8px;
  }

  .vendor-micro-cont.dt-view .vendor-content .about-heading {
    font-size: 20px;
  }

  .vendor-micro-cont.dt-view .vendor-content h3 {
    font-size: 18px;
  }

  .home-slider .carousel-container {
    justify-content: space-between;
  }

  .home-slider .post-tile {
    max-width: 45%;
  }

  .home-slider .post-tile .post-link {
    font-size: 16px;
  }

  .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-size: 1rem;
  }

  .related-products .related-products-holder .product-content .product-title {
    margin-bottom: 5px;
  }

  .user-wrapper .user-container .user-edit-holder form .update-btn {
    font-size: 16px;
    word-spacing: -5px;
  }

  .footer .footer-widget .widget-content .social-links li:last-child {
    margin-left: 0;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
    padding-top: 0 !important;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    margin-bottom: 0;
  }

  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    margin-bottom: 12px !important;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    margin-bottom: 6px !important;
  }
  .vendor-micro-cont .vendor-about-section .right-panel .map-cont {
    overflow: auto;
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  .home-banner .banner-heading {
    font-size: 14px;
    top: 4%;
    left: 0% !important;
  }

  .home-banner .banner-heading .sub-head {
    font-size: 11px !important;
    padding-top: 2px;
  }

  .home-banner .banner-heading .discover-btn {
    font-size: 6px;
    padding: 5px 10px;
  }

  .home-banner .banner-heading .discover-btn-cont {
    padding-top: 8px;
  }

  .home-slider .section-title {
    margin-top: 1rem;
    font-size: 18px;
  }

  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    width: 160px;
    ;
  }

  .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    width: 95px;
    font-size: 10px;
  }

  .promo-holder .promo-box .promo-title {
    font-size: 18px;
  }

  .travel-section .btn,
  .home-banner .banner-heading .discover-btn,
  .featured-vendors-area .promo-holder .promo-box .promo-content .discover-btn {
    font-size: 8px;
    padding-top: 10px 20px;
  }

  .vendor-micro-cont.dt-view .vendor-logo {
    max-width: 160px;
  }

  .vendor-micro-cont.dt-view .products-cont .vendor-products {
    justify-content: space-between !important;
  }

  .vendor-micro-cont.dt-view .vendor-products .product-col {
    flex-basis: 45%;
    max-width: 45%;
    margin-right: 0;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content h1 {
    font-size: 16px;
    line-height: 10px;
  }

  .vendor-micro-cont.dt-view .vendor-logo {
    margin-bottom: 0 !important;
  }

  .filters-form-cont {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .filters-form-cont .section-title {
    font-size: 1rem;
  }

  .filters-form-cont .fields-wrapper .col-3,
  .filters-form-cont .fields-wrapper .col-2 {
    flex-basis: 33%;
    max-width: 33%;
  }

  .filters-form-cont .btn {
    font-size: 8px;
  }

  .checkout .payment-form-container .radio-container .checkmark::after {
    top: 11px;
    left: 2.5px;
    width: 15px;
    height: 15px;
  }

  .vendor-micro-cont.dt-view .vendor-content p {

      text-align: left;
  }
  .vendor-micro-cont.dt-view .vendor-content .about-heading {

      text-align: left;
  }
}

@media (max-width: 416px) {
  .user-container .newsletter-check span {
    font-size: 10px;
  }
}
@media (max-width: 387px) {
  .shipping-form-container .checkbox-cont .checkmark::after {
    top: 10px !important;
    left: 2px !important;
  }
}

@media (min-width: 576px) {
  .container-fluid.BorderBottom {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .user-container .order-items-holder .order-items-details .order-item {
    flex-wrap: wrap;
  }

  .user-container .order-items-holder .order-items-details .order-item button {
    margin-top: 20px;
  }

  .container-fluid.BorderBottom {
    max-width: 720px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  header .spacing {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
  }

  header.header .logo {
    padding-top: 1.25rem;
    padding-bottom: 0.8125rem;
  }

  .home-banner .banner-heading {
    font-size: 2.375rem;
    line-height: 2.75rem;
    left: 3.75rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    width: 35%;
  }

  .filters-form-cont .fields-wrapper {
    max-width: 532px;
    padding-bottom: 0.125rem;
  }

  .filters-form-cont .btn.btn-submit {
    height: 43px;
    width: 192px;
  }

  .home-slider .carousel-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1.5rem;
  }

  .home-slider .carousel-container .owl-item:not(:last-child) {
    margin-right: 34.33px;
  }

  .home-slider .carousel-container .owl-item:last-child {
    margin-right: 0;
  }

  .home-slider .post-tile .post-link {
    line-height: 25px;
    font-size: 18px;
  }

  .experience-slider .post-tile .post-link {
    font-size: 18px;
    line-height: 22px;
  }

  .container.home-intro-container,
  .sign-up-section,
  .promo-section .custom-container {
    max-width: 1440px;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .container.home-intro-container .discover-btn-cont {
    padding-top: 97px !important;
    padding-bottom: 11px !important;
  }

  .travel-section {
    padding-bottom: 2.875rem;
  }

  .travel-section .travel-heading {
    font-size: 2.375rem;
    line-height: 2.75rem;
    max-width: 503px;
  }

  .travel-section .left-panel {
    flex-basis: 49.39%;
    max-width: 49.39%;
    height: 400px;
  }

  .travel-section .right-panel {
    width: 669px;
  }

  .travel-section .right-panel {
    position: absolute;
    right: 0;
    z-index: 997;
    height: 434px;
  }

  .travel-section .right-panel img {
    height: 100%;
  }

  .promo-section .section-title {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
  }

  .sign-up-section h2 {
    margin-top: 32px;
  }

  body[data-pagetype="category"] .custom-container.product-container,
  body[data-pagetype="search_results"] .custom-container.product-container,
  body[data-pagetype="vendor-results"] .custom-container.product-container {
    margin-bottom: 34px !important;
  }

  .footer .copyright-cont .pay-methods-avail {
    margin-right: 19px;
  }

  .custom-container.product-container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-top: 2rem;
  }

  .product-detail-container .product-holder .product-detail {
    margin-bottom: 0 !important;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list {
    margin-bottom: 34px;
  }

  .product-detail-container {
    margin-top: 2rem;
  }

  .product-detail-container .product-holder .personalise .productDesc div:nth-child(1) {
    flex-basis: 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .product-detail-container .product-holder .product-inner .personalise .productDesc div:nth-child(2) {
    /* display: none !important; */
  }

  .product-detail-container .tab-content.preview-pic {
    height: auto;
  }

  .custom-container.checkout {
    padding-bottom: 0 !important;
  }

  .shipping-form-container .order-shipping-container .delivery-dropdowns-cont .label-email {
    gap: 9px;
  }

  .custom-container .login-signup-tabs-cont .left-panel {
    padding-bottom: 0;
  }

  .custom-container.login-signup {
    padding-bottom: 0;
    margin-bottom: 12px;
  }

  .checkout .checkout-container.complete .order-confirm-top {
    padding-left: 28px;
  }

  .custom-container.cart-container>div.row.flex-wrap,
  .custom-container.checkout .shipping-form>div.row.flex-wrap,
  .custom-container.checkout .shipping-form-container>div.row.flex-wrap,
  .custom-container.checkout .payment-form-container .payment-form>div.row.flex-wrap {
    justify-content: space-between;
  }

  /*.vendor-micro-cont.dt-view .vendor-products .product-col:not(:nth-child(1)),
  .vendor-micro-cont.dt-view .vendor-products .product-col:not(:nth-child(2)),
  .vendor-micro-cont.dt-view .vendor-products .product-col:not(:nth-child(3)),
  .vendor-micro-cont.dt-view .vendor-products .product-col:not(:nth-child(4)){
    display: none;
  }*/
  .vendor-micro-cont .vendor-about-section .right-panel {
    flex-basis: 43.14%;
    max-width: 43.14%;
    margin-left: 50px;
  }

}

@media (min-width: 1200px) {}

@media (min-width: 1280px) {

  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 31.8%;
  }

  .product-select .form-group {
    width: 44.28%;
  }

  .related-products .custom-container .container,
  .product-detail-container,
  .custom-container.cart-container,
  .custom-container.checkout,
  .container.user-container,
  .custom-container.login-signup {
    max-width: 1280px;
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important;
  }

  .product-detail-container .product-carousel-cont {
    flex-basis: 52%;
    max-width: 52%;
    padding-right: 0;
  }

  .product-detail-container .product-holder .product-inner {
    flex-basis: 43.15%;
    max-width: 43.15%;
    margin-left: 46px;
    padding-right: 0;
    padding-left: 0;
  }

  body[data-pagetype="product"] .related-products .related-products-holder .rel-product-col {
    width: 24.188%;
    margin-right: 13px;
  }

  body[data-pagetype="product"] .related-products .related-products-holder .rel-product-col:last-child {
    margin-right: 0;
  }

  .cart-left-cont {
    padding-right: 0;
    flex-basis: 57.7%;
    max-width: 57.7%;
  }

  .cart-right-cont {
    flex-basis: 33.64%;
    max-width: 33.64%;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-image-cont {
    margin-right: 8px;
    max-width: 25.07%;
    flex-basis: 25.07%;
    padding-right: 0 !important;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-7 {
    flex-basis: 46.7%;
    max-width: 46.7%;
    padding: 0;
    margin-right: 22px;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding-left: 0;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-2 {
    padding: 0;
    flex-basis: 14.82%;
    max-width: 14.82%;
    margin-right: 20px;
  }

  .custom-container.checkout .left-panel {
    padding-right: 0;
    flex-basis: 49.28%;
    max-width: 49.28%;
  }

  .custom-container.checkout .right-panel {
    flex-basis: 42.06%;
    max-width: 42.06%;
  }

  .custom-container.checkout .card-body .order-item .order-item-left {
    max-width: 55%;
    flex-basis: 55%;
    padding-right: 0 !important;
  }

  .custom-container.checkout .card-body .order-item .order-item-right {
    max-width: 45%;
    flex-basis: 45%;
    padding-left: 0 !important;
  }

  .checkout-container.complete .card.order-confirm-wrapper {
    min-width: 798px;
  }

  .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(1) {
    flex-basis: 18%;
    max-width: 18%;
  }

  .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(2) {
    flex-basis: 17%;
    max-width: 17%;
  }

  .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(3) {
    flex-basis: 19%;
    max-width: 19%;
  }

  .custom-container .login-signup-tabs-cont .left-panel {
    padding-right: 2.6rem;
  }

  .custom-container .login-signup-tabs-cont .right-panel {
    padding-left: 2.6rem;
  }

  .experience-slider .carousel-container {
    padding-top: 34px;
  }

  .trending-slider .section-title {
    margin-top: 50px;
    margin-bottom: 5px;
  }

  .home-slider .owl-item:not(:last-child) {
    margin-right: 34px !important;
  }

  .promo-holder .promo-box:first-child {
    margin-right: 40px;
  }

  /***************vendor microsite css*********************/

  .vendor-micro-cont .container#about,
  .vendor-micro-cont .container.products-cont,
  .vendor-micro-cont .vendor-point-cont,
  .container-fluid.BorderBottom {
    max-width: 1280px;
  }

  .vendor-micro-cont .vendor-about-section .left-panel {
    flex-basis: 53.66%;
    max-width: 53.66%;
  }


  .vendor-micro-cont .vendor-about-section .right-panel .map-cont {
    max-width: 518px;
    height: 397px;
    filter: grayscale(1);
  }

  .vendor-micro-cont.dt-view .vendor-products .product-col {
    min-width: 263px;
    margin: 0;
  }

  .vendor-micro-cont.dt-view .container.products-cont>div {
    max-width: 1280px;
    width: 100%;
  }

  .vendor-micro-cont.dt-view .products-cont .vendor-products {
    justify-content: space-between !important;
  }


}

@media (min-width: 1400px) {
  .travel-section .left-panel {
    flex-basis: 54%;
    max-width: 54%;
  }

  .travel-section .right-panel {
    right: 0;
  }

  .vendor-micro-cont .vendor-banner .vendor-banner-content {
    max-height: 100%;
  }
}
