<div class="col-12 col-md-8 filters-form-cont text-center pt-5 pb-5">
  <h2 class="section-title mt-0 mb-3">Choose your Experience</h2>
  <form class="filter-form" id="filter-form" method="post" onSubmit="return redirect();">
    <div class="col-12 col-lg-9 fields-wrapper d-flex justify-content-center flex-wrap px-lg-2">
      <div class="col-4 px-0">
        <div class="form-group type-cont mb-0">
            <select id="pro_type" class="form-control">
            <option value="">Type</option>
            <option value="Anklets">Anklets</option>
            <option value="Hats">Hats</option>
            <option value="Gloves">Gloves</option>
            </select>
        </div>
      </div>
      <div class="col-4 px-0">
        <div class="form-group mb-0">
            <select id="location" class="form-control">
            <option value="">Country</option>
            <option value="sg">Singapore</option>
            <option value="UK">UK</option>
            </select>
        </div>
      </div>
      <div class="col-4 text-left px-0">
        <button type="submit" id="submit" class="btn btn-primary btn-submit">SEARCH</button>
      </div>
    </div>
  </form>
</div>

<div class="travel-section d-flex flex-wrap flex-lg-nowrap align-items-lg-start justify-content-between col-12 px-0 pr-lg-3">
  <div class="left-panel col-lg-6 p-4 py-lg-5 pl-lg-5 pr-lg-0">
    <div class="left-panel-inner">
      <h6 class="travel-heading-small text-white mb-3">TRAVEL</h6>
      <div class="pt-1 pb-1 pr-2">
        <h2 class="travel-heading text-white mb-3">15 best luxury resorts in Bali for that exotic dream vacation</h2>
      </div>
      <div class="discover-btn-cont pt-5 pb-2">
        <a class="btn btn-primary discover-btn mt-5 mb-1">DISCOVER MORE</a>
      </div>
    </div>
  </div>
  <div class="right-panel pr-lg-1">
    <img src="https://static.techsembly.com/hvk1zk7XUq6n9X7ktyVDq8yZ" alt="travel" width="685"/>
  </div>
</div>
