<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
​    <style>
      /*fonts*/
      @font-face {
        font-family: 'Calibre-Regular';
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/20858334f659d0c98de31abb3f25341768531aeb/capella/fonts/calibre/Calibre-Regular.ttf');
      }

      @font-face {
        font-family: 'Calibre-Medium';
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/fcf974593b5d851af458246669f619a93fbd8056/capella/fonts/calibre/Calibre-Medium.ttf');
      }

      @font-face {
        font-family: 'Goudy Regular';
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/8e6bcc5fda15f6aac1b7420ae6755823c4ba0a5e/capella/fonts/goudy-regular/36B697_1_0.eot');
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/8e6bcc5fda15f6aac1b7420ae6755823c4ba0a5e/capella/fonts/goudy-regular/36B697_1_0.eot?#iefix') format('embedded-opentype'),
          url('https://bitbucket.org/TSTechsembly/jscss/raw/8ca4741bcb6f81a45e4694689dec65c6292ce05b/capella/fonts/goudy-regular/36B697_1_0.ttf') format('truetype'),
          url('https://bitbucket.org/TSTechsembly/jscss/raw/8ca4741bcb6f81a45e4694689dec65c6292ce05b/capella/fonts/goudy-regular/36B697_1_0.woff') format('woff'),
          url('https://bitbucket.org/TSTechsembly/jscss/raw/8ca4741bcb6f81a45e4694689dec65c6292ce05b/capella/fonts/goudy-regular/36B697_1_0.woff2') format('woff2');
        font-weight: 400;
      }

      @font-face {
        font-family: 'Goudy Light';
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/09f93dd9d580eccf519654691f087d28c4793ce4/capella/fonts/goudy-light/36B697_0_0.eot');
        src: url('https://bitbucket.org/TSTechsembly/jscss/raw/09f93dd9d580eccf519654691f087d28c4793ce4/capella/fonts/goudy-light/36B697_0_0.eot?#iefix') format('embedded-opentype'),
          url('https://bitbucket.org/TSTechsembly/jscss/raw/04325497a631886b9e8057843aade47f859451b3/capella/fonts/goudy-light/36B697_0_0.ttf') format('truetype'),
          url('https://bitbucket.org/TSTechsembly/jscss/raw/09f93dd9d580eccf519654691f087d28c4793ce4/capella/fonts/goudy-light/36B697_0_0.woff') format('woff'),
          url('https://bitbucket.org/TSTechsembly/jscss/raw/09f93dd9d580eccf519654691f087d28c4793ce4/capella/fonts/goudy-light/36B697_0_0.woff2') format('woff2');
        font-weight: 300;
      }
      /*end fonts*/
    </style>
    <style  type="text/css">
      #outlook a {
        padding:0;
      }
      .es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
      }
      a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
      }
      [data-ogsb] .es-button {
        border-width:0!important;
        padding:10px 20px 10px 20px!important;
      }
      body {
        color: #000000;
        font-family: 'Helvetica';
        font-size: 0.875rem;
        line-height: 1rem;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        padding: 0;
        margin: 0;
      }

    </style>
  </head>
  <body style="color: #000000; padding: 20px 0; background: #E5E5E5;">
    <div class="wrapper" style="background-color: #FFFFFF; max-width: 640px; margin: 0 auto;">
      <table class="main-table bg-light-grey" width="640" cellspacing="0" cellpadding="0" align="center" style="background-color: #fff; max-width: 640px; padding: 32px; margin: auto;">
        <thead>
          <tr>
            <th width="576"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="email-header text-left pt-4 pl-4 pb-5" style="padding-top: 1.5rem; padding-bottom: 3rem; padding-left: 1.5rem">
                <div class="pt-4">
                  <a href="#">
                    <img src="https://static.techsembly.com/rG1wT8wpkcDiaLs3zEFPGrKv" class="email-logo" width="126"/>
                  </a>
                </div>
              </div>
              <div class="msg-wrapper bg-white pl-32" style="padding: 0.5rem 1.5rem 1.5rem 2rem; background-color: #FCFCFC;">
                <div class="msg-top" style="color: #000; font-family: 'Helvetica'; font-size: 0.875rem; line-height: 1rem;">
                  <div class="pb-4" style="padding-bottom: 1.5rem;">Hi {{user_email}},</div>
                  <div class="pb-4" style="padding-bottom: 1.5rem;">We have received a request to reset your password.</div>
                  <div>If you did not make this request, please ignore this email. Otherwise, simply click the button below to reset your password.</div>
                  <div class="btns-wrapper" style="padding-bottom: .5rem; padding-top: 1rem; display: flex; align-items: flex-start;">
                    <a style="padding: 15px 20px 15px; background-color: #212322; font-family: 'Calibre-Medium'; color: #fff; height:auto; font-size: 0.875rem; line-height: 1rem; letter-spacing: 1.25px; text-decoration: none; text-transform: uppercase;" href="{{password_reset_url}}">RESET PASSWORD</a>
                  </div>
                </div>
              </div>
              <div class="email-footer" style="background-color: #EDEDED; padding: 2rem; border-radius: 0px 0px 4px 4px;">
                <div class="pb-4 mb-1" style="margin-bottom: .25rem; padding-bottom: 1.25rem; color: #6d6d6d; font-size: 0.75rem; line-height: 1.125rem;">
                  <p style="font-family: 'Helvetica';color: #6d6d6d; font-size: 0.75rem; line-height: 1.125rem; margin-top: 0;">2 Soi 1, Nawatgate Road, Tambon Watgate, Ampur Muang, Chiang Mai 50000, Thailand</p>
                  <br>
                </div>
                <div class="table-footer-cont">
                  <table width="100%" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <thead>
                      <tr>
                        <th width="40%"></th>
                        <th width="60%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a href="#"><img src="https://static.techsembly.com/rG1wT8wpkcDiaLs3zEFPGrKv" width="115"></a>
                        </td>
                        <td>
                          <div style="text-align: right;">
                            <a style="margin: 0 12px" href="https://www.facebook.com/137pillarshouse" target="_blank"><img src="https://static.techsembly.com/NNCfzytSogYJGBFy5rZCg737" width="20" alt="fb"/></a>
                            <a style="margin: 0 12px" href="https://www.instagram.com/137pillarshotelsandresorts/" target="_blank"><img src="https://static.techsembly.com/KCTnjXuYUDTBtAfus3xnuaQo" width="20" alt="instagram"/></a>
                            <a style="margin: 0 12px" href="https://sg.linkedin.com/company/137-pillars-hotels-and-resorts/" target="_blank"><img src="https://static.techsembly.com/y1PdS2hKEWX6CFk6JU6fwurF" width="20" alt="linkedin"/></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
