:root{
 --primary-font: 'brandon_grotesqueregular';
 --primary-med: 'brandon_grotesquemedium';
 --primary-bold: 'brandon_grotesquebold';
 /*--secondary-font: 'Libre Baskerville', serif;*/
 --secondary-font: 'Libre_Baskerville';
 --third-font: 'Lato', sans-serif;
 --forth-font: 'Calibre-Regular';
 --body-bg: #ffffff;
 --primary-bg-color: #489BAF;
 --color-light: #7d7d7d;
 --color-dark: #333;
}
html {
   overflow-x: hidden;
}
body {
  background-color: var(--body-bg);
  color: var(--color-dark);
  font-family: var(--primary-font);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
  font-family: var(--primary-font);
  font-weight: 390;
}
a,
a:hover,
a:focus  {
  color: var(--color-dark);
  font-family: var(--primary-font);
  text-decoration: none;
}
p {
  color: var(--color-dark);
  font-family: var(--primary-font);
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active {
  background-color: var(--primary-bg-color);
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.form-control:focus {
  box-shadow: none;
}
.default-breadcrumb,
.arrow-breadcrumbs {
  align-items: center;
}
.arrow-breadcrumbs {
  margin-bottom: 0.5rem;
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 1px;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.processed a,
.arrow-breadcrumbs li.in-progress a {
  color: var(--color-dark);
  font-family: var(--primary-med);
  font-weight: 420;
}
.arrow-breadcrumbs li.processed a {
  font-family: var(--primary-font);
  font-weight: 330;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
  content: url('https://static.techsembly.com/DdRSvnMpjsX2SSgJtiKm2iiv');
}
.btn.btn-transparent {
  background-color: transparent;
}
nav#sidebar {
  top: 85px;
}
.mob-overlay {
  top: 87px;
}
nav#sidebar ul li a {
  font-weight: 390;
  text-transform: uppercase;
}
nav#sidebar ul.user-links a.d-flex {
  align-items: center;
}
header.header {
  border-bottom: none;
  margin-bottom: 1.75rem;
}
body[data-pagetype="home"] header.header,
body[data-pagetype="checkout"] header.header ,
body[data-pagetype="success"] header.header,
body[data-pagetype="user-page"] header.header {
  margin-bottom: 0;
}
body[data-pagetype="search_results"] header.header,
body[data-pagetype="category"] header.header {
  margin-bottom: 1.5rem;
}
body[data-pagetype="product"] header.header {
  margin-bottom: 2rem;
}
header.header .shipping li,
header.header .shipping li a {
  color: #313131;
  font-family: var(--third-font);
  font-size: 0.8125rem;
  line-height: 1;
}
header.header .shipping li img {
  max-width: 25px;
  margin-top: -2px;
}
header.header .shipping li a.dropdown-toggle,
header .mob-top-links .dropdown-flag a.dropdown-toggle {
  font-weight: 900;
  pointer-events: none;
}
header.header .shipping li a.dropdown-toggle:after,
header .mob-top-links .dropdown-flag a.dropdown-toggle:after {
  display: none;
}
header.header .logo img {
  height: auto;
  width: 175px;
}
header.header .head-links li a img {
  height: auto;
  max-width: 1.125rem;
}
header.header .head-links li a#cart-bag {
  padding-right: 0;
}
header.header .head-links li .cart-qty,
header .mob-top-links .cart-qty {
  height: 1rem;
  width: 1rem;
  font-size: 0.625rem;
}
header.header .head-links li .cart-qty {
  top: 1.375rem;
  right: -0.125rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont,
header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont {
  min-height: auto;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price {
  margin-bottom: auto;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-details {
  padding-bottom: 1.5rem;
}
header.header .search .search-item-form .nav-search-field {
  background-color: #ededed;
}
.mobile-search-box .nav-search-field::placeholder,
header.header .search .search-item-form .nav-search-field::placeholder {
  font-size: 0;
}
header.header .search .search-item-form .nav-search-field {
  height: 37px;
}
header.header .search .search-item-form {
  max-width: 265px;
}
header.header .search .search-item-form button {
  padding-top: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
header.header .search .search-item-form button img {
  max-width: 1.375rem;
  margin-top: -0.1875rem;
}
.mobile-search-box .btn-search img {
  max-width: 1.75rem;
}
header .main-menu-wrapper {
  background-color: var(--primary-bg-color);
  border-bottom-color: var(--primary-bg-color);
  padding-top: 0.625rem;
}
header.header .menu-holder>li.nav-item {
  margin-right: 2.5rem;
}
header.header .menu-holder li a.main-category {
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
header.header .main-menu-wrapper .menu-holder li a.main-category {
  background-color: var(--primary-bg-color);
  border-bottom-color: var(--primary-bg-color);
  color: #fff;
}
.home-banner .banner-title,
.gift-section .banner-title,
.promo-holder .banner-title {
  display: none;
}
.home-banner .banner-heading {
  font-family: var(--primary-font);
  font-weight: 390;
  line-height: 1.25;
}
.home-banner .hero-btn {
  border: 0.0625rem solid #FFFFFF;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 390;
  line-height: 1rem;
  letter-spacing: 1px;
  padding-top: 0.5625rem;
  height: 2.5rem;
  min-width: 200px;
  margin-top: 1.125rem;
}
.home-slider .carousel-container {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-bottom: 3.25rem;
}
.home-slider .section-title {
  color: var(--color-dark);
  font-weight: 390;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home-slider .post-tile .post-link {
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25;
  letter-spacing: 1px;
  margin-top: 0.75rem;
  text-transform: uppercase;
  width: 100%;
}
.wrapper .home-slider:nth-of-type(2n + 1) .carousel-container {
  padding-bottom: 2.625rem;
}
.wrapper .home-slider:nth-of-type(2n + 1) .post-tile-link {
  position: relative;
}
.wrapper .home-slider:nth-of-type(2n + 1) .post-link {
  position: absolute;
  color: #fff;
  left: 1.25rem;
  bottom: 1.375rem;
  text-align: left !important;
  width: auto;
}
.wrapper .home-slider:nth-of-type(2n + 1) .post-tile-link:hover .post-link,
.wrapper .home-slider:nth-of-type(2n + 1) .post-tile-link:focus .post-link {
  color: #fff;
}
.gift-section img,
.promo-holder .promo-box img {
  height: auto;
}
.gift-section .gifts-content {
  top: 38.5%;
  left: auto !important;
  margin-left: 3.75rem;
}
.gift-section .gifts-heading {
  font-weight: 390;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.gift-section .gifts-content .gifts-desc {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  padding-top: 0.625rem;
}
.gift-section .gifts-content .gifts-desc br {
  display: none;
}
.gift-section .explore-link {
  color: #fff;
  display: block;
  font-size: 0.75rem;
  font-weight: 390;
  line-height: 1.33;
  letter-spacing: 1px;
  text-decoration-line: underline;
  margin-top: 0.625rem;
}
.promo-section .promo-holder {
  padding-top: 3.125rem;
}
.promo-holder .promo-box:first-child {
  margin-right: 1.5625rem;
}
.promo-holder .promo-box .promo-content {
  bottom: 1.875rem;
  font-family: var(--primary-font);
  font-weight: 390;
  letter-spacing: 1px;
  left: 1.25rem !important;
  text-transform: uppercase;
  top: auto;
}
.promo-holder .promo-box .promo-title {
  font-size: 1.125rem;
  line-height: 1.11;
}
.promo-holder .promo-box .promo-content .promo-desc {
  font-size: 0.75rem;
  font-weight: 390;
  line-height: 1.33;
  padding-top: 0.6875rem;
  text-decoration: underline;
}
.wrapper section.featured-client {
  display: none !important;
}
/* product listing page style */
.default-breadcrumb {
  margin-bottom: 0.5625rem;
}
.default-breadcrumb li,
.default-breadcrumb li a,
.breadcrumb-heading {
  color: var(--color-light);
  font-weight: 390;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
}
.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0.125rem;
}
.product-container .product-select {
  margin-right: 0;
  padding-top: 0.5625rem;
}
.product-select .form-group.sort-cont {
  width: 37.725%;
}
.product-select .form-group.sort-cont label {
  color: var(--color-light);
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 1px;
}
.product-select .form-group select.form-control {
  background-color: #f0f0f0;
  background-image: url('https://static.techsembly.com/v92n1zPFQ3DKpNdDs6RkM6e4') !important;
  background-position-x: 3%;
  border-color: #ededed;
  font-size: 0.875rem;
  height: 1.875rem;
  padding-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.select-form.form-group label {
  font-weight: 330;
  line-height: 1.25rem;
}
.select-form.form-group select.form-control {
  background-image: url('https://static.techsembly.com/9uRvqY5GNbSx1kjM14z14JoH');
  background-repeat: no-repeat;
}
.products-container #sidebar {
  padding-top: 0.5625rem;
}
.sidebar-widget .result-text p {
  color: var(--color-light);
  font-family: var(--primary-bold);
  font-size: 0.875rem;
  font-weight: 450;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
  border-bottom-color: #D6D1D1;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
  background-image: url('https://static.techsembly.com/vRWeSpdiKJX4myuSDEXzLe6M');
  background-repeat: no-repeat;
  background-position-y: 0.4375rem;
  background-position-x: center;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item.down:after {
  background-position-x: center;
  background-position-y: 0.4375rem;
}
.sidebar-widget .list-group .list-group-holder a.list-group-item-action {
  padding-left: 1.125rem;
}
.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder a {
  color: var(--color-light);
  font-family: var(--primary-font);
  font-weight: 390;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
  align-items: center;
  color: var(--color-light);
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li .checkbox-holder input {
  margin-top: 0;
}
.sidebar-widget .product-catefilterParamsgories,
.sidebar-widget .mob-range-slider {
  margin-bottom: 0 !important;
}
.sidebar-widget .ng5-slider .ng5-slider-bubble {
  color: var(--color-light);
  font-size: 0.875rem;
}
.products-container .products-holder-main .products-holder {
  padding-top: 0.375rem !important;
  justify-content: space-between;
}
.products-container .products-holder-main .products-holder .product-column .product-list {
  margin-bottom: 1.625rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
  height: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
  width: 100%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
  width: 10%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
  width: 90%;
  margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont div:empty {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
  margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3,
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.pro-name {
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link {
  display: none !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img,
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-rating .wishlistImage img {
  height: auto;
  max-width: 1.125rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
  padding-top: 1.375rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p,
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-pricing p {
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* end product listing page */
/*Product detail*/
.product-detail-container .preview-thumbnail {
  margin-top: 0.75rem;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
  border-color: #6d6d6d !important;
  border-radius: 0.125rem !important;
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
.product-carousel-desktop .owl-nav button.owl-prev {
  background-image: url('https://static.techsembly.com/4Sv5JzGT4hXkXAGdre8vZspt');
}
.product-carousel-desktop .owl-nav button.owl-next {
  background-image: url('https://static.techsembly.com/4WHVGKJswfcxbvayTGzjEADq');
}
.product-detail-container .product-holder .share-link {
  display: none !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
  letter-spacing: 0;
  margin-bottom: 0.625rem;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating,
.product-detail-container .product-holder .product-detail .product-info .made-by {
  display: none !important;
}
.product-detail-container .product-holder .product-detail {
  height: auto;
  margin-bottom: 0 !important;
}
.product-detail-container .product-holder .product-detail .shipping {
  display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
  background-color: transparent;
}
.product-detail-container .product-holder .product-order .tab-content {
  padding-bottom: 5rem;
}
.product-detail-container .product-holder .product-order .tab-content,
.product-detail-container .product-holder .product-order .tab-content p {
  font-family: var(--secondary-font);
}
.product-detail-container .product-holder .product-order .personalise-form {
  font-family: var(--primary-font);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border-bottom: 1px solid var(--color-light);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
  border-bottom-color: var(--color-dark);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
  color: #757575;
  font-size: 1rem;
  font-weight: 330;
  line-height: 1.125rem;
  letter-spacing: 1px;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child .col-lg-10 {
  max-width: 100%;
  flex-basis: 100%;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child .col-lg-2 {
  display: none;
}
.product-detail-container .personalise-form .form-group label {
  color: #000;
  font-size: 1rem;
  letter-spacing: 1px;
}
.product-detail-container .personalise-form .checkbox-holder label {
  align-items: center;
}
.product-detail-container .personalise-form .form-group .form-control {
  border-color: var(--color-dark);
  box-shadow: 0px 0px 0px 2px #F5F9FE;
  border-radius: 0.125rem;
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 330;
  line-height: 1.25rem;
  padding: 1rem;
  height: auto;
  max-height: none;
}
.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'],
.product-detail-container .personalise-form .form-group select {
  max-height: none;
}
.product-detail-container .personalise-form .form-group select.form-control {
  padding-right: 2rem;
}
.product-detail-container .add-to-basket-cont {
  padding-right: 0;
}
.product-detail-container .personalise-form .form-group.add-basket {
  margin-top: 0.9375rem;
}
.product-detail-container .personalise-form .form-group .order-input {
  border-radius: 0.1875rem;
}
.product-detail-container .personalise-form .form-group .order-btn {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 1px;
  height: 3.375rem;
  text-transform: uppercase;
}
app-product-detail app-related-products[title='Recently Viewed'] {
  display: none;
}
.related-products {
  border-top: none;
}
.related-products h3 {
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.related-products .related-products-holder .product-content .product-title a.vendor-link {
  display: none !important;
}
.related-products .related-products-holder .product-content .product-rating {
  display: none;
}
.related-products .related-products-holder .related-products-image {
  height: auto;
}
.related-products .related-products-holder .product-content .product-title,
.related-products .related-products-holder .product-content .product-pricing {
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.related-products .related-products-holder .product-content .product-title {
  margin-bottom: 0.0625rem;
  width: 100%;
}
/*end product detail */
/*cart page*/
body[data-pagetype="cart"] .main-menu-wrapper,
body[data-pagetype="checkout"] .main-menu-wrapper,
body[data-pagetype="login-signup"] .main-menu-wrapper,
body[data-pagetype="success"] .main-menu-wrapper,
body[data-pagetype="user-page"] .main-menu-wrapper {
  display: none;
}
.container.custom-container.cart-container {
  font-family: var(--primary-font);
  font-weight: 390;
}
.custom-container.cart-container .arrow-breadcrumbs {
  margin-bottom: 0.375rem;
}
.container.custom-container.cart-container .breadcrumb-heading,
.container.custom-container.cart-container .order-sum-heading {
  color: #757575;
  font-family: var(--primary-font);
  font-weight: 390;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.container.custom-container.cart-container .order-sum-heading {
  color: #000;
  margin-bottom: 0.3125rem;
}
.custom-container.cart-container .card.order-summary-cont {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  margin-top: 0.3125rem;
}
.custom-container.cart-container .vendor-items-cont {
  padding-top: 1.125rem !important;
}
.custom-container.cart-container .vendor-items-cont .card {
  border-color: transparent;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
  border-color: #d1d1d0;
}
.container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading {
  font-weight: 390;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont span {
  font-weight: 330;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
}
.custom-container.cart-container .vendor-heading .vendor-name a {
  pointer-events: none;
}
.custom-container.cart-container .vendor-items-cont .card .card-body {
  padding-top: 1.625rem !important;
  padding-bottom: 0;
}
.container.custom-container.cart-container .cart-item.new {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
}
.custom-container.cart-container .cart-item.new .item-details .item-name,
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
  font-weight: 390;
}
.custom-container.cart-container .cart-item.new .item-details .item-name {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
}
.custom-container.cart-container .cart-item.new .item-details-cont .col-label {
  font-weight: 390;
  letter-spacing: 1px;
}
.cart-item.new .item-details .qty-col {
  padding-left: 0;
  padding-right: 0;
}
.custom-container.cart-container .cart-item.new .item-qty-cont {
  border-color: #d9d9d9;
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 1px;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec,
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc {
  background-color: #fcfcfc;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.custom-container.cart-container .vendor-items-cont a.del-item-link {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
}
.custom-container.cart-container .vendor-items-cont a.collapse-link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.cart-item.new .pro-badges-cont .pro-badge {
  /*display: none !important;*/
}
.custom-container.cart-container .cart-item.new .pro-badges-cont .pro-badge,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  background-color: #ededed;
  color: var(--color-dark);
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.cart-container .cart-item.new .form-control {
  border-color: #dbd9d9;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.custom-container.cart-container .card .cart-login-cont {
  background-color: #f5f5f5;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  border-color: #cbdef6;
  color: var(--color-dark);
  font-weight: 390;
  letter-spacing: 1px;
  padding-bottom: 0.5rem !important;
  text-transform: uppercase;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.container.custom-container.cart-container .card.order-summary-cont .card-body {
  color: var(--color-dark);
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.cart-container .card .cart-login-cont .login-note {
  padding-bottom: 2.5rem;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
  font-family: var(--primary-med);
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 1.125rem;
}
.container.custom-container.cart-container .cart-login-cont form input.form-control {
  border-color: #dbd9d9;
  color: var(--color-dark);
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.cart-container form.cart-login-form .forget-psw-link {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.cart-container form.cart-login-form .form-submit-cont {
  border-color: #cbdef6;
}
.custom-container.cart-container .card .cart-login-cont .btn.btn-primary {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  height: 3.125rem;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.cart-container .card .cart-login-cont .checkout-note {
  padding-top: 1.5rem;
}
.container.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
  font-weight: 390;
}
.container.custom-container.cart-container .continue-btn-new {
   border-color: var(--color-dark);
   color: var(--color-dark);
   font-family: var(--secondary-font);
   font-size: 1rem;
   font-weight: 400;
   height: 3.25rem;
   line-height: 1.25rem;
   letter-spacing: 0.0625rem;
   padding: 1rem 1.5rem;
   margin-bottom: 1.75rem;
}
body[data-pagetype="cart"] #delivery-options-popup .modal-container {
  color: var(--color-dark);
}
#delivery-options-popup .modal-container .modal-title,
#delivery-options-popup .modal-container .pref-method-note {
  color: var(--color-dark);
}
.modal-popup#delivery-options-popup .pref-method-note {
  font-size: 1rem;
}
#delivery-options-popup .modal-container .radio-container .checkmark {
  border-color: var(--color-dark);
}
#delivery-options-popup .modal-container .radio-container input:checked ~ .checkmark {
  background-color: var(--color-dark);
}
#delivery-options-popup .modal-container .radio-container .checkmark::after {
  background-color: #333;
  top: 1.75px;
  left: 1.95px;
  width: 16.5px;
  height: 16.5px;
}
body[data-pagetype='cart'] #delivery-options-popup .item-row .radio-container:not(:first-child) .checkmark::after {
  left: 2px;
}
#delivery-options-popup .modal-container .modal-footer {
  border-color: #d9d9d9;
}
#delivery-options-popup .modal-container .modal-footer .btn {
  font-family: var(--secondary-font);
  font-weight: 400;
  padding-top: 0.375rem;
}
#delivery-options-popup .modal-container .modal-footer .btn.btn-submit {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
#delivery-options-popup .item-img-cont {
  flex: 1 0 50%;
  max-width: 50%;
}
/*end cart page*/
/*checkout*/
app-checkout,
app-stripe-auth {
  background-color: #fcfcfc;
  display: block;
}
.custom-container.checkout-footer img[alt="securepaymentbadge"] {
  display: none;
}
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .address-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading {
  color: var(--color-dark);
  font-size: 1.125rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.custom-container.checkout .shipping-form-container .address-heading {
  padding-bottom: 0.5rem;
}
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading {
  margin-bottom: 1.375rem !important;
}
.custom-container.checkout .shipping-form-container .form-group label {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.checkout .shipping-form-container .form-control,
.custom-container.checkout .payment-form-container .form-control {
  border-color: #d9d9d9;
  color: var(--color-dark);
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  height: 3.125rem;
}
.custom-container.checkout .shipping-form-container .checkbox-cont input:checked ~ .checkmark {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper {
  border-color: #d1d1d1;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card {
  border: none;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card:not(:last-child) {
  margin-bottom: 2rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .customer-name {
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card a {
  color: var(--color-dark);
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .edit-address img {
  margin-top: -0.3125rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body div:not(:empty):not(:last-child) {
  padding-bottom: 0.5rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-footer {
  padding-top: 0.5rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .btn {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.0625rem;
}
.checkout .delivery-methods-cont .card {
  border: none;
  border-radius: 0.5rem;
}
.custom-container.checkout .delivery-methods-cont .card .card-body {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  padding-top: 1.5rem;
}
.checkout .delivery-methods-cont .card .card-body .card-row:not(:last-child) {
  border-color: #d9d9d9;
}
.checkout .delivery-methods-cont .card .card-body .row-head {
  color: #000;
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  padding-right: 0;
  text-transform: uppercase;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
  color: #000;
  font-size: 1.125rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
  max-width: 50%;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
  pointer-events: none;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
  align-items: center;
  border-color: #d1d1d1;
  padding-top: 0.5rem !important;
  padding-bottom: 0.75rem !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  color: #6d6d6d;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card-body .order-item {
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  padding-top: 0.3125rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
  font-weight: 390;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  background-color: #ededed;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
  border-color: #d9d9d9;
  //padding-bottom: 1rem !important;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container {
  font-weight: 330;
  margin-bottom: 0.25rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .d-flex {
  align-items: center;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
  border-color: #212322;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
  background-color: #212322;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
  top: 1px;
  left: 1px;
  height: 18px;
  width: 18px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
  margin-top: 0;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont {
  text-transform: uppercase;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row {
  font-weight: 390;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:first-child {
  padding-top: 0;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:not(:last-child) {
  padding-bottom: 0.75rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
}
.custom-container.checkout .mat-form-field-flex {
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow:  0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  height: 50px;
  padding-top: 0.3125rem;
}
.custom-container.checkout .mat-form-field-label {
  color: var(--color-dark);
  font-family: var(--primary-font);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.25rem;
}
.custom-container.checkout .mat-form-field-label-wrapper {
  top: -1rem;
}
.custom-container.checkout .mat-form-field-underline {
  display: none;
}
.custom-container.checkout .btn.btn-primary {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  padding-top: 0.5rem;
}
.custom-container.checkout .card.order-summary-cont {
  border: none;
}
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .order-sum-heading {
  margin-bottom: 0.75rem;
}
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item,
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item {
  text-transform: uppercase;
}
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details,
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price,
.custom-container.checkout .order-totals-container {
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.checkout .order-totals-container {
  background-color: #ededed;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
}
.custom-container.checkout .order-totals-container .sub-total-holder {
  border-color: #d9d9d9;
}
.custom-container.checkout .order-totals-container .sub-total-desc {
  flex-basis: 40%;
  max-width: 40%;
}
.custom-container.checkout .order-totals-container .sub-price {
  flex-basis: 60%;
  max-width: 60%;
}
.custom-container.checkout .order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 1.8125rem;
}
.custom-container.checkout .order-totals-container .total-holder {
  padding-top: 0.3125rem;
}
.custom-container.checkout .order-totals-container .total-holder .order-total-item .total-desc,
.custom-container.checkout .order-totals-container .total-holder .total-price {
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.checkout .shipping-form-container .label-email label.info-text {
  text-transform: uppercase;
}
.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont.recipient-cont {
  padding-bottom: 0;
}
.checkout .payment-form-container {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
}
.checkout .payment-form-container .card {
  border-color: transparent;
}
.checkout .payment-form-container .payments-methods-cont .card {
  border: 0.125rem solid #212322;;
}
.checkout .payment-form-container .radio-container .checkmark::after {
  background-color: #212322;
  top: 5px;
  left: 1.5px;
  width: 17.5px;
  height: 17.5px;
}
.checkout .payment-form-container .radio-container input:checked ~ .checkmark {
  border-color: #212322;
  background-color: #212322;
}
.checkout .payment-form-container .radio-container .pay-method-name {
  margin-top: 0;
}
.checkout .payment-form-container .payments-methods-cont,
.checkout .payment-form-container .section-cont {
  border-bottom-color: #D9D9D9;
}
.checkout .payment-form-container .section-heading {
  color: #000;
  font-size: 1.125rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.checkout .payment-form-container .password-note {
  color: #6d6d6d;
}
.checkout .payment-form-container .checkbox-cont .checkbox-note {
  color: #000;
  margin-top: 0;
}
.checkout .payment-form-container .form-group label,
.checkout .payment-form-container .card .card-body {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.checkout .payment-form-container .card .card-body .row-head {
  color: #000;
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.checkout .order-totals-container .promo-cont a {
  color: var(--color-dark);
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
}
.checkout .payment-form-container .checkbox-cont input:checked ~ .checkmark {
  border-color: #212322;
  background-color: #212322;
}
.checkout .checkout-container.complete {
  font-size: 0.875rem;
  font-weight: 390;
  line-height: 1.25rem;
}
.container.custom-container.checkout .row:first-child {
  margin-bottom: 0 !important;
}
.checkout .checkout-container.complete .card.order-confirm-wrapper {
  border-color: #d9d9d9;
  border-radius: 0;
}
.checkout .checkout-container.complete .blue-light-bg {
  background-color: #fcfcfc;
}
.checkout-container.complete .card-header {
  padding-top: 1.0625rem !important;
  padding-bottom: 1.0625rem !important;
}
.checkout-container.complete .card-header img[alt="logo"] {
  width: auto;
  max-width: 175px;
}
.checkout-container.complete .card.order-confirm-wrapper .breadcrumb-heading {
  color: var(--color-dark);
  font-size: 1.125rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
.checkout .checkout-container.complete .section-cont {
  border-color: #d9d9d9;
}
.checkout .checkout-container.complete .section-cont.customer-note,
.checkout .checkout-container.complete .msg-cont {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.checkout .checkout-container.complete .section-cont.customer-note,
.checkout .checkout-container.complete .section-cont.order-data {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}
.checkout .checkout-container.complete .section-cont.order-data {
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.checkout .checkout-container.complete .order-data .order-column .col-heading {
  color: var(--color-light);
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details {
  padding-top: 0;
  padding-bottom: 0.25rem;
}
.checkout .checkout-container.complete .cart-data {
  font-weight: 390;
}
.checkout .checkout-container.complete .cart-data .vendor-items-holder {
  padding-bottom: 1.75rem;
}
.custom-container.checkout .checkout-container.complete .cart-data .vendor-items-holder:last-child {
  padding-bottom: 0;
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item {
  font-weight: 390;
  padding-bottom: 0;
  letter-spacing: 0.0625rem;
}
.checkout .checkout-container.complete .cart-data .order-item .item-desc,
.checkout .checkout-container.complete .cart-data .order-item .item-desc .item-name {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.checkout .checkout-container.complete .cart-data .order-item .item-desc .item-brand {
  color: var(--color-light);
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .attributes {
  color: #6d6d6d;
  padding-top: 0.125rem;
}
.custom-container.checkout-container.complete .customer-note .updated-del-string {
  padding-top: 1.25rem;
}
.checkout .checkout-container.complete .cart-data .order-item .item-price {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.custom-container.checkout-container.complete .section-cont.shipping-data {
  padding-top: 0.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row {
  margin-top: 0 !important;
}
.custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-3 {
  text-transform: uppercase;
}
.checkout .checkout-container.complete .total-cont,
.checkout .checkout-container.complete .total-cont .total-price {
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25rem;
}
.checkout .checkout-container.complete .card-footer {
  text-transform: uppercase;
}
.checkout .checkout-container.complete .card-footer-left {
  color: #000;
}
.checkout .checkout-container.complete a,
.checkout .checkout-container.complete .supp-email-cont,
.checkout .checkout-container.complete .card-footer-right {
  color: #6d6d6d;
}
.checkout .checkout-container.complete .supp-email-cont {
  margin-left: 0.25rem;
}
.checkout .checkout-container.complete .supp-email-cont a {
  text-decoration: underline;
}
.checkout .checkout-container.complete .card-footer .home-btn-cont {
  padding-top: 1.75rem;
}
.checkout .checkout-container.complete .card-footer .home-btn {
  border-radius: 0.1875rem;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  min-width: 204px;
}
.custom-container.checkout-footer {
  display: none;
}
.checkout-copyright-cont {
  padding-top: 0.9375rem;
  padding-bottom: 0.875rem;
}
.checkout-copyright-cont,
.checkout-copyright-cont a {
  color: #212322;
  font-family: var(--forth-font);
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.01em;
}
/*end checkout*/
/*login-signup*/
.custom-container.login-signup .breadcrumb {
  margin-bottom: 0;
}
.custom-container.login-signup .breadcrumb-heading {
  color: var(--color-dark);
  line-height: 1.25;
  text-transform: uppercase;
}
.custom-container .login-signup-tabs-cont .left-panel {
  border-color: #dbd9d9;
}
.custom-container .login-signup-tabs-cont .panel-heading {
  font-size: 1.125rem;
  font-weight: 390;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 1.3125rem;
  text-transform: uppercase;
}
.login-signup-tabs-cont .tab-pane form label {
  font-size: 1rem;
  font-weight: 390;
  line-height: 1.25;
  letter-spacing: 0.0625rem;
}
.login-signup-tabs-cont .tab-pane form .form-group:first-child {
  padding-bottom: 0.5rem;
}
.container.custom-container .login-signup-tabs-cont form .form-control {
  border-radius: 0.125rem;
  border-color: #757575;
  box-shadow: 0px 0px 0px 2px #F5F9FE;
  color: var(--color-dark);
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  height: 3.375rem;
}
.container.custom-container .login-signup-tabs-cont form .form-control::placeholder {
  font-style: normal;
}
.custom-container .login-signup-tabs-cont form label.remember,
.custom-container .login-signup-tabs-cont form label.newsletter-check {
  align-items: center;
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 0;
}
.custom-container .login-signup-tabs-cont form label input[type="checkbox"] {
  margin-top: 0;
}
.custom-container .login-signup-tabs-cont form label.remember span,
.custom-container .login-signup-tabs-cont form label.newsletter-check span {
  margin-top: 0.125rem;
}
.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}
.custom-container .login-signup-tabs-cont form .form-group:nth-last-child(2) {
  margin-bottom: 0 !important;
  padding-bottom: 1rem !important;
}
.container.custom-container .login-signup-tabs-cont form .btn.submit {
  background-image: none;
  font-family: var(--secondary-font);
  font-weight: 400;
  height: 3.375rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
/*end login-signup*/
/*user pages*/
.user-wrapper .container.user-container {
  font-weight: 390;
}
.user-container .default-breadcrumb {
  margin-bottom: 0.75rem;
}
.user-container nav[aria-label="breadcrumb"] .user-heading {
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}
.user-wrapper .container.user-container .user-details-holder {
  border: none;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  padding-left: 0 !important;
  padding-top: 0 !important;
}
.user-wrapper .container.user-container .user-details-holder .detail-row {
  padding-bottom: 0.5rem !important;
}
.user-wrapper .container.user-container .user-details-holder .detail-head {
  text-transform: uppercase;
}
.user-wrapper .container.user-container .user-details-holder .detail-desc,
.user-wrapper .container.user-container .user-details-holder .detail-desc a {
  color: var(--color-light);
}
.user-container .user-heading {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.user-container .gift-card-heading {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.user-wrapper .user-container .orders-table-holder {
  padding-top: 1.25rem !important;
}
.user-wrapper .user-container .orders-table-holder table {
  color: #000;
  margin-top: 0 !important;
}
.user-wrapper .user-container .orders-table-holder table td,
.user-wrapper .user-container .orders-table-holder table a {
  font-size: 0.875rem;
  font-weight: 330;
  line-height: 2;
  letter-spacing: 0.0625rem;
}
.user-wrapper .user-container .orders-table-holder .orders-table thead {
  border-color: #dbd9d9;
}
.user-wrapper .container.user-container .orders-table-holder .orders-table thead th {
  border: none;
  font-family: var(--primary-med);
  font-size: 1rem;
  font-weight: 420;
  line-height: 1.75;
  letter-spacing: 0.0625rem;
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  text-align: center;
}
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr:first-child td {
  padding-top: 0.9375rem;
}
.user-wrapper .user-container .orders-table-holder table td {
  border-color: #dbd9d9;
  padding-top: 0.25rem;
  padding-bottom: 0.125rem;
  text-align: center;
}
.user-wrapper .container.user-container .orders-table-holder .orders-table thead tr th:first-child,
.user-wrapper .user-container .orders-table-holder table tr td:first-child {
  text-align: left;
}
.user-container .gift-card-balance-holder {
  padding-bottom: 0 !important;
}
.user-container .gift-card-balance-holder form .form-group:last-child {
  margin-bottom: 0;
}
.user-container .orders-heading {
  margin-top: 0 !important;
}
.user-wrapper .container.user-container .btn.btn-primary {
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.user-wrapper .container.user-container .btn.add-address-btn,
.user-wrapper .container.user-container .btn.signout-btn,
.user-wrapper .container.user-container .btn.submit {
  height: 3.375rem;
  width: 14.1875rem;
}
.user-wrapper .container.user-container .btn.add-address-btn {
  //-webkit-mask-image: -webkit-radial-gradient(circle, var(--primary-bg-color), var(--primary-bg-color));
  -webkit-transform: translateZ(0);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  overflow: hidden;
}
.user-wrapper .container.user-container .order-items-details .order-item .item-name {
  font-weight: 390;
}
.user-wrapper .user-container .order-items-details .order-item .item-vendor {
  display: none;
}
.user-wrapper .user-container .order-items-details .order-item .refund-col input {
  max-width: 100%;
  margin-bottom: 0.5rem;
}
.user-wrapper .user-container .order-items-details .order-item .refund-col button {
  width: auto;
}
.user-wrapper .container.user-container .order-items-details .order-item .order-item-bottom {
  display: none;
}
.user-wrapper .user-container .order-items-details .order-item .btn.contact-btn {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
/*end user pages*/
.custom-container.wishlist-container .products-container .products-holder {
  justify-content: space-between;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.vendor-link {
  display: none !important;
}
.footer {
  border-top: none;
  background-color: #333;
  margin-top: 0;
  padding-top: 3.125rem;
}
.footer .container.custom-container {
  padding-right: 2.8125rem;
  padding-left: 2.8125rem;
}
.footer .footer-widget .widget-title {
  display: none;
}
.footer .footer-widget:last-child .widget-title {
  display: block
}
.footer .footer-widget:not(:last-child) .widget-content {
  padding-top: 0;
}
.footer .footer-widget .widget-title,
.footer .footer-widget .widget-content ul li a,
.footer .mobile-footer .footer-widget ul li a {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 330;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .footer-widget .widget-content ul li {
  padding-bottom: 0.9375rem;
}
.footer .footer-widget .widget-content .social-links li {
  width: auto;
}
.footer .footer-widget .widget-content .social-links li:not(:last-child){
  margin-right: 1.5625rem;
  padding-bottom: 0;
}
.footer .footer-widget .social-links li.insta-link-cont:last-child {
  display: none;
}
.footer .footer-widget .social-links li img {
  max-width: 21px;
}
.footer .mobile-footer .list-group .list-group-holder>a.list-group-item {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
}
.footer .mobile-footer .list-group .list-group-holder:last-child {
  display: none;
}
.footer .mobile-footer .list-group .list-group-holder .collapsing {
  transition: none;
}
.footer .container.custom-container.copyright-cont {
  margin-top: 1.125rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 4rem !important;
}
.footer .copyright-cont .pay-methods-avail .meth-link img {
  max-width: 3rem;
}
.footer .copyright-cont .powered-by {
  padding-top: 0.5rem;
}
.footer .copyright-cont .powered-by,
.footer .copyright-cont .powered-by a {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 330;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .copyright-cont .powered-by a:hover,
.footer .copyright-cont .powered-by a:focus {
  font-size: 0.75rem;
}
.footer .copyright-cont .powered-by div:not(.powered-link-cont){
  display: none;
}
@media (max-width: 1199.98px) {
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    margin-bottom: 0.5rem !important;
  }
}

@media (max-width: 991.98px) {
  .mob-top-links .dropdown-flag {
    display: none;
  }
  header .main-menu-wrapper {
    display: none;
  }
  .home-banner .banner-heading {
    width: 100%;
  }
  .gift-section .gifts-content {
    width: 85%;
  }
  .promo-holder .promo-box {
    height: auto;
  }
  .product-container .mobile-nav {
    padding-bottom: 2rem;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 48%
  }
  .product-detail-container .product-holder .product-order {
    border-top: none;
  }
  .product-detail-container .add-to-basket-cont {
    width: 100%;
  }
  .custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image {
    height: auto;
    min-height: 268px;
    max-height: 268px;
  }
  .custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image img {
    max-height: 268px;
  }
  .footer .footer-widget .widget-content .social-links {
    align-items: center;
  }
}

@media (max-width: 767.98px) {
  header.header .logo img {
    width: 140px;
  }
  .mob-search-cont {
    padding-bottom: 0.5rem;
  }
  header .mob-top-links .cart-qty {
    padding-top: 0.125rem;
  }
  .home-slider.bestsellers-slider .mob-custom-carosel {
    display: block !important;
  }
  .home-slider .mob-custom-carosel .carousel-container {
    padding-bottom: 0;
  }
  .gift-section {
    display: block !important;
  }
  .gift-section .gifts-content {
    top: auto;
    margin-left: 1rem;
    bottom: 1rem;
  }
  .gift-section .gifts-heading {
    font-size: 1.125rem;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 45%;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    width: 85%;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
    width: 15%;
  }
  .custom-container.cart-container form.cart-login-form .form-submit-cont {
    border: none;
    padding-bottom: 0 !important;
  }
  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-3 {
    flex-basis: 30%;
    max-width: 30%;
    padding-right: 1rem !important;
  }
  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-9 {
    flex-basis: 70%;
    max-width: 70%;
  }
  .checkout .checkout-container.complete .card-footer-left {
    max-width: 50%;
  }
  .user-wrapper .container.user-container .orders-table-holder .orders-table thead th {
    min-width: 150px;
  }
  .custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image {
    min-height: 237px;
    max-height: 237px;
  }
  .custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image img {
    max-height: 237px;
  }
}

@media (max-width: 575.98px) {
  .home-banner .banner-heading {
    top: 25%;
  }
  .gift-section .gifts-content {
    bottom: 0.125rem;
  }
  .promo-holder .promo-box .promo-content .promo-desc {
    padding-left: 0;
    padding-right: 0;
  }
  .custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image {
    min-height: 149px;
    max-height: 149px;
  }
  .custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image img {
    max-height: 149px;
  }
}

@media (min-width: 768px) {
  nav#sidebar {
    top: 119px;
  }
  .mob-overlay {
    top: 121px;
  }
  /*product-detail*/
  .product-detail-container .tab-content.preview-pic {
    height: auto;
  }
  /*end product detail*/
  .custom-container.checkout .shipping-form-container .label-email {
    margin-bottom: 0.75rem;
  }
  .custom-container.checkout .shipping-form-container .label-email label.info-text {
    //max-width: 26.5%;
  }
  .custom-container.checkout .checkout-container.complete .cart-data .vendor-items-holder .vendor-order-details .order-item-left {
    flex-basis: 58%;
    max-width: 58%;
  }
  .custom-container.checkout .checkout-container.complete .cart-data .vendor-items-holder .vendor-order-details .order-item-right {
    flex-basis: 42%;
    max-width: 42%;
  }
  .user-wrapper .user-container .order-items-details .order-item .sec-last-col,
  .user-wrapper .user-container .order-items-details .order-item .refund-col {
    flex-basis: 8%;
    max-width: 8%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  header .mob-top-links .cart-qty {
    top: 1.25rem;
  }
}
@media (min-width: 992px) {
  header .spacing {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
  }
  header .row.spacing {
    align-items: flex-start;
  }
  header.header .shipping {
    padding-top: 81px;
  }
  header.header .logo {
    padding-top: 2.875rem;
    padding-bottom: 2.8125rem;
  }
  header.header .head-links {
    padding-top: 2.8125rem;
    padding-bottom: 0.375rem !important;
  }
  header.header .menu-holder>li:hover>div.empty {
    display: none;
  }
  .home-banner .banner-heading {
    font-size: 2.5rem;
  }
  .home-slider .section-title {
    font-size: 1.5rem;
    margin-top: 3.4375rem;
    margin-bottom: 1.1875rem;
  }
  .gift-section .custom-container,
  .promo-section .custom-container {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
  }
  .gift-section .gifts-content {
    width: 50%;
  }
  .gift-section .gifts-heading {
    font-size: 1.5rem;
  }
  /*product listing*/
  .custom-container.product-container,
  .custom-container.wishlist-container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .products-container .products-holder-main .products-holder {
    padding-right: 0.75rem;
  }
  .products-container .main-sidebar {
    /*padding-right: 2.125rem;*/
    width: 20.85%;
  }
  .products-container .products-holder-main,
  .custom-container.product-container .product-text {
    width: 75%;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"],
  .custom-container.wishlist-container .products-container .products-holder .product-column,
  .custom-container.wishlist-container .products-container .products-holder i[aria-hidden="true"]{
    margin: 0;
    /*width: 32.125%;*/
    width: 32%;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 227px;
    max-height: 227px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 227px;
  }
  /*end product listing*/
  /*product detail*/
  .cart-item.new .item-details .details-col {
    flex-basis: 50%;
    max-width: 50%;
  }
  .cart-item.new .item-details .sub-total-col {
    flex-basis: 33%;
    max-width: 33%;
    padding-left: 45px;
  }
  /*end product detail*/
  .cart-item.new .item-image-cont {
    min-width: 26.8%;
    max-width: 26.8%;
  }
  .cart-item.new .item-details-cont {
    max-width: 73.2%;
    min-width: 73.2%;
  }
  /*Product detail*/
  .product-detail-container .product-holder {
    padding-top: 1.5625rem !important;
    margin-bottom: 0 !important;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-pricing {
    padding-top: 1.125rem;
  }
  .product-detail-container .product-carousel-cont {
    flex-basis: 53.25%;
    max-width: 53.25%;
  }
  .product-detail-container .product-holder .product-inner {
    flex-basis: 46.75%;
    max-width: 46.75%;
    padding-left: 1.8125rem;
  }
  .related-products {
    padding-bottom: 4.375rem;
  }
  .related-products h3 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .related-products .related-products-holder .rel-product-col {
    width: 24%;
    margin-right: 1.375rem;
  }
  /*end product detail */
  /*cart page*/
  .container.custom-container.cart-container {
    padding-top: 0 !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .custom-container.cart-container .row.flex-wrap:nth-child(1) {
    justify-content: space-between;
  }
  .custom-container.cart-container .cart-left-cont {
    padding-right: 44px;
    flex-basis: 60.625%;
    max-width: 60.625%;
  }
  .custom-container.cart-container .cart-right-cont {
    padding-left: 100px;
    flex-basis: 39.375%;
    max-width: 39.375%;
  }
  .container.custom-container.cart-container .breadcrumb-heading,
  .container.custom-container.cart-container .order-sum-heading {
    font-size: 1.5rem;
  }
  .custom-container.cart-container .vendor-items-cont .card .card-header {
    padding-top: 1.5rem !important;
  }
  .container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading,
  .container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading a {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  /*end cart*/
  /*checkout*/
  .container.custom-container.checkout {
    padding-top: 1.75rem !important;
    padding-bottom: 8.4375rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  body.success-page .container.custom-container.checkout {
    padding-bottom: 0.25rem;
  }
  .custom-container.checkout .shipping-form-container .left-panel {
    padding-right: 7.5rem;
    flex-basis: 58.35%;
    max-width: 58.35%;
  }
  .custom-container.checkout .shipping-form-container .right-panel {
    flex-basis: 41.65%;
    max-width: 41.65%;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card-body .order-item .order-item-left {
    flex-basis: 70%;
    max-width: 70%;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card-body .order-item .order-item-right {
    flex-basis: 30%;
    max-width: 30%;
  }
  .checkout .checkout-container.complete .order-confirm-outer {
    padding-top: 0 !important;
  }
  .checkout-container.complete .card.order-confirm-wrapper {
    min-width: 798px;
    max-width: 798px;
  }
  .checkout .checkout-container.complete .card-footer-left {
    padding-left: 0.5rem;
  }
  .checkout .checkout-container.complete .card-footer-right {
    padding-right: 0.5rem;
  }
  /*end checkout*/
  /*login-signup*/
  .container.custom-container.login-signup {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 0.875rem;
  }
  .custom-container.login-signup .breadcrumb-heading {
    font-size: 1.5rem;
  }
  .custom-container .login-signup-tabs-cont,
  .custom-container .login-signup-tabs-cont .tab-content {
    padding-top: 0 !important;
  }
  .custom-container .login-signup-tabs-cont .left-panel {
    padding-right: 2.75rem;
    padding-bottom: 0;
  }
  .custom-container .login-signup-tabs-cont .right-panel {
    padding-left: 2.75rem;
  }
  .container.custom-container .login-signup-tabs-cont form .btn.submit {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  /*end login-signup*/
  /*user pages*/
  .user-container nav[aria-label="breadcrumb"] .user-heading {
    font-size: 1.5rem;
  }
  .user-wrapper .container.user-container .btn.btn-primary {
    font-size: 1rem;
  }
  /*end user pages*/
  .custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image {
    height: auto;
  }
  .footer .copyright-cont .pay-methods-avail {
    /*align-items: flex-start !important;*/
  }
  .footer .copyright-cont div:first-child,
  .footer .copyright-cont .pay-methods-avail {
    padding-left: 0;
  }
}
@media (min-width: 1200px){
  header.header .head-links li .add-to-basket .dropdown-menu:after {
    right: 0.3125rem;
  }
  .gift-section .gifts-content {
    width: 38%;
  }
  /*product listing*/
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 288px;
    max-height: 288px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 288px;
  }
  /*end product listing*/
  .custom-container.wishlist-container .products-container .wishlist-header {
    margin-left: 0;
    margin-right: 0;
  }
  .custom-container.checkout {
    padding-left: 63px;
    padding-right: 63px;
  }
}
@media (min-width: 1280px) {
  body[data-pagetype='product'] .product-detail-container,
  app-product-detail app-related-products[title='Recently Viewed'] .custom-container .container,
  app-product-detail app-related-products[title="More items from"] .custom-container .container,
  body.auth-user .container.user-container {
    max-width: 1280px;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
@media (min-width: 1400px){
  .gift-section .gifts-content {
    width: 36%;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 327px;
    max-height: 327px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 327px;
  }
  .cart-item.new .item-image-cont {
    min-width: 23.25%;
    max-width: 23.25%;
  }
  .cart-item.new .item-details-cont {
    max-width: 76.75%;
    min-width: 76.75%;
  }
}
@media not all and (min-resolution:.001dpcm){
  @supports (-webkit-appearance:none) {
    body[data-pagetype="home"] header.header {
       margin-bottom: -0.5px;
    }
    .product-detail-container .personalise-form .checkbox-holder label input.form-control {
       padding: 0.5rem;
    }
    .user-wrapper .container.user-container .btn-add-wrapper {
      display: inline-block;
      background-color: var(--primary-bg-color);
      margin-top: 0.5rem;
    }
    .user-wrapper .container.user-container .btn-add-wrapper .btn.add-address-btn {
      margin-top: 0 !important;
    }
  }
}
