@font-face {
    font-family: 'cormorantbold';
    src: url('cormorant-bold-webfont.woff2') format('woff2'),
         url('cormorant-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantbold_italic';
    src: url('cormorant-bolditalic-webfont.woff2') format('woff2'),
         url('cormorant-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantitalic';
    src: url('cormorant-italic-webfont.woff2') format('woff2'),
         url('cormorant-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantlight';
    src: url('cormorant-light-webfont.woff2') format('woff2'),
         url('cormorant-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantlight_italic';
    src: url('cormorant-lightitalic-webfont.woff2') format('woff2'),
         url('cormorant-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantmedium';
    src: url('cormorant-medium-webfont.woff2') format('woff2'),
         url('cormorant-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantmedium_italic';
    src: url('cormorant-mediumitalic-webfont.woff2') format('woff2'),
         url('cormorant-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantregular';
    src: url('cormorant-regular-webfont.woff2') format('woff2'),
         url('cormorant-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantsemibold';
    src: url('cormorant-semibold-webfont.woff2') format('woff2'),
         url('cormorant-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cormorantsemibold_italic';
    src: url('cormorant-semibolditalic-webfont.woff2') format('woff2'),
         url('cormorant-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
