:root {
   --primary-font: Helvetica;
   --secondary-font: Garamond;
   --third-font: Helvetica-bold;
   --forth-font: Garamond-italic;
}
html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
p {
  font-family: var(--primary-font);
}
a,
a:hover,
a:focus {
  font-family: var(--primary-font);
}
.btn.btn-primary {
  background-color: #000;
  border-color: #000;
  color: #FFF;
  font-size: 0.875rem;
  letter-spacing: 0.2em;
  text-transform: uppercase
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
.wrapper .notificationbar {
    color: #fff;
    font-family: var(--primary-font);
    font-size: 0.625rem;
    line-height: 1.5;
    letter-spacing: 0.15em;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
}
header.header .logo img {
    width: 240px;
}
header.header .menu-holder li a {
    color:#5C5E69;
    font-size: 0.75rem;
    line-height: 1.1875rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}
header.header {
    border-bottom: none;
    margin-bottom: 0;
}
header .spacing {
    padding-left: 2.875rem;
    padding-right: 2.875rem;
}
header.header .shipping {
    display: none !important;
}
header.header .hotels-attr,
header.header .hotels-links {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
header .hotels-attr li {
    color: #5C5E69;
    line-height: 1.5rem;
}
header .hotels-attr li.hotel-name {
    font-family: var(--secondary-font);
    font-size: 0.875rem;
}
header .hotels-attr li.hotel-branch {
    line-height: 1.25rem;
}
header .hotels-attr li.hotel-branch .dropdown-toggle {
    font-size: 0.75rem;
    font-weight: 700;
}
header .hotels-attr li.hotel-branch .dropdown-toggle::after {
    vertical-align: unset;
    border-top: 0.5rem solid #c4c4c4;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0;
    border-left: 0.3125rem solid transparent;
    margin-left: 0.625rem;
}
header.header .hotels-attr li .dropdown .dropdown-menu {
    border-color: #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 0.1875rem;
    margin-top: 1.25rem;
    padding: 1rem 0.25rem;
    filter: drop-shadow(0px 0px 5.53405px rgba(32, 33, 35, 0.23));
    backdrop-filter: blur(13.985px);
    min-width: 8.125rem;
}
header.header .hotels-attr li .dropdown .dropdown-menu li:not(:first-child) {
    padding-top: 1rem;
}
header.header .hotels-attr li .dropdown .dropdown-menu li:not(:last-child) {
    border-bottom: 0.0625rem solid rgba(92, 94, 105, 0.5);
    padding-bottom: 0.75rem;
}
header.header .hotels-attr li .dropdown .dropdown-menu li a {
    color: #5C5E69;
    font-size: 0.75rem;
    line-height: 0.3125rem;
    padding-left: 0;
    padding-right: 0;
}
header.header .hotels-attr li .dropdown .dropdown-menu li a:hover,
header.header .hotels-attr li .dropdown .dropdown-menu li a:focus {
    background-color: transparent;
    text-decoration: underline;
}
header.header .hotels-attr li .dropdown .dropdown-menu::before {
    border-bottom: 0.625rem solid #f1f1f1;
    border-right: 0.6875rem solid transparent;
    border-top: 0;
    border-left: 0.6875rem solid transparent;
    position: absolute;
    top: -0.625rem;
    left: 45%;
    content: '';
    //filter: drop-shadow(0px -1px 1px rgba(0,0,0,0.2));
}
header.header .head-links {
    padding-bottom: 0 !important;
}
header.header .head-links li:last-child a {
    padding-right: 0;
}
header.header .menu-holder li a.main-category {
    padding-bottom: 1.125rem;
}
.home-banner .banner-title {
    display: none;
}
.home-banner .banner-heading {
    color: #fff;
    font-family: var(--forth-font);
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    top: auto;
    bottom: 8%;
}
.home-banner .banner-heading .sub-head {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 0.75rem !important;
    font-weight: 300;
    letter-spacing: 0.25em;
    line-height: 0.875rem !important;
    text-transform: uppercase;
}
.home-intro h2,
.home-slider .section-title {
    font-size: 1.3125rem;
    line-height: 2.1875rem;
    letter-spacing: 0.25em;
}
#content .home-intro {
    margin-top: 2.25rem;
}
.home-slider .home-carousel .post-tile .post-link {
    color: #4C4E56 !important;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.2em;
    margin-top: 1.25rem;
    text-transform: uppercase;
}
.gift-section .banner-title,
.promo-section .banner-title,
.featured-client {
    display: none;
}
.gift-section .gifts-content {
    color: #ffffff;
    font-family: var(--secondary-font);
    left: 8% !important;
    top: 32%;
}
.gift-section .gifts-heading {
    font-size: 2.75rem;
    font-family: var(--forth-font);
    font-style: italic;
    line-height: 1;
    letter-spacing: 0.01em;
    text-align: center;
}
.gift-section .gifts-content .gifts-desc {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.05em;
    margin: auto;
    padding-top: 2rem;
    text-align: center;
    width: 62%;
}
.gift-section img {
    height: auto;
}
.gift-section .custom-container,
.promo-section .custom-container {
    padding-left: 2.875rem;
    padding-right: 2.875rem;
}
.home-slider:not(.bestsellers-slider) .post-tile {
    max-width: 295px;
}
.promo-holder .promo-box img {
    height: auto;
}
.promo-holder .promo-box .promo-content {
    left: 0;
    width: 100%;
}
.promo-holder .promo-box .promo-title {
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 38px;
}
.promo-holder .promo-box .promo-content .promo-desc {
    color: #fff;
    font-family: var(--primary-font);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3125rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}
.bestsellers-slider .post-tile {
    position: relative;
}
.home-slider.bestsellers-slider .home-carousel .post-tile .post-link{
    position: absolute;
    top: 62%;
    color: #fff !important;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: left !important;
    left: 1.875rem;
    max-width: 75%;
}
.sign-up-section {
    background-color: #000;
}
.sign-up-section h2 {
    color: #fff;
    font-family: var(--forth-font);
    font-size: 1.3125rem;
    font-style: italic;
    margin-bottom: 0.125rem !important;
    text-align: center !important;
    letter-spacing: 0.07em;
    line-height: 1.5625rem;
    text-transform: capitalize;
}
.sign-up-section .sign-up-container .signup-text {
    padding-bottom: 1rem;
    width: 100%;
}
.sign-up-section .sign-up-container .signup-text p {
    color: #fff;
    font-family: var(--primary-font);
    font-size: 0.6875rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 0.9375rem;
    text-transform: uppercase;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    background-color: #4B4B4B;
    border-color: #4B4B4B;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 9.5rem;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1.67;
    letter-spacing: 0.2em;
}
.footer {
    background-color: #000;
    border-top: none;
    margin-top: 0;
    padding-top: 3.125rem;
}
.footer .footer-widget .widget-title {
    color: #fff;
    font-family: var(--forth-font);
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5rem;
    letter-spacing: 0.07em;
}
.footer .footer-widget.social-widget .widget-title {
    display: none;
}
.footer .footer-widget .widget-content ul li {
    padding-bottom: 0.375rem;
}
.footer .footer-widget .widget-content ul li a {
    color: #fff;
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.5rem;
    text-transform: uppercase;
}
.footer .custom-container:not(.copyright-cont) div:first-child {
    justify-content: flex-start !important;
    flex-wrap: wrap;
}
.footer .footer-widget .widget-content .social-links {
    padding-left: 1.125rem;
}
.footer .footer-widget .widget-content .social-links li {
    width: auto;
    margin-right: 1.875rem;
}
.footer .footer-widget .widget-content .social-links li a img[alt="fb"] {
    max-width: 0.6875rem;
}
.footer .footer-widget .widget-content .social-links li a img[alt="instagram"] {
    max-width: 1.125rem;
}
.footer .copyright-cont {
    margin-top: 1.5rem;
}
.footer .copyright-inner-cont {
    display: block !important;
    padding-bottom: 5rem;
}
.footer .copyright-inner-cont .powered-by {
    color: #fff;
    flex-flow: row !important;
    text-align: left !important;
    flex-wrap: wrap !important;
    padding-top: 1.25rem;
    padding-left: 0;
}
.footer .copyright-inner-cont .powered-by div:first-child {
    color: #7D7D7D;
    font-size: 0.75rem;
    line-height: 1.4375rem;
    letter-spacing: 0.1em;
    padding-bottom: 0.125rem;
    width: 100%;
}
.footer .copyright-inner-cont .powered-link-cont {
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    padding-right: 1.25rem;
}
.footer .copyright-inner-cont .powered-link-cont span:last-child {
    display: none;
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

}

@media (min-width: 768px) {

}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
    header.header .logo {
        padding-top: 1.75rem;
        padding-bottom: 1.125rem;
    }
    .home-banner .banner-heading {
        font-size: 2.75rem;
    }
    .home-slider:not(.bestsellers-slider) {
        padding-bottom: 1.25rem;
    }
    .home-slider:not(.bestsellers-slider) .section-title {
        margin-bottom: 1.5rem;
    }
    .promo-holder .promo-box img {
        min-height: 26.3125rem;
    }
    .sign-up-section {
        padding-top: 2.5rem;
        padding-bottom: 2.375rem;
    }
    .footer .footer-widget {
        width: 31%;
    }
    .footer .footer-widget.social-widget {
        width: 100%;
    }
    .footer .copyright-cont .pay-methods-avail {
        align-items: flex-start !important;
    }
    .footer .copyright-cont div:first-child,
    .footer .copyright-cont .pay-methods-avail {
        padding-left: 0;
    }
}
@media (min-width: 1200px){
    .gift-section {
        padding-bottom: 2.75rem;
    }
    .footer {
        padding-left: 4.0625rem;
        padding-right: 4.0625rem;
    }
}
@media (min-width: 1400px){

}

/* RossKnight's Additions */

#four-seasons-gift-card-024234 .product-pricing, .shipping, .nav-tabs .nav-item:nth-child(2), .nav-tabs .nav-item:last-child, #personalize-tab   {
	display:none;
}

#header {
padding-bottom:10px;
}

.product-detail-container .product-holder .product-detail {
height:auto;
}

.custom-container.cart-container .checkout-btn {
background-size:0px;
}
