:root{
 --primary-font: 'Nimbus-San-regular';
 --secondary-font: 'Louize-Display';
 --third-font: 'Louize-Display-italic';
 --forth-font:  'Nimbus-San-light';
}
body {
  font-family: var(--primary-font);
}
h1 {
  font-family: var(--secondary-font);
}
p {
  font-family: var(--primary-font);
}
a,
a:hover,
a:focus {
  font-family: var(--primary-font);
}
.btn.btn-primary {
  background-color: #0A2DD4;
  border-color: #0A2DD4;
  color: #FBFBF1;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
  text-transform: uppercase
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
.wrapper .notificationbar {
    background-color: #FBFBF1;
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 23px;
    text-transform: uppercase;
    padding-bottom: 0.3125rem;
}
body[data-pagetype="home"] nav#sidebar {
    top: 140px;
}
body[data-pagetype="home"] .mob-overlay {
    top: 142px;
}
header.header {
    border-bottom: none;
    margin-bottom: 0;
}
header.header .row.align-items.spacing {
    border-bottom: 0.5px solid #061D87;
    padding: 0;
    margin: auto 2.75rem;
}
header.header .shipping li,
header.header .shipping li a {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.9375rem;
    font-weight: 300;
}
header.header .shipping li img {
    max-width: 1.5625rem;;
    margin-left: 0.375rem;
}
header.header .logo img {
    height: auto;
    width: 150px;
}
header.header .main-menu-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 3.75rem !important;
    padding-right: 3.75rem !important;
}
body:not([data-pagetype='home']) header.header .main-menu-inner-cont {
    border-bottom:  0.5px solid #181E84;
}
header.header .menu-holder {
    margin-top: 1.15rem;
    margin-bottom: 0.1875rem;
}
header.header .menu-holder > li {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    margin-right: 0.625rem;
}
header.header .menu-holder li a {
    border-bottom-width: 0.0625rem;
    color: var(--primary-bg-color);
    line-height: 1.0625rem;
    padding-left: 0;
    padding-right: 0;
}
header.header .menu-holder > li:hover > a,
header.header .menu-holder li a:hover {
    border-bottom-width: 0.0625rem;
}
header.header .menu-holder>li>div {
    left: 0;
    width: 100%;
}
header.header .search .search-item-form .nav-search-field {
    height: 1.875rem;
    font-size: 0.875rem;
    padding-top: 0.625rem;
}
header.header .search .search-item-form button {
    max-width: 2.4375rem;
    padding-top: 0;
}
header.header .mobile-menu svg rect {
    fill: var(--primary-bg-color);
}
header .mob-top-links .dropdown-flag .dropdown-toggle::after {
    border-top-color: var(--primary-bg-color);
    vertical-align: 0.05rem;
}
header.header .head-links li .cart-qty {
    padding-top: 0.1875rem;
}
.default-breadcrumb li,
.default-breadcrumb li a {
    color:  #6E7BB3;;
    font-family: var(--forth-font);
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.4375rem;
}
.breadcrumb-heading {
    color: var(--primary-bg-color);
    text-transform: capitalize;
}
.home-banner .banner-title {
    display: none;
}
.home-banner-container {
    max-width: 100%;
}
.hero-banner-cont .box {
    position: relative;
}
.hero-banner-cont .box .banner-badge {
    background-color: #fff;
    color: var(--primary-bg-color);
    position: absolute;
    left: 3.5rem;
    bottom: 2rem;
    padding: 0.5rem 1.375rem 0.5rem 1.0625rem;
}
.hero-banner-cont .badge-heading {
    color: var(--primary-bg-color);
    font-family: var(--secondary-font);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.125rem;
}
.hero-banner-cont .badge-sub-head {
    color: var(--primary-bg-color);
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.home-intro-container p {
    font-family: var(--forth-font);
}
.home-intro h2,
.sign-up-section h2,
.clients-container h2 {
    color: var(--primary-bg-color);
    font-family: var(--secondary-font);
}
.home-intro h2,
.home-slider .section-title,
.clients-container h2 {
    font-size: 2.5rem;
    line-height: 3.0625rem;
}
.home-slider .section-title {
    font-weight: 400;
}
.home-intro .intro-content {
    letter-spacing: 0.01em;
}
.home-slider {
    padding-top: 0.8125rem;
}
.home-slider .section-title {
    color: var(--primary-bg-color);
    font-family: var(--secondary-font);
    text-align: left !important;
}
.wrapper .home-slider {
    background-color: #E1E6EB;
}
.wrapper .home-slider:nth-of-type(2n+1)  {
    background-color: #fff;
}
.home-slider .carousel-container {
    padding-bottom: 2.625rem;
}
.home-slider .post-tile {
    max-width: 278px;
    margin: auto;
}
.home-slider .post-tile .post-link {
    color: var(--primary-bg-color);
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1rem;
    width: 100%;
}
.home-slider .owl-carousel .owl-item img {
    max-height: 194px;
    max-width: 194px;
}
.new-arrival-slider .post-tile .post-link {
    text-align: left !important;
    width: 100%;
}
.filters-container,
.clients-container {
    max-width: 100%;
}
.filters-container .filters-section,
.clients-container .container {
    background-color: transparent !important;
    max-width: 1440px;
}
.filters-container .filters-section .post-tile {
    max-width: 120px;
    margin: auto;
}
.filters-container .filters-section .post-tile img {
    max-width: 62px;
    margin: auto;
}
.filters-carousel .owl-nav .owl-prev,
.clients-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 28%;
}
.filters-carousel .owl-nav .owl-next,
.clients-carousel .owl-nav .owl-next {
    position: absolute;
    right: 0;
    margin-right: 0;
    top: 28%;
}
.filters-carousel .owl-nav .owl-next img,
.clients-carousel .owl-nav .owl-next img {
    transform: rotate(180deg);
}
section.featured-client {
    display: none;
}
.featured-client .clients-carousel {
    padding-bottom: 54px;
}
.gift-section img {
    height: auto;
}
.sign-up-section {
    background-color: #E1E6EB;
}
.sign-up-section .sign-up-container .signup-text {
    width: 52%;
    margin-top: 0.8125rem;
}
.sign-up-section .sign-up-container .signup-text p {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.8125rem;
    line-height: 1.5rem;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    background-color: transparent;
    border-bottom: 0.0625rem solid var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.9375rem;
    line-height: 1.125rem;
    padding-left: 0;
    text-align: left;
    margin-right: 1rem;
    height: 1.875rem;
    width: 20.625rem;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
    color: #6E7BB3;
    font-style: normal;
    letter-spacing: 0.08em;
    text-align: left;
    text-transform: uppercase;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    background-color: transparent;
    border: 0.0625rem solid var(--primary-bg-color);
    border-radius: 50%;
    color: var(--primary-bg-color);
    font-size: 0.875rem;
    padding-top: 0;
    padding-left: 0.375rem;
    margin-top: 0.375rem;
    margin-bottom: 0;
    width: 1.25rem;
    height: 1.25rem;
}
.product-container .default-breadcrumb,
.product-container .breadcrumb-heading {
    display: none;
}
.product-container .sidebar-widget {
    padding-top: 4.375rem;
}
.sidebar-widget .result-text,
.product-container .product-select .sort-cont {
    display: none !important;
}
.sidebar-widget .list-group .list-head {
    color: var(--primary-bg-color);
    font-size: 0.9375rem;
    line-height: 1.4375rem;
    margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
    border-color: transparent;
}
.sidebar-widget .list-group .list-group-holder>a {
    padding-left: 0;
}
.sidebar-widget .list-group .list-group-holder>a.filter-toggler {
    padding-top: 0.5rem;
    padding-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul {
    margin-left: 0;
}
.sidebar-widget .list-group .list-group-holder>a.filter-toggler.down h4 {
    margin-bottom: 1.4375rem;
}
.sidebar-widget .list-group .list-group-holder>a.filter-toggler h4,
.sidebar-widget .list-group .list-group-holder .widget-holder ul li .checkbox-holder label {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.9375rem;
    line-height: 1.4375rem;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
    background-image: url('https://bitbucket.org/TSTechsembly/jscss/raw/8a61433bd4a3623b6e1faa1b490fe8905457022e/scoon/images/arrow-gt.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(0deg);
    top: 25%;
    left: auto;
    right: 0;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item.down:after {
    transform: rotate(90deg);
    background-position-x: center;
    background-position-y: center;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
    display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    display: flex;
    flex-flow: column;
    margin-bottom: 0.25rem;
    padding-top: 1rem;
    text-align: center;
    width: 100%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title .product-name-url {
    order : 2;
    margin-top: 0.375rem;
    margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link {
    order: 1;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3 {
    color: var(--primary-bg-color);
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a:not(.vendor-link) h3 {
    font-size: 0.9375rem;
    line-height: 1.25rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link {
    font-family: var(--forth-font);
    font-weight: 300;
    font-size: 0.8125rem;
    line-height: 1.625rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
    padding-bottom: 2.25rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-weight: 300;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    text-align: center;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    color: var(--primary-bg-color);
    font-family: var(--secondary-font);
    letter-spacing: 0.04em;
    text-transform: capitalize;
}
.product-detail-container .product-holder .product-detail .product-info .made-by,
.product-detail-container .product-holder .product-detail .product-info .made-by a {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-weight: 300;
    text-transform: uppercase;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-weight: 300;
    letter-spacing: 0.07em;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
    height: 1.5625rem;
    width: 1.5625rem;
}
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
}
.product-detail-container .product-holder .product-order {
    margin-top: 134px;
}
.product-detail-container .product-holder .product-order .tab-content .personalise-form,
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-weight: 300;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
    font-size: 1.0625rem;
    line-height: 1.4375rem;
}
.product-detail-container .personalise-form .form-group label,
.product-detail-container .personalise-form .variant-container .option-label {
    color: var(--primary-bg-color);
    font-size: 0.875rem;
    //line-height: 1.4375rem;
    text-transform: uppercase;
}
.product-detail-container .personalise-form .form-group .form-control {
    border-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
}
.product-detail-container .product-holder .product-order .tab-content .personalise-form .zain {
    position: absolute;
    top: -147px;
    width: 100%;
    left: 0;
}
.product-detail-container .add-to-basket-cont {
    left: 0;
    padding-right: 0;
}
.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
    border-color: rgba(6, 29, 135, 0.2);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item:not(:first-child) {
    border-left: 1px solid #EBEDEF;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    background-color: #e7e9f3;
    padding-top: 0.625rem;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    background-color: #fff;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.6875rem;
    text-transform: uppercase;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    font-family: var(--primary-font);
    font-weight: 700;
}
.product-detail-container .personalise-form .form-group .order-btn {
    background-color: #0A2DD4;
    text-transform: uppercase;
}
.product-detail-container .preview-thumbnail li {
    min-width: 140px;
    max-width: 140px;
    max-height: 140px;
    margin-right: 20px !important;
}
.product-detail-container .product-holder .share-link {
    display: none !important;
}
.related-products {
    border-top: none;
}
.related-products h3 {
    color: var(--primary-bg-color);
    font-family: var(--secondary-font);
    text-align: left !important;
    text-transform: capitalize;
}
.related-products h3 a {
    display: none;
}
app-product-detail app-related-products[title='Recently Viewed'] {
    display: none;
}
app-product-detail app-related-products[title="More items from"] .custom-container .container {
    max-width: 100%;
}
.related-products .related-products-holder .product-content .product-title {
    margin-bottom: 0;
    width: 100%;
}
.related-products .related-products-holder .product-content .product-title a {
    color: var(--primary-bg-color);
    font-size: 0.8125rem;
    line-height: 1rem;
}
.related-products .related-products-holder .product-content .product-title a.vendor-link {
    display: none !important;
}
.related-products .related-products-holder .product-content .product-rating {
    display: none;
}
.related-products .related-products-holder .product-content .product-pricing p {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.6875rem;
    font-weight: 300;
    line-height: 0.8125rem;
}
.custom-container.cart-container nav[aria-label='breadcrumb'] {
    padding-top: 5rem;
}
.custom-container.cart-container .breadcrumb-cont {
    margin-bottom: 0 !important;
}
.custom-container.cart-container .continue-btn,
.custom-container.cart-container .checkout-btn {
    height: 3.25rem;
    padding-top: 0.625rem;
}
.custom-container.cart-container .continue-btn {
    background-color: transparent;
    border: 0.0625rem solid var(--primary-bg-color);
    color: var(--primary-bg-color);
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
}
.custom-container.cart-container .continue-btn:hover,
.custom-container.cart-container .continue-btn:focus {
    background-color: #0A2DD4;
    border-color: #0A2DD4;
    color: #FBFBF1;
}
.custom-container.cart-container .checkout-btn {
    background-image: url('https://bitbucket.org/TSTechsembly/jscss/raw/5c47997e206974fec44064d1c4635b878bf50dde/scoon/images/lock.svg');
}
.custom-container.cart-container .vendor-heading {
    color: var(--primary-bg-color);
    font-size: 0.9375rem;
    line-height: 1.125rem;
}
.custom-container.cart-container .vendor-heading .delivered-by {
    font-family: var(--forth-font);
    font-size: 1.3125rem;
    line-height: 1;
}
.cart-item.dt .item-img-holder {
    max-width: 214px;
}
.cart-item.dt .item-img {
    padding-top: 2.25rem !important;
}
.cart-item.dt .item-img img {
    max-width: 199px;
}
.cart-item .img-caption {
    color: var(--primary-bg-color);
}
.cart-item.dt .item-details .details-header {
    border-bottom-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 1.3125rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-transform: uppercase;
}
.cart-item .item-details .item-name {
    color: var(--primary-bg-color);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.03em;
    text-transform: capitalize;
}
.cart-item .item-details,
.cart-item .item-details .details-desc,
.cart-item .item-details .details-desc .form-control {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.125rem;
    letter-spacing: 0.03em;
}
.cart-item .item-details .details-desc input {
    border-color: #9EA5BF;
    border-radius: 0.25rem;
    height: 2.375rem;
}
.cart-item .item-details a.edit-item {
    background-image: url('https://bitbucket.org/TSTechsembly/jscss/raw/84ce534e2ff3da5860e3081e6203d3b0bc4805ff/scoon/images/edit.svg');
}
.cart-item .item-details a.del-item {
    background-image: url('https://bitbucket.org/TSTechsembly/jscss/raw/84ce534e2ff3da5860e3081e6203d3b0bc4805ff/scoon/images/del.svg');
}
.cart-item .add-gift-msg a,
.cart-item .item-details .add-gift-msg a,
.cart-item .mob-sub-total-cont {
    color: var(--primary-bg-color);
}
.cart-item .add-gift-msg a span {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-weight: 300;
    padding-left: 0.875rem;
    text-transform: uppercase;
}
.cart-item .item-details .add-gift-msg a span {
    font-size: 0.875rem;
    line-height: 1.4375rem;
}
.cart-item .item-details .add-gift-msg a:hover .angle,
.cart-item .item-details .add-gift-msg a:focus .angle {
    text-decoration: none;
}
.cart-item .add-gift-msg .down {
    padding-left: 0;
    align-items: flex-start;
}
.cart-item .gift-msg-cont .form-control {
    border-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-weight: 300;
    padding-left: 0.875rem;
}
.cart-item .item-details .gift-msg-cont .form-control {
    font-size: 0.875rem;
    line-height: 1.4375rem;
}
.cart-item .item-det-cont .gift-msg-cont .form-control::placeholder,
.cart-item .item-details .gift-msg-cont .form-control::placeholder {
    font-style: normal;
    text-transform: uppercase;
}
.custom-container.cart-container .total-cart-sep {
    border-color: var(--primary-bg-color);
}
.custom-container.cart-container .total-cart-wrapper {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.75rem;
}
/* vendors page style */
.vendor-menu-cont {
    display: none !important;
}
.vendor-logo {
    border: none;
}
.vendor-intro-holder p.info-text {
    font-size: 17px;
    line-height: 23px;
    text-align: center;
}
.vendor-intro-holder {
    margin: 30px auto;
    padding: 30px;
    background-image: url('https://bitbucket.org/TSTechsembly/jscss/raw/fb2ead1922f5698ac3600eeb0e33b7f0af7cc1d7/scoon/images/info-text--bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#about .vendor-heading {
    display: none;
}
.vendor-point-cont,
.vendor-contact-form-cont {
    border-top: 1px solid #000;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
}
.tnc-cont.vendor-point-cont {
    border-bottom: 1px solid #000;
}
.vendor-point-cont h2.vendor-heading,
.vendor-contact-form-cont h2.vendor-heading {
    font-family: var(--secondary-font);
    font-size: 35px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 0px !important;
    align-items: start;
    display: flex;
    justify-content: center;
}
.vendor-point-cont a.collapse-link,
.vendor-contact-form-cont a.collapse-link {
    margin-right: 20px;
    color: var(--primary-font);
    font-family: var(--secondary-font);
    font-weight: 500;
}
.vendor-contact-form-cont form {
    text-align: left;
}
#best-seller-cont {
    margin-bottom: 40px;
}
#best-seller-cont .vendor-products {
    align-items: flex-start !important;
}
#best-seller-cont .vendor-products .product-col {
    max-width: 250px;
    margin-right: 1rem;
}
#best-seller-cont .product-image {
    //margin-bottom: 30px;
}
#best-seller-cont .product-image img {
    max-height: 100%;
}
#best-seller-cont h2.vendor-heading {
    display: none;
}
#best-seller-cont .product-vendor {
    font-family: var(--forth-font);
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: #061D87;
    padding-bottom: 5px !important;
}
#best-seller-cont .product-name-cont {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-family: var(--primary-font);
    text-transform: uppercase;
}
#best-seller-cont .product-price p {
    font-family: var(--forth-font);
    font-weight: 300;
    font-size: 15px;
}
#best-seller-cont .product-name {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0px;
    font-weight: 300;
    font-family: var(--primary-font);
    text-transform: uppercase;
}
.vendor-products .product-col .product-name a.product-name-url {
    font-size: 15px;
    color: #061D87;
}
.vendor-logo-cont .vendor-name > h2 {
    margin-bottom: 0px;
}

.footer {
    background-color: #FDFCF6;
    border-top: none;
    margin-top: 0;
}
.footer .mobile-footer .list-group .list-group-holder > a,
.footer .mobile-footer .footer-widget ul li a {
    color: var(--primary-bg-color);
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: 0.03em;
}
.footer .mobile-footer .list-group .list-group-holder > a {
    padding: 0.9375rem 0 1.125rem;
}
.footer .mobile-footer .list-group .list-group-holder > a,
.footer .mobile-footer .list-group .list-group-holder > a:hover,
.footer .mobile-footer .list-group .list-group-holder > a:focus {
    background-color: transparent;
}
.footer .mobile-footer .list-group .list-group-holder:first-child,
.footer .mobile-footer .list-group .list-group-holder .BorderBottom {
    border-color: var(--primary-bg-color);
}
.footer .footer-widget .widget-title {
    color: var(--primary-bg-color);
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer .footer-widget .widget-content .social-links li a img[alt="fb"] {
    max-width: 1.0625rem;
}
.footer .footer-widget .widget-content .social-links li a img[alt="instagram"] {
    max-width: 1.625rem;
}
.footer .social-widget .btn-contact {
    font-size: 0.9375rem;
    letter-spacing: 0.1em;
    height: 2.3125rem;
    width: 8.6875rem;
}
.footer .footer-widget .widget-content ul:not(:last-child) li {
    margin-bottom: 0.1875rem;
}
.footer .footer-widget .widget-content ul li a,
.footer .copyright-cont,
.footer .copyright-cont a {
    color: var(--primary-bg-color);
    font-family: var(--forth-font);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 23px;
    text-transform: uppercase;
}
.footer .copyright-cont {
    padding-bottom: 2.75rem !important;
}
@media (max-width: 1440px) {
    header.header .row.align-items.spacing {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    header.header {
        margin-bottom: 1.875rem;
    }
    header .toggle-menu-cont {
        display: flex;
        align-items: center;
        padding-top: 1rem !important;
    }
    header.header .menu-links-cont {
        padding-top: 0.75rem !important;
    }
    header.header .logo {
        padding: 1.625rem 0 0.875rem;
        height: auto;
    }
    header.header .logo img {
        height: auto;
        width: 170px;
    }
    header .mob-search-cont {
        padding-top: 1.875rem !important;
        padding-bottom: 0 !important;
    }
    header .mob-search-cont .mobile-search-box {
        padding-left: 0.875rem;
        padding-right: 0.875rem;
    }
    header.header .row.align-items.spacing {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }
    .home-banner-cantainer,
    .home-banner {
        padding-top: 0;
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }
    .hero-banner-cont .box .banner-badge {
       left: 3rem;
    }
    .home-slider {
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }
    .home-slider .carousel-container {
        padding-bottom: 2.375rem;
    }
    .sign-up-section h2 {
        font-size: 2rem;
        line-height: 2.375rem;
        margin-top: 3.875rem;
    }
    .sign-up-section .sign-up-container .signup-text {
        margin-top: 0.5rem;
        width: 62%;
    }
    .sign-up-section .sign-up-container .signup-text p {
        font-size: 1.0625rem;
        line-height: 1.9375rem;
        margin-bottom: 0.75rem;
    }
    .sign-up-section .sign-up-container .sign-up-form {
        margin-bottom: 3.25rem;
    }
    .sign-up-section .sign-up-container .sign-up-form input[type="email"] {
        font-size: 1.25rem;
        line-height: 1.5rem;
        height: 2.75rem;
        width: 27rem;
    }
    .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
        width: 1.625rem;
        height: 1.625rem;
        font-size: 1rem;
        padding-top: 0.1875rem;
        padding-right: 0.375rem;
        margin-top: 0.75rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
        padding-bottom: 1.75rem;
    }
    .product-detail-container .product-holder .product-order {
        border-top: none;
    }
    .footer .mobile-footer {
        padding-top: 3.375rem;
    }
    .footer .copyright-cont .powered-by {
        padding-top: 1.25rem;
    }
}

@media (max-width: 767.98px) {
    header.header {
        margin-bottom: 1.625rem;
    }
    header.header .row.align-items.spacing {
        margin-left: 0.625rem;
        margin-right: 0.625rem;
    }
    header.header .mobile-menu {
        padding-left: 0;
    }
    header.header .mobile-menu svg {
        width: 1.875rem;
    }
    header .toggle-menu-cont {
        padding-top: 0 !important;
    }
    header.header .logo {
        padding-top: 0.625rem;
        padding-bottom: 0.75rem;
    }
    header.header .logo img {
        height: auto;
        width: 123px;
    }
    header.header .menu-links-cont {
        padding-top: 0.1875rem !important;
    }
    header .mob-search-cont .mobile-search-box {
        /*padding-left: 1rem;
        padding-right: 1rem;*/
    }
    .home-banner-container,
    .home-banner {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .home-slider {
        padding-left: 0;
        padding-right: 0;
    }
    .home-slider .mob-custom-carosel {
        display: block !important;
    }
    .home-slider .post-tile {
        text-align: center;
    }
    .sign-up-section .sign-up-container .signup-text {
        width: 75%;
    }
    .sign-up-section .sign-up-container .signup-text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .sign-up-section .sign-up-container .sign-up-form {
        width: 312px;
    }
    .sign-up-section .sign-up-form .flex-column {
        flex-flow: row !important;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image,
    .related-products .related-products-holder .related-products-image {
        height: auto;
        min-height: 9.0625rem;
    }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img,
   .related-products .related-products-holder .related-products-image img {
        max-height: 9.0625rem;
   }
   .product-detail-container .product-holder .product-order {
        margin-top: 190px;
    }
    .product-detail-container .product-holder .product-order .tab-content .personalise-form .zain {
        //top: -205px;
        top: auto;
        position: relative;
    }
    .product-detail-container .add-to-basket-cont {
        /*top: -148px;
        width: 100%;*/
        position: relative;
    }
    .product-detail-container .product-holder .product-order .tab-content .personalise-form {
        position: absolute;
        left: 0;
        width: 100%;
        top: -246px;
    }
   .product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
        line-height: 1.5rem;
   }
   .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
        font-size: 2rem;
        line-height: 2.4375rem;
    }
    .product-detail-container .product-holder .product-detail .product-info .info-holder {
        margin-bottom: 0.625rem;
    }
    .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage {
        display: none;
    }
    .product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
        font-size: 1.375rem;
        line-height: 1.9375rem;
    }
    .product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
        padding-top: 0.5rem;
        padding-bottom: 0;
    }
    app-product-detail app-related-products {
        display: none;
    }
   .footer .footer-widget .widget-content .social-links {
       justify-content: center;
   }
   .footer .footer-widget .widget-content .social-links li {
       padding: 0 0.8125rem;
       text-align: center;
   }
}

@media (max-width: 575.98px) {
    .hero-banner-cont .box .banner-badge {
        max-width: 75%;
    }
    .sign-up-section .sign-up-container .sign-up-form input[type="email"] {
        width: 16.375rem;
    }
    .custom-container.cart-container .checkout-btn {
        background-position: 17%;
    }
}

@media (min-width: 768px) {
   .home-intro h2,
   .clients-container h2 {
       font-size: 3.125rem;
       line-height: 3.8125rem;
       margin-top: 1.625rem;
   }
   .home-slider .section-title {
       font-size: 3.125rem;
       line-height: 3.8125rem;
   }
   .breadcrumb-heading {
       font-size: 2.625rem;
       line-height: 3.1875rem;
   }
   .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
       font-size: 2.625rem;
       line-height: 3.1875rem;
       margin-bottom: 0.875rem;
   }
   .product-detail-container .product-holder .product-detail .product-info .made-by,
   .product-detail-container .product-holder .product-detail .product-info .made-by a {
       font-size: 1.3125rem;
       line-height: 1.1875rem;
   }
   .product-detail-container .product-holder .product-detail .product-info .product-pricing {
       padding-top: 2.125rem;
   }
   .product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
       font-size: 1.5625rem;
       line-height: 1.1875rem;
   }
   .related-products h3 {
       font-size: 2.625rem;
       line-height: 3.1875rem;
       margin-bottom: 1rem;
   }
   .custom-container.cart-container .shopping-btns-top {
       padding-top: 0 !important;
       padding-bottom: 0.375rem !important;
       margin-top: 0.625rem !important;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    header .toggle-menu-cont {
        max-width: 33.3%;
    }
    header.header .menu-links-cont {
        flex-basis: 33.3%;
        max-width: 33.3%;
    }
    header .mob-top-links .dropdown-flag .dropdown-menu::after {
        left: 32%;
    }
    .custom-container.cart-container .checkout-btn {
       background-position: 92.5%;
    }
}
@media (min-width: 992px) {
   header.header .logo {
    padding: 2.25rem 0 2.25rem;
   }
   header.header .main-menu-container {
       display: flex !important;
   }
   header.header .menu-links-cont .head-links {
       padding-top: 0.25rem;
   }
   header.header .search .search-item-form {
       margin-top: 0.375rem;
       width: 13.0625rem;
   }
   .home-banner-container,
   .home-banner {
       padding-left: 3.75rem;
       padding-right: 3.75rem;
   }
   .hero-banner-cont .box:not(:first-child) .banner-badge {
       left: 2.375rem;
   }
   .home-slider .section-title {
       margin-left: 2.625rem;
       margin-right: 2.625rem;
   }
   .home-intro-container .home-slider .section-title {
       margin-left: 1.875rem;
   }
   .bestsellers-slider .section-title {
       margin-top: 3.5rem;
   }
   .home-category-slider .section-title {
       margin-top: 2rem;
   }
   .home-slider .carousel-container {
       padding-left: 2.8125rem;
       padding-right: 2.8125rem;
   }
   .new-arrival-slider .carousel-container {
       padding-bottom: 3.875rem;
   }
   .bestsellers-slider .post-tile .post-link {
       margin-top: 1.5rem;
   }
   .bestsellers-slider .carousel-container {
       padding-bottom: 4.375rem;
   }
   .home-category-slider .carousel-container {
       padding-top: 2rem;
       padding-bottom: 3.25rem;
   }
   .filters-container .filters-section .filters-carousel {
        padding-left: 0;
        padding-right: 0;
    }
   .sign-up-section {
       padding-top: 3.625rem;
       padding-bottom: 3rem;
   }
   .sign-up-section h2 {
       font-size: 2.625rem;
       line-height: 3.1875rem;
   }
   .products-container .products-holder-main .products-holder {
        justify-content: space-between;
    }
    .products-container .products-holder-main .products-holder .product-column,
    .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
        margin: 0;
        width: 22.25%;
    }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image,
   .related-products .related-products-holder .related-products-image {
        height: auto;
        min-height: 229px;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img,
   .related-products .related-products-holder .related-products-image img {
        max-height: 229px;
   }
   .related-products .related-products-holder .related-products-image {
       min-height: 194px;
   }
   .related-products .related-products-holder .related-products-image img {
       max-height: 194px;
   }
   .product-detail-container {
       padding-top: 2.5rem;
   }
   .product-detail-container .product-holder .product-detail,
   .product-detail-container .product-holder .product-order {
       padding-left: 1.875rem;
   }
   .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage {
       margin-top: -0.0625rem;
   }
   .product-detail-container .personalise-form .form-group .order-btn {
       font-size: 1.5rem;
       padding-top: 0.625rem;
   }
   .product-detail-container .preview-thumbnail {
       margin-top: 2.5rem;
   }
   .product-detail-container .product-carousel .owl-carousel .owl-stage-outer {
       /*display: flex;
       justify-content: center;*/
   }
   .product-detail-container .product-carousel .owl-carousel .owl-item {
       //margin-right: 1.25rem !important;
   }
   .product-detail-container .add-to-basket-cont {
       padding-top: 0.375rem;
   }
   .related-products h3 {
       margin-left: 3.75rem;
   }
   .related-products .related-products-holder .rel-product-col {
        /*width: 13.76%;*/
        width: 14.95%;
        margin-right: 1.875rem;
    }
   app-product-detail app-related-products[title="More items from"] .custom-container .container {
       padding-left: 3.75rem;
       padding-right: 3.75rem;
   }
   #best-seller-cont .product-image {
       height: 250px;
   }
   .custom-container.cart-container .breadcrumb-heading {
       margin-top: 1.375rem;
   }
   .custom-container.cart-container.vendor-items-cont {
       margin-bottom: 2.875rem;
   }
   .cart-item .item-details a.edit-item {
        background-size: 1.4375rem;
    }
    .cart-item .item-details a.del-item {
        background-size: 1.125rem;
    }
    .custom-container.cart-container .total-cart-sep {
        padding-top: 0.625rem !important;
    }
    .custom-container.cart-container .shopping-btns-last {
        padding-top: 0 !important;
        padding-bottom: 1.875rem;
        margin-top: 0.125rem !important;
    }
    .custom-container.cart-container .checkout-btn {
        background-size: 1rem;
        background-position: 24.625rem;
    }
   .footer .copyright-cont .pay-methods-avail {
       align-items: flex-start !important;
   }
   .footer .copyright-cont div:first-child,
   .footer .copyright-cont .pay-methods-avail {
       padding-left: 0;
   }
}
@media (min-width: 1200px){
    .custom-container.cart-container .continue-btn {
        width: 34.75rem;
    }
    .custom-container.cart-container .checkout-btn {
        width: 34.1875rem;
    }
    .cart-item.dt .item-det-holder {
      max-width: 85%;
      flex-basis: 85%;
   }
}
@media (min-width: 1600px){
   header.header .row.align-items.spacing {
       //margin: auto 4rem;
   }
}
