<span class="title">QUOTE OF THE WEEK</span>

    <div class="clients-list clients-carousel owl-carousel">

        <div class="client-item col-12 px-4">
            <h2>"Jewellery has the power to be the one little thing that makes you feel unique."</h2>
            <p class="client-name">- Elizabeth Taylor</p>
        </div>
        <div class="client-item col-12 px-4">
            <h2>"Jewellery is the most transformative thing you can ever wear."</h2>
            <p class="client-name">-Iris Apfel</p>
        </div>
        <div class="client-item col-12 px-4">
            <h2>"Jewellery is eternal, it never goes out of fashion it will always be there."</h2>
            <p class="client-name">- Kate Moss</p>
        </div>
        <div class="client-item col-12 px-4">
            <h2>"Jewellery is like the perfect spice - it always compliments what's already there."</h2>
            <p class="client-name">- Diane Von Furstenburg</p>
        </div>
    </div>
