:root {
    --primary-font: 'cormorantregular';
    --secondary-font: 'Poppins', sans-serif;
    --third-font: 'cormorantlight_italic';
}
body {
    background: #fff;
    color: #4A4A4A;
    font-family: var(--secondary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover,
a:active {
    text-decoration: none;
}
header.header {
    border-bottom: none;
    margin-bottom: 4rem;
}
header.header ul.shipping li:first-child,
header.header .shipping li a.dropdown-toggle:after {
    display: none;
}
header.header .shipping li a.dropdown-toggle {
    color: #5C5E69;
    font-size: 0.875rem;
    line-height: 1.34;
    pointer-events: none;
}
header.header .shipping li .dropdown .dropdown-menu {
    max-width: 240px;
}
header.header .logo img {
    height: 88px;
    width: 314px;
}
header.header .head-links li a {
    padding-bottom: 0;
}
header.header .head-links li:last-child a {
    padding-right: 0;
}
header.header .search .search-item-form .nav-search-field {
    background-color: #F7F7F7;
    height: 1.9375rem;
}
header.header .search .search-item-form .nav-search-field::placeholder {
    font-size: 0;
}
header.header .search .search-item-form {
    max-width: 220px;
}
header.header .search .search-item-form .nav-search-field::placeholder {
    text-indent: -9999px;
}
header.header .search .search-item-form button img {
    max-width: 1.125rem;
}
header.header .menu-holder li a {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
header.header .menu-holder>li>div {
    border-color: #ededed;
}
header.header .head-links li .cart-qty {
    width: 15px;
    height: 15px;
    font-size: 0.65rem;
    top: 22px;
    line-height: 15.3px;
}
header .mob-top-links .cart-qty {
    width: 15px;
    height: 15px;
    font-size: 0.53rem;
    line-height: 16px;
}
.wrapper .notificationbar {
    color: #F8F0EB !important;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--secondary-font);
    padding-top: 1rem;
    height: 3.125rem;
    background-color: #542F34;
    text-align: center;
}
body[data-pagetype="home"] header.header {
    margin-bottom: 0;
}
.default-breadcrumb {
    margin-bottom: 24px;
}
.default-breadcrumb li,
.arrow-breadcrumbs li,
.default-breadcrumb li a {
    font-size: 12px;
    line-height: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.07em;
    text-transform: capitalize;
    color: #000000;
}
.default-breadcrumb li:first-child a {
    text-transform: lowercase;
}
.default-breadcrumb h1.breadcrumb-heading {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #4A4A4A;
    line-height: 39px;
}
.cart-item .item-details .details-desc .item-desc .item-opts .collapse-link .angle,
.cart-item .item-details .details-desc .item-desc .add-gift-msg .collapse-link .angle {
    padding-right: 5px;
    color: #007BFF;
}
.cart-item .item-details .details-desc .item-desc .item-opts .collapse-link .angle,
.cart-item .item-details .details-desc .item-desc .item-opts .collapse-link span,
.cart-item .item-details .details-desc .item-desc .add-gift-msg .collapse-link span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #007BFF;
}
.cart-item .item-details .gift-msg-cont .form-control {
    max-width: 998.93px;
    min-height: 77.37px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 0px;
    margin-bottom: 48px;
}
.cart-item .item-details .gift-msg-cont .form-control::placeholder {
    font-size: 0;
}
.promo-holder .promo-box img {
    height: auto;
}
#best-seller-cont .vendor-products {
    align-items: flex-start !important;
}
.product-detail-container .product-holder .product-order .tab-content .btn.show-more {
    background: #000000;
    color: #fff;
    font-family: var(--secondary-font);
}
#content .home-intro {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px 50px;
}
.home-intro .home-intro-container h2{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 42px;
    color: #542F34;
    margin: 0;
}
.home-intro .intro-content {
    margin: 0 auto;
}
.home-intro .intro-content p {
    font-family: var(--primary-font);
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    color: #000000 !important;
    margin: 0;
}
.home-slider.bestsellers-slider {
    background-color: #F8F0EB;
    margin: 0 0 70px !important;
    padding: 50px 30px 60px;
}
.home-slider.bestsellers-slider.home-category-slider {
    background-color: #EFDFD5;
    padding: 57px 30px 71px;
    margin-bottom: 0 !important;
}
.home-slider h2.section-title.text-center,
.bestsellers-slider h2.section-title.text-center {
    margin: 0;
    text-align: left !important;
    color: #F8F0EB;
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 38px;
    line-height: 42px;
}
.home-slider h2.section-title {
    font-weight: 300;
}
.home-slider h2.section-title em b {
    font-weight: 600;
}
.bestsellers-slider h2.section-title.text-center {
    color: var(--primary-bg-color);
}
.home-slider.home-social-slider h2.section-title {
    text-align: center !important;
    font-family: var(--third-font);
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #F8F0EB;
}
.home-slider.home-social-slider h2.section-title span {
    font-family: var(--primary-font);
}
.home-slider.bestsellers-slider .carousel-container {
    padding: 1.875rem 0 0;
}
.home-slider .post-tile .post-tile-link .post-link {
    font-family: 'cormorantbold_italic';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}
.home-slider .post-tile .post-tile-link:hover .post-link {
    color: #333;
}
.bestsellers-slider .post-tile .post-tile-link .post-link {
    font-style: normal;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #542F34;
}
.home-slider.home-slider-designer {
    background-color: #542F34;
    padding: 70px 30px 50px;
    color: #fff;
    margin-bottom: 0 !important;
}
.home-slider.home-slider-designer .post-tile .post-tile-link .post-link {
    color: #F8F0EB;
    font-family: var(--primary-font);
    font-style: italic;
    font-weight: 600;
}
.home-slider.home-slider-designer .section-title {
    color: #F8F0EB !important;
}
.home-slider.home-social-slider {
    background-color: #542F34;
    padding-top: 83px;
    padding-bottom: 48px;
}
.review-slider {
    background-color: #542F34;
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: #fff;
}
.review-slider .clients-list {
    max-width: 1000px;
    margin: 0 auto;
}
.review-slider span.title {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 48px;
    color: #F8F0EB;
    font-family: var(--secondary-font);
    display: inline-block;
    margin: 0 0 11px;
}
.review-slider .clients-list h2{
    font-style: italic;
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    color: #F8F0EB;
    margin: 0 0 30px;
}
.review-slider .clients-list p.client-name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #F8F0EB;
    font-family: var(--secondary-font);
}
.review-slider .clients-list .owl-nav button {
    width: 1.25rem;
}
.review-slider .clients-list .owl-nav .owl-prev {
    float: left;
    position: absolute;
    top: 12px;
    left: 0;
}
.review-slider .clients-list .owl-nav .owl-next {
    float: right;
    /* transform: rotate(-180deg); */
    position: absolute;
    top: 12px;
    right: 0;
}
.promo-holder .promo-box:first-child {
    margin-right: 1.5rem;
}
.promo-section.featured-vendors-area {
    padding: 0 30px 70px;
}
.wishlist-section {
    padding: 60px 30px 74px;
}
.wishlist-section span{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 5px solid #542F34;
    padding: 0 0 10px;
    margin: 0 0 2.25rem;
    display: inline-block;
    color: #000;
}
.wishlist-section h1,
.wishlist-section h1 span {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 50px;
    color: #542F34;
    letter-spacing: -1.5px;
}
.wishlist-section h1 span {
    border-bottom: none;
    font-family: var(--third-font);
    font-style: italic;
    font-weight: 600;
}
.wishlist-section p {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.wishlist-section a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #383500;
}
.sign-up-section {
    background-color: #efdfd5;
}
.sign-up-section .sign-up-container .signup-text {
    width: 100%;
    margin: 0 auto;
}
.sign-up-section .sign-up-container .signup-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}
.sign-up-section h2 {
    margin: 0;
}
.sign-up-section .sign-up-container .sign-up-form {
    margin-bottom: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    margin-right: 0;
    //width: 23.438rem;
}
.sign-up-section .sign-up-container .sign-up-form input::placeholder {
    text-indent: -999px;
}
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary,
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    margin-bottom: 0;
    color: #F8F0EB;
    background-color: #000000;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
}
.featured-client {
    margin-top: 0;
    padding-top: 0.25rem;
    display: none;
}
.featured-client h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: var(--primary-bg-color);
}
/* product details */
.product-detail-container .product-holder .product-detail .product-info .made-by a.vendor-link {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 19px;
    color: #212529;
    font-family: var(--secondary-font);
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    width: 92%;
    color: #A56E84;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
    width: 24%;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating .heart-icon-left {
    justify-content: start !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage {
    padding-top: 2px;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
    width: 27px;
    height: 25px;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
}
.product-detail-container .product-holder .product-order .nav-tabs {
    border: none;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .tab-content {
    border: none;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    padding-left: 0;
    text-align: left;
    font-family: var(--secondary-font);
    background-color: transparent;
    text-transform: uppercase;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link > h4 {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #212529;
}
.product-detail-container .preview-thumbnail li {
    min-width: 65px;
}
.product-carousel-desktop .owl-stage .owl-item {
    max-width: 104px;
    margin-right: 10px;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane div,
.product-detail-container .product-holder .product-order .tab-content .tab-pane p > span,
.product-detail-container .product-holder .product-order .tab-content .tab-pane p {
    color: #212529;
    font-family: var(--primary-font);
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
    padding-left: 0;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4,
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    color: #A56E84;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews,
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.product-holder .product-inner {
    padding-left: 35px;
}
.product-detail-container .personalise-form .form-group .order-input{
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    font-family: var(--primary-font);
}
.product-detail-container .personalise-form .form-group .order-btn {
    background: #000000;
    color: #F8F0EB;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
}
.product-detail-container .personalise-form .form-group .order-btn:hover,
.product-detail-container .personalise-form .form-group .order-btn:focus,
.product-detail-container .personalise-form .form-group .order-btn:active {
    background-color: #000;
    box-shadow: none;
}
.product-detail-container .product-holder .share-link {
    display: none !important;
}
body[data-pagetype="product"] .related-products {
    display: none;
}
body[data-pagetype="home"] .featured-client {
    display: block;
}
.sidebar-widget .list-group .list-group-holder a h4 {
    font-family: var(--secondary-font);
    font-size: 14px;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li a {
    font-size: 14px;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
    font-size: 14px;
    line-height: 1.2375rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--secondary-font);
}
header.header .head-links li .add-to-basket .dropdown-menu h4,
header.header .head-links li .add-to-basket .dropdown-menu h5 {
    font-family: var(--secondary-font);
}
.custom-container.cart-container .continue-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    font-family: var(--secondary-font);
    background: #EDEDED;
    text-align: center;
    text-transform: uppercase;
    color: #212529;
}
.custom-container.cart-container .total-cart-wrapper span,
.custom-container.cart-container .total-cart-wrapper label {
    color: #636363;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}
.custom-container.cart-container .shopping-btns-top {
    padding-top: 0 !important;
}
.custom-container.cart-container .checkout-btn {
    background-color: #000000;
    background-position: 21.25rem;
    color: #F8F0EB;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.custom-container.cart-container .checkout-btn:hover {
    background-color: #353535;
}
.custom-container.cart-container .vendor-heading .delivered-by,
.custom-container.cart-container .vendor-heading .vendor-name {
    text-transform: capitalize;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
}
.custom-container.cart-container .vendor-heading .delivered-by {
    text-decoration: none;
    text-transform: none;
}
.custom-container.cart-container .breadcrumb-heading {
    color: #4A4A4A;
    font-style: normal;
    font-weight: normal;
}
.custom-container.cart-container .card .cart-login-cont {
    background-color: #EDEDED;
}
.custom-container.cart-container .card .cart-login-cont .btn.btn-primary,
.custom-container.checkout .btn.btn-primary {
    background-color: #000;
    border-color: #000;
}
.custom-container.cart-container .card .cart-login-cont .btn.btn-primary:hover,
.custom-container.cart-container .card .cart-login-cont .btn.btn-primary:focus,
.custom-container.checkout .btn.btn-primary:hover,
.custom-container.checkout .btn.btn-primary:focus {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.vendor-menu-cont {
    padding-left: 0 !important;
}
.vendor-menu-cont ul.vendor-menu {
    padding-left: 0;
    margin-left: 0 !important;
    min-width: 50%;
}
.vendor-menu-cont .vendor-menu li {
    margin-right: 0;
}
.vendor-menu-cont .vendor-menu li a.btn {
    min-width: 153px;
}
.vendor-menu-cont .vendor-menu li a.btn-reverse:hover,
.vendor-menu-cont .vendor-menu li a.btn-reverse:focus {
    background-color: #542f34;
    color: #fff;
}
.products-container .products-holder-main .vendor-details .vendor-link {
    display: none;
}
.vendor-items-holder .details-header {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}
.cart-item .item-details .unit-total-price,
.cart-item .item-details .unit-price,
.cart-item .item-details .item-name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--secondary-font);
    color: #4A4A4A;
}
.cart-item .item-details a.del-item,
.cart-item .item-details a.edit-item {
    width: 22px;
    height: 22px;
}
.cart-item .item-details a.del-item {
    background-image: url(https://bitbucket.org/TSTechsembly/jscss/raw/152d30b6f77356012af4e5880ecb55e6abad76b5/she-her/images/delete.svg);
}
.cart-item .item-details a.edit-item {
    background-image: url(https://bitbucket.org/TSTechsembly/jscss/raw/152d30b6f77356012af4e5880ecb55e6abad76b5/she-her/images/edit.svg);
}
.custom-container.checkout .order-totals-container {
    background-color: #EDEDED;
}
.home-slider-designer .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -35px;
    top: 44%;
    width: 20px;
}
.home-slider-designer .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: -32px;
    top: 44%;
    width: 20px;
}
.footer {
    border-top: none;
    margin-top: 0;
    background-color: #EFDFD5;
    padding: 50px 30px 20px;
}
.footer .footer-widget .widget-title {
    font-family: var(--primary-font);
    font-style: italic;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    text-transform: capitalize;
}
.footer .footer-widget .widget-title:before {
    display: inline-block;
    content: '';
}
.footer .footer-widget .widget-content ul li a {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    color: var(--primary-bg-color);
}
.powered-link-cont,
.powered-link-cont a {
    color: #4f4f4f;
    font-family: var(--secondary-font);
    font-size: 0.9375rem;
}
.footer .copyright-cont .powered-by div:first-child {
    display: none;
}
.footer .copyright-cont div:first-child,
.footer .copyright-cont .pay-methods-avail {
    padding-left: 0px;
}
.footer .acknowledge-cont {
    padding-top: 30px;
}
.footer .acknowledge-cont .ack-desc,
.footer .acknowledge-cont .ack-heading {
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    font-family: var(--secondary-font);
    color: #AD9D9D;
}
.footer .acknowledge-cont .ack-desc {
    font-weight: 400;
}
.footer .mobile-footer .list-group .list-group-holder>a,
.footer .mobile-footer .list-group .list-group-holder>a:focus,
.footer .mobile-footer .list-group .list-group-holder>a:hover {
    background-color: transparent;
    color: #000;
}
@media (max-width: 1199.98px) {
    .vendor-micro-cont .vendor-banner {
        background-position: center;
        background-size: contain;
        min-height: 285px;
        height: auto;
    }
}
@media only screen and (max-width: 991.98px) {
    .product-holder .product-inner {
        padding-left: 15px;
    }
    header.header .logo img {
        width: auto;
        height: auto;
    }
    .vendor-micro-cont .vendor-banner {
        min-height: 215px;
    }
    .vendor-menu-cont ul.vendor-menu {
        min-width: 75%;
    }
    .vendor-products .product-col .product-image {
        min-height: 156px;
        max-height: 156px;
    }
    .vendor-products .product-col .product-image img {
        max-height: 156px;
    }
}
@media only screen and (max-width: 767.98px) {
    header.header .logo {
        height: auto;
    }
    .promo-section.featured-vendors-area {
        padding: 0;
    }
    .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
        width: auto;
    }
    .mob-custom-carosel {
        display: block !important;
    }
    .home-slider .carousel-container {
        justify-content: space-between;
    }
    .cart-item .item-details a.del-item,
    .cart-item .item-details a.edit-item {
        width: 12px;
        height: 16px;
    }
    .vendor-products .product-col .product-image {
        min-height: 111px;
        max-height: 111px;
    }
    .vendor-products .product-col .product-image img {
        max-height: 111px;
    }
}
@media only screen and (max-width: 575.98px) {
    #best-seller-cont .vendor-products {
        //justify-content: space-between !important;
    }
    .vendor-micro-cont .vendor-banner {
        min-height: 118px;
    }
    .vendor-products .product-col {
        margin-right: 1.5rem;
        width: 45%;
        max-width: 150px;
        flex-basis: auto;
    }
    .vendor-products .product-col .product-image {
        min-height: 150px;
        max-height: 150px;
    }
    .vendor-products .product-col .product-image img {
        max-height: 150px;
    }
}
@media only screen and (max-width: 414px) {
    .custom-container.cart-container .checkout-btn {
        background-position: 18.25rem;
    }
    header.header .logo {
        max-height: 35px;
        margin-top: -12px;
    }
}
@media (min-width: 992px) {
  header.header .logo {
    padding: 38px 0 52px;
  }
  header.header .head-links li a img {
    height: auto;
    max-width: 1.1875rem;
  }
  .home-slider.bestsellers-slider.home-slider-personality {
    margin-top: 1.25rem !important;
    margin-bottom: 100px !important;
    padding-top: 77px;
    padding-bottom: 77px;
  }
  .home-slider.bestsellers-slider.home-slider-personality .carousel-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .home-slider.bestsellers-slider.home-slider-personality .carousel-container .post-tile {
    /* //max-width: 320px; */
  }
  .home-slider.home-slider-designer {
    margin-top: 30px !important;
    padding-top: 77px;
    padding-bottom: 50px;
  }
  .home-slider.bestsellers-slider.home-slider-designer .carousel-container {
    padding-top: 1.125rem;
  }
  .home-slider.bestsellers-slider.home-slider-designer .carousel-container .post-tile {
    max-width: 300px;
    margin: auto;
  }
  .home-slider.home-slider-designer .post-tile .post-tile-link .post-link {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .wishlist-section .wishlist-img {
    margin-top: -1.75rem;
  }
  .home-slider.bestsellers-slider.home-category-slider .carousel-container {
    padding-top: 1.25rem;
  }
  .bestsellers-slider.home-category-slider .post-tile .post-tile-link .post-link {
    margin-top: 1.1875rem;
    text-align: left !important;
    width: 100% !important;
  }
  .home-slider.bestsellers-slider.home-social-slider .carousel-container {
    padding-top: 55px;
  }
  .featured-client h2 {
    margin-bottom: 3rem;
  }
  .featured-client .clients-list {
    padding-bottom: 54px;
  }
  .sign-up-section {
    padding: 60px 0 64px;
  }
  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    height: 3.125rem;
    width: 23.75rem;
  }
  .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    height: 3.125rem;
  }
  .custom-container.cart-container .breadcrumb-heading {
        font-size: 2rem;
        line-height: 2.4375rem;
  }
  .vendor-products .product-col .product-image {
      min-height: 200px;
      max-height: 200px;
  }
  .vendor-products .product-col .product-image img {
      max-height: 200px;
  }
  .custom-container.footer-page-container {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
  }
}
@media (min-width: 1200px) {
    .vendor-micro-cont .vendor-banner {
        min-height: 525px;
        object-fit: contain;
        height: auto;
    }
}


/* Ross temp overides */

@media (min-width: 768px){
.product-detail-container .tab-content.preview-pic {
    height: auto;
}}

.product-detail-container .personalise-form .form-group .order-input {
    font-size: 24px;
}

.product-order #myTabContent .personalise .row .col-lg-10{
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

/* Mai temp overides */

.home-intro .intro-content-about p {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000000 !important;
    padding: 15px 50px;
    margin: 0;
    text-rendering: optimizeLegibility;
    text-align: justify;
}

.home-quote {
    background-color: #542F34;
}

.quote-slider {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 48px;
    color: #F8F0EB;
    font-family: var(--secondary-font);
    margin: 0;
    text-align: center;
}

@media only screen and (min-width: 414px){
.home-intro .intro-content-about p {
    padding: 15px 0px;
    font-size: 0.9rem;
    line-height: 1.5rem;
}}
