.product-detail .shipping {display:none !important;}
/*.featured-client:nth-child(1) {display:none !important;}*/
.powered-by div{display:none !important;}
.powered-by .powered-link-cont{font-size: 18px; font-weight: 300; display:block !important;}
.toggle-menu-cont .logo {height:115px !important;}
.btn.btn-primary:hover {background-color: #8f8f8f !important; opacity: .8}
.btn.btn-primary {color: #FFF}
:root {
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Lato', sans-serif;
}
.nav-link {letter-spacing:0.3em; text-transform:uppercase !important; font-weight: 400 !important}

.promo-title, .promo-description {
    font-weight: 900 !important;
    text-shadow: 1px 2px black !important;
}

.home-banner .banner-heading {
    top:85% !important;
}

.post-tile-link h2 {font-family: 'Sorts Mill Goudy', serif !important; font-size: 16px !important}

header.header {border-bottom:none !important}

header.header .logo {margin-bottom:30px}

.section-title { text-transform:uppercase !important; line-height:normal !important; font-weight: 200 !important; font-size:34px !important;}

.footer .footer-widget .widget-title { font-family: 'Lato', sans-serif !important; text-transform:uppercase !important; line-height:normal !important}

.post-link {font-size:14px !important}

.product-heading h1 { font-family: 'Sorts Mill Goudy', serif !important; line-height:normal !important}

.sign-up-container p {font-family: 'Sorts Mill Goudy', serif !important; font-size: 21px !important}

.footer {background-color: #EFDFD5 !important; border-top: none !important; margin-top: 0px !important; padding-top: 10px !important}

.footer .footer-widget .widget-content ul li {line-height: 35px; font-weight: 300 !important}

.sign-up-section {background-color: #EFDFD5 !important;}

.sign-up-container {padding-top: 40px; padding-bottom: 40px}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {margin-right: 0px !important}
.sign-up-container h2 {font-size: 34px; font-weight: 400}

.widget-title.mb-0 {display: none;}

span.step.active, span.step:active {
    background-color: #8f8f8f !important;
}



.btn.btn-primary:not(:disabled):not(:disabled):active{
    background-color: #8f8f8f !important;
}

.home-intro-container:nth-child(2){background-color:#542f34 !important;}

.home-intro-container:nth-child(2){background-color:#542f34 !important;}

.bestsellers-slider:nth-child(1){background-color:#542f34 !important;}

header.header .logo img {width:300px; height: 90px}
