@font-face {
    font-family: 'Whitney-Semibold';
    src: url('Whitney-Semibold.eot');
    src: url('Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Semibold.woff2') format('woff2'),
        url('Whitney-Semibold.woff') format('woff'),
        url('Whitney-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-SemiboldItalic';
    src: url('Whitney-SemiboldItalic.eot');
    src: url('Whitney-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-SemiboldItalic.woff2') format('woff2'),
        url('Whitney-SemiboldItalic.woff') format('woff'),
        url('Whitney-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney-Medium';
    src: url('Whitney-Medium.eot');
    src: url('Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Medium.woff2') format('woff2'),
        url('Whitney-Medium.woff') format('woff'),
        url('Whitney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-MediumItalic';
    src: url('Whitney-MediumItalic.eot');
    src: url('Whitney-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-MediumItalic.woff2') format('woff2'),
        url('Whitney-MediumItalic.woff') format('woff'),
        url('Whitney-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney Index White Sq Md';
    src: url('WhitneyIndexWhite-SqMd.eot');
    src: url('WhitneyIndexWhite-SqMd.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexWhite-SqMd.woff2') format('woff2'),
        url('WhitneyIndexWhite-SqMd.woff') format('woff'),
        url('WhitneyIndexWhite-SqMd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-Light';
    src: url('Whitney-Light.eot');
    src: url('Whitney-Light.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Light.woff2') format('woff2'),
        url('Whitney-Light.woff') format('woff'),
        url('Whitney-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-LightItalic';
    src: url('Whitney-LightItalic.eot');
    src: url('Whitney-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-LightItalic.woff2') format('woff2'),
        url('Whitney-LightItalic.woff') format('woff'),
        url('Whitney-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney Index White Sq Lt';
    src: url('WhitneyIndexWhite-SqLt.eot');
    src: url('WhitneyIndexWhite-SqLt.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexWhite-SqLt.woff2') format('woff2'),
        url('WhitneyIndexWhite-SqLt.woff') format('woff'),
        url('WhitneyIndexWhite-SqLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index White Sq CnLt';
    src: url('WhitneyIndexWhite-SqCnLt.eot');
    src: url('WhitneyIndexWhite-SqCnLt.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexWhite-SqCnLt.woff2') format('woff2'),
        url('WhitneyIndexWhite-SqCnLt.woff') format('woff'),
        url('WhitneyIndexWhite-SqCnLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index White Sq Bd';
    src: url('WhitneyIndexWhite-SqBd.eot');
    src: url('WhitneyIndexWhite-SqBd.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexWhite-SqBd.woff2') format('woff2'),
        url('WhitneyIndexWhite-SqBd.woff') format('woff'),
        url('WhitneyIndexWhite-SqBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index White Rd Md';
    src: url('WhitneyIndexWhite-RdMd.eot');
    src: url('WhitneyIndexWhite-RdMd.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexWhite-RdMd.woff2') format('woff2'),
        url('WhitneyIndexWhite-RdMd.woff') format('woff'),
        url('WhitneyIndexWhite-RdMd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index White Rd Lt';
    src: url('WhitneyIndexWhite-RdLt.eot');
    src: url('WhitneyIndexWhite-RdLt.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexWhite-RdLt.woff2') format('woff2'),
        url('WhitneyIndexWhite-RdLt.woff') format('woff'),
        url('WhitneyIndexWhite-RdLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index Black Sq Md';
    src: url('WhitneyIndexBlack-SqMd.eot');
    src: url('WhitneyIndexBlack-SqMd.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexBlack-SqMd.woff2') format('woff2'),
        url('WhitneyIndexBlack-SqMd.woff') format('woff'),
        url('WhitneyIndexBlack-SqMd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index White Rd Bd';
    src: url('WhitneyIndexWhite-RdBd.eot');
    src: url('WhitneyIndexWhite-RdBd.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexWhite-RdBd.woff2') format('woff2'),
        url('WhitneyIndexWhite-RdBd.woff') format('woff'),
        url('WhitneyIndexWhite-RdBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index White Rd CnLt';
    src: url('WhitneyIndexWhite-RdCnLt.eot');
    src: url('WhitneyIndexWhite-RdCnLt.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexWhite-RdCnLt.woff2') format('woff2'),
        url('WhitneyIndexWhite-RdCnLt.woff') format('woff'),
        url('WhitneyIndexWhite-RdCnLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index Black Sq Lt';
    src: url('WhitneyIndexBlack-SqLight.eot');
    src: url('WhitneyIndexBlack-SqLight.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexBlack-SqLight.woff2') format('woff2'),
        url('WhitneyIndexBlack-SqLight.woff') format('woff'),
        url('WhitneyIndexBlack-SqLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index Black Sq CnLt';
    src: url('WhitneyIndexBlack-SqCnLt.eot');
    src: url('WhitneyIndexBlack-SqCnLt.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexBlack-SqCnLt.woff2') format('woff2'),
        url('WhitneyIndexBlack-SqCnLt.woff') format('woff'),
        url('WhitneyIndexBlack-SqCnLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index Black Rd Md';
    src: url('WhitneyIndexBlack-RdMd.eot');
    src: url('WhitneyIndexBlack-RdMd.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexBlack-RdMd.woff2') format('woff2'),
        url('WhitneyIndexBlack-RdMd.woff') format('woff'),
        url('WhitneyIndexBlack-RdMd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index Black Sq Bd';
    src: url('WhitneyIndexBlack-SqBd.eot');
    src: url('WhitneyIndexBlack-SqBd.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexBlack-SqBd.woff2') format('woff2'),
        url('WhitneyIndexBlack-SqBd.woff') format('woff'),
        url('WhitneyIndexBlack-SqBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index Black Rd CnLt';
    src: url('WhitneyIndexBlack-RdCnLt.eot');
    src: url('WhitneyIndexBlack-RdCnLt.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexBlack-RdCnLt.woff2') format('woff2'),
        url('WhitneyIndexBlack-RdCnLt.woff') format('woff'),
        url('WhitneyIndexBlack-RdCnLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index Black Rd Lt';
    src: url('WhitneyIndexBlack-RdLt.eot');
    src: url('WhitneyIndexBlack-RdLt.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexBlack-RdLt.woff2') format('woff2'),
        url('WhitneyIndexBlack-RdLt.woff') format('woff'),
        url('WhitneyIndexBlack-RdLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Index Black Rd Bd';
    src: url('WhitneyIndexBlack-RdBd.eot');
    src: url('WhitneyIndexBlack-RdBd.eot?#iefix') format('embedded-opentype'),
        url('WhitneyIndexBlack-RdBd.woff2') format('woff2'),
        url('WhitneyIndexBlack-RdBd.woff') format('woff'),
        url('WhitneyIndexBlack-RdBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-BookItalic';
    src: url('Whitney-BookItalic.eot');
    src: url('Whitney-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-BookItalic.woff2') format('woff2'),
        url('Whitney-BookItalic.woff') format('woff'),
        url('Whitney-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney-Book';
    src: url('Whitney-Book.eot');
    src: url('Whitney-Book.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Book.woff2') format('woff2'),
        url('Whitney-Book.woff') format('woff'),
        url('Whitney-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-Bold';
    src: url('Whitney-Bold.eot');
    src: url('Whitney-Bold.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Bold.woff2') format('woff2'),
        url('Whitney-Bold.woff') format('woff'),
        url('Whitney-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-BoldItalic';
    src: url('Whitney-BoldItalic.eot');
    src: url('Whitney-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-BoldItalic.woff2') format('woff2'),
        url('Whitney-BoldItalic.woff') format('woff'),
        url('Whitney-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney-Black';
    src: url('Whitney-Black.eot');
    src: url('Whitney-Black.eot?#iefix') format('embedded-opentype'),
        url('Whitney-Black.woff2') format('woff2'),
        url('Whitney-Black.woff') format('woff'),
        url('Whitney-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-BlackItalic';
    src: url('Whitney-BlackItalic.eot');
    src: url('Whitney-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Whitney-BlackItalic.woff2') format('woff2'),
        url('Whitney-BlackItalic.woff') format('woff'),
        url('Whitney-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

