:root{
 --primary-font: 'Open Sans', sans-serif;
 --secondary-font: 'Cinzel', serif;
 --third-font: 'Noto Sans', sans-serif;
 --body-bg: #ffffff;
 --primary-bg-color: #9D7A44;
 --color-light: #808080;
 --color-dark: #383838;
}
html {
   overflow-x: hidden;
}
body {
  background-color: var(--body-bg);
  color: var(--color-light);
  font-family: var(--primary-font);
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}
a,
a:hover,
a:focus  {
  color: var(--color-light);
  font-family: var(--primary-font);
  text-decoration: none;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 1.25px;
  height: auto;
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active {
  background-color: var(--primary-bg-color);
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.default-breadcrumb,
.arrow-breadcrumbs {
  align-items: center;
}
.breadcrumb li,
.breadcrumb li a {
  color: var(--color-light);
  font-size: 0.75rem;
  line-height: 1rem;
}
.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0.25rem;
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
  color: #6d6d6d;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
  color: #6d6d6d;
}
.arrow-breadcrumbs li.processed a {
  color: var(--color-dark);
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
  content: url('https://static.techsembly.com/RP3JCGoCb8vuXDUVFd223pBV');
  padding-left: 0;
  margin-top: 0.125rem;
}
header.header {
  border-bottom: none;
  margin-bottom: 0;
}
header.header .shipping li,
header.header .shipping li a {
  color: var(--color-light);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
header.header .shipping li img {
  max-width: 25px;
  margin-top: -2px;
}
header.header .shipping li a.dropdown-toggle,
header .mob-top-links .dropdown-flag a.dropdown-toggle {
  pointer-events: none;
}
header.header .shipping li a.dropdown-toggle:after,
header .mob-top-links .dropdown-flag a.dropdown-toggle:after {
  display: none;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont,
header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont {
  min-height: auto;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-price {
  margin-bottom: auto;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details,
header .mob-top-links .add-to-basket .dropdown-menu .checkout-details {
  padding-bottom: 1.5rem;
}
header.header .head-links li .add-to-basket .dropdown-menu h4,
header.header .head-links li .add-to-basket .dropdown-menu h5,
header .mob-top-links .add-to-basket .dropdown-menu h4,
header .mob-top-links .add-to-basket .dropdown-menu h5 {
  color: var(--color-dark);
}
header.header .head-links li .add-to-basket .dropdown-menu .btn,
header .mob-top-links .add-to-basket .dropdown-menu .btn {
  padding-top: 0.625rem;
}
header.header .logo img {
  height: auto;
  width: 236px;
}
header.header .head-links li .cart-qty {
  right: -0.3125rem;
  padding-top: 0.125rem;
}
header .mob-top-links .cart-qty {
  padding-top: 1px;
}
header.header .menu-holder li a {
  color: var(--primary-bg-color);
  font-size: 0.75rem;
  line-height: 1rem;
}
header.header .menu-holder li a.main-category {
  text-transform: uppercase;
}
header.header .menu-holder .nav-column:not(:last-child):after {
  display: none;
}
.home-banner .banner-title,
.gift-section .banner-title {
  display: none;
}
.home-banner .banner-heading,
.gift-section .gifts-content .gifts-heading {
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.01em;
}
.home-slider .section-title {
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.home-slider .carousel-container {
  padding-bottom: 3.875rem;
}
.home-slider .post-tile .post-link {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.01em;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 100%;
}
.gift-section {
  padding-bottom: 34px;
}
.gift-section img {
  height: auto;
}
.gift-section .gifts-content {
  left: 0 !important;
  right: 0;
  margin: auto;
  text-align: center;
}
.promo-section {
  background-color: #F7F2EB;
}
.promo-section .banner-title {
  color: #fff;
  font-family: var(--primary-font);
  font-size: 0.75rem !important;
  font-weight: 700;
  line-height: 1.125rem !important;
  text-align: left !important;
  margin-bottom: 0.375rem;
}
.promo-section .section-title {
  color: var(--color-dark);
  font-weight: 400;
  letter-spacing: 0.05em;
}
.promo-section .promo-holder {
  padding-bottom: 3rem;
}
.promo-holder .promo-box:first-child {
  margin-right: 1.875rem;
}
.promo-holder .promo-box img {
  height: auto;
}
.promo-holder .promo-box .promo-content {
  text-align: left !important;
  top: auto;
  left: 2rem !important;
  bottom: 2.125rem;
}
.promo-holder .promo-box .promo-content .promo-title,
.promo-holder .promo-box .promo-content .promo-desc {
  color: #fff;
  font-family: var(--secondary-font);
  font-weight: 400;
  letter-spacing: 0.05em;
}
.promo-holder .promo-box .promo-content .promo-desc {
  border-bottom: 1px solid #fff;
  display: table;
  letter-spacing: 0.01em;
  padding-top: 0.5rem;
}
.promo-holder .promo-box .promo-content .promo-title {
    font-size: 1.5rem;
    line-height: 2rem;
}
.promo-holder .promo-box .promo-content .promo-desc {
    font-size: 1rem;
    line-height: 1.3125rem;
}
.featured-client {
  display: none;
}
.sign-up-section {
  background-color: #fff;
  display: none;
  padding-bottom: 1.75rem;
}
.sign-up-section h2 {
  color: var(--primary-bg-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0.01em;
  margin-top: 3rem;
}
.sign-up-section .sign-up-container .signup-text {
  padding-top: 0.625rem !important;
  width: 100%;
}
.sign-up-section .sign-up-container .sign-up-form {
  padding-top: 0.9375rem;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  background-color: #ededed;
  border: 0.0625rem solid var(--primary-bg-color);
  margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
  font-size: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  margin-bottom: 0;
}
.custom-container.product-container .default-breadcrumb {
  margin-bottom: 0.75rem;
}
.custom-container.product-container .breadcrumb li,
.custom-container.product-container .breadcrumb li a {
  color: var(--color-dark);
}
.custom-container.product-container .breadcrumb-heading {
  color: var(--color-dark);
  font-family: var(--primary-font);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.73;
}
.select-form .form-group label {
  color: var(--color-dark);
  font-size: 0.75rem;
  line-height: 1rem;
}
.custom-container.product-container .product-select {
  padding-top: 0.5625rem;
  margin-right: 0;
}
.product-select .form-group.sort-cont {
  width: 50%;
}
.product-select .form-group>select.form-control {
  background-color: #f0f0f0;
  border-color: #ededed;
  height: 30px;
  font-size: 0.75rem;
  background-position: 0 center;
  padding-left: 1.25rem;
}
.product-select .form-group>select.form-control.relevance {
  width: 183px;
}
.sidebar-widget .result-text {
  margin-bottom: 0;
}
.sidebar-widget .result-text p {
  color: var(--color-dark);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
}
.sidebar-widget .list-group {
  padding-top: 0.25rem;
}
.sidebar-widget .list-group .list-group-holder>a h4 {
  color: var(--color-dark);
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item-action {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
  top: 30%;
  left: 0.5rem;
}
.sidebar-widget .product-catefilterParamsgories,
.sidebar-widget .mob-range-slider {
  margin-bottom: 0 !important;
}
.sidebar-widget .ng5-slider .ng5-slider-bubble {
  font-size: 0.75rem;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
  border-color: #e6e6e6;
}
.products-container .products-holder-main .products-holder {
  justify-content: space-between;
}
.products-container .products-holder-main .products-holder .product-column,
.products-container .products-holder-main .products-holder i[aria-hidden="true"] {
  margin: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
  height: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3,
.related-products .related-products-holder .product-content .product-title a,
.related-products .related-products-holder .product-content .product-title a span {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
  margin-bottom: 0.1875rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
  max-width: 1.125rem;
  height: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont div:empty {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p,
.related-products .related-products-holder .product-content .product-pricing p {
  color: var(--color-dark);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  color: var(--color-light);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.05em;
  width: 90%;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
  width: 10%;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
  height: auto;
  width: 27px;
}
.product-detail-container .product-holder .product-detail .product-info .info-holder {
  margin-bottom: 0.5rem;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  color: var(--color-dark);
  font-size: 0.9375rem;
  line-height: 1.73;
  letter-spacing: normal;
}
.product-detail-container .product-holder .product-detail .shipping,
.product-detail-container .product-holder .share-link {
  display: none !important;
}
.product-detail-container .product-holder .product-detail {
  height: auto;
  margin-bottom: 0 !important;
}

.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
  background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border-bottom: 1px solid #e6e6e6;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
  border-bottom-color: var(--primary-bg-color);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
  color: var(--color-light);
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
  color: var(--color-dark);
}
.product-detail-container .product-holder.no-del-pro .product-order .nav-tabs .nav-item:last-child,
.product-detail-container .product-holder.no-del-pro .product-order .tab-content .tab-pane#delivery {
  display: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child .col-lg-10 {
  max-width: 100%;
  flex-basis: 100%;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child .col-lg-2 {
  display: none;
}
.product-detail-container .personalise-form .form-group label {
  color: var(--color-dark);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.73;
}
.product-detail-container .personalise-form .form-group .form-control {
  border-color: var(--color-light);
  border-radius: 0.125rem;
  color: var(--color-light);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  height: auto;
  max-height: none;
}
.product-detail-container .personalise-form .form-group select {
  padding: 0.9375rem 3.25rem 1.0625rem 1rem;
}
.select-form.form-group select.form-control {
  background-image: url('https://static.techsembly.com/17SWzytHeo2Ze8xwy6M9Mp87');
  background-size: 0.625rem;
  background-position-x: 96%;
}
.product-detail-container .personalise-form .radio-holder,
.product-detail-container .personalise-form .checkbox-holder label {
  align-items: center;
  font-weight: 400;
  line-height: 1.25rem;
}
.product-detail-container .personalise-form .form-group.add-basket {
  margin-top: 0.25rem;
}
.product-detail-container .add-to-basket-cont {
  padding-right: 0;
}
.product-detail-container .personalise-form .form-group .order-input {
  border-radius: 0.1875rem;
  height: 53px;
  margin-right: 1rem;
}
.product-detail-container .personalise-form .form-group .order-btn {
  border-radius: 0.3125rem;
  line-height: 1.125rem;
  height: 52px;
}
.product-detail-container .preview-thumbnail {
  margin-top: 1.125rem;
}
.product-detail-container .preview-thumbnail .owl-item:not(:last-child) li {
  margin-right: 31px;
}
app-product-detail .container-fluid.BorderBottom {
  border: none;
}
.related-products {
  border-top: none;
}
.related-products h3 {
  color: var(--color-dark);
  font-family: var(--primary-font);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.73;
}
.related-products .related-products-holder .rel-product-col {
  width: 23.625%;
  margin-right: 1.4375rem;
}
.related-products .related-products-holder .related-products-image {
  height: auto;
  margin-bottom: 0.6875rem;
}
.related-products .related-products-holder .product-content .product-title a {
  font-family: var(--secondary-font);
  letter-spacing: 0.01em;
}
.related-products .related-products-holder .product-content .product-title {
  margin-bottom: 0.125rem;
  width: 100%;
}
.related-products .related-products-holder .product-content .product-rating {
  display: none;
}
app-product-detail app-related-products[title='Recently Viewed'] {
    //display: none;
}
app-cart,
app-checkout,
app-stripe-auth {
  background-color: #fcfcfc;
  display: block;
}
app-cart .custom-container.cart-container {
  font-family: var(--primary-font);
}
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading {
  color: var(--color-dark);
  font-family: var(--secondary-font);
  font-weight: 400;
  letter-spacing: 0.05em;
}
app-cart .custom-container.cart-container .order-sum-heading {
  color: #000;
}
.custom-container.cart-container .vendor-items-cont .card {
  border: none;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
  /*border-bottom-color: #212322;*/
  color: #000;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}
.custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .vendor-heading {
  color: var(--color-dark);
  font-family: var(--secondary-font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.custom-container.cart-container .vendor-items-cont .card .card-body .vendor-items {
  padding-top: 0.125rem;
}
app-cart .cart-item.new {
  color: var(--color-dark);
  line-height: 1.25rem;
}
.cart-item.new .item-image-cont .item-img {
  border-radius: 0.1875rem;
  overflow: hidden;
}
.cart-item.new .item-details-cont .item-details .item-name {
  color: var(--color-dark);
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 0.3125rem;
}
.cart-item.new .item-details-cont .item-details .unit-total-price {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.625rem;
}
.cart-item.new .item-details .unit-price {
  color: var(--color-light);
}
.custom-container.cart-container .vendor-items-cont a.del-item-link {
  color: #6d6d6d;
  line-height: 1.25rem;
}
.cart-item.new .item-details .qty-col {
  padding-left: 0;
}
.cart-item.new .item-details .item-qty-cont {
  border-color: #F7F2EB;
}
.cart-item.new .item-details .item-qty-cont .item-dec,
.cart-item.new .item-details .item-qty-cont .item-inc {
  background-color: #F7F2EB;
}
.cart-item.new .item-details .pro-badges-cont .pro-badge {
  background-color: #ededed;
  color: #6d6d6d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
}
.cart-item.new .form-control {
  color: var(--color-dark);
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
.custom-container.cart-container .card.order-summary-cont,
.custom-container.checkout .card.order-summary-cont {
  border: none;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header {
  color: #000;
  font-weight: 400;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  border-bottom-color: #d9d9d9;
  font-weight: 400;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0.01em;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
.container.custom-container.cart-container .card.order-summary-cont .card-body {
  color: #6d6d6d;
  line-height: 1.25rem;
}
.container.custom-container.cart-container .card.order-summary-cont .card-body-inner {
  margin-bottom: 0.75rem !important;
}
.custom-container.cart-container .card .cart-login-cont .login-note {
  padding-bottom: 42px;
}
.custom-container.cart-container .card .cart-login-cont {
  background-color: #F7F2EB;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
  color: var(--color-dark);
  font-weight: 400;
  line-height: 1.5rem;
}
.container.custom-container.cart-container .cart-login-cont form input.form-control {
  border-color: #d9d9d9;
  color: #6d6d6d;
  line-height: 1.25rem;
}
.container.custom-container.cart-container .cart-login-cont form input.form-control::placeholder {
  color: #6d6d6d;
}
.cart-login-cont form.cart-login-form .forget-psw-link {
  color: var(--color-dark);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  text-decoration: none;
}
.cart-login-cont form.cart-login-form .form-submit-cont {
  border-top-color: #d9d9d9;
}
.container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  border-radius: 0.3125rem;
  box-shadow: none;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 1.25px;
}
.custom-container.cart-container .card .cart-login-cont .checkout-note {
  color: var(--color-dark);
  padding-top: 1.5rem;
}
form.guestCheckout-form .form-group:last-child,
form.guestCheckout-form .btn.submit {
  margin-bottom: 0;
}
.cart-container form.guestCheckout-form .btn.submit img {
  margin-top: -0.1875rem;
}
.custom-container.cart-container .card .cart-login-cont .checkout-desc-cont {
  color: var(--color-dark);
  font-weight: 400;
}
.custom-container.cart-container .btn.continue-btn-new {
  border-color: var(--primary-bg-color);
  color: var(--primary-bg-color);
  font-family: var(--secondary-font);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  padding-top: 1.125rem;
}
body[data-pagetype="cart"] #delivery-options-popup .modal-container {
  color: var(--color-dark);
}
#delivery-options-popup .modal-container .modal-title,
#delivery-options-popup .modal-container .pref-method-note {
  color: var(--color-dark);
}
#delivery-options-popup .modal-container .radio-container .checkmark {
  border-color: #212322;
}
#delivery-options-popup .modal-container .radio-container .checkmark::after {
  background-color: #212322;
}
#delivery-options-popup .modal-container .modal-footer {
  border-color: #d9d9d9;
}
#delivery-options-popup .modal-container .modal-footer .btn {
  font-family: var(--secondary-font);
  padding-top: 0.375rem;
}
#delivery-options-popup .modal-container .modal-footer .btn.btn-submit {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
#delivery-options-popup .item-img-cont {
  flex: 1 0 50%;
  max-width: 50%;
}
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .address-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading {
  color: var(--color-dark);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.05em;
}
.custom-container.checkout .shipping-form-container .form-control {
  border-color: #d9d9d9;
  color: var(--color-dark);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  height: 3.125rem;
}
.custom-container.checkout .shipping-form-container .form-control::placeholder {
  color: #6d6d6d;
}
.custom-container.checkout .shipping-form-container .checkbox-cont input:checked ~ .checkmark {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper {
  border-color: #d1d1d1;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .customer-name {
  color: var(--color-dark);
  font-weight: 400;
  line-height: 1.5rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card a,
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body {
  color: var(--color-dark);
  font-weight: 400;
  line-height: 1.25rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .btn {
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 400;
}
.custom-container.checkout .shipping-form-container .get-updates-cont {
  margin-bottom: 1.5rem !important;
}
.custom-container.checkout .shipping-form-container .form-group label {
  line-height: 1.25rem;
}
.custom-container.checkout .shipping-form-container .form-group .get-updates-note {
  color: #6d6d6d;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body div:not(:empty):not(:last-child) {
  padding-bottom: 0.5rem;
}
.shipping-form-container .vendor-card .card-header {
  padding-top: 1.25rem !important;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container {
  margin-bottom: 0.25rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
  border-color: #212322;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
  background-color: #212322;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
  top: 1px;
  left: 1px;
  height: 18px;
  width: 18px;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
  margin-top: 0;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:first-child {
  padding-top: 0;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:not(:last-child) {
  padding-bottom: 0.75rem;
}
.checkout .payment-form-container {
  color: var(--color-dark);
  line-height: 1.25rem;
}
.checkout .payment-form-container .payments-methods-cont .card {
  border: 0.125rem solid var(--color-dark);
}
.checkout .payment-form-container .radio-container,
.checkout .payment-form-container .password-note {
  color: #6d6d6d;
}
.checkout .payment-form-container .radio-container .radio-cont-inner {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.checkout .payment-form-container .radio-container .checkmark::after {
  background-color: var(--color-dark);
  top: 6.5px;
  left: 1.5px;
  width: 17.5px;
  height: 17.5px;
}
.checkout .payment-form-container .radio-container input:checked ~ .checkmark {
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}
.checkout .payment-form-container .radio-container .pay-method-name {
  margin-top: 0;
}
.checkout .payment-form-container .payments-methods-cont,
.checkout .payment-form-container .section-cont {
  border-bottom-color: #D9D9D9;
}
.checkout .payment-form-container .section-heading {
  color: var(--color-dark);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.checkout .payment-form-container .card {
  border-color: transparent;
}
.checkout .payment-form-container .card-details-cont .section-heading {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.checkout .payment-form-container .form-group label,
.checkout .payment-form-container .card .card-body {
  line-height: 1.25rem;
}
.checkout .payment-form-container .checkbox-cont input:checked ~ .checkmark {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.checkout .payment-form-container .form-group label[for="sameBillShopAdd"] {
  padding-top: 0.25rem;
}
.checkout .payment-form-container .checkbox-cont .checkbox-note {
  margin-top: 0;
}
.checkout .payment-form-container .card.blue-light-bg {
  background-color: #F7F2EB;
  border-color: #F7F2EB;
}
.checkout .payment-form-container .form-group label[for="saveInfo"] {
  margin-bottom: 0.375rem;
}
.checkout .payment-form-container .form-control {
  border-color: #d9d9d9;
  color: var(--color-dark);
}
.checkout .payment-form-container .form-control::placeholder {
  color: #6d6d6d;
}
.checkout .payment-form-container select.form-control {
  height: 3.125rem;
}
.checkout .order-totals-container .promo-cont a {
  color: #212322;
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1875rem;
}
.custom-container.checkout .btn.btn-primary {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 1.25px;
}
.custom-container.checkout .btn.apply-btn,
.custom-container.checkout .btn.apply-btn:hover,
.custom-container.checkout .btn.apply-btn:focus {
   height: 3rem;
}
.custom-container.checkout .order-summary-cont .order-totals-container {
  background-color: #F7F2EB;
  color: var(--color-dark);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.custom-container.checkout .order-summary-container {
  padding-top: 0.125rem;
}
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details {
  color: var(--color-dark);
  line-height: 1.25rem;
}
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price {
  color: var(--color-dark);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.custom-container.checkout .order-totals-container .sub-total-holder {
  border-color: #d9d9d9;
}
.custom-container.checkout .order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 1.8125rem;
}
.custom-container.checkout .order-totals-container .total-holder {
  padding-top: 0.5rem;
}
.custom-container.checkout .order-totals-container .total-holder .order-total-item .total-desc,
.custom-container.checkout .order-totals-container .total-holder .total-price {
  color: var(--color-dark);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.checkout-copyright-cont {
  padding-top: 0.9375rem;
  padding-bottom: 0.875rem;
}
.checkout-copyright-cont,
.checkout-copyright-cont a {
  color: #212322;
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.01em;
}
.delivery-methods-cont .card {
  border: none;
  border-radius: 0.5rem;
  color: var(--color-dark);
}
.custom-container.checkout .delivery-methods-cont .card .card-body .card-row:not(:last-child) {
  border-color: #d9d9d9;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
  font-weight: 400;
}
.custom-container.checkout .delivery-methods-cont .card .card-body,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item,
.checkout .checkout-container.complete {
  line-height: 1.25rem;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .row-head {
  font-weight: 400;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
  color: var(--color-dark);
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 0.25rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
  align-items: center;
  border-color: #d1d1d1;
  padding-bottom: 0.75rem !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  background-color: #ededed;
  color: #6d6d6d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card-body .order-item {
  padding-top: 0.3125rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card-body .order-item {
  padding-bottom: 1.5rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  background-color: #F7F2EB;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  line-height: 1.25rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
  border-color: #d9d9d9;
  padding-bottom: 0.6875rem !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.custom-container.checkout .mat-form-field-flex {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow:  0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 4px;
    height: 50px;
    padding-top: 0.3125rem;
}
.custom-container.checkout .mat-form-field-label {
    color: var(--color-light);
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    line-height: 1.25rem;
    padding-top: 0.1875rem;
}
.custom-container.checkout .mat-form-field-label-wrapper {
    top: -1rem;
}
.custom-container.checkout .mat-form-field-underline {
    display: none;
}
.container.custom-container.checkout .row:first-child {
  margin-bottom: 0 !important;
}
.shipping-form-container .form-group.label-email {
  margin-bottom: 0.75rem;
}
app-stripe-auth .checkout h1.page-heading {
  //display: none;
}
.checkout .checkout-container.complete {
  color: var(--color-dark);
}
.checkout .checkout-container.complete .card.order-confirm-wrapper {
  border-color: #d9d9d9;
  border-radius: 0;
}
.checkout .checkout-container.complete .blue-light-bg {
  background-color: #fcfcfc;
}
.checkout-container.complete .card-header {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.checkout-container.complete .card-header img[alt="logo"] {
  width: auto;
  max-width: 156px;
}
.checkout-container.complete .col-12:first-child {
  //padding-top: 0 !important;
}
.checkout-container.complete .card.order-confirm-wrapper .breadcrumb-heading {
  color: var(--color-dark);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.05em;
}
.checkout .checkout-container.complete .section-cont {
  border-color: #d9d9d9;
}
.checkout .checkout-container.complete .order-data .order-column .col-heading {
  color: var(--color-light);
  font-weight: 400;
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details {
  padding-top: 0;
}
.checkout .checkout-container.complete .section-cont.total-cont {
  font-family: var(--third-font);
}
.checkout .checkout-container.complete .cart-data .vendor-items-holder {
  padding-bottom: 1.75rem;
}
.custom-container.checkout .checkout-container.complete .cart-data .vendor-items-holder:last-child {
  padding-bottom: 0;
}
.custom-container.checkout .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item {
  font-weight: 400;
  padding-bottom: 0;
}
.checkout .checkout-container.complete .cart-data .order-item .item-desc .item-name {
  color: var(--color-dark);
  font-family: var(--secondary-font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
  /*font-family: var(--third-font);
  font-size: 1rem;*/
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .attributes {
  color: #6d6d6d;
  font-family: var(--secondary-font);
  padding-top: 0.125rem;
}
.checkout .checkout-container.complete .cart-data .order-item .qty .no-items {
  /*display: block;
  font-family: var(--secondary-font);
  font-size: 1rem;
  line-height: 1.375rem;*/
}
.checkout .checkout-container.complete .cart-data .order-item .item-price {
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
.checkout .checkout-container.complete .order-confirm-outer {
  padding-top: 0 !important;
}
.checkout .checkout-container.complete .section-cont.customer-note {
  padding-bottom: 1.75rem !important;
}
.checkout .checkout-container.complete .total-cont,
.checkout .checkout-container.complete .total-cont .total-price {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
.checkout .checkout-container.complete a,
.checkout .checkout-container.complete .card-footer-right {
  color: #6d6d6d;
}
.checkout .checkout-container.complete .card-footer .home-btn-cont {
  padding-top: 1.75rem;
}
.checkout .checkout-container.complete .card-footer .home-btn {
  border-radius: 0.3125rem;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  min-width: 163px;
}
.user-wrapper .container.user-container .btn.add-address-btn,
.user-wrapper .container.user-container .btn.signout-btn,
.user-wrapper .container.user-container .btn.submit,
.container.custom-container .login-signup-tabs-cont form.login-form .btn.submit,
.container.custom-container form.signup-form .btn.submit {
  font-weight: 400;
}
.user-wrapper .user-heading.gift-card-heading {
  margin-top: 1rem
}
footer.footer {
  border-top-color: #e6e6e6;
  margin-top: 0;
  padding-top: 1.75rem;
}
.footer .footer-widget .widget-title {
  color: var(--primary-bg-color);
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.footer .footer-widget .widget-content {
  padding-top: 0.8125rem;
}
.footer .footer-widget .widget-content ul li {
  margin-bottom: 0.625rem;
}
.footer .footer-widget .widget-content ul li a {
  color: var(--color-dark);
  font-size: 0.75rem;
  line-height: 1rem;
}
.footer .footer-widget .widget-content .social-links li {
  width: auto;
}
.footer .footer-widget .widget-content .social-links li img {
  max-width: 1.25rem;
}
.footer .footer-widget .widget-content .social-links li:not(:last-child) {
  margin-right: 1.5625rem;
}
.footer .mobile-footer .list-group .list-group-item-action {
  color: var(--color-dark);
  text-transform: uppercase;
}
.footer .mobile-footer .list-group .list-group-holder:last-child {
  display: none;
}
.footer .mobile-footer .list-group .list-group-holder .collapsing {
  transition: none;
}
.footer .copyright-cont {
  padding-bottom: 1rem !important;
}
.footer .copyright-cont .powered-by div:not(.powered-link-cont),
.custom-container.checkout-footer {
  display: none;
}
.footer .copyright-cont .powered-by {
  justify-content: center;
}
.footer .copyright-cont .powered-by,
.footer .copyright-cont .powered-by a {
  color: var(--color-dark);
  font-size: 0.75rem;
  line-height: 1rem;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
  margin-right: 0.5rem;
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
  header.header .logo img {
    width: 150px;
  }
  .product-container .mob-btn-group {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .products-container .products-holder-main .products-holder {
    padding-top: 1.5rem !important;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 48.25%;
  }
  .product-detail-container .add-to-basket-cont {
    width: 100%;
  }
  .related-products .related-products-holder {
    justify-content: flex-start;
  }
  .custom-container.cart-container .vendor-items-holder .card-header .vendor-heading-holder {
    padding-right: 1rem;
  }
  .copyright-cont .pay-methods-avail {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 767.98px) {
  nav#sidebar {
    top: 85px;
    height: calc(100% - 85px);
  }
  .mob-overlay.top-0 {
    top: 86px;
  }
  header.header .logo img {
    width: 105px;
  }
  .mob-search-cont {
    padding-bottom: 0.625rem;
  }
  .home-slider .mob-custom-carosel {
    display: block !important;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 47.25%;
  }
  .product-detail-container .product-holder {
    padding-top: 0.625rem;
  }
  .cart-login-cont .login-cart-panel form.cart-login-form .form-submit-cont {
    border-bottom: none;
    margin-bottom: 0;
  }
  .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .item-atts-cont {
    text-align: left !important;
  }
  .shipping-form-container .form-group.label-email {
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  .shipping-form-container .form-group.label-email label {
    padding-left: 0;
    padding-bottom: 0.5rem;
  }
  .shipping-form-container .checkbox-cont .checkmark {
    position: relative;
  }
  .container.custom-container .login-signup-tabs-cont .panel-heading {
    margin-bottom: 1rem;
  }
  .custom-container .login-signup-tabs-cont form label {
    margin-bottom: 0.5rem;
  }
  .container.custom-container .login-signup-tabs-cont .form-group.mb-0,
  .container.custom-container .login-signup-tabs-cont .form-group.mb-1 {
    margin-bottom: 1rem !important;
  }
  .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    background-position-x: 37%;
  }
  .custom-container form.signup-form .btn.submit {
    background-position-x: 19%;
  }
  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-3 {
    flex-basis: 30%;
    max-width: 30%;
    padding-right: 1rem !important;
  }
  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-9 {
    flex-basis: 70%;
    max-width: 70%;
  }
}

@media (max-width: 575.98px) {
  .home-banner .banner-heading {
    top: 35%;
    width: 85%;
  }
  .promo-holder .promo-box .promo-content .promo-desc {
    padding-left: 0;
    padding-right: 0;
  }
  .cart-item.new .item-details .pro-badges-cont .pro-badge {
    font-size: 9px;
  }
  .custom-container.checkout .shipping-form-container .checkbox-cont .checkmark::after {
    top: 0.0625rem;
    left: 0.0625rem;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-img {
    margin-right: 0.5rem !important;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card-body .order-item-left {
    flex-basis: 70%;
    max-width: 70%;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card-body .order-item-right {
    flex-basis: 30%;
    max-width: 30%;
    text-align: right;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
    font-size: 0.75rem;
  }
  .checkout .payment-form-container .card.address-card .row-head {
    flex-basis: 30%;
    max-width: 30%;
  }
  .checkout .payment-form-container .card.address-card .row-head + .col-10 {
    flex-basis: 70%;
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .products-container .main-sidebar {
    padding-top: 0.75rem !important;
    padding-right: 1.625rem;
  }
  .product-detail-container .tab-content.preview-pic {
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 340px;
    max-height: 340px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 340px;
  }
  .custom-container.cart-container .cart-left-cont {
    flex-basis: 60%;
    max-width: 60%;
  }
  .custom-container.cart-container .cart-right-cont {
    flex-basis: 40%;
    max-width: 40%;
  }
}
@media (min-width: 992px) {
  header .spacing {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  header .row.spacing {
    align-items: flex-start;
  }
  header.header .shipping {
    padding-top: 77px;
  }
  header.header .logo {
    padding-top: 0.6875rem;
    padding-bottom: 2.125rem;
  }
  header.header .head-links {
    padding-top: 2.25rem;
    padding-bottom: 0.0625rem !important;
  }
  header.header .head-links li:last-child a {
    padding-right: 0;
  }
  header.header .search .search-item-form button img {
    margin-top: -0.125rem;
    max-width: 29px;
  }
  body[data-pagetype="home"] header.header .menu-holder {
    margin-bottom: 0;
  }
  body[data-pagetype="category"] header.header .menu-holder,
  body[data-pagetype="search_results"] header.header .menu-holder {
    margin-bottom: 1.875rem;
  }
  header.header .menu-holder {
    margin-bottom: 0.3125rem;
  }
  header.header .menu-holder>li:hover>div.empty {
    display: none;
  }
  .arrow-breadcrumbs {
    padding-top: 0.5rem;
  }
  .cart-container .arrow-breadcrumbs {
    margin-bottom: 0.3125rem;
  }
  .home-banner {
    margin-top: 0.1875rem;
  }
  .home-banner .banner-heading,
  .gift-section .gifts-content .gifts-heading {
    font-size: 2.5rem;
  }
  .gift-section .gifts-content .gifts-heading {
    margin: auto;
    max-width: 41%;
  }
  .home-banner .banner-heading {
    margin: auto;
    max-width: 50%;
  }
  body[data-pagetype="home"] .custom-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .home-slider.bestsellers-slider {
    margin-bottom: 0 !important;
  }
  .home-slider .section-title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 0.625rem;
  }
  .home-slider .section-title:empty {
      margin: 0;
  }
  .owl-theme .owl-nav {
      margin-top: 0 !important;
  }
  .home-banner + .home-slider .carousel-container {
    padding-bottom: 0;
  }
  .promo-section .section-title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 3.6875rem;
    margin-bottom: 2.5rem;
  }

  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    height: 52px;
    width: 380px;
  }
  .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    min-width: 188px;
  }
  app-product-listing .product-container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .products-container .products-holder-main .products-holder {
    padding-top: 0 !important;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 32.125%;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 244px;
    max-height: 244px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 244px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list {
    margin-bottom: 3rem;
  }
  .product-detail-container {
    padding-top: 2.0625rem;
  }
  .product-detail-container .product-holder {
    padding-top: 1.875rem !important;
    margin-bottom: 0 !important;
    padding-bottom: 1.375rem !important;
  }
  .product-detail-container .product-holder .product-order {
    margin-bottom: 3rem;
  }
  .product-detail-container .product-carousel-cont {
    flex-basis: 53.25%;
    max-width: 53.25%;
  }
  .product-detail-container .product-holder .product-inner {
    flex-basis: 46.75%;
    max-width: 46.75%;
    padding-left: 29px;
  }
  .related-products .related-products-holder .related-products-image {
    min-height: 288px;
    max-height: 288px;
  }
  app-product-detail app-related-products[title='Recently Viewed'] .custom-container {
    padding-bottom: 3.75rem;
  }
  app-cart .custom-container.cart-container {
    padding-top: 1.75rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  app-cart .custom-container.cart-container .breadcrumb-heading,
  app-cart .custom-container.cart-container .order-sum-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .custom-container.cart-container .cart-left-cont {
    padding-right: 7.5rem;
  }
  .cart-item.new .item-image-cont {
    min-width: 23.5%;
    max-width: 23.5%;
  }
  .cart-item.new .item-details-cont {
    max-width: 76.5%;
    min-width: 76.5%;
  }
  .container.custom-container.checkout {
    padding-top: 1.75rem !important;
    padding-bottom: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .custom-container.checkout .arrow-breadcrumbs {
    margin-bottom: 0.375rem;
  }
  .custom-container.checkout .shipping-form-container .left-panel {
    padding-right: 7.5rem;
  }
  .checkout-container.complete .card.order-confirm-wrapper {
    min-width: 798px;
  }
  .custom-container.checkout .payment-form-container .left-panel {
    padding-right: 129px;
  }
  .footer .custom-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer .custom-container .footer-widget:nth-child(1),
  .footer .custom-container .footer-widget:nth-child(2) {
    padding-right: 50px;
  }
  .footer .custom-container .footer-widget:nth-child(3) {
    flex-basis: 44%;
  }
  .footer .copyright-cont {
    margin-top: 90px;
  }
  .footer .copyright-cont div:first-child,
  .footer .copyright-cont .pay-methods-avail {
    padding-left: 0;
  }
  .footer .copyright-cont div:first-child {
    padding-right: 0;
  }
}
@media (min-width: 1200px){
  .promo-holder .promo-box .promo-content {
    max-width: 92%;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 310px;
    max-height: 310px;
  }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 310px;
  }
  .footer .custom-container .footer-widget:nth-child(3) {
    flex-basis: 61.875%;
  }
}
@media (min-width: 1280px) {
    body[data-pagetype='product'] .product-detail-container {
        max-width: 1280px;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    .related-products .custom-container .container {
        max-width: 1280px;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}
@media (min-width: 1400px){
    .home-banner .banner-heading {
        max-width: 33%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 353px;
        max-height: 353px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 353px;
    }
}
