:root{
  --primary-font: 'futura_pt';
  --primary-font-med: 'futura_ptmedium';
  --primary-font-bold: 'futura_ptbold';
  --primary-font-light: 'futura_ptlight';
  --secondary-font: 'Cormorant Garamond', serif;
  --color-white: #fff;
  --color-black: #000;
  --gold-brown: #AB974F;
  --gold-brown-2: #A89859;
}
html {
  overflow-x: hidden;
}
body {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-family: var(--secondary-font);
}
a,
a:hover,
a:focus  {
  color: var(--color-black);
  font-family: var(--primary-font);
  text-decoration: none;
}
p {
  color: var(--color-black);
  font-family: var(--primary-font);
}
.btn.btn-primary {
  font-family: var(--primary-font-light);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  height: auto;
  width: auto;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  border: 0.0625rem solid var(--gold-brown);
  background-color: var(--gold-brown);
  color: #fff;
  height: auto;
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active,
.btn.btn-primary:not(:disabled):not(.disabled):active {
  border: 0.0625rem solid var(--gold-brown);
  background-color: var(--color-white);
  color: var(--gold-brown) !important;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn.disabled,
.btn:disabled {
  pointer-events: none;
}
.modal-popup.alert-popup .modal-container .btns-cont .btn.btn-primary:hover,
.modal-popup.alert-popup .modal-container .btns-cont .btn.btn-primary:focus {
  color: var(--gold-brown) !important;
}
.default-breadcrumb li,
.default-breadcrumb li a {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
.default-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0;
  padding-right: 0;
}
.default-breadcrumb li.breadcrumb-item+.breadcrumb-item {
  //padding-left: 0;
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
  color: #9b9b9b;
  font-size: 1rem;
  line-height: 1.25rem;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
  color: var(--color-black);
}
.arrow-breadcrumbs li.processed a {
  color: #9b9b9b;
}
.arrow-breadcrumbs li.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 0;
}
.form-control {
  color: var(--color-black);
}
.form-control::placeholder {
  color: #b7b7b7;
}
nav#sidebar {
  top: 117px;
  height: calc(100% - 86px);
}
nav#sidebar ul.user-links li a {
  align-items: center;
}
nav#sidebar ul li a {
  position: relative;
}
nav#sidebar ul li .dropdown a[data-toggle="dropdown"]::after {
  content: '';
  top: 44%;
}
.mob-overlay {
  top: 119px;
}
body[data-pagetype='home'] header.header {
  margin-bottom: 0;
}
header.header .shipping li:first-child {
  display: none;
}
header.header .shipping li,
header.header .shipping li a {
  color: #313131;
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}
/*header.header .shipping li a.dropdown-toggle,*/
header .mob-top-links .dropdown-flag a.dropdown-toggle {
  pointer-events: none;
}
/*header.header .shipping li a.dropdown-toggle:after,*/
header .mob-top-links .dropdown-flag a.dropdown-toggle:after {
  display: none;
}
header.header .shipping li .dropdown .dropdown-menu:after {
  background-image: url('https://static.techsembly.com/eQpyNdEYdktMRUU5JpXEKnVk');
  left: 20%;
}

header .row.spacing .shipping li .dropdown .dropdown-menu.countries-dd {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
  border: none;
  left: 0 !important;
  margin-top: 2.5rem;
  -webkit-transform: translateX(10%) !important;
  transform: translateX(10%) !important;
  padding: 0;
  right: 0;
  min-width: auto;
  width: 75px;
}
header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont {
  background-color: #f5f5f5;
  border-radius: 0.125rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont div:not(:last-child) {
  margin-bottom: 0.875rem;
}

header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.16em;
  padding: 0.5625rem 1.6875rem;
}

header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a:hover,
header .row.spacing .shipping li .dropdown .dropdown-menu .countries-links-cont a:focus {
  background-color: #fff;
}

header.header .shipping li .dropdown .dropdown-menu .select-form,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences,
header.header .shipping li .dropdown .dropdown-menu .btn#update-preferences-header {
  display: none;
}
header.header .logo img {
  height: auto;
  width: 157px;
}
header.header .head-links {
  padding-top: 2.625rem;
  padding-bottom: 0.3125rem !important;
}
header.header .head-links li a {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
}
header.header .head-links li:last-child a {
  padding-right: 0;
}
header.header .head-links li a img {
  height: auto;
  max-width: 0.875rem;
}
header.header .head-links li a img[alt="wishlist"] {
  max-width: 1.1875rem;
}
header.header .head-links li .cart-qty {
  width: 1.0625rem;
  height: 1.0625rem;
  top: 1.4375rem;
  right: -0.5625rem;
  font-size: 0.625rem;
  padding-top: 0.125px;
  padding-left: 0.125rem;
}
header .mob-top-links .cart-qty {
  right: -0.125rem;
  padding-top: 0.125rem;
  padding-left: 0.0625rem;
}
header.header .nav.search .search-item-form {
  width: 16.5625rem;
}
header .mob-top-links li a.profile-icon,
header .mob-top-links li a.wishlist-heart {
  display: none !important;
}
.search .nav-search-field::placeholder,
.mobile-search-box .nav-search-field::placeholder {
  font-size: 0;
}
header.header .search .search-item-form .nav-search-field {
  height: 2.3125rem;
}
.mobile-search-box {
  padding-bottom: 0.5rem;
}
.mobile-search-box .nav-search-field {
  background-color: #ededed;
}
header.header .search .search-item-form button {
  padding-top: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
header.header .search .search-item-form .btn-search img {
  max-width: 22px;
  margin-top: -0.25rem;
}
.main-menu-wrapper {
  background-color: var(--primary-bg-color);
}
header.header .menu-holder li a.main-category {
  background-color: var(--primary-bg-color);
  border-bottom-color: var(--primary-bg-color);
  color: var(--color-white);
  font-size: 0.875rem;
  line-height: 1rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.5rem;
}
header.header .menu-holder>li:hover>div.empty {
  display: none;
}
.home-banner .banner-title {
  display: none;
}
.home-banner .banner-heading {
  font-family: var(--secondary-font);
  font-weight: 500;
}
.home-banner .banner-heading .sub-head {
  font-family: var(--primary-font-light);
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.25rem !important;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 0.5rem;
}
.home-slider .carousel-container {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-bottom: 0;
}
.home-slider .section-title,
.promo-section .section-title {
  text-transform: uppercase;
}
.home-slider .post-tile .post-link {
  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-transform: uppercase;
  width: 100%;
}
.home-intro-container {
  max-width: 100%;
}
.home-intro-container p {
  color: var(--color-black);
  font-family: var(--primary-font-light);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.625rem;
  margin-bottom: 0.75rem;
}
.home-point-cont .point-head {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.home-point-cont .btn.shop-link {
  /*font-family: var(--primary-font);
  font-weight: 500;*/
  height: 3.125rem;
  min-width: 180px;
  padding-top: 0.875rem;
}
.promo-section .container.custom-container,
.gift-section .container.custom-container {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  max-width: 100%;
}
.promo-section .section-title {
  margin-top: 0.25rem;
  margin-bottom: 2.125rem;
}
.promo-holder .promo-box:first-child {
  margin-right: 1.875rem;
}
.promo-box .banner-title,
.gift-section .banner-title {
  display: none;
}
.promo-holder .promo-box img,
.gift-section img {
  height: auto;
}
.promo-holder .promo-box .promo-content {
  top: auto;
  left: 1.5rem !important;
  bottom: 1.625rem;
}
.promo-box .promo-title,
.gift-section .gifts-heading {
  font-family: var(--secondary-font);
  font-weight: 500;
  text-transform: uppercase;
}
.promo-box .promo-head-desc {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 0.25rem;
}
.promo-holder .promo-box .promo-content .promo-desc,
.gift-section .gifts-content .gifts-desc {
  font-family: var(--primary-font-light);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-transform: uppercase;
  text-decoration: underline;
}
.gift-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.gift-section .gifts-content {
  top: auto;
  margin-left: 0;
  left: 2.375rem !important;
  bottom: 1.625rem;
}
.gift-section .gifts-content .gifts-desc {
  padding-top: 0.75rem;
}
.featured-client {
  display: none;
}
.insta-link-cont,
.sign-up-section {
  background-color: var(--secondary-bg-color);
  color: var(--color-white)
}
.sign-up-section p {
  color: var(--color-white);
}
.sign-up-section h2 {
  color: var(--color-white);
  font-family: var(--primary-font-light);
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 0.5rem;
  line-height: 1;
}
.sign-up-section .sign-up-container .signup-text {
  padding-bottom: 0.25rem;
}
.sign-up-section .sign-up-container .signup-text p {
  display: none;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
  font-family: var(--primary-font-light);
  font-size: 1rem;
  line-height: 1.25rem;
  margin-right: 0.625rem;
  height: 2.5rem;
  text-align: left;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
  font-style: normal;
  text-align: left;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
  background-color: var(--gold-brown-2);
  /*font-family: var(--primary-font);
  font-weight: 500;*/
  margin-bottom: 0;
  height: 2.5rem;
  min-width: 7.75rem;
  text-transform: uppercase;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary:hover,
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary:focus {
  border-color: var(--gold-brown-2);
  background-color: var(--color-white);
  color: var(--gold-brown-2);
}
/*Product Listing */
.custom-container.product-container {
  padding-top: 0.75rem;
}
.custom-container.product-container .product-select {
  margin-right: 0;
  padding-top: 0.5rem;
}
.custom-container.product-container .select-form label {
  font-size: 0.75rem;
  line-height: 1rem;
}
.custom-container.product-container .select-form .form-group select.form-control {
  background-position-x: 0.125rem;
  border: 0.920833px solid #666666;
  font-size: 0.75rem;
  height: 1.875rem;
  padding-left: 1.5rem;
  line-height: 1rem;
}
.product-select .form-group>select.form-control.relevance {
  max-width: 183px;
}
.custom-container.product-container .default-breadcrumb {
  margin-bottom: 0.75rem;
}
.custom-container.product-container .breadcrumb-heading {
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 450;
  line-height: 1.125rem;
  text-transform: capitalize;
}
.products-container #sidebar {
  padding-top: 0.875rem;
}
.sidebar-widget .result-text p {
  color: var(--color-black);
  font-family: var(--primary-font-med);
  font-size: 0.8125rem;
  font-weight: 450;
  line-height: 1.125rem;
  margin-bottom: 0.75rem;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
  background-image: url('https://static.techsembly.com/RXJZNkwhbUW5TSLE6ajBPkWt');
  background-size: 0.25rem;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0deg);
  width: 1.25rem;
  height: 1.25rem;
  top: 25.5%;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item.down:after {
  background-position: center;
  transform: rotate(90deg);
}
.sidebar-widget .list-group .list-group-holder>a {
  padding-left: 1.25rem;
  padding-top: 0.875rem;
}
.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder .widget-holder ul li a,
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.sidebar-widget .list-group .list-group-holder a h4 {
  margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul.product-categories.sub_categories {
  //list-style: disc;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li a {
  padding-left: 0;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
  align-items: center;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li .checkbox-holder input {
  margin-top: 0;
}
.sidebar-widget .ng5-slider .ng5-slider-bubble {
  color: var(--color-black);
  font-size: 0.875rem;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
  border-color: #666;
}
.products-container .products-holder-main .products-holder .product-column .product-list {
  margin-bottom: 2.8125rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
  height: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content {
  padding-top: 0.125rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link {
  display: none !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
  margin-bottom: 0.125rem;
  width: 90%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title .product-name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: capitalize;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
  width: 10%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
  display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
/*end Product  Listing */
/*product detail*/
.container.product-detail-container {
  padding-top: 0.625rem;
}
.container.product-detail-container .product-holder {
  padding-bottom: 0.5rem !important;
  margin-bottom: 0 !important;
}
.product-detail-container .product-holder .product-detail .product-info .made-by {
  display: none !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
  margin-bottom: 0.75rem;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.125rem;
}
.product-detail-container .product-holder .product-detail {
  height: auto;
  margin-bottom: auto !important;
}
.product-detail-container .product-holder .product-detail .shipping {
  display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs {
  border: none;
  background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border-bottom: 0.0625rem solid #d9d9d9;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  border-bottom: 0.125rem solid var(--gold-brown);
  background-color: transparent;
  padding-bottom: 0.5rem;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding: 0;
  padding-top: 2rem;
  text-align: justify;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane .detail-text {
  text-align: left;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane.no-desc-tab {
  padding-top: 0;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child .col-lg-2,
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child + br {
  display: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise .row:first-child .col-lg-10 {
  flex-basis: 100%;
  max-width: 100%;
}
.product-detail-container .product-holder .share-link {
  display: none !important;
}
.product-detail-container .personalise-form {
  padding-top: 0.5rem;
}
.product-detail-container .personalise-form .form-group label {
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.25rem;
}
.product-detail-container .personalise-form .form-group label .radio-holder,
.product-detail-container .personalise-form .form-group .checkbox-holder label {
  font-family: var(--primary-font);
  font-weight: 400;
}
.product-detail-container .personalise-form .form-group label .radio-holder {
  padding-right: 1rem !important;
}
.product-detail-container .personalise-form .form-group .multiselect-dropdown .dropdown-btn,
.product-detail-container .personalise-form .form-group .form-control {
  border-color: #666;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 0px 2px #F5F9FE;
  color: var(--color-black);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  height: auto;
}
.multiselect-dropdown .dropdown-btn {
  border-radius: 0.25rem !important;
  min-height: 3.3125rem;
  padding-top: 1.0625rem !important;
}
.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'] {
  padding: 1rem 1rem 1.0625rem 1rem;
}
.product-detail-container .personalise-form .form-group textarea {
  padding-left: 1rem;
  padding-right: 1rem;
}
.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'],
.product-detail-container .personalise-form .form-group select {
  height: auto;
  max-height: 3.3125rem;
}
.product-detail-container .personalise-form .form-group select.form-control {
  background-image: url('https://static.techsembly.com/z91CzW4fqFnXgvGSdsvoWU8s');
  background-position-x: 96%;
  background-size: 0.75rem;
  padding: 1rem 3.25rem 1.0625rem 1rem;
}
.product-detail-container .personalise-form .form-group .form-control::placeholder,
.product-detail-container .personalise-form .delivery-form .delivery-fields::placeholder {
  font-style: normal;
}
.product-detail-container .personalise-form .form-group input[type="checkbox"],
.product-detail-container .radio-holder input {
  margin-top: 0;
}
.product-detail-container .checkbox-holder .d-flex {
  align-items: center;
}
.product-detail-container .personalise-form .form-group:last-child,
.product-detail-container .personalise-form .form-group:last-child .radio-container {
  margin-bottom: 0;
}
.product-detail-container .personalise-form .form-group.add-basket {
  margin-top: 0.9375rem;
}
.product-detail-container .personalise-form .form-group .order-input {
  text-align: left;
  width: 15.5%;
}
.product-detail-container .personalise-form .form-group .order-btn {
  /*font-family: var(--primary-font); */
  height: 3.125rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  width: 84.5%;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
  border: 1px solid #666 !important;
  border-radius: 0.125rem !important;
  background-size: 0.3125rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
.product-detail-container .preview-thumbnail {
  margin-top: 0.9375rem;
}
.product-carousel-desktop .owl-nav button.owl-prev {
  background-image: url('https://static.techsembly.com/RtgUvv5GUmYEMxWiXnKYWDqW');
}
.product-carousel-desktop .owl-nav button.owl-next {
  background-image: url('https://static.techsembly.com/oZJSvcTEARSzkKq1ukHPBRfr');
}
app-related-products[title='Recently Viewed'],
app-related-products[title="vu récemment"] {
  display: none !important;
}
.related-products {
  border-top: none;
  padding-bottom: 2rem;
}
.related-products h3 {
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.related-products .related-products-holder .related-products-image {
  height: auto;
  margin-bottom: 0.75rem;
}
.related-products .related-products-holder .product-content .product-title {
  margin-bottom: 0.125rem;
  width: 100%;
}
.related-products .related-products-holder .product-content .product-title a {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.related-products .related-products-holder .product-content .product-rating,
.related-products .related-products-holder .product-content .product-title a.vendor-link {
  display: none !important;
}
.related-products .related-products-holder .product-content .product-pricing p {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.product-detail-container .product-holder .product-order .tab-content .btn.show-more {
  background-color: var(--gold-brown);
}
.product-detail-container .product-holder .product-order .tab-content .btn.show-more:hover,
.product-detail-container .product-holder .product-order .tab-content .btn.show-more:focus {
  background-color: var(--color-white);
}
/*end product detail*/
/*cart*/
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .address-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading,
.custom-container.checkout .left-panel .shipping-form-cont-inner .billing-heading,
.custom-container.checkout .delivery-methods-cont .billing-heading {
   color: var(--color-black);
   font-family: var(--secondary-font);
   font-size: 1.25rem;
   font-weight: 500;
   line-height: 1.5rem;
   text-transform: uppercase;
}
app-cart .custom-container.cart-container .breadcrumb-heading {
  margin-bottom: 1.25rem !important;
}
.custom-container.cart-container .cart-right-cont {
  padding-top: 0.125rem;
}
.custom-container.cart-container .vendor-items-cont .card,
.custom-container.cart-container .card.order-summary-cont,
.custom-container.checkout .card.order-summary-cont {
  border: none;
}
.custom-container.cart-container .card.order-summary-cont,
.custom-container.checkout .card.order-summary-cont,
.container.custom-container.cart-container .cart-login-cont {
  background-color: #fcfcfc;
}
.container.custom-container.cart-container .vendor-items-cont .card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
  border-bottom-color: #d9d9d9;
  padding-top: 1.4375rem !important;
  padding-bottom: 0.75rem;
}
.container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading,
.container.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading a {
  color: #9b9b9b;
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
}
.custom-container.cart-container .vendor-items-cont .card .card-body {
  padding-top: 1.625rem !important;
  padding-bottom: 0;
}
app-cart .cart-item.new {
  color: #9b9b9b;
  font-family: var(--primary-font);
  font-size: 0.875rem;
  line-height: 1rem;
  padding-bottom: 1.5rem;
}
app-cart .cart-item.new .col-label {
  font-size: 1rem;
  line-height: 1.25rem;
}
.cart-item.new .item-image-cont .item-img {
  border-radius: 0.1875rem;
  overflow: hidden;
}
.custom-container.cart-container .cart-item.new .item-details .item-name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.125rem;
}
.custom-container.cart-container .cart-item.new .pro-badges-cont .pro-badge {
  background-color: #ededed;
  color: #9b9b9b;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}
.custom-container.cart-container .cart-item.new .item-qty-cont {
  border-color: #d9d9d9;
  background-color: #fcfcfc;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec,
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc {
  background-color: #d9d9d9;
}
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
  color: var(--color-black);
  font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 450;
  line-height: 1rem;
}
.custom-container.cart-container .vendor-items-cont a.del-item-link,
.custom-container.cart-container .vendor-items-cont a.collapse-link {
  color: #9b9b9b;
  font-size: 0.75rem;
  line-height: 1rem;
}
.custom-container.cart-container .cart-item.new .item-details .unit-price {
  color: var(--color-black);
  font-size: 0.875rem;
  line-height: 1rem;
}
.cart-item .item-details .item-opts .quest-container {
  color: var(--color-black);
}
.custom-container.cart-container .cart-item.new .form-control {
  border-color: #9b9b9b;
  font-size: 0.75rem;
  line-height: 1rem;
}
.custom-container.cart-container .cart-item.new .form-control::placeholder {
  color: #b7b7b7;
  text-transform: uppercase;
}
app-cart .cart-item.new .gift-msg-area {
  padding-top: 0.75rem !important;
}
.cart-item.new .item-details .qty-col {
  padding-left: 0;
  padding-right: 0.5rem;
}
.cart-item.new textarea.form-control {
  max-height: 77px;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  border-bottom-color: #d9d9d9;
  padding-top: 1.375rem !important;
  padding-bottom: 0.5rem !important;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label,
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  color: var(--color-black);
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.25rem;
}
.container.custom-container.cart-container .card.order-summary-cont .card-body {
  color: #9b9b9b;
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.25rem;
}
.custom-container.cart-container .card.order-summary-cont .card-body-inner {
  font-size: 0.875rem;
  line-height: 1rem;
}
.container.custom-container.cart-container .cart-login-cont .login-note {
  padding-bottom: 2.5rem;
}
.container.custom-container.cart-container .cart-login-cont .panel-heading {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0;
  margin-bottom: 1.125rem;
  text-align: left;
}
.container.custom-container.cart-container .cart-login-cont form input.form-control {
  border-color: #d9d9d9;
  font-size: 1rem;
  line-height: 1.25rem;
  height: 3.5rem;
}
.container.custom-container.cart-container .cart-login-cont form input.form-control::placeholder {
  color: #b7b7b7;
}
.container.custom-container.cart-container form.cart-login-form .forget-psw-link {
  color: #9b9b9b;
  font-size: 0.875rem;
  line-height: 1rem;
  text-decoration: none;
}
.container.custom-container.cart-container form.cart-login-form .forget-pass-cont {
  margin-bottom: 0.75rem;
}
.container.custom-container.cart-container form.cart-login-form .form-submit-cont {
  border-top-color: #d9d9d9;
  border-bottom: none;
}
.container.custom-container.cart-container .cart-login-cont .btn {
  /*font-family: var(--primary-font);*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  height: 3.125rem;
}
.container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: var(--gold-brown);
  border-color: var(--gold-brown);
  border-radius: 0;
}
.container.custom-container.cart-container .cart-login-cont .btn.btn-primary:focus,
.container.custom-container.cart-container .cart-login-cont .btn.btn-primary:hover {
  background-color: transparent;
}
.container.custom-container.cart-container .checkout-note {
  font-size: 0.875rem;
  line-height: 1rem;
  padding-top: 1.4375rem;
}
.container.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 0.875rem !important;
}
.container.custom-container.cart-container .continue-btn-new {
  border-color: #9b9b9b;
  border-radius: 0;
  color: #9b9b9b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding-top: 0.875rem;
  height: 3.125rem;
  min-width: 220px;
}
.cart-container form.guestCheckout-form .btn.submit img {
  margin-top: -0.1875rem;
}
.cart-container .quantity-alert,
.cart-container .msg-alert {
  background-color: var(--gold-brown);
  border-color: var(--gold-brown);
  color: var(--color-white);
}
.modal-popup#delivery-options-popup .modal-title {
  color: var(--color-black);
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.modal-popup#delivery-options-popup .item-img-cont {
  flex: 1 0 50%;
  max-width: 50%;
}
.modal-popup#delivery-options-popup .modal-container,
.modal-popup#delivery-options-popup .radio-container {
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.25rem;
}
.modal-popup#delivery-options-popup .modal-footer .btn.btn-submit {
  background-color: var(--gold-brown);
  border-color: var(--gold-brown);
}
.modal-popup#delivery-options-popup .modal-footer .btn {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding-top: 0.4375rem;
  letter-spacing: 0;
}
.modal-popup#delivery-options-popup .modal-footer .btn.btn-submit:hover,
.modal-popup#delivery-options-popup .modal-footer .btn.btn-submit:focus {
  background-color: transparent;
  border-color: var(--gold-brown);
}
.modal-popup#delivery-options-popup .radio-container .checkmark {
  border-color: var(--color-black);
  position: relative;
}
.modal-popup#delivery-options-popup .radio-container input:checked ~ .checkmark,
.modal-popup#delivery-options-popup .radio-container .checkmark::after {
  background-color: var(--color-black);
}
.modal-popup#delivery-options-popup .pref-method-note {
  color: var(--color-black);
}
.modal-popup#delivery-options-popup .radio-container .checkmark::after {
  top:0;
  left: 0;
  height: 1.125rem;
  width: 1.125rem;
}
/*end cart*/
/*checkout*/
.custom-container.checkout .arrow-breadcrumbs {
  padding-top: 0.25rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper {
  border-bottom: none;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper a.edit-address {
  color: var(--color-black);
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.625rem;
}
.shipping-form-container .exist-address-wrapper .card a img[alt="edit"] {
  width: auto;
  max-width: 1.0625rem;
  margin-right: 0.9375rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card:not(:first-child) {
  margin-top: 0;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card:last-child {
  margin-bottom: 0 !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body {
  color: #9b9b9b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding-top: 1.0625rem !important;
  padding-bottom: 2rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-header,
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body,
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-footer {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-header {
  padding-top: 1.5625rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .customer-name {
  /*font-family: var(--primary-font-med);*/
  font-size: 1.25rem;
  /*font-weight: 450;*/
  line-height: 1.5rem;
  text-transform: capitalize;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body div:not(:empty):not(:last-child) {
  padding-bottom: 0.5rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-footer {
  padding-bottom: 1.5rem !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .btn.address-btn {
  border-radius: 0;
  height: 3.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper + .form-group {
  padding-top: 0 !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper + .form-group .address-heading {
  color: #9b9b9b;
  font-weight: 400;
  margin-top: 1rem !important;
  letter-spacing: 0.0625rem;
}
.custom-container.checkout .shipping-form-container .shipping-form-cont {
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
}
.custom-container.checkout .shipping-form-container .form-control {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}
.custom-container.checkout form .form-control::placeholder {
  font-family: var(--primary-font-light);
}
.custom-container.checkout .shipping-form-container input[type='text'],
.custom-container.checkout .shipping-form-container input[type='email'],
.custom-container.checkout .shipping-form-container input[type='password'],
.custom-container.checkout .payment-form-container input[type='text'],
.custom-container.checkout .payment-form-container input[type='email'],
.custom-container.checkout .payment-form-container input[type='password'] {
  border-color: #bcbcbc;
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.25rem;
}
.custom-container.checkout .shipping-form-container .checkbox-cont .checkmark {
  position: relative;
}
.custom-container.checkout .shipping-form-container .checkbox-cont .checkmark::after {
  top: 0.0625rem;
  left: 0.0625rem;
}
.custom-container.checkout .shipping-form-container .checkbox-cont input:checked ~ .checkmark {
  background-color: var(--gold-brown);
  border-color: var(--gold-brown);
}
.shipping-form-container .address-form.new {
  padding-bottom: 0.25rem;
}
.address-form.new select.form-control {
  background-image: url('https://static.techsembly.com/inHewRqRMg9sbEUnJQ54nzaR');
}
.custom-container.checkout .shipping-form-container .btn.btn-submit,
.custom-container.checkout .payment-form-container .btn.btn-submit {
  background-color: var(--gold-brown);
  border-color: var(--gold-brown);
  /*font-family: var(--primary-font);*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0;
  height: 3.125rem;
  padding-top: 0.4375rem;
  padding-left: 0.875rem !important;
  padding-right: 0.875rem !important;
  min-width: 220px;
}
.custom-container.checkout .shipping-form-container .btn.btn-submit:hover,
.custom-container.checkout .shipping-form-container .btn.btn-submit:focus {
  background-color: transparent;
}
.container.custom-container.checkout .btn#continue-to-delivery-and-billing,
.container.custom-container.checkout .payment-form-container .btn.btn-submit {
  min-width: 220px;
}
.custom-container.checkout-footer,
.custom-container.checkout-footer img[alt="securepaymentbadge"] {
  display: none;
}
.checkout-copyright-cont {
  background-color: var(--secondary-bg-color);
  color: var(--color-white);
  font-size: 1rem;
  line-height: 1.25rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.order-summary-cont .order-summary-container {
  padding-bottom: 3.25rem;
}
.checkout-container .card.order-summary-cont .card-header {
  padding-bottom: 1.125rem !important;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item {
  color: #9b9b9b;
  font-size: 1rem;
  line-height: 1.25rem;
}
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price,
.order-summary-cont .order-totals-container .sub-total-holder .sub-total-item .sub-price {
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.25rem;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont{
  display: none !important;
}
.order-summary-cont .order-totals-container {
  background-color: #e9e9e9;
  border-radius: 0 0 0.5rem 0.5rem;
  color: #9b9b9b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.order-summary-cont .order-totals-container .sub-total-holder {
  border-bottom-color: #d9d9d9;
}
.order-summary-cont .order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 1.8125rem;
}

.order-summary-cont .order-totals-container .total-holder {
  padding-top: 0.5625rem;
}
.order-totals-container .total-holder .order-total-item {
  color: var(--color-black);
  font-family: var(--primary-font-med);
  font-weight: 450;
}
.order-summary-cont .order-totals-container .total-holder .order-total-item .total-desc,
.order-summary-cont .order-totals-container .total-holder .total-price {
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.25rem;
}
.custom-container.checkout .delivery-methods-cont .card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.delivery-methods-cont .card .card-body .row-head {
  display: none;
}
.delivery-methods-cont .card .card-body .row-head + .col-8 {
  padding-left: 0;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .card-row:not(:last-child) {
  border-bottom-color: #d9d9d9;
  display: none !important;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .card-row {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
  color: #9b9b9b;
  font-family: var(--secondary-font);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  background-color: #f6f6f6;
  color: #9b9b9b;
  /*font-family: var(--primary-font-med);*/
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
  border-bottom-color: #d9d9d9;
  padding-top: 0.4375rem !important;
  padding-bottom: 0.75rem !important;
}
.custom-container.checkout .delivery-methods-cont .card .card-body {
  padding-top: 1.875rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.custom-container.checkout .delivery-methods-cont .card.contact-card .card-body {
  /*font-family: var(--primary-font-med);*/
  font-size: 1rem;
  /*font-weight: 500;*/
  line-height: 1.25rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-img {
  margin-right: 0.5625rem !important;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-name {
  color: var(--color-black);
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.25rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
  border-color: var(--color-black);
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
  background-color: var(--color-black);
}
.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
  margin-top: 0.0625rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
  background-color: #f6f6f6;
  margin-top: 0.125rem !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row {
  font-family: var(--primary-font-med);
  font-size: 1.25rem;
  font-weight: 450;
  line-height: 1.5rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:first-child {
  padding-top: 0;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.custom-container.checkout .payment-form-container {
  font-size: 1rem;
  line-height: 1.25rem;
}
.custom-container.checkout .payment-form-container .radio-container .checkmark {
  border-color: #383838;
  position: relative;
}
.custom-container.checkout .payment-form-container .radio-container .checkmark::after {
  background-color: #383838;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}
.custom-container.checkout .payment-form-container .radio-container input:checked ~ .checkmark {
  border-color: #383838;
  background-color: #383838;
}
.custom-container.checkout .payment-form-container .radio-container {
  color: #928980;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.custom-container.checkout .payment-form-container .radio-container .pay-method-name {
  margin-top: 0;
}
.custom-container.checkout .payment-form-container .payments-methods-cont,
.custom-container.checkout .payment-form-container .section-cont {
  border-bottom-color: #d9d9d9;
}
.custom-container.checkout .payment-form-container .card-details-cont {
  padding-top: 2rem !important;
}
.custom-container.checkout .payment-form-container .section-heading {
  color: #9b9b9b;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.custom-container.checkout .payment-form-container .card {
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.custom-container.checkout .payment-form-container .payments-methods-cont .card {
  border: 1px solid #bcbcbc;
  box-shadow: none;
}
.custom-container.checkout .payment-form-container .card.blue-light-bg {
  background-color: #f6f6f6;
}
.custom-container.checkout .payment-form-container .checkbox-cont .checkmark {
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
}
.custom-container.checkout .payment-form-container .checkbox-cont input:checked ~ .checkmark {
  background-color: var(--gold-brown);
  border-color: var(--gold-brown);
}
.custom-container.checkout .payment-form-container .checkbox-cont .checkmark::after {
  height: 20px;
  width: 20px;
}
.custom-container.checkout .payment-form-container .card .card-body,
.custom-container.checkout .payment-form-container .form-group label {
  font-size: 1rem;
  line-height: 1.25rem;
}
.custom-container.checkout .payment-form-container .card .card-body .row-head {
  padding-right: 0;
  font-weight: 400;
  flex-basis: 6%;
}
.custom-container.checkout .payment-form-container .checkbox-cont .checkbox-note {
  margin-top: 0;
}
.custom-container.checkout .payment-form-container .form-group .checkbox-cont {
  padding-top: 0.3125rem;
  padding-bottom: 0.6875rem;
}
.payment-form-container .input-cont {
  margin-top: 1rem;
}
.payment-form-container .password-note {
  color: #9b9b9b;
  font-size: 0.875rem;
  line-height: 1rem;
  padding-bottom: 0.125rem;
}
.custom-container.checkout .payment-form-container .enable-checkout-cont {
  padding-top: 0 !important;
}
.container.custom-container.checkout .payment-form-container .btn.btn-submit {
  margin-top: 1.5rem;
}
.payment-form-container .promo-cont .form-group {
  margin-bottom: 1.8125rem;
}
.custom-container.checkout .btn.btn-primary {
  background-color: var(--gold-brown);
  border-color: var(--gold-brown);
}
.custom-container.checkout .btn.btn-primary:hover,
.custom-container.checkout .btn.btn-primary:focus {
  background-color: transparent;
}
.order-summary-cont .order-totals-container .promo-cont a {
  color: #9b9b9b;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.custom-container.checkout .btn.apply-btn,
.custom-container.checkout .btn.apply-btn:hover,
.custom-container.checkout .btn.apply-btn:focus {
  height: 3.125rem;
}
/*end checkout*/
/*success*/
.checkout .checkout-container.complete {
  color: #9b9b9b;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.checkout .checkout-container.complete .order-confirm-outer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.checkout .checkout-container.complete .card.order-confirm-wrapper {
  border-color: #d9d9d9;
  border-radius: 0;
}
.container.checkout-container.complete .blue-light-bg {
  background-color: #fcfcfc;
}
.checkout .checkout-container.complete .order-confirm-top {
  padding-top: 3.125rem !important;
  padding-bottom: 3.125rem !important;
}
.checkout .checkout-container.complete .order-confirm-top img[alt="logo"] {
  width: auto;
  max-width: 125px;
}
.custom-container .checkout-container.complete .breadcrumb-heading {
  font-size: 1.25rem !important;
}
.checkout-container.complete .customer-note .updated-del-string {
  margin-top: 1.25rem;
}
.checkout-container.complete .customer-note {
  padding-top: 1.5625rem !important;
  padding-bottom: 1.5625rem !important;
}
.container.checkout-container.complete .section-cont {
  border-bottom-color: #d9d9d9;
}
.container.checkout-container.complete .order-data .order-column .col-heading {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.container.checkout-container.complete .order-data .order-column .col-desc {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.container.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details {
  padding-top: 0;
}
.container.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
  font-weight: 400;
}
.container.checkout-container.complete .cart-data .order-item .item-desc .item-name {
  color: var(--color-black);
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
  text-transform: uppercase;
}
.container.checkout-container.complete .cart-data .order-item .item-desc .item-brand {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.container.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .receipient-details {
  font-family: var(--secondary-font);
}
.container.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .receipient-details .receipient-name {
  display: none;
}
.container.checkout-container.complete .cart-data .order-item .item-price {
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.25rem;
}
.checkout-container.complete .shipping-data .shipping-row:not(:first-child) {
  padding-top: 1.25rem !important;
}
.custom-container.checkout-container.complete .section-cont.shipping-data {
  font-weight: 500;
}
.custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-3 {
  font-family: var(--secondary-font);
  font-weight: 400;
}
.checkout .checkout-container.complete .total-cont {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.checkout .checkout-container.complete .total-cont .total-price {
  font-family: var(--primary-font-med);
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.25rem;
}
.checkout-container.complete .msg-cont {
  padding-bottom: 1.125rem;
}
.checkout .checkout-container.complete .card-footer {
  padding-top: 1.25rem !important;
}
.checkout .checkout-container.complete .card-footer,
.checkout .checkout-container.complete .card-footer a {
  color: #9b9b9b;
  //font-family: var(--primary-font-med);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.checkout .checkout-container.complete .card-footer .home-btn-cont {
  padding-top: 1.3125rem;
}
.checkout .checkout-container.complete .card-footer .home-btn {
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*font-family: var(--primary-font);*/
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  height: 3.125rem;
  min-width: 220px;
}
/*end success*/
/*user pages*/
.breadcrumb-heading {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.custom-container .login-signup-tabs-cont {
  padding-bottom: 1.5rem;
}
.custom-container .login-signup-tabs-cont form .form-group:first-child {
  padding-bottom: 0.5rem;
}
.custom-container .login-signup-tabs-cont form .form-control {
  border-color: #d9d9d9;
}
.custom-container .login-signup-tabs-cont form .form-control::placeholder {
  font-style: normal;
}
.custom-container .login-signup-tabs-cont form input[type='text'],
.custom-container .login-signup-tabs-cont form input[type='email'],
.custom-container .login-signup-tabs-cont form input[type='password'] {
  height: 3.125rem;
}
.custom-container .login-signup-tabs-cont form label.remember {
  align-items: center;
}
.custom-container .login-signup-tabs-cont form label input[type="checkbox"] {
  margin-top: 0;
}
.custom-container.login-signup .form-group.password-note-cont label {
  font-size: 1rem !important;
}
.custom-container.login-signup .form-group label.newsletter-check {
  align-items: flex-start;
}
.custom-container.login-signup .form-group label.newsletter-check input[type="checkbox"] {
  margin-top: 0.0625rem;
}
.custom-container .login-signup-tabs-cont form.login-form .btn.submit,
.custom-container .login-signup-tabs-cont form .btn.submit {
  background-image: none;
  text-transform: uppercase;
}
.user-wrapper .container.user-container .user-details-holder {
  border-color: #d9d9d9;
}
.user-container form .form-control,
.user-wrapper .container.user-container .user-edit-holder form input[type='text'],
.user-wrapper .container.user-container .user-edit-holder form input[type='email'],
.user-wrapper .container.user-container .user-edit-holder form input[type='password'],
.user-wrapper .container.user-container .user-edit-holder form select {
  border-radius: 0;
  border-color: #d9d9d9;
  font-size: 1rem;
  line-height: 1.25rem;
  height: 3.125rem;
}
.user-wrapper .container.user-container .user-edit-holder form select {
  height: 3.125rem !important;
}
.user-wrapper .container.user-container form input.form-control::placeholder {
  font-style: normal;
}
.user-wrapper .user-container form .btn.submit,
.user-wrapper .user-container .btn.add-address-btn,
.user-wrapper .user-container .btn.signout-btn {
  font-weight: 400;
  text-transform: uppercase;
}
.user-container .user-heading,
.container.user-container a.wishlist-link {
  color: var(--color-black);
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.user-wrapper .container.user-container .addresses-holder {
  border-top-color: #d9d9d9;
}
.user-wrapper .container.user-container .addresses-holder .address-row,
.user-wrapper .user-container .orders-table-holder .orders-table thead th,
.user-wrapper .user-container .orders-table-holder .orders-table tbody td {
  border-bottom-color: #d9d9d9;
}
.custom-container.wishlist-container .products-container .products-holder {
  justify-content: space-between;
}
.custom-container.wishlist-container .products-container .products-holder .product-column {
  margin: 0;
}
.custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image {
  height: auto;
}
.custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-name {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.vendor-link {
  display: none !important;
}
.user-wrapper .user-container .order-billing-table-holder .holder-creds-heading {
  font-family: var(--secondary-font);
  text-transform: uppercase;
}
.user-wrapper .container.user-container .order-items-holder .order-items-head {
  font-family: var(--secondary-font);
  text-transform: uppercase;
}
.user-wrapper .user-container .order-items-details .order-item {
  flex-wrap: wrap;
}
.user-wrapper .user-container .order-items-details .order-item .order-img-holder {
  margin-bottom: 1rem;
}
.user-wrapper .user-container .order-items-details .order-item .vendor-link {
  display: none !important;
}
.user-wrapper .container.user-container .order-items-details .order-item .order-item-bottom {
  display: none;
}
.user-wrapper .container.user-container .order-items-details .order-item,
.user-wrapper .container.user-container .order-items-totals {
  border-color: #d9d9d9;
}
/*end user pages*/
footer.footer {
  background-color: var(--secondary-bg-color);
  border-top: none;
  margin-top: 0;
}
.footer .mobile-footer .list-group .list-group-holder:first-child {
  border-top: none;
}
.footer .mobile-footer .list-group .list-group-holder>a,
.footer .mobile-footer .list-group .list-group-holder .BorderBottom {
  display: none;
}
.footer .mobile-footer .list-group-item-action + .filter-content {
  display: block !important;
}
.footer .mobile-footer .list-group-item,
.footer .mobile-footer .list-group .list-group-holder>a:hover {
  background-color: var(--secondary-bg-color);
}
.footer .footer-widgets-cont {
  align-items: center;
  flex-flow: column;
}
.footer .footer-widgets-cont .footer-widget:first-child {
  padding-bottom: 1.75rem;
}
.footer .footer-widgets-cont .footer-widget:nth-last-child(2)::after,
.footer .mobile-footer .list-group .list-group-holder:nth-last-child(2)::after {
  content: url('https://static.techsembly.com/WTr1jkai8vLZdBAbon63m89u');
}
.footer .footer-widgets-cont .footer-widget:last-child,
.footer .mobile-footer .list-group .list-group-holder:last-child {
  padding-top: 0.4375rem;
}
.footer .mobile-footer .list-group .list-group-holder {
  text-align: center;
}
.footer .footer-widgets-cont .widget-content,
.footer .mobile-footer .footer-widget {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .footer-widgets-cont ul,
.footer .mobile-footer .footer-widget ul {
  display: flex;
}
.footer .footer-widgets-cont .footer-widget .widget-content ul li {
  margin-right: 0;
}
.footer .footer-widgets-cont ul:not(:last-child)::after,
.footer .mobile-footer .footer-widget ul:not(:last-child)::after {
  content: '-';
  color: #5f5f5f;
  margin: auto 0.3125rem;
}
.footer .footer-widget ul li a {
  color: #5f5f5f;
  font-size: 1.125rem;
  line-height: 1rem;
}
.footer .copyright-cont {
  padding-bottom: 1.375rem !important;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
  margin-right: 0.4375rem;
  display: none;
}
.footer .copyright-cont .pay-methods-avail .meth-link img {
  max-width: 3rem;
}
.footer .powered-by div:first-child {
  display: none;
}
.footer .powered-by {
  padding-top: 0.375rem;
}
.footer .powered-link-cont span a,
.footer .powered-link-cont span {
  color: #5f5f5f;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1rem;
  text-align: center;
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
  header.header .logo {
    padding-top: 3rem;
  }
  header .mob-top-links li a img {
    max-width: 1.1875rem;
  }
  header .mob-top-links .dropdown-flag {
    display: none;
  }
  .home-banner .banner-heading {
    width: auto;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 48%;
  }
  .custom-container.cart-container .cart-item.new .item-details .unit-attributes-cont {
    flex-wrap: wrap;
  }
  .custom-container.cart-container .vendor-items-cont a img[alt="edit"] {
    min-width: 0.9375rem;
  }
  .custom-container.checkout .shipping-form-container .shipping-form-cont {
    margin-bottom: 2rem;
  }
  .wishlist-container .products-container .products-holder .product-column,
  .wishlist-container .products-container .products-holder i[aria-hidden="true"] {
    width: 48%;
  }
}

@media (max-width: 767.98px) {
  header.header .logo {
    padding-top: 1.75rem;
  }
  header .mob-top-links .add-to-basket .dropdown-menu.dropdown-menu-right {
    transform: translate3d(-260px, 12px, 0px) !important;
  }
  header .mob-top-links .add-to-basket .dropdown-menu:after {
    background-size: 1.5rem;
    top: -0.5625rem;
    width: 1.5rem;
  }
  nav#sidebar {
    top: 86px;
    height: calc(100% - 86px);
  }
  .mob-overlay {
    top: 88px;
  }
  .home-slider .mob-custom-carosel {
    display: block !important;
  }
  .home-slider .post-tile .post-link {
    text-align: center;
  }
  .gift-section {
    display: block !important;
    padding-top: 0;
  }
  .promo-box .promo-title,
  .gift-section .gifts-heading {
    font-size: 1.5rem;
  }
  .sign-up-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -1px;
    margin-bottom: -1px;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    margin: 0;
    width: 47%;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
    margin-top: 0.3125rem;
    height: auto;
  }
  .custom-container.cart-container .cart-item.new .pro-badges-cont .pro-badge {
    width: max-content;
  }
  app-cart .cart-item.new .gift-msg-cont {
    padding-left: 0;
    padding-right: 0;
  }
  .container.custom-container.cart-container form.cart-login-form .form-submit-cont {
    margin-bottom: 0;
  }
  .shipping-form-container .checkbox-cont .checkmark {
    min-width: 1.0625rem;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
    max-width: 50%;
    margin-bottom: 0 !important;
  }
  .checkout .payment-form-container .card.address-card .card-body .row-head {
    flex-basis: 20%;
    max-width: 20%;
  }

  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-3 {
    flex-basis: 30%;
    max-width: 30%;
    padding-right: 1rem !important;
  }
  .custom-container.checkout-container.complete .section-cont.shipping-data .shipping-row div.col-md-9 {
    flex-basis: 70%;
    max-width: 70%;
  }
  .custom-container .login-signup-tabs-cont .panel-heading {
    margin-bottom: 1rem;
  }
  .custom-container .login-signup-tabs-cont form .form-group:first-child {
    padding-bottom: 1.25rem;
  }
  .custom-container .login-signup-tabs-cont .new-cust-note {
    display: none !important;
  }
  .custom-container .login-signup-tabs-cont form label.remember {
    margin-bottom: 0.625rem;
  }
  .wishlist-container .products-container .products-holder .product-column,
  .wishlist-container .products-container .products-holder i[aria-hidden="true"] {
    width: 45%;
  }
}

@media (max-width: 575.98px) {
  header.header .logo {
    //padding-top: 0.1875rem;
  }
  header .mob-top-links li a.cart-bag img {
    max-width: 0.75rem;
  }
  .home-banner .banner-heading {
    width: 100%;
  }
  .promo-holder .promo-box .promo-content .promo-desc {
    padding-left: 0;
  }
  .gift-section .gifts-content {
    top: 12%;
  }
  .shipping-form-container .form-group.label-email {
    flex-wrap: wrap;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
    margin-bottom: 0.5rem;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item-left {
    flex-basis: 60%;
    max-width: 60%;
    overflow-wrap: anywhere;
    padding-right: 0;
  }
  .custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item-right {
    flex-basis: 40%;
    max-width: 40%;
    overflow-wrap: anywhere;
  }
}

@media (min-width: 768px) {
  .product-detail-container .tab-content.preview-pic {
    height: auto;
    max-height: 635px;
  }
  .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item .order-item-left {
    flex-basis: 56%;
    max-width: 56%;
  }
  .checkout-container.complete .vendor-items-holder .vendor-order-details .order-item .order-item-right {
    flex-basis: 44%;
    max-width: 44%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .container.custom-container.cart-container .cart-login-cont .btn {
    font-size: 0.875rem;
  }
}
@media (min-width: 992px) {
  header .row.spacing {
    align-items: flex-start;
  }
  header .spacing {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
  }
  header.header .shipping {
    align-items: center;
    padding-top: 5rem;
  }
  header.header .logo {
    padding-top: 4.875rem;
    padding-bottom: 4.8125rem;
  }
  .home-banner .banner-heading {
    top: 40.5%;
    font-size: 2rem;
    line-height: 2.75rem;
  }
  .home-slider .section-title {
    font-size: 1.75rem;
    line-height: 2rem;
    margin-top: 3.625rem;
    margin-bottom: 0.5rem;
  }
  .promo-section .section-title {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  .home-slider .post-tile .post-link {
    margin-top: 1.5rem;
    padding-bottom: 0;
  }
  .promo-box .promo-title,
  .gift-section .gifts-heading {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .gift-section .gifts-heading {
    line-height: 1.5rem;
  }
  .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    width: 15.625rem;
  }
  /*product listing*/
  .custom-container.product-container {
    padding-left: 1.625rem;
    padding-right: 1.625rem;
  }
  .products-container .products-holder-main .products-holder {
    justify-content: space-between;
    padding-top: 0 !important;
  }
  .products-container .products-holder-main {
    padding-top: 0.375rem !important;
    width: 78.65%;
  }
  .products-container .products-holder-main .products-holder .product-column {
    margin: 0;
  }
  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 32%;
  }
  /*.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 250px;
    max-height: 250px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 250px;
  }*/
  /*end product listing*/
  /*product detail*/
  .container.product-detail-container .product-holder {
    padding-top: 1.625rem !important;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.625rem;
    width: 90%;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
    width: 10%;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
    width: auto;
    height: auto;
    max-width: 27px;
  }
  .product-detail-container .product-holder .product-detail .product-info .product-pricing {
    padding-top: 0;
  }
  .product-detail-container .product-carousel-cont {
    flex-basis: 53.45%;
    max-width: 53.45%;
  }
  .product-detail-container .product-holder .product-inner {
    flex-basis: 46.55%;
    max-width: 46.55%;
    padding-left: 1.5625rem;
  }
  .related-products .related-products-holder .rel-product-col {
    width: 25%;
    margin-right: 1.3125rem;
  }
  /*end product detail*/
  /*cart*/
  .container.custom-container.cart-container {
    padding-top: 0.5rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .custom-container.cart-container .cart-left-cont {
    padding-right: 7.8125rem;
  }
  .cart-item.new .item-image-cont {
    min-width: 27%;
    max-width: 27%;
  }
  .cart-item.new .item-details-cont {
    max-width: 73%;
    min-width: 73%;
  }
  app-cart .cart-item.new .gift-msg-cont {
    padding-left: 0;
    max-width: 50%;
  }
  /*end cart*/
  /*checkout*/
  .container.custom-container.checkout {
    padding-top: 0.625rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  .custom-container.checkout .shipping-form-container .left-panel {
    padding-right: 3.4375rem;
    flex-basis: 61.5%;
    max-width: 61.5%;
  }
  .custom-container.checkout .shipping-form-container .right-panel {
    flex-basis: 38.5%;
    max-width: 38.5%;
  }
  .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label.info-text {
    flex-basis: 20%;
    max-width: 20%;
  }
  /*end checkout*/
  /*success*/
  .checkout-container.complete .card.order-confirm-wrapper {
    min-width: 798px;
  }
  /*end success*/
  /*user pages */
  .custom-container .login-signup-tabs-cont .left-panel {
    padding-bottom: 0;
  }
  .custom-container .login-signup-tabs-cont form.login-form .form-group:last-child {
    padding-top: 1.75rem;
    margin-bottom: 0;
  }
  .custom-container .login-signup-tabs-cont form.signup-form .form-group:last-child {
    margin-bottom: 0;
  }
  .custom-container.wishlist-container .products-container .products-holder .product-column,
  .custom-container.wishlist-container .products-container .products-holder i[aria-hidden="true"] {
    width: 32%;
  }
  .custom-container.wishlist-container .products-container .products-holder .product-column .product-list .product-image {
    max-height: 295px;
  }
  /*end user pages*/
  footer.footer {
    padding-top: 5.4375rem;
  }
  .footer .copyright-cont {
    margin-top: 3.375rem;
  }
}
@media (min-width: 1200px){
  header.header .head-links li .add-to-basket .dropdown-menu:after {
    right: 0.3125rem;
  }
  .cart-item.new .item-image-cont {
    min-width: 23%;
    max-width: 23%;
  }
  .cart-item.new .item-details-cont {
    max-width: 77%;
    min-width: 77%;
  }
}
@media (min-width: 1280px){
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 309px;
    max-height: 309px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 309px;
  }
  body[data-pagetype='product'] .product-detail-container,
  .related-products .custom-container .container {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .custom-container.wishlist-container .products-container .wishlist-header {
    margin: 0;
  }
}
@media (min-width: 1400px){
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 349px;
    max-height: 349px;
  }
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 349px;
  }
   .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label.info-text {
    flex-basis: 16%;
    max-width: 16%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before {
    //padding-right: 0;
  }
}
@-moz-document url-prefix() {
  .product-detail-container .personalise-form .form-group .checkbox-holder label input {
    margin-top: 0 !important;
  }
}
@media not all and (min-resolution:.001dpcm){
  @supports (-webkit-appearance:none) {
    header.header .head-links li .cart-qty {
      padding-top: 0.75px;
    }
    .sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
      transform: rotate(0deg);
      top: 27%;
      background-position-y: center;
    }
    .product-detail-container .personalise-form .form-group label .radio-holder {
      align-items: center;
    }
  }
}
