<div class="col-12 home-point-cont d-flex align-items-center flex-wrap">
  <div class="col-12 col-lg-6 text-center home-point-left px-0">
    <a href="#" class="img-link">
      <img src="https://static.techsembly.com/xRJv8Gof2Vb7BifPWcHcBsxZ" width="595" class="w-100" alt="img"/>
    </a>
  </div>
  <div class="col-12 col-lg-6 home-point-right px-0 pr-lg-3 pl-lg-4 pb-4 pb-lg-0">
   <div class="col-12 px-lg-3 point-desc-cont">
    <div class="point-desc-cont-inner text-center text-lg-left">
      <h2 class="point-head">LE CADEAU D'EXPÉRIENCES</h2>
      <p>Offrez à quelqu'un que vous aimez une expérience Airelles inspirante. Avec notre carte-cadeau Airelles, le destinataire peut profiter de soins de bien-être, d'un repas ou d'un séjour dans l'un de nos hôtels et villégiature
 dans le monde entier.</p>
      <br>
      <a href="https://airelles-fr.techsembly.com/giftcards" class="btn btn-primary shop-link">CRÉEZ-EN UN MAINTENANT</a>
    </div>
   </div>
  </div>
</div>
