:root{
	--primary-font: Suranna;
	--secondary-font: Roboto;
}
p {
    font-weight: 300;
}
.featured-client {
	display:none;
}
.footer {
	margin-top:5rem;
}
.sign-up-section {
	background-color: #282828;
}
.sign-up-container h2 {
	color:#FFF;
}
.sign-up-section p {
	color: #FFF;
}
header.header .search .search-item-form button {
	background-color:#000;
}
header.header .menu-holder>li:hover>a, header.header .menu-holder .nav-column h3 {
	border-bottom-color: #000;
}
.home-intro-container{
	margin:50px auto 50px auto;
}
.footer .footer-widget .widget-content ul li a h6 {
	height: 16px;
	font-family: var(--secondary-font);
	font-size: 14px;
	color: #333333;
	margin-top:15px
}
.post-link {
	font-family: var(--secondary-font);
	font-size: 18px;
}
.home-carousel .post-link {
        color: #000;
        font-size: 14px;
}
.home-banner .banner-heading{
	font-family: var(--primary-font);
}
.home-slider .section-title,
.home-intro h2,
.sign-up-container h2,
.related-products h3,
.related-products h3 a {
        font-family: var(--primary-font);
        font-size: 1.25rem;
}
.home-slider .section-title,
.home-intro h2 {
        color: #000;
}
.home-slider .post-tile .post-tile-link {
    color: #000;
    font-family: var(--secondary-font);
    justify-content: flex-start !important;
    text-align: center;
}
.home-slider .post-tile div[class*="line-"] {
    font-weight: 300;
}
.home-slider .post-tile div[class*="mob-line-"] {
    font-size: 0.75rem;
}
header.header .menu-holder .nav-column.nav-image .menu-image .image-text a{
	font-family: var(--secondary-font);
}
.product-title h3, .vendor-link, a.vendor-link:hover, .made-by, .nav-tabs .nav-link h4, .zain {
	font-family: var(--secondary-font);
}
.nav-tabs .nav-link h4 {
	color:#333;
}
button, .btn, .btn-primary {
   font-family: var(--secondary-font);
   font-weight: 300;
}
.btn.btn-primary:hover, .btn.btn-primary:not(:disabled):not(:disabled):active {
	background-color: #333333;
}
.custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link .step.active {
	background-color: #9e9e9e;
}
.product-detail .shipping{
	display:none;
}
.product-detail .price {
	font-size: 1.35rem;
}
h2.made-by {
	font-size: 1rem;
}
.product-detail-container .personalise-form .form-group label {
	color:#000;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
        color: #000;
        font-family: var(--secondary-font);
        font-size: 1.25rem;
}
.product-detail-container .product-holder .product-detail .product-info .made-by,
.product-detail-container .product-holder .product-detail .product-info .made-by a {
        color: #000;
        font-family: var(--secondary-font);
        font-size: 1rem;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
       letter-spacing: 0;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price {
       color: #000;
       font-size: 1.25rem;
       font-weight: 400;
}
.order-btn {
	text-transform:uppercase;
}
.product-detail-container .tab-content.preview-pic .tab-pane img {
	width:auto;
	max-width:100%
}
.product-detail-container .product-holder .product-order .tab-content .detail-text {
     color: #000;
     font-family: var(--secondary-font);
     font-size: 1rem;
}
.product-detail-container .product-holder .product-order .tab-content .detail-text p,
.product-detail-container .product-holder .product-order .tab-content .delivery-text,
.product-detail-container .product-holder .product-order .tab-content .delivery-text p,
.product-detail-container .product-holder .product-order .tab-content .tab-pane#askseller .partners-note p {
    font-weight: 400;
}
.product-detail-container .product-holder .product-order .tab-content .btn.show-more {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 0.875rem;
    text-transform: uppercase;
}
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary {
     font-size: 0.875rem;
     font-weight: 300;
     text-transform: uppercase;
}
.mobile-nav .btn-transparent {
	padding: 0.25rem;
	font-family: var(--primary-font);
	font-size:14px
}
.products-container .products-holder .product-column .product-list .product-image {
	height:auto;
	max-height:462px
}
.product-detail-container .preview-thumbnail li {
	max-height:190px
}
@media (min-width: 768px) {
	.product-detail-container .tab-content.preview-pic {
		height:auto;
		max-height:615px
   }
}
.promo-title{
	display:none;
}
.breadcrumb-item,
.breadcrumb-item a {
    color: #333;
    font-family: var(--secondary-font);
	font-size: 0.875rem
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
	height:auto;
}
.products-container .products-holder-main .load-more-btn {
    text-transform: uppercase;
}
.product-detail-container .personalise-form .variant-container .variant .option-container .customcheck input[type="radio"]:checked+.checkmark {
	border-color:#000
}
.dropdown-toggle{
	display:none;
}
.personalise div {
	font-family:var(--secondary-font);
	font-size:1rem;
}
.personalise div p {
    font-weight:400;
}
.product-detail-container .product-holder .personalise .row:first-child {
   color: #000;
}
.product-detail-container .personalise-form .variant-container .option-label + span,
.personalise .variant.Size a {
   color: #000;
   font-family: var(--secondary-font);
   font-size: 1rem;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
   color: #999;
   font-family: var(--secondary-font);
   font-size: 0.875rem;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary, .footer-widget .select-form .btn.btn-primary{
   text-transform: uppercase;
}
 .sidebar-widget .list-group .list-group-holder .widget-holder ul li a,
 .sidebar-widget .list-group .list-group-holder .widget-holder ul li label,
 .sidebar-widget .list-group .list-group-holder .widget-holder ul li span {
   font-family: var(--secondary-font);
   font-size: 1rem;
   color: #000;
 }
.sidebar-widget .result-text p {
   color: #000;
 }
.product-select .form-group.sort-cont label,
.product-select .form-group > select.form-control.relevance {
   font-family: var(--secondary-font);
   color: #000;
 }
 .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
   font-family: var(--secondary-font);
   font-size: 0.875rem;
   font-weight: 400;
   color: #000;
 }
 .product-detail-container .product-holder .product-order .tab-content .askseller-form .form-group label,
 .product-detail-container .product-holder .product-order .tab-content .askseller-form .form-group .form-control {
   color: #000;
   font-family: var(--secondary-font);
   font-size: 1rem;
 }
 .related-products .related-products-holder .product-content .product-title a ,
 .related-products .related-products-holder .product-content .product-pricing p {
   font-family: var(--secondary-font);
   font-size: 0.875rem;
   font-weight: 400;
   color: #000;
   text-transform: uppercase;
 }
.related-products .related-products-holder .product-content .product-title a.vendor-link  {
     font-family: var(--secondary-font);
     font-size: 0.75rem;
     color: #000;
     text-transform: none;
 }
 .related-products h3 a.vendor-link {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    color: #000;
 }
.vendor-micro-cont .vendor-banner {
  max-width: 1140px;
  margin: auto;
}
.vendor-micro-cont .container.vendor-contact-form-cont {

}
.vendor-micro-cont .container.vendor-contact-form-cont .vendor-form-inner {
    background-color: #ededed;
    color: #333;
    font-family: var(--secondary-font);
    text-align: left;
    padding: 24px 27px 16px;
    margin-top: 1.325rem;
}
.vendor-micro-cont .container.vendor-contact-form-cont form .form-control {
    border-color: #ededed;
    color: #000;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}
.vendor-micro-cont .container.vendor-contact-form-cont form button[type="submit"] {
    height: 49px;
    text-transform: uppercase;
    width: 251px;
}
.vendor-micro-cont .container.vendor-contact-form-cont .vendor-form-inner .partners-note {
    color: #333333;
    padding-top: 1.65rem;
}
.vendor-menu li a {
    font-weight: 300;
}
.vendor-menu li a.btn.btn-reverse {
    border-color: #000;
    color: #000;
}
.vendor-menu li a.btn.btn-reverse:not(:disabled):not(:disabled):active,
.vendor-menu li a.btn.btn-reverse:focus,
.vendor-menu li a.btn.btn-reverse:hover {
    background-color: #000;
    color: #fff;
}
.vendor-micro-cont .vendor-heading a,
.vendor-micro-cont h2.vendor-heading {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    color: #000;
 }
.vendor-micro-cont h2.vendor-heading b {
    font-weight: 500;
}
.vendor-micro-cont .vendor-point-cont ,
.vendor-micro-cont .vendor-point-cont p,
.vendor-micro-cont a.vendor-rel-link {
     font-family: var(--secondary-font);
     font-size: 1rem;
     line-height: 1.5rem;
     color: #000;
  }
  app-cart .custom-container.cart-container .breadcrumb-heading,
  app-cart .custom-container.cart-container .order-sum-heading,
  .payment-form-container .breadcrumb-heading,
  .payment-form-container .order-sum-heading,
  .payment-form-container .address-heading,
  .custom-container.cart-container .col-label {
      color: #000;
      font-family: var(--secondary-font);
  }
 .custom-container.cart-container .continue-btn,
 .custom-container.cart-container .checkout-btn,
 app-cart .custom-container.cart-container .continue-btn-new {
     font-family: var(--secondary-font);
     font-size: 0.875rem;
     font-weight: 300;
     text-transform: uppercase;
 }
 app-cart .custom-container.cart-container .continue-btn-new {
     padding-top: 1.125rem;
 }
 .custom-container.cart-container .vendor-heading .vendor-name {
    color: #000;
    font-family: var(--secondary-font);
    font-size: 1.125rem;
 }
 .cart-container .vendor-items-holder .item-details .details-header {
    color: #000;
    font-family: var(--secondary-font);
 }
 .cart-item .item-details .details-desc div[class^="col-"] div {
    color: #333;
    font-family: var(--secondary-font);
 }
 .cart-container .cart-item .item-details .details-desc .item-desc,
 .cart-container .cart-item .item-details .item-name {
   color: #333;
   font-family: var(--secondary-font);
   font-size: 1rem;
 }
.cart-container .cart-item .item-details  .item-actions a {
    color: #000;
}
.cart-container .cart-item .item-details .item-opts {
    color: #333;
    font-size: 1rem;
}
.cart-container .personalize-row .item-opts .collapse-link {
    color: #333;
    font-family: var(--secondary-font);
    font-size: 1rem;
    text-transform: capitalize;
}
.cart-container .personalize-row .item-opts .collapse-link:hover,
.cart-container .cart-item.mob .collapse-link:hover {
    text-decoration: none;
}
.cart-container .personalize-row .item-opts .collapse-link:hover span,
.cart-container .cart-item.mob .collapse-link:hover span {
    text-decoration: underline;
}
.cart-container .cart-item.mob .collapse-link {
    color: #333;
    font-family: var(--secondary-font);
    font-size: 1rem;
    text-transform: capitalize;
}
.cart-container .cart-item.mob .mob-sub-total-cont {
    font-size: 1rem;
}
.cart-container .cart-item.mob .item-img-cont,
.cart-container .cart-item.mob .item-det-cont  {
    color: #333;
    font-family: var(--secondary-font);
}
form.login-form,
form.signup-form,
form.login-form a,
form.signup-form a,
.new-cust-note,
.tab-panel-cont.checkout-tab-panel-cont .guest-form-cont {
    color: #000;
    font-family: var(--secondary-font);
}
form.login-form .btn.submit,
form.signup-form .btn.submit,
.tab-panel-cont.checkout-tab-panel-cont .guest-form-cont .btn,
.success-container .success-msg-cont .keep-shop .btn {
     font-weight: 300;
     text-transform: uppercase;
}
.custom-container.cart-container .total-cart-wrapper {
    color: #000;
    font-family: var(--secondary-font);
    font-size: 1rem;
}
app-cart .custom-container.cart-container .cart-login-cont .btn.btn-primary,
.custom-container.checkout .btn.btn-primary {
   background-color: #000;
   border-color: #000;
}
.custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link .step {
    background-color: #000;
    font-family: var(--secondary-font);
    color: #fff;
    padding-top: 4.55px;
}
.custom-container.checkout .checkout-tabs-cont .nav-tabs .nav-link {
    color: #000;
    font-family: var(--secondary-font);
}
.custom-container.checkout .checkout-tabs-cont .panel-heading,
.custom-container .login-signup-tabs-cont .panel-heading {
    color: #000;
    font-family: var(--secondary-font);
}
.custom-container.checkout .checkout-tabs-cont form ,
.custom-container.checkout .checkout-tabs-cont form a,
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-title,
.custom-container.checkout .CardField input,
.ElementsApp .InputElement {
    color: #000;
    font-family: var(--secondary-font);
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-title {
    font-size: 1rem;
}
.custom-container.checkout .checkout-tabs-cont form .form-control::placeholder,
.custom-container.checkout .CardField input::placeholder,
.ElementsApp .InputElement::placeholder {
    font-family: var(--secondary-font);
    font-size: 1rem;
}
.custom-container.checkout .checkout-tabs-cont form .promo-note a {
   font-size: 1rem;
}
.custom-container.checkout .checkout-tabs-cont form .radio-container .checkmark::after {
    background: #000;
}
.custom-container.checkout .checkout-tabs-cont form .radio-container input:checked ~ .checkmark {
    background-color: #000;
}
.custom-container.checkout .checkout-tabs-cont form .radio-container .checkmark {
    border-color: #000;
}
.custom-container.checkout .checkout-tabs-cont form.payment-form .card-images-holder {
    background-color: transparent;
    padding: 0;
    height: auto;
}
.custom-container.checkout .checkout-tabs-cont form.shipping-form .btn.submit,
.custom-container.checkout .checkout-tabs-cont form.payment-form .btn.submit,
.custom-container.checkout .checkout-tabs-cont .btn,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    font-weight: 300;
    text-transform: uppercase;
}
.success-container .success-msg-cont .success-title,
.success-container .success-msg-cont .order-no,
.success-container .success-msg-cont .success-msg,
.success-container .order-summary-container {
  color: #000;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 1rem;
}
.success-container .order-summary-container .grey-bg .panel-heading {
  font-size: 1.25rem;
}
/* shipping details page */
.shipping-form-container .breadcrumb-heading,
.shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading {
  color: #000;
  font-family: var(--secondary-font);
}
.order-totals-container .total-holder .order-total-item .total-desc {
  font-size: 1rem;
}
.custom-container.cart-container .card.order-summary-cont {
  font-family: var(--primary-font);
}
.footer-page-container p a {
  font-family: var(--secondary-font);
  font-size: 1rem;
}
.footer .mobile-footer .list-group .list-group-holder>a ,
.footer .mobile-footer .footer-widget ul li a {
   font-family: var(--secondary-font);
}
.footer-widget .select-form .form-group label,
.footer-widget .select-form .form-group select.form-control {
   font-family: var(--secondary-font);
   font-size: 0.875rem;
}
.footer .copyright-cont .powered-by,
.footer .copyright-cont .powered-by a {
    color: #333;
    font-family: var(--secondary-font);
    font-size: 0.875rem;
}
.footer .copyright-cont .powered-link-cont {
    text-transform: uppercase;
}
.footer .copyright-cont .powered-by img {
    display: none;
  }
body.oos-pop-up-open .cdk-overlay-backdrop.cdk-overlay-dark-backdrop {
   background: #000;
}
body.oos-pop-up-open .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.20;
}
.modal-popup#out-of-stock-popup .modal-content {
   font-family: var(--secondary-font);
   color: #000;
}
.modal-popup.alert-popup .btns-cont .btn-primary:focus,
.modal-popup.alert-popup .btns-cont .btn-primary:active {
   background-color: #333;
}
.modal-popup.alert-popup .btns-cont .btn:active:focus {
   box-shadow: none;
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
     p {
         font-size: 0.875rem;
     }
    .home-slider .section-title,
    .home-intro h2,
    .sign-up-container h2,
    .related-products h3,
    .related-products h3 a,
    .related-products h3 a.vendor-link {
        font-size: 1rem;
    }
   .home-slider .post-tile .post-link {
        font-size: 0.75rem;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title h3,
   .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link {
        color:#000;
        font-size: 0.75rem;
    }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
        font-size: 0.75rem;
    }
   .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
        font-size: 1.125rem;
   }
   .product-detail-container .product-holder .product-detail .product-info .made-by,
   .product-detail-container .product-holder .product-detail .product-info .made-by a {
        font-size: 0.875rem;
   }
   .product-detail-container .product-holder .product-detail .product-info .product-pricing .price {
        font-size: 1.125rem;
   }
   .product-detail-container .product-holder .personalise .row:first-child div {
        font-size: 0.875rem;
   }
   .product-detail-container .personalise-form .form-group label,
   .product-detail-container .personalise-form .form-group .form-control,
   .product-detail-container .personalise-form .variant-container .option-label,
   .product-detail-container .personalise-form .variant-container .variant .option-container .customcheck span,
   .product-detail-container .personalise-form .variant-container .option-label + span,
   .personalise .variant.Size a {
       font-size: 0.875rem;
   }
   .product-detail-container .product-holder .product-order .tab-content .detail-text,
   .product-detail-container .product-holder .product-order .tab-content .delivery-text,
   .product-detail-container .product-holder .product-order .tab-content .delivery-text p,
   .product-detail-container .product-holder .product-order .tab-content .tab-pane#askseller .partners-note p {
       font-size: 0.875rem;
    }
   .product-detail-container .product-holder .product-order .tab-content .askseller-form .form-group label,
   .product-detail-container .product-holder .product-order .tab-content .askseller-form .form-group .form-control {
    font-size: 0.875rem;
}
   .related-products .related-products-holder .product-content .product-title a,
   .related-products .related-products-holder .product-content .product-pricing p {
       font-size: 0.75rem;
   }
   .vendor-micro-cont .vendor-intro .vendor-logo-cont {
        padding-bottom: 0 !important;
    }
   .vendor-micro-cont .vendor-menu {
        flex-direction: row !important;
        width: 100%;
    }
    .vendor-micro-cont .vendor-menu li {
        margin-bottom: 0.25rem;
    }
   .vendor-micro-cont .container#about {
       padding-top: 0 !important;
   }
   .vendor-micro-cont .container#about .vendor-heading {
       margin-bottom: 0.625rem !important;
   }
   .custom-container.cart-container .vendor-heading .vendor-name {
       font-size: 1rem;
   }
   .cart-container .cart-item.mob .item-img-cont,
   .cart-container .cart-item.mob .item-det-cont  {
      font-size: 0.875rem;
   }
   .cart-container .cart-item .item-details .details-desc .item-desc,
   .cart-container .cart-item .item-details .item-name,
   .cart-container .cart-item.mob .collapse-link,
   .cart-container .cart-item.mob .mob-sub-total-cont,
   .cart-container .cart-item .item-details .item-opts,
   .cart-container .cart-item .item-details .shipping-opts  {
      font-size: 0.875rem;
   }
   .custom-container.cart-container .total-cart-wrapper {
      font-size: 0.875rem;
   }
   .custom-container.checkout .checkout-tabs-cont .panel-heading {
      font-size: 1rem;
   }
   .custom-container.checkout .checkout-tabs-cont form ,
   .custom-container.checkout .checkout-tabs-cont form a,
   .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-title,
   .custom-container.checkout .checkout-tabs-cont form .promo-note a,
   .custom-container.checkout .checkout-tabs-cont form.shipping-form .form-group label,
   .custom-container.checkout .CardField input,
   .ElementsApp .InputElement,
   .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .del-option select {
      font-size: 0.875rem;
   }
   .custom-container.checkout .checkout-tabs-cont form .form-control::placeholder,
   .custom-container.checkout .CardField input::placeholder,
   .ElementsApp .InputElement::placeholder {
      font-size: 0.875rem;
   }
   .success-container .success-msg-cont .success-title,
   .success-container .success-msg-cont .order-no,
   .success-container .success-msg-cont .success-msg,
   .success-container .order-summary-container {
      font-size: 0.875rem;
   }
   .success-container .order-summary-container .grey-bg .panel-heading {
      font-size: 1rem;
   }
   .footer .mobile-footer .list-group .list-group-holder>a.list-group-item-action {
        color: #000;
        font-family: var(--primary-font);
        font-size: 0.875rem;
   }
   .footer .mobile-footer .list-group .list-group-holder>a.list-group-item-action:after {
        top: 32%;
   }
}
@media (max-width: 575.98px) {
    .vendor-micro-cont .vendor-banner {
        background-position: center;
        height: 83px;
    }
    .vendor-micro-cont .vendor-menu li a {
        padding-left: 0.575rem;
        padding-right: 0.575rem;
    }
    .vendor-micro-cont .vendor-intro .vendor-name {
        font-size: 1rem;
        margin-top: 1rem;
    }
}
@media (min-width: 992px){
    .vendor-micro-cont .container.vendor-contact-form-cont .vendor-form-inner {
        margin-bottom: 3rem;
    }
}
