:root {
  --primary-font: 'georgiaregular';
  --secondary-font: 'Arial';
  --text-color-light: #6D6D6D;
  --link-btn-color: #000000;
}

@font-face {
  font-family: 'georgiaregular';
  src: url('https://bitbucket.org/TSTechsembly/jscss/raw/a1051df2e9978acdc0fd561b2366f9a258ca7d1e/siam/fonts/georgia/georgia-webfont.eot') format('embedded-opentype'),
    url('https://bitbucket.org/TSTechsembly/jscss/raw/a1051df2e9978acdc0fd561b2366f9a258ca7d1e/siam/fonts/georgia/georgia-webfont.woff2') format('woff2'),
    url('https://bitbucket.org/TSTechsembly/jscss/raw/a1051df2e9978acdc0fd561b2366f9a258ca7d1e/siam/fonts/georgia/georgia-webfont.woff') format('woff'),
    url('https://bitbucket.org/TSTechsembly/jscss/raw/a1051df2e9978acdc0fd561b2366f9a258ca7d1e/siam/fonts/georgia/georgia-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('https://bitbucket.org/TSTechsembly/jscss/raw/76e6c906cc11cb0040b1736fc41fb54716bd7729/siam/fonts/arial/ARIAL.woff') format('woff');
}

body {
  background-color: #FFFFFF;
  color: var(--link-btn-color);
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--link-btn-color);
  font-family: var(--primary-font);
}

a,
a:hover,
a:focus {
  color: var(--link-btn-color);
  font-family: var(--primary-font);
  text-decoration: none;
}

p {
  color: #6D6D6D;
  font-family: var(--primary-font);
}

.wrapper header.header {
  border-bottom: none;
  margin-bottom: 0;
  background: #ffffff;
}

.wrapper header.header .row.spacing {
  padding: 0 1.875rem;
}

header.header .logo {
  padding-top: 38px !important;
  padding-bottom: 36px;
}

header.header .logo img {
  width: 338px;
  height: 73px;
}

header.header .menu-holder {
  margin-top: 15px;
}

.wrapper header.header .menu-holder li a {
  color: #000000;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding: 1.138rem 0;
}

header.header .menu-holder>li>div {
  display: none;
}

header.header .search .search-item-form .nav-search-field {
  background-color: #EFEFEF !important;
  border-radius: 0;
}

header.header .search .search-item-form .nav-search-field::placeholder {
  /* text-indent: -999px; */
  opacity: 0;
  visibility: hidden;
}

header.header .shipping li a.dropdown-toggle,
header .mob-top-links .dropdown-flag a.dropdown-toggle {
  pointer-events: none;
}

header.header .shipping li img {
  max-width: 25px;
}

header.header .shipping li {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.96px;
  color: #000000;
  margin-top: 28px;
}

header.header .shipping li .dropdown a {
  font-family: 'Arial';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
}

header.header .shipping li a.dropdown-toggle:after,
header .mob-top-links .dropdown-flag a.dropdown-toggle:after {
  display: none;
}

header.header .head-links li a {
  padding: 0;
}

header.header .head-links li .cart-qty {
  top: 12px;
  left: 10px;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details,
header.header .mob-top-links li .add-to-basket .dropdown-menu .checkout-details {
  margin-top: 20px;
}
header.header .head-links {
  padding-top: 25px;
  padding-bottom: 9.74px !important;
}

header.header .nav-item {
  margin-left: 20px;
}

header.header .menu-holder .nav-item {
  margin-left: 17px;
}

.head-links .nav-item img[alt="user-profile"] {
  max-width: 19.66px;
  height: 23.56px;
}

.head-links .nav-item img[alt="wishlist"] {
  max-width: 27px;
  height: 24px;
}

.head-links .nav-item img[alt="cart"] {
  max-width: 20px;
  height: 25.11px;
}


/* default-breadcrumb */
.default-breadcrumb li.breadcrumb-item a,
.default-breadcrumb li.breadcrumb-item {
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--secondary-font);
  line-height: 16px;
  letter-spacing: 0.5px;
}

.default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0;
}

.container.custom-container .default-breadcrumb .arrow-breadcrumbs {
  margin-bottom: 2rem;
}

.container.custom-container .default-breadcrumb {
  margin-bottom: 2rem;
}

body[data-pagetype="category"] .container.custom-container .default-breadcrumb {
  margin-bottom: 13px;
}

body[data-pagetype="category"] .custom-container .breadcrumb-heading,
body[data-pagetype="search_results"] .custom-container .breadcrumb-heading {
  font-weight: 700 !important;
  font-size: 14px !important;
  font-family: var(--secondary-font) !important;
  line-height: 18px !important;
  letter-spacing: 0.5px !important;
  margin-bottom: 7px !important;
  text-transform: capitalize !important;
}

/* sidebar */
.products-container .main-sidebar {
  margin-top: 8px;
  width: 24%;
  padding-right: 50px;
}

.sidebar-widget .result-text p {
  color: #000;
  font-weight: 700;
  font-size: 13px;
  font-family: var(--secondary-font);
  line-height: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder a {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--secondary-font);
  line-height: 18px;
  letter-spacing: 1px;
  color: #666666;
}

.sidebar-widget .list-group .list-group-holder a {
  padding-left: 16px;
}

.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
  visibility: hidden;
  opacity: 0;
}

.sidebar-widget .list-group .list-group-holder .BorderBottom {
  border-color: #FFFFFF;
}

.product-select .form-group.sort-cont label {
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--secondary-font);
  line-height: 16px;
  letter-spacing: 0.5px;
}

.product-select .form-group>select.form-control.relevance {
  background-color: #F0F0F0;
  border: 0.920833px solid #EDEDED;
  border-radius: 0px;
  height: 30px;
}

.home-banner h2.banner-title {
  display: none;
}

.home-banner h1.banner-heading {
  color: #fff;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home-banner.siam-suit-banner h1.banner-heading div:first-child,
.home-banner.pool-banner h1.banner-heading div:first-child{
  visibility: hidden;
}
.home-banner h1.banner-heading .sub-head {
  color: #FFFFFF;
  font-family: var(--secondary-font);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px !important;
  margin-top: 10px;
}

.home-slider.experience-slider .custom-container .section-title,
.home-slider.bestsellers-slider .section-title {
  color: #000000;
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 10px;
}

/* bestsellers-slider style begins */
.home-slider.experience-slider .custom-container .section-title,
.home-slider.bestsellers-slider .custom-container .section-title {
  display: block;
}

.home-slider.bestsellers-slider .post-tile .post-link {
  color: #000000;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  padding-bottom: 0;
  text-transform: uppercase;
  width: 100%;
}

.home-slider.bestsellers-slider .post-tile .post-tile-link:hover .post-link {
  color: var(--text-color-light);
}

.home-slider.bestsellers-slider .carousel-container {
  padding: 1.875rem 0.9375rem 3.75rem;
}

/* home-slider section begins */
/*.home-slider .custom-container .section-title {
  display: none;
}*/

.home-slider .carousel-container {
  padding: 0 0.9375rem 3.75rem;
}

.home-slider .home-carousel .owl-stage .owl-item {
  /* width: 290px !important;
    margin-right: 20px !important; */
}

.owl-stage {
  justify-content: center;
}

.home-slider .post-tile .post-link {
  color: #000000;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 0;
}

.home-slider .post-tile .post-tile-link:hover .post-link {
  color: var(--text-color-light);
}

.home-slider.experience-slider .custom-container .carousel-container {
  padding-top: 20px;
}

.home-banner.pool-banner {
  margin-bottom: 60px;
}

.home-banner.pool-banner,
.home-banner.siam-suit-banner {
  padding: 0 30px;
}

.promo-section.featured-vendors-area .promo-holder .promo-box .promo-content .promo-desc,
.home-banner.pool-banner h1.banner-heading .sub-head,
.home-banner.siam-suit-banner h1.banner-heading .sub-head {
  border: 1px solid #FFFFFF;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 18px !important;
  display: inline-block;
  padding: 0.375rem 1.03125rem;
  font-family: Arial;
}

/* featured-vendors-area styles begin */
.promo-section.featured-vendors-area {
  padding: 0 15px;
  margin-bottom: 60px;
}

.promo-section.featured-vendors-area .banner-title {
  display: none;
}

.promo-section.featured-vendors-area .promo-holder .promo-box:first-child {
  margin-right: 1.875rem;
}

.promo-section.featured-vendors-area .promo-holder .promo-box .promo-content {
  left: 30px;
  bottom: 45px;
  top: auto;
}

.promo-section.featured-vendors-area .promo-holder .promo-box .promo-content .promo-title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  font-family: var(--primary-font);
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.featured-client {
  display: none;
}

/* product listing page */
.custom-container.product-container {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

body[data-pagetype="category"] .custom-container.product-container {
  margin-top: 28px;
}

body[data-pagetype="category"] .custom-container.product-container .product-text {
  display: none;
}

.custom-container.product-container .product-select {
  margin-right: 0;
}
.products-container .products-holder-main {
  width: 76%;
}

.products-container .products-holder-main .products-holder {
  justify-content: space-between;
}

.products-container .products-holder-main .products-holder .product-column {
  width: 32.25%;
}

.products-container .products-holder-main .products-holder .product-column,
.products-container .products-holder-main .products-holder i[aria-hidden="true"] {
  margin: 0;
}

.products-container .products-holder-main .products-holder .product-column .product-list {
  margin-bottom: 50px;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
  min-height: 288px;
  max-height: 288px;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
  max-height: 100%;
  width: 100%;
}

.products-container .products-holder-main .products-holder .product-column .product-tags {
  display: none;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
  display: none;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
  width: 90%;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
  width: 10%;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title h3,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
  font-weight: 400;
  font-size: 12px;
  font-family: var(--secondary-font);
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #666666;
}

/*Product detail page*/
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: var(--primary-bg-color);
}

.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
  margin-bottom: 15px;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
  width: 12%;
}

.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
  margin-bottom: 11px;
}
.product-detail-container .product-holder .checkbox-holder{
  margin-top: 0.5rem;
}
.product-detail-container .product-holder .checkbox-holder label input[type="checkbox"]{
  margin-bottom: 3px;
  margin-right: 5px;
}
.product-detail-container .product-holder .checkbox-holder label{
  align-items: center;
  max-height: 1.5rem;
}
.product-detail-container .product-holder .select-form .radio-container .radio-holder .checkmark,
.product-detail-container .product-holder .select-form .checkbox-holder span{
  font-weight: 400;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #000000;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
  width: 27px;
  height: 25px;
}

.product-detail-container .product-holder .product-detail .shipping {
  display: none;
}

.product-detail-container .product-holder .product-detail {
  height: auto;
}

.product-detail-container .product-holder .product-order .tab-content {
  border: none;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding: 0;
  margin-top: 2rem;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane .productDesc,
.product-detail-container .product-holder .product-order .tab-content .tab-pane .productDesc font,
.product-detail-container .product-holder .product-order .tab-content .tab-pane .productDesc span,
.product-detail-container .product-holder .product-order .tab-content .tab-pane .detail-text,
.product-detail-container .product-holder .product-order .tab-content .tab-pane .delivery-text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 1px;
  color: #666666;
}

.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
  background-color: transparent;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item a h4 {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #666666;
  text-align: center;
  width: 100px;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
  color: #000000;
  text-align: center;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  border-bottom: 1px solid #666666;
  padding: 0.5rem 0;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  color: #000000;
  border-bottom: 1px solid #000000
}

.product-detail-container .product-holder .product-inner .personalise .productDesc div:nth-child(1) {
  font-family: 'Arial';
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 1px;
  color: #000000;
}
.product-detail-container .product-holder .form-check-label{
  margin-top: 1rem;
}
.product-detail-container .personalise-form .form-group .form-control,
.product-detail-container .personalise-form .delivery-form .delivery-fields {
  border-color: #666666;
  border-radius: 2px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 1.0625rem;
  padding-right: 1rem !important;
  color: #666666;
  height: 54px;
}
.product-detail-container .personalise-form .form-group input[type='text'],
.product-detail-container .personalise-form .form-group input[type='email'],
.product-detail-container .personalise-form .form-group input[type='date'],
.product-detail-container .personalise-form .form-group select{
  max-height: inherit;
}
.multiselect-dropdown[_ngcontent-serverApp-c10] .dropdown-btn[_ngcontent-serverApp-c10]{
  background-image: url(https://static.techsembly.com/CK3MjHCGDBsosQbrb3LAdU94) !important;
    border-color: #666666;
    border-radius: 2px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 1.0625rem;
    padding-top: 15px !important;
    color: #666666;
    height: 54px;
    background-position-x: 96%;
    background-position-y: 22px;
    background-repeat: no-repeat;
    height: 54px;
}
.multiselect-dropdown[_ngcontent-serverApp-c10] .dropdown-btn[_ngcontent-serverApp-c10] .dropdown-down[_ngcontent-serverApp-c10]{
  display: none !important;
}
.product-detail-container .personalise-form .form-group label,
.product-detail-container .personalise-form .delivery-form .title {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.product-detail-container .personalise-form .form-group select.form-control {
  background-image: url('https://static.techsembly.com/CK3MjHCGDBsosQbrb3LAdU94');
  background-position-x: 96%;
  max-height: 54px;
}

.product-detail-container .personalise-form .form-group {
  margin-bottom: 3px;
}

.product-detail-container .personalise-form .form-group.add-basket {
  margin: 0;
}

.product-detail-container .personalise-form .form-group .order-input {
  height: 52px;
  width: 17.11%;
  margin-right: 1rem;
  text-align: left;
}

.product-detail-container .personalise-form .form-group .order-btn {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  height: 52px;
  line-height: 18px;
}

.product-detail-container .preview-thumbnail {
  margin-top: 1rem;
}

.product-detail-container .product-holder .share-link {
  display: none !important;
}

body[data-pagetype='product'] .related-products {
  border-top: none;
  padding: 0;
  margin-bottom: 1rem;
}

.related-products .related-products-holder .related-products-image {
  margin-bottom: 7px;
  height: 288px;
}

.related-products .related-products-holder .product-content .product-title a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.related-products .related-products-holder .product-content .product-rating {
  display: none;
}

.related-products .related-products-holder .product-content .product-title {
  width: 100%;
  margin-bottom: 0;
}

.related-products .related-products-holder .product-content .more-items-product-prices {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #666666;
}

.custom-container .breadcrumb-heading,
.custom-container .order-sum-heading {
  font-family: var(--primary-font) !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  margin-bottom: 1.375rem !important;
}

.custom-container .breadcrumb-heading,
.custom-container .order-sum-heading {
  color: #000000 !important;
}

.container .breadcrumb,
.container .breadcrumb li a {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #666666;
}

.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a,
.arrow-breadcrumbs li.processed a {
  color: #000000;
}

.custom-container.cart-container .vendor-items-cont {
  padding-top: 2rem !important;
}

.modal-popup .modal-container .del-options-form,
.modal-popup .modal-footer {
  font-family: var(--primary-font) !important;
}

.modal-popup .modal-container .del-options-form .modal-title {
  font-family: var(--primary-font) !important;
  font-size: 1.313rem;
}

.modal-popup .modal-container .del-options-form .radio-container input:checked~.checkmark {
  background-color: var(--link-btn-color) !important;
}

.modal-popup .modal-container .del-options-form .radio-container .checkmark {
  border: 1px solid var(--link-btn-color) !important;
}

.modal-popup .modal-container .del-options-form .radio-container .checkmark::after {
  background: var(--link-btn-color) !important;
}

.modal-popup .modal-container .del-options-form .modal-footer .footer-btns-cont .btn {
  font-family: var(--link-btn-color) !important;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.8px;
}

.modal-popup .modal-container .del-options-form .modal-footer .footer-btns-cont .btn.btn-submit {
  border-color: var(--link-btn-color) !important;
  background-color: var(--link-btn-color) !important;
}

body[data-pagetype="cart"],
body[data-pagetype="checkout"] {
  background: #FCFCFC;
}

.custom-container.cart-container .vendor-items-cont .card {
  border: none;
  box-shadow: 0px 1px 2px solid rgba(31, 41, 55, 0.8) !important;
  border-radius: 0.375rem;
  margin-bottom: 2rem;
}

.custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .vendor-heading span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.custom-container.cart-container .vendor-items-cont .card .card-header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.cart-item.new {
  padding-bottom: 4px !important;
}

.cart-item.new .item-details-cont .item-details .item-name {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 4px;
}

.cart-item.new .item-details-cont .gift-msg-area {
  padding-top: 15px !important;
}
.cart-item.new .item-details-cont .gift-msg-area .gift-msg-cont{
  padding-left: 0;
}
.custom-container.cart-container .card .card-body .item-details-cont .pro-badges-cont .pro-badge {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.cart-item.new .item-details-cont .item-details .unit-price,
.cart-item.new .flex-basis-auto .item-detai {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.cart-item.new .item-details-cont .gift-msg-area .add-gift-msg a {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  color: #666666;
}

.cart-item.new .flex-basis-auto .item-detai {
  color: #000000;
}

.cart-item.new .item-details-cont .item-details .unit-total-price {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

.cart-item.new .item-details-cont .gift-msg-area .form-control {
  padding: 10px 13px;
  width: 234px;
  height: 77px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: rgba(102, 102, 102, 0.6);
  border-radius: 0px;
  text-transform: uppercase;
  border: 1px solid rgba(102, 102, 102, 0.6);
}

.cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-label {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.custom-container.cart-container .vendor-items-cont a.del-item-link {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration-line: underline;
  color: #666666;
}

.cart-item.new .item-details .item-qty-cont .item-dec,
.cart-item.new .item-details .item-qty-cont .item-inc {
  background-color: #EDEDED;
}

.container.custom-container .card.order-summary-cont {
  border: none;
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  padding-top: 4px !important;
  border-bottom: 1px solid #D9D9D9;
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  font-family: var(--primary-font);
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-family: "Arial";
}

.container.custom-container.cart-container .card.order-summary-cont .card-body-inner {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #666666;
}
.custom-container.cart-container .vendor-items-cont .card .card-body .vendor-items .cart-item{
  margin-bottom: 2rem;
}
.custom-container.cart-container .cart-login-cont {
  background-color: #EEEEEE !important;
  border-radius: 0px 0px 8px 8px;
}

.custom-container.cart-container .cart-login-cont .login-note {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #666666;
}

.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
  padding-top: 2.5rem;
  margin-bottom: 1.125rem !important;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.custom-container.cart-container .cart-login-cont form input.form-control {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px !important;
  line-height: 18px;
  letter-spacing: 1px;
  color: #666666;
}

.cart-login-cont form.cart-login-form .forget-psw-link {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
  text-decoration: none;
}

form.cart-login-form .form-submit-cont {
  border-top: 1px solid #D9D9D9;
  border-bottom: none;
  margin-bottom: 1rem;
}

.container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 1;
  border-radius: 5px;
}

.custom-container.cart-container .cart-login-cont .checkout-note {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #383838;
}

.custom-container.cart-container .card .cart-login-cont .checkout-desc-cont {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: #383838;
}

.custom-container.cart-container .btn.continue-btn-new {
  font-family: var(--secondary-font);
  border-color: #000000;
  border-radius: 3px;
  background-color: transparent;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  height: 3.5rem;
  letter-spacing: 1px;
  padding: 1.25rem 1.125rem 1rem;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.container.custom-container.cart-container .cart-login-cont .guestCheckout-form #guest-btn img {
  display: none;
}

.custom-container.checkout-footer {
  display: none;
}

.checkout-copyright-cont {
  padding: 14px 32px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #000000;
}

.address-form.new select {
  font-size: 16px !important;
}

.container.custom-container .form-control {
  font-family: 'Arial';
  letter-spacing: 1px;
  color: #666666 !important;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  font-size: 1rem;
}

.shipping-form-container .checkbox-cont input:checked~.checkmark {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.shipping-form-container .card-header {
  padding-top: 21px !important;
}

.shipping-form-container .form-group label {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: 1px;
  color: #666666;
}

.shipping-form-container .order-shipping-container .delivery-dropdowns-cont .form-group {
  margin-bottom: 12px;
}

.shipping-form-cont .btn-submit,
.custom-container.checkout .shipping-form-container .btn.btn-submit {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.188rem;
  line-height: 18px;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 1rem 1.5rem;
  background: var(--link-btn-color);
}

.shipping-form-container .card.order-summary-cont .card-header {
  padding-bottom: 6px !important;
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc,
.order-summary-cont .order-summary-inner .vendor-items-holder .vendor-order-details .order-item .item-price,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-desc {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty {
  text-transform: uppercase;
}

.order-summary-container .vendor-items-holder .vendor-order-details .tax-item-left .tax-desc {
  width: 285px;
}

.order-summary-container .vendor-items-holder .vendor-order-details .tax-item-left .tax-desc,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-item-right .item-price {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.order-summary-cont .order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 2rem;
}

.order-totals-container .sub-total-holder {
  border-bottom: none !important;
}

.order-summary-cont .order-totals-container .total-holder {
  border-top: 1px solid #D9D9D9;
  padding-top: 5px;
}

.order-summary-cont .order-totals-container {
  background: #EEEEEE;
  border-radius: 0px 0px 8px 8px;
  margin-top: 1.5rem;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.order-totals-container .total-holder .order-total-item .total-desc,
.order-summary-cont .order-totals-container .total-holder .total-price {
  color: #000000;
  font-size: 18px !important;
  line-height: 24px;
  font-weight: 400;
}

.custom-container.checkout .shipping-form-container .exist-address-wrapper {
  border-bottom: 1px solid #212322;
}

.custom-container.checkout .shipping-form-container .exist-address-wrapper .card {
  border: none;
}

.custom-container.checkout .shipping-form-cont .exist-address-wrapper .card-header h3 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #383838;
}

.custom-container.checkout .shipping-form-cont .exist-address-wrapper .card-header a {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.custom-container.checkout .shipping-form-cont .exist-address-wrapper .card-body {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
  padding-bottom: 10px !important;
}

.shipping-form-container .exist-address-wrapper .card .btn.address-btn {
  background: var(--link-btn-color);
  padding-top: 19px !important;
  font-family: 'Arial';
  padding-bottom: 19px !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.custom-container.checkout .shipping-form-container .address-heading {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 3px !important;
  padding-bottom: 5px;
}

.custom-container.checkout .shipping-form-cont {
  padding-top: 1.1rem !important;
}

.delivery-methods-cont .contact-card .card-body .card-row,
.delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
  font-family: 'Arial';
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 20px !important;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #666666 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
  align-items: center;
  border-bottom: 1px solid #D9D9D9 !important;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .card-header .vendor-title {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.delivery-methods-cont .card .card-body .row-head {
  font-weight: 400 !important;
  padding-right: 0 !important;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item .qty {
  text-transform: uppercase;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-caption {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
  border-bottom: 1px solid #D9D9D9 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:not(:last-child) {
  padding-bottom: 0.8rem !important;
}

.custom-container.cart-container .card .card-body .personalize-row.mob {
  display: none !important;
}

.custom-container.cart-container .card .card-body .personalize-row .item-desc {
  display: none !important;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
  background-color: #EDEDED;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: 1px;
  padding-left: 0;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
  font-weight: 400 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked~.checkmark {
  border-color: var(--link-btn-color);
  background-color: var(--link-btn-color) !important;
}

.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
  width: 19px !important;
  height: 19px !important;
  border: 1px solid #000000 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
  background: var(--link-btn-color) !important;
  width: 17px !important;
  height: 17px !important;
  top: 1px !important;
  left: 1px !important;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .del-method-name,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .option-price {
  margin-top: 0 !important;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16PX;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .del-option:nth-child(1) {
  padding-bottom: 7px !important;
}

.delivery-methods-cont .vendor-cards-holder .card.vendor-card .shipping-totals-cont {
  padding: 0 !important;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont select,
.delivery-methods-cont .vendor-cards-holder .card .mat-form-field-wrapper .mat-form-field-flex {
  height: 50px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #666666;
}

.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
  padding-bottom: 0;
}

/*checkout payment page*/
.checkout .payment-form-container .payments-methods-cont,
.checkout .payment-form-container .section-cont {
  border-bottom-color: #D9D9D9;
}

.payment-form-container .section-cont.no-border {
  padding-top: 2rem !important;
}

.checkout .payment-form-container .section-heading {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 1.5rem;
}

.payment-form-container .radio-container {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #666666;
}

.checkout .payment-form-container .card {
  border-color: transparent;
}

.checkout .payment-form-container .checkbox-cont input:checked~.checkmark {
  background-color: var(--link-btn-color);
  border-color: var(--link-btn-color);
}

.checkout .payment-form-container .card-details-cont .address-card {
  padding-top: 1.5rem !important;
}

.checkout .payment-form-container .radio-container input:checked~.checkmark {
  border-color: var(--link-btn-color);
  background-color: var(--link-btn-color);

}

.checkout .payment-form-container .radio-container .radio-cont-inner {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.checkout .payment-form-container .radio-container .checkmark::after {
  background-color: var(--link-btn-color);
  top: 9px;
  left: 1.2px;
  width: 17.5px;
  height: 17.5px;
}

.payment-form-container .checkbox-cont .checkmark::after {
  left: 0px;
}

.checkout .payment-form-container .payments-methods-cont .card {
  border: 0.125rem solid var(--link-btn-color);
}


#StripeGateway_CreditCard .form-group .form-control {
  border: 2px solid var(--color-dark);
}

.checkout .payment-form-container .payments-methods-cont,
.checkout .payment-form-container .section-cont {
  border-bottom-color: #D9D9D9;
}

/*.checkout .payment-form-container .card-note {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  font-family: var(--primary-font-light);
  font-weight: 325;
  font-size: 0.688rem;
  line-height: 1rem;
  letter-spacing: 0.8px;
  color: #000000;
}*/

.checkout .payment-form-container .card-details-cont .address-card,
.checkout .payment-form-container .card-details-cont .address-card .user-address {
  font-family: 'Arial';
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: 1px;
  color: #000000;
  padding-left: 0;
}

.payment-form-container .card .card-body .row-head {
  font-weight: 400 !important;
  font-size: 16px !important;
}

.checkout .payment-form-container .card-details-cont .address-card .user-address {
  color: #666666;
}

.checkout .payment-form-container .card.blue-light-bg {
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  border-radius: 6px;
}

.checkout .order-totals-container .promo-cont a {
  color: #666666;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.payment-form-container .checkbox-cont {
  padding-bottom: 7px;
}

.payment-form-container .checkbox-cont .checkbox-note {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
  margin-top: 0 !important;
}

.payment-form-container .blue-light-bg .checkbox-cont .checkbox-note {
  color: #000000;
}

.payment-form-container .password-note {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.payment-form-container .btn.btn-submit,
.custom-container.checkout .btn-primary,
.apply-btn {
  border-color: #000000;
  background-color: #000000;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*checkout complete page*/
.checkout-container.complete .col-12.px-md-3.py-4 {
  padding-top: 0 !important;
}

.checkout .checkout-container.complete .order-confirm-top {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background: #FCFCFC;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.checkout .checkout-container.complete .card-footer {
  border-radius: 0 0 8px 8px;
}

.custom-container .checkout-container.complete .breadcrumb-heading {
  font-size: 24px !important;
  line-height: 28px !important;
  margin-bottom: 4px !important;
}

.checkout-container.complete .customer-note .updated-del-string {
  margin-top: 1.5rem;
}

.checkout-container.complete .customer-note {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.custom-container .checkout-container.complete .section-cont {
  border-bottom: 1px solid #D9D9D9;
}

.custom-container .checkout-container.complete .card-body .order-data.section-cont {
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}

.checkout-container.complete .cart-data .order-item .item-img {
  display: flex;
  align-items: center;
  max-height: 100px;
}

.checkout-container.complete .card-body .order-data .order-column {
  align-items: start !important;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.checkout-container.complete .card-body .order-data .order-column .col-heading {
  font-weight: 400 !important;
}

.checkout-container.complete .card-body .order-data .order-column .col-desc {
  color: var(--link-btn-color);
}

.checkout-container.complete .card-body .cart-data {
  padding-bottom: 28px;
}

.checkout-container.complete .card-body .cart-data .order-item .item-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.checkout-container.complete .cart-data .order-item .item-desc .item-name {
  font-size: 16px !important;
  line-height: 20px;
}

.checkout-container.complete .card-body .cart-data .order-item .item-desc .item-brand {
  padding-top: 4px;
  font-family: 'Arial';
  color: #383838;
  opacity: 0.6;
}

.checkout-container.complete .card-body .cart-data .order-item .items-atts-cont {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #383838;
}

.checkout-container.complete .card-body .cart-data .order-item .item-price,
.checkout-container.complete .card-body .total-cont,
.checkout-container.complete .card-body .msg-cont .msg-inner {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.checkout-container.complete .card-body .total-cont .text-right.total-price {
  font-size: 16px !important;
}

.order-confirm-wrapper .card-footer .card-footer-left {
  color: #000000;
  font-size: 16px;
  font-family: var(--secondary-font);
}

.checkout-container.complete .card-body .shipping-data,
/*.order-confirm-wrapper .card-footer,*/
.order-confirm-wrapper .card-footer .card-footer-left a,
.order-confirm-wrapper .card-footer .card-footer-right a {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}
.checkout .checkout-container.complete .blue-light-bg {
  background-color: #fcfcfc;
}
.order-confirm-wrapper .card-footer a {
  color: #666666;
}

.order-confirm-wrapper .card-footer .card-footer-left a,
.order-confirm-wrapper .card-footer .card-footer-right {
  color: #666666;
}

.order-confirm-wrapper .card-footer .backToHomeBtn a {
  background: var(--link-btn-color);
  font-family: var(--secondary-font) !important;
  border-radius: 5px;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  margin-top: 28px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}

/* footer styles begin */
footer.footer {
  background-color: #1C1C1C;
  border-top: none;
  color: #fff;
  padding: 1.438rem 0.938rem;
  margin-top: 0;
}

.footer .footer-widget .widget-content {
  padding-top: 0 !important;
}

.footer .footer-widget .widget-content ul li {
  margin-bottom: 12px;
}

.footer .footer-widget .widget-title,
.footer .footer-widget .widget-content ul li a {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px !important;
}

.footer .footer-widget:first-child .widget-title {
  display: none;
}

/*.footer .footer-widget:nth-child(2) .widget-title {
  display: none;
}*/


.footer .copyright-cont .powered-by div:first-child {
  display: none;
}

.footer .copyright-cont .powered-by .powered-link-cont a,
.footer .copyright-cont .powered-by .powered-link-cont span {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer .copyright-cont .pay-methods-avail .meth-link:not(:last-child) {
  margin-right: 6.92px;
}

.footer .copyright-cont .pay-methods-avail .meth-link img {
  max-width: 48px;
}

.footer .copyright-cont .pay-methods-avail,
.footer .copyright-cont>div {
  padding-left: 0;
}

.footer .footer-widget .widget-content .social-links li {
  width: auto !important;
  margin-left: 25px;
}

.footer .footer-widget .widget-content .social-links li img {
  width: 20px;
}

.footer .footer-widget .widget-content .social-links li img[alt="youtube"] {
  width: 28px;
}

.footer .footer-widget.widget-col-1 {
  flex-grow: 2;
}

.footer .footer-widget.widget-col-2 {
  flex-grow: 14;
}

.login-signup label {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
  align-items: baseline;
}

.container.custom-container.login-signup .form-control {
  font-size: 0.9375rem !important;
  line-height: 1.125rem !important;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #666666;
}

.custom-container .login-signup-tabs-cont form.login-form .btn.submit,
form.signup-form .btn.submit {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 1;
  border-radius: 5px;
}

.custom-container .login-signup-tabs-cont .panel-heading {
  font-family: var(--primary-font) !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  margin-bottom: 1.375rem !important;
}

.home-banner .banner-heading {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.owl-theme .owl-nav .disabled {
  opacity: 1;
}

.product-detail-container .product-carousel-desktop .owl-nav button {
    border: 1px solid #666666 !important;
    border-radius: 0.125rem !important;
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.product-detail-container .product-carousel-desktop .owl-nav button:hover {
    background-color: white !important;
    opacity: 1;
    cursor: pointer;
}
.product-carousel-desktop .owl-nav button.owl-prev {
    background-image: url(https://static.techsembly.com/nyAd6PXdxLHxSRX4p9Uv22xk);
}
.product-carousel-desktop .owl-nav button.owl-next {
    background-image: url(https://static.techsembly.com/Z1MZX9cnCtB9x52nRGMnnVVA);
}
.product-carousel-desktop .owl-nav button.owl-prev:hover {
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    background-image: url(https://static.techsembly.com/nyAd6PXdxLHxSRX4p9Uv22xk);
}
.product-carousel-desktop .owl-nav button.owl-next:hover {
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    background-image: url(https://static.techsembly.com/Z1MZX9cnCtB9x52nRGMnnVVA);
}
.related-products .productHeading {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 1.5rem;
  }
/* Media Quries start here */

/*------------------------MEDIA QURIES---------------------------*/
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {

  .card.contact-card,
  .order-shipping-container,
  .order-totals-container {
    padding: 1rem !important;
  }

  header.header {
    margin-top: 0;
  }


  .wrapper header.header .row.spacing {
    padding: 0 1rem;
  }

  header.header .mob-top-links #profile-icon,
  header.header .mob-top-links #wishlist-heart {
    display: none !important;
  }

  header.header .logo {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    height: auto;
    position: relative;
    left: 70%;
  }

  header.header .logo img {
    height: auto;
    width: 174px;
  }
  header .mob-top-links .add-to-basket .dropdown-menu .pro-name-cont{
    min-width: auto;
  }
  .mob-search-cont {
    font-family: 'Arial';
    font-size: 16px;
    padding-bottom: 0.625rem !important;
  }

  nav#sidebar {
    top: 55px;
    height: calc(100%);
  }

  .menu-links-cont {
    z-index: 2;
  }

  .mobile-logo-cont {
    z-index: 3;
  }

  .home-banner {
    margin-bottom: 2rem;
  }

  .home-banner h1.banner-heading .sub-head {
    display: none;
  }

  .home-slider .post-tile .post-link {
    line-height: 18px;
  }

  .home-slider .post-tile {
    margin-bottom: 1.5rem !important;
  }

  .home-slider .carousel-container {
    padding-bottom: 1.5rem;
  }

  .siam-suit-banner h1.banner-heading {
    top: 20%;
    font-size: 18px;
    letter-spacing: 2px;
  }

  .banner.siam-suit-banner h1.banner-heading .sub-head {
    font-size: 10px !important;
    padding: 5px 8px;
  }

  .home-slider.experience-slider .custom-container .section-title,
  .home-slider.bestsellers-slider .section-title {
    margin-top: 1.5rem;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  .home-banner.pool-banner,
  .home-banner.siam-suit-banner {
    padding: 0 15px;
  }

  .home-banner.pool-banner {
    margin-bottom: 40px;
  }

  .promo-holder .promo-box:first-child {
    margin: 0 0 0.75rem;
  }

  .promo-holder .promo-box .promo-content .promo-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .product-detail-container .product-holder{
    padding-bottom: 0 !important;
    margin-bottom: 1rem !important;
  }
  .promo-section.featured-vendors-area .promo-holder .promo-box .promo-content {
    bottom: 25px;
    left: 6% !important;
  }

  .promo-section.featured-vendors-area {
    margin-bottom: 0;
  }

  footer.footer {
    padding: 40px 11.5px 40px 11.5px;
    margin-top: -1px;
  }

  .footer .section-cont.mobile-footer {
    padding-top: 0;
  }

  .footer .list-group-holder .list-group-item {
    background-color: transparent;
  }

  .footer .mobile-footer .list-group {
    margin-bottom: 0 !important;
    padding-left: 14.17px;
    padding-right: 14.17px;
  }

  .footer .mobile-footer .list-group .list-group-holder>a,
  .footer .mobile-footer .list-group .list-group-holder>a:hover {
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
  }

  .footer .footer-widget .widget-content {
    padding-top: 1.75rem !important;
  }

  .footer .copyright-cont {
    margin-top: 0;
  }

  .footer .copyright-cont .powered-by .powered-link-cont a,
  .footer .copyright-cont .powered-by .powered-link-cont span {
    font-size: 10px;
  }

  .promo-section.featured-vendors-area .promo-holder .promo-box .promo-content .promo-title {
    font-size: 18px;
  }

  .footer .mobile-footer .footer-widget ul li a {
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
  }

  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 46.25%;
  }

  .products-container .products-holder-main {
    width: 100%;
  }

  app-product-listing .product-listing-head {
    display: flex;
    flex-direction: column;
  }

  app-product-listing .product-listing-head .mob-btn-group {
    order: 2;
  }

  .product-container .tablet-title {
    margin-bottom: 2rem;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    min-height: 220px;
    max-height: 220px;
  }

  .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
    padding-top: 16px !important;
    padding-bottom: 0px;
  }

  .products-container .products-holder-main .products-holder {
    margin-top: 2rem;
  }

  .related-products .related-products-holder .related-products-image {
    height: auto;
  }


  .custom-container.cart-container .btn.continue-btn-new {
    width: 100%;
  }

  .shipping-form-cont .btn-submit,
  .custom-container.checkout .shipping-form-container .btn.btn-submit {
    width: 100%;
  }

  .payment-form-container .card .card-body .row-head {
    padding-left: 0;
  }

  .checkout-container.complete .card-body .shipping-data .shipping-row div {
    max-width: 50%;
    flex-basis: 50%;
  }

  .checkout-container.complete .card-body .order-data .order-column {
    padding-left: 0;
    padding-right: 0;
  }

  .tc-rights-reserved {
    text-align: center;
  }

  .custom-container .checkout-container.complete .breadcrumb-heading {
    font-size: 20px !important;
  }

  .completeLogo {
    max-width: 80px;
  }

  .cart-item.new .item-details-cont .item-details .item-name,
  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-label,
  .custom-container.cart-container .card .card-body .item-details-cont .pro-badges-cont .pro-badge,
  .cart-item.new .item-details-cont .item-details .unit-price,
  .cart-item.new .flex-basis-auto .item-detai {
    font-size: 12px;
  }

  .cart-item.new .item-details-cont .item-details .unit-total-price {
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  header.header .logo {
    left: 47%;
  }

  .home-banner h1.banner-heading {
    top: 35%;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }

  .home-slider .mob-custom-carosel {
    display: block !important;
  }
  .custom-container .login-signup-tabs-cont form.login-form .btn.submit,
  form.signup-form .btn.submit {
    background-image: none;
  }

  .card-header,
  .card.vendor-card .card-body .order-item,
  .order-summary-cont .order-summary-container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .custom-container.cart-container .vendor-items-holder {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .vendor-heading span {
    font-size: 12px;

  }

  .custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading {
    max-width: 150px;
  }

  .custom-container.cart-container .vendor-items-cont .card .card-header {
    font-size: 10px;
  }

  .shipping-form-container .checkbox-cont .checkmark {
    width: 24px;
    height: 20px;
  }

  .shipping-form-container .checkbox-cont .checkmark::after {
    top: 2px !important;
    left: 3px !important;
  }

  .order-summary-cont .order-totals-container,
  .order-totals-container .total-holder .order-total-item .total-desc,
  .order-summary-cont .order-totals-container .total-holder .total-price {
    font-size: 13px;
  }

  .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc,
  .order-summary-cont .order-summary-inner .vendor-items-holder .vendor-order-details .order-item .item-price,
  .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-desc,
  .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price {
    font-size: 14px;
  }

  .order-summary-cont .order-totals-container .sub-total-holder .sub-total-desc,
  .order-summary-cont .order-totals-container .sub-total-holder .sub-price {
    max-width: 50%;
    flex-basis: 50%;
  }
  .delivery-methods-cont .vendor-cards-holder .card .order-item .item-img{
    margin-right: 0.5rem !important;
  }
  .delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item .order-item-left{
    max-width: 75%;
    flex-basis: 75%;
  }
  .delivery-methods-cont .vendor-cards-holder .card.vendor-card .order-item .order-item-right{
    max-width: 25%;
    flex-basis: 25%;
  }
  .payment-form-container .card.address-card .card-body .row-head {
    max-width: 50%;
  }

  .checkout .payment-form-container .card-details-cont .address-card {
    padding: 0.5rem !important;
  }
  .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img,
  .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-img{
    margin-right: 8px !important;
  }
  .home-slider .post-tile .post-tile-link{
    height: auto !important;
  }
}

@media (max-width: 575.98px) {
  header.header .logo {
    left: 75%;
  }
  .container.custom-container .form-control{
    font-size: 12px;
    letter-spacing: 0px;
  }
  .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label.info-text{
    flex-basis: 60%;
  }
}
@media (max-width: 416px) {
  .shipping-form-container .checkbox-cont .checkmark::after {
    top: 11px !important;
    left: 1px !important;
  }
}
@media (min-width: 768px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .home-banner h1.banner-heading {
    left: 31% !important;
    font-size: 20px;
  }

  .container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  .product-detail-container {
    margin-top: 27px;
  }

  .product-detail-container .product-holder .product-detail {
    margin-bottom: 3px !important;
  }

  .product-detail-container .product-holder .product-inner .personalise .productDesc div:nth-child(1) {
    flex-basis: 100%;
    max-width: 100%;
  }

  /*.product-detail-container .product-holder .product-inner .personalise .productDesc div:nth-child(2) {
    display: none !important;
  }*/
  .product-detail-container .product-holder {
    padding-bottom: 0 !important;
    margin-bottom: 33px !important;
  }


  .product-detail-container .tab-content.preview-pic {
    height: auto;
  }


  app-product-listing .product-container .product-select select.relevance {
    max-width: 183px;
    height: 30px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 3px;
    background-size: 25px 25px;
    padding-left: 2rem;
    color: #F0F0F0;
  }

  app-product-listing .product-container .product-select select.relevance option {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: #666666;
  }
}

@media (min-width: 1200px) {}

@media only screen and (min-width: 1280px) {

  .home-slider .owl-item {
    width: 290px !important;
  }

  .home-slider .owl-item:not(:last-child) {
    margin-right: 20px !important;
  }

  .home-slider .post-tile .post-link {
    width: 68%;
  }

  .products-container .products-holder-main .products-holder .product-column,
  .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
    width: 31.58%;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 288px;
  }

  .footer .powered-link-cont {
    margin-left: 26px;
  }

  .footer .copyright-cont {
    margin-top: 26px;
  }

  .related-products .custom-container .container,
  .product-detail-container,
  .custom-container.cart-container,
  .custom-container.checkout {
    max-width: 1280px;
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important;
  }


  .custom-container.checkout {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 1.75rem !important;
    padding-bottom: 4px !important;
  }

  .custom-container.cart-container {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .product-detail-container .product-carousel-cont {
    flex-basis: 53%;
    max-width: 53%;
  }


  .product-detail-container .product-holder .product-inner {
    flex-basis: 43.15%;
    max-width: 43.15%;
    margin-left: 1.813rem;
    padding-right: 0;
    padding-left: 0;
  }

  body[data-pagetype="product"] .related-products .related-products-holder .rel-product-col {
    width: 23.5%;
    margin-right: 1.417rem;
  }
  body[data-pagetype="product"] .related-products .related-products-holder .rel-product-col:last-child{
    margin-right: 0;
  }
  .cart-left-cont {
    padding-right: 0;
    flex-basis: 55.9%;
    max-width: 55.9%;
    margin-right: 9rem;
  }

  .cart-right-cont {
    padding: 0;
    flex-basis: 30.19%;
    max-width: 30.19%;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-image-cont {
    margin-right: 8px;
    max-width: 24.9%;
    flex-basis: 24.9%;
    padding-right: 0 !important;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-7 {
    flex-basis: 38.5%;
    max-width: 38.5%;
    padding: 0;
    margin-right: 38px;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-2 {
    padding: 0;
    flex-basis: 14.82%;
    max-width: 14.82%;
    margin-right: 20px;
  }
  header.header .head-links li .add-to-basket .dropdown-menu .btn{
    font-family: var(--secondary-font);
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
    border-radius: 3px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 1rem;
  }
  header.header .head-links li .add-to-basket .dropdown-menu:after {
    right: 7px;
  }
  header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont{
    height: auto;
    min-height: auto;
  }
  .custom-container.checkout .left-panel {
    max-width: 47.21%;
    flex-basis: 47.21%;
    margin-right: 136px;
    padding-right: 0;
  }

  .custom-container.checkout .right-panel {
    max-width: 39.17%;
    flex-basis: 39.17%;
    padding: 0;
  }

  .checkout-container.complete .card.order-confirm-wrapper {
    min-width: 798px;
  }

  .checkout-container.complete .card-body .cart-data .order-item .order-item-left {
    max-width: 54.33%;
    flex-basis: 54.33%;
    padding-right: 0 !important;
  }

  .checkout-container.complete .card-body .cart-data .order-item .order-item-right {
    max-width: 44.666667%;
    flex-basis: 44.666667%;
    padding-left: 0 !important;
  }

  .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(1) {
    flex-basis: 18%;
    max-width: 18%;
  }

  .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(2) {
    flex-basis: 17%;
    max-width: 17%;
  }

  .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(3) {
    flex-basis: 19%;
    max-width: 19%;
  }

  .custom-container.checkout .card-body .order-item .order-item-left {
    max-width: 75%;
    flex-basis: 75%;
    padding-right: 0 !important;
  }

  .custom-container.checkout .card-body .order-item .order-item-right {
    max-width: 25%;
    flex-basis: 25%;
    padding-left: 0 !important;
  }

  .product-select .form-group {
    width: 45%;
  }
  .footer .copyright-cont .powered-by{
    padding: 2rem;
  }
}

@media (min-width: 1400px) {}
