:root{
    --primary-bg-color: #51534A;
    --secondary-bg-color: #51534A;
    --primary-font: 'Butler';
    --primary-reg-font-weight: 400;
    --primary-med-font-weight: 400;
    --primary-semibold-font-weight: 400;
    --primary-bold-font-weight: 400;
    --primary-line-height-delta: 8px;
    --secondary-font: 'HKGrotesk';
    --secondary-light-font-weight: 300;
    --secondary-reg-font-weight: 400;
    --secondary-med-font-weight: 600;
    --secondary-semibold-font-weight: 600;
    --secondary-bold-font-weight: 700;
    --secondary-line-height-delta: 4px;
    --font-size-xs-small: 10px; /*should remain constant*/
    --font-size-xx-small: 12px; /*should remain constant*/
    --font-size-x-small: 14px; /*should remain constant*/
    --font-size-small: 16px; /*should remain constant*/
    --font-size-medium: 18px; /*should remain constant*/
    --font-size-large: 24px; /*should remain constant*/
    --font-size-x-large: 34px; /*should remain constant*/
    --primary-color: #000000;
    --secondary-color: #6D6D6D;

    --desktop-logo-width: 147px;
    --tablet-logo-width: 151px;
    --mobile-logo-width: 119px;

    --listing-img-xxl: 344px;
    --listing-img-xl: 304px;
    --listing-img-lg: 233px;
    --listing-img-lg-down: 326px;
    --listing-img-md-down: 242px;
    --listing-img-sm-down: 182px;
    --listing-img-xs-down: 163px;

    --wishlist-img-lg: 223px;
    --wishlist-img-xl: 268px;
    --wishlist-img-xxl: 290px;

    --nav-top: 98px;
    --nav-top-md: 101px;
    --list-arrow-top: 35%;

    --sidebar-input-mt: 0; /*default 0*/
    --sidebar-input-mt-sf: 4px; /*default 4px*/
    --product-input-mt: 0; /*default 0*/
    --product-input-mt-sf: 0; /* default 0 */
    --pro-multiselect-pt: 4px; /*default 4px*/
    --product-input-mt-mob: -2.5px; /*default -2.5px*/

    --checkout-formcontrol-pt: 10px; /*default 10px*/
    --formcontrol-pt: 6px; /*default 6px*/
    --badge-pb: 0; /*default 0*/

    --cart-qty-pt: 0; /*default 0*/
    --cart-qty-pt-mob: 1px; /*default 1px*/

    --desktop-header-pt: 47px; /*default 47px */
    --desktop-header-pb: 54px; /*default 54px */
    --mobile-header-pt: 20px; /*default 20px */
    --mobile-header-pb: 20px; /*default 20px */

    --bg-color-light: #EDEDED;
    --white-color: #ffffff;
    --border-color: #D9D9D9;
}
