:root{
    --primary-font: 'Avenir';
    --secondary-font: Arial;
    --text-color-light: #6D6D6D;
    --link-btn-color: #000000;
}
@font-face {
    font-family: 'Avenir';
    src: url('https://bitbucket.org/TSTechsembly/jscss/raw/da06963d0c6c2fd7f765cf732d0029ee6bd5399d/137-pillars/fonts/avenir/avenirltstd-roman.woff2') format('woff2'),
         url('https://bitbucket.org/TSTechsembly/jscss/raw/da06963d0c6c2fd7f765cf732d0029ee6bd5399d/137-pillars/fonts/avenir/avenirltstd-roman.woff') format('woff'),
         url('https://bitbucket.org/TSTechsembly/jscss/raw/da06963d0c6c2fd7f765cf732d0029ee6bd5399d/137-pillars/fonts/avenir/avenirltstd-roman.ttf') format('truetype');
    font-style: normal;
}
body {
    background-color: #FFFFFF;
    color: var(--link-btn-color);
    font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
}
a,
a:hover,
a:focus  {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
    text-decoration: none;
}
p {
    color: #6D6D6D;
    font-family: var(--primary-font);
}

.wrapper header.header {
    border-bottom: none;
    margin-bottom: 0;
}
.wrapper header.header .row.spacing {
    padding: 0 1.875rem;
}
header.header .logo img {
    width: 174px;
    height: auto;
}
.wrapper header.header .menu-holder {
    margin-top: 0;
    margin-bottom: .5rem
}
header.header .head-links li a {
    padding: 0.625rem 0.5rem 0.125rem;
}

header.header .head-links li .add-to-basket .cart-qty {
    font-size: 0.6875rem;
    line-height: 1rem;
    height: 15px;
    width: 15px;
    top: 20px;
    right: 2px;
    padding-right: 0;
    padding-top: 0;
}
.wrapper header.header .menu-holder li a {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding: 20px 1.250rem 16.42px;
}
header.header .menu-holder>li {
    margin-right: 2.3125rem;
}
header.header .menu-holder>li>div {
    display: none;
}
header.header .search .search-item-form .nav-search-field {
    background-color: #EFEFEF !important;
    border-radius: 0;
}
header.header .search .search-item-form .nav-search-field::placeholder {
    opacity: 0;
    visibility: hidden;
}
header.header .shipping li img {
    width: 25px;
}
header.header .shipping li {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.96px;
    color: #000000;
}
header.header .shipping li .dropdown a {
    color: #000;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    pointer-events: none;
}
header.header .shipping li .dropdown a:after {
    display: none;
}
.head-links .nav-item img[alt="wishlist"] {
    max-width: 17px;
    width: auto;
    height: auto;
}
.head-links .nav-item img[alt="cart"],
.head-links .nav-item img[alt="user-profile"] {
    max-width: 16px;
    width: auto;
    height: auto;
    max-height: 16px;
}

/* cart dropdown */

header.header .head-links li .add-to-basket .dropdown-menu .checkout-details {
    margin-bottom: 1rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
    min-height: auto !important;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price {
    font-size: 14px;
    font-family: var(--primary-font);
    margin-bottom: 0 !important;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}


/* default-breadcrumb */
.default-breadcrumb li.breadcrumb-item a,
.default-breadcrumb li.breadcrumb-item {
    color: #666666;
    font-weight: 400;
    font-size: 12px;
    font-family: var(--secondary-font);
    line-height: 16px;
    letter-spacing: 0.5px;
}
.default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before {
    padding-left: 0;
}
.custom-container h1.breadcrumb-heading {
    font-weight: 800;
    font-size: 14px;
    font-family: var(--primary-font);
    line-height: 18px;
    letter-spacing: 0.5px;
    padding-bottom: 4px;
}

/* sidebar */
.products-container .main-sidebar {
    margin-top: 5px;
    width: 24%;
    padding-right: 50px;
}
.sidebar-widget .result-text p {
    color: #000;
    font-weight: 800;
    font-size: 13px;
    font-family: var(--primary-font);
    line-height: 18px;
    letter-spacing: 0.5px;
}
.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder a {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--primary-font);
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder a {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
    visibility: hidden;
    opacity: 0;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
    border-color: #FFFFFF;
}

.product-select .form-group.sort-cont label {
    color: #666666;
    font-weight: 400;
    font-size: 12px;
    font-family: var(--secondary-font);
    line-height: 16px;
    letter-spacing: 0.5px;
}
.product-select .form-group>select.form-control.relevance {
    background-color: #F0F0F0;
    border: 0.920833px solid #EDEDED;
    border-radius: 0px;
    height: 30px;
}
.home-banner h2.banner-title {
    display: none;
}
.home-banner h1.banner-heading {
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 30px !important;
    right: 30px !important;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-banner h1.banner-heading .sub-head{
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 20px !important;
    margin-top: 10px;
}

/* bestsellers-slider style begins */
.home-slider.experience-slider .custom-container .section-title,
.home-slider.bestsellers-slider .custom-container .section-title {
    display: block;
}
.home-slider.bestsellers-slider .post-tile .post-link {
    color: #000000;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    padding: 0 25px;
    text-transform: uppercase;
    width: 100%;
}
.home-slider.bestsellers-slider .post-tile .post-tile-link:hover .post-link {
    color: var(--text-color-light);
}
.home-slider.bestsellers-slider .carousel-container {
    padding: 1.875rem 0.9375rem 3.25rem;
}

/* home-slider section begins */

.home-slider.experience-slider .custom-container .section-title,
.home-slider.bestsellers-slider .section-title {
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: var(--primary-font);
    margin-top: 60px;
    margin-bottom: 10px;
}
.home-slider .carousel-container {
    padding: 0 0.9375rem 3.75rem;
}
.home-carousel .owl-stage {
    justify-content: center;
}
.home-slider .home-carousel .owl-stage .owl-item {
    /* width: 290px !important;
    margin-right: 20px !important; */
}
.home-slider .post-tile .post-link {
    color: #000000;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}
.home-slider.experience-slider .post-tile .post-link {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: auto;
    color: #fff;
    padding: 0;
}
.home-slider .post-tile .post-tile-link:hover .post-link {
    color: var(--text-color-light);
}
.home-slider.experience-slider .custom-container .carousel-container {
    padding-top: 30px;
}
.home-banner.pool-banner {
    margin-bottom: 60px;
}
.home-banner.pool-banner,
.home-banner.suit-banner {
    padding: 0 30px;
}
.promo-section.featured-vendors-area .promo-holder .promo-box .promo-content .promo-desc,
.home-banner.pool-banner h1.banner-heading .sub-head,
.home-banner.suit-banner h1.banner-heading .sub-head {
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 18px !important;
    display: inline-block;
    padding: 0.375rem 1.03125rem;
    font-family: var(--primary-font);
}
.home-banner.pool-banner h1.banner-heading .sub-head {
    display: none;
}
.home-banner.suit-banner h1.banner-heading {
    display: none;
}

/* featured-vendors-area styles begin */
.promo-section.featured-vendors-area {
    padding: 0 15px;
    margin-bottom: 60px;
}
.promo-section.featured-vendors-area .banner-title {
    display: none;
}
.promo-section.featured-vendors-area .promo-holder .promo-box:first-child {
    margin-right: 1.875rem;
}
.promo-section.featured-vendors-area .promo-holder .promo-box .promo-content {
    left: 30px;
    bottom: 45px;
    top: auto;
}
.promo-section.featured-vendors-area .promo-holder .promo-box .promo-content .promo-title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    font-family: var(--primary-font);
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.featured-client {
    display: none;
}
.sign-up-section {
    display: none;
    background-color: #eeeeee;
    padding: 98px 0;
}
.sign-up-section h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E1E1E;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 20px !important;
}
.sign-up-section .sign-up-container .signup-text {
    display: none;
}
.sign-up-section .sign-up-container .sign-up-form {
    margin-bottom: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form input::placeholder {
    opacity: 0;
    visibility: hidden;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}

/* product listing page */

.product-select .form-group.sort-cont label {
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--primary-font);
  line-height: 16px;
  letter-spacing: 0.5px;
}

.product-select .form-group>select.form-control.relevance {
  background-color: #F0F0F0;
  border: 0.920833px solid #EDEDED;
  border-radius: 0px;
  height: 30px;
}

.custom-container.product-container {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

body[data-pagetype="category"] .custom-container.product-container .product-text{
  display: none;
}
.custom-container.product-container .product-select {
  margin-right: 0;
}

.products-container .products-holder-main {
  width: 76%;
}

.products-container .products-holder-main .products-holder {
  justify-content: space-between;
}

.products-container .products-holder-main .products-holder .product-column {
  width: 32.25%;
}

.products-container .products-holder-main .products-holder .product-column,
.products-container .products-holder-main .products-holder i[aria-hidden="true"] {
  margin: 0;
}

.products-container .products-holder-main .products-holder .product-column .product-list {
  margin-bottom: 50px;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
  min-height: 288px;
  max-height: 288px;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
  max-height: 100%;
  width: 100%;
}

.products-container .products-holder-main .products-holder .product-column .product-tags {
  display: none;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
  display: none;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
  width: 90%;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
  width: 10%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
	width: 18px;
	height: auto;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title h3,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
  font-weight: 400;
  font-size: 12px;
  font-family: var(--primary-font);
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #666666;
}

/*Product detail page*/
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: var(--primary-bg-color);
}
.product-detail-container .personalise-form .form-group .buy-btn {
    display: none;
}

.container.custom-container .default-breadcrumb .arrow-breadcrumbs,
.container.product-detail-container .default-breadcrumb {
  margin-bottom: 2rem;
}
.container.product-detail-container .default-breadcrumb {
  margin-top: 10px;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
  margin-bottom: 15px;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
  width: 12%;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews{
  margin-bottom: 11px;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #000000;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img{
  width: 27px;
  height: 25px;
}
.product-detail-container .product-holder .product-detail .shipping {
  display: none;
}

.product-detail-container .product-holder .product-detail {
  height: auto;
}

.product-detail-container .product-holder .product-order .tab-content {
  border: none;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding: 0;
  margin-top: 2rem;
   font-family: arial; /* added 16 sep 2022 by TC */
    font-size: 13px; /* added 16 sep 2022 by TC */
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane .row .col-lg-10 {
    max-width: 100% !important;
    flex-basis: 100% !important;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane .productDesc,
.product-detail-container .product-holder .product-order .tab-content .tab-pane .detail-text,
.product-detail-container .product-holder .product-order .tab-content .tab-pane .delivery-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  /* letter-spacing: 1px;
  color: #666666;*/
}

.product-detail-container .product-holder .product-order .nav-tabs,
.product-detail-container .product-holder .product-order .tab-content {
    border: none;
    background-color: transparent;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item:nth-child(2) {
    display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item a h4 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #666666;
    text-align: center;
    width: 100px;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    color: #000000;
    text-align: center;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    border-bottom: 1px solid #666666;
    padding: 0.5rem 0;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    color: #000000;
    border-bottom: 1px solid #000000
}

.product-detail-container .product-holder .product-inner .personalise .productDesc div:nth-child(1) {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 1px;
    color: #000000;
}

.product-detail-container .personalise-form .form-group .form-control,
.product-detail-container .personalise-form .delivery-form .delivery-fields {
    border-color: #666666;
    border-radius: 2px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 1.0625rem;
    padding-right: 1rem !important;
    color: #666666;
}

.product-detail-container .personalise-form .form-group label,
.product-detail-container .personalise-form .delivery-form .title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #000000;
}

.product-detail-container .personalise-form .form-group select.form-control {
    background-image: url('https://static.techsembly.com/CK3MjHCGDBsosQbrb3LAdU94');
    background-position-x: 96%;
    max-height: 54px;
}

.product-detail-container .personalise-form .form-group {
    margin-bottom: 3px;
}

.product-detail-container .personalise-form .form-group.add-basket {
    margin: 0;
}

.product-detail-container .personalise-form .form-group .order-input {
    height: 52px;
    width: 17.11%;
    margin-right: 1rem;
    text-align: left;
}

.shipping-form-container .exist-address-wrapper .card .btn.address-btn,
.product-detail-container .personalise-form .form-group .order-btn {
    border-radius: 5px;
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    height: 52px;
    line-height: 18px;
    text-transform: uppercase;
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn {
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
}

.product-detail-container .preview-thumbnail {
    margin-top: 1rem;
}

.product-detail-container .product-holder .share-link {
    display: none !important;
}

.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
    border: 1px solid #666666 !important;
    border-radius: 0.125rem !important;
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-']:hover {
    background-color: transparent !important;
    opacity: 1;
    cursor: pointer;
}
.product-carousel-desktop .owl-nav .owl-prev {
    background-image: url(https://static.techsembly.com/nyAd6PXdxLHxSRX4p9Uv22xk) !important;
}
.product-carousel-desktop .owl-nav .owl-next {
    background-image: url(https://static.techsembly.com/Z1MZX9cnCtB9x52nRGMnnVVA) !important;
}
.product-carousel-desktop .owl-nav .owl-prev:hover {
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    background-image: url(https://static.techsembly.com/nyAd6PXdxLHxSRX4p9Uv22xk);
}
.product-carousel-desktop .owl-nav .owl-next:hover {
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    background-image: url(https://static.techsembly.com/Z1MZX9cnCtB9x52nRGMnnVVA);
}

body[data-pagetype='product'] .related-products {
  border-top: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

.related-products .related-products-holder .related-products-image {
  margin-bottom: 7px;
  height: 288px;
}

.related-products .related-products-holder .product-content .product-title a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.related-products .related-products-holder .product-content .product-rating {
  display: none;
}

.related-products .related-products-holder .product-content .product-title {
  width: 100%;
  margin-bottom: 0;
}

.related-products .related-products-holder .product-content .more-items-product-prices {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #666666;
}

.checkout .shipping-form-container .order-sum-heading,
.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.cart-container .breadcrumb-heading,
.custom-container.cart-container .order-sum-heading {
    color: #000000 !important;
    font-family: var(--primary-font) !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.375rem;
}
.checkout .shipping-form-container .order-sum-heading {
    margin-bottom: .75rem;
}
.order-totals-container .sub-total-holder .sub-total-item {
    padding-bottom: 1.5rem !important;
}
.order-totals-container .total-holder .order-total-item {
    padding-top: 0.825rem !important;
}

.default-breadcrumb li.breadcrumb-item a,
.default-breadcrumb li.breadcrumb-item,
.container .breadcrumb,
.container .breadcrumb li a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #666666;
}

.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a,
.arrow-breadcrumbs li.processed a {
  color: #000000;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
    padding-left: 0;
}

/* Cart and checkout page styles begin */

body[data-pagetype="cart"],
body[data-pagetype="checkout"] {
  background: #FCFCFC;
}

.custom-container.cart-container .vendor-items-cont .card {
  border: none;
  box-shadow: none !important;
  border-radius: 0;
  margin-bottom: 0 !important;
}

.custom-container.cart-container .vendor-items-cont .flag-cont {
  display: none !important;
}

.custom-container.cart-container .vendor-items-cont {
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 6px;
    margin-bottom: 2rem;
    padding-top: 8px !important;
    margin-top: 22px;
}
.custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .vendor-heading span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.custom-container.cart-container .vendor-items-cont .card .card-header {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.cart-item.new {
  padding-bottom: 4px !important;
}

.cart-item.new .item-details-cont .item-details .item-name {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 4px;
}

.cart-item.new .item-details-cont .gift-msg-area {
  padding-top: 15px !important;
}

.custom-container.cart-container .card .card-body .item-details-cont .pro-badges-cont .pro-badge {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.cart-item.new .item-details-cont .item-details .unit-price,
.cart-item.new .flex-basis-auto .item-detai {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.cart-item.new .item-details-cont .gift-msg-area .add-gift-msg a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  color: #666666;
}

.cart-item.new .flex-basis-auto .item-detai {
  color: #000000;
}

.cart-item.new .item-details-cont .item-details .unit-total-price {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
}

.cart-item.new .item-details-cont .gift-msg-area .form-control {
  padding: 10px 13px;
  width: 234px;
  height: 77px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px !important;
  line-height: 25px !important;
  color: rgba(102, 102, 102, 0.6) !important;
  border-radius: 0px !important;
  text-transform: capitalize;
  border: 1px solid rgba(102, 102, 102, 0.6);
  max-height: 250px;
}

.cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-label {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.custom-container.cart-container .vendor-items-cont a.del-item-link {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration-line: underline;
  color: #666666;
}

.cart-item.new .item-details .item-qty-cont .item-dec,
.cart-item.new .item-details .item-qty-cont .item-inc {
  background-color: #EDEDED !important;
}

.container.custom-container .card.order-summary-cont {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px
}

.custom-container.cart-container .card.order-summary-cont {
    background: #EEEEEE;
    border-radius: 8px;
}
.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
    padding-top: 4px !important;
    border-bottom: 1px solid #D9D9D9;
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  font-family: var(--primary-font);
}

.container.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-family: var(--primary-font);
}

.container.custom-container.cart-container .card.order-summary-cont .card-body-inner {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #666666;
}

.custom-container.cart-container .cart-login-cont {
    background-color: #EEEEEE !important;
    border-radius: 0px 0px 8px 8px;
}

.custom-container.cart-container .cart-login-cont .login-note {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #666666;
}

.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
  padding-top: 2.5rem;
  margin-bottom: 1.125rem !important;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.custom-container.cart-container .cart-login-cont form input.form-control {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px !important;
  line-height: 18px;
  letter-spacing: 1px;
  color: #666666;
}

.cart-login-cont form.cart-login-form .forget-psw-link {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
  text-decoration: none;
}

form.cart-login-form .form-submit-cont {
  border-top: 1px solid #D9D9D9;
  border-bottom: none;
  margin-bottom: 1rem;
}

.container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 1;
  border-radius: 5px;
}

.custom-container.cart-container .cart-login-cont .checkout-note {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.custom-container.cart-container .card .cart-login-cont .checkout-desc-cont {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: #383838;
}

.custom-container.cart-container .btn.continue-btn-new {
  font-family: var(--primary-font);
  border-color: #000000;
  border-radius: 3px;
  background-color: transparent;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  height: 3.5rem;
  letter-spacing: 1px;
  padding: 1.25rem 1.125rem 1rem;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.container.custom-container.cart-container .cart-login-cont .guestCheckout-form #guest-btn img {
  display: none;
}

.custom-container.checkout-footer {
  display: none;
}

.checkout-copyright-cont {
  padding: 14px 15px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #212322;
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc,
.order-summary-cont .order-summary-inner .vendor-items-holder .vendor-order-details .order-item .item-price,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.order-summary-cont .order-totals-container {
    background: #EEEEEE;
    border-radius: 0px 0px 8px 8px;
    margin-top: 24px;
}
.order-summary-cont .order-totals-container .sub-price,
.order-summary-cont .order-totals-container .sub-total-desc {
    color: #666666;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}
.order-summary-cont .order-totals-container .total-holder .order-total-item .total-price,
.order-summary-cont .order-totals-container .total-holder .order-total-item .total-desc {
    color: #000000;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
}
.container.custom-container .form-control {
    font-family: var(--primary-font);
    letter-spacing: 1px;
    color: #666666 !important;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 4px !important;
    font-size: 1rem !important;
    line-height: 22px !important;
}

.shipping-form-container .checkbox-cont input:checked~.checkmark {
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
}
.shipping-form-container .form-group .btn.btn-submit {
    border-radius: 3px;
    background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* shipping details page v2 */
.shipping-form-container .delivery-methods-cont .billing-heading,
.shipping-form-container .shipping-form .left-panel .shipping-form-cont-inner .billing-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.shipping-form-container .delivery-methods-cont .counter,
.shipping-form-container .shipping-form .left-panel .shipping-form-cont-inner .counter {
    background-color: var(--primary-bg-color);
}
.delivery-methods-cont .card .card-body .card-row span,
.delivery-methods-cont .card .card-body .card-row {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.delivery-methods-cont .vendor-cards-holder {
    padding-top: 0.125rem !important;
}
.delivery-methods-cont .card.contact-card.mb-4 {
    margin-bottom: 32px !important;
}
.delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
    font-family: var(--primary-font);
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty,
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .item-name {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty {
    text-transform: uppercase;
}
.delivery-methods-cont .vendor-cards-holder .card .card-body .order-item .item-desc .badge-stroke {
    color: #666666;
    background: #EDEDED;
    font-family: var(--primary-font);
    border-radius: 0px 15px 15px 0px;
    padding: 6px 8px 6px 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 12px;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
    color: #000;
    font-family: var(--primary-font);
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .text-underline {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #6D6D6D;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .edit-item-new {
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 18px;
}
.order-summary-cont .order-totals-container .sub-total-holder {
    border-bottom: 1px solid #D9D9D9 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont h3 {
    line-height: 22px !important;
}
.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont .label-email .recipent-info-edit {
    border: 1px solid #CEB780 !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label {
    font-size: 16px !important;
    line-height: 22px !important;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .form-group {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val,
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #666666;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container .delivery-dropdowns-cont .btn-update {
    background-color: var(--primary-bg-color);
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-qty-cont .item-dec,
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-qty-cont .item-inc {
    background-color: #EEEEEE !important;
}

/* payment screen */
.payment-form-container .card.address-card.blue-light-bg,
.payment-form-container .card.address-card.exlc-offer,
.payment-form-container .payments-methods-cont .card.blue-light-bg {
    background: #EDEDED;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 6px;
}
.payment-form-container .card.address-card.exlc-offer {
    margin-top: 32px !important;
}
.payment-form-container .card.address-card.exlc-offer .checkbox-note {
    color: #00172F;
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    margin-top: 0;
}
.payment-form-container .card.address-card .card-row label,
.payment-form-container .card.address-card .card-row {
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #212322;
}
.payment-form-container .payments-methods-cont .checkbox-cont .checkbox-note {
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #212322;
}
.checkout .payment-form-container .payments-methods-cont .card {
    border: 0.125rem solid var(--link-btn-color);
}
.checkout .payment-form-container .radio-container input:checked~.checkmark {
    border-color: var(--link-btn-color);
    background-color: var(--link-btn-color);
}
.checkout .payment-form-container .radio-container input:checked~.checkmark:after {
    background: var(--link-btn-color);
    top: 6px !important;
}
.payment-form-container .radio-container .pay-method-name {
    margin-top: 0 !important;
}
.payment-form-container .order-sum-heading,
.payment-form-container .address-heading,
.custom-container .payment-form-container h1.breadcrumb-heading {
    font-weight: 400;
    font-size: 20px !important;
    font-family: var(--primary-font);
    line-height: 27px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.payment-form-container .payment-form .btn.btn-submit {
    background: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
 .order-totals-container .promo-cont .promo-note a {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
 }
 .order-summary-inner .vendor-order-details .inc-taxes .tax-desc,
 .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
 .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price {
    color: #666666;
    font-family: var(--primary-font);
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px;
    letter-spacing: 1px;
 }
 .payment-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: var(--link-btn-color) !important;
    border-color: var(--link-btn-color) !important;
    min-width: 21px;
    min-height: 21px;
 }
 .payment-form-container .checkbox-cont .checkmark::after {
    left: 0 !important;
 }
.payment-form-container .payments-methods-cont .section-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 32px;
}
.custom-container.checkout .promo-cont .btn-primary {
    background: var(--primary-bg-color);
    text-transform: uppercase;
}
.payment-form-container .payments-methods-cont,
.payment-form-container .section-cont {
    border-color: #D9D9D9 !important;
}
.container.custom-container .show-pay-details .form-control {
    border: 2px solid #212322 !important;
}
.payment-form-container .card-details-cont h2.section-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 2rem;
}
.payment-form-container .password-note {
    color: #6D6D6D;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}

.shipping-form-container .exist-address-wrapper .card a {
    color: var(--link-btn-color) !important;
}
.shipping-form-container .left-panel .shipping-form-cont-inner {
    margin-top: 8px;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-img {
    border-radius: 0 !important;
}

/* product type modal */
.modal-popup .modal-container .del-options-form,
.modal-popup .modal-footer {
  font-family: var(--primary-font) !important;
}

.modal-popup .modal-container .del-options-form .modal-title {
  font-family: var(--primary-font) !important;
  font-size: 1.313rem;
}

.modal-popup .modal-container .del-options-form .radio-container input:checked~.checkmark {
  background-color: var(--link-btn-color) !important;
}

.modal-popup .modal-container .del-options-form .radio-container .checkmark {
  border: 1px solid var(--link-btn-color) !important;
}

.modal-popup .modal-container .del-options-form .radio-container .checkmark::after {
  background: var(--link-btn-color) !important;
}

.modal-popup .modal-container .del-options-form .modal-footer .footer-btns-cont .btn {
  font-family: var(--link-btn-color) !important;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.8px;
}

.modal-popup .modal-container .del-options-form .modal-footer .footer-btns-cont .btn.btn-submit {
  border-color: var(--link-btn-color) !important;
  background-color: var(--link-btn-color) !important;
}

/*checkout complete page*/
.checkout-container.complete .col-12.px-md-3.py-4 {
  padding-top: 0 !important;
}

.checkout .checkout-container.complete .order-confirm-top {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background: #FCFCFC;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.checkout .checkout-container.complete .card-footer {
  border-radius: 0 0 8px 8px;
}

.custom-container .checkout-container.complete .breadcrumb-heading {
  font-size: 24px !important;
  font-weight: 400;
  line-height: 28px !important;
  margin-bottom: 4px !important;
  text-transform: uppercase;
}

.checkout-container.complete .customer-note .del-content {
  margin-top: 1.5rem;
}

.checkout-container.complete .customer-note {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.custom-container .checkout-container.complete .section-cont {
  border-bottom: 1px solid #D9D9D9;
}

.custom-container .checkout-container.complete .card-body .order-data.section-cont {
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}

.checkout-container.complete .cart-data .order-item .item-img {
  display: flex;
  align-items: center;
  max-height: 100px;
}

.checkout-container.complete .card-body .order-data .order-column {
  align-items: start !important;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}

.checkout-container.complete .card-body .order-data .order-column .col-heading {
  font-weight: 400 !important;
}

.checkout-container.complete .card-body .order-data .order-column .col-desc {
  color: var(--link-btn-color);
}

.checkout-container.complete .card-body .cart-data {
  padding-bottom: 28px;
}

.checkout-container.complete .card-body .cart-data .order-item .item-desc {
    color: #000000;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;

}
.checkout-container.complete .card-body .cart-data .order-item .item-desc .attributes {
    color: #383838;
    opacity: 0.6
}

.checkout-container.complete .cart-data .order-item .item-desc .item-name {
  font-size: 16px !important;
  line-height: 20px !important;
}

.checkout-container.complete .card-body .cart-data .order-item .item-desc .item-brand {
  padding-top: 4px;
  font-family: var(--primary-font);
  color: #383838;
  opacity: 0.6;
}

.checkout-container.complete .card-body .cart-data .order-item .items-atts-cont {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #383838;
}
.checkout-container.complete .card-body .cart-data .order-item .items-atts-cont .receipient-email {
    color: #6D6D6D;
}

.checkout-container.complete .card-body .cart-data .order-item .item-price,
.checkout-container.complete .card-body .total-cont,
.checkout-container.complete .card-body .msg-cont .msg-inner {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px !important;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.checkout-container.complete .card-body .total-cont .text-right.total-price {
  font-size: 16px !important;
}

.order-confirm-wrapper .card-footer .card-footer-left {
  color: #000000;
  font-size: 16px;
  font-family: var(--primary-font);
}

.checkout-container.complete .card-body .shipping-data,
.order-confirm-wrapper .card-footer .card-footer-left a,
.order-confirm-wrapper .card-footer .card-footer-right a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #666666;
}
.order-confirm-wrapper .card-footer .card-footer-right a {
	pointer-events: none;
}
.order-confirm-wrapper .card-footer a {
  color: #666666;
}
.order-confirm-wrapper .card-footer .card-footer-left a,
.order-confirm-wrapper .card-footer .card-footer-right {
  color: #666666;
}

.order-confirm-wrapper .card-footer .backToHomeBtn a {
  background: var(--primary-bg-color);
  font-family: var(--secondary-font) !important;
  border-radius: 5px;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  margin-top: 28px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}
.checkout .checkout-container.complete .blue-light-bg {
  background-color: #fcfcfc;
}
.custom-container.checkout {
    padding-bottom: 4px !important;
}
.checkout-container.complete .order-item-inner-bottom .message-content,
.checkout-container.complete .order-item-inner-bottom .message-label {
    color: #666666;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
    color: #383838;
    opacity: 0.6;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details {
    padding-top: 0 !important;
}

.quantity-alert,
.msg-alert {
	background-color: var(--primary-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
    font-family: var(--primary-font);
}

/* footer styles begin */
footer.footer {
    background-color: #fff;
    border-top: 1px solid #E6E6E6;
    color: #fff;
    padding: 1.59375rem 0.9375rem;
    margin-top: 0;
}
.footer .footer-widget .widget-content {
    padding-top: 0 !important;
}
.footer .footer-widget .widget-content ul li {
    margin-bottom: 4px;
}
.footer .footer-widget .widget-title,
.footer .footer-widget .widget-content ul li a {
    color: var(--link-btn-color);
    font-weight: 500;
    font-size: 14px;
    font-family: var(--primary-font);
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px !important;
}
.footer .footer-widget:first-child .widget-title {
    display: none;
}
.footer .footer-widget:nth-child(2) .widget-title {
    display: none;
}
.footer .copyright-cont {
    margin-top: 40px;
}
.footer .copyright-cont .powered-by div:first-child {
    display: none;
}
.footer .copyright-cont .powered-by .powered-link-cont a,
.footer .copyright-cont .powered-by .powered-link-cont span {
    color: #1E1E1E;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.footer .copyright-cont .pay-methods-avail,
.footer .copyright-cont > div {
    padding-left: 0;
    padding-right: 0;
}
.footer .footer-widget .widget-content .social-links li {
    width: auto !important;
    margin-left: 25px;
}
.footer .footer-widget .widget-content .social-links li img {
    width: 20px;
}
.footer .footer-widget.widget-col-1 {
    flex-grow: 2;
}
.footer .footer-widget.widget-col-2 {
    flex-grow: 14;
}
.footer .copyright-cont .pay-methods-avail .meth-link img {
    max-width: 48px;
}
.footer-bottom {
    text-align: center;
    padding-top: 36px;
}
.footer-bottom a {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E1E1E;
}

@media (max-width: 1199.98px) {
    .payment-form-container .card.address-card .card-row label,
    .payment-form-container .card.address-card .card-row {
        font-size: 13px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 1366px) {
    .custom-container.checkout {
        padding: 0 30px !important;
    }
}

@media (max-width: 991.98px){
    header.header .mob-top-links .profile-icon,
    header.header .mob-top-links .wishlist-heart,
    .navbar-right .dropdown-flag {
        display: none !important;
    }
    header.header .logo {
        text-align: center;
        height: auto;
    }
    /* sidebar */
    nav#sidebar {
        height: calc(100% - 98px);
        top: 98px;
    }
    .mob-overlay {
        top: 98px;
    }
    nav#sidebar ul.accordian li.nav-item a.nav-link {
        font-weight: 400;
    }
    .wrapper header.header {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.53);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.53);
        margin-bottom: 20px;
    }

    .home-slider.experience-slider .custom-container .section-title,
    .home-slider.bestsellers-slider .section-title {
        margin-top: 30px;
    }
    .related-products .related-products-holder .related-products-image {
        height: auto;
    }
    .products-container .products-holder-main .products-holder .product-column,
    .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
        width: 46.25%;
    }
    .products-container .products-holder-main {
        width: 100%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list {
        margin-bottom: 18px;
    }
    .footer .mobile-footer .list-group .list-group-holder>a {
        text-transform: uppercase;
    }
    .footer .mobile-footer .footer-widget ul li a {
        color: #1E1E1E;
        font-weight: 500;
        font-size: 12px;
        font-family: var(--primary-font);
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 12px !important;
    }
}
@media (max-width: 767.98px) {
    header.header .mobile-menu {
        padding: 0 !important;
    }
    .wrapper header.header {
        margin: 0 0 30px;
    }
    .wrapper header.header .row.spacing {
        padding: 0 1rem !important;
    }
    header.header .logo {
        height: auto;
    }
    nav#sidebar {
        height: calc(100% - 74px);
        top: 74px;
    }
    .mob-overlay {
        top: 74px;
    }
    header .mob-top-links .cart-qty {
        line-height: 16px;
    }

    .custom-container .login-signup-tabs-cont form.login-form .btn.submit,
    form.signup-form .btn.submit {
        background-image: none;
    }
    .mob-custom-carosel {
        display: block !important;
    }
    .home-slider .post-tile {
        max-width: 45% !important;
        margin-bottom: 15px;
    }
    .home-slider.bestsellers-slider .post-tile .post-link {
        padding: 0;
    }
    .home-slider.bestsellers-slider .carousel-container {
        padding-bottom: 0;
    }
    .home-slider.experience-slider .custom-container .carousel-container {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .sign-up-section h2,
    .home-slider.experience-slider .custom-container,
    .home-slider.bestsellers-slider .custom-container {
        padding-left: 12px;
        padding-right: 12px;
    }
    .home-banner.pool-banner,
    .home-banner.suit-banner {
        padding: 0 24px;
    }
    /* home page end */

    .delivery-methods-cont .vendor-cards-holder .card .order-item .item-img {
        margin-right: 10px !important;
    }
    .delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty,
    .delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .item-name {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0px;
    }
    .delivery-methods-cont .vendor-cards-holder .card .card-body .order-item .item-desc .badge-stroke {
        margin-top: 5px;
        font-size: 12px;
        line-height: 14px;
    }
    .card-header,
    .card.vendor-card .card-body .order-item,
    .order-summary-cont .order-summary-container {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .custom-container.cart-container .vendor-items-holder {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .custom-container.cart-container .vendor-items-cont .card.vendor-items-holder .card-header .vendor-heading span {
        font-size: 12px;

    }

    .custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading {
        max-width: 150px;
    }

    .custom-container.cart-container .vendor-items-cont .card .card-header {
        font-size: 10px;
    }

    .shipping-form-container .checkbox-cont .checkmark {
        width: 24px;
        height: 20px;
    }

    .shipping-form-container .checkbox-cont .checkmark::after {
        top: 2px !important;
        left: 3px !important;
    }

    .order-summary-cont .order-totals-container,
    .order-totals-container .total-holder .order-total-item .total-desc,
    .order-summary-cont .order-totals-container .total-holder .total-price {
        font-size: 13px;
    }

    .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc,
    .order-summary-cont .order-summary-inner .vendor-items-holder .vendor-order-details .order-item .item-price,
    .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-desc,
    .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price {
        font-size: 14px;
    }

    .order-summary-cont .order-totals-container .sub-total-holder .sub-total-desc,
    .order-summary-cont .order-totals-container .sub-total-holder .sub-price {
        max-width: 50%;
        flex-basis: 50%;
    }

    .payment-form-container .card.address-card .card-body .row-head {
        max-width: 50%;
    }

    .checkout .payment-form-container .card-details-cont .address-card {
        padding: 0.5rem !important;
    }
    .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img,
    .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-img {
        margin-right: 8px !important;
    }
    .home-slider .post-tile .post-tile-link{
        height: auto !important;
    }
    .checkout-container.complete .card-body .cart-data .order-item .order-item-left {
        max-width: 75%;
        flex-basis: 75%;
        padding-right: 0 !important;
    }

    .checkout-container.complete .card-body .cart-data .order-item .order-item-right {
        max-width: 25%;
        flex-basis: 25%;
        padding-left: 0 !important;
    }

}

@media (max-width: 575.98px) {
    .checkout-container.complete .card-body .cart-data .order-item .order-item-left {
        max-width: 100%;
        flex-basis: 100%;
    }

    .checkout-container.complete .card-body .cart-data .order-item .order-item-right {
        max-width: 100%;
        flex-basis: 100%;
    }
    .checkout-container.complete .card-body .cart-data .order-item .items-atts-cont,
    .checkout-container.complete .card-body .cart-data .order-item .item-desc,
    .checkout-container.complete .cart-data .order-item .item-desc .item-name {
        font-size: 14px !important;
        line-height: 16px !important;
    }
}

@media (min-width: 768px) {
    .product-detail-container .tab-content.preview-pic {
        max-height: 635px;
        height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .home-banner h1.banner-heading {
        left: 31% !important;
        font-size: 20px;
    }
    .container.custom-container.cart-container .cart-login-cont .btn.btn-primary {
        font-size: 10px;
    }
}

@media (min-width: 992px) {
    header.header .logo {
        padding: 36px 0 36px;
    }
    header.header .head-links li .add-to-basket .dropdown-menu:after {
        right: 12px !important;
    }
    app-product-listing .product-container .product-select select.relevance {
        max-width: 183px;
        height: 30px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-repeat: no-repeat;
        background-position-x: 6px;
        background-position-y: 4px;
        background-size: 20px 20px;
        padding-left: 1.7rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    body[data-pagetype="category"] .custom-container.product-container{
        margin-top: 24px;
    }
    .product-detail-container {
        margin-top: 20px;
    }
    .related-products .productHeading {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 1.5rem;
    }
    .custom-container.cart-container .card .card-body .item-details-cont .pro-badges-cont .pro-badge,
    .delivery-methods-cont .vendor-cards-holder .card .card-body .order-item .item-desc .badge-stroke {
        font-size: 10px;
    }
    .delivery-methods-cont .vendor-cards-holder .card .order-item .order-item-right .col-lg-5 {
        max-width: 54%;
        flex-basis: 54%;
    }
    .products-container .products-holder-main {
        padding-top: 15px !important;
    }
    .custom-container.checkout .left-panel {
        max-width: 55%;
        flex-basis: 55%;
        margin-right: 30px;
        padding-right: 0;
    }

    .custom-container.checkout .right-panel {
        max-width: 38%;
        flex-basis: 38%;
        padding: 0;
    }
}

@media (min-width: 1280px){
    .products-container .products-holder-main .products-holder .product-column,
    .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
        width: 31.58%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 288px;
    }
    .product-detail-container .product-carousel-cont {
        flex-basis: 53%;
        max-width: 53%;
    }
    .product-detail-container .product-holder .product-inner {
        flex-basis: 43.15%;
        max-width: 43.15%;
        margin-left: 1.813rem;
        padding-right: 0;
        padding-left: 0;
    }
    .home-slider .owl-item {
        width: 290px !important;
    }
    .home-slider .owl-item:not(:last-child) {
        margin-right: 20px !important;
    }
    .home-slider .post-tile .post-link {
        width: 68%;
    }
    body[data-pagetype="product"] .related-products .related-products-holder .rel-product-col {
        width: 23.5%;
        margin-right: 1.417rem;
    }
    body[data-pagetype="product"] .related-products .related-products-holder .rel-product-col:last-child {
        margin-right: 0;
    }
    .related-products .custom-container .container,
    .product-detail-container,
    .custom-container.cart-container,
    .custom-container.checkout {
        max-width: 1280px;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    .cart-left-cont {
        padding: 0;
        flex-basis: 55.9%;
        max-width: 55.9%;
        margin-right: 9rem;
    }

    .cart-right-cont {
        padding: 0;
        flex-basis: 30.19%;
        max-width: 30.19%;
    }

    .cart-container .cart-item.new .flex-basis-auto .item-image-cont {
        margin-right: 8px;
        max-width: 24.9%;
        flex-basis: 24.9%;
        padding-right: 0 !important;
    }

    .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-7 {
        flex-basis: 38.5%;
        max-width: 38.5%;
        padding: 0;
        margin-right: 38px;
    }

    .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .cart-container .cart-item.new .flex-basis-auto .item-details-cont .item-details .col-lg-2 {
        padding: 0;
        flex-basis: 14.82%;
        max-width: 14.82%;
        margin-right: 20px;
    }

    /* checkout pages */
    .custom-container.checkout .left-panel {
        max-width: 47.21%;
        flex-basis: 47.21%;
        margin-right: 136px;
        padding-right: 0;
    }

    .custom-container.checkout .right-panel {
        max-width: 39.17%;
        flex-basis: 39.17%;
        padding: 0;
    }

    .checkout-container.complete .card.order-confirm-wrapper {
        min-width: 798px;
    }

    .checkout-container.complete .card-body .cart-data .order-item .order-item-left {
        max-width: 54.33%;
        flex-basis: 54.33%;
        padding-right: 0 !important;
    }

    .checkout-container.complete .card-body .cart-data .order-item .order-item-right {
        max-width: 44.666667%;
        flex-basis: 44.666667%;
        padding-left: 0 !important;
    }

    .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(1) {
        flex-basis: 18%;
        max-width: 18%;
    }

    .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(2) {
        flex-basis: 17%;
        max-width: 17%;
    }

    .custom-container .checkout-container.complete .card-body .order-data.section-cont .col-12:nth-child(3) {
        flex-basis: 19%;
        max-width: 19%;
    }

    .custom-container.checkout .vendor-cards-holder .card-body .order-item .order-item-left {
        align-items: flex-start !important;
    }

    .custom-container.checkout .vendor-cards-holder .card-body .order-item .order-item-right .text-center {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .delivery-methods-cont.mt-3 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 32px !important;
    }
    .delivery-methods-cont.pt-4 {
        padding-top: 16px !important;
    }

}
