:root{
    --primary-font: 'Calibre-Regular';
    --secondary-font: 'OPTIwtcGoudy-Regular';
    --third-font: 'Calibre-Medium';
    --text-color-light: #6D6D6D;
    --link-btn-color: #000000;
    --btn-bg-color: #212322;
}
html {
   overflow-x: hidden;
}
body {
    background-color: #FFFFFF;
    color: var(--link-btn-color);
    font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--link-btn-color);
    font-family: var(--secondary-font);
}
a,
a:hover,
a:focus  {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
    text-decoration: none;
}
p {
    color: #6D6D6D;
    font-family: var(--primary-font);
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active {
    background-color: var(--primary-bg-color);
}
/* header section style begin here */
header.header {
    background-color: #ffffff;
    border-bottom: none;
    margin-bottom: 0;
}
header.header .shipping li a.dropdown-toggle:after {
    display: none;
}
header.header .shipping li,
header.header .shipping li a.dropdown-toggle {
  color: var(--text-color-light);
  line-height: 1.1875rem;
  pointer-events:    none;
}
header.header .logo img {
  height: auto;
  width: 171px;
}
header.header .menu-holder li a {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
}
header.header .menu-holder li a.main-category {
    padding-top: 1rem;
    text-transform: uppercase;
}
header.header .head-links li a#cart-bag {
    padding-right: 0;
}
header.header .head-links li .cart-qty,
header .mob-top-links .cart-qty {
    padding-top: 0.25rem;
}
header.header .search .search-item-form .nav-search-field::placeholder {
    font-size: 0;
}
.mob-top-links .dropdown-flag {
    display: none;
}
/* home page style begin here */
.home-banner h2.banner-title {
    display: none;
}
.home-slider .section-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.home-slider .post-tile .post-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    width: auto;
}
.home-slider.bestsellers-slider .post-tile {
    position: relative;
}
.home-slider.bestsellers-slider .post-tile .post-link {
    color: #fff;
    left: 1rem;
    position: absolute;
    bottom: 0.375rem;
    text-align: left;
}
.home-slider.bestsellers-slider .post-tile .post-tile-link:hover .post-link,
.home-slider.bestsellers-slider .post-tile .post-tile-link:focus .post-link{
    color: #fff;
}
.featured-client {
    display: none;
}
.sign-up-section {
    padding-top: 48px;
    padding-bottom: 10px;
}
.sign-up-section h2 {
    color: #6D6D6D;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.8125rem;
    letter-spacing: 0.01em;
    margin: 0 0 10px !important;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    background-color: #ffffff;
    border-radius: 0;
    height: 51px;
    margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form input::placeholder {
    font-size: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    background-color: var(--link-btn-color);
    color: #ffffff;
    font-family: var(--third-font);
    font-weight: 500;
    font-size: 0.875rem;
    height: 51px;
    line-height: 1.0625rem;
    letter-spacing: 1.25px;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
}
.sign-up-section .sign-up-container .signup-text {
    width: auto;
    padding: 0 15px;
}
.sign-up-section .sign-up-container .signup-text p {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: 34px;
}
/* product listing page style */
.default-breadcrumb li,
.default-breadcrumb li a,
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
    color: var(--text-color-light);
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.processed a {
    color: #212322;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
    padding-top: 0.125rem;
    padding-left: 0;
}
.breadcrumb-heading {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.product-container .default-breadcrumb li,
.product-container .default-breadcrumb li a {
    color: #000;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.product-container .product-select {
    margin-right: 0;
    padding-top: 0.5625rem;
}
.product-select .form-group.sort-cont {
    width: 37.75%;
}
.product-select .form-group.sort-cont label {
    line-height: 1.1875rem;
}
.product-select .form-group select.form-control {
    background-color: #f0f0f0;
    border-color: #ededed;
    height: 1.875rem;
}
.products-container .products-holder-main {
    padding-top: 0.25rem;
}
.products-container #sidebar {
    padding-top: 0.125rem;
}
.sidebar-widget .result-text {
    margin-bottom: 0.5625rem;
}
.sidebar-widget .result-text p {
    color: var(--link-btn-color);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.01em;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
    border-bottom-color: #D9D9D9;
}
.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder a {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container nav[aria-label="breadcrumb"] {
    margin-bottom: 10px;
}
.products-container .products-holder-main .products-holder {
    justify-content: space-between;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: auto;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content {
    padding-top: 0.3125rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
    width: 13%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    width: 87%;
    margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    width: 100%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
    margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a h3 {
    color: #212322;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.01em;
    text-transform: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    color: #6D6D6D;
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
    margin-left: 13%;
}
.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
    top: 23%;
}
/* .sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
    background-image: url(https://static.techsembly.com/V245pcXjau5PHuhRW6CkdjZP);
} */

/*Product detail*/
.product-detail-container .preview-thumbnail {
    margin-top: 1rem;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
    border: 1px solid #d9d9d9 !important;
    border-radius: 0.125rem !important;
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.product-carousel-desktop .owl-nav button.owl-prev {
    background-image: url('https://static.techsembly.com/SN5Zf8WA1434T2SPpDMipreH');
}
.product-carousel-desktop .owl-nav button.owl-next {
    background-image: url('https://static.techsembly.com/jT4NqnUse5Hzz8waUSGewkrb');
}
.product-detail-container .product-holder .share-link {
    display: none !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8125rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    color: var(--link-btn-color);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
}
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs {
    border: none;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item:nth-child(2) {
    display: none;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    border-bottom: 0.0625rem solid #d9d9d9;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    border-bottom-color: #212322;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    color: var(--text-color-light);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875rem;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    color: var(--link-btn-color);
    font-weight: 600;
    letter-spacing: 0.01em;
}
.product-detail-container .product-holder .product-order .tab-content {
    border: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
    padding-top: 0.875rem;
}
.product-detail-container .personalise-form .form-group label,
.product-detail-container .tab-content form .form-group label {
    color: #000;
    font-family: var(--secondary-font);
    letter-spacing: 0.01em;
}
.product-detail-container .personalise-form .form-group .form-control {
    box-shadow: 0px 0px 0px 2px #F5F9FE;
    border-radius: 0.125rem;
    border-color: #6D6D6D;
    color: var(--text-color-light);
    line-height: 1.1875rem;
    padding-left: 1rem;
}
.product-detail-container .personalise-form .multiselect-dropdown .dropdown-btn .selected-item {
    padding-top: 0.3125rem !important;
}
.product-detail-container .personalise-form .form-group select,
.product-detail-container .personalise-form .form-group input[type="text"] {
    height: 54px;
    max-height: none;
}
.select-form.form-group select.form-control {
    background-image: url('https://static.techsembly.com/hEZuBpEg4VsA4cvdb2DHcUa1');
    background-repeat: no-repeat;
}
.product-detail-container .add-to-basket-cont {
    padding-right: 0;
}
.product-detail-container .personalise-form .form-group.add-basket {
    margin-top: 1rem;
}
.product-detail-container .personalise-form .form-group .order-btn {
    font-size: 0.875rem;
    font-family: var(--third-font);
    font-weight: 500;
    letter-spacing: 1.25px;
    padding-top: 0.3125rem;
    height: 51px;
    text-transform: uppercase;
}
.product-detail-container .personalise-form .form-group .order-input {
    color: #000;
    height: 53px;
    margin-right: 1rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link,
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.vendor-link,
.product-detail-container .product-holder .product-detail .product-info .made-by,
.related-products .related-products-holder .product-content .product-title a.vendor-link,
.related-products h3 a.vendor-link,
app-related-products[title='Recently Viewed'] {
    display: none !important;
}
.related-products {
    border-top: none;
    padding-bottom: 3rem;
}
.related-products h3 {
    letter-spacing: 0.01em;
    text-transform: capitalize;
    font-weight: 400;
}
.related-products .related-products-holder .rel-product-col {
    width: 25%;
    margin-right: 0.8125rem;
}
.related-products .related-products-holder .related-products-image {
    height: auto;
    margin-bottom: 0.125rem;
}
.related-products .related-products-holder .product-content .d-flex:nth-child(1) {
    flex-flow: row-reverse;
}
.related-products .related-products-holder .product-content .product-title a {
    color: var(--primary-bg-color);
    font-weight: 600;
    line-height: 1.1875rem;
    letter-spacing: 0.01em;
    margin-bottom: 0;
}
.related-products .related-products-holder .product-content .product-title {
    margin-bottom: 0;
    padding-top: 0.3125rem;
    width: 87%;
}
.related-products .related-products-holder .product-content .product-rating {
    width: 13%;
}
.related-products .related-products-holder .product-content .product-pricing {
    padding-left: 13%;
}
.related-products .related-products-holder .product-content .product-pricing p {
    font-size: 1.125rem;
    line-height: 1.375rem;
}
/*end product detail*/
/* shipping detail page begin */
app-checkout {
    background-color: #fcfcfc;
    display: block;
}
.custom-container.checkout .tab-content {
    padding-top: 0.5rem;
}
.custom-container.checkout .breadcrumb-heading {
    margin-bottom: 1.3125rem !important;
}
.shipping-form-container .breadcrumb-heading,
.shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading {
    color: var(--link-btn-color);
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 1.5rem !important;
    line-height: 1.8125rem !important;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.custom-container.checkout .shipping-form-cont,
.custom-container.checkout .delivery-methods-cont {
    padding-top: 1.125rem !important;
}
.shipping-form-container .get-updates-cont {
    margin-bottom: 0.875rem !important;
}
.custom-container.checkout .shipping-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: #212322;
    border-color: #212322;
}
.shipping-form-container .form-control {
    background: #FFFFFF;
    border: 1px solid #D9D9D9 !important;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
    border-radius: 4px !important;
    color: #6D6D6D;
    font-size: 1rem !important;
    font-weight: normal;
    line-height: 1.1875rem;
}
.custom-container.checkout form .form-group select.form-control:not([multiple]),
.custom-container.checkout form select.form-control {
    background-image: url('https://static.techsembly.com/hEZuBpEg4VsA4cvdb2DHcUa1');
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
.address-form.new .form-control,
.shipping-form-container .checkbox-cont input,
.shipping-form-container .form-control {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 4px;
    color: #6D6D6D;
    height: 50px !important;
    padding-top: 0.75rem;
}
.payment-form-container .btn.btn-submit,
.shipping-form-container .btn.btn-submit,
.custom-container.checkout .btn.btn-primary,
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .btn {
    color: #ffffff;
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
    border-radius: 3px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card a {
    color: #000;
}
.shipping-form-container .checkbox-cont .get-updates-note {
    color: #6D6D6D;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty {
    text-transform: uppercase;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price {
    font-weight: normal !important;
    font-size: 1.125rem !important;
    line-height: 1.315rem !important;
}
.order-totals-container {
    background-color: #EDEDED !important;
}
.order-totals-container .total-holder .total-price,
.order-totals-container .total-holder .order-total-item .total-desc,
.order-totals-container .sub-total-holder .sub-total-item .sub-price,
.order-totals-container .sub-total-holder .sub-total-item .sub-total-desc {
    font-weight: normal !important;
    font-size: 1.125rem !important;
    line-height: 1.375rem !important;
}
.order-totals-container .sub-total-holder .sub-total-item .sub-total-desc::after {
  content: ":";
}
.order-totals-container .sub-total-holder {
    border-bottom: 0.0625rem solid #D9D9D9 !important;
}
.order-totals-container .promo-cont .promo-note a {
    color: #212322;
    font-size: 0.875rem;
    font-family: var(--primary-font);
    line-height: 1rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

/* delivery methods page begin */
.delivery-methods-cont .card.contact-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
    border: none;
    margin-bottom: 2rem !important;
}
.delivery-methods-cont .card.vendor-card .card-body {
    padding-top: 1.875rem;
}
.custom-container.checkout .delivery-methods-cont .card .card-body div,
.custom-container.checkout .delivery-methods-cont .card .card-body .row-head {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .qty,
.custom-container.checkout .delivery-methods-cont .card .card-body .item-name {
    color: var(--link-btn-color);
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .qty {
    text-transform: uppercase;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item:last-child {
    padding-bottom: 1.5rem !important;
}
.delivery-methods-cont .vendor-cards-holder .card .del-option:not(:last-child) {
    padding-bottom: 0.375rem !important;
}
.delivery-methods-cont .shipping-totals-cont {
    margin-top: 0 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
    color: var(--link-btn-color);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1875rem;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
    color: #374151;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.125rem;
    margin-top: 0;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
    background-color: #EDEDED !important;
    border-radius: 0px 0px 8px 8px;
}
.delivery-methods-cont .card .card-body .card-row:not(:last-child) {
    border-bottom: 0.5px solid #D9D9D9 !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
    border-color: #757575;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
    color: var(--link-btn-color);
    font-size: 1.125rem;
    font-weight: normal;
    font-family: var(--secondary-font);
    line-height: 1.375rem;
    letter-spacing: 0.01em;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
    pointer-events: none;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
    border-bottom: 1px solid #D9D9D9 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont {
    color: #424242;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.checkout .mat-form-field-flex {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow:  0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 4px;
    height: 50px;
    padding-top: 0.3125rem;
}
.custom-container.checkout .mat-form-field-label {
    color: var(--text-color-light);
    font-family: var(--primary-font);
    font-size: 1rem;
    line-height: 1.1875rem;
    padding-top: 0.1875rem;
}
.custom-container.checkout .mat-form-field-underline {
    display: none;
}
.custom-container.checkout .form-control::placeholder {
    color: var(--text-color-light);
}
.custom-container.checkout .delivery-methods-cont .form-group.label-email {
    margin-bottom: 0.75rem;
}
.custom-container.checkout .delivery-methods-cont .form-group.label-email label {
    padding-left: 0;
    max-width: 24.5%;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
    color: var(--link-btn-color);
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
    border-color: #d9d9d9;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark::after {
    background: #212322 !important;
}
.delivery-methods-cont .vendor-cards-holder .card {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
    border: none;
}
.custom-container.checkout .shipping-form-container .form-group label {
    color: var(--link-btn-color);
    font-size: 1rem;
    line-height: 1.1875rem;
}

/* payment page style begin */
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading {
    color: var(--link-btn-color);
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.payment-form-container .radio-container .pay-method-name {
    color: #6D6D6D;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.checkout .payment-form-container .radio-container {
    color: var(--text-color-light);
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.checkout .payment-form-container .section-heading {
    color: var(--link-btn-color);
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 2.125rem;
    line-height: 2.5625rem;
    letter-spacing: 0.01em;
    margin-bottom: 32px;
    padding-top: 10px;
}
.custom-container.checkout .payment-form .payment-form-container {
    padding-top: 34px !important;
}
.payment-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: #212322 !important;
    border-color: #212322 !important;
}
.custom-container.checkout .payment-form-container .checkbox-cont .checkbox-note {
    color: #212322;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.checkout .payment-form-container .card .card-body .row-head {
    color: var(--link-btn-color);
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.checkout .payment-form-container .form-group .card-images-holder .cards-desc,
.custom-container.checkout .payment-form-container .card .card-body .user-add-wrap .user-address {
    color: var(--link-btn-color);
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-transform: capitalize;
}
.payment-form-container .radio-container input:checked ~ .checkmark {
    background-color: #212322 !important;
    border-color: #212322 !important;
}
.payment-form-container .radio-container .checkmark::after {
    background: #212322 !important;
}
.custom-container.checkout .payment-form-container .card {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
    border-radius: 8px;
    border: none;
}
.payment-form-container .card.address-card {
    border: none;
    height: auto;
}
.payment-form-container .card .card-body .card-row:not(:last-child) {
    border-bottom: 0.5px solid #D9D9D9;
}
.payment-form-container .payments-methods-cont,
.payment-form-container .section-cont {
    border-bottom: 1px solid #D9D9D9 !important;
    padding-bottom: 0 !important;
}
.custom-container.checkout .payment-form-container .payments-methods-cont .card {
    border: 0.125rem solid #212322;
}
.payment-form-container .card.blue-light-bg {
    background-color: #EDEDED !important;
    border-color: #EDEDED !important;
}
.payment-form-container .form-group .form-control {
    color: #6D6D6D;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 4px;
}
.payment-form-container .promo-cont .form-group .form-control,
.payment-form-container .form-group .password .form-control {
    padding-top: 12px;
}
.payment-form-container .form-group .password-note {
    color: #6D6D6D;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

/*Cart styles*/
.custom-container.cart-container .arrow-breadcrumbs li.active a {
    color: var(--text-color-light);
}
app-cart {
    background-color: #fcfcfc;
    display: block;
}
app-cart .custom-container.cart-container {
    font-family: var(--primary-font);
}
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading {
    color: #000;
    font-family: var(--secondary-font);
    letter-spacing: 0.01em;
}
.custom-container.cart-container .vendor-items-cont {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 0.375rem;
    margin-top: 1rem;
    padding-top: 0.625rem !important;
}
.custom-container.cart-container .vendor-items-cont .card {
    box-shadow: none !important;
    border: none;
    margin-bottom: 0 !important;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
    border-bottom-color: #757575;
    padding-bottom: 0.625rem;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont span {
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #000000;
    padding-left: 0.4375rem;
}
.custom-container.cart-container .vendor-heading .delivered-by {
    margin-right: 0.125rem !important;
}
.custom-container.cart-container .vendor-heading .delivered-by,
.custom-container.cart-container .vendor-heading .vendor-name a {
    font-family: var(--secondary-font) !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
    letter-spacing: 0.01em;
}
.custom-container.cart-container .vendor-heading .vendor-name a {
    pointer-events: none;
}
.custom-container.cart-container .vendor-items-cont .card .card-body {
    padding-top: 1.625rem !important;
    padding-bottom: 0;
}
.custom-container.cart-container .cart-item.new {
    color: #000;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.cart-container .vendor-items-cont .cart-item.new a {
    font-size: 1rem;
    line-height: 1.1875rem;
    text-decoration: none;
}
.custom-container.cart-container .vendor-items-cont .cart-item.new a.del-item-link {
    color: var(--text-color-light);
}
.custom-container.cart-container .cart-item.new .item-details .item-name,
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
    font-weight: 400;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec,
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc {
    background-color: #ededed;
}
.custom-container.cart-container .cart-item.new .pro-badges-cont .pro-badge {
    color: var(--text-color-light);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875rem;
}
.custom-container.cart-container .cart-item.new .pro-badges-cont .pro-badge span {
    padding-top: 0.375rem;
}
.custom-container.cart-container .btn.continue-btn-new {
    border-color: #6D6D6D;
    color: var(--text-color-light);
    font-family: var(--third-font);
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 1.25px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
}
.custom-container.cart-container .card.order-summary-cont,
.custom-container.checkout .card.order-summary-cont {
    border: none;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
    border-bottom-color: #6D6D6D !important;
    padding-bottom: 0.5rem !important;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
    color: #000;
    font-family: var(--secondary-font);
    font-weight: 400;
    letter-spacing: 0.01em;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
    color: #000;
    font-size: 1.125rem !important;
    font-weight: 400;
    line-height: 1.375rem !important;
}
app-cart .custom-container.cart-container .card.order-summary-cont .card-body {
    color: var(--text-color-light);
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.cart-container .card .cart-login-cont {
    background-color: #ededed;
    border-radius: 0 0 0.5rem 0.5rem;
}
.custom-container.cart-container .card .cart-login-cont .login-note {
    padding-bottom: 2.5rem;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
    font-weight: 400;
    letter-spacing: 0.01em;
    margin-bottom: 1.125rem !important;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control {
    border-color: #d9d9d9;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    color: var(--text-color-light);
    font-size: 1rem;
    line-height: 1.1875rem;
    padding-top: 0.625rem;
    padding-left: 1rem;
}
.login-cart-panel form.cart-login-form .forget-psw-link {
    line-height: 1.1875rem;
}
.login-cart-panel form.cart-login-form .form-submit-cont {
    border-top-color: #d9d9d9;
}
.custom-container.cart-container .card .cart-login-cont .btn {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 1.25px;
    padding-top: 0.625rem;
}
.custom-container.cart-container .card .cart-login-cont .btn.btn-primary {
    background-color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
}
.custom-container.cart-container .card .cart-login-cont .btn#checkout-as-guest {
    font-weight: 500;
    line-height: 1.0625rem;
}
.custom-container.cart-container .card .cart-login-cont .checkout-note {
    color: #000;
    padding-top: 1.5rem;
}
.custom-container.cart-container .card .cart-login-cont .checkout-desc-cont {
    color: #000;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.right-panel .card.order-summary-cont {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
    border: none;
}
body[data-pagetype='cart'] #delivery-options-popup .radio-container .checkmark {
    border-color: var(--primary-bg-color);
}
body[data-pagetype='cart'] #delivery-options-popup .radio-container input:checked ~ .checkmark {
    background-color: var(--primary-bg-color);
}
body[data-pagetype='cart'] #delivery-options-popup .radio-container .checkmark::after {
    background-color: var(--primary-bg-color);
    left: 1.95px;
    width: 1rem;
    height: 1rem;
}
body[data-pagetype='cart'] #delivery-options-popup .item-row .radio-container:not(:first-child) .checkmark::after {
    left: 1.95px;
}
/*end cart*/
/* wishtlist begin */
.wishlist-container .product-column .product-list .product-content .product-pricing {
    margin-left: 10%;
}
.wishlist-container .product-column .product-list .product-content .product-pricing p {
    color: #6D6D6D;
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.wishlist-container .products-container .wishlist-header {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8125rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    padding-bottom: 10px;
    font-family: var(--secondary-font);
}
.wishlist-container .products-container .products-holder {
    margin-bottom: 2.25rem;
}
/* sign-up signin, forgot and basket begin */
.custom-container .login-signup-tabs-cont .panel-heading {
    font-size: 1.125rem !important;
    line-height: 1.375rem !important;
}
.user-wrapper .user-container .user-edit-holder form input.form-control,
.custom-container .login-signup-tabs-cont .signup-form .form-group input.form-control,
.custom-container .login-signup-tabs-cont .login-form .form-group input.form-control {
    color: #6D6D6D;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.1875rem;
    height: 50px;
}
.user-wrapper .user-container .btn.add-address-btn,
.user-wrapper .user-container .btn.signout-btn,
.user-wrapper .user-container .user-edit-holder form .update-btn,
.custom-container .login-signup-tabs-cont form.signup-form .btn.submit,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    font-weight: 500;
    font-size: 0.875rem;
    height: 3.5rem;
    line-height: 1.0625rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
}
.user-wrapper .user-container .btn.add-address-btn {
    padding-top: 1.3rem;
}
form.signup-form .btn.submit {
    background-position: 29% 16px;
}
.custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    background-position: 40% 16px;
}
.custom-container .login-signup-tabs-cont form.signup-form .newsletter-check input,
.custom-container .login-signup-tabs-cont form.login-form .remember input {
    margin-top: 1px;
}
.user-wrapper .user-container .default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before {
    padding-left: 0.3rem;
    padding-right: 0.5rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
    min-height: auto;
}
/* success screen begin */
.checkout-container.complete .card-header.blue-light-bg {
    background-color: #FCFCFC;
}
.checkout-container.complete .card-header.blue-light-bg img {
    width: 100px;
}
.custom-container.checkout .order-confirm-wrapper .breadcrumb-heading {
    color: #000000;
    font-weight: normal;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    line-height: 1.8125rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 0 !important;
}
.checkout-container.complete .section-cont {
    border-bottom: 1px solid #D9D9D9 !important;
    color: #000000;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .attributes,
.checkout-container.complete .order-data .order-column .col-desc,
.checkout-container.complete .order-data .order-column .col-heading {
    color: #6D6D6D;
    font-family: var(--primary-font);
    font-weight: normal !important;
    font-size: 1rem;
    line-height: 1.1875rem;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details {
    padding-bottom: 1.5rem;
}
.checkout-container.complete .order-data .order-column .col-desc {
    color: var(--link-btn-color);
}
.checkout-container.complete .cart-data .order-item .item-desc .item-name {
    color: var(--link-btn-color);
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.01em;
}
.checkout-container.complete .cart-data .order-item .item-desc .item-brand {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #000000;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
    color: var(--link-btn-color);
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details {
    padding-top: 0 !important;
}
.checkout-container.complete .cart-data .order-item .item-price {
    font-weight: normal !important;
}
.checkout-container.complete .shipping-data .total-cont .text-right.total-price {
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
}
.order-confirm-wrapper .msg-cont .msg-inner {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.checkout-container.complete .card-footer.blue-light-bg {
    background-color: #FCFCFC !important;
    border-radius: 0px 0px 6px 6px;
}
.checkout-container.complete .card-footer .card-footer-right span,
.checkout-container.complete .card-footer .card-footer-left a,
.checkout-container.complete .card-footer .card-footer-left span {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
}
.checkout-container.complete .card-footer .card-footer-left a,
.checkout-container.complete .card-footer .card-footer-right span {
    color: #6D6D6D;
}
app-stripe-auth {
    display: block;
    background: #EBEBEB;
}
app-stripe-auth .checkout h1.page-heading {
    display: none;
}
/* footer style begin */
.custom-container.checkout-footer {
    display: none;
}
footer.footer {
    border-top: none;
    background-color: #ffffff;
    padding: 28px 32px 24px;
    margin-top: 0;
}
.footer .footer-widget .widget-title {
    color: #6D6D6D;
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.footer .footer-widget .widget-content {
    padding-top: 0.75rem;
}
.footer .footer-widget .widget-content ul li a {
    color: #000000;
    display: inline-block;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin-bottom: 13px;
}
.footer .footer-widget .widget-content .social-links li {
    margin-bottom: 0;
}
.footer .copyright-cont {
    margin-top: 1.875rem;
}
.footer .copyright-cont .flex-lg-row div.col-12:last-child,
.footer .mobile-footer .list-group .list-group-holder:last-child {
    display: none;
}
.footer .copyright-cont .powered-by,
.footer .copyright-cont .powered-by a {
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.footer .copyright-cont .powered-by a {
    font-family: var(--third-font);
    font-weight: 500;
}
.footer .copyright-cont .powered-by div:first-child {
    display: none;
}
.checkout-copyright-cont {
    padding-top: 0.8125rem;
    padding-bottom: 0.625rem;
}
.checkout-copyright-cont .ts-copyright span,
.checkout-copyright-cont .ts-copyright a {
    color: #454545;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
}
.checkout-copyright-cont .ts-copyright a {
    color: #212322;
}
.checkout-container.complete .card.order-confirm-wrapper .card-body {
    background-color: #ffffff;
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    header.header .logo img {
        width: 115px;
    }
    /* product listing begin */
    .product-container .mobile-nav #sortBtn,
    .product-container .mobile-nav #refineBtn {
        display: none;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
        padding-top: 0;
    }
    .products-container .products-holder-main .products-holder .product-column,
    .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
        margin: 0;
        width: 46.25%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 326px;
        max-height: 326px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image img {
        max-height: 326px;
    }
    /* product listing end */
   /*product detail*/
   .product-detail-container .product-carousel-mob.tab .item img {
        width: 100%;
    }
    .related-products .related-products-holder .rel-product-col {
        margin: auto;
        width: 42%;
    }
   /*end product detail*/
   /* footer begin */
    .footer .section-cont.mobile-footer .list-group .list-group-holder:last-child {
        display: none;
    }
    .footer .copyright-cont .powered-by {
        padding-top: 1rem;
        padding-left: 0;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    nav#sidebar {
        top: 86px;
    }
    .mob-overlay {
        top: 88px;
    }
    .mob-search-cont {
        padding-bottom: 0.5rem;
    }
    header.header .logo img {
        width: 96px;
    }
    .home-slider.bestsellers-slider .mob-custom-carosel {
        display: block !important;
    }
    .sign-up-section .sign-up-container .sign-up-form {
        width: 100%;
        padding: 0 15px;
    }
    .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
        min-width: auto;
    }
    /*product listing*/
    .products-container .products-holder-main .products-holder .product-column,
    .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
        margin: 0;
        width: 45%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
        width: 80%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
        width: 20%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
        margin-left: 20%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 237px;
        max-height: 237px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image img {
        max-height: 237px;
    }
    /*end product listing*/
    /*product-detail*/
    .related-products .related-products-holder .rel-product-col {
        margin: auto;
        width: 45%;
    }
  /*end product deatil*/
  /*cart styles*/
  .login-cart-panel form.cart-login-form .form-submit-cont {
      padding-bottom: 0.625rem !important;
  }
  /*end cart*/

  /* signup signin wishlist begin */
  .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
      background-position: 38% 18px;
  }
  form.signup-form .btn.submit {
      background-position: 24% 18px;
  }
  .wishlist-container .product-column .product-list .product-content .product-pricing {
      margin-left: 14%;
  }
  .wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-rating {
      margin-right: 10px;
  }
}

@media (max-width: 575.98px) {
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 149px;
        max-height: 149px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image img {
        max-height: 149px;
    }
    .product-detail-container .add-to-basket-cont {
        padding-right: 1.75rem;
        width: 100%;
    }
}

@media (min-width: 768px) {
    /*product-detail*/
    .product-detail-container .tab-content.preview-pic {
        height: auto;
    }
    .product-detail-container .product-holder .product-detail {
        margin-bottom: 1.125rem !important;;
    }
    .product-detail-container .personalise-form .form-group label {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
    .product-detail-container .personalise-form .form-group select {
        background-position-x: 96%;
        padding-right: 2.5rem;
    }
    /*end product detail*/
    .shipping-options-cont .last-name-cont {
        padding-left: 0 !important;
        padding-right: 49px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
    header.header .row.align-items {
        align-items: flex-start;
    }
    header.header .row.align-items .toggle-menu-cont {
        padding-top: 74px !important;
    }
    header.header .row.align-items .menu-links-cont {
        padding-top: 2.75rem !important;
    }
    header.header .logo {
        padding-top: 1.25rem;
        padding-bottom: 2rem;
    }
    header.header .head-links {
        padding-bottom: 0 !important;
    }
    header.header .head-links li a {
        padding-top: 0.125rem;
    }
    header.header .head-links li .cart-qty {
        top: 1rem;
        right: -0.3125rem;
    }
    body[data-pagetype="home"] header.header .menu-holder {
        margin-bottom: 0.3125rem;
    }
    body[data-pagetype="category"] header.header .menu-holder {
        margin-bottom: 1.8125rem;
    }
    body[data-pagetype="product"] header.header .menu-holder {
        margin-bottom: 2.0625rem;
    }
    .home-slider:not(.bestsellers-slider) .custom-container {
        padding-top: 0.25rem;
    }
    .home-slider:not(.bestsellers-slider) .carousel-container {
        padding-bottom: 3.5rem;
    }
    .home-slider:not(.bestsellers-slider) .owl-item {
        /*margin-right: 1.0625rem !important;
        width: 300px !important;*/
    }
    .home-slider:not(.bestsellers-slider) .owl-item:last-child {
        //margin-right: 0 !important;
    }
    .home-slider.bestsellers-slider {
        margin-bottom: 0 !important;
    }
    .home-slider.bestsellers-slider .custom-conatiner {
        padding-top: 0.1875rem;
    }
    .home-slider.bestsellers-slider .carousel-container {
        padding-bottom: 3.125rem;
    }
    .sign-up-section {
        padding-top: 45px;
    }
    .sign-up-section .sign-up-container .signup-text p {
        margin-bottom: 1.875rem;
    }
    /*product listing*/
    .product-container {
        padding-bottom: 4rem;
    }
    .products-container .main-sidebar {
        padding-right: 2.125rem;
    }
    .products-container .products-holder-main .products-holder .product-column,
    .products-container .products-holder-main .products-holder i[aria-hidden="true"] {
        margin: 0;
        width: 32.25%;
    }
    /*end product listing*/
    /*product-detail*/
    .product-detail-container .product-holder {
        padding-top: 1.75rem !important;
        /*margin-bottom: 0 !important;*/
        padding-bottom: 2.25rem !important;
    }
    .product-detail-container .product-carousel-cont {
        flex-basis: 50%;
        max-width: 50%;
    }
    .product-detail-container .product-holder .product-inner {
        flex-basis: 50%;
        max-width: 50%;
    }
    .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
        height: auto;
        width: 27px;
    }
    .product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise.personalise {
        padding-left: 0;
        padding-right: 0;
    }
    .product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-10 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-2 {
        display: none;
    }
    .related-products h3 {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }
    /*end product detail*/
    /*cart styles*/
    .custom-container.cart-container {
        padding-top: 1.75rem !important;
    }
    .custom-container.cart-container .row.flex-wrap:nth-child(1) {
        justify-content: space-between;
    }
    .custom-container.cart-container .cart-left-cont {
        padding-right: 44px;
    }
    .custom-container.cart-container .cart-right-cont {
        padding-left: 60px;
    }
    app-cart .custom-container.cart-container .breadcrumb-heading {
        margin-top: 0.125rem;
        margin-bottom: 1.3125rem !important;
    }
    app-cart .custom-container.cart-container .breadcrumb-heading,
    app-cart .custom-container.cart-container .order-sum-heading {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }
    .custom-container.cart-container .vendor-heading .delivered-by,
    .custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading a {
        font-size: 1.125rem !important;
        line-height: 1.375rem !important;
    }
    .cart-item.new .item-image-cont {
        min-width: 21.25%;
        max-width: 21.25%;
    }
    .cart-item.new .item-details-cont {
        max-width: 78.75%;
        min-width: 78.75%;
    }
    /*end cart*/
    .sign-up-section .sign-up-container .sign-up-form input[type="email"] {
        width: 380px;
    }
    .custom-container.checkout {
        padding-bottom: 2rem !important;
    }
    .custom-container.checkout .right-panel {
        padding-left: 0;
        padding-right: 0;
    }
    .custom-container.checkout .shipping-form-container .left-panel {
        padding-right: 8.5rem;
    }
    /* footer begins */
    footer.footer {
        padding-bottom: 1rem;
    }
    .footer .custom-container .footer-widget:nth-child(3) {
        flex-basis: 35%;
    }
    .footer .copyright-cont div:first-child,
    .footer .copyright-cont .pay-methods-avail {
        padding-left: 0;
    }
    .footer .copyright-cont div:first-child {
        padding-right: 0;
    }
    .footer .copyright-cont .powered-by {
        padding-top: 0.1875rem;
        text-align: right;
    }
    /* footer end */
}
@media (min-width: 1200px){
    /*product listing*/
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 368px;
        max-height: 368px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image img {
        max-height: 368px;
    }
    /*end product listing*/
    /*product detail*/
    .related-products .related-products-holder .related-products-image {
        min-height: 288px;
        max-height: 288px;
    }
    .related-products .related-products-holder .related-products-image img {
        max-height: 288px;
    }
    /*end product detail*/
    .footer .custom-container .footer-widget:nth-child(3) {
        flex-basis: 47%;
    }
}
@media (min-width: 1280px) {
    body[data-pagetype='product'] .product-detail-container {
        max-width: 1280px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .related-products .custom-container .container {
        max-width: 1280px;
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }
    .custom-container.checkout {
        /*padding: 0 2.5% !important;*/
    }
    .footer .custom-container .footer-widget:nth-child(3) {
        flex-basis: 56%;
    }
}
@media (min-width: 1400px){

}
