:root{
 --primary-font: 'Montserrat', sans-serif;
 --secondary-font: 'Montserrat', sans-serif;
 --third-font: 'theano_didotregular';
 --forth-font: 'Abel';
 --fog-color: #DBD9D9;
 --color-black: #000000;
}
html {
   overflow-x: hidden;
}
body {
  color: var(--color-black);
  font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-family: var(--secondary-font);
}
a,
a:hover,
a:focus  {
  color: var(--color-black);
  font-family: var(--primary-font);
  text-decoration: none;
}
p {
  color: #6D6D6D;
  font-family: var(--primary-font);
}
.default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before {
  padding-left: 0;
}
.modal-popup.alert-popup .modal-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}
.modal-popup.alert-popup .modal-body {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.75rem;
}
.modal-popup.alert-popup .btns-cont .btn.btn-primary:hover,
.modal-popup.alert-popup .btns-cont .btn.btn-primary:focus {
  background-color: var(--primary-bg-color);
}
nav#sidebar {
  top: 47px;
  height: calc(100% - 47px);
}
.mob-overlay {
  top: 48px;
}
header.header {
  border-bottom: none;
  margin-bottom: 0;
}
header .spacing {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
header.header .shipping li {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
}
header.header .shipping li img {
  margin-top: -0.25rem;
  max-width: 1.5625rem;
}
header.header .shipping li a.dropdown-toggle:after {
  display: none;
}
header.header .shipping li a.dropdown-toggle {
  color: var(--color-black);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
  pointer-events: none;
}
header.header .logo img {
  height: auto;
  width: 281px;
}
header.header .head-links li a {
  padding-bottom: 0.0625rem;
}
header.header .head-links li:last-child a {
  padding-right: 0;
}
header.header .head-links li .cart-qty {
  font-size: 0.625rem;
  padding-top: 0;
  top: 1.375rem;
  width: 1rem;
  height: 1rem;
}
header.header .search .search-item-form .nav-search-field {
    background-color: #efefef;
}
.search-item-form .nav-search-field {
    font-size: 0.75rem;
    line-height: 1.75rem;
}
.mobile-search-box .nav-search-field::placeholder,
header.header .search .search-item-form .nav-search-field::placeholder {
  font-size: 0;
}
header.header .search .search-item-form {
  max-width: 280px;
}
.search-item-form button img {
  max-width: 1.4375rem;
  margin-top: -0.25rem;
}
.top-heading-cont {
  padding: 1rem;
}
.top-heading-cont h2 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.96px;
  margin-bottom: 1.625rem;
}
header .main-menu-wrapper {
  background-color: #F5F4F0;
  border-bottom-color: #F5F4F0;
  padding-top: 0.8125rem;
}
header.header .menu-holder li a.main-category {
  background-color: #F5F4F0;
  border-bottom-color: #F5F4F0;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  letter-spacing: 1px;
  padding-bottom: 0.9375rem;
}
header.header .menu-holder li a.main-category:hover,
header.header .menu-holder li a.main-category:focus {
  border-bottom-color: var(--color-black);
}
.home-banner .banner-title {
  display: none;
}
.home-banner .banner-heading {
  color: #faf9f7;
  font-family: var(--third-font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
  margin-bottom: 0;
  text-transform: capitalize;
  top: auto;
  bottom: 3.125rem;
}
.home-banner .banner-heading .btn {
  background-color: #eee;
  border-color: #eee;
  color: var(--color-black);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 2.88px;
  margin-top: 1rem;
  height: 3.1875rem;
  width: 17.5625rem;
}
.chapter-cont {
  padding-bottom: 2rem;
}
.home-slider .slider-top-heading,
.chap-top-heading,
.dine-promo-cont .slider-top-heading {
  color: var(--fog-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
}
.home-slider.experience-slider,
.home-slider.speciality-slider {
  padding-top: 3.0625rem;
}
.home-slider .section-title,
.chapter-cont .section-title,
.dine-promo-cont .section-title {
  font-family: var(--third-font);
  font-weight: 400;
  margin-top: 0.625rem;
  letter-spacing: 0.96px;
}
.home-slider .post-tile {
  position: relative;
}
.home-slider.experience-slider .post-tile .post-link {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 1px;
  margin-top: 0.9375rem;
  text-transform: uppercase;
  width: 90%;
}
.chapter-cont .chap-desc-left {
  max-width: 378px;
}
.chapter-cont .chap-link {
  border-bottom: 0.0625rem solid var(--color-black);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}
.dine-promo-top {
  padding-top: 1.5rem;
  padding-bottom: 2.5625rem;
}
.dine-promo-cont .promo-holder {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.promo-holder .promo-box:first-child {
  margin-right: 1.875rem;
}
.promo-holder .promo-box img,
.gift-section img {
  height: auto;
}
.promo-holder .promo-box .promo-content {
  top: auto;
  bottom: 2.0625rem;
  left: 2rem !important;
}
.promo-holder .banner-title,
.gift-section .banner-title {
  color: #fff;
  font-size: 0.8125rem !important;
  font-weight: 400;
  line-height: 1rem !important;
  letter-spacing: 2.88px;
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
}
.promo-holder .promo-title,
.gift-section .gifts-heading {
  font-family: var(--third-font);
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.96px;
}
.promo-holder .promo-box .promo-content .promo-desc,
.gift-section .gifts-content .gifts-desc {
  border-bottom: 0.0625rem solid #fff;
  font-family: var(--primary-font);
  display: inline-block;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  padding-top: 1.0625rem;
  padding-bottom: 0.125rem;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
}
.gift-section {
  padding-top: 1.875rem;
}
.gift-section .row {
  margin: 0;
}
.gift-section .gifts-content {
  top: auto;
  bottom: 2.0625rem;
  left: 2.8125rem !important;
  margin-left: 0;
}
.home-slider.speciality-slider .post-image-heading {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 2.5rem;
  left: 1.25rem;
}
.home-slider.speciality-slider .post-link {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: 3.84px;
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
  text-align: left !important;
}
.home-slider.speciality-slider .post-tile-link:hover .post-link,
.home-slider.speciality-slider .post-tile-link:focus .post-link {
  color: #fff;
}
/* style begin for listing page */
.hero-banner {
    position: relative;
}
.hero-banner .banner-desc-cont {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    position: absolute;
    top: 40%;
    letter-spacing: 3.84px;
    text-transform: uppercase;
    width: 100%;
}
.hero-banner .banner-desc-cont h2 {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.8125rem;
}
.product-select .form-group select {
    background: #F0F0F0;
    background-position-x: 0.125rem !important;
    border: 0.920833px solid #EDEDED !important;
    font-size: 0.75rem;
    height: 1.875rem !important;
    padding-left: 1.5rem;
}
.product-select .form-group>select.form-control.relevance {
    max-width: 183px;
}
.products-container .products-holder-main {
    padding-top: 0 !important;
}
.sidebar-widget .list-group .list-group-holder .BorderBottom {
    border-color: #d6d1d1;
}
.sidebar-widget .list-group .list-group-holder a {
    padding: 0.625rem 1.25rem;
    margin-bottom: 0;
}
.sidebar-widget .list-group .list-group-holder a.list-group-item:after {
    background-image: url('https://bitbucket.org/TSTechsembly/jscss/raw/cd6a1e12c33a950bbe5af1fd006dc9b229d79ff7/belmond/images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(0);
    top: 32%;
}
.sidebar-widget .list-group .list-group-holder a.list-group-item.down:after {
    background-position: center;
    top: 32%;
    transform: rotate(90deg);
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li {
    max-height: none;
}
.sidebar-widget .list-group .list-group-holder a h4,
.sidebar-widget .list-group .list-group-holder .widget-holder ul li a,
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    margin: 0
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul.product-categories.sub_categories {
    list-style: disc;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li a {
    padding-left: 0;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li label {
    align-items: center;
}
.sidebar-widget .list-group .list-group-holder .widget-holder ul li .checkbox-holder input {
    margin-top: 0;
}
.sidebar-widget .ng5-slider .ng5-slider-bubble {
    font-size: 0.75rem;
}
.products-container .products-holder-main .products-holder {
    padding-top: 0 !important;
}
.products-container .products-holder-main .products-holder .product-column .product-tags {
    display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    margin-bottom: 0;
}
.products-container .product-list .product-title .product-name-url h3 {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
}
.products-container .products-holder-main .products-holder .product-column {
    width: 31%;
    margin: 0 10px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    margin-bottom: 4px;
    width: 100%;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
    display: none;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
    padding-top: 0.6875rem;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img,
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-rating .wishlistImage img {
    margin-top: -0.375rem;
    max-height: 1.125rem;
    max-width: 1.125rem;
}
.product-select .form-group.sort-cont label {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    max-width: 69px;
    text-align: right;
}
.product-container .product-select {
    padding-top: 0.625rem;
    margin-right: 15px;
}
.product-container .mob-btn-group {
    /*display: none;*/
    padding-bottom: 1rem;
}
.product-container .mob-btn-group .btn {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1rem;
    text-transform: uppercase;
}
.select-form.sort-cont .form-group select.form-control {
    background-color: #F0F0F0;
    border-color: #ededed;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a.vendor-link,
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a.vendor-link,
.product-detail-container .product-holder .product-detail .product-info .made-by,
.related-products .related-products-holder .product-content .product-title a.vendor-link,
.related-products h3 a.vendor-link {
    display: none !important;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-image {
    height: auto;
}
/* style end for listing page */
​
/* product details page style begin */
.default-breadcrumb {
    margin: 12px 0 15px;
}
.default-breadcrumb li a,
.default-breadcrumb li {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}
body[data-pagetype='product'] header .main-menu-wrapper,
body[data-pagetype='category'] header .main-menu-wrapper,
body.search-results-page header .main-menu-wrapper,
header .main-menu-wrapper {
    /*display: none;*/
}
.product-holder .product-detail .product-info .product-heading h1 {
    color: var(--color-black);
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    width: 100% !important;
}
.product-detail-container .product-holder {
    margin-bottom: 0.5625rem !important;
}
.product-detail-container .product-holder .product-order .tab-content,
.product-detail-container .product-holder .product-order .nav-tabs {
    border: none;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    border-bottom: 1px solid var(--fog-color);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    border-bottom-color: #757575;
    color: #757575;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    color: #757575;
}
.product-holder .product-detail .product-info .product-heading .product-rating {
    display: none;
}
.product-detail-container .product-carousel-desktop .owl-nav [class*='owl-'] {
    border: 1px solid #6D6D6D !important;
    border-radius: 0.125rem !important;
    background-size: 0.3125rem;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
.product-carousel-desktop .owl-nav button.owl-prev {
    background-image: url('https://static.techsembly.com/md663vjtng2itBaD7yuMvebc');
}
.product-carousel-desktop .owl-nav button.owl-next {
    background-image: url('https://static.techsembly.com/kYJTsy5d2NFZrv17x4AUmi4T');
}
.product-detail-container .preview-thumbnail {
    margin-top: 1rem;
}
.product-detail-container .preview-thumbnail li {
    max-height: 128px;
}
.product-detail-container .product-holder .share-link {
    display: none !important;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing {
    padding-top: 1.125rem !important;
}
.product-detail-container .product-holder .product-detail .shipping .shipping-clause,
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    color: #757575;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.01em;
}
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise {
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-10 {
    flex-basis: 100%;
    max-width: 100%;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-2 {
    display: none;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane#personalise .col-lg-10,
.product-detail-container .product-holder .product-order .tab-content .tab-pane .delivery-text,
.product-detail-container .product-holder .product-order .tab-content .tab-pane#details,
.product-detail-container .personalise-form .delivery-form .info-text {
    color: #757575;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.product-detail-container .personalise-form .delivery-form .info-text {
    color: var(--color-black);
}
.product-detail-container .personalise-form .delivery-form textarea.delivery-fields {
    min-height: 100px;
    max-height: 100px;
}
.wishlist-container .products-container .wishlist-header {
    border-bottom-color: #757575;
    color: var(--color-black);
    font-style: normal;
    padding-bottom: 15px;
}
.product-detail-container .personalise-form .form-group label,
.product-detail-container .personalise-form .form-group .form-control,
.product-detail-container .personalise-form .variant-container .option-label {
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.product-detail-container .personalise-form .form-group label {
    text-transform: capitalize;
}
.product-detail-container .personalise-form .form-group .form-control {
    color: #757575;
    border: 1px solid var(--color-black);;
    box-shadow: 0px 0px 0px 2px #F5F9FE;
    border-radius: 0.125rem;
}
.product-detail-container .personalise-form .form-group select.form-control {
    background-image: url('https://static.techsembly.com/TeNG8YC8N6huHcmwHsinV593') !important;
    background-position-x: 96%;
    padding-right: 2.5rem;
}
.product-detail-container .personalise-form .form-group input,
.product-detail-container .personalise-form .form-group select.form-control:not([size]):not([multiple]) {
    height: 3.375rem;
    max-height: none !important;
}
.multiselect-dropdown .dropdown-btn {
    padding-top: 0.3125rem !important;
}
.dropdown-list .filter-textbox input {
    height: auto !important;
}
.product-detail-container .personalise-form .form-group input[type="radio"],
.product-detail-container .personalise-form .form-group input[type="checkbox"] {
    box-shadow: none;
    height: auto;
    margin-top: 0;
}
.product-detail-container .personalise-form .form-group input[type="radio"] + .checkmark,
.product-detail-container .personalise-form .checkbox-holder label {
    color: #757575 !important;
}
.product-detail-container .personalise-form .form-group input[type='date'] {
    display: flex;
    align-items: center;
}
.product-detail-container .personalise-form .form-group.add-basket {
    margin-top: 2rem;
}
.product-detail-container .personalise-form .form-group.add-basket .d-flex {
    /*align-items: center;*/
}
.product-detail-container .personalise-form .form-group .order-input {
    margin-right: 1rem;
    text-align: left;
    height: 53px;
    width: 15.75%;
}
.product-detail-container .personalise-form .form-group .order-btn {
    height: 51px;
    width: 84.25%;
}
.product-detail-container .personalise-form .delivery-form {
    padding-top: 0.625rem;
}
.product-detail-container .product-holder .product-order .tab-content .btn.show-more {
    display: flex;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2.88px;
    align-items: center;
    justify-content: center;
    height: 54px;
    text-transform: uppercase;
}
.related-products {
    border-top: none;
}
.related-products h3 {
    font-size: 26px;
    font-family: var(--third-font);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.96px;
    margin-bottom: 3.125rem;
}
.related-products .related-products-holder .related-products-image {
    margin-bottom: 11px;
}
.related-products .related-products-holder .product-content .product-title {
    width: 100%;
    margin-bottom: 0 !important;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title a,
.related-products .related-products-holder .product-content .product-title a {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-pricing p,
.related-products .related-products-holder .product-content .product-pricing p {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.related-products .related-products-holder .related-products-image {
    height: auto;
    margin-bottom: 0.5625rem;
}
.product-detail-container .add-to-basket-cont {
    padding-right: 0;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn,
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary,
.product-detail-container .personalise-form .form-group .order-btn {
    color: var(--color-black);
    background: #eee;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn:hover,
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary:hover,
.product-detail-container .personalise-form .form-group .order-btn:hover {
    background: var(--color-black);
    color: #eee;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn {
    max-height: auto;
}
.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary:hover,
.product-detail-container .personalise-form .form-group .order-btn:hover {
    background: var(--color-black);
    color: #FFFFFF;
}
.product-detail-container .personalise-form .form-group {
    margin-top: 1.25rem;
    margin-bottom: 0.375rem !important;
}
.product-detail-container .product-holder .product-inner {
    padding-left: 1.8125rem;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane,
.product-detail-container .product-holder .product-detail .shipping .order-note {
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    color: var(--color-black);
}
.product-detail-container form.personalise-form .variant-container .variant .option-container .customcheck .checkmark {
    color: #757575;
}
.related-products .related-products-holder .product-content .product-rating {
    display: none;
}
body[data-pagetype='category'] .product-text {
    display: none;
}
app-product-detail .BorderBottom {
    border: none;
}
app-product-listing .product-container,
.custom-container.wishlist-container {
    padding-top: 1.3125rem;
}
.product-container .default-breadcrumb {
    margin-bottom: 0;
}
.product-container .default-breadcrumb li,
.product-container .default-breadcrumb li a {
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.product-container .breadcrumb-heading {
    margin: 0 0 14px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
    color: var(--color-black);
}
.product-container .main-sidebar {
    padding-top: 0.5625rem !important;
    padding-right: 1.625rem;
}
.sidebar-widget .result-text p {
    margin: 0 0 0.5625rem;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.01em;
    color: var(--color-black);
}
.wrapper .about-section {
    padding: 52px 0;
    margin-bottom: 11px;
}
.wrapper .about-section h2 {
    font-family: var(--third-font);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 22px;
    letter-spacing: 0.96px;
    margin-bottom: 1.75rem;
    color: var(--color-black);
}
.wrapper .about-section .about-desc {
    max-width: 822px;
    margin: 0 auto;
    padding: 0 10px;
}
.wrapper .about-section p {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.96px;
    color: var(--color-black);
}
/* product details page style ends */
​
​
/* style begin for signup section */
.wrapper .sign-up-section,
.sign-up-section {
    background-color: #FFFFFF;
    padding: 76px 0 88px;
}
.sign-up-section h2 {
    color: var(--fog-color);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    margin: 0 0 15px;
}
.sign-up-section .sign-up-container .signup-text {
    width: auto;
    padding-top: 0 !important;
}
.sign-up-section p {
    color: var(--color-black);
    font-style: normal;
    font-family: var(--third-font);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.96px;
    margin: 0 0 1.25rem;
    text-transform: capitalize;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    background: #faf9f7 !important;
    border: none;
    box-sizing: border-box;
    border-radius: 0px;
    margin-right: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
    font-size: 0;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary,
.sign-up-section .sign-up-container .btn-sign-up {
    background: var(--fog-color);
    border: 1px solid var(--fog-color);
    box-sizing: border-box;
    border-radius: 0px;
    color: var(--color-black);
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1rem;
    letter-spacing: 2.88px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
.sign-up-section .sign-up-container .btn-sign-up {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.625rem;
}
.sign-up-section .sign-up-container .sign-up-form {
    display: none;
    margin-bottom: 0;
}
/* Sign-up section style end */
​
.wrapper section.featured-client {
    display: none !important;
}
/* cart style start */
app-cart,
app-checkout {
    background-color: #fcfcfc;
}
app-cart .custom-container.cart-container {
    font-family: var(--primary-font);
}
.cart-container .arrow-breadcrumbs {
    margin-bottom: 1.875rem !important;
}
#delivery-options-popup .modal-header {
    padding-top: 0 !important;
}
#delivery-options-popup .modal-title,
app-cart .custom-container.cart-container .breadcrumb-heading,
app-cart .custom-container.cart-container .order-sum-heading,
nav[aria-label="breadcrumb"] .user-heading {
    color: var(--color-black);
    font-family: var(--primary-font);
    font-weight: 700;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
#delivery-options-popup .modal-title {
    display: none;
    font-size: 1rem !important;
    line-height: 1.375rem !important;
}
#delivery-options-popup label.radio-container .checkmark::after {
    top: 1.5px;
    left: 1.5px;
}
.radio-container .checkmark {
    border-color: #000 !important;
}
.radio-container .checkmark::after {
    background-color: #000 !important;
}
.arrow-breadcrumbs {
    margin-top: 0.375rem;
    margin-bottom: 0.625rem !important;
}
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a,
.arrow-breadcrumbs li.processed a {
    color: #757575;
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.in-progress a {
    color: #757575;
    font-weight: 600;
    letter-spacing: 0.96px;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.4375rem;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
    background-image: url('https://static.techsembly.com/kYJTsy5d2NFZrv17x4AUmi4T');
    background-position-x: 0.5rem;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 0.375rem;
    content: '';
    padding-top: 0.125rem;
    padding-right: 1.4375rem;
    margin-top: 0.0625rem;
}
.custom-container.cart-container .vendor-items-cont {
    background-color: #fff;
    box-shadow:  0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 0.375rem;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 0 !important;
}
.custom-container.cart-container .vendor-items-cont .card {
    background-color: #fff;
    border: none;
    margin-bottom: 0 !important;
}
.custom-container.cart-container .vendor-items-cont .card:last-child {
    padding-bottom: 1rem;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
    display: none !important;
    margin: 0 0 26px;
    border-bottom-color: #757575;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont span {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
    color: var(--color-black);
    padding-left: 7px;
}
.custom-container.cart-container .vendor-heading .delivered-by,
.custom-container.cart-container .vendor-heading .vendor-name {
    color: var(--color-black);
    font-family: var(--forth-font) !important;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.96px;
}
.custom-container.cart-container .vendor-heading span.vendor-name a {
    font-family: var(--forth-font) !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
    font-size: 18px !important;
    line-height: 22px !important;
    pointer-events: none;
}
.custom-container.cart-container .vendor-items-cont .card .card-body {
    padding-bottom: 0;
}
.vendor-items-holder .vendor-items .cart-item {
    padding-bottom: 0.5rem;
}
.cart-item.new .quest-container {
    color: var(--color-black);
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.cart-item.new .item-details .qty-col {
    padding-left: 0;
    padding-right: 0;
}
.cart-item .item-details .item-opts .quest {
    display: none;
}
.custom-container.cart-container .cart-item.new .pro-badges-cont .pro-badge {
    background-color: transparent;
    color: var(--color-black);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.cart-item .item-details .unit-attributes-cont {
    font-size: 0.75rem;
    line-height: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.96px;
    margin-bottom: 0.25rem;
    color: var(--color-black);
}
.custom-container.cart-container .cart-item.new .item-details .item-name {
    color: var(--color-black);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
    margin-bottom: 0.5625rem;
    text-transform: uppercase;
}
.custom-container.cart-container .cart-item.new .col-label {
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
#delivery-options-popup .modal-body .item-desc,
#delivery-options-popup .modal-body .radio-container span,
.custom-container.cart-container .cart-item.new .item-details .unit-price,
.custom-container.cart-container .cart-item.new .item-details .unit-total-price {
    color: var(--color-black);
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.custom-container.cart-container .cart-item.new .item-details .unit-price {
    padding-top: 0.625rem;
}
.custom-container.cart-container .cart-item.new .item-qty-cont{
  position: relative;
  height: 2.25rem;
  padding: 0.5rem 1.375rem 0.5rem 0.625rem;
  border-color: var(--fog-color);
  border-radius: 0.25rem;
  font-weight: 300;
  font-size: 0.75rem;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec,
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc {
    background-image: url('https://static.techsembly.com/hxU6xNQo12G8SSsVPPXPk6bS');
    background-size: 0.5625rem;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    font-size: 0;
    padding: 0;
    right: 10px;
    background-color: transparent;
    width: 0.5625rem;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-dec{
  top: 16px;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-inc{
  transform: rotate(180deg);
  top: 4px;
}
.custom-container.cart-container .cart-item.new .item-qty-cont .item-count {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  line-height: 1.75rem;
}
.custom-container.cart-container .vendor-items-cont a.del-item-link {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    text-decoration: none;
}
.custom-container.cart-container .cart-item.new a {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.96px;
}
.custom-container.cart-container .cart-item.new a.collapse-link {
    text-transform: capitalize;
}
.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link,
.cart-item.new a .underline {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.cart-item.new a .underline {
    text-decoration: none;
}
.cart-item.new .quest-container {
    padding: 0.3125rem 0;
}
.cart-item.new .item-qty-cont span {
    color: #757575;
}
.custom-container.cart-container .cart-item.new .form-control {
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: 300;
}
.custom-container.cart-container .cart-item.new textarea {
    max-height: 100px;
}
.cart-item.new .quantity-alert,
.cart-item.new .msg-alert {
    border-color: var(--primary-bg-color);
    background-color: var(--primary-bg-color);
}
#delivery-options-popup .modal-footer .btn.btn-cancel,
.custom-container.cart-container .btn.continue-btn-new,
.custom-container.checkout .shipping-form-container .btn.btn-submit,
.custom-container.checkout .payment-form-container .btn.btn-submit {
    background-color: transparent !important;
    border: 1px solid #000 !important;
    border-radius: 0;
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    padding-top: 0.875rem !important;
    padding-bottom: 0.875rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    letter-spacing: 0.96px;
    text-transform: none;
}
.custom-container.cart-container .btn.continue-btn-new {
    margin-bottom: 1.75rem;
}
#delivery-options-popup .modal-footer .btn.btn-cancel:hover,
.custom-container.cart-container .btn.continue-btn-new:hover,
.custom-container.checkout .shipping-form-container .btn.btn-submit:hover,
.custom-container.checkout .payment-form-container .btn.btn-submit:hover {
    background-color: #000 !important;
    color: #EEEEEE;
}
#delivery-options-popup .modal-footer .btn.btn-cancel {
    padding-top: 0.625rem !important;
}
.custom-container.checkout .shipping-form-container .btn.btn-submit {
    margin-top: 2rem;
}
.shipping-form .card.order-summary-cont,
.custom-container.cart-container .card.order-summary-cont,
.right-panel .card.order-summary-cont {
    border: none;
}
.card.order-summary-cont {
    background-color: #fff;
}
.custom-container.cart-container .card.order-summary-cont {
    margin-bottom: 0 !important;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
    border-bottom-color: #d6d1d1 !important;
    padding-top: 1.375rem !important;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label,
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
    color: var(--color-black);
    font-size: 1.125rem !important;
    line-height: 1.375rem !important;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
    font-family: var(--third-font);
    font-weight: 400;
    letter-spacing: 0.96px
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
    font-size: 1rem !important;
    font-weight: 700;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.custom-container.cart-container .cart-login-cont form.guestCheckout-form label,
.custom-container.cart-container .card.order-summary-cont .card-body-inner {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    color: #757575;
    padding-bottom: 1.5625rem !important;
}
.custom-container.cart-container .cart-login-cont form.guestCheckout-form label {
    padding-bottom: 0 !important;
}
.custom-container.cart-container .cart-login-cont {
    background-color: transparent !important;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-heading {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    text-align: left;
    text-transform: capitalize;
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control,
.custom-container.cart-container .cart-login-cont form.guestCheckout-form input.form-control {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #757575;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
}
.custom-container.cart-container .cart-login-cont .login-cart-panel form input.form-control::placeholder {
    color: #6D6D6D;
}
.custom-container.cart-container .cart-login-cont form.cart-login-form .forget-pass-cont {
    margin-bottom: 0.8125rem;
}
.custom-container.cart-container .cart-login-cont  form.cart-login-form .forget-psw-link {
    color: #757575;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    text-decoration: none;
}
.custom-container.cart-container .cart-login-cont form.cart-login-form .form-submit-cont {
    border-top-color: var(--fog-color);
    border-bottom: none;
}
#delivery-options-popup .modal-footer .btn.btn-submit,
.custom-container.checkout .btn-primary,
.custom-container.cart-container .cart-login-cont .btn.btn-primary {
    background-color: #EEEEEE !important;
    border: none !important;
    color: var(--color-black);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.custom-container.cart-container .cart-login-cont .btn.btn-primary {
    height: 3.1875rem;
    margin-bottom: 0.4375rem;
}
#delivery-options-popup .modal-footer .btn.btn-submit:hover,
.custom-container.checkout .btn-primary:hover,
.custom-container.cart-container .cart-login-cont .btn.btn-primary:hover {
    background-color: #000 !important;
    color: #EEEEEE;
}
#delivery-options-popup .modal-footer .btn.btn-submit {
    font-size: 0.75rem;
    padding-top: 0.5rem;
}
.user-container .balance-form {
    display: none;
}
.user-wrapper {
    color: var(--color-black);
    font-size: 0.75rem;
    line-height: 1.75rem;
    padding-top: 1.5625rem;
}
.user-wrapper .user-container .add-address-btn,
.user-wrapper .user-container .signout-btn,
.user-wrapper .user-container .user-edit-holder form .update-btn,
form.signup-form .btn.submit,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit {
    font-family: var(--primary-font);
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1rem;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.user-wrapper .user-container .add-address-btn,
.user-wrapper .user-container .signout-btn {
    height: 56px !important;
    font-weight: normal !important;
}
.user-wrapper .user-container .add-address-btn:hover,
.user-wrapper .user-container .add-address-btn:focus,
.user-wrapper .user-container .signout-btn:hover,
.user-wrapper .user-container .signout-btn:focus,
.user-wrapper .user-container .user-edit-holder form .update-btn:hover,
.user-wrapper .user-container .user-edit-holder form .update-btn:focus,
form.signup-form .btn.submit:hover,
form.signup-form .btn.submit:focus,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit:hover,
.custom-container .login-signup-tabs-cont form.login-form .btn.submit:focus {
    background-color: var(--primary-bg-color);

}
.user-wrapper .user-container .addresses-holder .address-row a.edit-item,
.user-wrapper .user-container .addresses-holder .address-row a.del-item {
    width: 20px;
    height: 20px;
}
.user-wrapper .user-container .orders-table-holder .orders-table,
.user-wrapper .user-container .orders-table-holder .orders-table a {
    color: var(--color-black);
    font-size: 0.75rem;
    line-height: 1.75rem;
}
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td:first-child,
.user-wrapper .user-container .orders-table-holder .orders-table tbody tr td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.user-wrapper .user-container .order-items-details .order-item {
    border-color: var(--fog-color);
    flex-wrap: wrap;
}
.user-wrapper .user-container .order-items-details .order-item div[class^="col-md"] {
    padding-bottom: 1rem;
}
.user-wrapper .user-container .order-items-details .order-item input[type="text"] {
    color: var(--color-black);
    border: 1px solid var(--color-black);;
    border-radius: 0.125rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    margin-right: 0.5rem;
}
.user-wrapper .user-container .order-items-details .order-item button {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    height: 40px;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}
.user-wrapper .user-container .order-items-details .order-item .order-item-bottom {
    display: none !important;
}
.shipping-form-container .exist-address-wrapper {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.shipping-form-container .exist-address-wrapper .card {
    border: none;
    margin-bottom: 0 !important;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .customer-name{
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    margin-bottom: 0 !important;
    text-transform: capitalize;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card a {
    color: var(--fog-color);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .card-body div:not(:empty):not(:last-child) {
  padding-bottom: 0.5rem;
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn {
    background: #EEEEEE;
    border-radius: 3px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2.88px;
    text-transform: uppercase;
    color: var(--color-black);
    padding-top: 6px !important;
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn:hover {
    color: #eee;
}
.shipping-form-container .exist-address-wrapper + .form-group .address-heading {
    margin-bottom: 2.125rem;
}
.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: 300 !important;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    margin-top: 0.4375rem !important;
}
form.guestCheckout-form .btn.submit img {
    display: none;
}
body[data-pagetype="cart"] app-newsletter {
    display: none;
}
/* end cart style */
/* style begin for checkout */
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
    min-height: auto;
}
.user-wrapper .user-container .user-edit-holder input.form-control,
.user-wrapper .user-container .user-edit-holder select.form-control,
.custom-container .login-signup-tabs-cont form .form-control,
.custom-container.checkout .shipping-form-container .form-control {
    background-color: #f5f5f5;
    border-color: #f5f5f5 !important;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
    border-radius: 4px;
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.user-wrapper .user-container .user-edit-holder input.form-control::placeholder,
.custom-container .login-signup-tabs-cont form .form-control::placeholder,
.custom-container.checkout .shipping-form-container form .form-control::placeholder {
    font-size: 0.75rem;
}
.user-wrapper .user-container .user-edit-holder input.form-control,
.user-wrapper .user-container .user-edit-holder select.form-control,
.custom-container .login-signup-tabs-cont form .form-control {
    height: 3.125rem !important;
}
.user-wrapper .user-container .user-edit-holder input#update-newsletter-check {
    margin-top: 0;
}
.shipping-form-container .delivery-dropdowns-cont .mt-60 {
    margin-top: 60px;
}
.shipping-form-container .get-updates-note {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.custom-container.checkout .shipping-form-container .exist-address-wrapper .card .btn.address-btn {
    height: 3.1875rem;
}
.shipping-form-container .btn.btn-submit {
    /*background: #E4E4E4;
    color: var(--color-black);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    padding: 20px 24px !important;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;*/
}
.custom-container.checkout .order-summary-container {
    padding-bottom: 1.875rem;
}
.add-to-basket .checkout-description .checkout-price,
.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price {
    color: var(--color-black);
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img {
    height: 100px;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img img {
    height: auto;
    max-height: 100px;
}
.add-to-basket .checkout-description .checkout-price p,
header.header .head-links li .add-to-basket .dropdown-menu h5,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .item-name {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty {
    text-transform: uppercase;
}
.order-summary-cont .order-totals-container {
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}
.order-summary-cont .order-totals-container .sub-total-holder {
    border-bottom-color: var(--fog-color);
}
.payment-form-container .order-summary-cont .order-totals-container .sub-total-holder .sub-total-item {
    padding-bottom: 0.9375rem;
}
.order-totals-container .sub-price,
.order-totals-container .sub-total-desc {
    color: var(--color-black);
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.order-totals-container .sub-total-desc::after {
    content: ":";
}
.order-totals-container .sub-price {
    font-weight: 700;
}
.order-totals-container .total-holder .order-total-item .total-price,
.order-totals-container .total-holder .order-total-item .total-desc {
    color: var(--color-black);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.96px;
}
.order-totals-container .total-holder .order-total-item .total-desc {
    font-family: var(--third-font);
    font-size: 1.125rem !important;
    font-weight: 400;
    line-height: 1.375rem !important;
    letter-spacing: 0.96px;
}
.order-totals-container .total-holder .order-total-item .total-price {
    font-size: 1rem !important;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.custom-container.checkout-footer img[alt="securepaymentbadge"] {
    display: none;
}
/* style end for checkout */

/* style begin for cart-detail */
.custom-container.checkout .delivery-methods-cont {
    padding-top: 1.125rem !important;
}
.delivery-methods-cont .card.contact-card {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
}
.user-container h2.user-heading,
.user-wrapper .user-container .user-edit-holder .user-edit-header,
.wishlist-container .products-container .wishlist-header,
.custom-container .login-signup-tabs-cont .panel-heading,
.custom-container.checkout .shipping-form-container .breadcrumb-heading,
.custom-container.checkout .shipping-form-container .order-sum-heading,
.custom-container.checkout .shipping-form-container .address-heading,
.custom-container.checkout .payment-form-container .breadcrumb-heading,
.custom-container.checkout .payment-form-container .order-sum-heading,
.custom-container.checkout .payment-form-container .address-heading {
    color: var(--color-black);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.custom-container.checkout .shipping-form-container .breadcrumb-heading {
    margin-bottom: 1.3125rem !important;
}
.custom-container.checkout .order-sum-heading {
    margin-bottom: 0.625rem;
}
.custom-container.checkout .shipping-form-container .shipping-form-cont {
    padding-top: 1rem !important;
}
.user-wrapper .user-container .user-edit-holder label,
.user-container .password-form .form-heading,
.user-container .password-form .form-email-holder label,
.user-container .password-form .form-email-holder .form-control,
.custom-container .login-signup-tabs-cont form label {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.custom-container .login-signup-tabs-cont form.signup-form .newsletter-check input,
.custom-container .login-signup-tabs-cont form.login-form .remember input {
    margin-top: 0;
}
.user-container .password-form .form-heading {
    padding-bottom: 0 !important;
}
.user-container .password-form .form-email-holder .form-control {
    height: 50px !important;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .card-row:not(:last-child) {
    padding-bottom: 0;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .card-row {
    border-bottom: none !important;
}
.custom-container.checkout .delivery-methods-cont .card .card-body .row-head {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.delivery-methods-cont .card.contact-card div {
    color: var(--color-black);
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.delivery-methods-cont .card .card-body {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    padding-top: 1.5rem;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty,
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .item-name {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-item .item-price {
    color: var(--color-black);
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.delivery-methods-cont .vendor-cards-holder .card .mat-form-field-wrapper .mat-form-field-flex {
    background-color: transparent !important;
}
.shipping-form-container .card-header {
    /* display: none; */
}
.delivery-methods-cont .vendor-cards-holder .card.vendor-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 8px;
    border: none;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
    background-color: transparent;
    border-radius: 0px 0px 8px 8px;
    padding-top: 0 !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
    background-color: transparent;
    border-top: 0.0625rem solid var(--fog-color);
    padding-top: 1.375rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:not(:last-child) {
    padding-bottom: 0.625rem;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
    top: 0.5px;
    left: 0.5px;
    height: 17.5px;
    width: 17.5px;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark {
    background-color: var(--color-black);
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
    border: 1px solid var(--color-black);
    position: relative;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .d-flex {
    align-items: center;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    margin-top: 0 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont {
    border-bottom: none !important;
    margin-bottom: 0;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont .del-option {
    align-items: flex-start;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont .option-price {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.user-wrapper .user-container .addresses-holder .address-row,
.user-wrapper .user-container .orders-table-holder .orders-table thead th,
.user-container .user-details-holder .detail-desc .edit-link,
.user-container .user-details-holder .detail-desc .detail-text,
.user-container .user-details-holder .detail-head,
.custom-container.checkout .shipping-form-container .form-group label.info-text,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption,
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.shipping-form-container .form-group label.info-text {
    flex-basis: auto;
    padding-left: 1rem;
    padding-right: 1.6875rem;
    width: auto;
}
.user-wrapper .user-container .addresses-holder .address-row,
.user-container .user-details-holder .detail-desc .edit-link,
.user-container .user-details-holder .detail-desc .detail-text,
.order-totals-container .sub-total-desc,
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption {
    font-weight: 300 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row.shipping-givex_digital {
    display: none !important;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(3rem + 2px);
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 6px 0 0 16px !important;
}
.mat-form-field-appearance-fill .mat-form-field-label {
    color: #757575;
}
.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
    padding-bottom: 0 !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty {
    text-transform: uppercase;
}
.shipping-form-container .form-group {
    padding-bottom: 0 !important;
}
.shipping-form-container .form-group.email-cont {
    margin-bottom: 1rem !important;
}
.shipping-form-container .form-group.get-updates-cont {
    margin-bottom: 1.375rem !important;
}
.shipping-form-container .form-group .region-cont,
.address-form .form-group .region-cont {
    padding-right: 1rem;
}
.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont select {
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
    border-radius: 4px !important;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner {
    border-bottom-color: var(--fog-color);
    padding-top: 0.3125rem !important;
    padding-bottom: 0.1875rem !important;
}
.delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
    display: none;
}
.shipping-form-container .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke {
    background-color: transparent;
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    padding-left: 0;
    padding-top: 0.3125rem;
    padding-bottom: 0.4375rem;
}
.shipping-form-container .delivery-methods-cont .vendor-cards-holder .card .card-header .badge-stroke img {
    display: none;
}
.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card.digital-pros-card .shipping-totals-cont .total-row:last-child .total-row-val {
    font-weight: 700
}
/* payment page style begin here */
.custom-container.checkout .payment-form-container .breadcrumb-heading {
    margin-bottom: 1.125rem !important;
}
.shipping-form-container .checkbox-cont .checkmark {
    border-color: #757575;
    position: relative;
}
.payment-form-container .card .card-body .card-row:not(:last-child) {
    border-bottom-color: var(--fog-color) !important;
}
.payment-form-container .card.address-card .card-body .card-row:not(:last-child) {
    padding-bottom: 1.25rem;
}
.custom-container.checkout .payment-form-container .section-heading {
    color: var(--color-black);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
}
.custom-container.checkout .payment-form-container .card.blue-light-bg {
    background-color: #FAF9F7;
    border: none !important;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 6px;
}
.custom-container.checkout .payment-form-container .card .card-body .user-address,
.custom-container.checkout .payment-form-container .card .card-body .row-head,
.custom-container.checkout .payment-form-container .checkbox-cont .checkbox-note {
    color: var(--color-black);
    margin-top: 0;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.payment-form-container .card {
    border: none;
}
.payment-form .payment-form-container .card {
    border: none;
    border-radius: 4px;
}
.payment-form .payments-methods-cont .card {
    background-color: #f5f5f5;
    box-shadow:  0px 1px 2px rgba(59, 89, 128, 0.2);
    padding-top: 0.4375rem !important;
    padding-bottom: 0.4375rem !important;
}
.payment-form .payment-form-container .card.address-card {
    border: none;
}
.custom-container.checkout .payment-form-container .payments-methods-cont,
.custom-container.checkout .payment-form-container .section-cont {
    border-color: var(--fog-color);
}
.custom-container.checkout .payment-form-container .payments-methods-cont + .card-details-cont {
    padding-top: 2rem !important;
}
.custom-container.checkout .payment-form-container .radio-container input:checked ~ .checkmark {
    background-color: var(--color-black);
    border-color: var(--color-black);
}
.container.checkout-container.complete {
    font-size: 0.75rem;
    line-height: 1.75rem;
}
.container.checkout-container.complete .order-confirm-outer {
    padding-top: 0.875rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.container.checkout-container.complete .card.order-confirm-wrapper {
    border-color: var(--fog-color);
    border-radius: 0;
    max-width: 802px;
}
.checkout-container.complete .card-header.blue-light-bg {
    display: none;
}
.checkout-container.complete .card-body {
    padding-bottom: 1.25rem !important;
}
.checkout-container.complete .card-footer.blue-light-bg {
    background-color: transparent !important;
}
.checkout-container.complete .breadcrumb-heading {
    font-family: var(--third-font);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.96px;
    color: var(--color-black);
}
.container.checkout-container.complete .section-cont {
    border-bottom-color: var(--fog-color);
    font-style: normal;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    color: var(--color-black);
}
.custom-container .checkout-container.complete .section-cont .updated-del-string {
    padding-top: 1.625rem;
}
.checkout-container.complete .section-cont.order-data {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}
.container.checkout-container.complete .order-data .order-column .col-heading {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    color: #757575;
}
.container.checkout-container.complete .order-data .order-column .col-desc {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    color: var(--color-black);
}
.container.checkout-container.complete .cart-data {
    font-weight: 300;
}
.container.checkout-container.complete .total-cont .py-4 {
    padding-top: 1.125rem !important;
    padding-bottom: 1.125rem !important;
}
.container.checkout-container.complete .total-cont .total-price,
.container.checkout-container.complete .shipping-data .text-right,
.container.checkout-container.complete .cart-data .order-item .item-price,
.container.checkout-container.complete .cart-data .order-item .item-desc .item-name {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 0.75rem;
    color: var(--color-black);
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.container.checkout-container.complete .cart-data .order-item .item-desc .item-name {
    font-weight: 600;
}
.container.checkout-container.complete .cart-data .order-item .item-price {
    font-weight: 700;
}
.container.checkout-container.complete .total-cont {
    font-family: var(--third-font);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.96px;
}
.container.checkout-container.complete .total-cont .total-price {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.checkout-container.complete .msg-cont {
    padding-top: 1.25rem !important;
}
.order-confirm-wrapper .msg-cont .msg-inner::after {
    content: 'Team';
}
.custom-container.checkout .row h1.page-heading {
    display: none;
}
.checkout-container.complete .d-flex.py-4 {
    //padding-top: 0 !important;
}
.container.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details {
    padding-top: 0;
}
.checkout-container.complete .blue-light-bg .card-footer-right,
.checkout-container.complete .blue-light-bg .card-footer-left a,
.checkout-container.complete .blue-light-bg .card-footer-left span,
.checkout-container.complete .msg-cont .msg-inner,
.checkout-container.complete .shipping-data,
.container.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item,
.container.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty,
.checkout-container.complete .cart-data .order-item .item-desc .item-brand {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--color-black);
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.container.custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty {
    font-weight: 300;
}
.container.checkout-container.complete .shipping-data {
    font-weight: 300;
    padding-bottom: 1.25rem !important;
}
.checkout-container.complete .shipping-data .shipping-row:not(:first-child) {
    padding-top: 1.125rem !important;
}
.checkout-container.complete .blue-light-bg .card-footer-left a {
    text-decoration: underline;
    text-transform: capitalize;
}
.payment-form-container .radio-container .checkmark {
    position: relative;
}
.custom-container.checkout .payment-form-container .radio-container .checkmark::after {
    top: 0.5px;
    left: 0.5px;
    height: 17.5px;
    width: 17.5px;
}
.payment-form-container .card .card-body .user-address {
    padding-left: 0;
}
.payment-form-container .checkbox-cont input + .checkmark {
    min-width: 1.25rem;
}
.custom-container.checkout .shipping-form-container .checkbox-cont input:checked ~ .checkmark,
.custom-container.checkout .payment-form-container .checkbox-cont input:checked ~ .checkmark {
    background-color: transparent;
    border-color: #757575;
}
.custom-container.checkout .shipping-form-container .checkbox-cont .checkmark::after,
.custom-container.checkout .payment-form-container .checkbox-cont .checkmark::after {
    background-image: url('https://static.techsembly.com/ANkisRTuVszZXPYVNEPACuUK');
    background-size: 0.625rem;
    top: 0.5px;
    left: 1px;
}
.payment-form-container .section-cont {
    margin-bottom: 0.4375rem;
}
.custom-container.checkout .payment-form-container .card.blue-light-bg::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    top: -32px;
    background: #757575;
    display: none;
}
.custom-container.checkout .payment-form-container .password-note {
    color: #757575;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.custom-container.checkout .payment-form-container .radio-container .pay-method-name {
    margin-top: 0;
}
.custom-container.checkout .payment-form-container form.payment-form label {
    color: #757575;
    font-size:  0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.custom-container.checkout form.payment-form .form-control {
    background-color: #f5f5f5;
    border-color: #f5f5f5 !important;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
    border-radius: 4px;
    color: #757575;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
}
.custom-container.checkout form.payment-form input[type="password"]{
    font-size: 0.8125rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
}
.custom-container.checkout form.payment-form .order-totals-container .promo-cont a {
    color: #757575;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}
.payment-form-container .complete-note {
    //text-decoration: underline;
}
.payment-form-container .complete-note p {
    color: var(--color-black);
    font-size: 0.75rem;
}
.payment-form-container .complete-note a {
    font-size: 0.75rem;
}
.payment-form-container .complete-note ul {
    list-style: none;
}
.ts-copyright,
.tc-rights-reserved {
    color: var(--color-black);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 0.96px;
}
app-common-page .footer-page-container:first-child {
    padding-top: 1.5625rem;
}
/* footer */
.footer {
    margin-top: 0;
    padding-bottom: 0.75rem;
    border-top: none;
    padding-top: 0;
}
.footer .custom-container app-new-footer > div,
.footer .custom-container .footer-inner-cont {
    padding-top: 2.125rem !important;
    border-top: 0.0625rem solid var(--fog-color);
}
.footer .footer-widget .widget-title {
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
    color: var(--color-black);
    text-transform: uppercase;
}
.footer .footer-widget .widget-content .social-links {
    padding-top: 0.5rem !important;
    /*visibility: hidden;
    opacity: 0;*/
}
.footer .footer-widget .widget-title.text {
    /*display: none;*/
}
.footer .footer-widget:last-child .widget-title {
    text-align: right;
}
.footer .modified-widget ul.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: 10px;
}
.footer .modified-widget ul.social-links li {
    width: 21px;
    margin: 0 8px;
}
.footer .pay-methods-avail.modified-widget div:first-child {
    display: none;
}
.footer .pay-methods-avail.modified-widget .social-widget {
    display: flex;
    align-items: center;
}
.footer .footer-widget .widget-content .social-links li {
    width: 21px;
    margin: 0 25px 0 0;
}
.footer .footer-widget .widget-content .social-links li.twitter-link-cont:nth-child(2){
    display: none;
}
.footer .footer-widget .widget-content ul li {
    padding-bottom: 6px;
}
.footer .footer-widget .widget-content .social-links li:last-child {
    margin-right: 0;
}
.footer .footer-widget .widget-content ul li a {
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.footer .footer-widget .widget-content {
    padding-top: 0.5625rem;
}
.footer .powered-link-cont {
    text-transform: uppercase;
}
.footer .pay-methods-avail.modified-widget h5,
.footer .footer-widget .widget-content ul li strong {
    color: var(--color-black);
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.96px;
}
.footer .pay-methods-avail.modified-widget h5 {
    line-height: 29px;
    text-transform: uppercase;
}
.footer .powered-link-cont span a,
.footer .powered-link-cont span {
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
    text-align: center;
}
.footer .powered-by div:first-child {
    display: none;
}
footer.footer .copyright-cont {
    margin-top: 4.25rem;
    margin-bottom: 2.25rem;
}
.footer .copyright-cont div:first-child,
.footer .copyright-cont .pay-methods-avail {
    padding-left: 0;
}
.footer .copyright-cont .pay-methods-avail .meth-link {
    max-width: 48px;
    margin-right: 8px;
}
.footer .powered-by .powered-link-cont {
    padding-top: 0.25rem;
    /*display: none;*/
}
.footer .copyright-text-cont {
    padding-top: 25px;
}
.checkout-copyright-cont {
    padding: 0.875rem 1.875rem;
}
@media (max-width: 1199.98px) {
    .products-container .products-holder-main .products-holder .product-column {
        width: 30%;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        margin-bottom: 0.5rem !important;
    }
}

@media (max-width: 991.98px) {
    header.header .logo {
        height: auto;
    }
    .mob-top-links .dropdown-flag {
        display: none;
    }
    header .main-menu-wrapper {
        display: none;
    }
    .mob-search-cont {
        padding-bottom: 0.5rem;
    }
    .mobile-search-box .nav-search-field {
        background-color: #efefef;
    }
    .hero-banner .banner-desc-cont {
        font-size: 0.75rem;
    }
    .products-container .products-holder-main .products-holder .product-column {
        width: 46.25%;
        margin: 0;
    }
    .product-detail-container .product-holder .product-inner {
        padding-left: 0.9375rem;
    }
    .product-detail-container .add-to-basket-cont {
        width: 100%;
    }
    .related-products {
        margin-top: 4rem;
    }
    .custom-container.cart-container .btn.continue-btn-new {
        margin-top: 10px;
        width: 100%;
    }
    .footer .mobile-footer .list-group .list-group-holder>a {
        font-size: 12px;
    }
    .footer .mobile-footer .footer-widget ul li,
    .footer .mobile-footer .footer-widget ul li a {
        font-size: 12px;
    }
    .payment-icons-right {
        justify-content: center !important;
    }
    .footer .footer-widget .widget-content .social-links {
       opacity: 1;
       visibility: visible;
    }
}

@media (max-width: 767.98px) {
    header .spacing {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
    header .mob-search-cont {
        padding-left: 1.3125rem;
        padding-right: 1.3125rem;
    }
    header.header .logo img {
        margin-top: 0.3125rem;
        margin-left: 1.25rem;
        width: auto;
    }
    header .mob-top-links .cart-qty {
        padding-top: 0.125rem;
    }
    .home-banner .banner-heading {
        bottom: 1.25rem;
    }
    .hero-banner .banner-desc-cont {
        top: 20%;
    }
    .hero-banner .banner-desc-cont h2 {
        margin-bottom: 0.3125rem;
    }
    .mob-custom-carosel,
    .gift-section {
        display: block !important;
    }
    .gift-section {
        padding-top: 0;
    }
    .products-container .products-holder-main .products-holder .product-column {
        width: 45%;
        margin: 0 5px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: auto;
        min-height: 236px;
        max-height: 236px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 236px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating a.wishlistImage img {
        margin-top: 1px;
    }
    .custom-container.cart-container .cart-login-cont form.cart-login-form .form-submit-cont {
        padding-bottom: 0.625rem !important;
    }
    .shipping-form-container .delivery-dropdowns-cont .mt-60::last-child {
        margin-top: 0;
    }
    .payment-form-container .radio-container .checkmark::after {
        //top: 0.8125rem !important;
    }
    .custom-container.checkout .payment-form-container .card .card-body .row-head {
        padding-right: 0;
    }
    .checkout-container.complete .shipping-data .shipping-row .col-12 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .checkout-container.complete .shipping-data .shipping-row .col-md-3 {
        padding-right: 0.5rem !important;
    }
    .checkout-container.complete .shipping-data .shipping-row .col-md-9 {
        padding-left: 0.5rem !important;
    }
    .login-signup-tabs-cont .new-cust-note {
        font-size: 0.75rem;
    }
    .checkout-copyright-cont {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (max-width: 575.98px) {
    .chapter-cont .chap-link {
        padding-bottom: 0.125rem;
    }
    .promo-holder .promo-title,
    .gift-section .gifts-heading {
        font-size: 1.125rem;
        line-height: 1rem;
    }
    .promo-holder .banner-title,
    .gift-section .banner-title {
        font-size: 0.75rem !important;
        line-height: 0.9375rem !important;
    }
    .gift-section .gifts-content {
        bottom: 0.75rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: auto;
        min-height: 166px;
        max-height: 166px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 166px;
    }
    .arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item {
        padding-left: 0 !important;
    }
    .arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
        padding-right: 1.125rem;
        padding-left: 0.375rem;
        margin-top: 0;
    }
    .shipping-form-container .checkbox-cont .checkmark::after {
        top: 2px !important;
    }
    .custom-container .login-signup-tabs-cont form.login-form .btn.submit {
        background-position-x: 36%;
    }
    form.signup-form .btn.submit {
        background-position-x: 15%;
    }
    #delivery-options-popup label.radio-container .checkmark::after {
        left: 1.45px;
    }
}
@media (max-width: 413.98px) {
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: auto;
        min-height: 149px;
        max-height: 149px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 149px;
    }
}
@media (min-width: 576px) {
    .custom-container.cart-container .vendor-heading .delivered-by {
        margin-right: 0.0625rem !important;
    }
}
@media (min-width: 768px) {
    nav#sidebar {
      top: 57px;
      height: calc(100% - 57px);
    }
    .mob-overlay {
      top: 58px;
    }
    .home-slider.speciality-slider .carousel-container {
        padding-top: 3.4375rem;
        padding-bottom: 1.1875rem;
    }
    .product-detail-container .tab-content.preview-pic {
        height: auto;
    }
    .product-detail-container .product-holder .product-detail {
        margin-bottom: 0 !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
    header .spacing {
        align-items: flex-start;
    }
    header .toggle-menu-cont {
        padding-top: 3.9375rem !important;
    }
    header.header ul.shipping {
        align-items: center;
    }
    header.header ul.shipping li:first-child {
        margin-right: 0.875rem;
    }
    header.header .logo {
        padding-top: 3.1875rem;
        padding-bottom: 3.1875rem;
    }
    header.header .head-links {
        padding-top: 1.625rem;
    }
    header.header .search .search-item-form button {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 3.125rem;
    }
    .top-heading-cont {
        padding-top: 1.5rem;
        padding-bottom: 0;
    }
    .chapter-cont {
        padding-top: 2.625rem;
        padding-bottom: 6.4375rem;
    }
    .home-slider .section-title,
    .chapter-cont .section-title,
    .dine-promo-cont .section-title {
        font-size: 1.625rem;
        line-height: 1.375rem;
    }
    .home-slider.experience-slider .carousel-container {
        padding-top: 2.3125rem;
        padding-bottom: 2.25rem;
    }
    .home-slider .custom-container {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    .home-slider .carousel-container {
        padding-left: 0;
        padding-right: 0;
    }
    .home-slider.experience-slider .post-tile .post-link {
        //text-align: left !important;
    }
    .home-slider.speciality-slider {
        padding-top: 6.125rem;
    }
    .home-slider.speciality-slider .section-title {
        margin-left: auto;
        margin-right: auto;
    }
    .hero-banner .banner-desc-cont h2 {
        font-size: 1.75rem;
        line-height: 1.375rem;
    }
    .products-container .products-holder-main {
        margin-top: -0.375rem;
    }
    .products-container .products-holder-main .products-holder {
        padding-bottom: 2.5rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list {
        margin-bottom: 1.8125rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: auto;
    }
    body[data-pagetype='product'] .product-detail-container {
        padding-top: 3.8125rem;
    }
    .product-detail-container .product-holder {
        padding-top: 1.8125rem !important;
    }
    .product-detail-container .product-carousel-cont {
        flex-basis: 53.25%;
        max-width: 53.25%;
    }
    .product-detail-container .product-holder .product-inner {
        flex-basis: 46.75%;
        max-width: 46.75%;
    }
    .related-products {
        padding-bottom: 1.5rem;
    }
    .related-products .related-products-holder .rel-product-col {
        width: 24%;
        margin-right: 1.4375rem;
    }
    app-cart .custom-container.cart-container {
        padding-top: 1.75rem !important;
        padding-left: 1.4375rem;
        padding-right: 1.4375rem;
    }
    .custom-container.cart-container .cart-left-cont {
        padding-right: 58px;
    }
    app-cart .custom-container.cart-container .breadcrumb-heading,
    app-cart .custom-container.cart-container .order-sum-heading,
    nav[aria-label="breadcrumb"] .user-heading {
        font-size: 1rem;
        line-height: 1.375rem;
    }
    app-cart .custom-container.cart-container .breadcrumb-heading {
        margin-bottom: 0.8125rem !important;
    }
    .cart-item.new .item-image-cont {
        min-width: 23.65%;
        max-width: 23.65%;
    }
    .cart-item.new .item-details-cont {
        max-width: 76.35%;
        min-width: 76.35%;
    }
    .custom-container.cart-container .gift-msg-area {
        padding-top: 0 !important;
    }
    .container.custom-container.checkout {
        padding-top: 1.75rem !important;
        padding-bottom: 0;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    .nav-ship-details .shipping-form-container .shipping-form .left-panel,
    .shipping-form-container .left-panel,
    .payment-form-container .left-panel {
        padding-right: 3.6875rem !important;
    }
    .custom-container.checkout .payment-form-container .card .card-body .row-head {
        flex-basis: 10%;
        max-width: 10%;
        padding-right: 0.5625rem;
    }
    .checkout-container.complete .card-footer.blue-light-bg {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .footer .custom-container {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    .footer .custom-container .footer-widget:nth-child(3) {
        flex-basis: 36%;
    }
    .footer .copyright-cont.d-lg-flex {
        display: block !important;
    }
}
@media (min-width: 1200px){
    header.header .head-links li .add-to-basket .dropdown-menu:after {
        right: 0.625rem;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 314px;
        max-height: 314px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 314px;
    }
    .related-products .related-products-holder .related-products-image {
        min-height: 287px;
        max-height: 287px;
    }
    .related-products .related-products-holder .related-products-image img {
        max-height: 287px;
    }
    .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .order-item-left {
        flex-basis: 55%;
        max-width: 55%;
    }
    .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .order-item-right {
        flex-basis: 45%;
        max-width: 45%;
    }
    .footer .custom-container .footer-widget:nth-child(3) {
       flex-basis: 46%;
    }
}
@media (min-width: 1280px){
    body[data-pagetype='product'] .product-detail-container,
    .related-products .custom-container .container {
       max-width: 1220px;
       padding-left: 0;
       padding-right: 0;
    }
}
@media (min-width: 1400px){
  .chapter-cont {
       padding-left: 1.875rem;
       padding-right: 1.875rem;
   }
   .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        min-height: 354px;
        max-height: 354px;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
        max-height: 354px;
    }
   .cart-item.new .item-image-cont {
        min-width: 20.85%;
        max-width: 20.85%;
    }
    .cart-item.new .item-details-cont {
        max-width: 79.15%;
        min-width: 79.15%;
    }
   .footer .custom-container .footer-widget:nth-child(3) {
       flex-basis: 52%;
   }
}
@media not all and (min-resolution:.001dpcm){
  @supports (-webkit-appearance:none) {
    .product-detail-container .personalise-form .radio-holder,
    .product-detail-container .personalise-form .checkbox-holder label {
        align-items: center;
    }
    .custom-container .login-signup-tabs-cont form label.d-flex {
        align-items: center;
    }
  }
}
