:root{
  --primary-color:#9D7A44;
  --secondary-color:#000;
  --primary-hover-color: #9d7a44c4;
  --white-color: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #F7F2EB;
  --dark-color: #383838;
  --light-border-color: #6D6D6D;
  --light-color: #808080;
  --primary-font: 'Cinzel', serif;
  --secondary-font: 'Open Sans', sans-serif;
}

header.header .logo {
  padding: 11px 0 11px;
}

header.header .logo img {
  height: auto;
  width: 235.67px;
}

.head-links{
  padding-bottom: 2px !important;
}

header.header {
  border-bottom: none;
  margin-bottom: 0px;
}
header.header .menu-holder li a{
  font-family: var(--secondary-font);
   color: #9D7A44;
   font-size: 12px;
}
.nav-search-field::placeholder {
  opacity: 0;
}
#search-bar-button {
  background-color: var(--primary-color);
}

.shipping li{
  pointer-events: none;
  cursor: pointer;
}
.shipping .dropdown-toggle::after{
  display: none;
}
.shipping .dropdown-toggle:hover {
  text-decoration: none;
}

#profile-icon-sign-partial img, #wishlist-heart-cart-partial img, #cart-bag-partial img, #search-bar-button img{
  display: none;
}
#profile-icon-sign-partial .profile-icon, #wishlist-heart-cart-partial .wishlist-icon, #cart-bag-partial .cart-icon, #search-bar-button .search-icon{
  display: block;
}

header.header .menu-holder>li:hover>div {
  opacity: 0;
}
header.header .menu-holder {
  margin-top: 39px;
}
header.header .head-links li .cart-qty{
  color: var(--white-color);
  background-color: var(--primary-color);
}

.home-banner .hero-banner {
  height: 530px;
  object-fit: cover;
}

.home-banner .banner-heading{
    max-width: 30%;
    margin: auto;
    font-family: var(--primary-font);
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}
.banner-overlay {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,0.7); */
  z-index: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.promo-section .banner-overlay{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.31%, rgba(0, 0, 0, 0.8) 100%) !important;
  }
  .promo-section .banner-title{
    display: none;
  }


.home-slider .post-tile .post-link{
    font-size: 16px;
    font-family: var(--primary-font);
}
.home-slider .post-tile .post-tile-link:hover .post-link {
  color: var(--primary-color);
}
.gift-section{
  padding-bottom: 68px;
}

.gift-section .gifts-content{
  max-width: 31%;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;

}
.gift-section a{
  position: relative;
}



.home-slider .section-title {
  font-size: 24px;
  font-family: var(--primary-font);
}
.home-intro{
  max-width: 100%;
  padding-top: 59px;
}
.home-intro, .promo-section{
  background-color: var(--secondary-bg-color);
}
.promo-section{
  position: relative;
  padding-bottom: 49px;
}
.home-intro h2 {
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.home-intro .intro-content, .intro-content p {
  margin: 0px;
}

.promo-title {
  font-size: 12px;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 18px;
}
.promo-holder .promo-box .promo-content{
  bottom:31px;
  top: auto;
}

.promo-holder .promo-box .promo-content .promo-desc {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 24px;
  padding-top: 5px;
  line-height: 32px;
}

.multi-banner-discover{
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 21px;
  color: var(--white-color);
  border-bottom: 1px solid #fff;
}

.featured-client {
  display: none;
}
.footer {
  margin-top: 0;
  border: none;
}
.footer .footer-widget:nth-child(2){
  transform: translate(-200px, 0px);
}
.powered-by div:first-child{
  display: none;
}

.footer .footer-widget .widget-content .social-links {
  flex-wrap: nowrap;
}
.footer .copyright-cont {
  margin-top: 117px;
  margin-bottom: 24px;
}
.footer-widget .widget-title{
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--primary-color);
}
.footer-widget .widget-content a{
  font-size: 12px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.powered-link-cont{
  font-size: 12px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.powered-link-cont a{
  font-size: 12px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.footer .copyright-cont div {
  align-items: center;
}

/* shop page */
.default-breadcrumb{
  margin-bottom: 13px;
}
.default-breadcrumb li, .default-breadcrumb li a {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.breadcrumb-item+.breadcrumb-item::before{
  padding-left: 0rem;
}
.breadcrumb-heading{
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.main-sidebar{
  margin-top: 16px;
}

.sidebar-widget .result-text p {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.filter-toggler h4{
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.sidebar-widget .list-group .list-group-holder>a.list-group-item:after {
  content: "";
  background-image: url(https://static.techsembly.com/TngWF5m2k86XhqskGQbfhA61);
  background-position-y: center;
  height: 10.77px;
  width: 5.41px;
  background-repeat: no-repeat;
  transform: none;
  position: absolute;
  top: 39%;
  left: 8px;
}

.sort-cont label{
  font-size: 12px;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.product-select .form-group>select.form-control.relevance{
  background-color: #F0F0F0;
  border: 0.920833px solid #EDEDED;
  font-size: 12px;
  font-family: var(--secondary-font);
  background-image: url(https://static.techsembly.com/PyUWqFqbV5ARfT7io8VKf2d7);
}

.sidebar-widget .result-text p {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title h3{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p{
  font-size: 12px;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
  width: 100%;
}

.sign-up-section{
  display: none;
}
.vendor-link{
  display: none !important;
}

/* product detail page */

.product-heading .product-name{
  font-size: 24px;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--light-color);
  letter-spacing: 0.05em;
}
.price-reviews .price{
  font-size: 15px;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.product-detail-container .product-holder .product-order .nav-tabs {
  border: none;
}
.product-detail-container .product-holder .product-order .tab-content{
  border: none;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link{
  border-bottom: 1px solid #E6E6E6;
  height: 100%;
  background-color: var(--white-color);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4{
  font-size: 12px;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--light-color);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4{
  color: var(--dark-color);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active{
  border-bottom: 1px solid var(--primary-color);
}

.product-detail-container .personalise-form .form-group .order-btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 1.25px;
  font-family: var(--primary-font);
  color: var(--white-color);
  text-transform: uppercase;
  height: 52px;
  border: 1px solid var(--primary-color);
}
.product-detail-container .personalise-form .form-group .order-btn:hover{
  background-color: var(--primary-bg-color) !important;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn.btn-primary:not(:disabled):not(:disabled):active {
  background-color: var(--primary-bg-color);
}
.product-detail-container .personalise-form .form-group .order-input {
  height: 52px;
  border: 1px solid var(--light-color);
  box-shadow: 0px 0px 0px 2px #F5F9FE;
  color: var(--light-color);
  border-radius: 2px;
  font-size: 15px;
  font-family: var(--secondary-font);
}

.product-detail-container .personalise-form .delivery-form .delivery-fields {
  border: 1px solid var(--light-color);
  height: 54px;
  box-shadow: 0px 0px 0px 2px #f5f9fe;
  border-radius: 2px;
  font-size: 15px;
  font-family: var(--secondary-font);
  color: var(--light-border-color);
}
textarea.form-control {
  height: auto !important;
}

.delivered-by{
  margin: 0px !important;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark{
  border: 1px solid var(--dark-color) !important;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark{
  background-color: var(--dark-color) !important;
  border: 1px solid var(--dark-color) !important;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after{
  background-color: var(--dark-color) !important;
}
/* .add-to-basket-cont #item-quantity::-webkit-outer-spin-button,
.add-to-basket-cont #item-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
} */

.related-products {
  border-top: none;
}
.related-products h3{
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
/*
.more-items-from-vendor{
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
} */

.product-holder.digital {
  padding-bottom: 0px !important;
  margin-bottom: 52px !important;
}

.related-products .related-products-holder .related-products-image {
  margin-bottom: 0.55rem;
  height: 288px;
}

.related-products .related-products-holder .product-content .product-title a{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.more-items-product-prices {
  font-size: 12px;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

/* .related-products .related-products-holder .related-products-image img{
  height: 100%;
} */

.product-detail-container .product-holder .share-link{
  display: none !important;
}

app-product-detail .BorderBottom{
  border: none;
}

/* owl carausal */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  /* background: var(--white-color);
    border: 1px solid #6D6D6D !important;
    border-radius: 2px !important; */
    background: none;
    border: none !important;
    border-radius: 0px !important;
}

.owl-next-icon{
    background: var(--white-color);
    border: 1px solid #6D6D6D !important;
    border-radius: 2px !important;
    object-fit: none;
    padding: 0px !important;
    margin: 0px !important;
}

.owl-carousel .owl-nav button.owl-prev{
  transform: rotate(180deg);
}
.owl-theme .owl-nav .disabled {
  opacity: 1;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel button.owl-dot:hover{
    background: none;
    border: none !important;
    border-radius: 0px !important;
}


/* cart page */

.custom-container.cart-container .breadcrumb-heading, .custom-container.cart-container .order-sum-heading{
  font-size: 24px!important;
  font-weight: 400!important;
  line-height: 32.35px!important;
  font-family: var(--primary-font)!important;
}
.custom-container.cart-container .breadcrumb-heading{
  color: var(--dark-color)!important;
}
.custom-container.cart-container .order-sum-heading{
  color: var(--secondary-color)!important;
}

.cart-container .arrow-breadcrumbs li.active a, .arrow-breadcrumbs li.processed a {
  color: var(--primary-color)!important;
}

.cart-container .arrow-breadcrumbs li.active a, .arrow-breadcrumbs li.processed a {
  color: var(--primary-color)!important;
}
.cart-container .arrow-breadcrumbs:not([href]):not([tabindex]) {
  color: var(--light-color) !important;
}
.custom-container.cart-container .vendor-items-cont .card{
  box-shadow: none !important;
  border-radius: 0px !important;
  border: 0px;
  margin-bottom: 10px;
}

.custom-container.cart-container .vendor-items-cont{
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 6px;
  border: 1px solid var(--light);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px;
  margin: 32px 0px !important;
  padding-top: 0px !important;
}
/* border: 1px solid rgba(0,0,0,0.125); */

.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--primary-font);
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}
.custom-container.cart-container .vendor-items-cont .card .card-header{
  display: none !important;
}
.custom-container.cart-container .vendor-items-cont .card:first-child .card-header {
  display: flex !important;
  align-items: center !important;
  padding-top: 24px !important;
}

.custom-container.cart-container .vendor-items-cont .card .card-body {
  padding: 16px 0px !important;
}
.custom-container.cart-container .vendor-items-cont .card:first-child .card-body {
  padding-top: 26px !important;
}
.vendor-items-holder .vendor-items .cart-item:last-child{
  padding-bottom: 0px;
}

.product-detail-container .product-holder .product-detail {
  min-height: 100px;
  height: auto !important;
}
.cart-flag-img{
  height: 18px;
  width: 25px;
  object-fit: contain;
}


.custom-container.cart-container .cart-item.new .item-details .item-name{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--primary-font);
  color: var(--dark-color);
}

.unit-attributes-cont .ng-star-inserted {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.gift-msg-area {
  display: none !important;
}
.cart-item.new .item-qty-cont{
  position: relative;
  height: 36px;
 padding: 8px 10px;
  border: 1px solid #D9D9D9 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  color: var(--dark-color);
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
}

.cart-item.new .item-qty-cont .item-dec{
  transform: rotate(90deg);
  position: absolute;
  top: 16px;
  right: 10px;
  padding: 0px !important;
  background-color: transparent !important;
}

.cart-item.new .item-qty-cont .item-inc{
  transform: rotate(270deg);
  position: absolute;
  top: 4px;
  padding: 0px !important;
  right: 13px;
  background-color: transparent !important;
}
.cart-item.new .item-qty-cont span {
  padding: 8px 0px !important;
}
.del-item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--secondary-font);
  color: var(--light-color);
}

.custom-container.cart-container .cart-login-cont {
  background-color: #F7F2EB !important;
  border-radius: 0px 0px 5px 5px;
}

.card.order-summary-cont{
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
  border-radius: 0px 0px 8px 8px !important;
  border: 1px solid var(--light);
  border-top: 0px;
}


.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  border-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.25px;
  font-family: var(--primary-font);
}
form.cart-login-form .form-submit-cont {
  border-bottom: initial;
  border-top: 1px solid #D9D9D9;
}

.cart-login-note {
  display: block;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--light-border-color);
}

.cart-account-note{
  display: block;
  margin-top: 23px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.custom-container.cart-container .continue-btn-new{
  border: 1px solid var(--primary-color) !important;
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border-radius: 3px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  letter-spacing: 1.25px !important;
  text-transform: uppercase !important;
  font-family: var(--primary-font);
}

.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  font-size: 16px;
  line-height: 21px;
  font-family: var(--primary-font);
}

.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total {
  font-size: 15px !important;
  line-height: 20px !important;
  font-family: var(--secondary-font);
}
.custom-container.cart-container .cart-login-cont .panel-heading{
  font-size: 18px !important;
  line-height: 24px !important;
  text-align: left;
  color: var(--dark-color);
  font-family: var(--primary-font);
}


form.cart-login-form .forget-psw-link{
  text-decoration: none;
}

.custom-container.checkout .btn-primary, .shipping-form-container .btn.btn-submit {
  border-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  height: 56px !important;
  font-size: 13px !important;
  letter-spacing: 1.25px !important;
  text-transform: uppercase !important;
  color: var(--white-color) !important;
  font-family: var(--primary-font);
}

.order-totals-container {
  background-color: #F7F2EB !important;
}

.custom-container.checkout-footer {
  display: none;
}

form.guestCheckout-form .btn.submit img{
  margin-top: -0.1rem;
}

/* .modified-footer{
  padding-top: 10px;
  padding-bottom: 14px;
}
*/
.modified-copyright{
    margin-left: -30px;
    margin-top: 30px;
    display: block;
}


/* billing page */

.shipping-form-container .breadcrumb-heading, .shipping-form-container .order-sum-heading, .shipping-form-container .address-heading{
  font-size: 24px!important;
  font-weight: 400!important;
  line-height: 32.35px!important;
  font-family: var(--primary-font)!important;
}

.shipping-form-container .form-control{
 height:50px !important;
 border: 1px solid #D9D9D9 !important;
 box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
 border-radius: 4px !important;
 color: var(--light-border-color);
 font-size: 15px;
 font-family: var(--secondary-font);
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc, .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-desc{
  font-size: 15px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price, .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price{
  font-size: 15px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

#order-subtotal {
  font-size: 15px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

#order-price-total {
  font-size: 15px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.order-totals-container .total-holder .order-total-item .total-desc{
  font-size: 18px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.order-totals-container .total-holder .total-price{
  font-size: 18px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.order-totals-container .form-group{
  display: block !important;
}

.get-updates-note {
  font-size: 15px;
  color: var( --light-border-color);
  font-family: var(--secondary-font);
}

.btn.btn-primary {
  background-color: var(--primary-color) !important;
}

/* delivery  page */

.delivery-methods-cont .card .card-body .card-row div {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--dark-color);
  font-family: var(--secondary-font);
}

.delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title, .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title a {
  color: var(--dark-color) !important;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 24px !important;
  font-family: var(--primary-font) !important;
}
/* .delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc, .delivery-methods-cont .vendor-cards-holder .card .order-item .item-price{
  font-size: 15px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
} */
 .order-item .item-desc, .order-item .item-price, .total-caption, .total-row-val{
  font-size: 15px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.delivery-methods-cont .vendor-cards-holder .shipping-totals-cont {
  background: transparent !important;
  border-radius: 0px 0px 8px 8px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.badge-stroke, .pro-badge{
  background-color: #EDEDED !important;
  border-radius: 0px 15px 15px 0px !important;
  color: var(--light-border-color) !important;
  padding: 6px 8px 6px 6px !important;
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  gap: 7px;
}

.delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner{
  border-bottom: 1px solid #D9D9D9 !important;
}
.order-totals-container .sub-total-holder{
  border-bottom: 1px solid #D9D9D9 !important;
}

.arrow-breadcrumbs li a{
  color: var(--light-color) !important;
}

.cart-container .arrow-breadcrumbs li.active a, .arrow-breadcrumbs li.processed a {
  color: var(--dark-color)!important;
}
.delivery-methods-cont .vendor-cards-holder .card{
  box-shadow: none !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container{
  background: var(--secondary-bg-color) !important;
  border-radius: 0px 0px 8px 8px !important;
}

.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container label{
  font-size: 15px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row:not(:last-child){
  display: none !important;
}
.delivery-methods-cont .vendor-cards-holder .card .delivery-dropdowns-cont {
  padding-bottom: 0px;
}

.shipping-form-container .form-group {
  margin-bottom: 12px;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-options-cont{
  padding-bottom: 0px !important;
}


/* payment page */

.payment-form-container .breadcrumb-heading, .payment-form-container .order-sum-heading, .payment-form-container .address-heading {
  font-size: 24px!important;
  font-weight: 400!important;
  line-height: 32.35px!important;
  font-family: var(--primary-font)!important;
}


.order-totals-container .promo-cont a{
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  letter-spacing: 1.25px !important;
  text-transform: uppercase !important;
  color: #212322 !important;
  font-family: var(--primary-font)!important;
}

.payment-form-container .radio-container input:checked ~ .checkmark {
  background-color: var(--dark-color) !important;
  border-color: var(--dark-color) !important;
  border: 1px solid var(--dark-color) !important;
}
.payment-form-container .radio-container .checkmark::after {
  background: var(--dark-color) !important;
}

.payment-form-container .checkbox-cont input:checked ~ .checkmark{
  background-color: var(--dark-color) !important;
  border-color: var(--dark-color) !important;
}

.payment-form-container .radio-container .pay-method-name {
  margin-top: 5px;
  font-size: 15px!important;
  font-weight: 400!important;
  line-height: 20px !important;
  font-family: var(--secondary-font)!important;
}

.payment-form-container .radio-container .pay-method-name {
  margin-top: 5px !important;
  font-size: 15px!important;
  font-weight: 400!important;
  line-height: 20px !important;
  font-family: var(--secondary-font)!important;
}


.payment-form-container .section-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 24pc;
  text-transform: capitalize;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.user-address{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.user-address div{
  margin-right: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--dark-color);
  font-family: var(--secondary-font);
}
.payment-form-container .card .card-body .row-head{
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--dark-color);
  font-family: var(--secondary-font);
}
.payment-form-container .card.blue-light-bg{
  background-color: var( --secondary-bg-color) !important;
  border-color: var( --secondary-bg-color) !important;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
  border-radius: 6px !important;
}

.payment-form-container .payments-methods-cont, .payment-form-container .section-cont {
  border-bottom: 1px solid #D9D9D9 !important
}

.payment-form-container input[type='text'], .payment-form-container input[type='email'], .payment-form-container input[type='password']:-webkit-autofill,
.payment-form-container input[type='text'], .payment-form-container input[type='email'], .payment-form-container input[type='password']:-webkit-autofill:hover,
.payment-form-container input[type='text'], .payment-form-container input[type='email'], .payment-form-container input[type='password']:-webkit-autofill:focus,
.payment-form-container input[type='text'], .payment-form-container input[type='email'], .payment-form-container input[type='password']:-webkit-autofill:active {
  background-color: var( --primary-bg-color) !important;
}

/* complete order payment */
.checkout-container.complete .blue-light-bg{
  background-color: transparent !important;
  padding-bottom: 11px !important;
}

.checkout-container.complete .card.order-confirm-wrapper{
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
  border-radius: 8px !important;
}

.checkout-container.complete .order-confirm-top img{
  width: 156px;
}

.checkout-container.complete .card.order-confirm-wrapper .breadcrumb-heading{
  color: var(--dark-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  font-family: var(--primary-font);
}

.checkout-container.complete .customer-note.section-cont{
  color: var(--dark-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--secondary-font);
}

.checkout-container.complete .section-cont {
  border-bottom: 1px solid #D9D9D9 !important;
  padding: 28px 0px !important;
}
.order-confirm-wrapper .col-heading {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--secondary-font);
  color: var(--light-color);
}
.checkout-container.complete .col-desc, .custom-container.checkout .checkout-tabs-cont .vendor-items-holder .vendor-order-details .order-item .qty, .checkout-container.complete .cart-data .order-item .item-price{
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.checkout-container.complete .cart-data .order-item .item-desc .item-name{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--primary-font);
  color: var(--dark-color);
}
.checkout-container.complete .cart-data .order-item .item-desc .item-brand{
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--primary-font);
  color: var(--dark-color);
}

.checkout-container.complete .order-item-right .attributes, .checkout-container.complete .order-item-right .receipient-details{
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--secondary-font);
  color: var(--light-color);
}

.checkout-container.complete .shipping-row div, .checkout-container.complete .shipping-row span,.checkout-container.complete .msg-count .msg-inner{
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.checkout-container.complete .total-cont div{
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.checkout-container.complete .total-cont  .total-price{
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.checkout-container.complete .card-footer-left span, .checkout-container.complete .card-footer-left a{
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}
.checkout-container.complete .card-footer-left a{
  color: var(--light-color) !important;
}

.product-detail-container .product-holder .product-order .tab-content .askseller-form .form-group label {
  line-height: 1.125rem;
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.96px;
  font-family: var(--secondary-font);
}

.product-detail-container .product-holder .product-order .tab-content .askseller-form .btn.btn-primary{
  background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 1.25px;
    font-family: var(--primary-font);
    color: var(--white-color);
    text-transform: uppercase;
    height: 52px;
    border: 1px solid var(--primary-color);
}

.sub-total-desc, .sub-price{
  font-size: 15px;
  font-family: var(--secondary-font);
  color: var(--dark-color);
}

.order-confirm-wrapper .order-item .order-item-left {
  max-width: 56% !important;
  flex: 0 0 56% !important;
}
.order-confirm-wrapper .order-item .order-item-right {
  max-width: 44% !important;
  flex: 0 0 44% !important;
}


.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus{
  box-shadow: 0px 0px 0px 3px rgba(157, 122, 68, 0.50);
  transition: all 0.3s ease-in-out;
}


.footer .pay-methods-avail, .footer .copyright-cont div:first-child{
  padding-left: 0px;
}


/* responsive start here */

@media (max-width: 1399px){
  .container.custom-container.product-container, .footer .container.custom-container {
    padding: 0 2.5rem;
  }

  .footer .footer-widget:nth-child(2) {
    transform: translate(-180px, 0px);
  }

  .home-banner .banner-heading {
    font-size: 28px;
  }
  .home-slider .post-tile .post-link {
    font-size: 13px;
  }
  .gift-section .gifts-content{
    font-size: 28px;
  }

  .order-confirm-wrapper .order-item-right .items-atts-cont{
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .checkout-container.complete .cart-data .order-item .item-price{
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

}
@media (max-width: 1359px) {

  .footer .footer-widget:nth-child(2) {
    transform: translate(-140px, 0px);
  }
}

@media (max-width: 1199.98px) {
  .footer .footer-widget:nth-child(2) {
    transform: translate(-95px, 0px);
  }
  .home-banner .banner-heading {
    font-size: 22px;
    line-height: 30px;
  }
  .gift-section .gifts-content{
    font-size: 22px;
    line-height: 30px;
  }

  .product-heading .product-name {
    font-size: 20px;
  }

  .item-details .col-lg-7{
    max-width: 50%;
  }
  .item-details .col-lg-2{
    max-width: 25%;
  }

  .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price, .order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price {
    padding-right: 2px !important;
  }
  .order-item-left {
    max-width: 76%;
    flex: 0 0 76%;
}
  .order-item-right{
    max-width: 24%;
    flex: 0 0 24%;
  }

  .modified-copyright-col{
    padding: 0px 24px !important;
  }

  .delivery-methods-cont .card .card-body .card-row div {
    font-size: 14px;
  }


}

@media (max-width: 991.98px) {
  header.header .logo img {
    width: 160px !important;
  }

  header .mob-top-links .cart-qty{
    background-color: var(--primary-color);
    line-height: 1.2rem;
  }
  .home-banner .hero-banner {
    height: 286px;
  }
  .home-banner .banner-heading {
    max-width: 100%;
  }
  .home-intro h2{
    font-size: 16px;
  }
  .gift-section .gifts-content {
    max-width: 36%;
  }
  .promo-holder .promo-box .promo-content .promo-desc {
    font-size: 24px;
    padding: 5px 0px;
  }
  .promo-section {
    margin-bottom: 50px;
  }
  .mobile-footer .list-group .list-group-holder:nth-child(3), .mobile-footer .list-group .list-group-holder:nth-child(4){
    display: none;
  }
  .footer .copyright-cont {
    margin-top: 100px;
  }

  .container.custom-container.product-container, .footer .container.custom-container{
    padding-left: 7px;
    padding-right: 7px;
  }
  .mobile-search-box .btn {
    background-color: var(--primary-color);
  }


  .product-detail-container .product-carousel-mob.tab .item img {
    width: 100%;
    height: 260px;
    margin: auto;
  }
  .owl-theme .owl-nav [class*=owl-]{
    background-color: #fff !important;
    border: 1px solid #ededed !important;
    border-radius: 0 !important;
    width: 33px;
    height: 33px;
  }

  .product-carousel-mob.tab .owl-nav .owl-prev, .product-carousel-mob.tab .owl-nav .owl-next{
    background-color: transparent !important;
  }
  .custom-container.cart-container .cart-login-cont .btn.btn-primary {
    font-size: 9px;
  }
  .badge-stroke, .pro-badge {
    font-size: 13px !important;
  }
  .custom-container.cart-container .breadcrumb-heading, .custom-container.cart-container .order-sum-heading {
    font-size: 18px !important;
  }
 .order-summary-cont .card-body-inner{
    font-size: 13px;
  }
  .cart-item .item-details {
    justify-content: space-between;
  }
  .item-qty-mob-cont .col-label{
    text-align: left !important;
  }

  .item-details .col-label.d-none{
    display: block !important;
  }
}


@media (max-width: 767.98px) {
  header.header .logo img {
    width: 120px !important;
  }
  header.header .logo {
    padding: 0px;
  }
  .promo-holder .promo-box .promo-content .promo-desc {
    font-size: 18px;
    padding: 0px;
    line-height: 20px;
  }
  .home-slider .carousel-container {
    justify-content: space-between !important;
  }
  .multi-banner-discover {
    font-size: 14px;
  }
  .promo-holder .promo-box .promo-content {
    bottom: 21px;
  }

  .related-products .related-products-holder .related-products-image {
    height: 145px;
  }

}

@media (max-width: 576.98px) {
  header.header .logo img {
    width: 105px !important;
  }
  .home-slider .carousel-container{
    justify-content: space-around;
  }

  .delivery-methods-cont .card .card-body .card-row div {
    font-size: 11px;
  }

  .payment-form-container .card .card-body .row-head{
    flex: 0 0 25%;
    max-width: 25%;
    font-size: 13px;
  }
  .user-address div {
    font-size: 13px;
  }

  .mat-dialog-0 .modal-body-inner {
    font-size: 13px;
  }


  .checkout-container.complete .card.order-confirm-wrapper .breadcrumb-heading {
    font-size: 17px;
  }

  .checkout-container.complete .shipping-row div, .checkout-container.complete .shipping-row span, .checkout-container.complete .msg-count .msg-inner{
    max-width: 50%;
    text-align: left;
  }


}
