@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    
}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

}

@media (min-width: 768px) {

}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}
