<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>digital recipient</title>

    <style media="screen" type="text/css">
      #outlook a {
        padding:0;
      }
      .es-button {
        mso-style-priority:100!important;
        text-decoration:none!important;
      }
      a[x-apple-data-detectors] {
        color:inherit!important;
        text-decoration:none!important;
        font-size:inherit!important;
        font-family:inherit!important;
        font-weight:inherit!important;
        line-height:inherit!important;
      }
      [data-ogsb] .es-button {
        border-width:0!important;
        padding:10px 20px 10px 20px!important;
      }
      body {
        background-color: #EDEDED;
        color: #000000;
        font-family: 'helvetica', sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        padding: 0;
        margin: 0;
      }
      .wrapper {
        background-color: #FFFFFF;
        max-width: 640px;
        padding: 32px;
        Margin: 0 auto;
      }
      img {
        max-width: 100%;
      }
      .heading-text-main {
        color: #000000;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
      }
      .heading-text {
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
      }
      .sub-text {
        font-weight: normal;
        font-size: 10px;
        line-height: 11px;
        color: #000000;
        margin: 2px 0;
      }
      .count-border {
        border: 1px solid #D9D9D9;
        padding: 6px 8px;
      }
      .small-text {
        font-weight: normal;
        font-size: 8px;
        line-height: 9px;
      }
      .lebel-text {
        font-weight: normal;
        font-size: 10px;
        line-height: 11px;
      }
      .border-bottom {
        border-bottom: 0.5px solid #D9D9D9;
        margin: 22px 0 12px;
      }
      .desc {
        background-color: #EDEDED;
        padding: 16px 32px 12px;
        border-radius: 0px 0px 4px 4px;
      }
      .desc h6 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 11px;
        margin: 0;
      }
      .desc p {
        font-family: Helvetica;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 9.2px;
        padding-top: 2px;
        margin: 0;
      }
      .social-links-cont {
        padding-top: 27px;
        padding-bottom: 0;
      }
      .social-links-cont a:not(:last-child) {
        margin-right: 30px;
      }
      .email-footer-copyright {
        color: #6d6d6d;
        font-size: 0.75rem;
        line-height: 1.125rem;
      }
      .color-black {
        color: #000 !important;
      }
      .pt-2 {
        padding-top: 0.5rem !important;
      }
      .pt-3 {
        padding-top: 1rem !important;
      }
      .pt-4 {
        padding-top: 1.5rem !important;
      }
      .py-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
      }
      .pr-3 {
        padding-right: 1rem !important;
      }
      .pt-13 {
        padding-top: 0.8125rem !important;
      }
      .pb-0 {
        padding-bottom: 0 !important;
      }
      .pb-3 {
        padding-bottom: 1rem !important;
      }
      .pb-4 {
        padding-bottom: 1.5rem !important;
      }
      .text-center {
        text-align: center !important;
      }
      .text-right {
        text-align: right !important;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;">
        <tr>
          <td valign="top">
            <table width="100%" style="border-spacing: 0 9px;">
              <tr>
                <td class="heading-text-main" style="text-transform: uppercase;">{{product_name}}</td>
              </tr>
              <tr>
                <td class="heading-text">Quantity</td>
                <td align="right" style="font-size: 10px; line-height: 11px; padding-right: 50px;">1</td>
              </tr>
              <tr>
                <td class="lebel-text">Issue Date</td>
                <td class="small-text" align="right" style="padding-right: 50px;">{{as_at}}</td>
              </tr>
              <tr>
                <td class="lebel-text">Expiry Date</td>
                <td class="small-text" align="right" style="padding-right: 50px;">{{expiray_date}}</td>
              </tr>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;">
              <tr>
                <td>
                  <div class="heading-text-main" style="width: 330px; margin: 26px 0 12px; padding: 0 0 6px; border-bottom: 0.5px solid #D9D9D9;">Usage Instructions</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="display: flex; align-items: start; margin: 0 0 22px;">
                    <img style="width: 28px; height: 28px; border: 1px solid #6D6D6D; padding: 3px; box-sizing: border-box;" src="https://static.techsembly.com/ky5JX4wsLwxnKm7rHM8pSrba" alt="card">
                    <span style="font-size: 10px; line-height: 11px; font-weight: normal; color: #000; padding-left: 10px;">You may print out the Gift Voucher and<br> redeem at Capella Singapore.</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="display: flex; align-items: start; margin: 0 0 22px">
                    <img style="width: 28px; height: 28px; border: 1px solid #6D6D6D; padding: 3px; box-sizing: border-box;" src="https://static.techsembly.com/vg23BokHkdx4WrwPDtVBsAGu" alt="gift">
                    <span style="font-size: 10px; line-height: 11px; font-weight: normal; color: #000; padding-left: 10px;">We hope you enjoy your Capella Singapore<br> Gift Experience. For more details, click the<br> links below.</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex" style="margin-left: 28px;">
                      <a style="font-size: 10px; line-height: 11px; font-weight: normal; color: #000; padding-left: 10px;" href="{{store_url}}/{{product_slug}}">Product Information</a>
                      <a style="font-size: 10px; line-height: 11px; font-weight: normal; color: #000; padding-left: 10px;" href="{{store_url}}/{{product_slug}}#details">More Details</a>
                    </div>
                </td>
              </tr>
            </table>
          </td>
          <td width="261px">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><img src="https://static.techsembly.com/qGmZwE8pkm6VkPrLjJvMeaQZ" width="234" alt="digital recipient"></td>
              </tr>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" style="margin-top: 8px; border-collapse: separate; border-spacing: 0 12px; border-bottom: 0.5px solid #D9D9D9;">
              <tr>
                <td class="heading-text" style="width: 45%">Card Number</td>
                <td class="lebel-text" style="padding-right: 34px; text-align: right;">{{number}}</td>
              </tr>
              <tr>
                <td class="heading-text" style="width: 50%">PIN</td>
                <td class="lebel-text" style="padding-right: 34px; text-align: right;">{{pin}}</td>
              </tr>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" style="margin-top: 8px; border-collapse: separate; border-spacing: 0 12px; font-family: 'Calibre';">
              <tr>
                <td style="color: #000; font-size: 16px; line-height: 19px;">To: {{receipient_first_name}} {{receipient_last_name}} <br>Message: {{message}}
                  <br>
                  {{#if sender_name}}
                     From: {{sender_name}}
                  {{else}}
                     From: {{from_name_first_name}} {{from_name_last_name}}
                  {{/if}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div class="border-bottom"></div>
      <div class="desc">
        <h6>Terms &amp; Conditions</h6>
        <p>Each individual Gift Card sold is subject to the terms and conditions of use which can be viewed on both the website product page, as well as the individual Gift Card and Vouchers. The currency of this Gift Card is Singapore dollars. The digital Gift Card stating its valid Card Number and PIN must be presented upon redemption or check-in. Experience Gift Card cannot be combined with other offers or promotions. Each Monetary Gift Card can be redeemed multiple times up to the value in the card. Each Experiences Gift Card is valid for one-time use. Any gift card balance cannot be exchanged for cash or redeemed against the purchase of another card. All Gift Cards cannot be redeemable or refundable for cash. In cases where your Capella Singapore gift card is lost or stolen, Capella Singapore or Techsembly is unable to replace or reimburse the remaining balance on a card. You are advised to contact Capella Singapore at <a href="mailto:gr.singapore@capellahotels.com">gr.singapore@capellahotels.com</a> or <a href="tel:+65 6377 8888">+65 6377 8888</a> in order to arrange a date and time to enjoy the gift, and any such date and time shall be subject to availability. An advance reservation is required.</p>
      </div>
      <div class="email-footer">
        <div class="social-links-cont text-center">
          <a href="https://www.instagram.com/capellabangkok/" target="_blank"><img src="https://static.techsembly.com/y9GmmRooddrjN2GGuJR6mM3E" width="17" alt="instagram"/></a>
          <a href="https://www.facebook.com/CapellaBangkok" target="_blank"><img src="https://static.techsembly.com/EmUTgngqVeGmqHoXTSvgcRYa" width="17" alt="fb"/></a>
        </div>
        <div class="email-footer-copyright text-center pt-3 pb-4">
          Copyright © 2023<br>
          Capella Singapore<br>
          1 The Knolls Sentosa Island, Singapore 098297
        </div>
      </div>
    </div>
  </body>
</html>
