:root{
    --primary-font: 'Questrial', sans-serif;
    --secondary-font: 'theano_didotregular';
    --third-font: 'Lato', sans-serif;
    --primary-color: #013E48;
    --text-color-light: #899F99;
    --text-color-dark: #1D1E1C;
    --btn-bg: #1C3632;
    --btn-bg-hover: #899F99;
    --input-bg: #F5F5F5;
    --stroke: #EDEDED;
}
html {
   overflow-x: hidden;
}
body {
    background-color: #FFFFFF;
    color: var(--text-color-dark);
    font-family: var(--primary-font);
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-dark);
    font-family: var(--primary-font);
}
a,
a:hover,
a:focus  {
    color: var(--text-color-dark);
    font-family: var(--primary-font);
    text-decoration: none;
}
p {
    color: var(--text-color-dark);
    font-family: var(--primary-font);
}
label {
    font-size: 14px;
    line-height: 16px;
}
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(:disabled):active {
    background-color: var(--btn-bg-hover) !important;
}
/* header */
.wrapper header.header {
    border-bottom: 0;
    margin-bottom: 0;
    padding-top: 68px;
}
.header .main-menu-wrapper {
    background-color: var(--primary-color);
    margin-top: 75px;
    margin-bottom: 24px;
}
body[data-pagetype="home"] .header .main-menu-wrapper {
    margin-bottom: 0;
}
header.header .head-links li .add-to-basket .dropdown-menu h5 {
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #1D1E1C;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-details {
    margin-bottom: 10px;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price {
    margin-bottom: 0;
}
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price p,
header.header .head-links li .add-to-basket .dropdown-menu .checkout-price span {
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #1D1E1C;
    text-decoration: none;
}
header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
    min-height: auto !important;
}
header.header .main-menu-wrapper .menu-holder li {
    margin-right: 4.8125rem;
}
nav#sidebar ul li a,
header.header .main-menu-wrapper .menu-holder li a {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    background-color: transparent;
    border-bottom: none;
    color: #fff;
    padding: 19px 0;
}
.wrapper header.header .logo img {
    height: 65px;
    width: 274px;
}
header.header .shipping li a,
header.header .shipping li {
    color: #313131;
    font-family: var(--third-font);
    font-weight: 900;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
}
header.header .shipping li:first-child {
    font-weight: normal;
}
header.header .shipping li:first-child {
    margin-right: 20px;
}
header.header .shipping li img {
    width: 25px;
}
header.header .search .search-item-form {
    width: 16.35rem;
}
header.header .search .search-item-form input.nav-search-field::placeholder {
    font-size: 0;
}
.mobile-search-box .nav-search-field,
header.header .search .search-item-form .nav-search-field {
    background: #EDEDED;
}
header.header .head-links li a#cart-bag img,
header.header .head-links li a#profile-icon img {
    width: 20px;
}
header.header .head-links li a#wishlist-heart img {
    height: 22px;
}
.mobile-search-box .nav-search-field::placeholder {
    font-size: 0;
}
nav#sidebar ul li a {
    padding-left: 20px;
    padding-right: 10px;
    color: var(--text-color-dark);
    align-items: center;
    text-align: left;
}
nav#sidebar ul li a:hover {
    background-color: var(--btn-bg-hover) !important;
}

/* Home page */
.wrapper .home-banner {
    margin-bottom: 70px;
}
.wrapper .home-banner h2.banner-title {
    display: none;
}
.home-slider.bestsellers-slider .carousel-container.home-carousel {
    padding: 50px 0 72px;
}
.home-slider.bestsellers-slider .post-tile .post-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 100%;
}
.container-overview .overview-inner h2,
.sign-up-section h2,
.home-intro .home-intro-container h2,
.home-slider.bestsellers-slider .section-title {
    font-weight: normal;
    font-size: 27px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
}
.custom-container.product-container .product-text {
    display: none;
}
.custom-container.product-container  .acc-container .product-text {
    display: block;
    margin-top: 0;
    width: 100%;
}
.custom-container.product-container .product-text p {
    margin-bottom: 0;
}
body[data-pagetype="home"] .sign-up-section h2,
body[data-pagetype="home"] .sign-up-section .sign-up-container .signup-text {
    display: block;
}
.home-slider .post-tile .post-tile-link:hover .post-link {
    color: var(--text-color-dark);
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.container-overview,
.home-intro {
    padding-top: 2.70rem;
    max-width: 1163px;
    margin: 0 auto;
}
.container-overview .overview-inner,
.home-intro .container.home-intro-container {
    max-width: 100%;
    padding: 0 15px;
}
.container-overview .overview-inner .intro-content,
.home-intro .home-intro-container .intro-content {
    margin: 2.5rem 0 2rem;
}
.container-overview .overview-inner .intro-content p,
.home-intro .intro-content p {
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 1px;
}
body[data-pagetype="home"] .container-overview,
.promo-holder .promo-box .promo-content .promo-desc {
    display: none;
}
.featured-vendors-area .promo-holder .promo-box:first-child {
    margin-right: 26px;
}
.featured-vendors-area .promo-holder .promo-box img{
    height: auto;
}
.featured-vendors-area .promo-holder .promo-box .promo-content {
    top: inherit;
    bottom: 0;
    left: 24px;
}
.featured-vendors-area .promo-holder .promo-box .promo-content .more-link,
.featured-vendors-area .promo-holder .promo-box .promo-content .promo-title {
    color: #fff;
    font-weight: normal;
    font-size: 1.125rem;
    font-family: var(--primary-font);
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.featured-vendors-area .promo-holder .promo-box .promo-content .more-link {
    text-transform: capitalize;
    margin-bottom: 22px;
}
.gift-section .custom-container .gifts-content {
    left: 0 !important;
    right: 0;
    top: 0 !important;
    bottom: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gift-section .custom-container .gifts-content .gifts-desc {
    padding-top: 0;
    font-weight: normal;
    font-size: 1.625rem;
    font-family: var(--primary-font);
    line-height: 3.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.gift-section .custom-container .gifts-content .gifts-desc .v-button {
    background: #1D1E1C;
    color: #fff;
    padding: 17.5px 18px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.promo-section.featured-vendors-area {
    margin-top: 22px;
}
.sign-up-section {
    background-color: #fff;
    padding: 38px 0 20px;
}
.sign-up-section .signup-text p {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    padding-top: 4px;
    margin-bottom: 20px;
}
.products-container .products-holder-main .load-more-btn,
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    background: var(--primary-color);
    color: #fff;
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    height: 3.125rem;
    padding-left: 32px;
    padding-right: 32px;
}
#delivery-options-popup .modal-footer .btn.btn-submit {
    border-color: #013E48 !important;
    background-color: #013E48 !important;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
}
#delivery-options-popup .modal-footer .btn.btn-cancel {
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
}
#delivery-options-popup .modal-footer .btn.btn-cancel:hover,
#delivery-options-popup .modal-footer .btn.btn-submit:hover {
    background-color: var(--btn-bg-hover) !important;
}
.products-container .products-holder-main .load-more-btn:hover {
    background-color: var(--btn-bg-hover);
}
.sign-up-section .sign-up-container .sign-up-form input[type='email']::placeholder {
    font-size: 0;
}
.sign-up-section .sign-up-container .sign-up-form input[type='email'] {
    background: #EDEDED;
    margin-right: 0;
    height: 3.125rem;
    text-align: left;
    width: 18.3rem;
}
.sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
    margin-bottom: 0;
    height: 3.125rem;
}
.sign-up-section .sign-up-container .signup-text {
    width: 100%;
}
.featured-client {
    display: none;
}

/* product listing */
.products-container .products-holder-main .products-holder{
    padding-left: 18px;
}
.products-container .products-holder-main .products-holder .product-column {
    width: 31.3%;
    margin: 0 9px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: auto;
    max-height: 290px;
    min-height: 290px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
    max-height: 290px;
}
.products-container .products-holder-main .products-holder .product-column .product-list {
    margin-bottom: 28px;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .d-flex,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .d-flex {
    flex-direction: row-reverse;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-title,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
    width: 90%;
    margin-bottom: 0;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title h3,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
    color: #1D1E1C;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize !important;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
    margin-bottom: 5px;
}
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .variants-cont {
    display: none;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-pricing,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
    margin-left: 12%;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-pricing p,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-rating,
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
    width: 8%;
    margin-right: 12px;
}
.products-container .products-holder-main .main-sidebar {
    padding-top: 18px !important;
}
.products-container .sidebar-widget .result-text p {
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 14px;
}
.sidebar-widget .list-group .list-group-holder a,
.sidebar-widget .list-group .list-group-holder a h4 {
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0;
}
.custom-container.product-container .main-sidebar {
    width: 22%;
}
.default-breadcrumb,
.arrow-breadcrumbs {
    /* margin-bottom: 1rem; */
}
.default-breadcrumb li,
.arrow-breadcrumbs li,
.default-breadcrumb li a,
.arrow-breadcrumbs li a {
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    font-family: var(--primary-font);
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.product-detail-container .default-breadcrumb li.breadcrumb-item.last,
.product-detail-container .default-breadcrumb li a {
    color: #6D6D6D;
}
.product-detail-container .add-to-basket-cont {
    padding-right: 0;
}
.default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before,
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
    padding-left: 0;
}
form.guestCheckout-form .btn.submit img {
    margin-top: -0.3rem !important;
}
.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
    content: url(https://static.techsembly.com/c8KqaqNJ6mA152xjo2bnoH2m) !important;
}
.custom-container.product-container .breadcrumb-heading {
    color: #000000;
    font-weight: normal;
    font-family: var(--primary-font);
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 15px !important;
}
.products-container .products-holder-main {
    padding-top: .25rem !important;
    width: 77%;
}
.product-select .form-group.sort-cont {
    margin-top: 8px;
}
.product-select .form-group>select.form-control.relevance {
    height: 30px;
    background-color: #F0F0F0;
    border: 0.920833px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 0px;
}
.product-select .form-group>select.form-control.relevance,
.product-select .form-group.sort-cont label {
    color: #000000;
    font-size: 14px;
    font-family: var(--primary-font);
    line-height: 18px;
}

/* product details */
.product-detail-container .default-breadcrumb {
    margin-bottom: 34px;
}
.product-detail-container .tab-content.preview-pic .tab-pane img {
    width: 100%;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    color: #000000;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 90%;
    margin-bottom: 16px;
}
.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating {
    width: 10%;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews {
    margin-bottom: 25px;
}
.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.related-products .related-products-holder .rel-product-col {
    width: 25%;
    margin-right: 13px;
}
.related-products .related-products-holder .related-products-image {
    height: 288px;
}
.related-products .related-products-holder .related-products-image img {
    width: 100%;
    height: 100%;
}
.product-detail-container .product-holder .product-detail {
    height: auto;
    margin-bottom: 0 !important;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    background-color: #fff;
    border-bottom: 1px solid #EDEDED;
}
.product-detail-container .product-holder .product-order .tab-content,
.product-detail-container .product-holder .product-order .nav-tabs {
    border: none;
    background-color: transparent;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    color: #899F99;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
    border-bottom-color: #1C3632;
    color: var(--primary-color);
}
.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active h4 {
    color: #1C3632;
}
.product-detail-container .product-holder .product-order .tab-content .tab-pane p,
.product-detail-container .product-holder .product-order .tab-content .tab-pane {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}
.product-detail-container .personalise-form .multiselect-dropdown .dropdown-btn,
.product-detail-container .personalise-form .form-group .form-control {
    border-color: #6D6D6D;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    font-family: var(--primary-font);
    color: #1D1E1C;
    padding: 16px;
    min-height: 54px;
}
.product-detail-container .personalise-form .form-group .checkbox-holder .form-control.disabled-group {
    min-height: 0;
}
.product-detail-container .personalise-form .form-group .checkbox-holder span {
    font-size: 14px;
    line-height: 16px;
}
.product-detail-container .personalise-form .form-group .form-check-label .checkbox-holder .d-flex {
    align-items: center;
}
.product-detail-container .personalise-form .multiselect-dropdown .dropdown-btn {
    padding-bottom: 10px !important;
    padding-top: 12px !important;
}
.product-detail-container .personalise-form .multiselect-dropdown .dropdown-btn span {
    border-color: #6D6D6D;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    font-family: var(--primary-font);
    color: #1D1E1C;
}
.product-detail-container .personalise-form .form-group label {
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #1D1E1C;
    text-transform: capitalize;
}
.product-detail-container .personalise-form .form-group .radio-holder {
    align-items: center;
}
.product-detail-container .personalise-form .form-group .radio-holder span.checkmark {
    font-size: 14px;
    line-height: 16px;
}
.product-detail-container .personalise-form .form-group .order-btn {
    height: 50px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    background: #013E48;
}
.product-detail-container .product-holder .product-detail .shipping {
    display: none;
}
.delivery-methods-cont .vendor-cards-holder .card .card-header .card-header-inner .badge-stroke,
.cart-item.new .item-details-cont .pro-badges-cont .pro-badge {
    background-color: #EDEDED;
    border-radius: 0px 15px 15px 0px;
    color: #1D1E1C;
    font-weight: normal;
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 14px;
}
.product-detail-container .personalise-form .form-group .order-input {
    min-height: 50px;
    height: 50px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #1D1E1C;
    border: 1px solid #6D6D6D;
}
.product-detail-container .product-holder .share-link {
    display: none !important;
}
.related-products {
    border-top: none;
    padding-bottom: 55px;
}
.related-products h3.related-pros-heading {
    color: #1D1E1C;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 24px;
    font-family: var(--secondary-font);
}
.related-products .related-products-holder .product-content .product-title a {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #1D1E1C;
}
.related-products .related-products-holder .product-content .product-pricing .more-items-product-prices {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #1D1E1C;
}
.related-products .related-products-holder .product-content .product-title {
    width: 92%;
    margin-bottom: 0;
}
.related-products .related-products-holder .product-content .product-rating {
    width: 8%;
    margin-right: 14px;
}
.related-products .related-products-holder .product-content .d-flex {
    flex-direction: row-reverse;
}
.related-products .related-products-holder .product-content .product-rating .wishlistImage img {
    width: 18px;
    height: 18px;
}

.related-products .related-products-holder .product-content .product-pricing {
    margin-left: 14%;
}
/* cart page */
.custom-container.cart-container .vendor-items-cont .card {
    border: none;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 6px;
    background-color: #fff;
}
.custom-container.cart-container .vendor-items-cont .card .card-header {
    border-bottom: 1px solid #2480F9;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading {
    margin-right: 10px;
}
.delivery-methods-cont .vendor-cards-holder .card .card-header h3.vendor-title,
.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading span {
    color: #1D1E1C;
    font-weight: normal;
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.custom-container.cart-container h1.breadcrumb-heading,
.custom-container.cart-container h2.order-sum-heading {
    font-weight: normal;
    color: #1D1E1C;
    font-size: 18px !important;
    font-family: var(--secondary-font);
    line-height: 34px !important;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.arrow-breadcrumbs li.active a,
.arrow-breadcrumbs li.processed a,
.arrow-breadcrumbs li,
.arrow-breadcrumbs li a {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #1D1E1C;
}
.cart-item .item-details .item-opts .quest,
.cart-item .item-details .item-opts .quest-ans,
.cart-item .item-details .shipping-opts .quest,
.cart-item .item-details .shipping-opts .quest-ans,
.item-details-cont .personalize-row .item-desc .item-opts,
.cart-item.new .item-details .unit-attributes-cont,
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .qty,
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-desc .item-name,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .item-name,
.cart-item.new .item-details .col-label,
.cart-item.new .item-details .item-name {
    font-weight: normal !important;
    font-size: 14px !important;
    font-family: var(--primary-font);
    line-height: 18px !important;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #1D1E1C;
}
.cart-item.new .item-details .item-name {
    color: #1C3632;
}
.delivery-methods-cont .vendor-cards-holder .card .order-item .item-price,
.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price,
.order-summary-container .vendor-items-holder .vendor-order-details .tax-row-item .item-price,
.custom-container.cart-container .vendor-items-cont a span.underline,
.cart-item.new .item-details .unit-total-price {
    font-weight: normal !important;
    font-size: 12px !important;
    font-family: var(--primary-font);
    line-height: 14px !important;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #1D1E1C;
    text-decoration: none;
}
.custom-container.cart-container .vendor-items-cont .card .card-header .flag-cont span {
    font-weight: normal;
    font-size: 12px;
    font-family: var(--primary-font);
    line-height: 14px;
    letter-spacing: 1px;
    color: #1D1E1C;
}
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-caption,
.delivery-methods-cont .vendor-cards-holder .card .shipping-totals-cont .total-row .total-row-val,
.order-totals-container .total-holder .total-price,
.order-totals-container .total-holder .total-desc,
.order-totals-container .sub-total-holder .sub-price,
.order-totals-container .sub-total-holder .sub-total-desc,
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .cart-total,
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: normal;
    font-family: var(--primary-font);
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #1D1E1C;
}
.order-totals-container .promo-cont .promo-note a {
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #1D1E1C;
}
.order-totals-container .sub-total-holder {
    border-bottom: 0.0625rem solid #6B7280;
}
.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
    border-bottom: 1px solid #899F99 !important;
}
.custom-container.cart-container .card.order-summary-cont {
    background: #FFFFFF;
    border: none;
}
.custom-container.cart-container .card.order-summary-cont .card-body .card-body-inner {
    font-style: normal;
    font-weight: normal;
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #899F99;
}
.custom-container.cart-container .cart-login-cont .vendor-items-cont {
    padding-top: 30px !important;
}
.custom-container.cart-container .card .cart-login-cont .checkout-note {
    padding-top: 24px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #1D1E1C;
    font-family: var(--primary-font);
}
.custom-container.cart-container .cart-login-cont .form-group label,
.custom-container.cart-container .card .cart-login-cont .login-note {
    padding-bottom: 3.125rem;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #1D1E1C;
    font-family: var(--primary-font);
}
.custom-container.cart-container .cart-login-cont .form-group label {
    padding-bottom: 0;
}
.custom-container.cart-container .cart-login-cont {
    background-color: #B7B7B7 !important;
    border-radius: 0px 0px 8px 8px
}
.custom-container.cart-container .cart-login-cont .panel-heading {
    font-weight: normal !important;
    font-size: 18px !important;
    font-family: var(--secondary-font);
    line-height: 34px !important;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #1D1E1C;
}
.address-card .address-form.new input.form-control,
.shipping-form-cont .address-form.new input.form-control,
.custom-container.cart-container .cart-login-cont form input.form-control {
    background: #FFFFFF;
    border: 1px solid #D9D9D9 !important;
    box-sizing: border-box;
    color: #1D1E1C;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    border-radius: 4px;
    font-weight: normal;
    font-size: 12px !important;
    font-family: var(--primary-font);
    line-height: 14px !important;
}
form.cart-login-form .forget-psw-link {
    text-decoration: none !important;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px !important;
    text-align: center;
    letter-spacing: 1px;
    color: #899F99;
}
form.cart-login-form .form-submit-cont {
    border-top: 1px solid #EDEDED !important;
}
.custom-container .login-signup-tabs-cont form.login-form .btn.submit,
form.signup-form .btn.submit,
.custom-container.checkout .btn-primary,
.shipping-form-container .exist-address-wrapper .card .btn.address-btn,
.custom-container.checkout .btn-primary.btn-submit,
.user-wrapper .user-container form .btn.submit,
header.header .head-links li .add-to-basket .dropdown-menu .btn,
.shipping-form-container .form-group .btn.btn-submit,
.custom-container.cart-container .btn-default.continue-btn-new,
.custom-container.cart-container .cart-login-cont .btn.btn-primary {
    border-color: #013E48 !important;
    background-color: #013E48 !important;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
}
.user-wrapper .user-container .order-items-details .order-item button {
    width: 100%;
    margin-top: 10px;
    border-color: #013E48 !important;
    background-color: #013E48 !important;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 8px;
    padding-bottom: 8px;
}
.user-wrapper .user-container .order-items-details .order-item button:hover {
    background-color: var(--btn-bg-hover) !important;
}
.custom-container .login-signup-tabs-cont form.login-form .btn.submit:hover,
form.signup-form .btn.submit:hover,
.user-wrapper .user-container form .btn.submit:hover,
.custom-container.checkout .btn-primary:hover {
    background-color: var(--btn-bg-hover) !important;
}
.user-wrapper .user-container .btn.add-address-btn,
.user-wrapper .user-container .btn.signout-btn,
.user-wrapper .user-container .btn.submit {
    border-color: #013E48;
    background-color: #013E48;
    font-weight: normal !important;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 15px !important;
    padding-bottom: 15px;
    height: 50px !important;
}
.user-wrapper .user-container .btn.add-address-btn:hover,
.user-wrapper .user-container .btn.signout-btn:hover,
.user-wrapper .user-container .btn.submit:hover {
    background-color: var(--btn-bg-hover);
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn {
    height: 50px !important;
    padding-top: 15px !important;
}
.shipping-form-container .exist-address-wrapper .card .btn.address-btn:hover {
    background-color: var(--btn-bg-hover) !important;
}
.shipping-form-container .exist-address-wrapper .card .card-body {
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 400;
    font-family: var(--primary-font);
}
header.header .head-links li .add-to-basket .dropdown-menu .btn {
    max-height: 45px;
    margin-top: 10px;
}
header.header .head-links li .add-to-basket .dropdown-menu .btn:hover {
    background-color: var(--btn-bg-hover) !important;
}
header.header .menu-holder>li>div {
    border: none !important;
}
header.header .shipping li .dropdown.open .dropdown-menu,
header.header .shipping li .dropdown .dropdown-menu.show,
header.header .shipping li a.dropdown-toggle:after {
    display: none !important;
}
.payment-form-container .card.blue-light-bg {
    background-color: #b7b7b7 !important;
    border-color: #b7b7b7 !important;
}
.shipping-form-container .form-group .btn.btn-submit:hover,
.custom-container.cart-container .btn-default.continue-btn-new:hover,
.custom-container.cart-container .cart-login-cont .btn.btn-primary:hover {
    background-color: var(--btn-bg-hover) !important;
}
.shipping-form-container .exist-address-wrapper .card a {
    color: var(--text-color-dark) !important;
}
.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
    font-weight: normal !important;
    font-size: 12px;
    font-family: var(--primary-font);
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #1D1E1C;
}
.order-totals-container,
.cart-item.new .item-qty-cont .item-dec,
.cart-item.new .item-qty-cont .item-inc {
    background-color: #b7b7b7 !important;
    color: #1D1E1C;
}
.cart-item.new .item-qty-cont {
    border-color: #b7b7b7 !important;
    margin-bottom: 2px !important;
}
.cart-item.new .item-qty-cont span.item-count {
    color: #1D1E1C;
}
.custom-container.cart-container .vendor-items-cont a.del-item-link {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #899F99;
    text-decoration: none;
}
.cart-item .item-details .unit-price {
    font-weight: normal;
    font-size: 12px;
    font-family: var(--primary-font);
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #1D1E1C;
}
.address-form.new select.form-control {
    height: 50px;
}
#delivery-options-popup .radio-container .checkmark {
    border-color: #b7b7b7 !important;
}
#delivery-options-popup .radio-container input:checked ~ .checkmark {
    background-color: #b7b7b7 !important;
    border-color: #b7b7b7 !important;
}
.payment-form-container .checkbox-cont input:checked ~ .checkmark,
.payment-form-container .radio-container input:checked ~ .checkmark,
.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked ~ .checkmark,
.shipping-form-container .shipping-form-cont .checkbox-cont input:checked ~ .checkmark {
    background-color: #b7b7b7 !important;
    border-color: #b7b7b7 !important;
}
#delivery-options-popup .radio-container .checkmark::after {
    background-color: #b7b7b7 !important;
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark {
    border-color: #b7b7b7 !important;
}
.payment-form-container .radio-container .checkmark::after,
.delivery-methods-cont .vendor-cards-holder .card .radio-container .checkmark::after {
    background-color: #b7b7b7 !important;
}
.payment-form-container .radio-container .checkmark::after {
    top: 7px !important;
}
.delivery-methods-cont .vendor-cards-holder .card .order-shipping-container {
    background-color: #b7b7b7 !important;
}
.card.order-summary-cont {
    border: none;
}
/* internal pages */
.payment-form-container .breadcrumb-heading,
.payment-form-container .order-sum-heading,
.payment-form-container .address-heading,
.shipping-form-container .breadcrumb-heading,
.shipping-form-container .order-sum-heading,
.shipping-form-container .address-heading,
.user-heading,
.breadcrumb-heading {
    color: #1D1E1C;
    margin: 0;
    font-weight: normal;
    font-size: 18px !important;
    font-family: var(--secondary-font);
    line-height: 34px !important;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.wishlist-container .products-container .wishlist-header,
.custom-container .login-signup-tabs-cont .panel-heading {
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #1D1E1C;
}
.user-wrapper .user-container .user-edit-holder form input[type='email'],
.custom-container .login-signup-tabs-cont form input.form-control {
    height: 50px;
    font-size: 12px;
    line-height: 14px;
}
.custom-container .login-signup-tabs-cont form.login-form .forget-psw-link {
    font-size: 14px;
    text-decoration: none !important;
}
.custom-container .login-signup-tabs-cont form label.remember input,
form.signup-form label.newsletter-check input {
    margin-top: 0 !important;
}
.container.custom-container.checkout .page-heading span {
    color: #1D1E1C;
    margin: 0;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 34px !important;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: var(--secondary-font);
}
.checkout-container.complete .card-footer.blue-light-bg,
.checkout-container.complete .card-header.blue-light-bg {
    background-color: #fff;
}
.checkout-container.complete .card-header.blue-light-bg img {
    width: 180px;
}
.checkout-container.complete .card-footer-left a {
    color: var(--text-color-dark);
}
.delivery-methods-cont .vendor-cards-holder .card .radio-container .del-method-name {
    margin-top: 0.155rem !important;
}

/* footer */
.custom-container.checkout-footer {
    display: none;
}
.footer {
    background: var(--primary-color);
    padding-top: 26px;
}
.footer .footer-widget .widget-content {
    padding-top: 0.5375rem;
}
.footer .footer-widget .widget-content ul li {
    padding-bottom: 0.46rem;
    margin-right: 0;
}
.footer .footer-widget .widget-title,
.footer .footer-widget .widget-content ul li a {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.footer .copyright-cont .powered-by .powered-link-cont span a,
.footer .copyright-cont .powered-by .powered-link-cont span {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
}
.footer .copyright-cont {
    padding-bottom: 2.55rem !important;
}
.footer .footer-widget .widget-content .social-links {
    padding-top: .5rem !important;
}
.footer .footer-widget .widget-content .social-links li {
    width: auto;
    padding-left: 26px;
}
.footer .footer-widget .widget-content .social-links li:first-child {
    order: 2;
}
.footer .footer-widget .widget-content .social-links li:nth-child(2) {
    order: 3;
}
.footer .footer-widget .widget-content .social-links a img {
    width: 20px;
}
.footer .copyright-cont .powered-by div:first-child {
    display: none;
}
.checkout-copyright-cont .ts-copyright {
    padding-bottom: 10px;
}
.checkout-copyright-cont .ts-copyright a,
.checkout-copyright-cont .ts-copyright span {
    font-size: 12px;
    font-family: var(--primary-font);
    line-height: 14px;
    letter-spacing: 1px;
    color: #1D1E1C;
}
.footer .copyright-cont div.flex-lg-row,
.footer .copyright-cont .pay-methods-avail {
    padding-left: 0 !important;
}

/* mobile footer */
.footer .mobile-footer .list-group .list-group-holder>a:visited,
.footer .mobile-footer .list-group .list-group-holder>a:active,
.footer .mobile-footer .list-group .list-group-holder>a:focus,
.footer .mobile-footer .list-group .list-group-holder>a:hover,
.footer .mobile-footer .list-group .list-group-holder > a {
    background-color: transparent;
    color: #fff;
}
.footer .mobile-footer .list-group .list-group-holder {
    border-top: none !important;
}
.footer .mobile-footer .list-group .list-group-holder:last-child {
    display: none;
}
.footer .mobile-footer .footer-widget ul li a {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .app-header .header .row.spacing .col-7.menu-links-cont,
    .app-header .header .row.spacing .col-4.col-sm-5.col-4.p-0,
    .app-header .header .row.spacing .col-1.toggle-menu-cont {
        max-width: 33.33%;
        flex: 33.33%;
    }
    .app-header .header .row.spacing .col-4.col-sm-5.col-4.p-0.pl-2 {
        padding-left: 0 !important;
    }
    header.header .menu-links-cont #wishlist-heart,
    header.header .menu-links-cont #profile-icon {
        display: none !important;
    }
    .wrapper header.header {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .header .main-menu-wrapper {
        display: none;
        margin-top: 0;
    }
    header .mob-top-links .cart-qty {
        top: 14px;
        right: 5px;
        line-height: 17px;
    }
    .app-header .header .row.spacing .menu-links-cont .navbar-nav .dropdown-flag {
        padding-right: 0.9rem !important;
        padding-top: 5px;
        display: none;
    }
    .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
        height: auto;
        min-height: 157px;
    }
    .product-holder .owl-carousel.owl-drag .owl-item.active {
        max-width: inherit;
        margin-right: inherit;
        height: inherit;
    }
    .wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-rating,
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
        width: 10%;
        margin-right: 10px;
    }
    .wishlist-container .products-container .products-holder .product-column .product-list .product-content .product-pricing,
    .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
        margin-left: 14%;
    }
    .products-container .products-holder-main {
        width: 100% !important;
    }
    .products-container .products-holder-main .products-holder {
        padding-left: 0;
    }
    .promo-holder .promo-box .promo-content {
        right: inherit !important;
    }
    .footer .copyright-cont div.flex-lg-row,
    .footer .copyright-cont .pay-methods-avail {
        padding-left: 0 !important;
        padding-right: 0;
    }
    .products-container .products-holder-main .products-holder .product-column {
        width: 47%;
    }
    .footer .footer-widget .widget-content .social-links li {
        padding-left: 0;
    }
    .related-products .related-products-holder {
        justify-content: flex-start;
    }
    .related-products .related-products-holder .rel-product-col {
        margin-left: 13px;
    }

}

@media (max-width: 767.98px) {
    .footer .section-cont.mobile-footer {
        padding-top: 0 !important;
    }
    .sign-up-section .sign-up-container .sign-up-form {
        width: 100%;
        padding: 0 15px;
    }
    .sign-up-section .sign-up-container .sign-up-form .btn.btn-primary {
        margin-top: 0;
    }
    .sign-up-section .sign-up-container .sign-up-form input[type='email'] {
        width: 100%;
    }
    .products-container .products-holder-main .products-holder .product-column {
        width: 43% !important;
    }
    .home-slider.bestsellers-slider .mob-custom-carosel {
        display: block !important;
    }
    .home-slider.bestsellers-slider .mob-custom-carosel .post-tile {
        max-width: 46%;
    }
    .related-products .related-products-holder .related-products-image {
        height: 160px !important;
    }
    .related-products .related-products-holder .related-products-image img {
        height: auto;
    }
    .gift-section .custom-container .gifts-content .gifts-desc {
        font-size: 1rem;
    }

}

@media (max-width: 575.98px) {
    .product-detail-container .add-to-basket-cont {
        width: 100%;
    }
    .product-detail-container .personalise-form .form-group .order-btn {
        width: 72%;
    }
}

@media (min-width: 768px) {
    #delivery-options-popup .modal-header h2.modal-title {
        font-weight: normal;
        color: #1D1E1C;
        font-size: 18px !important;
        font-family: var(--secondary-font);
        line-height: 34px !important;
        letter-spacing: 1px;
        text-transform: capitalize;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

}
@media (min-width: 992px) {
    .container.custom-container.checkout {
        padding-bottom: 1rem;
    }
    .custom-container {
        max-width: 1280px;
        padding-left: 45px;
        padding-right: 45px;
    }
    .user-container .container.custom-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .custom-container.cart-container {
        padding-left: 32px !important;
        padding-right: 32px !important;
        padding-top: 6px !important;
    }
    .related-products .container.custom-container,
    .container.product-detail-container {
        max-width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
    }
    .related-products .container.custom-container .container {
        max-width: 100%;
        padding: 0;
    }
    .container.product-detail-container .container {
        max-width: 1280px;
    }
    .gift-section img {
        height: auto !important;
    }
    .custom-container.product-container .product-select {
        margin-right: 0;
    }
    .product-detail-container .product-holder .tab-content.preview-pic {
        height: 593px;
    }
    .product-detail-container .tab-content.preview-pic .tab-pane img {
        height: 100%;
    }
    .product-detail-container .product-holder .product-order .tab-content .tab-pane {
        padding-left: 0;
        padding-right: 0;
        padding-top: 12px;
    }
    .product-detail-container .product-holder .product-detail .product-info .product-pricing {
        padding-top: 0;
    }
    .products-container .products-holder-main div.center-align {
        max-width: 94%;
    }
    .product-holder .owl-carousel.owl-drag .owl-item.active {
        max-width: 128px;
        margin-right: 26px !important;
        height: 128px;
    }
    .product-holder .owl-carousel.owl-drag .owl-item.active img {
        max-height: 128px;
    }
    .product-detail-container .preview-thumbnail {
        margin-top: 16px !important;
    }
}
@media (min-width: 1200px){

}
@media (min-width: 1400px){

}


/* Ross Added Temp */

.product-detail-container .tab-content.preview-pic .tab-pane img {
    width: auto !important
}

/* Mai Added Temp */

.container-overview .overview-inner h2,
.sign-up-section h2,
.home-intro .home-intro-container h2,
.home-slider.bestsellers-slider .section-title {
    font-size: 22px;
    line-height: 32px;
}

.gift-section .custom-container .gifts-content .gifts-desc {
    font-size: 1.3rem;
}

header.header .head-links li a#cart-bag img,
header.header .head-links li a#profile-icon img {
    width: 18px;
    height: auto;
}

header.header .head-links li a#wishlist-heart img {
    height: 18px;
    width: auto;
}

.wrapper header.header {
    padding-top: 28px;
}

.header .main-menu-wrapper {
    margin-top: 50px;
}

.wrapper header.header .logo img {
    height: auto;
    width: 250px;
}
